In [1]:
import pandas as pd
from geopy.geocoders import Nominatim

# Read the CSV file containing addresses
csv_file = "madri_address.csv"
df = pd.read_csv(csv_file)
df.head()

      id                         raw_address        district
0  21742                Calle de Godella, 64  San CristÃ³bal
1  21741     Calle de la del Manojo de Rosas    Los Ãngeles
2  21740                 Calle del Talco, 68     San AndrÃ©s
3  21739                Calle Pedro JimÃ©nez     San AndrÃ©s
4  21738  Carretera de Villaverde a Vallecas     Los Rosales

In [2]:
import googlemaps
from datetime import datetime
import concurrent.futures
import time

# Replace 'YOUR_API_KEY' with your actual Google Maps Geocoding API key
gmaps = googlemaps.Client(key='AIzaSyDRFasv1DKfIgNLAK3Gb77NIV1CLZ7Xuic')

In [ ]:
import pandas as pd
import concurrent.futures
import time
import googlemaps
import urllib.parse

# Define a function for geocoding
def geocode_address(address):
    try:
        # Check if the address is missing or invalid
        if pd.isna(address) or address.strip() == '':
            return ("Address Missing", "Address Missing")

        # Encode the address to handle special characters
        encoded_address = urllib.parse.quote_plus(address)

        geocode_result = gmaps.geocode(encoded_address)

        if geocode_result:
            location = geocode_result[0]['geometry']['location']
            lat, lon = location['lat'], location['lng']
            return (lat, lon)
        else:
            return ("Not Found", "Not Found")
    except Exception as e:
        print(f"Error geocoding address '{address}': {str(e)}")
        return ("Error", "Error")

# Split your DataFrame into smaller chunks for concurrent processing
chunk_size = 100  # You can adjust this based on your available resources
chunks = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

# Initialize a list to store coordinates
coordinates = []

# Function to process a chunk of data
def process_chunk(chunk):
    for _, row in chunk.iterrows():
        coordinates.append(geocode_address(row['raw_address']))

# Start concurrent processing
with concurrent.futures.ThreadPoolExecutor() as executor:
    start_time = time.time()
    executor.map(process_chunk, chunks)
    end_time = time.time()

print(f"Geocoding completed in {end_time - start_time} seconds")

# Print the list of coordinates
print(coordinates)

In [14]:
# Read the CSV file containing addresses
import pandas as pd

df2 = pd.read_csv('dis.csv', encoding='utf-8')
df2.head()

                district
0  San Cristóbal, Madrid
1    Los Ángeles, Madrid
2     San Andrés, Madrid
3    Los Rosales, Madrid
4     Villaverde, Madrid

In [20]:
import pandas as pd
from geopy.geocoders import Nominatim

# Initialize the geocoder
geolocator = Nominatim(user_agent="myGeocoder")

# Create empty lists for latitude and longitude
latitudes = []
longitudes = []

# Iterate through the addresses in your DataFrame
for index, row in df2.iterrows():
    address = row['district']  # Replace 'address_column' with the actual column name
    if pd.notna(address):  # Check if address is not NaN (missing)
        try:
            location = geolocator.geocode(address)
            if location:
                latitudes.append(location.latitude)
                longitudes.append(location.longitude)
                print(f"Row {index + 1}: Address: {address}")
                print(f"Latitude: {location.latitude}, Longitude: {location.longitude}\n")
            else:
                print(f"Row {index + 1}: No result found for address: {address}\n")
                # Add placeholder values for latitude and longitude
                latitudes.append(None)
                longitudes.append(None)
        except Exception as e:
            print(f"Row {index + 1}: Error geocoding address '{address}': {str(e)}\n")
            # Add placeholder values for latitude and longitude
            latitudes.append(None)
            longitudes.append(None)
    else:
        # Handle the case where address is missing (NaN)
        print(f"Row {index + 1}: Address is missing (NaN)\n")
        # Add placeholder values for latitude and longitude
        latitudes.append(None)
        longitudes.append(None)

# Add latitude and longitude columns to your DataFrame
df2['Latitude'] = latitudes
df2['Longitude'] = longitudes

# Save the updated DataFrame to a new CSV file or update the existing one
df2.to_csv('output_with_coordinates.csv', index=False, encoding='utf-8')

Row 1: Address: San Cristóbal, Madrid
Latitude: 40.3433537, Longitude: -3.6878175

Row 2: Address: Los Ángeles, Madrid
Latitude: 40.3562217, Longitude: -3.6996388

Row 3: Address: San Andrés, Madrid
Latitude: 40.3455389, Longitude: -3.7109697

Row 4: Address: Los Rosales, Madrid
Latitude: 40.3571948, Longitude: -3.6894484

Row 5: Address: Villaverde, Madrid
Latitude: 40.3456104, Longitude: -3.6959556

Row 6: Address: Butarque, Madrid
Latitude: 40.3364041, Longitude: -3.6742402

Row 7: Address: Vicálvaro, Madrid
Latitude: 40.3965841, Longitude: -3.5766216

Row 8: Address: Ambroz, Madrid
Latitude: 40.4147946, Longitude: -3.60034

Row 9: Address: Casco Histórico de Vicálvaro, Madrid
Latitude: 40.4052863, Longitude: -3.6072004

Row 10: No result found for address: El Cañaveral - Los Berrocales, Madrid

Row 11: No result found for address: Valdebernardo - Valderribas, Madrid

Row 12: Address: Casco Histórico de Vallecas, Madrid
Latitude: 40.3773477, Longitude: -3.6217118

Row 13: Address: Ensanche de Vallecas - La Gavia, Madrid
Latitude: 40.3709866, Longitude: -3.6132187

Row 14: Address: Villa de Vallecas, Madrid
Latitude: 40.3739576, Longitude: -3.6121632

Row 15: Address: Santa Eugenia, Madrid
Latitude: 40.3829244, Longitude: -3.6117674

Row 16: Address: Orcasitas, Madrid
Latitude: 40.3691419, Longitude: -3.7098741

Row 17: Address: Usera, Madrid
Latitude: 40.383894, Longitude: -3.7064459

Row 18: Address: San Fermín, Madrid
Latitude: 40.3711037, Longitude: -3.6901759

Row 19: Address: Pradolongo, Madrid
Latitude: 40.376647, Longitude: -3.7077784

Row 20: Address: Zofío, Madrid
Latitude: 40.379209, Longitude: -3.7152846

Row 21: Address: Almendrales, Madrid
Latitude: 40.3843762, Longitude: -3.6992931

Row 22: Address: Moscardó, Madrid
Latitude: 40.3890429, Longitude: -3.7057718

Row 23: Address: 12 de Octubre-Orcasur, Madrid
Latitude: 40.37546, Longitude: -3.6959057

Row 24: Address: Valdeacederas, Madrid
Latitude: 40.4679108, Longitude: -3.7034226

Row 25: Address: Tetuán, Madrid
Latitude: 40.4605781, Longitude: -3.6982806

Row 26: Address: Berruguete, Madrid
Latitude: 40.4602706, Longitude: -3.7043452

Row 27: Address: Cuatro Caminos, Madrid
Latitude: 40.4467812, Longitude: -3.7039643

Row 28: Address: Cuzco-Castillejos, Madrid
Latitude: 40.4594841, Longitude: -3.6900166

Row 29: Address: Bellas Vistas, Madrid
Latitude: 40.4526848, Longitude: -3.7072396

Row 30: Address: Ventilla-Almenara, Madrid
Latitude: 40.4698213, Longitude: -3.696293

Row 31: Address: Retiro, Madrid
Latitude: 40.4111495, Longitude: -3.6760566

Row 32: Address: Adelfas, Madrid
Latitude: 40.4019026, Longitude: -3.6709579

Row 33: Address: Ibiza, Madrid
Latitude: 40.4189526, Longitude: -3.6737251

Row 34: Address: Pacífico, Madrid
Latitude: 40.4013961, Longitude: -3.6748832

Row 35: Address: Niño Jesús, Madrid
Latitude: 40.4110941, Longitude: -3.6737205

Row 36: Address: Jerónimos, Madrid
Latitude: 40.4131439, Longitude: -3.6842184

Row 37: Address: Estrella, Madrid
Latitude: 40.4117618, Longitude: -3.6669977

Row 38: Address: Puente de Vallecas, Madrid
Latitude: 40.3868601, Longitude: -3.6591803

Row 39: Address: Palomeras Bajas, Madrid
Latitude: 40.3853367, Longitude: -3.6579829

Row 40: Address: San Diego, Madrid
Latitude: 40.3922796, Longitude: -3.6674239

Row 41: Address: Palomeras sureste, Madrid
Latitude: 40.3861742, Longitude: -3.6329556

Row 42: Address: Entrevías, Madrid
Latitude: 40.3790449, Longitude: -3.6717573

Row 43: Address: Numancia, Madrid
Latitude: 40.3995283, Longitude: -3.6596765

Row 44: Address: Portazgo, Madrid
Latitude: 40.3914367, Longitude: -3.6481261

Row 45: Address: Aravaca, Madrid
Latitude: 40.457749, Longitude: -3.7827941

Row 46: Address: Argüelles, Madrid
Latitude: 40.4307266, Longitude: -3.7161715

Row 47: Address: Moncloa, Madrid
Latitude: 40.4350196, Longitude: -3.719236

Row 48: Address: Ciudad Universitaria, Madrid
Latitude: 40.443792, Longitude: -3.726423

Row 49: Address: Valdezarza, Madrid
Latitude: 40.4649542, Longitude: -3.717074

Row 50: Address: El Plantío, Madrid
Latitude: 40.4722138, Longitude: -3.8287054500484423

Row 51: Address: Fontarrón, Madrid
Latitude: 40.399161, Longitude: -3.6462064

Row 52: Address: Moratalaz, Madrid
Latitude: 40.4059332, Longitude: -3.6448737

Row 53: Address: Vinateros, Madrid
Latitude: 40.4051965, Longitude: -3.6415467

Row 54: Address: Marroquina, Madrid
Latitude: 40.4107193, Longitude: -3.6405684

Row 55: Address: Media Legua, Madrid
Latitude: 40.4119951, Longitude: -3.6575338

Row 56: Address: Horcajo, Madrid
Latitude: 40.4081864, Longitude: -3.6267762

Row 57: Address: Pavones, Madrid
Latitude: 40.3996221, Longitude: -3.6317093

Row 58: Address: Puerta del Ángel, Madrid
Latitude: 40.4093544, Longitude: -3.7337422

Row 59: Address: Latina, Madrid
Latitude: 40.4035317, Longitude: -3.736152

Row 60: Address: Los Cármenes, Madrid
Latitude: 40.3958933, Longitude: -3.7437976

Row 61: Address: Aluche, Madrid
Latitude: 40.392356, Longitude: -3.7571096

Row 62: Address: Águilas, Madrid
Latitude: 40.3821128, Longitude: -3.7723671

Row 63: Address: Lucero, Madrid
Latitude: 40.4021568, Longitude: -3.7511015

Row 64: Address: Campamento, Madrid
Latitude: 40.3871058, Longitude: -3.8026215

Row 65: Address: Cuatro Vientos, Madrid
Latitude: 40.3778953, Longitude: -3.7919717

Row 66: Address: Valdemarín, Madrid
Latitude: 40.466939999999994, Longitude: -3.787154949669601

Row 67: Address: Casa de Campo, Madrid
Latitude: 40.4241907, Longitude: -3.7558580195646716

Row 68: Address: Fuencarral, Madrid
Latitude: 40.4262741, Longitude: -3.7009067

Row 69: Address: Las Tablas, Madrid
Latitude: 40.5083428, Longitude: -3.6694346

Row 70: Address: La Paz, Madrid
Latitude: 40.4812105, Longitude: -3.6966318

Row 71: Address: Montecarmelo, Madrid
Latitude: 40.5053359, Longitude: -3.6959917

Row 72: Address: Peñagrande, Madrid
Latitude: 40.4789641, Longitude: -3.7258417

Row 73: Address: Tres Olivos - Valverde, Madrid
Latitude: 40.50095125, Longitude: -3.69462735625

Row 74: Address: Pilar, Madrid
Latitude: 42.9433779, Longitude: -7.4328047

Row 75: Address: Mirasierra, Madrid
Latitude: 40.4906361, Longitude: -3.7161379

Row 76: Address: El Pardo, Madrid
Latitude: 40.5205538, Longitude: -3.7780738

Row 77: Address: Arroyo del Fresno, Madrid
Latitude: 40.4895829, Longitude: -3.7303010983004268

Row 78: Address: Fuentelarreina, Madrid
Latitude: 40.4774958, Longitude: -3.7426018

Row 79: Address: Sanchinarro, Madrid
Latitude: 40.4931887, Longitude: -3.6564023

Row 80: Address: Conde Orgaz-Piovera, Madrid
Latitude: 40.4525621, Longitude: -3.6330622008938835

Row 81: Address: Hortaleza, Madrid
Latitude: 40.4725491, Longitude: -3.6425515

Row 82: Address: Palomas, Madrid
Latitude: 40.4522376, Longitude: -3.6141158

Row 83: Address: Virgen del Cortijo - Manoteras, Madrid
Latitude: 40.487455, Longitude: -3.6657584609734526

Row 84: Address: Valdebebas - Valdefuentes, Madrid
Latitude: 40.4859876, Longitude: -3.6138643

Row 85: Address: Pinar del Rey, Madrid
Latitude: 40.4724696, Longitude: -3.6489613

Row 86: Address: Canillas, Madrid
Latitude: 40.4618893, Longitude: -3.6433517

Row 87: Address: Apóstol Santiago, Madrid
Latitude: 40.4764884, Longitude: -3.6594029

Row 88: Address: Chamberí, Madrid
Latitude: 40.43624735, Longitude: -3.7038303534513837

Row 89: Address: Almagro, Madrid
Latitude: 40.4336632, Longitude: -3.6942857

Row 90: Address: Trafalgar, Madrid
Latitude: 40.4330613, Longitude: -3.7010182

Row 91: Address: Nuevos Ministerios-Ríos Rosas, Madrid
Latitude: 40.4458416, Longitude: -3.6916991

Row 92: Address: Vallehermoso, Madrid
Latitude: 40.4431893, Longitude: -3.7108233

Row 93: Address: Gaztambide, Madrid
Latitude: 40.4349358, Longitude: -3.7147092

Row 94: Address: Arapiles, Madrid
Latitude: 40.4347638, Longitude: -3.7083155

Row 95: Address: Ventas, Madrid
Latitude: 40.4310642, Longitude: -3.6635419

Row 96: Address: Pueblo Nuevo, Madrid
Latitude: 40.4350329, Longitude: -3.644171

Row 97: Address: Atalaya, Madrid
Latitude: 40.464389, Longitude: -3.6651106

Row 98: Address: Quintana, Madrid
Latitude: 40.4356576, Longitude: -3.6471022

Row 99: Address: San Juan Bautista, Madrid
Latitude: 40.4506953, Longitude: -3.6563079

Row 100: Address: Ciudad Lineal, Madrid
Latitude: 40.4484305, Longitude: -3.650495

Row 101: Address: Costillares, Madrid
Latitude: 40.4760473, Longitude: -3.6685122

Row 102: Address: Concepción, Madrid
Latitude: 40.4382057, Longitude: -3.6495784

Row 103: Address: Colina, Madrid
Latitude: 40.4580463, Longitude: -3.6602556

Row 104: Address: San Pascual, Madrid
Latitude: 40.4426834, Longitude: -3.6534541

Row 105: Address: Chamartín, Madrid
Latitude: 40.4589872, Longitude: -3.6761288

Row 106: Address: El Viso, Madrid
Latitude: 40.4448882, Longitude: -3.6847127

Row 107: Address: Nueva España, Madrid
Latitude: 40.4625939, Longitude: -3.6787346

Row 108: Address: Bernabéu-Hispanoamérica, Madrid
Latitude: 40.4530225, Longitude: -3.6874056737588647

Row 109: Address: Prosperidad, Madrid
Latitude: 40.443946, Longitude: -3.6701659

Row 110: Address: Castilla, Madrid
Latitude: 40.4763551, Longitude: -3.6800358

Row 111: Address: Ciudad Jardín, Madrid
Latitude: 40.4487115, Longitude: -3.6738706

Row 112: Address: Lavapiés-Embajadores, Madrid
Latitude: 40.4085263, Longitude: -3.7009288

Row 113: Address: Opañel, Madrid
Latitude: 40.3903949, Longitude: -3.7221926

Row 114: Address: Comillas, Madrid
Latitude: 40.3937574, Longitude: -3.7116516

Row 115: Address: Abrantes, Madrid
Latitude: 40.3813279, Longitude: -3.7274551

Row 116: Address: San Isidro, Madrid
Latitude: 40.3970503, Longitude: -3.7293542

Row 117: Address: Carabanchel, Madrid
Latitude: 40.3742112, Longitude: -3.744676

Row 118: Address: Puerta Bonita, Madrid
Latitude: 40.3813279, Longitude: -3.7397504

Row 119: Address: Vista Alegre, Madrid
Latitude: 40.3877922, Longitude: -3.7396538

Row 120: Address: Pau de Carabanchel, Madrid
Latitude: 40.3693742, Longitude: -3.7626949

Row 121: Address: Buena Vista, Madrid
Latitude: 25.8583667, Longitude: -100.3739785

Row 122: Address: Huertas-Cortes, Madrid
Latitude: 40.4138232, Longitude: -3.6999266

Row 123: Address: Malasaña-Universidad, Madrid
Latitude: 40.4267079, Longitude: -3.7042311

Row 124: Address: Chueca-Justicia, Madrid
Latitude: 40.4253562, Longitude: -3.6981904

Row 125: Address: Palacio, Madrid
Latitude: 40.4153295, Longitude: -3.7147092

Row 126: Address: Centro, Madrid
Latitude: 40.417652700000005, Longitude: -3.70795469569446

Row 127: Address: Sol, Madrid
Latitude: 40.4178272, Longitude: -3.702222089915074

Row 128: Address: Barrio de Salamanca, Madrid
Latitude: 40.436437850000004, Longitude: -3.6857027848963932

Row 129: Address: Goya, Madrid
Latitude: 40.4246991, Longitude: -3.6762001

Row 130: Address: Guindalera, Madrid
Latitude: 40.436356, Longitude: -3.6680189

Row 131: Address: Lista, Madrid
Latitude: 40.4326938, Longitude: -3.6745087

Row 132: Address: Castellana, Madrid
Latitude: 40.4333241, Longitude: -3.6841316

Row 133: Address: Fuente del Berro, Madrid
Latitude: 40.424977, Longitude: -3.6636998

Row 134: Address: Recoletos, Madrid
Latitude: 40.4243637, Longitude: -3.6857429

Row 135: Address: Imperial, Madrid
Latitude: 40.4057995, Longitude: -3.7186854

Row 136: Address: Chopera, Madrid
Latitude: 40.3950981, Longitude: -3.6994819

Row 137: Address: Acacias, Madrid
Latitude: 40.4040749, Longitude: -3.7059572

Row 138: Address: Delicias, Madrid
Latitude: 40.3967843, Longitude: -3.6900384

Row 139: Address: Palos de Moguer, Madrid
Latitude: 40.40363845, Longitude: -3.695287394812124

Row 140: Address: Legazpi, Madrid
Latitude: 40.3914432, Longitude: -3.6949558

Row 141: Address: Arganzuela, Madrid
Latitude: 40.39806695, Longitude: -3.693731328932118

Row 142: No result found for address: Casco Histórico de Barajas, Madrid

Row 143: Address: Alameda de Osuna, Madrid
Latitude: 40.4575814, Longitude: -3.5879745

Row 144: Address: Barajas, Madrid
Latitude: 40.4733176, Longitude: -3.5798446

Row 145: No result found for address: Campo de las Naciones-Corralejos, Madrid

Row 146: Address: Timón, Madrid
Latitude: 40.3863375, Longitude: -3.7069729

In [22]:

df3 = pd.read_csv('mad_.csv')
df3.head()

,address,city,complete_address
0,"Calle de Godella, 64",Madrid,"Calle de Godella, 64, Madrid"
1,Calle de la del Manojo de Rosas,Madrid,"Calle de la del Manojo de Rosas, Madrid"
2,"Calle del Talco, 68",Madrid,"Calle del Talco, 68, Madrid"
3,Calle Pedro Jim�nez,Madrid,"Calle Pedro Jim�nez, Madrid"
4,Carretera de Villaverde a Vallecas,Madrid,"Carretera de Villaverde a Vallecas, Madrid"

In [23]:
import pandas as pd
from geopy.geocoders import Nominatim

# Initialize the geocoder
geolocator = Nominatim(user_agent="myGeocoder")

# Create empty lists for latitude and longitude
latitudes = []
longitudes = []

# Iterate through the addresses in your DataFrame
for index, row in df3.iterrows():
    address = row['complete_address']  # Replace 'address_column' with the actual column name
    if pd.notna(address):  # Check if address is not NaN (missing)
        try:
            location = geolocator.geocode(address)
            if location:
                latitudes.append(location.latitude)
                longitudes.append(location.longitude)
                print(f"Row {index + 1}: Address: {address}")
                print(f"Latitude: {location.latitude}, Longitude: {location.longitude}\n")
            else:
                print(f"Row {index + 1}: No result found for address: {address}\n")
                # Add placeholder values for latitude and longitude
                latitudes.append(None)
                longitudes.append(None)
        except Exception as e:
            print(f"Row {index + 1}: Error geocoding address '{address}': {str(e)}\n")
            # Add placeholder values for latitude and longitude
            latitudes.append(None)
            longitudes.append(None)
    else:
        # Handle the case where address is missing (NaN)
        print(f"Row {index + 1}: Address is missing (NaN)\n")
        # Add placeholder values for latitude and longitude
        latitudes.append(None)
        longitudes.append(None)

# Add latitude and longitude columns to your DataFrame
df3['Latitude'] = latitudes
df3['Longitude'] = longitudes

# Save the updated DataFrame to a new CSV file or update the existing one
df3.to_csv('output_with_coordinates_add.csv', index=False, encoding='utf-8')

Row 1: Address: Calle de Godella, 64, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 2: Address: Calle de la del Manojo de Rosas, Madrid
Latitude: 40.3612102, Longitude: -3.6965117

Row 3: Address: Calle del Talco, 68, Madrid
Latitude: 40.3446298, Longitude: -3.7151909

Row 4: No result found for address: Calle Pedro Jim�nez, Madrid

Row 5: Address: Carretera de Villaverde a Vallecas, Madrid
Latitude: 40.3669961, Longitude: -3.6542926

Row 6: Address: geologia, Madrid
Latitude: 40.3433886, Longitude: -3.7124165

Row 7: Address: Avenida Real de Pinto, Madrid
Latitude: 40.3413961, Longitude: -3.7066292

Row 8: No result found for address: null, Madrid

Row 9: Address: Calle de Martinez Oviol, Madrid
Latitude: 40.35099, Longitude: -3.6884995

Row 10: Address: De la Plata - Villaverde, Madrid
Latitude: 40.3485595, Longitude: -3.7056264

Row 11: Address: Calle de la Unanimidad, 67, Madrid
Latitude: 40.3600565, Longitude: -3.685326

Row 12: Address: Calle de Anoeta, 63, Madrid
Latitude: 40.35101745, Longitude: -3.701777508622853

Row 13: Address: Calle GODELLA, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 14: Address: Calle San Macario, Madrid
Latitude: 40.3528352, Longitude: -3.6894974

Row 15: No result found for address: Camino Legan�s, Madrid

Row 16: Address: Calle de las Islas, Madrid
Latitude: 40.3498627, Longitude: -3.7177008

Row 17: Address: Calle de Parvillas Bajas, Madrid
Latitude: 40.3454434, Longitude: -3.7083602

Row 18: Address: COBALTO s/n, Madrid
Latitude: 40.3450219, Longitude: -3.7042545

Row 19: Address: Calle Villajoyosa, Madrid
Latitude: 40.3533128, Longitude: -3.6909843

Row 20: Address: Paseo de Alberto Palacios, Madrid
Latitude: 40.3461825, Longitude: -3.7105683

Row 21: Address: Calle Laguna del Marquesado, Madrid
Latitude: 40.33376, Longitude: -3.7038428

Row 22: No result found for address: Concepci�n de la Oliva, 21, Madrid

Row 23: Address: San Neviano - Villaverde, Madrid
Latitude: 40.3465238, Longitude: -3.7041664

Row 24: Address: Calle la Dolorosa, Madrid
Latitude: 40.3545402, Longitude: -3.6943774

Row 25: No result found for address: Calle Encarnaci�n Oviol, Madrid

Row 26: Address: Calle ESTEFANITA, Madrid
Latitude: 40.34903, Longitude: -3.6760582

Row 27: Address: Calle Arroyo de la Bulera, 31, Madrid
Latitude: 40.338156, Longitude: -3.679459

Row 28: Address: Villaverde a perales, Madrid
Latitude: 40.3389062, Longitude: -3.6772808

Row 29: No result found for address: Calle de Juan Jos� Mart�nez Seco, Madrid

Row 30: Address: Calle la del Soto del Parral, 59, Madrid
Latitude: 40.35761745, Longitude: -3.6990584940770352

Row 31: Address: Calle Estefanita, 6, Madrid
Latitude: 40.34903, Longitude: -3.6760582

Row 32: Address: Calle Berrocal, Madrid
Latitude: 40.3409889, Longitude: -3.6748546

Row 33: Address: Calle Euskalduna, 14, Madrid
Latitude: 40.3560432, Longitude: -3.6820183

Row 34: Address: Calle Alcocer, Madrid
Latitude: 40.350401, Longitude: -3.7046301

Row 35: Address: Calle Topacio, Madrid
Latitude: 40.3499849, Longitude: -3.6854695

Row 36: Address: Calle Calcio, 15, Madrid
Latitude: 40.3507213, Longitude: -3.6791018

Row 37: Address: Calle Camas, 2, Madrid
Latitude: 40.3408421, Longitude: -3.6773645

Row 38: Address: Calle Ganados del Salobral , 12, Madrid
Latitude: 40.3384998, Longitude: -3.6764999

Row 39: Address: Calle Parvillas Altas s/n, Madrid
Latitude: 40.3448599, Longitude: -3.7081353

Row 40: Address: Calle Emilia Ballester, Madrid, 15, Madrid
Latitude: 40.3463417, Longitude: -3.7130605

Row 41: Address: Calle del Estroncio, Madrid
Latitude: 40.3480019, Longitude: -3.6903102

Row 42: Address: Calle Moncada, Madrid
Latitude: 40.3401301, Longitude: -3.6913435

Row 43: Address: Calle de la Generosidad, 16, Madrid
Latitude: 40.3598385, Longitude: -3.6913126

Row 44: Address: Calle de Tordegrillos, Madrid
Latitude: 40.3439627, Longitude: -3.7165874

Row 45: Address: Avenida de la Verbena de la Paloma, Madrid
Latitude: 40.3620456, Longitude: -3.6937997

Row 46: Address: Paseo Alberto Palacios, 35, Madrid
Latitude: 40.3461825, Longitude: -3.7105683

Row 47: No result found for address: Calle Doctor P�rez Dom�nguez, 2, Madrid

Row 48: No result found for address: Calle de los Cacere�os, Madrid

Row 49: No result found for address: Calle de Campos Ib��ez, Madrid

Row 50: Address: Calle DIAMANTE, Madrid
Latitude: 40.3535366, Longitude: -3.6864323

Row 51: Address: Calle Transversal Sexta, Madrid
Latitude: 40.3336091, Longitude: -3.6992926

Row 52: Address: Calle Canchal, Madrid
Latitude: 40.3460197, Longitude: -3.6769863

Row 53: Address: Calle Diamante, Madrid
Latitude: 40.3535366, Longitude: -3.6864323

Row 54: Address: Calle Platino, Madrid
Latitude: 40.3489826, Longitude: -3.689214

Row 55: No result found for address: Calle G�mez Acebo, Madrid

Row 56: Address: Calle Pilar Lorengar, Madrid
Latitude: 40.3548338, Longitude: -3.6845919

Row 57: Address: Calle Salsipuedes, Madrid
Latitude: 40.3449425, Longitude: -3.705681

Row 58: Address: Avenida de la Felicidad, Madrid
Latitude: 40.3589199, Longitude: -3.6884964

Row 59: Address: Calle Escoriaza, Madrid
Latitude: 40.351882, Longitude: -3.6949633

Row 60: Error geocoding address 'Calle de las Vi�as del Rio, 16, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+las+Vi%EF%BF%BDas+del+Rio%2C+16%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 61: Address: Calle Anoeta, 59, Madrid
Latitude: 40.3507539, Longitude: -3.701507908925282

Row 62: Error geocoding address 'Calle de S�hara, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+S%EF%BF%BDhara%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 63: Address: Calle Alcocer, 39, Madrid
Latitude: 40.3497205, Longitude: -3.7018123

Row 64: No result found for address: Calle Nuestra Se�ora de Bego�a s/n, Madrid

Row 65: Address: Villaverde a Perales, Madrid
Latitude: 40.3389062, Longitude: -3.6772808

Row 66: Address: villaverde a perales, Madrid
Latitude: 40.3389062, Longitude: -3.6772808

Row 67: Address: Paseo de Alberto Palacios, Madrid, 86, Madrid
Latitude: 40.3432684, Longitude: -3.7172962

Row 68: Address: Calle Limonita, 5, Madrid
Latitude: 40.3439468, Longitude: -3.6759839

Row 69: No result found for address: Calle Flora Trist�n, 1, Madrid

Row 70: Address: EDUARDO MINGUITO, Madrid
Latitude: 40.3484649, Longitude: -3.6886982

Row 71: Address: Calle Estefanita, Madrid
Latitude: 40.34903, Longitude: -3.6760582

Row 72: Address: Calle Emilia Ballester, Madrid
Latitude: 40.3458299, Longitude: -3.7131592

Row 73: No result found for address: Calle La P�cara Molinera esquina C/ El Caser�o s/n, Madrid

Row 74: No result found for address: Calle Mar�a de Echarri, 11, Madrid

Row 75: No result found for address: Calle San Jenaro esquina Calle Alcocer, 1, Madrid

Row 76: Address: villaverde a perales s/n, Madrid
Latitude: 40.3389062, Longitude: -3.6772808

Row 77: Address: Calle MONCADA, Madrid
Latitude: 40.3401301, Longitude: -3.6913435

Row 78: Address: Calle de Paterna, Madrid
Latitude: 40.3412012, Longitude: -3.6848013

Row 79: Address: Calle Euskalduna, Madrid
Latitude: 40.3560432, Longitude: -3.6820183

Row 80: Address: Calle Lenguas, Madrid
Latitude: 40.3435166, Longitude: -3.7022048

Row 81: Address: Calle Huerta de villaverde, Madrid
Latitude: 40.3481844, Longitude: -3.7109722

Row 82: No result found for address: Plaza de G�mez Acebo, Madrid

Row 83: No result found for address: Calle August�briga, 5, Madrid

Row 84: Address: Benimamet, Madrid
Latitude: 40.3444061, Longitude: -3.6870101

Row 85: Address: Calle Calcio, 20, Madrid
Latitude: 40.3507213, Longitude: -3.6791018

Row 86: Address: Calle Eduardo Minguito, Madrid
Latitude: 40.3484649, Longitude: -3.6886982

Row 87: No result found for address: Calle Flora Trist�n, 10, Madrid

Row 88: Address: Calle Lenguas, 18 B, Madrid
Latitude: 40.3426156, Longitude: -3.7032574

Row 89: Address: Calle tordegrillos, Madrid
Latitude: 40.3439627, Longitude: -3.7165874

Row 90: No result found for address: Calle August�briga, Madrid

Row 91: Address: Calle Covachuelas, Madrid
Latitude: 40.3483629, Longitude: -3.7085776

Row 92: No result found for address: Calle Concepci�n de la Oliva, Madrid

Row 93: Address: Calle de Berrocal, Madrid
Latitude: 40.7315706, Longitude: -3.9545372

Row 94: Address: Paseo DE LAS MORERAS, Madrid
Latitude: 40.3458793, Longitude: -3.710455

Row 95: Address: Calle Huerta de Villaverde, Madrid
Latitude: 40.3481844, Longitude: -3.7109722

Row 96: Address: GODELLA, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 97: No result found for address: Calle COLONIA BUTANO, Madrid

Row 98: No result found for address: Mar�a de Echarri, Madrid

Row 99: Address: Calle Fuente de la Capona, Madrid
Latitude: 40.3535755, Longitude: -3.6846954

Row 100: No result found for address: Calle de la Alegr�a de la Huerta, Madrid

Row 101: No result found for address: Calle Puerto L�pice, Madrid

Row 102: No result found for address: Calle T�ntalo, Madrid

Row 103: No result found for address: Calle de Juan Pe�alver, Madrid

Row 104: Address: Rocafort, Madrid
Latitude: 23.1009372, Longitude: -82.3288674

Row 105: Address: Calle de Eduardo Barreiros, Madrid
Latitude: 40.3710127, Longitude: -3.6962347

Row 106: Address: Calle de Clara Schumann, Madrid
Latitude: 40.3550013, Longitude: -3.685226

Row 107: Address: Calle Diamante, Madrid, Madrid
Latitude: 40.3535366, Longitude: -3.6864323

Row 108: Address: Paseo de alberto palacios, Madrid
Latitude: 40.3461825, Longitude: -3.7105683

Row 109: Address: Calle Eduardo Minguito, 13, Madrid
Latitude: 40.3484649, Longitude: -3.6886982

Row 110: Address: Calle Benimamet, Madrid
Latitude: 40.3444061, Longitude: -3.6870101

Row 111: Address: Calle Principal, 16, Madrid
Latitude: 40.334031, Longitude: -3.6996724

Row 112: Address: Calle Transversal Sexta, 10, Madrid
Latitude: 40.3336091, Longitude: -3.6992926

Row 113: No result found for address: Calle de Beniferri, Madrid

Row 114: Address: Calle Hermandad de Donantes de Sangre, 1, Madrid
Latitude: 40.35472135, Longitude: -3.6993521750000014

Row 115: Address: BENITA LOPEZ, Madrid
Latitude: 40.3495133, Longitude: -3.6893429

Row 116: Address: Avenida VERBENA DE LA PALOMA, 17, Madrid
Latitude: 40.3589077, Longitude: -3.6957526

Row 117: Address: Calle de la Esmaltina, 1, Madrid
Latitude: 40.3412093, Longitude: -3.6769006

Row 118: Error geocoding address 'Calle de S�hara, 83, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+S%EF%BF%BDhara%2C+83%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 119: Address: Calle la Dolorosa, 10, Madrid
Latitude: 40.35528375, Longitude: -3.6946744146376806

Row 120: Address: Calle Antimonio, 7, Madrid
Latitude: 40.3471685, Longitude: -3.7080215

Row 121: Address: Calle Eduardo Barreiros, 128, Madrid
Latitude: 40.353262, Longitude: -3.7054518

Row 122: Address: Calle Vicente Carballal, Madrid
Latitude: 40.351853, Longitude: -3.6824616

Row 123: No result found for address: Calle Mar�a Barrientos, 4, Madrid

Row 124: Address: burjasot, Madrid
Latitude: 40.3450904, Longitude: -3.6914971

Row 125: No result found for address: Calle de Beniferri, 63, Madrid

Row 126: Address: LEONOR GONGORA, Madrid
Latitude: 40.3506173, Longitude: -3.6872095

Row 127: Address: Calle Santa Florencia, 15, Madrid
Latitude: 40.3484493, Longitude: -3.6908676

Row 128: No result found for address: Calle Ciudadan�a, Madrid

Row 129: Address: Calle Arechavaleta, Madrid
Latitude: 40.3505739, Longitude: -3.6968165

Row 130: Address: Calle del Bismuto, 1, Madrid
Latitude: 40.3438685, Longitude: -3.7057673

Row 131: Address: Calle de Rocafort, Madrid
Latitude: 40.3419813, Longitude: -3.6926475

Row 132: Address: Calle de Gregorio Ortiz, 31, Madrid
Latitude: 40.3441872, Longitude: -3.7074188

Row 133: Address: BENIFERRI, Madrid
Latitude: 40.3437031, Longitude: -3.6909081

Row 134: Address: Paseo de Gigantes y Cabezudos, 42, Madrid
Latitude: 40.35600685, Longitude: -3.6938880510558985

Row 135: Address: Calle Limonita, 6, Madrid
Latitude: 40.3439468, Longitude: -3.6759839

Row 136: Address: Azufre, 3, Madrid
Latitude: 40.349198, Longitude: -3.6857459

Row 137: Address: Calle del Estroncio, 11, Madrid
Latitude: 40.3480019, Longitude: -3.6903102

Row 138: Address: Calle del estroncio, 11, Madrid
Latitude: 40.3480019, Longitude: -3.6903102

Row 139: No result found for address: Calle el Hu�sped del Sevillano, Madrid, Madrid

Row 140: No result found for address: Calle Magnesia, 12 , bis, Madrid

Row 141: Address: Calle del Talco, 85, Madrid
Latitude: 40.3446028, Longitude: -3.7150841

Row 142: Address: Calle de Rocafort, 14 j, Madrid
Latitude: 40.3419813, Longitude: -3.6926475

Row 143: Address: maricara, Madrid
Latitude: 40.3393855, Longitude: -3.678538923762037

Row 144: Address: Calle de Benimamet, 6, Madrid
Latitude: 40.3444061, Longitude: -3.6870101

Row 145: Error geocoding address 'Calle de S�hara, 89, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+S%EF%BF%BDhara%2C+89%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 146: Address: Urb. privada, Madrid
Latitude: 40.54419285, Longitude: -3.6499298391529944

Row 147: Address: COBALTO, 22, Madrid
Latitude: 40.343668, Longitude: -3.7043145

Row 148: Address: Avenida REAL DE PINTO, 41, Madrid
Latitude: 40.344998399999994, Longitude: -3.7061364046944663

Row 149: No result found for address: Calle Mar�a de Echarri, Madrid

Row 150: Address: Calle Villastar, Madrid
Latitude: 40.3431022, Longitude: -3.7114862

Row 151: Address: transversal sexta, 1, Madrid
Latitude: 40.3357496, Longitude: -3.699255

Row 152: No result found for address: Urb. Calle de Burjasot, Madrid

Row 153: No result found for address: Gigante y Cabezudo, 70, Madrid

Row 154: Address: Plaza Pinazo, Madrid
Latitude: 40.3436943, Longitude: -3.691164

Row 155: No result found for address: Calle Doctor P�rez Dom�nguez s/n, Madrid

Row 156: No result found for address: Calle Jos� del Pino Jim�nez, Madrid

Row 157: Address: Magnesia, 18, Madrid
Latitude: 40.3437497, Longitude: -3.7048893

Row 158: No result found for address: Calle la Canci�n del Olvido, Madrid

Row 159: Address: Calle Beniferri, Madrid
Latitude: 40.3437031, Longitude: -3.6909081

Row 160: Address: Urb. Los Angeles, Madrid
Latitude: 40.4006027, Longitude: -3.7783063

Row 161: Address: Sahara, Madrid
Latitude: 40.4220815, Longitude: -3.706348

Row 162: No result found for address: Calle la Canci�n del Olvido, 43, Madrid

Row 163: Address: Generosidad, 14, Madrid
Latitude: 40.3597743, Longitude: -3.6912572

Row 164: Address: Calle de Martinez Oviol, 40, Madrid
Latitude: 40.35099, Longitude: -3.6884995

Row 165: Address: Calle de San Neviano, 1, Madrid
Latitude: 40.3465238, Longitude: -3.7041664

Row 166: Address: Calle Salsipuedes, 25, Madrid
Latitude: 40.3449425, Longitude: -3.705681

Row 167: Address: Calle de rocafort, 51, Madrid
Latitude: 40.3419813, Longitude: -3.6926475

Row 168: No result found for address: Urb. Platino, Madrid

Row 169: Address: Calle Ampuero, Madrid
Latitude: 40.3494677, Longitude: -3.6958285

Row 170: Address: Calle del Grafito, Madrid, Madrid
Latitude: 40.3472224, Longitude: -3.7152337

Row 171: Address: Calle de Benimamet, Madrid, Madrid
Latitude: 40.3444061, Longitude: -3.6870101

Row 172: No result found for address: Calle Encarnaci�n Oviol s/n, Madrid

Row 173: Address: Calle del Cobalto, 17, Madrid
Latitude: 40.3445362, Longitude: -3.7042273

Row 174: No result found for address: Calle de Juan Jos� Mart�nez Seco, 87, Madrid

Row 175: No result found for address: Encarnaci�n oviol, 45, Madrid

Row 176: Address: Calle de Berrocal, 3, Madrid
Latitude: 40.6874583, Longitude: -3.962194

Row 177: Address: Calle Bario, 20, Madrid
Latitude: 40.3480913, Longitude: -3.6761376

Row 178: No result found for address: cale concepcion de la oliva, Madrid

Row 179: Address: Paseo FERROVIARIOS, Madrid
Latitude: 40.3424963, Longitude: -3.7174531

Row 180: Address: Calle de la Aladierna, Madrid
Latitude: 40.3453795, Longitude: -3.7110232

Row 181: Address: Calle Ganados del Salobral, 4, Madrid
Latitude: 40.3384998, Longitude: -3.6764999

Row 182: Address: Calle Villavendimio, 15, Madrid
Latitude: 40.3486299, Longitude: -3.7143623

Row 183: No result found for address: Calle de Albino Hern�ndez L�zaro, Madrid

Row 184: No result found for address: Calle la Corte del Fara�n, Madrid

Row 185: Address: Calle Potasa, Madrid
Latitude: 40.3519946, Longitude: -3.6804641

Row 186: Address: Calle Acebes, 2, Madrid
Latitude: 40.3472688, Longitude: -3.705089

Row 187: Address: Calle del Estroncio, 9, Madrid
Latitude: 40.3480019, Longitude: -3.6903102

Row 188: No result found for address: Calle Doctor P�rez Dom�nguez, 6, Madrid

Row 189: Address: Calle Lagunas de Neila, 20, Madrid
Latitude: 40.3517153, Longitude: -3.7072375

Row 190: Address: Calle Emilia Ballester, 13, Madrid
Latitude: 40.3464097, Longitude: -3.713055

Row 191: No result found for address: Paseo Talleres, 14 , 1�A, Madrid

Row 192: Address: Calle Diamante, 68, Madrid
Latitude: 40.3535366, Longitude: -3.6864323

Row 193: Address: Calle Emilia Ballester, 18, Madrid
Latitude: 40.3459446, Longitude: -3.7132076

Row 194: Address: Paseo Talleres, 4, Madrid
Latitude: 40.34920345, Longitude: -3.6999041000000004

Row 195: Address: Calle de Rocafort, 51, Madrid
Latitude: 40.3419813, Longitude: -3.6926475

Row 196: Address: Calle Litos, Madrid
Latitude: 40.3495092, Longitude: -3.7009946

Row 197: No result found for address: Calle de la Alegr�a de la Huerta, 24, Madrid

Row 198: No result found for address: Traves�a Arechavaleta, Madrid

Row 199: Address: Calle Doctor Criado, Madrid, 6, Madrid
Latitude: 40.3479526, Longitude: -3.7049099

Row 200: Address: Calle Moncada, 115, Madrid
Latitude: 40.3409648, Longitude: -3.6920084

Row 201: Address: rocafort, Madrid
Latitude: 23.1009372, Longitude: -82.3288674

Row 202: No result found for address: Calle Plantino, 25, Madrid

Row 203: Address: Calle de Rocafort, 17, Madrid
Latitude: 40.3419813, Longitude: -3.6926475

Row 204: Address: Calle del Arroyo Bueno, 43, Madrid
Latitude: 40.3488147, Longitude: -3.7096461

Row 205: No result found for address: Calle mar�a mart�nez oviol, 11, Madrid

Row 206: Address: Calle de Paterna, 48, Madrid
Latitude: 40.3412012, Longitude: -3.6848013

Row 207: Address: Calle Huerta de Villaverde, 20, Madrid
Latitude: 40.3540803, Longitude: -3.6954149

Row 208: Address: Calle Transversal Sexta, 2, Madrid
Latitude: 40.3336091, Longitude: -3.6992926

Row 209: Address: Plaza Pinazo, 27, Madrid
Latitude: 40.3436943, Longitude: -3.691164

Row 210: No result found for address: Calle Amadeo Fern�ndez, 2, Madrid

Row 211: Address: Calle Pan y Toros, 3, Madrid
Latitude: 40.3608361, Longitude: -3.6943657

Row 212: No result found for address: Calle T�ntalo, 10, Madrid

Row 213: Address: Calle Selma Lagerloff, 15, Madrid
Latitude: 40.3544635, Longitude: -3.6875942

Row 214: Address: Calle Berrocal, 10, Madrid
Latitude: 40.3449129, Longitude: -3.6765818

Row 215: No result found for address: Calle de Beniferri, 12, Madrid

Row 216: Address: Calle Lenguas, 12, Madrid
Latitude: 40.3435166, Longitude: -3.7022048

Row 217: Address: Calle de Godella, 227, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 218: Address: Calle Pimienta, 4, Madrid
Latitude: 40.35008175, Longitude: -3.6962195287500004

Row 219: Address: Calle de Berrocal, 72, Madrid
Latitude: 40.6874583, Longitude: -3.962194

Row 220: Address: Calle Emilia Ballester, 48, Madrid
Latitude: 40.3458299, Longitude: -3.7131592

Row 221: Address: Calle de Godella, 219, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 222: Address: Calle Azufre, 3, Madrid
Latitude: 40.349198, Longitude: -3.6857459

Row 223: Address: Calle Calamina, 16, Madrid
Latitude: 40.3466002, Longitude: -3.711469

Row 224: Address: Calle Pan y Toros, 10, Madrid
Latitude: 40.359687050000005, Longitude: -3.6949300005031027

Row 225: No result found for address: Calle de Juan Jos� Mart�nez Seco, 11, Madrid

Row 226: Address: Calle Talco, 12, Madrid
Latitude: 40.3476851, Longitude: -3.7146397

Row 227: Address: Calle Berrocal, 3, Madrid
Latitude: 40.3475755, Longitude: -3.6771178

Row 228: Address: Calle Lenguas, 22, Madrid
Latitude: 40.3431067, Longitude: -3.7029843

Row 229: Address: Calle Sulfato, 22, Madrid
Latitude: 40.3472361, Longitude: -3.7146578

Row 230: Address: Calle Magnesia, 14, Madrid
Latitude: 40.3436406, Longitude: -3.7052929

Row 231: Address: Calle del Cobalto, 14, Madrid
Latitude: 40.3450219, Longitude: -3.7042545

Row 232: Address: Calle Intermedia Norte, 18, Madrid
Latitude: 40.3346268, Longitude: -3.7006954

Row 233: Address: Calle de Berrocal, 64, Madrid
Latitude: 40.6874583, Longitude: -3.962194

Row 234: Address: Calle de Paterna, 17, Madrid
Latitude: 40.3412012, Longitude: -3.6848013

Row 235: No result found for address: Traves�a Arechavaleta, 2, Madrid

Row 236: Address: Calle Uranio, 9, Madrid
Latitude: 40.3548912, Longitude: -3.6811226

Row 237: Address: Calle Turba, 1, Madrid
Latitude: 40.3487329, Longitude: -3.6858554

Row 238: Address: Calle Eduardo Maristany, 1, Madrid
Latitude: 40.3531696, Longitude: -3.6831755

Row 239: Address: Pan y Toros, 17, Madrid
Latitude: 40.3595383, Longitude: -3.6942498

Row 240: Address: Calle de Rocafort, 25, Madrid
Latitude: 40.3419813, Longitude: -3.6926475

Row 241: Address: Calle Gilena, 9, Madrid
Latitude: 40.3434828, Longitude: -3.708779

Row 242: Address: Alto Villaverde s/n, Madrid
Latitude: 40.34642, Longitude: -3.7077264

Row 243: No result found for address: Calle de Benita L�pez, 24, Madrid

Row 244: Address: Plaza �gata, 11, Madrid
Latitude: 40.3987242, Longitude: -3.3499166

Row 245: Address: Avenida de la Verbena de la Paloma, 10, Madrid
Latitude: 40.359715050000005, Longitude: -3.696647901950831

Row 246: Address: Calle Manojo de Rosas, 19, Madrid
Latitude: 40.3607602, Longitude: -3.6960666041522816

Row 247: Address: Calle Villarramiel, 5, Madrid
Latitude: 40.3525891, Longitude: -3.6854967

Row 248: Address: Calle Transversal Sexta, 24, Madrid
Latitude: 40.3325015, Longitude: -3.700402955779019

Row 249: No result found for address: Calle Alegr�a de la Huerta, 10, Madrid

Row 250: No result found for address: Calle de Juan Pe�alver, 8, Madrid

Row 251: Address: Calle Potes, 9, Madrid
Latitude: 40.3508164, Longitude: -3.7102267

Row 252: No result found for address: Calle Do�a Francisquita, 5, Madrid

Row 253: Address: Calle Huerta de Villaverde, 22, Madrid
Latitude: 40.35387945, Longitude: -3.695761474743974

Row 254: Address: Calle Lenguas, 11, Madrid
Latitude: 40.3429226, Longitude: -3.7049449

Row 255: Address: beniferri, Madrid
Latitude: 40.3437031, Longitude: -3.6909081

Row 256: Address: Calle alcocer, Madrid
Latitude: 40.350401, Longitude: -3.7046301

Row 257: Address: Calle Potes, Madrid
Latitude: 40.3503947, Longitude: -3.7105984

Row 258: Address: Calle Villajoyosa, 65, Madrid
Latitude: 40.3559307, Longitude: -3.690527

Row 259: Address: Calle Transversal Sexta, 1, Madrid
Latitude: 40.3357496, Longitude: -3.699255

Row 260: Address: Calle Parvillas Altas, 15, Madrid
Latitude: 40.3448599, Longitude: -3.7081353

Row 261: Address: Calle de Berrocal, 12, Madrid
Latitude: 40.6874583, Longitude: -3.962194

Row 262: Address: huesped del sevillano, 21, Madrid
Latitude: 40.356593399999994, Longitude: -3.6992999500000017

Row 263: No result found for address: Calle Mar�a de Echarri, 1, Madrid

Row 264: Address: Calle de Godella, 100, Madrid
Latitude: 40.3410279, Longitude: -3.6865538

Row 265: Address: Calle Moncada, 109, Madrid
Latitude: 40.3409648, Longitude: -3.6920084

Row 266: Address: Calle Potes, 5, Madrid
Latitude: 40.3503436, Longitude: -3.7113225

Row 267: Address: Calle de Benimamet, 68, Madrid
Latitude: 40.3444061, Longitude: -3.6870101

Row 268: Address: Calle de Rocafort, 16, Madrid
Latitude: 40.3419813, Longitude: -3.6926475

Row 269: Address: Calle de Godella, 160, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 270: Address: Calle de la Unanimidad, 51, Madrid
Latitude: 40.3588758, Longitude: -3.6851757

Row 271: Address: Calle Moncada, 107, Madrid
Latitude: 40.3409648, Longitude: -3.6920084

Row 272: Address: Calle Manola y Rosario, 1, Madrid
Latitude: 40.3433084, Longitude: -3.7132322

Row 273: Address: Calle Anoeta, 26, Madrid
Latitude: 40.352946, Longitude: -3.6997151734920153

Row 274: Address: Calle Huerta de Villaverde, 1, Madrid
Latitude: 40.3481276, Longitude: -3.7092141

Row 275: Address: Calle Uranio, 20, Madrid
Latitude: 40.3548912, Longitude: -3.6811226

Row 276: No result found for address: Calle Do�a Francisquita, 3, Madrid

Row 277: Address: Urb. pryconsa, Madrid
Latitude: 40.6217907, Longitude: -4.0207438

Row 278: Address: Calle del Talco, Madrid
Latitude: 40.3483852, Longitude: -3.7134367

Row 279: Address: Calle de la del Manojo de Rosas, 49 -47, Madrid
Latitude: 40.3612102, Longitude: -3.6965117

Row 280: No result found for address: Urb. Periana, Madrid

Row 281: Address: Calle del Arroyo Bueno, 37, Madrid
Latitude: 40.3487732, Longitude: -3.7088985

Row 282: Address: Calle San Luciano, 9, Madrid
Latitude: 40.363664650000004, Longitude: -3.6981223009865554

Row 283: Address: Calle de la Unanimidad, 55, Madrid
Latitude: 40.3588125, Longitude: -3.6851713

Row 284: Address: Calle Huerta de Villaverde, 8, Madrid
Latitude: 40.3481844, Longitude: -3.7109722

Row 285: Address: Calle de la unanimidad, 45, Madrid
Latitude: 40.3591534, Longitude: -3.6847879

Row 286: Address: Calle del Consenso, 6, Madrid
Latitude: 40.3599022, Longitude: -3.6862745

Row 287: No result found for address: Calle de Domingo P�rraga, 26, Madrid

Row 288: Address: Calle Burjasot, 6, Madrid
Latitude: 40.345152, Longitude: -3.6907571

Row 289: No result found for address: Calle del Doctor Mart�n Ar�valo, 26, Madrid

Row 290: Address: Avenida de la Verbena de la Paloma, 41, Madrid
Latitude: 40.356896199999994, Longitude: -3.695436849999999

Row 291: Address: Avenida Real de Pinto, 56, Madrid
Latitude: 40.3413961, Longitude: -3.7066292

Row 292: No result found for address: Camino Legan�s, 25, Madrid

Row 293: Address: Clara Schumann s/n, Madrid
Latitude: 40.3550013, Longitude: -3.685226

Row 294: Address: Avenida de la Verbena de la Paloma, 26, Madrid
Latitude: 40.35698875, Longitude: -3.6962087814514426

Row 295: No result found for address: Calle August�briga, 9, Madrid

Row 296: Address: Calle Transversal Sexta, 3, Madrid
Latitude: 40.3355808, Longitude: -3.6992494

Row 297: No result found for address: Calle juan pe�alver, 16, Madrid

Row 298: No result found for address: Calle Francisco Ord��ez, 5, Madrid

Row 299: Address: Calle Salsipuedes, 2, Madrid
Latitude: 40.3449425, Longitude: -3.705681

Row 300: Address: Calle Santa Florencia, 21, Madrid
Latitude: 40.3484493, Longitude: -3.6908676

Row 301: Error geocoding address 'Calle de S�hara, 100, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+S%EF%BF%BDhara%2C+100%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 302: Address: carmen bordiu, Madrid
Latitude: 40.342349, Longitude: -3.7104631

Row 303: Address: palomares, Madrid
Latitude: 40.4753314, Longitude: -3.7165972

Row 304: Address: Calle Moncada, 99, Madrid
Latitude: 40.3409648, Longitude: -3.6920084

Row 305: Address: GOMEZ ACEBO, Madrid
Latitude: 40.34206795, Longitude: -3.709025837154354

Row 306: Address: Calle Doctor Criado, Madrid
Latitude: 40.3479526, Longitude: -3.7049099

Row 307: No result found for address: Calle del Doctor Mart�n Ar�valo, 59, Madrid

Row 308: Address: Calle de Godella, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 309: No result found for address: Paseo de Mar�a Droc, 18, Madrid

Row 310: Address: Calle Vicente Carballal, 9, Madrid
Latitude: 40.351853, Longitude: -3.6824616

Row 311: Address: Paseo de Alberto Palacios, 68, Madrid
Latitude: 40.3461825, Longitude: -3.7105683

Row 312: No result found for address: JOS� DEL PINO, Madrid

Row 313: Address: Paterna, Madrid
Latitude: 40.3412012, Longitude: -3.6848013

Row 314: Address: Calle Euskalduna, 1, Madrid
Latitude: 40.3560432, Longitude: -3.6820183

Row 315: No result found for address: Calle Jos� del pino Jim�nez, 11, Madrid

Row 316: Address: Calle de Anoeta, 42, Madrid
Latitude: 40.352366849999996, Longitude: -3.700761727021405

Row 317: Address: azufre, Madrid
Latitude: 40.349198, Longitude: -3.6857459

Row 318: Address: Calle San Macario, 8, Madrid
Latitude: 40.3525934, Longitude: -3.6901698

Row 319: Address: Calle de Lubian, Madrid
Latitude: 40.3446901, Longitude: -3.7050538

Row 320: Address: Calle del Arroyo Bueno, 4, Madrid
Latitude: 40.3490489, Longitude: -3.7055808

Row 321: Address: Calle de Getafe, Madrid
Latitude: 40.343933, Longitude: -3.7075939

Row 322: Address: Calle Alberto Palacios, Madrid
Latitude: 40.3437158, Longitude: -3.7125718

Row 323: Address: Plaza Pinazo, 14, Madrid
Latitude: 40.3436943, Longitude: -3.691164

Row 324: Address: Calle Miguel Solas, Madrid
Latitude: 40.35185775, Longitude: -3.6781395344116916

Row 325: Address: Avenida de los Rosales, 62, Madrid
Latitude: 40.3568825, Longitude: -3.6814776

Row 326: Address: Calle Grazia Deledda, 9, Madrid
Latitude: 40.3577819, Longitude: -3.6835733

Row 327: No result found for address: Calle de Juan Pe�alver, 66, Madrid

Row 328: Address: Calle de Berrocal, 70, Madrid
Latitude: 40.6874583, Longitude: -3.962194

Row 329: Address: Calle de la del Manojo de Rosas, 65 -69, Madrid
Latitude: 40.3612102, Longitude: -3.6965117

Row 330: No result found for address: Calle de Domingo P�rraga, 4, Madrid

Row 331: No result found for address: Flora Trist�n, 6, Madrid

Row 332: No result found for address: Calle Leonor G�ngora, 46, Madrid

Row 333: Address: Calle lenguas, 6, Madrid
Latitude: 40.3423052, Longitude: -3.7047232

Row 334: Address: salsipuedes, Madrid
Latitude: 40.3449425, Longitude: -3.705681

Row 335: No result found for address: Calle Heli�filo, Madrid

Row 336: Address: Plaza �gata, 8 -24, Madrid
Latitude: 40.3987242, Longitude: -3.3499166

Row 337: Address: Calle Santa Eva, 1, Madrid
Latitude: 40.3522915, Longitude: -3.6898114

Row 338: Address: Calle Antimonio, Madrid
Latitude: 40.3471685, Longitude: -3.7080215

Row 339: No result found for address: Calle de Albino Hern�ndez L�zaro, 1, Madrid

Row 340: Address: Calle Lazcano, Madrid
Latitude: 40.3521173, Longitude: -3.6943673

Row 341: Address: Calle Villalonso, Madrid
Latitude: 40.3493436, Longitude: -3.7097794

Row 342: Address: Calle de Benimamet, Madrid
Latitude: 40.3444061, Longitude: -3.6870101

Row 343: No result found for address: juan pe�alver, 25, Madrid

Row 344: Address: Camino LEGANES, Madrid
Latitude: 40.3776138, Longitude: -3.7338599

Row 345: No result found for address: Calle de la Corte de Fara�n, Madrid

Row 346: Address: Calle Silvinita, 1, Madrid
Latitude: 40.343895, Longitude: -3.6765795

Row 347: Address: Calle del Arroyo Bueno, Madrid
Latitude: 40.3489129, Longitude: -3.7097582

Row 348: Address: Calle la del Soto del Parral, Madrid
Latitude: 40.3577087, Longitude: -3.6957792

Row 349: Address: Paseo de las Moreras, 13, Madrid
Latitude: 40.3458793, Longitude: -3.710455

Row 350: Address: Calle del Americio, Madrid
Latitude: 40.3546112, Longitude: -3.6831899

Row 351: Address: Paseo Talleres, Madrid, Madrid
Latitude: 40.3481528, Longitude: -3.7013025

Row 352: Address: Calle de godella, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 353: Address: Calle Bismuto, Madrid
Latitude: 40.3444232, Longitude: -3.7059234

Row 354: No result found for address: Paseo estaci�n, Madrid

Row 355: Address: Calle Silvinita, Madrid
Latitude: 40.343895, Longitude: -3.6765795

Row 356: Address: EUSKALDUNA, Madrid
Latitude: 40.3560432, Longitude: -3.6820183

Row 357: Address: Berrocal, Madrid
Latitude: 40.3409889, Longitude: -3.6748546

Row 358: No result found for address: Calle Leonor G�ngora, Madrid

Row 359: Address: Avenida de Espinela, Madrid
Latitude: 40.3456092, Longitude: -3.7092034

Row 360: Address: Calle Hermandad de Donantes de Sangre, 1 -5, Madrid
Latitude: 40.3532769, Longitude: -3.7017756

Row 361: Address: limonita, Madrid
Latitude: 40.3439468, Longitude: -3.6759839

Row 362: No result found for address: Calle Nuestra Se�ora de Bego�a, Madrid

Row 363: Address: godella, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 364: Address: Calle de Godella, 199, Madrid
Latitude: 40.3399674, Longitude: -3.6874365

Row 365: Address: Calle Manganeso, Madrid
Latitude: 40.3517541, Longitude: -3.6841646

Row 366: No result found for address: Calle de Santa Escol�stica, 1, Madrid

Row 367: No result found for address: Paseo Estaci�n, 5, Madrid

Row 368: Address: parvillas altas, 15, Madrid
Latitude: 40.3443944, Longitude: -3.7089646

Row 369: Address: Calle Calcio, Madrid
Latitude: 40.3507213, Longitude: -3.6791018

Row 370: No result found for address: Calle de Juan Jos� Mart�nez Seco, Madrid, Madrid

Row 371: Address: Calle Principal, Madrid
Latitude: 40.333855, Longitude: -3.6995355

Row 372: Address: Leonor Gongora, Madrid
Latitude: 40.3506173, Longitude: -3.6872095

Row 373: Address: Calle Mica, Madrid
Latitude: 40.3520865, Longitude: -3.6799344

Row 374: Address: Calle de la Generosidad, Madrid
Latitude: 40.3598385, Longitude: -3.6913126

Row 375: Address: Calle de la Unanimidad, Madrid
Latitude: 40.3600565, Longitude: -3.685326

Row 376: No result found for address: Calle de Jos� del Pino, Madrid

Row 377: Address: Arroyo Bueno, Madrid
Latitude: 40.3489129, Longitude: -3.7097582

Row 378: Address: Calle de Berrocal, 14, Madrid
Latitude: 40.6874583, Longitude: -3.962194

Row 379: Address: Calle de la dulzura, 12, Madrid
Latitude: 40.3581942, Longitude: -3.6911269

Row 380: Address: Calle San Luciano, Madrid
Latitude: 40.3627172, Longitude: -3.6989788

Row 381: No result found for address: Calle del Doctor Mart�n Ar�valo, Madrid

Row 382: No result found for address: Calle LEGUAS, Madrid

Row 383: Address: Calle Vieja de Pinto, 20, Madrid
Latitude: 40.3471694, Longitude: -3.7087077

Row 384: No result found for address: Calle la Canci�n del Olvido, 52, Madrid

Row 385: Address: Paseo Talleres , 17, Madrid
Latitude: 40.347267, Longitude: -3.7049591

Row 386: No result found for address: Calle Flora Trist�n, 8, Madrid

Row 387: Address: Calle Calle de San Jenaro, 17, Madrid
Latitude: 40.3460693, Longitude: -3.7023014

Row 388: Address: Calle Gilena, Madrid
Latitude: 40.3434828, Longitude: -3.708779

Row 389: Address: Calle de Villafuerte, Madrid
Latitude: 40.3545546, Longitude: -3.6902153

Row 390: No result found for address: Calle Artesan�a, Madrid

Row 391: Address: arechavaleta, Madrid
Latitude: 40.3505739, Longitude: -3.6968165

Row 392: No result found for address: Calle Doctor Mart�n Ar�valo, Madrid

Row 393: Address: Calle Villapalacios, Madrid
Latitude: 40.35113835, Longitude: -3.6919612957237424

Row 394: Address: Eduardo Minguito, Madrid
Latitude: 40.3484649, Longitude: -3.6886982

Row 395: No result found for address: Calle Concepci�n de la Oliva s/n, Madrid

Row 396: Address: Avenida de los Rosales, Madrid
Latitude: 40.3685331, Longitude: -3.6937483

Row 397: Address: Calle Esperanza Macarena, Madrid
Latitude: 40.3501351, Longitude: -3.6904514

Row 398: Address: Calle Uranio, 4, Madrid
Latitude: 40.3548912, Longitude: -3.6811226

Row 399: Address: estefanita, Madrid
Latitude: 40.34903, Longitude: -3.6760582

Row 400: No result found for address: Calle Leonor G�ngora, 27, Madrid

Row 401: Address: Grafito s/n, Madrid
Latitude: 40.3455385, Longitude: -3.7155536

Row 402: Address: Paseo Alberto Palacios, Madrid
Latitude: 40.3461825, Longitude: -3.7105683

Row 403: Address: Santa Florencia, Madrid
Latitude: 40.3484493, Longitude: -3.6908676

Row 404: No result found for address: Calle Provisional Boetticher y Navarro, 25, Madrid

Row 405: Address: Calle Francisco del Pino, Madrid
Latitude: 40.3497634, Longitude: -3.6912722

Row 406: No result found for address: Calle de Villaverde a Perales del Rio, Madrid

Row 407: Address: Calle Sargento Barriga, Madrid
Latitude: 40.3434012, Longitude: -3.7042354

Row 408: No result found for address: Calle de la V�rgen de los Desamparados, Madrid

Row 409: Address: Calle de la Plata, Madrid
Latitude: 40.3485595, Longitude: -3.7056264

Row 410: No result found for address: Calle de los Cacere�os, 3, Madrid

Row 411: No result found for address: Urb. URBANIZACION CERRADA, Madrid

Row 412: Address: Calle Pan y Toros, 7, Madrid
Latitude: 40.3605093, Longitude: -3.6943392

Row 413: Address: Calle de la del Manojo de Rosas, Madrid, Madrid
Latitude: 40.3612102, Longitude: -3.6965117

Row 414: Address: Plaza Pinazo s/n, Madrid
Latitude: 40.3436943, Longitude: -3.691164

Row 415: Address: Calle Hermandad de Donantes de Sangre s/n, Madrid
Latitude: 40.3532769, Longitude: -3.7017756

Row 416: No result found for address: Calle de Juan Pe�alver, 25, Madrid

Row 417: Address: Salsipuedes, 25, Madrid
Latitude: 40.3449425, Longitude: -3.705681

Row 418: Address: acantita, Madrid
Latitude: 40.3449485, Longitude: -3.6764052

Row 419: Address: MANOJO DE ROSAS, Madrid
Latitude: 40.3612102, Longitude: -3.6965117

Row 420: Address: Calle Grafito, Madrid, Madrid
Latitude: 40.3472224, Longitude: -3.7152337

Row 421: Address: Calle Manganeso, 7, Madrid
Latitude: 40.3517541, Longitude: -3.6841646

Row 422: Address: Calle de Rocafort, 84, Madrid
Latitude: 40.3419813, Longitude: -3.6926475

Row 423: Address: Calle Pan y Toros, Madrid
Latitude: 40.3583819, Longitude: -3.6941993

Row 424: Address: Avenida de los Rosales, 107, Madrid
Latitude: 40.3455814, Longitude: -3.6725199

Row 425: No result found for address: Traves�a Cacerenos, Madrid

Row 426: Address: Calle Burjasot, Madrid
Latitude: 40.345152, Longitude: -3.6907571

Row 427: Address: berrocal, 3, Madrid
Latitude: 40.3475755, Longitude: -3.6771178

Row 428: No result found for address: Calle de Juan Jos� Mart�nez Seco s/n, Madrid

Row 429: Address: Calle Villacarlos, Madrid
Latitude: 40.4061444, Longitude: -3.608135

Row 430: Address: Avenida de Daroca, Madrid
Latitude: 40.4064695, Longitude: -3.613248

Row 431: Address: Calle Canteras de Tilly, 14, Madrid
Latitude: 40.4023759, Longitude: -3.6037567

Row 432: No result found for address: Traves�a del Ambroz, 1, Madrid

Row 433: Address: Calle Rastro, 8, Madrid
Latitude: 40.4014398, Longitude: -3.6057291

Row 434: Address: Calle de Mario Moreno Cantinflas, 68, Madrid
Latitude: 40.4013724, Longitude: -3.5634652

Row 435: Address: Avenida Blas de Lezo, 28052 Madrid, Madrid
Latitude: 40.4072584, Longitude: -3.5529001

Row 436: Address: Calle Helena de Troya, Madrid
Latitude: 40.4043038, Longitude: -3.5984607

Row 437: Address: Calle Lago Erie, Madrid
Latitude: 40.4048088, Longitude: -3.6072494

Row 438: Address: Calle Calle Ferenc Puskas, Madrid
Latitude: 40.4014408, Longitude: -3.5467577

Row 439: Address: Avenida miguel delibes s/n, Madrid
Latitude: 40.4079406, Longitude: -3.5657168

Row 440: Address: Calle Ferenc Puskas, Madrid
Latitude: 40.4014408, Longitude: -3.5467577

Row 441: Address: Calle del Gallo, Madrid
Latitude: 40.4058308, Longitude: -3.6144992

Row 442: Address: Calle Huerta del Convento, Madrid
Latitude: 40.661264, Longitude: -3.7662423

Row 443: Address: Calle de Villajimena, Madrid
Latitude: 40.4074006, Longitude: -3.60945

Row 444: Address: Calle Lago Balaton, Madrid
Latitude: 40.4012702, Longitude: -3.6032254

Row 445: No result found for address: Calle Abad Juan Catal�n, Madrid

Row 446: No result found for address: Calle P�o del R�o Hortega, Madrid

Row 447: Address: Calle Tres Cantos, 1, Madrid
Latitude: 40.3989986, Longitude: -3.5450936

Row 448: Address: velilla, Madrid
Latitude: 40.4034866, Longitude: -3.6075949

Row 449: Address: Calle de Calahorra, Madrid
Latitude: 40.4067892, Longitude: -3.613529

Row 450: Address: Calle Lardero, Madrid
Latitude: 40.4105869, Longitude: -3.6114187

Row 451: No result found for address: Calle Padre Gregorio C�spedes, Madrid

Row 452: Address: Calle Minerva, 19, Madrid
Latitude: 40.3951356, Longitude: -3.6076381

Row 453: Address: Calle de Cordel de Pavones, Madrid
Latitude: 40.3956582, Longitude: -3.6204292

Row 454: Address: Calle Gallegos, 37, Madrid
Latitude: 40.4609727, Longitude: -3.6853382

Row 455: No result found for address: Calle Blas de Lezo esq. calle Igualdad s/n, Madrid

Row 456: Address: Calle de la Fuente de San Pedro, Madrid
Latitude: 40.4028893, Longitude: -3.6027947

Row 457: Address: Calle Enrique Urquijo, 174, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 458: Address: Calle de los Pinillas, Madrid
Latitude: 40.3988459, Longitude: -3.6218241

Row 459: Address: Calle Mercurio, Madrid
Latitude: 19.3385828, Longitude: -99.0107029

Row 460: Address: castellana, Madrid
Latitude: 40.4333241, Longitude: -3.6841316

Row 461: No result found for address: Calle de Villablanca, 70, Madrid

Row 462: Address: Calle del Lago Van, 10, Madrid
Latitude: 40.4042841, Longitude: -3.6063536

Row 463: Address: LOS GALLEGOS, Madrid
Latitude: 40.4855078, Longitude: -3.7025788

Row 464: Error geocoding address 'Avenida de la Gran V�a del Este, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+de+la+Gran+V%EF%BF%BDa+del+Este%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 465: No result found for address: Calle Jard�n de la Duquesa, Madrid

Row 466: Address: Calle de ladera de los almendros, Madrid
Latitude: 40.3968858, Longitude: -3.6256503

Row 467: Address: Calle Maria Pita, Madrid
Latitude: 40.3972636, Longitude: -3.5537901

Row 468: Address: Calle del Pergamino, 27, Madrid
Latitude: 40.394476749999995, Longitude: -3.622061538285572

Row 469: No result found for address: Calle de Omega, Madrid

Row 470: No result found for address: Calle Padre Gregorio C�spedes, 18, Madrid

Row 471: Address: Calle Mercurio, 6, Madrid
Latitude: 40.6157431, Longitude: -4.0108104852620015

Row 472: Address: Calle Condesa Vega del Pozo, Madrid
Latitude: 40.4030794, Longitude: -3.6055819

Row 473: No result found for address: Calle Teodoro Anasagasti y Alg�n , 32, Madrid

Row 474: Address: Calle San Cipriano, 31, Madrid
Latitude: 40.4041427, Longitude: -3.6091429

Row 475: Address: Calle Humildad s/n, Madrid
Latitude: 40.4054003, Longitude: -3.5599007

Row 476: No result found for address: Calle Abad Juan Catal�n, 6, Madrid

Row 477: Address: Calle Enrique Urquijo, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 478: Address: Calle Fuente de San Pedro , 9, Madrid
Latitude: 40.4028893, Longitude: -3.6027947

Row 479: No result found for address: Calle Alcalde Andr�s Madrid D�vila s/n, Madrid

Row 480: Address: Calle Enrique Urquijo, Madrid, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 481: No result found for address: Bulevar de Jos� Prat, Madrid

Row 482: Address: Calle Ferenc Puskas, 50, Madrid
Latitude: 40.4014408, Longitude: -3.5467577

Row 483: Address: Calle De Casalarreina, Madrid
Latitude: 40.4094472, Longitude: -3.6107412

Row 484: No result found for address: Calle Suertes de la Villa esquina Calle Cerro del Tesoro s/n, Madrid

Row 485: Address: Calle Villalmanzo, Madrid
Latitude: 40.4062506, Longitude: -3.6074295

Row 486: Address: Calle de Ambroz, Madrid
Latitude: 40.4058276, Longitude: -3.6051718

Row 487: Address: Calle del Pergamino, Madrid
Latitude: 40.394088, Longitude: -3.6245302

Row 488: Address: Calle de San Cipriano, Madrid, Madrid
Latitude: 40.4040712, Longitude: -3.6036635

Row 489: No result found for address: Calle Francisca de Torres Catal�n, 12 -14, Madrid

Row 490: Address: Calle de Villajimena, 35, Madrid
Latitude: 40.4074006, Longitude: -3.60945

Row 491: Address: Calle de Herce, Madrid
Latitude: 40.4059412, Longitude: -3.6136845

Row 492: Address: Calle Maria Pita, 42, Madrid
Latitude: 40.3972636, Longitude: -3.5537901

Row 493: Address: Calle Mayorazgo de Duarte s/n, Madrid
Latitude: 40.4063992, Longitude: -3.5468047

Row 494: Address: Calle de la Caliza, Madrid
Latitude: 40.3977248, Longitude: -3.6043323

Row 495: No result found for address: Urb. CA�AVERAL, Madrid

Row 496: Address: Calle Erial de la Abuela, 2, Madrid
Latitude: 40.4042565, Longitude: -3.5505008

Row 497: Address: Calle Minerva, Madrid
Latitude: 40.4041523, Longitude: -3.5981021

Row 498: Address: Calle del Lago Leman, Madrid
Latitude: 40.4046295, Longitude: -3.6052674

Row 499: Address: Calle Suertes de la Villa, 2, Madrid
Latitude: 40.4056575, Longitude: -3.5487702

Row 500: Address: Calle Calahorra, Madrid
Latitude: 40.4089162, Longitude: -3.6120699

Row 501: Address: VELILLA, Madrid
Latitude: 40.4034866, Longitude: -3.6075949

Row 502: Address: Villardondiego, Madrid
Latitude: 40.4053877, Longitude: -3.6081784

Row 503: No result found for address: Calle P�o del Rio Hortega, 16, Madrid

Row 504: No result found for address: Calle Mar�a Pita, 32, 42, Madrid

Row 505: No result found for address: Calle de la Ilusi�n, 11, Madrid

Row 506: No result found for address: Calle Arroyo del Ca�averal, 100, Madrid

Row 507: Address: Calle Alto del Esparragal s/n, Madrid
Latitude: 40.3962913, Longitude: -3.5578026

Row 508: No result found for address: Calle Mario Moreno Cantinflas esq Imperio Argentina s/n, Madrid

Row 509: Address: Calle Tren de arganda, 12, Madrid
Latitude: 40.3048572, Longitude: -3.4486684

Row 510: No result found for address: Avenida de la Aurora Boreal, Madrid

Row 511: No result found for address: Calle del P�ndulo, 21, Madrid

Row 512: Address: Calle Lago Erie, 15, Madrid
Latitude: 40.4048088, Longitude: -3.6072494

Row 513: Address: Calle de Ambroz, 2, Madrid
Latitude: 40.4067657, Longitude: -3.6046827

Row 514: Address: Calle Villacid de Campos, Madrid
Latitude: 40.4027004, Longitude: -3.6092324

Row 515: Address: Calle Canteras de Tilly, Madrid
Latitude: 40.4023759, Longitude: -3.6037567

Row 516: No result found for address: Carretera de Vic�lvaro a la Estaci�n de O'donnell, 2, Madrid

Row 517: Address: San eudaldo, 6, Madrid
Latitude: 40.40575445, Longitude: -3.6023144518372847

Row 518: No result found for address: Avenida de Ahijones s/n, Madrid

Row 519: Address: Calle de Ladera de los Almendros, 39, Madrid
Latitude: 40.39719065, Longitude: -3.6253377411636496

Row 520: Address: Calle tren de Arganda, 12, Madrid
Latitude: 40.3048572, Longitude: -3.4486684

Row 521: Address: Calle Enrique Urquijo, 176, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 522: Address: Calle de San Cipriano, 53, Madrid
Latitude: 40.4040712, Longitude: -3.6036635

Row 523: Address: Calle Enrique Urquijo, 141, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 524: Address: Calle Ezcaray, Madrid
Latitude: 40.4097894, Longitude: -3.6120501

Row 525: Address: san cipriano, Madrid
Latitude: 40.4039851, Longitude: -3.6035493

Row 526: Address: Calle San Eudaldo, Madrid
Latitude: 40.4060237, Longitude: -3.6026029

Row 527: No result found for address: Calle Cordov�n, Madrid

Row 528: Address: Calle de Calahorra, 28, Madrid
Latitude: 40.4067892, Longitude: -3.613529

Row 529: Address: Calle San Ciriaco, Madrid
Latitude: 40.4060767, Longitude: -3.6046143

Row 530: Address: Huerta del convento, Madrid
Latitude: 40.4006435, Longitude: -3.6047149

Row 531: Address: Calle de San Cipriano, Madrid
Latitude: 40.4040712, Longitude: -3.6036635

Row 532: Address: Calle Villalcampo, 4, Madrid
Latitude: 40.4057786, Longitude: -3.6061102

Row 533: Address: Calle de San Cipriano, 67, Madrid
Latitude: 40.4040712, Longitude: -3.6036635

Row 534: Address: Avenida de Daroca, 302, Madrid
Latitude: 40.4065063, Longitude: -3.6132064

Row 535: No result found for address: Calle Alcalde Andr�s Madrid D�vila, 130, Madrid

Row 536: No result found for address: Calle Alcalde Andr�s Madrid D�vila, 132, Madrid

Row 537: Address: Calle de San Cipriano, 55, Madrid
Latitude: 40.4040712, Longitude: -3.6036635

Row 538: Address: Enrique Urquijo, 130, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 539: No result found for address: Zona Ambroz, 3, Madrid

Row 540: Address: Avenida de Daroca, 307, Madrid
Latitude: 40.4065063, Longitude: -3.6132064

Row 541: Address: Calle de Ladera de los Almendros, 14, Madrid
Latitude: 40.40198205, Longitude: -3.624464419282215

Row 542: Address: Bulevar de Indalecio Prieto, 30, Madrid
Latitude: 40.3990837, Longitude: -3.6222571

Row 543: Address: Calle Lardero, 5, Madrid
Latitude: 40.4105869, Longitude: -3.6114187

Row 544: Address: Calle del Lago Van, 13, Madrid
Latitude: 40.4047796, Longitude: -3.6063218

Row 545: Address: Calle del Gallo, 1, Madrid
Latitude: 40.4058308, Longitude: -3.6144992

Row 546: Address: Calle Forges, 19, Madrid
Latitude: 40.4052411, Longitude: -3.6009047

Row 547: No result found for address: Calle de Prat, 38, Madrid

Row 548: Address: Calle Cruz del Carnero, 6, Madrid
Latitude: 40.4011694, Longitude: -3.6051076

Row 549: Address: Calle Ladera de los Almendros, 40, Madrid
Latitude: 40.40261, Longitude: -3.6224962

Row 550: Address: Calle San Ciriaco, 6, Madrid
Latitude: 40.4057491, Longitude: -3.6047425

Row 551: Address: Calle Mercurio, 22, Madrid
Latitude: 40.4050815, Longitude: -3.6049452

Row 552: Address: Calle Fuente de San Pedro, 21, Madrid
Latitude: 40.403164399999994, Longitude: -3.602829114049589

Row 553: Address: Calle Helena de Troya, 35 -25, Madrid
Latitude: 40.4043038, Longitude: -3.5984607

Row 554: Address: calahorra, 68, Madrid
Latitude: 40.4067892, Longitude: -3.613529

Row 555: Address: Calle Villacid de Campos, 6, Madrid
Latitude: 40.4027004, Longitude: -3.6092324

Row 556: No result found for address: Calle Abad Juan Catal�n, 14, Madrid

Row 557: Address: Calle Huerta del Convento, 11, Madrid
Latitude: 40.6614404, Longitude: -3.7655998

Row 558: Address: Calle De Casalarreina, 22, Madrid
Latitude: 40.4094472, Longitude: -3.6107412

Row 559: Address: Calle Minerva, 131, Madrid
Latitude: 40.3951356, Longitude: -3.6076381

Row 560: Address: Calle Sacrificio, Madrid
Latitude: 40.4060718, Longitude: -3.6037363

Row 561: No result found for address: Calle Francisca de Torres Catal�n, 12, Madrid

Row 562: Address: Calle Matadero Viejo, 1, Madrid
Latitude: 40.4019091, Longitude: -3.6062516

Row 563: Address: Calle Minerva, 3, Madrid
Latitude: 40.3951356, Longitude: -3.6076381

Row 564: Address: Calle Efigenia, Madrid
Latitude: 40.4040013, Longitude: -3.5994551

Row 565: Address: Calle Cerro del Campo, 22, Madrid
Latitude: 40.4054872, Longitude: -3.5522792

Row 566: Address: Calle de Cordel de Pavones, 26, Madrid
Latitude: 40.3999068, Longitude: -3.6197095310803977

Row 567: Address: Calle Condesa de Vega del Pozo, 14, Madrid
Latitude: 40.4034092, Longitude: -3.6074552

Row 568: Address: Calle Marmolina, 16, Madrid
Latitude: 40.3959388, Longitude: -3.6089547

Row 569: Address: Calle de los Pinillas, 12, Madrid
Latitude: 40.39891015, Longitude: -3.6233418560950654

Row 570: Address: Calle de los Pinillas, 10, Madrid
Latitude: 40.39890115, Longitude: -3.623689336726235

Row 571: Address: Calle de Villajimena, 74, Madrid
Latitude: 40.4074006, Longitude: -3.60945

Row 572: Address: Calle De Casalarreina, 23, Madrid
Latitude: 40.4094472, Longitude: -3.6107412

Row 573: Address: Calle Velilla, 8, Madrid
Latitude: 40.4034866, Longitude: -3.6075949

Row 574: Address: SAN FILEMON, Madrid
Latitude: 40.4057351, Longitude: -3.6152515

Row 575: Address: Ambroz, 17, Madrid
Latitude: 40.4058975, Longitude: -3.6052029

Row 576: No result found for address: Calle San Filem�n, 3, Madrid

Row 577: Address: Pergamino, Madrid
Latitude: 40.394088, Longitude: -3.6245302

Row 578: Address: Calle Forges, Madrid, Madrid
Latitude: 40.4049357, Longitude: -3.6024385

Row 579: No result found for address: Calle Arroyo del Ca�averal, Madrid

Row 580: Address: Enrique Urquijo, 150, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 581: Address: Calle Igualdad, 71, Madrid
Latitude: 40.4058165, Longitude: -3.5617644

Row 582: Address: Paseo de los Artilleros, Madrid
Latitude: 40.4089077, Longitude: -3.6096903

Row 583: No result found for address: Calle Arroyo del Ca�averal, 105, Madrid

Row 584: No result found for address: Calle Arroyo del Ca�averal s/n, Madrid

Row 585: Address: Calle Enrique Urquijo, 150, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 586: Address: Avenida Miguel Delibes s/n, Madrid
Latitude: 40.4079406, Longitude: -3.5657168

Row 587: No result found for address: de Vic�lvaro Estaci�n de O'donnell, Madrid

Row 588: No result found for address: Calle DE PRAT, Madrid

Row 589: Address: Calle PENDULO, Madrid
Latitude: 40.394088, Longitude: -3.6245302

Row 590: Address: Calle MINERVA, Madrid
Latitude: 40.4041523, Longitude: -3.5981021

Row 591: Address: Calle Prat, 55, Madrid
Latitude: 40.4012358, Longitude: -3.6093885

Row 592: Address: LADERA DE LOS ALMENDROS, Madrid
Latitude: 40.3968858, Longitude: -3.6256503

Row 593: No result found for address: Avenida Miguel Delibes esq Mario Moreno Cantinflas s/n, Madrid

Row 594: No result found for address: Calle Jos� Escobar y Saliente , 92, Madrid

Row 595: No result found for address: Calle Di�logo, 7, Madrid

Row 596: No result found for address: Calle Alcalde Andr�s Madrid D�vila, 16, Madrid

Row 597: Address: Calle Francisco Grande Covian, 4, Madrid
Latitude: 40.413277, Longitude: -3.8965946

Row 598: Address: Mercurio, 60, Madrid
Latitude: 40.4053463, Longitude: -3.6058635

Row 599: No result found for address: Calle Para�so, 2, Madrid

Row 600: Address: Calle Cerro del Tesoro, 41, Madrid
Latitude: 40.4063823, Longitude: -3.5522834

Row 601: No result found for address: Calle Juan Carre�o de Miranda, 14, Madrid

Row 602: No result found for address: Calle de Villablanca, 6, Madrid

Row 603: Address: Calle del Campo de la Torre, Madrid
Latitude: 40.3960111, Longitude: -3.6039088

Row 604: Address: Calle del Lago Van, Madrid
Latitude: 40.4047796, Longitude: -3.6063218

Row 605: Address: Calle Villardondiego, Madrid
Latitude: 40.4053877, Longitude: -3.6081784

Row 606: Address: Plaza Alosno, Madrid
Latitude: 40.4054122, Longitude: -3.6163049

Row 607: No result found for address: Calle de San Filem�n s/n, Madrid

Row 608: Address: Paseo de los artilleros, Madrid
Latitude: 40.4089077, Longitude: -3.6096903

Row 609: No result found for address: Calle Mar�a Pita con Anna Frank s/n, Madrid

Row 610: No result found for address: Calle Luis Oca�a, 91, Madrid

Row 611: Address: Calle Igualdad , 171, Madrid
Latitude: 40.4058165, Longitude: -3.5617644

Row 612: Address: Calle Enrique Urquijo s/n, Madrid
Latitude: 40.399489, Longitude: -3.5607343

Row 613: Address: Calle Sierra de Mira, Madrid
Latitude: 40.3729097, Longitude: -3.618686

Row 614: No result found for address: Calle Pedrosa del Pr�ncipe, Madrid

Row 615: No result found for address: Calle Cardenal Vicente Enrique y Taranc�n, 13, Madrid

Row 616: Address: Calle Muela de San Juan, Madrid
Latitude: 40.3708842, Longitude: -3.6163713

Row 617: Address: Calle Montes Alberes, Madrid
Latitude: 40.3739704, Longitude: -3.6192244

Row 618: No result found for address: Avenida del Ensanche de Vallecas, Madrid

Row 619: No result found for address: Calle de Sierra G�dor, Madrid

Row 620: No result found for address: Paseo Federico Garc�a Lorca, Madrid

Row 621: No result found for address: Calle de Pe�a Cavero, Madrid

Row 622: Address: Calle Castrillo de Aza, Madrid
Latitude: 40.3857939, Longitude: -3.6071335

Row 623: No result found for address: Calle Jos� Tamayo, Madrid

Row 624: Address: Calle de Adolfo Marsillach, Madrid
Latitude: 40.3622778, Longitude: -3.5917795

Row 625: Address: Calle Poza de la Sal, Madrid
Latitude: 40.3778911, Longitude: -3.6071638

Row 626: No result found for address: Calle de C�sar Pastor Llopis, Madrid

Row 627: Address: Calle San Jaime, Madrid
Latitude: 40.3773673, Longitude: -3.6299546

Row 628: Address: Calle Puerto de Alazores, Madrid
Latitude: 40.3781256, Longitude: -3.6275436

Row 629: No result found for address: Urb. CERCANO A METRO LA GAVIA Y METRO CONGOSTO. CON PISCINA, Madrid

Row 630: Address: Calle de la Pueblanueva, 8, Madrid
Latitude: 40.371347, Longitude: -3.6101543

Row 631: No result found for address: Avenida de la Gran V�a del Sureste, Madrid

Row 632: Address: Calle Embalse de Valmayor, 10, Madrid
Latitude: 40.3637313, Longitude: -3.60222

Row 633: Address: Calle de Francisco de la Fuente, Madrid
Latitude: 40.3752185, Longitude: -3.6227674

Row 634: Address: Calle Corral de Almaguer, Madrid
Latitude: 40.3746457, Longitude: -3.6059763

Row 635: No result found for address: Calle de Jes�s del Pino, Madrid

Row 636: Address: SIERRA GADOR, Madrid
Latitude: 40.380597, Longitude: -3.6260531

Row 637: No result found for address: Avenida Gran V�a del Sureste, Madrid

Row 638: Address: Alameda del Valle, Madrid
Latitude: 40.9177178, Longitude: -3.8438216

Row 639: Address: Bulevar de la Naturaleza, Madrid
Latitude: 40.3695619, Longitude: -3.6306378

Row 640: Address: Calle de Palazuelos, Madrid
Latitude: 40.371455, Longitude: -3.6192519

Row 641: Address: Calle Sierra de Arla, Madrid
Latitude: 40.3707011, Longitude: -3.6189261

Row 642: No result found for address: Calle de Pe�a Ambote, Madrid

Row 643: Address: Calle Almonte, Madrid
Latitude: 40.372835, Longitude: -3.6314455

Row 644: Address: Calle de Puentelarra, Madrid
Latitude: 40.3803468, Longitude: -3.6103998

Row 645: Address: Plaza de la Convivencia, Madrid
Latitude: 40.3823614, Longitude: -3.614143

Row 646: No result found for address: Calle de Fuentidue�a, Madrid

Row 647: Address: Calle Mata del Agua, Madrid
Latitude: 40.3697654, Longitude: -3.6225879

Row 648: Address: Calle del Puerto de Galapagar, Madrid
Latitude: 40.3722882, Longitude: -3.6180394

Row 649: Address: Carretera de Villaverde a Vallecas, 293, Madrid
Latitude: 40.3669961, Longitude: -3.6542926

Row 650: No result found for address: Calle Embalse de Navacerrada con Gran V�a del Sureste s/n, Madrid

Row 651: Address: Calle Fresno de Cantespino, 15, Madrid
Latitude: 40.3746457, Longitude: -3.6059763

Row 652: Address: Calle sierra de palomeras, 35, Madrid
Latitude: 40.3919972, Longitude: -3.6596541

Row 653: No result found for address: Calle Cirilo Mart�nez novillo , 27, Madrid

Row 654: Address: Calle Rayo Vallecano, 95, Madrid
Latitude: 40.3735372, Longitude: -3.6140981

Row 655: No result found for address: Calle Entrepe�as, Madrid, Madrid

Row 656: Address: Calle de Amalia Marcos s/n, Madrid
Latitude: 40.3751013, Longitude: -3.6212145

Row 657: Address: Calle Arte Minimal s/n, Madrid
Latitude: 40.3563127, Longitude: -3.5888319

Row 658: Address: Calle Eduardo Chillida s/n, Madrid
Latitude: 40.5502094, Longitude: -3.3296177

Row 659: No result found for address: Calle Arte Conceptual esquina Eduardo Chillida esquina avenida Valdeculebras s/n, Madrid

Row 660: Error geocoding address 'Calle Virgen de las Vi�as, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Virgen+de+las+Vi%EF%BF%BDas%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 661: Address: Calle Puerto de las Pilas, Madrid
Latitude: 40.3790515, Longitude: -3.6269526

Row 662: Address: Calle Milmarcos, Madrid
Latitude: 40.3753728, Longitude: -3.6194528

Row 663: Address: Calle Arte Expresionista, Madrid
Latitude: 40.3616821, Longitude: -3.5884067

Row 664: Address: Alameda del Valle, 22, Madrid
Latitude: 40.9177178, Longitude: -3.8438216

Row 665: Address: Calle PUENTELARRA, Madrid
Latitude: 40.3803468, Longitude: -3.6103998

Row 666: No result found for address: Calle de Jos� Guti�rrez Maroto, Madrid

Row 667: No result found for address: Urb. JUNTO AL METRO VALDECARROS, SEMINUEVO, GARAJE, TRASTERO, PISCINA, Madrid

Row 668: Address: Calle Arte Minimal, Madrid
Latitude: 40.3563127, Longitude: -3.5888319

Row 669: Address: Calle Cerro del Murmullo, Madrid
Latitude: 40.3650865, Longitude: -3.5847203

Row 670: Address: Avenida de las Suertes, 55, Madrid
Latitude: 40.3665051, Longitude: -3.598167

Row 671: No result found for address: Calle Cardenal Vicente Enrique y Taranc�n, Madrid

Row 672: Address: Calle Sierra Morena, Madrid
Latitude: 40.3795003, Longitude: -3.6247368

Row 673: No result found for address: PE�A SORRAPIA, Madrid

Row 674: Address: Plaza de San Jaime, 9, Madrid
Latitude: 40.380968, Longitude: -3.6254945

Row 675: Address: Calle Sierra de Tortejada, Madrid
Latitude: 40.3718153, Longitude: -3.6177788

Row 676: Address: Puentelarra, Madrid
Latitude: 40.3809685, Longitude: -3.6113565

Row 677: Address: Avenida DE LA GAVIA, Madrid
Latitude: 40.3756282, Longitude: -3.609596

Row 678: No result found for address: Calle de Pe�a Veiga, Madrid

Row 679: Address: Calle del Puerto de Pozazal, 37, Madrid
Latitude: 40.3797465, Longitude: -3.633038

Row 680: Address: Calle Embalse de Valmayor, 29, Madrid
Latitude: 40.3637313, Longitude: -3.60222

Row 681: Address: Calle Adolfo Bioy Casares, 5, Madrid
Latitude: 40.5000693, Longitude: -3.3719518

Row 682: Address: Calle de Puentedey, 5, Madrid
Latitude: 40.3679778, Longitude: -3.6129934

Row 683: Address: Calle Puerto de Lumbreras, 31, Madrid
Latitude: 40.3815853, Longitude: -3.6195988

Row 684: No result found for address: Calle Esperanza Garc�a, Madrid

Row 685: Address: Calle Colmenar Viejo, Madrid
Latitude: 40.3754579, Longitude: -3.622253

Row 686: Address: Muela de San Juan, Madrid
Latitude: 40.3708842, Longitude: -3.6163713

Row 687: Address: Calle de la Pueblanueva, Madrid
Latitude: 40.371347, Longitude: -3.6101543

Row 688: Address: Calle de Villamayor de Santiago, Madrid
Latitude: 40.3759327, Longitude: -3.6107657

Row 689: Address: Avenida de Santa Eugenia, Madrid
Latitude: 40.3840514, Longitude: -3.6129925

Row 690: Address: SIERRA DEL BREZO, Madrid
Latitude: 40.3719734, Longitude: -3.6204907

Row 691: Address: HUELGA, Madrid
Latitude: 40.4934331, Longitude: -3.5467326

Row 692: Address: Calle de San Jaime, Madrid
Latitude: 40.3806493, Longitude: -3.6258016

Row 693: Address: Sierra Morena, Madrid
Latitude: 40.3795003, Longitude: -3.6247368

Row 694: Address: CERRO DEL MURMULLO, Madrid
Latitude: 40.3650865, Longitude: -3.5847203

Row 695: Address: Avenida Ensanche de Vallecas, Madrid
Latitude: 40.366823, Longitude: -3.6053342

Row 696: No result found for address: Avenida Real de Arganda, Madrid

Row 697: Address: Calle del Puerto de Porzuna, Madrid
Latitude: 40.3738964, Longitude: -3.6236215

Row 698: Address: Avenida Ensanche de Vallecas, 83, Madrid
Latitude: 40.3620706, Longitude: -3.5953069

Row 699: Address: Paseo DE VILLAMANRIQUE, Madrid
Latitude: 40.0674806, Longitude: -3.2383493

Row 700: Address: Calle de los Montes de Toledo, Madrid
Latitude: 40.3780959, Longitude: -3.6197938

Row 701: Address: Calle ZORITA DE LA FRONTERA, Madrid
Latitude: 40.3662526, Longitude: -3.6116623

Row 702: No result found for address: Avenida DEL ENSANCHE DE VALLECAS, Madrid

Row 703: Address: Calle Sierra de Bobia, Madrid
Latitude: 40.3712643, Longitude: -3.6231684

Row 704: Error geocoding address 'Calle de Pe�a Nueva, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Pe%EF%BF%BDa+Nueva%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 705: Address: Calle de Fuentespina, Madrid
Latitude: 40.3798034, Longitude: -3.605627

Row 706: Address: Avenida de las Suertes, Madrid
Latitude: 40.3665051, Longitude: -3.598167

Row 707: Address: Calle de Antonio Gades, 49, Madrid
Latitude: 40.36152705, Longitude: -3.596009747041882

Row 708: No result found for address: Calle Barranco del Novillo esq calle Puente del Arzobispo s/n, Madrid

Row 709: Address: Calle Canencia de La Sierra, 16, Madrid
Latitude: 40.7645871, Longitude: -3.7466047

Row 710: Address: Calle de Villamayor de Santiago, 11, Madrid
Latitude: 40.3759327, Longitude: -3.6107657

Row 711: No result found for address: Calle Pe�aranda de Bracamonte esquina Moratilla de Henares s/n, Madrid

Row 712: Address: Calle Muela de San Juan, 43, Madrid
Latitude: 40.3708842, Longitude: -3.6163713

Row 713: Address: Calle Embalse de Pinilla, 40, Madrid
Latitude: 40.9251263, Longitude: -3.8193504

Row 714: Error geocoding address 'Calle Virgen de las Vi�as, 10, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Virgen+de+las+Vi%EF%BF%BDas%2C+10%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 715: Address: Calle Poza de la Sal, 14, Madrid
Latitude: 40.3778911, Longitude: -3.6071638

Row 716: Address: Calle Puerto de las Pilas, 9, Madrid
Latitude: 40.378878400000005, Longitude: -3.6264105629859245

Row 717: No result found for address: Avenida de la Gran V�a del Sureste, 42, Madrid

Row 718: Address: Avenida Valdeculebras, 141, Madrid
Latitude: 40.3570532, Longitude: -3.5866084

Row 719: Address: Calle Rozas de Puerto Real, 8, Madrid
Latitude: 40.37634785, Longitude: -3.627847350000005

Row 720: Address: Calle de Puentelarra, 50, Madrid
Latitude: 40.3803468, Longitude: -3.6103998

Row 721: No result found for address: Avenida de la Gran V�a del Sureste, 29, Madrid

Row 722: Address: Carretera Villaverde a Vallecas, Madrid
Latitude: 40.37619735, Longitude: -3.632531076918604

Row 723: Address: Calle Fuentespina, Madrid
Latitude: 40.3798034, Longitude: -3.605627

Row 724: Address: Calle Puerto de Lumbreras, Madrid
Latitude: 40.3815853, Longitude: -3.6195988

Row 725: Error geocoding address 'Calle de Mar�a Teresa Le�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Mar%EF%BF%BDa+Teresa+Le%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 726: Address: Calle la Escuela de Vallecas, Madrid
Latitude: 40.3582595, Longitude: -3.5898898

Row 727: No result found for address: Calle Manuel V�lez, Madrid

Row 728: Address: Palazuelos, Madrid
Latitude: 40.371455, Longitude: -3.6192519

Row 729: Address: Calle DE PUENTEDEY, Madrid
Latitude: 40.3679778, Longitude: -3.6129934

Row 730: No result found for address: Calle de Jos� Guti�rrez Maroto, 29, Madrid

Row 731: No result found for address: Calle Embalse del Vell�n, Madrid

Row 732: Address: Cerro del Murmullo, Madrid
Latitude: 40.3650865, Longitude: -3.5847203

Row 733: Address: Calle TALAMANCA DEL JARAMA, Madrid
Latitude: 40.3675692, Longitude: -3.6193101

Row 734: Address: Calle ROZAS DE PUERTO REAL, Madrid
Latitude: 40.3762478, Longitude: -3.6273873

Row 735: Address: Calle Embalse de Navacerrada, Madrid
Latitude: 40.3630821, Longitude: -3.6030718

Row 736: Address: Calle Puerto de Benasque, Madrid
Latitude: 40.3776036, Longitude: -3.6233978

Row 737: Address: Calle Cabana, Madrid
Latitude: 40.3692951, Longitude: -3.6226557

Row 738: Address: Alameda del Valle, 23, Madrid
Latitude: 40.9177178, Longitude: -3.8438216

Row 739: Address: Alameda del valle, 21, Madrid
Latitude: 40.9177178, Longitude: -3.8438216

Row 740: No result found for address: Calle Embalse del Vell�n s/n, Madrid

Row 741: Address: CESAR PASTOR LLOPIS, Madrid
Latitude: 40.3831425, Longitude: -3.6163428

Row 742: Address: Calle Rozas de Puerto Real, Madrid
Latitude: 40.3762478, Longitude: -3.6273873

Row 743: No result found for address: Avenida del Ensanche de Vallecas, 83, Madrid

Row 744: No result found for address: Avenida del Ensanche de Vallecas, 85, Madrid

Row 745: Address: Avenida de las Suertes, 93, Madrid
Latitude: 40.3665051, Longitude: -3.598167

Row 746: Address: cerro del murmullo, Madrid
Latitude: 40.3650865, Longitude: -3.5847203

Row 747: Address: Calle Puerto de las Pilas, Madrid, Madrid
Latitude: 40.3790515, Longitude: -3.6269526

Row 748: Address: Calle Muela de San Juan, 23, Madrid
Latitude: 40.3708842, Longitude: -3.6163713

Row 749: Address: Avenida Cerro Milano, 141, Madrid
Latitude: 40.3594287, Longitude: -3.6020517

Row 750: Address: Calle del puerto de pozazal, 37, Madrid
Latitude: 40.3797465, Longitude: -3.633038

Row 751: Address: Calle Cerro del Murmullo, 13, Madrid
Latitude: 40.3645943, Longitude: -3.583358

Row 752: Address: Calle Talamanca del Jarama, 32, Madrid
Latitude: 40.36663849999999, Longitude: -3.621241329604055

Row 753: Address: Calle de Torre de Juan Abad, 2, Madrid
Latitude: 40.3706403, Longitude: -3.61692

Row 754: Address: Calle Villaluenga de la Sagra, 20, Madrid
Latitude: 40.3718347, Longitude: -3.6111459

Row 755: Address: Calle Sierra de Engarceran, 2, Madrid
Latitude: 40.37657715, Longitude: -3.623824168864471

Row 756: Address: Canencia de la Sierra, 25, Madrid
Latitude: 40.8174127, Longitude: -3.7634087

Row 757: Address: Calle de Puentelarra, 52, Madrid
Latitude: 40.3803468, Longitude: -3.6103998

Row 758: Address: Calle Sierra de Tornavacas, 9, Madrid
Latitude: 40.37832745, Longitude: -3.6275838349800003

Row 759: Address: Calle Felipe Alvarez, 20, Madrid
Latitude: 40.3824559, Longitude: -3.6200793

Row 760: Address: Calle de la Sierra del Torcal, 13, Madrid
Latitude: 40.3802186, Longitude: -3.6173317

Row 761: Address: Calle de la Gavia Seca, Madrid
Latitude: 40.3780959, Longitude: -3.6197938

Row 762: Address: Calle Cerro del Murmullo, 11, Madrid
Latitude: 40.3645943, Longitude: -3.583358

Row 763: Address: Camino de la Suerte, Madrid
Latitude: 40.3745778, Longitude: -3.6178627

Row 764: Address: Escuela de Vallecas, 16, Madrid
Latitude: 40.35985995, Longitude: -3.5888195261364695

Row 765: Address: Avenida de las suertes, 55, Madrid
Latitude: 40.3665051, Longitude: -3.598167

Row 766: Address: Avenida ensanche de vallecas, 67, Madrid
Latitude: 40.364342, Longitude: -3.6000038

Row 767: Address: Calle Manuel Cano, 12, Madrid
Latitude: 40.379998799999996, Longitude: -3.6236547747035077

Row 768: Address: Calle Adolfo Bioy Casares, 3, Madrid
Latitude: 40.5000693, Longitude: -3.3719518

Row 769: Address: Avenida Salmedina, 12, Madrid
Latitude: 40.36251815, Longitude: -3.604799614442356

Row 770: Address: Calle del Congosto, Madrid
Latitude: 40.3708489, Longitude: -3.6182034

Row 771: Address: Congosto, Madrid
Latitude: 40.3721977, Longitude: -3.6187268

Row 772: No result found for address: Sierra de Sabi�ar, Madrid

Row 773: No result found for address: Avenida del Ensanche de Vallecas, 87, Madrid

Row 774: No result found for address: Calle Pe�a Cervera, 1, Madrid

Row 775: Address: Avenida ensanche de Vallecas, 83 85, Madrid
Latitude: 40.366823, Longitude: -3.6053342

Row 776: Address: Avenida de la Gavia, 39, Madrid
Latitude: 40.3756282, Longitude: -3.609596

Row 777: Address: Calle de Puentelarra, 37, Madrid
Latitude: 40.379464799999994, Longitude: -3.6094114934456085

Row 778: Address: Avenida Villa de Vallecas, 22, Madrid
Latitude: 40.3693097, Longitude: -3.6194076

Row 779: Address: Calle Sierra de Guadalupe, 2, Madrid
Latitude: 40.3806396, Longitude: -3.6227052

Row 780: No result found for address: Avenida del ensanche de vallecas, 122, Madrid

Row 781: Address: Calle Pena Oville, 4, Madrid
Latitude: 40.373919, Longitude: -3.6204163

Row 782: Address: Calle la Revoltosa, 21, Madrid
Latitude: 40.3751013, Longitude: -3.6212145

Row 783: No result found for address: Avenida del Ensanche de Vallecas, 118, Madrid

Row 784: Address: Calle Poza de la Sal, 13 -15, Madrid
Latitude: 40.3778911, Longitude: -3.6071638

Row 785: Address: Calle de Palazuelos, 9, Madrid
Latitude: 40.371455, Longitude: -3.6192519

Row 786: Address: Calle Puerto de Alazores, 11, Madrid
Latitude: 40.3787903, Longitude: -3.6252508264708245

Row 787: Address: Avenida ensanche de Vallecas, 89, Madrid
Latitude: 40.366823, Longitude: -3.6053342

Row 788: No result found for address: Calle de Pe�as Largas, 15, Madrid

Row 789: Address: Calle fuentespina, 12, Madrid
Latitude: 40.3798034, Longitude: -3.605627

Row 790: Address: Calle Rozas de Puerto Real, 7, Madrid
Latitude: 40.3762711, Longitude: -3.627010375128708

Row 791: Address: Alameda del Valle, 21, Madrid
Latitude: 40.9177178, Longitude: -3.8438216

Row 792: Address: Calle Canencia de la Sierra, 29, Madrid
Latitude: 40.7645871, Longitude: -3.7466047

Row 793: Address: Calle Arte Expresionista, 24, Madrid
Latitude: 40.3616821, Longitude: -3.5884067

Row 794: Address: Calle Sierra de Tornavacas, 5, Madrid
Latitude: 40.37855955, Longitude: -3.627853576245455

Row 795: Address: Avenida de la Gavia, 35 A, Madrid
Latitude: 40.3756282, Longitude: -3.609596

Row 796: Address: Avenida de la Gavia, 14, Madrid
Latitude: 40.3756282, Longitude: -3.609596

Row 797: Address: Calle Felipe Alvarez, 22, Madrid
Latitude: 40.3824559, Longitude: -3.6200793

Row 798: No result found for address: Calle de Pe�a Sorrapia, 22, Madrid

Row 799: Address: Avenida Cerro Milano, 143, Madrid
Latitude: 40.3594287, Longitude: -3.6020517

Row 800: Address: Bulevar de la Naturaleza, 25, Madrid
Latitude: 40.37264645, Longitude: -3.6297712847370733

Row 801: Address: Calle Puerto de Alazores, 21, Madrid
Latitude: 40.378395600000005, Longitude: -3.6263905341261147

Row 802: Address: Puente del Arzobispo, 2, Madrid
Latitude: 40.3752329, Longitude: -3.6115196

Row 803: Address: Calle Fuentespina, 8, Madrid
Latitude: 40.3798034, Longitude: -3.605627

Row 804: Address: Calle de la Sierra de Palomeras, 29, Madrid
Latitude: 40.37631195, Longitude: -3.624329282336749

Row 805: No result found for address: Calle Sierra Engarcer�n, 8, Madrid

Row 806: Address: Calle Puerto de las Pilas, 8, Madrid
Latitude: 40.3790515, Longitude: -3.6269526

Row 807: Address: Real de Arganda, Madrid
Latitude: 40.3794437, Longitude: -3.6176329

Row 808: Address: Calle Puerto de Lumbreras, 26, Madrid
Latitude: 40.3813849, Longitude: -3.6191623

Row 809: No result found for address: Calle Santa Mar�a Salom�, Madrid

Row 810: No result found for address: Calle Felipe �lvarez, Madrid

Row 811: Address: Calle Diego Olivera Victorio, Madrid
Latitude: 40.383478, Longitude: -3.6138177

Row 812: Address: Calle Pena Ambote, Madrid
Latitude: 40.37599, Longitude: -3.622333

Row 813: Address: Rozas de Puerto Real, Madrid
Latitude: 40.3149028, Longitude: -4.4696526

Row 814: Address: Avenida de la Gavia, 36, Madrid
Latitude: 40.3756282, Longitude: -3.609596

Row 815: Address: Calle Pueblanueva, 8, Madrid
Latitude: 40.371347, Longitude: -3.6101543

Row 816: Address: Urb. MADRID, Madrid
Latitude: 40.6315058, Longitude: -3.9984165088347066

Row 817: Address: Calle Puerto de las Pilas, 13, Madrid
Latitude: 40.378545349999996, Longitude: -3.6260436737560484

Row 818: Address: Calle Fresno de Cantespino, 22, Madrid
Latitude: 40.3766972, Longitude: -3.6101283

Row 819: Address: Calle Paso de Villamanrique, Madrid
Latitude: 40.3778054, Longitude: -3.6230377

Row 820: Address: Carretera Villaverde a Vallecas, 295, Madrid
Latitude: 40.37619735, Longitude: -3.632531076918604

Row 821: Address: Calle del Puerto de Porzuna, 25, Madrid
Latitude: 40.3738964, Longitude: -3.6236215

Row 822: No result found for address: Avenida de la Gran V�a del Sureste, 25, Madrid

Row 823: Address: Adolfo Bioy Casares, 3 - 5 - 7, Madrid
Latitude: 40.3675232, Longitude: -3.5974455

Row 824: Address: Calle de Villamayor de Santiago, 13, Madrid
Latitude: 40.3759327, Longitude: -3.6107657

Row 825: No result found for address: Traves�a Sierra de Guadalupe, 9, Madrid

Row 826: No result found for address: Avenida del Ensanche de Vallecas, 102, Madrid

Row 827: Address: Avenida Cerro Milano, 139, Madrid
Latitude: 40.3594287, Longitude: -3.6020517

Row 828: No result found for address: Calle de Pe�a Cervera, 8, Madrid

Row 829: Address: Calle Eduardo Chillida, 219, Madrid
Latitude: 40.5502094, Longitude: -3.3296177

Row 830: No result found for address: Avenida del Ensanche de Vallecas, 38 - 1, Madrid

Row 831: No result found for address: Calle Pe�a Sorrapia, 43, Madrid

Row 832: Address: Calle Puerto de Lumbreras, 32, Madrid
Latitude: 40.381755600000005, Longitude: -3.619617235126589

Row 833: Address: Alameda del valle, 34, Madrid
Latitude: 40.9177178, Longitude: -3.8438216

Row 834: Address: Calle Talamanca del Jarama, 24, Madrid
Latitude: 40.36644105, Longitude: -3.6205032499999996

Row 835: No result found for address: Calle Pe�as Largas, 11, Madrid

Row 836: No result found for address: Calle Manuel V�lez, 13, Madrid

Row 837: No result found for address: Calle de Sierra G�dor, 7, Madrid

Row 838: No result found for address: Avenida de la Gran V�a del Sureste, 18, Madrid

Row 839: Address: Calle pena oville, 4, Madrid
Latitude: 40.373919, Longitude: -3.6204163

Row 840: Address: Calle Alameda del Valle, 22, Madrid
Latitude: 40.3668235, Longitude: -3.6224904

Row 841: No result found for address: Traves�a del Puerto de las Pilas, Madrid

Row 842: Address: Arte Conceptual, Madrid
Latitude: 40.3607306, Longitude: -3.5842999

Row 843: Error geocoding address 'PE�A NUEVA, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=PE%EF%BF%BDA+NUEVA%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 844: No result found for address: Calle FUENTIDUE�A, Madrid

Row 845: Address: Calle Sierra Morena, 31 -25, Madrid
Latitude: 40.3783683, Longitude: -3.6241418

Row 846: Address: Calle Puerto del Escudo, Madrid
Latitude: 40.5553683, Longitude: -3.9692466

Row 847: Address: Calle Puentedey, 5, Madrid
Latitude: 40.3679778, Longitude: -3.6129934

Row 848: Address: Calle Monte Aya, Madrid
Latitude: 40.3784305, Longitude: -3.6231131

Row 849: No result found for address: PE�A CAVERO, Madrid

Row 850: No result found for address: Traves�a GAVIA SECA, Madrid

Row 851: Address: Calle Milmarcos, 8, Madrid
Latitude: 40.3753728, Longitude: -3.6194528

Row 852: Address: Calle Puerto de Reinosa, 5, Madrid
Latitude: 40.3787467, Longitude: -3.6164632

Row 853: No result found for address: Calle de la Sierra de Sabi�ar, Madrid, Madrid

Row 854: Address: Avenida del cerro, 139, Madrid
Latitude: 40.43049685, Longitude: -3.800699090061453

Row 855: Address: Calle Monte de Montjuich, Madrid
Latitude: 40.3803193, Longitude: -3.616347

Row 856: Address: Carretera VILLAVERDE A VALLECAS, Madrid
Latitude: 40.37619735, Longitude: -3.632531076918604

Row 857: No result found for address: Calle de Fuentidue�a, 9, Madrid

Row 858: Address: puerto de pozazal, Madrid
Latitude: 40.3799082, Longitude: -3.6326013

Row 859: Address: Calle del Barranco del Novillo, Madrid
Latitude: 40.3739776, Longitude: -3.6154467

Row 860: Address: Calle del Barranco del Novillo, 35, Madrid
Latitude: 40.3739776, Longitude: -3.6154467

Row 861: No result found for address: Poligono UZP0103 Ensanche Vallecas, 173, Madrid

Row 862: Address: Calle Sierra de Bobia, 54, Madrid
Latitude: 40.3712643, Longitude: -3.6231684

Row 863: Address: Calle Cabeza Mesada, Madrid
Latitude: 40.376740049999995, Longitude: -3.6291607875639205

Row 864: Address: Calle de Sierra Gorda, Madrid
Latitude: 40.3810692, Longitude: -3.6179301

Row 865: Address: Calle Pena Rivera, 6 -10, Madrid
Latitude: 40.3737311, Longitude: -3.6214225

Row 866: Address: Calle Villamanta, 22, Madrid
Latitude: 40.36679355, Longitude: -3.6238840431982142

Row 867: Address: Avenida de la Gavia, 11, Madrid
Latitude: 40.3767862, Longitude: -3.6089368

Row 868: Address: Calle de la Princesa de Kapurtala, 13, Madrid
Latitude: 40.3657776, Longitude: -3.5901929

Row 869: Address: VILLAMAYOR DE SANTIAGO, Madrid
Latitude: 40.3738969, Longitude: -3.6066123

Row 870: Address: FRANCISCO FATOU, Madrid
Latitude: 40.3825737, Longitude: -3.6213418

Row 871: No result found for address: Calle Esperanza Garc�a, 21, Madrid

Row 872: Address: Avenida de la Gavia, Madrid
Latitude: 40.3756282, Longitude: -3.609596

Row 873: Address: Puente del Arzobispo, Madrid
Latitude: 40.3752329, Longitude: -3.6115196

Row 874: No result found for address: Calle de Entrepe�as, Madrid

Row 875: Address: Alameda del Valle, 20, Madrid
Latitude: 40.9177178, Longitude: -3.8438216

Row 876: No result found for address: Calle Sierra de G�dor, Madrid

Row 877: Address: Calle Puerto del Bruch, Madrid
Latitude: 40.3827788, Longitude: -3.618945

Row 878: Error geocoding address 'VIRGEN DE LAS VI�AS, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=VIRGEN+DE+LAS+VI%EF%BF%BDAS%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 879: Address: puentelarra, Madrid
Latitude: 40.3809685, Longitude: -3.6113565

Row 880: No result found for address: Calle de C�sar Pastor Llopis, 2, Madrid

Row 881: Address: Calle Real de Arganda, 17, Madrid
Latitude: 40.3794401, Longitude: -3.6160237

Row 882: Address: Avenida Ensanche de vallecas, 87, Madrid
Latitude: 40.366823, Longitude: -3.6053342

Row 883: Address: Calle Arte Conceptual, Madrid
Latitude: 40.3607306, Longitude: -3.5842999

Row 884: No result found for address: Avenida DE LA GRAN V�A DEL SURESTE, Madrid

Row 885: Address: Calle Sierra Morena, Madrid, 27, Madrid
Latitude: 40.37831095, Longitude: -3.6239433629897766

Row 886: Address: Calle Fresno de Cantespino, Madrid
Latitude: 40.3766972, Longitude: -3.6101283

Row 887: No result found for address: Traves�a Puerto de las Pilas B, Madrid

Row 888: Address: Calle de Honrubia, Madrid
Latitude: 40.3710274, Longitude: -3.6314329

Row 889: No result found for address: Calle de Pe�a Sorrapia, Madrid

Row 890: No result found for address: Calle Jos� Tamayo, 19, Madrid

Row 891: Address: Calle de Puentedey, Madrid
Latitude: 40.3679778, Longitude: -3.6129934

Row 892: Address: Avenida Ensanche de Vallecas, 47, Madrid
Latitude: 40.366823, Longitude: -3.6053342

Row 893: Address: Alameda del Valle, 42, Madrid
Latitude: 40.9177178, Longitude: -3.8438216

Row 894: No result found for address: Calle de la Sierra de Espu�a, Madrid

Row 895: No result found for address: Urb. CERCA DEL METRO LA GAVIA, Madrid

Row 896: Address: Avenida ENSANCHE DE VALLECAS, Madrid
Latitude: 40.366823, Longitude: -3.6053342

Row 897: Address: Embalse de Navacerrada, Madrid
Latitude: 40.71879855, Longitude: -4.00814143658001

Row 898: No result found for address: FUENTIDUE�A, Madrid

Row 899: Address: Calle de la Sierra de Palomeras, Madrid
Latitude: 40.3750349, Longitude: -3.6256439

Row 900: Address: Calle Virgen de los Remedios, Madrid
Latitude: 40.3039029, Longitude: -3.4445165

Row 901: Address: Carretera Villaverde a Vallecas, 293, Madrid
Latitude: 40.3669961, Longitude: -3.6542926

Row 902: Address: Arte Pop, Madrid, Madrid
Latitude: 40.3636961, Longitude: -3.5881369

Row 903: Address: Calle Pena de Oroel, Madrid
Latitude: 40.3770462, Longitude: -3.622327

Row 904: Address: Cabeza Mesada, 11, Madrid
Latitude: 40.376165650000004, Longitude: -3.628653031639682

Row 905: Address: Avenida Mayorazgo, Madrid
Latitude: 40.3730269, Longitude: -3.6374392

Row 906: Address: Calle de Antonio Gades, Madrid
Latitude: 40.3622628, Longitude: -3.5959043

Row 907: Address: Calle Sierra Vieja, Madrid
Latitude: 40.3772571, Longitude: -3.627796

Row 908: Address: Calle de la Sierra de Tornavacas, Madrid
Latitude: 40.3781256, Longitude: -3.6275436

Row 909: Address: Calle Embalse de Valmayor, 31, Madrid
Latitude: 40.3637313, Longitude: -3.60222

Row 910: Address: Calle de Puentelarra, 7, Madrid
Latitude: 40.3803468, Longitude: -3.6103998

Row 911: Address: cerro del murmullo, 13, Madrid
Latitude: 40.3645943, Longitude: -3.583358

Row 912: Address: Barranco del Novillo, Madrid
Latitude: 40.3739776, Longitude: -3.6154467

Row 913: Address: Calle Ordicia, Madrid
Latitude: 40.3666328, Longitude: -3.7143966

Row 914: Address: Calle de La Silvina, Madrid
Latitude: 40.3670027, Longitude: -3.6907576

Row 915: Address: Calle Periana, Madrid
Latitude: 40.3688877, Longitude: -3.6885011

Row 916: Address: Calle de Miramadrid, 6, Madrid
Latitude: 40.3814357, Longitude: -3.7061415

Row 917: Address: Avenida de Rafaela Ybarra, Madrid
Latitude: 40.3757163, Longitude: -3.712243

Row 918: Address: Calle de la Estafeta, 14, Madrid
Latitude: 40.3733742, Longitude: -3.6928051

Row 919: Address: Calle Cristo de Limpias, Madrid
Latitude: 40.3810675, Longitude: -3.7006396

Row 920: No result found for address: Calle San M�ximo, 23, Madrid

Row 921: Address: Calle de la Virgen de las Cruces, Madrid
Latitude: 40.3784518, Longitude: -3.6917027

Row 922: Address: Calle Pilarica, Madrid
Latitude: 40.40762, Longitude: -3.6028327

Row 923: No result found for address: Paseo de Santa Mar�a de la Cabeza, Madrid

Row 924: Address: Calle ADORA, Madrid
Latitude: 40.3692823, Longitude: -3.6885725

Row 925: Address: Calle Angelus, Madrid
Latitude: 40.3823926, Longitude: -3.7019399

Row 926: Address: Calle Tomelloso, Madrid
Latitude: 40.3807682, Longitude: -3.698819

Row 927: Address: Calle Dodge, Madrid
Latitude: 40.3655502, Longitude: -3.7097801

Row 928: Address: Calle Evangelios, Madrid
Latitude: 40.3831406, Longitude: -3.7008653

Row 929: Address: Calle Francisco Ruiz, Madrid
Latitude: 40.3821705, Longitude: -3.7039363

Row 930: No result found for address: Calle de Ricardo Beltr�n y R�zpide, Madrid

Row 931: Address: Calle de Ibarra, Madrid
Latitude: 40.4584355, Longitude: -3.594104

Row 932: No result found for address: Calle Nicol�s S�nchez, Madrid

Row 933: Address: Calle de Almendrales, Madrid
Latitude: 40.3862308, Longitude: -3.7003564

Row 934: Address: Calle Oligisto, Madrid
Latitude: 40.3654472, Longitude: -3.6857331

Row 935: Address: CORINDON, 12, Madrid
Latitude: 40.3673186, Longitude: -3.6885833

Row 936: Address: Calle DE LA SILVINA, 13, Madrid
Latitude: 40.3670027, Longitude: -3.6907576

Row 937: Address: Calle EDUARDO BARREIROS, 11, Madrid
Latitude: 40.3710127, Longitude: -3.6962347

Row 938: Address: Calle de La Silvina, 13, Madrid
Latitude: 40.3670027, Longitude: -3.6907576

Row 939: No result found for address: Calle de Antonio L�pez, Madrid

Row 940: Address: Calle Antonio Velasco Zazo, Madrid
Latitude: 40.3811101, Longitude: -3.7049022

Row 941: Address: RAMON LUJAN, Madrid
Latitude: 40.3849271, Longitude: -3.7043925

Row 942: Address: Calle Pirita, 10 -12, Madrid
Latitude: 40.3810283, Longitude: -3.6938173

Row 943: Address: Calle Piedrabuena, Madrid
Latitude: 40.382684, Longitude: -3.6989652

Row 944: Address: Calle Tomelloso, 43, Madrid
Latitude: 40.37997615, Longitude: -3.698210691130796

Row 945: Address: Calle Antonio Prieto, Madrid
Latitude: 40.3805382, Longitude: -3.713873

Row 946: Address: Calle de Ichaso, 34, Madrid
Latitude: 40.3705286, Longitude: -3.7171081

Row 947: Address: Calle de la Marquesa de Silvela, Madrid
Latitude: 40.386039, Longitude: -3.7142371

Row 948: No result found for address: Avenida de C�rdoba, 8, Madrid

Row 949: Address: Calle Arenaria, Madrid
Latitude: 40.3763295, Longitude: -3.7168943

Row 950: Address: Calle del Amor Hermoso, 55, Madrid
Latitude: 40.3835177, Longitude: -3.7035599

Row 951: Address: Calle Marina Vega, Madrid
Latitude: 40.3800815, Longitude: -3.7156994

Row 952: Address: Calle Cristo de la Victoria, Madrid
Latitude: 40.378936, Longitude: -3.7061335

Row 953: Address: Calle de Marcelo Usera, 19, Madrid
Latitude: 40.386887, Longitude: -3.7012421

Row 954: No result found for address: Avenida de C�rdoba, Madrid

Row 955: Address: Calle de Manuel Noya, Madrid
Latitude: 40.3897258, Longitude: -3.7112723

Row 956: Address: Calle de Oreja, Madrid
Latitude: 40.3696309, Longitude: -3.7178566

Row 957: No result found for address: Calle Jos� Anespere, Madrid

Row 958: No result found for address: Calle de Juan Espa�ol, Madrid

Row 959: Address: Calle Alerce s/n, Madrid
Latitude: 40.3664194, Longitude: -3.6954116

Row 960: Address: Calle del Amor Hermoso, Madrid
Latitude: 40.3835177, Longitude: -3.7035599

Row 961: Address: Calle Pilarica s/n, Madrid
Latitude: 40.40762, Longitude: -3.6028327

Row 962: Address: Calle de Madridejos, Madrid
Latitude: 40.384169, Longitude: -3.7097638

Row 963: No result found for address: Calle Mamerto L�pez, Madrid

Row 964: Address: Calle Olvido, Madrid
Latitude: 40.3612206, Longitude: -3.6982427

Row 965: Address: Calle del Alerce, 15, Madrid
Latitude: 40.3664194, Longitude: -3.6954116

Row 966: Address: Calle de Antonio Salvador, Madrid
Latitude: 40.3869145, Longitude: -3.6995001

Row 967: No result found for address: Calle Juan Zof�o, Madrid

Row 968: No result found for address: Avenida Cerro de los �ngeles, Madrid

Row 969: Address: CRISTO DE LA VICTORIA, Madrid
Latitude: 40.3804869, Longitude: -3.7035474

Row 970: Address: Calle Dodge, 2, Madrid
Latitude: 40.3659852, Longitude: -3.7099653

Row 971: Address: Ferroviarios, 5, Madrid
Latitude: 40.3489552, Longitude: -3.7150503

Row 972: Address: Perp�tua D�az s/n, Madrid
Latitude: 40.4167047, Longitude: -3.7035825

Row 973: Address: antonio lopez, Madrid
Latitude: 40.3952654, Longitude: -3.7104553

Row 974: Address: Calle de Guetaria, Madrid
Latitude: 40.366466, Longitude: -3.7155677

Row 975: Address: Calle Parque de la Paloma, 32, Madrid
Latitude: 40.3780529, Longitude: -3.7123696

Row 976: Address: Calle de Ferroviarios, Madrid
Latitude: 42.3311245, Longitude: -3.7000429

Row 977: Address: Calle Cristo de la Luz, Madrid
Latitude: 40.381928, Longitude: -3.7007046

Row 978: Address: santa maria de la cabeza, 153, Madrid
Latitude: 40.3910077, Longitude: -3.7087747

Row 979: No result found for address: Avenida de Andaluc�a, 32, Madrid

Row 980: No result found for address: Calle de Salasierra, Madrid

Row 981: No result found for address: Calle Nicol�s Godoy, Madrid

Row 982: Address: Calle Rutilo, 12, Madrid
Latitude: 40.3661082, Longitude: -3.6861967

Row 983: Address: Calle Luis de la Torre, Madrid
Latitude: 40.3821894, Longitude: -3.7094039

Row 984: No result found for address: Calle Jes�s del Gran Poder, Madrid

Row 985: Address: Calle de Ferroviarios, 58, Madrid
Latitude: 40.3833924, Longitude: -3.7047305

Row 986: Address: Calle General Marva, 43, Madrid
Latitude: 40.388969599999996, Longitude: -3.710007660458782

Row 987: Address: Calle Guadix, Madrid
Latitude: 40.3699654, Longitude: -3.7018926

Row 988: Address: Calle de Amparo Usera, Madrid
Latitude: 40.3875082, Longitude: -3.7035828

Row 989: Address: Calle de Marcelo Usera, 112, Madrid
Latitude: 40.3851675, Longitude: -3.7117133

Row 990: Address: Calle ichaso, Madrid
Latitude: 40.3705286, Longitude: -3.7171081

Row 991: No result found for address: Calle de Antonio L�pez, Madrid, Madrid

Row 992: Address: Calle de Moreja, Madrid
Latitude: 40.3677634, Longitude: -3.6988154

Row 993: No result found for address: Calle Albu�uelas, Madrid

Row 994: Address: Calle de Marcelo Usera, Madrid
Latitude: 40.3851675, Longitude: -3.7117133

Row 995: Address: Calle San Nicomedes, Madrid
Latitude: 40.3881511, Longitude: -3.7124958

Row 996: No result found for address: Calle San M�ximo, Madrid

Row 997: Address: Padre jose maria, Madrid
Latitude: 40.3669647, Longitude: -3.6990963

Row 998: No result found for address: Calle Isidra Jim�nez, Madrid

Row 999: Address: Calle Antonio Lopez, 137, Madrid
Latitude: 40.4542864, Longitude: -3.7996377

Row 1000: No result found for address: Calle de Juan Espa�ol, 61, Madrid

Row 1001: Address: Calle Ortiz Campos, 5, Madrid
Latitude: 40.3851303, Longitude: -3.7071334

Row 1002: Address: Calle de Alzola, Madrid
Latitude: 40.3681225, Longitude: -3.7127614

Row 1003: Address: Calle antonio lopez, Madrid
Latitude: 40.4542864, Longitude: -3.7996377

Row 1004: Address: Calle General Marva, 1, Madrid
Latitude: 40.387949750000004, Longitude: -3.7069608671009124

Row 1005: No result found for address: Calle del Teniente Compaired, Madrid

Row 1006: No result found for address: Calle Socu�llamos, Madrid

Row 1007: Address: Hermenegildo bielsa, Madrid
Latitude: 40.3903092, Longitude: -3.7030501

Row 1008: No result found for address: Calle de Antonio L�pez, 248, Madrid

Row 1009: No result found for address: Calle Nicol�s S�nchez, 80, Madrid

Row 1010: No result found for address: Calle Campot�jar, Madrid

Row 1011: Address: montana, Madrid
Latitude: 7.7558974, Longitude: -75.2518601

Row 1012: Address: Calle Dodge, 1, Madrid
Latitude: 40.3659843, Longitude: -3.7095837

Row 1013: No result found for address: Calle Corind�n, 12, Madrid

Row 1014: Address: Calle Cristo de la Victoria, 173, Madrid
Latitude: 40.378936, Longitude: -3.7061335

Row 1015: Address: Calle Periana, 18, Madrid
Latitude: 40.366932, Longitude: -3.6880074

Row 1016: No result found for address: Calle Gumersindo Azc�rate, Madrid

Row 1017: No result found for address: Calle Santa Mar�a Reina, 7, Madrid

Row 1018: Address: Calle de Carabelos, Madrid
Latitude: 40.3759464, Longitude: -3.6903933

Row 1019: Address: Calle de Santa Cruz de Mudela, Madrid, 5, Madrid
Latitude: 40.3847373, Longitude: -3.698687022380148

Row 1020: Address: Plaza de las Asambleas, Madrid
Latitude: 40.368286299999994, Longitude: -3.708093675015033

Row 1021: Address: Jesus del gran poder, Madrid
Latitude: 40.3886099, Longitude: -3.7028914

Row 1022: Address: sanchez nicolas, Madrid
Latitude: 40.3832768, Longitude: -3.7058932

Row 1023: Address: Periana, Madrid
Latitude: 40.3688877, Longitude: -3.6885011

Row 1024: Address: Calle Tolosa, Madrid
Latitude: 40.3731934, Longitude: -3.7157207

Row 1025: No result found for address: Nicol�s Usera, 118, Madrid

Row 1026: Address: Calle Moreja, Madrid
Latitude: 40.3677634, Longitude: -3.6988154

Row 1027: Address: Calle Torrox, Madrid
Latitude: 40.3685296, Longitude: -3.6876471

Row 1028: Address: Plaza Campo de Criptana, Madrid
Latitude: 40.3819248, Longitude: -3.698579876420239

Row 1029: Address: Calle Tolosa, 24, Madrid
Latitude: 40.3731934, Longitude: -3.7157207

Row 1030: Address: Plaza Promesas, 6, Madrid
Latitude: 40.36924045, Longitude: -3.705827

Row 1031: Address: Calle del Alerce, 21, Madrid
Latitude: 40.3664194, Longitude: -3.6954116

Row 1032: Address: Calle Leiza, 113, Madrid
Latitude: 40.3708027, Longitude: -3.7139595

Row 1033: Address: Calle San Fortunato, 1, Madrid
Latitude: 40.3737137, Longitude: -3.6891788

Row 1034: Address: Calle Pilarica, 17, Madrid
Latitude: 40.40762, Longitude: -3.6028327

Row 1035: Address: Carrascales, Madrid
Latitude: 40.3815088, Longitude: -3.7081085

Row 1036: No result found for address: Calle de San Mag�n, Madrid

Row 1037: Address: Calle San Antonio de Padua, 37, Madrid
Latitude: 40.5003391, Longitude: -4.2337938

Row 1038: Address: FELIPE CASTRO, 16, Madrid
Latitude: 40.3845359, Longitude: -3.7064171

Row 1039: Address: Felipe Castro, 16, Madrid
Latitude: 40.3845359, Longitude: -3.7064171

Row 1040: Address: Calle de Felipe Castro, 16, Madrid
Latitude: 40.3845359, Longitude: -3.7064171

Row 1041: No result found for address: Calle D�rcal, 18, Madrid

Row 1042: No result found for address: Calle del Cristo de la Fe, Madrid

Row 1043: Address: marquesa de silvela, Madrid
Latitude: 40.386039, Longitude: -3.7142371

Row 1044: No result found for address: Calle de Nicol�s Usera, Madrid

Row 1045: Address: Avenida del Manzanares, Madrid
Latitude: 40.3891065, Longitude: -3.6990711

Row 1046: No result found for address: Calle del Quince de Agosto, 8, Madrid

Row 1047: Address: antonio prieto, Madrid
Latitude: 40.3805382, Longitude: -3.713873

Row 1048: Address: Juan Salas, Madrid
Latitude: 40.3804398, Longitude: -3.7072822

Row 1049: Address: Calle de Guetaria, 78, Madrid
Latitude: 40.366466, Longitude: -3.7155677

Row 1050: No result found for address: Calle de Salvador Mart�nez, Madrid

Row 1051: Address: Calle de Ferroviarios, 86, Madrid
Latitude: 40.3833924, Longitude: -3.7047305

Row 1052: Address: Avenida Rafaela Ybarra, Madrid
Latitude: 40.373838, Longitude: -3.7124224

Row 1053: Address: Calle Ordicia, 11, Madrid
Latitude: 40.3666328, Longitude: -3.7143966

Row 1054: Address: Calle de eduardo barreiros, 3, Madrid
Latitude: 40.3710127, Longitude: -3.6962347

Row 1055: Address: Calle Gabriel Usera, 38, Madrid
Latitude: 40.3830889, Longitude: -3.7083656

Row 1056: Address: rafaela ybarra, 42, Madrid
Latitude: 40.3732162, Longitude: -3.7119904

Row 1057: Address: Calle Quince de Agosto, 16, Madrid
Latitude: 40.3871926, Longitude: -3.7115236

Row 1058: Address: Calle de la Verja, 14, Madrid
Latitude: 40.3822152, Longitude: -3.7147997

Row 1059: Address: Calle de la Mezquita, Madrid
Latitude: 40.3736646, Longitude: -3.690696

Row 1060: No result found for address: Calle Campot�jar, 24, Madrid

Row 1061: Address: Calle de Guetaria, 102 -116, Madrid
Latitude: 40.366466, Longitude: -3.7155677

Row 1062: Address: Calle del Ginebro, 14, Madrid
Latitude: 40.3660893, Longitude: -3.696192

Row 1063: Address: Calle Gran Avenida, 27, Madrid
Latitude: 40.3695963, Longitude: -3.7048138

Row 1064: No result found for address: Calle Antonio L�pez, 169, Madrid

Row 1065: Address: Calle de Guetaria, 71, Madrid
Latitude: 40.366466, Longitude: -3.7155677

Row 1066: Address: Calle de Guetaria, 104, Madrid
Latitude: 40.366466, Longitude: -3.7155677

Row 1067: Address: Calle de Ferroviarios, 108, Madrid
Latitude: 40.3833924, Longitude: -3.7047305

Row 1068: Address: Calle de Marina Usera, 13, Madrid
Latitude: 40.3814409, Longitude: -3.7137977

Row 1069: No result found for address: Calle Primitiva Ga��n, 7, Madrid

Row 1070: Address: Calle Oligisto, 10, Madrid
Latitude: 40.3654472, Longitude: -3.6857331

Row 1071: Address: Calle de Marcelo Usera, 64, Madrid
Latitude: 40.386156150000005, Longitude: -3.7044947207785937

Row 1072: No result found for address: Antonio L�pez, Madrid

Row 1073: No result found for address: Calle de Antonio L�pez, 140, Madrid

Row 1074: Address: Calle de Almendrales, 35, Madrid
Latitude: 40.386027, Longitude: -3.7001095688144323

Row 1075: Address: Calle Marcelo Usera, 55, Madrid
Latitude: 40.3853441, Longitude: -3.7101859

Row 1076: Address: Calle Gumersinda Rosillo, 6, Madrid
Latitude: 40.38596305, Longitude: -3.7079095150964685

Row 1077: No result found for address: Calle Francisco Ru�z, 18, Madrid

Row 1078: No result found for address: Calle del Corind�n, Madrid

Row 1079: Address: Calle FERROVIARIOS, Madrid
Latitude: 40.3833924, Longitude: -3.7047305

Row 1080: Address: ISABELITA USERA, Madrid
Latitude: 40.3822338, Longitude: -3.7076201

Row 1081: No result found for address: Av Cerro de los �ngeles, Madrid, Madrid

Row 1082: Address: Calle de Dolores Barranco, Madrid
Latitude: 40.3833828, Longitude: -3.7029106

Row 1083: No result found for address: Calle de Antonio L�pez, 217 -219, Madrid

Row 1084: No result found for address: Avenida Cerro de los �ngeles, 13, Madrid

Row 1085: Address: Calle de Isabelita Usera, Madrid
Latitude: 40.3822338, Longitude: -3.7076201

Row 1086: Address: Calle de Oreja, 1, Madrid
Latitude: 40.3696309, Longitude: -3.7178566

Row 1087: No result found for address: Calle del Corind�n, 19, Madrid

Row 1088: Address: Calle Olvido, 125, Madrid
Latitude: 40.3554526, Longitude: -3.7008502

Row 1089: Address: Calle del Parque de la Paloma, 1, Madrid
Latitude: 40.3780529, Longitude: -3.7123696

Row 1090: No result found for address: Calle del Corind�n, 15, Madrid

Row 1091: No result found for address: Calle Mamerto L�pez, 22, Madrid

Row 1092: Address: Calle de Gabriel Ruiz, 22, Madrid
Latitude: 40.3847903, Longitude: -3.7073768

Row 1093: Address: Calle Taconera, 8, Madrid
Latitude: 40.3713208, Longitude: -3.6917156

Row 1094: Address: Calle San Casimiro, 7, Madrid
Latitude: 40.3875442, Longitude: -3.711485

Row 1095: No result found for address: Calle Antonio L�pez, 114, Madrid

Row 1096: No result found for address: Calle Nicol�s S�nchez, 65, Madrid

Row 1097: Address: Calle de Madridejos, 10, Madrid
Latitude: 40.38573045, Longitude: -3.7106409437802546

Row 1098: Address: Avenida de cordoba, Madrid
Latitude: 40.3839991, Longitude: -3.6982203

Row 1099: No result found for address: Calle de Ram�n Luj�n, Madrid

Row 1100: Address: Calle Ferroviarios, 47, Madrid
Latitude: 40.3845181, Longitude: -3.7047454297907487

Row 1101: Address: Calle Ortiz Campos, Madrid
Latitude: 40.3851603, Longitude: -3.7074025

Row 1102: No result found for address: Urb. calle Estafeta, Madrid

Row 1103: Address: Calle de Antonio Salvador, 70, Madrid
Latitude: 40.3869145, Longitude: -3.6995001

Row 1104: Address: Camino de Perales, Madrid
Latitude: 40.3785353, Longitude: -3.6908025

Row 1105: Address: carrascales, Madrid
Latitude: 40.3815088, Longitude: -3.7081085

Row 1106: Address: Calle Dodge, 3, Madrid
Latitude: 40.3651143, Longitude: -3.7095784

Row 1107: Address: Calle Ordicia, 25, Madrid
Latitude: 40.3666328, Longitude: -3.7143966

Row 1108: Address: Calle de Fermin Donaire, 25, Madrid
Latitude: 40.3796722, Longitude: -3.7144201

Row 1109: Address: Calle Cristo de la Victoria, 113, Madrid
Latitude: 40.378936, Longitude: -3.7061335

Row 1110: Address: Calle Ordicia, 27, Madrid
Latitude: 40.366511599999995, Longitude: -3.713809183858627

Row 1111: Address: Calle de Ferroviarios, 65, Madrid
Latitude: 40.383723849999996, Longitude: -3.704607485717407

Row 1112: No result found for address: Calle Jes�s del Gran Poder, 7, Madrid

Row 1113: Address: Avenida los Rosales, 16, Madrid
Latitude: 40.3673083, Longitude: -3.691328

Row 1114: No result found for address: Calle Jes�s del Gran Poder, 10, Madrid

Row 1115: Address: Calle Horizon, 1, Madrid
Latitude: 40.3659785, Longitude: -3.7085021

Row 1116: Address: Calle de Cocheros, 4, Madrid
Latitude: 40.3837223, Longitude: -3.7096179

Row 1117: No result found for address: Calle de Salasierra, 3, Madrid

Row 1118: No result found for address: Calle Gumersindo Azc�rate, 29, Madrid

Row 1119: Address: Calle de Elisa, 2, Madrid
Latitude: 40.3870077, Longitude: -3.7098057

Row 1120: Address: Calle de Amparo Usera, 40 -42, Madrid
Latitude: 40.3875082, Longitude: -3.7035828

Row 1121: Address: Hermenegildo Bielsa, Madrid
Latitude: 40.3903092, Longitude: -3.7030501

Row 1122: Address: Calle de Ernestina Manuel de Villena, Madrid
Latitude: 40.3906004, Longitude: -3.7068279

Row 1123: Error geocoding address 'Calle Santa Mar�a Reina, 15, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Santa+Mar%EF%BF%BDa+Reina%2C+15%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1124: No result found for address: Calle Nicol�s S�nchez, 77, Madrid

Row 1125: No result found for address: Nicol�s S�nchez, 121, Madrid

Row 1126: No result found for address: Calle de Antonio L�pez, 174, Madrid

Row 1127: Address: Camino de Perales, 8, Madrid
Latitude: 40.3785353, Longitude: -3.6908025

Row 1128: Address: Calle de la Marquesa de Silvela, 14, Madrid
Latitude: 40.386039, Longitude: -3.7142371

Row 1129: Address: Calle de Madridejos, 56, Madrid
Latitude: 40.384169, Longitude: -3.7097638

Row 1130: Address: Calle General Marva, 12, Madrid
Latitude: 40.3887591, Longitude: -3.7090248

Row 1131: No result found for address: Calle Jes�s del Gran Poder, 13, Madrid

Row 1132: Address: Calle Cristo de Lepanto, 1, Madrid
Latitude: 40.3814092, Longitude: -3.6997862914405

Row 1133: Address: Plaza Promesas, 1, Madrid
Latitude: 40.36924045, Longitude: -3.705827

Row 1134: No result found for address: Calle San M�ximo, 21, Madrid

Row 1135: No result found for address: Calle M�ximo Carazo, 1, Madrid

Row 1136: Address: Calle de Isabelita Usera, 18, Madrid
Latitude: 40.3822338, Longitude: -3.7076201

Row 1137: Address: Calle Olvido, 72, Madrid
Latitude: 40.3554526, Longitude: -3.7008502

Row 1138: Address: Calle del Jaspe, 18, Madrid
Latitude: 40.38136, Longitude: -3.7068777

Row 1139: Address: Calle de Ferroviarios, 103, Madrid
Latitude: 40.3833924, Longitude: -3.7047305

Row 1140: Address: Calle San Nicomedes, 23, Madrid
Latitude: 40.3881511, Longitude: -3.7124958

Row 1141: Address: Calle De Silvio Abad, 35, Madrid
Latitude: 40.3809189, Longitude: -3.7138754

Row 1142: No result found for address: Paseo de Santa Mar�a de la Cabeza, 173, Madrid

Row 1143: Address: Calle de La Silvina, 19, Madrid
Latitude: 40.3670027, Longitude: -3.6907576

Row 1144: No result found for address: Calle Socu�llamos, 4, Madrid

Row 1145: Address: Calle Cristo de Lepanto, 4, Madrid
Latitude: 40.3809226, Longitude: -3.7009251

Row 1146: Error geocoding address 'Calle Santa Mar�a Reina, 6, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Santa+Mar%EF%BF%BDa+Reina%2C+6%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1147: Address: Calle Silvina, 19, Madrid
Latitude: 40.3670027, Longitude: -3.6907576

Row 1148: Address: Rutilo, 13, Madrid
Latitude: 40.3661028, Longitude: -3.686701

Row 1149: Address: Calle Marina Usera, 38, Madrid
Latitude: 40.3813479, Longitude: -3.713878

Row 1150: Address: Calle Esmeralda, 19, Madrid
Latitude: 40.60724865, Longitude: -4.032186207006834

Row 1151: No result found for address: Plaza de las Asambleas 11 2 B, 11, Madrid

Row 1152: Address: Calle Cristo de la Victoria, 201, Madrid
Latitude: 40.378936, Longitude: -3.7061335

Row 1153: Address: Calle de Ferroviarios, 70, Madrid
Latitude: 40.3833924, Longitude: -3.7047305

Row 1154: Address: Avenida de Rafaela Ybarra, 2, Madrid
Latitude: 40.3757163, Longitude: -3.712243

Row 1155: Address: Calle Dolores Barranco, 18, Madrid
Latitude: 40.3833828, Longitude: -3.7029106

Row 1156: Address: Calle estafeta, 8, Madrid
Latitude: 40.3740488, Longitude: -3.6933236660330824

Row 1157: Address: Calle Quince de Agosto, Madrid, Madrid
Latitude: 40.3871926, Longitude: -3.7115236

Row 1158: Address: Avenida de Rafaela Ybarra, Madrid, Madrid
Latitude: 40.3757163, Longitude: -3.712243

Row 1159: Address: Calle Tomelloso, 63, Madrid
Latitude: 40.37911435, Longitude: -3.699820188344142

Row 1160: No result found for address: Calle de Nicol�s Usera, 22, Madrid

Row 1161: Address: Calle de Gainza, 211, Madrid
Latitude: 40.36840185, Longitude: -3.7176590000000003

Row 1162: Address: Calle Cristo de la Victoria, 237, Madrid
Latitude: 40.3787147, Longitude: -3.7071301811597066

Row 1163: Address: Avenida Gran, Madrid
Latitude: 40.420446, Longitude: -3.7038239

Row 1164: Address: Calle de Fermin Donaire, Madrid
Latitude: 40.3796722, Longitude: -3.7144201

Row 1165: Address: Calle de Santa Cruz de Mudela, Madrid
Latitude: 40.3841149, Longitude: -3.6992009

Row 1166: Address: Calle gran avenida, 12, Madrid
Latitude: 40.3695963, Longitude: -3.7048138

Row 1167: Address: Calle Adora, Madrid
Latitude: 40.3692823, Longitude: -3.6885725

Row 1168: Address: Calle Taconera, Madrid
Latitude: 40.3713208, Longitude: -3.6917156

Row 1169: Address: Calle de Isabelita Usera, 25, Madrid
Latitude: 40.3822338, Longitude: -3.7076201

Row 1170: Address: Calle Alajate, 5, Madrid
Latitude: 40.3691635, Longitude: -3.6915019

Row 1171: Address: Avenida Orcasur, 5, Madrid
Latitude: 40.3693956, Longitude: -3.6999406

Row 1172: Address: Calle Mirasierra, 37, Madrid
Latitude: 40.389537, Longitude: -3.7054752

Row 1173: No result found for address: Paseo de Santa Mar�a de la Cabeza, 101, Madrid

Row 1174: No result found for address: Calle Mar�a Antonia, Madrid

Row 1175: Address: Calle Julio Aguirre, 1, Madrid
Latitude: 40.3862031, Longitude: -3.6999134

Row 1176: Address: Calle Barranca, 25, Madrid
Latitude: 19.3385876, Longitude: -98.9997895

Row 1177: No result found for address: Calle ZONA ZOF�O, Madrid

Row 1178: Address: Cereza, Madrid
Latitude: 40.3817972, Longitude: -3.7122627

Row 1179: Address: Calle Torcal, Madrid, Madrid
Latitude: 40.3802186, Longitude: -3.6173317

Row 1180: No result found for address: Calle de Ram�n Luj�n, Madrid, Madrid

Row 1181: No result found for address: Calle Asunci�n, 24, Madrid

Row 1182: Address: Olvido, 101, Madrid
Latitude: 40.3612206, Longitude: -3.6982427

Row 1183: Address: Calle del Parque de la Paloma, Madrid
Latitude: 40.3780529, Longitude: -3.7123696

Row 1184: Address: Calle de Guetaria, 108, Madrid
Latitude: 40.366466, Longitude: -3.7155677

Row 1185: Address: Calle Gainza, 323, Madrid
Latitude: 40.3687371, Longitude: -3.7188077

Row 1186: Address: Calle Cristo de la Victoria, 103, Madrid
Latitude: 40.378936, Longitude: -3.7061335

Row 1187: No result found for address: Calle Mar�a Antonia, 9, Madrid

Row 1188: Address: Calle Periana, 7, Madrid
Latitude: 40.3681375, Longitude: -3.6880929

Row 1189: No result found for address: Urb. Jardines de Ybarra, Madrid

Row 1190: Address: Calle de la Estafeta, Madrid
Latitude: 40.3744377, Longitude: -3.6924662

Row 1191: Address: Calle Monederos s/n, Madrid
Latitude: 40.3889127, Longitude: -3.7022745

Row 1192: No result found for address: Calle Mar�a Antonia s/n, Madrid

Row 1193: Address: Santa Maria Reina, Madrid
Latitude: 40.3702729, Longitude: -3.697714

Row 1194: Address: Calle De Silvio Abad, Madrid
Latitude: 40.3809189, Longitude: -3.7138754

Row 1195: Address: san magin, Madrid
Latitude: 40.3840492, Longitude: -3.7157667

Row 1196: No result found for address: Calle san fermin - orcasur, Madrid

Row 1197: Address: Guetaria, Madrid
Latitude: 40.366466, Longitude: -3.7155677

Row 1198: Address: Calle Juan Zofio, Madrid
Latitude: 40.3813472, Longitude: -3.7149333

Row 1199: No result found for address: Calle M�ximo Carazo, 7, Madrid

Row 1200: No result found for address: Calle de Antonio L�pez, 115, Madrid

Row 1201: Address: Urb. cartagena, Madrid
Latitude: 37.640031, Longitude: -0.991639

Row 1202: No result found for address: Avenida de C�rdoba, 9, Madrid

Row 1203: Error geocoding address 'Calle Luis de la Torre, 15, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Luis+de+la+Torre%2C+15%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1204: Address: Calle de Antequera, Madrid
Latitude: 40.3691339, Longitude: -3.6920286

Row 1205: No result found for address: Mamerto L�pez, Madrid

Row 1206: Address: Camino de Perales, 48, Madrid
Latitude: 40.379768600000006, Longitude: -3.690220611211957

Row 1207: No result found for address: Calle de Antonio L�pez, 195, Madrid

Row 1208: Address: Calle Esmeralda, 10, Madrid
Latitude: 40.607594250000005, Longitude: -4.03279550918079

Row 1209: Address: Calle Tomelloso, 45, Madrid
Latitude: 40.380036849999996, Longitude: -3.6986383748387337

Row 1210: Address: Calle de La Silvina, 23, Madrid
Latitude: 40.3670027, Longitude: -3.6907576

Row 1211: Address: Calle Rutilo, Madrid
Latitude: 40.3661028, Longitude: -3.686701

Row 1212: Address: Calle Periana, 24, Madrid
Latitude: 40.3688877, Longitude: -3.6885011

Row 1213: No result found for address: Paseo de Santa Mar�a de la Cabeza, 145, Madrid

Row 1214: Address: Calle Gabriel Usera, 58, Madrid
Latitude: 40.3830889, Longitude: -3.7083656

Row 1215: Address: Calle de La Silvina, Madrid, Madrid
Latitude: 40.3670027, Longitude: -3.6907576

Row 1216: No result found for address: Calle San M�ximo, 15, Madrid

Row 1217: No result found for address: Paseo de Santa Mar�a de la Cabeza, 159, Madrid

Row 1218: Address: RICARDO BELTRAN Y ROZPIDE, Madrid
Latitude: 40.3794469, Longitude: -3.7179967

Row 1219: Address: Calle de Beasain, Madrid
Latitude: 40.3670576, Longitude: -3.7155722

Row 1220: No result found for address: Plaza El�ptica, Madrid

Row 1221: Address: Calle Centeno, Madrid, Madrid
Latitude: 40.3793928, Longitude: -3.7145287

Row 1222: No result found for address: MANUEL MU�OZ, 6, Madrid

Row 1223: Address: Calle de la Marquesa de Silvela, 3, Madrid
Latitude: 40.386039, Longitude: -3.7142371

Row 1224: Address: Calle San Antonio de Padua, 17, Madrid
Latitude: 40.5003391, Longitude: -4.2337938

Row 1225: Address: Calle Calle De Silvio Abad, Madrid
Latitude: 40.3809189, Longitude: -3.7138754

Row 1226: Address: Calle Cereza, Madrid
Latitude: 40.3817972, Longitude: -3.7122627

Row 1227: Address: Calle Isabelita Usera, 80, Madrid
Latitude: 40.3822338, Longitude: -3.7076201

Row 1228: Address: Avenida manzanares, Madrid
Latitude: 40.3991999, Longitude: -3.7192022

Row 1229: Address: Calle Casarabonela, Madrid
Latitude: 40.3682254, Longitude: -3.6888198

Row 1230: Address: Calle Tomelloso, 57, Madrid
Latitude: 40.37940935, Longitude: -3.6990629547350506

Row 1231: Address: Calle del Cerro Blanco, Madrid
Latitude: 40.3813592, Longitude: -3.7160867

Row 1232: Address: Ordicia, Madrid
Latitude: 40.3666328, Longitude: -3.7143966

Row 1233: Address: Amor Hermoso, Madrid
Latitude: 40.3835177, Longitude: -3.7035599

Row 1234: Address: Urb. MADRID RIO, Madrid
Latitude: 36.7324311, Longitude: -3.6884975

Row 1235: Address: Calle Encierros, Madrid
Latitude: 40.3709011, Longitude: -3.7068124

Row 1236: No result found for address: Calle de Salasierra, 1, Madrid

Row 1237: Address: Calle de Almendrales, 19, Madrid
Latitude: 40.3862308, Longitude: -3.7003564

Row 1238: Address: Calle Oligisto, 32, Madrid
Latitude: 40.3656264, Longitude: -3.6858063

Row 1239: Address: Calle del Alerce, Madrid
Latitude: 40.3664194, Longitude: -3.6954116

Row 1240: Address: Calle del Santuario, Madrid
Latitude: 40.3848913, Longitude: -3.7000065

Row 1241: Address: Calle San Fortunato, Madrid
Latitude: 40.3737137, Longitude: -3.6891788

Row 1242: Address: Simca, Madrid
Latitude: 40.3664586, Longitude: -3.7056219

Row 1243: Address: Calle MARCELO USERA, Madrid
Latitude: 40.3853441, Longitude: -3.7101859

Row 1244: Address: MARCELO USERA, Madrid
Latitude: 40.3853441, Longitude: -3.7101859

Row 1245: Address: Plaza ELIPTICA, Madrid
Latitude: 40.3853557, Longitude: -3.7178747

Row 1246: No result found for address: Calle Gumersindo Azc�rate, 32 -50, Madrid

Row 1247: Address: SAN BASILIO, Madrid
Latitude: 40.3803723, Longitude: -3.7078858

Row 1248: Address: Plaza PROMESAS, Madrid
Latitude: 40.3684794, Longitude: -3.706168825

Row 1249: Address: Calle Maracena, Madrid
Latitude: 40.3696371, Longitude: -3.697587

Row 1250: Address: Tomelloso, Madrid
Latitude: 40.38008605, Longitude: -3.699364051951597

Row 1251: No result found for address: Paseo Santa Mar�a de la Cabeza, Madrid

Row 1252: Address: Calle de La Silvina, 9, Madrid
Latitude: 40.3670027, Longitude: -3.6907576

Row 1253: Address: Calle de Manuel Noya, 18, Madrid
Latitude: 40.3897258, Longitude: -3.7112723

Row 1254: Address: Calle San Fortunato, 21, Madrid
Latitude: 40.3737137, Longitude: -3.6891788

Row 1255: Address: Calle Estafeta, Madrid
Latitude: 40.3744377, Longitude: -3.6924662

Row 1256: Address: Avenida de Cordoba, Madrid
Latitude: 40.3839991, Longitude: -3.6982203

Row 1257: Address: Mijo, Madrid
Latitude: 40.3771144, Longitude: -3.7169009

Row 1258: Address: Calle de la Verja, 28, Madrid
Latitude: 40.38208775, Longitude: -3.7136484776385292

Row 1259: No result found for address: Calle Gonz�lez Arias, 10, Madrid

Row 1260: Address: Calle Isabelita Usera, 60, Madrid
Latitude: 40.3822338, Longitude: -3.7076201

Row 1261: Address: Calle Antonio Lopez, 195, Madrid
Latitude: 40.3724559, Longitude: -3.481497

Row 1262: No result found for address: Calle Perpetua D�az, Madrid

Row 1263: Address: Calle Pradolonguillo, Madrid
Latitude: 40.3681888, Longitude: -3.7091137

Row 1264: No result found for address: Calle de Hermenegildo Bielsa, Madrid

Row 1265: No result found for address: Paseo Santa Mar�a de la Cabeza, 147, Madrid

Row 1266: Address: Calle de Gabriel Ruiz, Madrid
Latitude: 40.3847903, Longitude: -3.7073768

Row 1267: Address: Calle San Basilio, Madrid
Latitude: 40.3798374, Longitude: -3.7077913

Row 1268: No result found for address: Urb. CERRADA CON VIGILANCIA 24H, Madrid

Row 1269: Address: Calle marcelo usera s/n, Madrid
Latitude: 40.3853441, Longitude: -3.7101859

Row 1270: Address: Antonio Lopez, Madrid
Latitude: 40.3952654, Longitude: -3.7104553

Row 1271: No result found for address: Paseo de Santa Mar�a de la Cabeza, 137, Madrid

Row 1272: Address: Escuelas, Madrid
Latitude: 41.8772081, Longitude: -93.82217

Row 1273: Address: antonio salvador, Madrid
Latitude: 13.7817467, Longitude: -89.176664

Row 1274: Address: Calle Pirita, 31, Madrid
Latitude: 40.3809262, Longitude: -3.6935925394764455

Row 1275: Address: Antonio Lopez, 139, Madrid
Latitude: 40.388498, Longitude: -3.6995312

Row 1276: Address: Calle San Serapio, Madrid
Latitude: 40.3875738, Longitude: -3.6984621

Row 1277: Address: Calle Matilde Gayo, Madrid
Latitude: 40.3904328, Longitude: -3.7019719

Row 1278: No result found for address: Calle San Froil�n, Madrid

Row 1279: No result found for address: Calle de Ricardo Beltr�n y R�zpide, 57 B, Madrid

Row 1280: Address: Calle Marcelo Usera, Madrid, Madrid
Latitude: 40.3853441, Longitude: -3.7101859

Row 1281: No result found for address: Calle Ram�n de Madariaga, Madrid

Row 1282: No result found for address: Urb. VIGILANCIA 24H, Madrid

Row 1283: No result found for address: Calle Albaic�n, Madrid

Row 1284: Address: Calle Centeno, Madrid
Latitude: 40.3793928, Longitude: -3.7145287

Row 1285: Address: Calle Enrique Fuentes, Madrid
Latitude: 40.3861482, Longitude: -3.7115013

Row 1286: Address: Calle Mariano Vela, Madrid
Latitude: 40.3857303, Longitude: -3.7109802

Row 1287: Address: Marcelo Usera, Madrid
Latitude: 40.3853441, Longitude: -3.7101859

Row 1288: Address: Calle de Carmen Bruguera, Madrid
Latitude: 40.387836, Longitude: -3.7041807

Row 1289: Address: Calle Antonia Usera, 2, Madrid
Latitude: 40.3858094, Longitude: -3.711148228765448

Row 1290: Address: Calle Agave, Madrid
Latitude: 36.4643556, Longitude: -5.046123

Row 1291: No result found for address: Calle del Capit�n Blanco Argibay, Madrid

Row 1292: Address: Calle Panizo, 60, Madrid
Latitude: 40.4629571, Longitude: -3.7066807

Row 1293: Error geocoding address 'Calle de �vila, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+%EF%BF%BDvila%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1294: Address: Paseo de la Castellana, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 1295: Address: Calle de la Infanta Mercedes, Madrid
Latitude: 40.4566092, Longitude: -3.6980696

Row 1296: No result found for address: Calle del General Ram�rez de Madrid, Madrid

Row 1297: Address: Calle Reina Mercedes, Madrid
Latitude: 40.45081, Longitude: -3.6952874

Row 1298: Address: Calle del Poeta Joan Maragall, Madrid
Latitude: 40.4599298, Longitude: -3.6919139

Row 1299: Address: Calle Juan Pradillo, Madrid
Latitude: 40.4531728, Longitude: -3.7085473

Row 1300: Address: Calle Pinos Alta, Madrid
Latitude: 40.4666985, Longitude: -3.6966535

Row 1301: Address: Calle de Pinos Baja, Madrid
Latitude: 40.4691865, Longitude: -3.702027

Row 1302: Address: Calle del Poeta Joan Maragall, 56, Madrid
Latitude: 40.4625413, Longitude: -3.6914973

Row 1303: Address: CASTELLANA, Madrid
Latitude: 40.4333241, Longitude: -3.6841316

Row 1304: Address: Calle de Alberdi, Madrid
Latitude: 40.4697424, Longitude: -3.7065348

Row 1305: Address: Paseo de la Castellana, 153, Madrid
Latitude: 40.4609686, Longitude: -3.6904814

Row 1306: Address: Pedro Teixeira, Madrid
Latitude: 40.4551707, Longitude: -3.6954242

Row 1307: Address: Calle de Bravo Murillo, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 1308: Address: Villaamil, Madrid
Latitude: 40.4891668, Longitude: -3.6513796

Row 1309: Address: Calle de Orense, Madrid
Latitude: 40.4523122, Longitude: -3.694996

Row 1310: Address: Calle Gonzalo Herrero, Madrid
Latitude: 40.463234, Longitude: -3.6996198

Row 1311: Address: Calle Edgar Neville, Madrid, Madrid
Latitude: 40.4493211, Longitude: -3.6968483

Row 1312: Address: Calle de Alvarado, Madrid
Latitude: 40.4506819, Longitude: -3.704828

Row 1313: Address: Calle Islas Gilbert, Madrid
Latitude: 40.4605803, Longitude: -3.7088974

Row 1314: Address: Reina Mercedes, 3, Madrid
Latitude: 40.45081, Longitude: -3.6952874

Row 1315: Address: Calle Berruguete, Madrid
Latitude: 40.4560264, Longitude: -3.7036969

Row 1316: Address: Plaza Angel de Carbajo, Madrid, Madrid
Latitude: 40.4614998, Longitude: -3.6949287

Row 1317: Address: Calle Pedro Tezano, Madrid
Latitude: 40.4595768, Longitude: -3.7088876

Row 1318: Address: Plaza de Manolete, Madrid
Latitude: 40.4543521, Longitude: -3.6909782

Row 1319: Address: Pinos Alta, Madrid
Latitude: 40.4666985, Longitude: -3.6966535

Row 1320: No result found for address: Calle de Raimundo Fern�ndez Villaverde, Madrid

Row 1321: Address: Le�eros, Madrid
Latitude: 43.6339952, Longitude: 3.9216257

Row 1322: Address: Calle Carlos Latorre, Madrid
Latitude: 40.4486053, Longitude: -3.7073076

Row 1323: Address: Calle Avelino Montero R�os, Madrid
Latitude: 40.4505179, Longitude: -3.7069623

Row 1324: No result found for address: Calle de Pedro Teixeira, 7, Madrid

Row 1325: Address: Calle Antonio, Madrid
Latitude: -17.4020841, Longitude: -66.1562784

Row 1326: No result found for address: Calle de Francisco Gerv�s, Madrid

Row 1327: Address: Calle de Villaamil, Madrid
Latitude: 40.4649772, Longitude: -3.709937

Row 1328: No result found for address: Calle de Jer�nima Llorente, 48, Madrid

Row 1329: Address: TERESITA GONZALEZ QUEVEDO, 11, Madrid
Latitude: 40.456329, Longitude: -3.696920297525982

Row 1330: Address: Calle Castillejos, Madrid
Latitude: 40.456072, Longitude: -3.7063762

Row 1331: Address: San Valeriano, Madrid
Latitude: 40.451034, Longitude: -3.7083412

Row 1332: Address: Calle Amalia, Madrid
Latitude: 40.4020579, Longitude: -3.6635349

Row 1333: Address: Calle Gladiolo, Madrid
Latitude: 40.4619251, Longitude: -3.7024568

Row 1334: Address: Calle de los Molinos, Madrid
Latitude: 40.4579822, Longitude: -3.7032304

Row 1335: Address: Calle San Leopoldo, Madrid
Latitude: 40.4696967, Longitude: -3.6916634

Row 1336: Address: Calle Teruel, Madrid
Latitude: 40.3629712, Longitude: -3.754639

Row 1337: Address: Plaza del Este, 5, Madrid
Latitude: 40.47155005, Longitude: -3.689549518754176

Row 1338: No result found for address: Calle Mariano Fern�ndez, Madrid

Row 1339: Address: Calle Garellano, Madrid
Latitude: 40.4552202, Longitude: -3.793197

Row 1340: Address: JUAN PANTOJA, 22, Madrid
Latitude: 40.4501861, Longitude: -3.7053293

Row 1341: Address: Calle Don Quijote, 1, Madrid
Latitude: 40.3404104, Longitude: -3.828831

Row 1342: Address: Calle Sinesio Delgado, Madrid
Latitude: 40.4643348, Longitude: -3.7208265

Row 1343: Address: Calle de Muller, Madrid
Latitude: 40.4644036, Longitude: -3.6989061

Row 1344: No result found for address: Calle de O�ate, Madrid

Row 1345: Address: Guipuzcoa, Madrid
Latitude: 40.4478583, Longitude: -3.7036786

Row 1346: Address: Paseo de la Castellana, Madrid, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 1347: Address: Calle Algodonales, Madrid
Latitude: 40.4609328, Longitude: -3.7019314

Row 1348: No result found for address: Calle de Francos Rodr�guez, Madrid

Row 1349: Address: Sorgo, 14, Madrid
Latitude: 40.4663188, Longitude: -3.7067501

Row 1350: Address: Arroyo, Madrid
Latitude: 40.4694482, Longitude: -3.7019627

Row 1351: Address: Calle Cuatro Amigos, Madrid
Latitude: 40.4659765, Longitude: -3.6911988

Row 1352: Address: Calle de San Raimundo, Madrid
Latitude: 40.4517504, Longitude: -3.7065932

Row 1353: No result found for address: Avenida del Doctor Federico Rubio y Gal�, Madrid

Row 1354: Address: Plaza de Donoso, Madrid
Latitude: 40.4690476, Longitude: -3.6978064567068465

Row 1355: No result found for address: Calle Aquilino Dom�nguez, Madrid

Row 1356: No result found for address: Calle de Le�eros, Madrid, Madrid

Row 1357: Address: tenerife, Madrid
Latitude: 40.4501389, Longitude: -3.7058704

Row 1358: Address: Calle SALAMANCA, Madrid
Latitude: 40.3648396, Longitude: -3.7590123

Row 1359: Address: Calle del Poeta Joan Maragall, 23, Madrid
Latitude: 40.4576749, Longitude: -3.6926694

Row 1360: Address: Calle Cantueso, 93, Madrid
Latitude: 40.4663813, Longitude: -3.7062576

Row 1361: Address: LERIDA, 13, Madrid
Latitude: 40.4587591, Longitude: -3.6990942

Row 1362: Address: PINOS ALTA, Madrid
Latitude: 40.4666985, Longitude: -3.6966535

Row 1363: Address: divino redentor, 22, Madrid
Latitude: 40.4685069, Longitude: -3.7006398

Row 1364: Address: Calle de Bravo Murillo, 185, Madrid
Latitude: 40.4537276, Longitude: -3.7031398

Row 1365: No result found for address: ZONA PASEO DE LA CASTELLANA, Madrid

Row 1366: No result found for address: Calle de Juli�n Besteiro, Madrid

Row 1367: Address: Paseo de la Castellana, 173, Madrid
Latitude: 40.4623428, Longitude: -3.6902277

Row 1368: Address: Calle de Castilla, Madrid
Latitude: 40.4530926, Longitude: -3.705873

Row 1369: Address: Calle Porfirio, Madrid
Latitude: 40.4628561, Longitude: -3.7048361

Row 1370: Address: Calle general ramirez, 14, Madrid
Latitude: 40.4551751, Longitude: -3.6977128

Row 1371: Address: Calle Gabriel Portadales, Madrid
Latitude: 40.4678576, Longitude: -3.6990209

Row 1372: Address: Cuevas, Madrid
Latitude: 38.540742, Longitude: -0.1314523

Row 1373: Address: Calle PEDRO TEIXEIRA, Madrid
Latitude: 40.4551707, Longitude: -3.6954242

Row 1374: No result found for address: Plaza GUILOU, Madrid

Row 1375: Address: Dulcinea, Madrid
Latitude: 40.4231849, Longitude: -3.7127458

Row 1376: Address: Calle del Pintor Juan Gris, Madrid
Latitude: 40.4576186, Longitude: -3.6912757

Row 1377: Address: Calle del General Margallo, Madrid, Madrid
Latitude: 40.4608948, Longitude: -3.6967545

Row 1378: No result found for address: JOAQU�N DICENTA, Madrid

Row 1379: Address: Paseo de la Castellana, 199, Madrid
Latitude: 40.4683323, Longitude: -3.6892647

Row 1380: Address: Calle Voluntarios Catalanes , 43, Madrid
Latitude: 40.4655039, Longitude: -3.7020988

Row 1381: Address: Calle Ruiz Palacios, Madrid
Latitude: 40.4623575, Longitude: -3.7040383

Row 1382: Address: PINOS BAJA, Madrid
Latitude: 40.4691865, Longitude: -3.702027

Row 1383: Address: Calle Navarra, Madrid
Latitude: 40.4536844, Longitude: -3.7051411

Row 1384: Address: Calle Naranjo, Madrid
Latitude: 19.3444061, Longitude: -99.0027487

Row 1385: Address: RAIMUNDO FERNANDEZ VILLAVERDE, 45, Madrid
Latitude: 40.4462621, Longitude: -3.6913456

Row 1386: Address: Calle Zamora, 34, Madrid
Latitude: 40.41306845, Longitude: -3.7291099469911533

Row 1387: Address: Calle Andrea Puech, Madrid
Latitude: 40.4645499, Longitude: -3.7048004

Row 1388: No result found for address: Traves�a los Nueve, Madrid

Row 1389: No result found for address: Calle Mar�a Ignacia, Madrid

Row 1390: Address: Santa Juliana, Madrid
Latitude: 40.45239, Longitude: -3.7061176

Row 1391: Address: Los Geranios, Madrid
Latitude: 40.4732044, Longitude: -3.6927517

Row 1392: No result found for address: Avenida del General Per�n, Madrid

Row 1393: Address: Calle Aligustre, Madrid
Latitude: 40.4664156, Longitude: -3.7049439

Row 1394: No result found for address: Calle de San Germ�n, 14, Madrid

Row 1395: No result found for address: Calle de Sor �ngela de la Cruz, 12, Madrid

Row 1396: Address: Calle Villaamil, Madrid
Latitude: 40.4649772, Longitude: -3.709937

Row 1397: Address: Calle de Bravo Murillo, Madrid, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 1398: No result found for address: Bas�lica, 20, Madrid

Row 1399: Address: Castellana, Madrid
Latitude: 40.4333241, Longitude: -3.6841316

Row 1400: No result found for address: Calle de Mar�a Zayas, Madrid

Row 1401: Address: Calle Baracaldo, Madrid
Latitude: 40.4703204, Longitude: -3.6998008

Row 1402: Address: Avenida PABLO IGLESIAS, Madrid
Latitude: 40.4464486, Longitude: -3.7070226

Row 1403: Address: Calle Burgos, Madrid
Latitude: 42.6862724, Longitude: -2.9473871

Row 1404: Address: Pamplona, Madrid
Latitude: 4.72604535, Longitude: -74.25139645856788

Row 1405: No result found for address: Calle L�rida, Madrid

Row 1406: Address: Calle de la Alfalfa, 12, Madrid
Latitude: 40.467722, Longitude: -3.7023003

Row 1407: Address: Calle Francisco Medrano, 2, Madrid
Latitude: 40.4588562, Longitude: -3.6994255

Row 1408: Error geocoding address 'Calle Jos� Mar�a de Castro, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Jos%EF%BF%BD+Mar%EF%BF%BDa+de+Castro%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1409: Address: Calle Fernando Ossorio, Madrid
Latitude: 40.4542508, Longitude: -3.7048556

Row 1410: Address: Calle de Orense, 26, Madrid
Latitude: 40.4497479, Longitude: -3.6952375

Row 1411: No result found for address: Avenida del Doctor Federico Rubio y Gal�, 22, Madrid

Row 1412: Address: Calle Campo Real, Madrid
Latitude: 40.4951013, Longitude: -3.3785033

Row 1413: Address: Calle de Villaamil, 39, Madrid
Latitude: 40.4592157, Longitude: -3.7074678

Row 1414: Address: Calle de Bravo Murillo, 190, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 1415: Address: Vinca, Madrid
Latitude: 40.4702145, Longitude: -3.6900678

Row 1416: Address: Calle de Bravo Murillo s/n, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 1417: No result found for address: Calle de la Vinca, 10, Madrid

Row 1418: No result found for address: Calle de San Germ�n, 72, Madrid

Row 1419: Address: Calle de los Artistas, Madrid
Latitude: 40.4473799, Longitude: -3.6992612

Row 1420: Address: Calle Topete, Madrid
Latitude: 40.4500765, Longitude: -3.7046259

Row 1421: Address: Paseo DE LA CASTELLANA, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 1422: Address: Calle Bravo Murillo, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 1423: Address: Calle Edgar Neville, Madrid
Latitude: 40.4493211, Longitude: -3.6968483

Row 1424: Address: Calle Bardala, 7, Madrid
Latitude: 40.4664735, Longitude: -3.6994861

Row 1425: No result found for address: Calle de los M�rtires de la Ventilla, Madrid, 50, Madrid

Row 1426: No result found for address: Calle Ricardo Guti�rrez, Madrid

Row 1427: Address: Calle Orense, Madrid
Latitude: 40.4523122, Longitude: -3.694996

Row 1428: No result found for address: Calle de Sor �ngela de la Cruz, Madrid

Row 1429: Address: San German, 49, Madrid
Latitude: 40.4571284, Longitude: -3.7002814

Row 1430: Address: Calle de Bravo Murillo, 202, Madrid
Latitude: 40.4563328, Longitude: -3.7019421

Row 1431: Address: Calle Poeta Joan Maragall, 3, Madrid
Latitude: 40.4536316, Longitude: -3.6926975

Row 1432: Address: Calle de la Infanta Mercedes, 92, Madrid
Latitude: 40.46312315, Longitude: -3.693238284648518

Row 1433: No result found for address: Calle de Antonia Dom�nguez, 7, Madrid

Row 1434: Address: Calle Bardala s/n, Madrid
Latitude: 40.4664735, Longitude: -3.6994861

Row 1435: No result found for address: Calle de Hernani, 68 sn, Madrid

Row 1436: No result found for address: Calle Paseo de la Direcci�n, 246, Madrid

Row 1437: Address: Calle de la Infanta Mercedes, 79, Madrid
Latitude: 40.4617774, Longitude: -3.6957845

Row 1438: No result found for address: Calle almansa, 21, 25, Madrid

Row 1439: Address: Calle Arroyo, Madrid
Latitude: 40.9651076, Longitude: -3.7175308

Row 1440: No result found for address: Calle Manuela M�nguez, Madrid

Row 1441: Address: Calle Almortas, Madrid
Latitude: 40.4644335, Longitude: -3.7055119

Row 1442: Address: Palencia, Madrid
Latitude: 40.3943987, Longitude: -3.6439587

Row 1443: Address: Calle de Gonzalo Sandino, 28039, Madrid
Latitude: 40.4627815, Longitude: -3.6998265

Row 1444: No result found for address: Calle Fray Jun�pero Serra, Madrid

Row 1445: Address: Calle Tablada, Madrid
Latitude: 40.4609551, Longitude: -3.703679

Row 1446: No result found for address: Calle Nuestra Se�ora del Carmen, Madrid

Row 1447: Address: Paseo de la direccion, 30, Madrid
Latitude: 40.4592122, Longitude: -3.7087948

Row 1448: Address: Calle Tenerife, Madrid
Latitude: 40.4501389, Longitude: -3.7058704

Row 1449: Address: Calle Orden, Madrid
Latitude: 40.4479558, Longitude: -3.7017586

Row 1450: No result found for address: Avenida del Doctor Federico Rubio y Gal�, Madrid, Madrid

Row 1451: Address: Calle Fereluz, 15, Madrid
Latitude: 40.4634364, Longitude: -3.7010947

Row 1452: No result found for address: Calle de Fray Jun�pero Serra, Madrid

Row 1453: Address: Agracejo, Madrid
Latitude: 40.4546124, Longitude: -3.626088

Row 1454: Address: Calle de Ofelia Nieto, 10, Madrid
Latitude: 40.4584246, Longitude: -3.7106849

Row 1455: No result found for address: Calle Adri�n Pulido, 7, Madrid

Row 1456: Address: Ceuta, Madrid
Latitude: 40.4620518, Longitude: -3.698899

Row 1457: Address: Calle de Marcelina, Madrid
Latitude: 40.4678728, Longitude: -3.6961623

Row 1458: Address: Calle Genciana, Madrid
Latitude: 40.4640889, Longitude: -3.7030329

Row 1459: Address: Calle Santa Eulalia, Madrid
Latitude: 40.4611625, Longitude: -3.7064211

Row 1460: Address: Calle JUAN DE OLIAS, 25, Madrid
Latitude: 40.4533622, Longitude: -3.7006963

Row 1461: Address: Calle del General Margallo, Madrid
Latitude: 40.4608948, Longitude: -3.6967545

Row 1462: Address: Calle de Bravo Murillo, 297, Madrid
Latitude: 40.4612867, Longitude: -3.6982727

Row 1463: No result found for address: Calle Manuela M�nguez, 8, Madrid

Row 1464: Address: Calle Gladiolo, 5, Madrid
Latitude: 40.4615939, Longitude: -3.7028033

Row 1465: Address: Calle de Teruel, Madrid
Latitude: 40.4514776, Longitude: -3.7015665

Row 1466: Address: Calle del Poeta Joan Maragall, 7, Madrid
Latitude: 40.4541712, Longitude: -3.6926466

Row 1467: Address: Lerida, Madrid
Latitude: 40.4564778, Longitude: -3.6999417

Row 1468: No result found for address: Paseo Direcci�n, 5, Madrid

Row 1469: No result found for address: Calle de Le�eros, 37, Madrid

Row 1470: Address: Calle Matilde Landa, 24, Madrid
Latitude: 40.3850665, Longitude: -3.7391695

Row 1471: Address: Paseo de la Castellana, 217, Madrid
Latitude: 40.4709564, Longitude: -3.6885231

Row 1472: No result found for address: Calle de O�ate, 11, Madrid

Row 1473: Address: Calle Cuenca s/n, Madrid
Latitude: 40.3881092, Longitude: -3.6703819

Row 1474: No result found for address: Calle Asunci�n Castell, 8, Madrid

Row 1475: Address: Calle del Poeta Joan Maragall, 51, Madrid
Latitude: 40.4637941, Longitude: -3.6921967

Row 1476: Address: Voluntarios Catalanes, 67, Madrid
Latitude: 40.4656382, Longitude: -3.7041881

Row 1477: No result found for address: Calle de L�rida, 67, Madrid

Row 1478: Address: Calle Beire, 18, Madrid
Latitude: 40.4505158, Longitude: -3.7080879

Row 1479: Address: Paseo de la Castellana, 179, Madrid
Latitude: 40.4630346, Longitude: -3.6901702

Row 1480: Address: Calle Tenerife, 8, Madrid
Latitude: 40.4493377, Longitude: -3.7055403

Row 1481: Address: Calle de San Raimundo, 37, Madrid
Latitude: 40.4517322, Longitude: -3.7061006

Row 1482: Address: Calle de Villaamil, 44, Madrid
Latitude: 40.4596458, Longitude: -3.7075481

Row 1483: No result found for address: Calle Esperanza S�nchez Carrascosa, Madrid, 60 -62, Madrid

Row 1484: Address: abel, 28, Madrid
Latitude: 40.4509483, Longitude: -3.7093907

Row 1485: Address: Calle Sorgo, Madrid
Latitude: 40.468536, Longitude: -3.7059387

Row 1486: Address: BEIRE, Madrid
Latitude: 40.4509205, Longitude: -3.7079845

Row 1487: Address: Sorgo, Madrid
Latitude: 40.468536, Longitude: -3.7059387

Row 1488: Address: Calle de Oudrid, Madrid
Latitude: 40.4545193, Longitude: -3.7069454

Row 1489: Address: Juan de la encina, 13, Madrid
Latitude: 40.6099822, Longitude: -3.5823612

Row 1490: Address: Calle de Matilde Landa, Madrid
Latitude: 40.4732447, Longitude: -3.6949561

Row 1491: No result found for address: Paseo de la Direcci�n, 73, Madrid

Row 1492: Address: Calle Amalia, 21, Madrid
Latitude: 40.46351165, Longitude: -3.6943979311965798

Row 1493: No result found for address: Paseo de la Direcci�n, Madrid, 46, Madrid

Row 1494: No result found for address: Paseo de la Direcci�n, 46, Madrid

Row 1495: Address: Calle Burgos, Madrid, 5, Madrid
Latitude: 40.4587822, Longitude: -3.7060992

Row 1496: Address: Calle Burgos, 5, Madrid
Latitude: 40.4587822, Longitude: -3.7060992

Row 1497: No result found for address: Calle Asunci�n Castell, Madrid, Madrid

Row 1498: No result found for address: Calle de San Germ�n, Madrid

Row 1499: Address: Paseo de la Castellana, 205, Madrid
Latitude: 40.4692669, Longitude: -3.6890447

Row 1500: No result found for address: Traves�a Herrera, Madrid

Row 1501: Address: burgos, Madrid
Latitude: 42.6862724, Longitude: -2.9473871

Row 1502: No result found for address: Calle de Pedro Teixeira, 10, Madrid

Row 1503: Address: DOCTOR FEDERICO RUBIO Y GALI, Madrid
Latitude: 40.4644699, Longitude: -3.7098498

Row 1504: Address: Avenida FEDERICO RUBIO Y GALI, Madrid
Latitude: 40.4534695, Longitude: -3.7138354

Row 1505: Address: Tenerife, Madrid
Latitude: 40.4501389, Longitude: -3.7058704

Row 1506: Address: Calle Dulcinea, Madrid
Latitude: 40.4482393, Longitude: -3.7000093

Row 1507: No result found for address: L�rida, Madrid

Row 1508: Address: Infanta mercedes, Madrid
Latitude: 40.4567085, Longitude: -3.6983129

Row 1509: No result found for address: Calle Teresita Gonz�lez Quevedo, 5, Madrid

Row 1510: Address: Calle de la Infanta Mercedes, 41, Madrid
Latitude: 40.4526559, Longitude: -3.6993409

Row 1511: Address: Calle de Felipe Mora, 12, Madrid
Latitude: 40.4672366, Longitude: -3.7072722

Row 1512: Address: Calle Bravo Murillo, 319, Madrid
Latitude: 40.4635974, Longitude: -3.6965877

Row 1513: Address: Calle Juan de la Encina, 13, Madrid
Latitude: 40.2963848, Longitude: -3.7428274

Row 1514: Address: Paseo de la Castellana, 177, Madrid
Latitude: 40.462815, Longitude: -3.6901832

Row 1515: No result found for address: Calle del Marqu�s de Viana, Madrid

Row 1516: Address: Calle Tenerife, 17, Madrid
Latitude: 40.4505488, Longitude: -3.7060518

Row 1517: Address: Calle Genciana, 10, Madrid
Latitude: 40.4640889, Longitude: -3.7030329

Row 1518: No result found for address: Calle Jos� Calvo, 11, Madrid

Row 1519: No result found for address: Calle de Pedro Teixeira, Madrid

Row 1520: Address: Calle Lino, 1, Madrid
Latitude: 40.46017395, Longitude: -3.6983038406671183

Row 1521: Address: Calle Panizo, Madrid
Latitude: 40.4615507, Longitude: -3.7054809

Row 1522: No result found for address: Calle de M�ller, Madrid

Row 1523: Address: Calle de Wad-Ras, 10, Madrid
Latitude: 40.4553618, Longitude: -3.7073798

Row 1524: Address: Calle del General Ramirez, Madrid
Latitude: 40.4566966, Longitude: -3.697583

Row 1525: Address: Calle de Palencia, Madrid
Latitude: 40.4497578, Longitude: -3.7015521

Row 1526: Address: Calle Arroyo, 19, Madrid
Latitude: 40.9651076, Longitude: -3.7175308

Row 1527: No result found for address: Calle de Francos Rodr�guez, 44, Madrid

Row 1528: No result found for address: Calle del Capit�n Haya, Madrid

Row 1529: No result found for address: Calle del Marqu�s de Leis, 10, Madrid

Row 1530: No result found for address: Garci Nu�o, 26, Madrid

Row 1531: Address: Olite, 45, Madrid
Latitude: 40.4528336, Longitude: -3.7069288

Row 1532: Address: Beire, 19, Madrid
Latitude: 40.4505845, Longitude: -3.7081623

Row 1533: Address: Calle de las Margaritas, Madrid
Latitude: 40.4612472, Longitude: -3.4772729

Row 1534: Address: Calle de los Voluntarios Catalanes, Madrid
Latitude: 40.4654519, Longitude: -3.7015401

Row 1535: Address: ORENSE, Madrid
Latitude: 40.4470443, Longitude: -3.6953834

Row 1536: Address: Calle Edgar Neville, 7, Madrid
Latitude: 40.4475549, Longitude: -3.6973189452818627

Row 1537: Address: Calle de Fortunata y Jacinta, 3, Madrid
Latitude: 40.4534795, Longitude: -3.6987534

Row 1538: Address: Calle Santiago Cordero, 13, Madrid
Latitude: 40.4674295, Longitude: -3.7001985

Row 1539: Address: Calle Cantueso, 28, Madrid
Latitude: 40.4663813, Longitude: -3.7062576

Row 1540: Address: Calle Orden, 6, Madrid
Latitude: 40.4490226, Longitude: -3.7016559

Row 1541: No result found for address: Calle de San Germ�n, 49, Madrid

Row 1542: Address: Paravicino, 12, Madrid
Latitude: 40.4545222, Longitude: -3.7080875

Row 1543: Address: Calle Panizo, 11, Madrid
Latitude: 40.460124, Longitude: -3.7044411

Row 1544: No result found for address: Calle de Le�eros, 2, Madrid

Row 1545: No result found for address: PEDRO TEXEIRA, Madrid

Row 1546: Address: Calle de Bravo Murillo, 192, Madrid
Latitude: 40.4549055, Longitude: -3.7025412

Row 1547: Address: Calle Arroyo, 30, Madrid
Latitude: 40.9651076, Longitude: -3.7175308

Row 1548: Address: Bravo Murillo, 221, Madrid
Latitude: 40.4567484, Longitude: -3.702145

Row 1549: Address: Calle de San Raimundo, 19, Madrid
Latitude: 40.451787, Longitude: -3.7049523

Row 1550: Address: Calle del Doctor Santero, Madrid
Latitude: 40.4476479, Longitude: -3.7068874

Row 1551: No result found for address: Traves�a los Nueve, Madrid, Madrid

Row 1552: Address: Calle Pensamiento, 17, Madrid
Latitude: 40.458883, Longitude: -3.6959791

Row 1553: Address: Maria Zayas, Madrid
Latitude: 40.4594593, Longitude: -3.7013643

Row 1554: No result found for address: Paseo de la Direcci�n, Madrid

Row 1555: No result found for address: hermano g�rate, 6, Madrid

Row 1556: Address: Orense s/n, Madrid
Latitude: 40.4509586, Longitude: -3.6951181

Row 1557: Address: juan del risco, Madrid
Latitude: 40.4579652, Longitude: -3.7032951

Row 1558: Address: Calle del Limonero, Madrid
Latitude: 40.4624467, Longitude: -3.6960729

Row 1559: Address: Calle DE LOS VOLUNTARIOS CATALANES, Madrid
Latitude: 40.4654519, Longitude: -3.7015401

Row 1560: Address: Calle de los Voluntarios Catalanes, 46, Madrid
Latitude: 40.4655693, Longitude: -3.7020627

Row 1561: Address: Calle Amalia, 17, Madrid
Latitude: 40.46374455, Longitude: -3.694422895193489

Row 1562: Address: Calle Luis Esteban, 6, Madrid
Latitude: 40.4729122, Longitude: -3.6891691

Row 1563: Address: Calle General Pintos, Madrid
Latitude: 40.4691304, Longitude: -3.6946212

Row 1564: No result found for address: Calle de San Germ�n, 42, Madrid

Row 1565: Address: Calle de Bravo Murillo, 151, Madrid
Latitude: 40.4512454, Longitude: -3.7035177

Row 1566: Address: Calle del General Cabrera, 27, Madrid
Latitude: 40.3793261, Longitude: -3.7746125

Row 1567: Address: Avenida de Brasil, 4, Madrid
Latitude: 40.4538139, Longitude: -3.6931412

Row 1568: Address: molinos, 22, Madrid
Latitude: 4.7360305, Longitude: -74.2581808

Row 1569: Address: Calle de Villaamil, 56, Madrid
Latitude: 40.4649772, Longitude: -3.709937

Row 1570: Address: Reina Mercedes s/n, Madrid
Latitude: 40.45081, Longitude: -3.6952874

Row 1571: No result found for address: Calle de Jer�nima Llorente, 55, Madrid

Row 1572: Address: Calle de Hernani, 66, Madrid
Latitude: 40.4483293, Longitude: -3.7022058

Row 1573: Address: Calle de Pamplona, 63, Madrid
Latitude: 40.4563958, Longitude: -3.7078313

Row 1574: Address: Pedro Medrano, 3, Madrid
Latitude: 40.4675462, Longitude: -3.7044487

Row 1575: Error geocoding address 'Avenida del General Per�n, 20, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+del+General+Per%EF%BF%BDn%2C+20%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1576: Address: Juan Pradillo, Madrid
Latitude: 40.4531728, Longitude: -3.7085473

Row 1577: Address: Calle Pando, 17, Madrid
Latitude: 40.4067059, Longitude: -3.7445263

Row 1578: Address: Avenida del Presidente Carmona, 8, Madrid
Latitude: 40.453862, Longitude: -3.696814876523309

Row 1579: Address: Panizo, Madrid
Latitude: 40.4615507, Longitude: -3.7054809

Row 1580: No result found for address: Plaza �ngel Carbajo, Madrid

Row 1581: No result found for address: Calle Bellas Vistas Estrecho, Madrid

Row 1582: Address: Calle de Isla de la Gomera, 14, Madrid
Latitude: 40.4616552, Longitude: -3.7069638

Row 1583: Address: Calle Albendiego, 17, Madrid
Latitude: 40.468073, Longitude: -3.696512

Row 1584: Address: Castellana, 221, Madrid
Latitude: 40.4711788, Longitude: -3.6884842

Row 1585: Address: Calle del Poeta Joan Maragall, 55, Madrid
Latitude: 40.4640602, Longitude: -3.6918984

Row 1586: Address: Calle de San Raimundo, 22, Madrid
Latitude: 40.4518486, Longitude: -3.7056864

Row 1587: No result found for address: Calle Rosa Men�ndez, 100, Madrid

Row 1588: No result found for address: Calle de M�ller, 11, Madrid

Row 1589: Address: JAEN, Madrid
Latitude: 40.4710846, Longitude: -3.684074

Row 1590: Address: Lino, Madrid
Latitude: 40.4601834, Longitude: -3.6986337

Row 1591: No result found for address: Manuela M�nguez, Madrid

Row 1592: No result found for address: �lvarez, Madrid

Row 1593: Address: cantueso, Madrid
Latitude: 40.468959, Longitude: -3.7035025

Row 1594: Address: Calle de Robledo, Madrid
Latitude: 40.463909, Longitude: -3.7045195

Row 1595: No result found for address: Federico Rubio y Gal�, Madrid

Row 1596: Address: Calle de la Infanta Mercedes, Madrid, Madrid
Latitude: 40.4566092, Longitude: -3.6980696

Row 1597: Address: General Peron, Madrid
Latitude: 40.4524676, Longitude: -3.6938685

Row 1598: Address: muller, 67, Madrid
Latitude: 40.4644036, Longitude: -3.6989061

Row 1599: Address: Avenida de Pablo Iglesias, Madrid
Latitude: 40.4464486, Longitude: -3.7070226

Row 1600: No result found for address: Calle de Jer�nima Llorente, 50, Madrid

Row 1601: Address: Calle de las Almortas, 15, Madrid
Latitude: 40.4655017, Longitude: -3.704846

Row 1602: Address: Palencia, 34, Madrid
Latitude: 40.4495845, Longitude: -3.7000215

Row 1603: Address: Calle de Bravo Murillo, 344, Madrid
Latitude: 40.4646484, Longitude: -3.6942983

Row 1604: Address: Avenida DOCTOR FEDERICO RUBIO Y GALI, Madrid
Latitude: 40.4534695, Longitude: -3.7138354

Row 1605: Address: PAMPLONA, Madrid
Latitude: 4.72604535, Longitude: -74.25139645856788

Row 1606: Address: Calle Teruel, 11, Madrid
Latitude: 40.3629712, Longitude: -3.754639

Row 1607: No result found for address: Calle de L�rida, 13, Madrid

Row 1608: Address: Avenida de la Reina Victoria, 18, Madrid
Latitude: 40.4471726, Longitude: -3.7063877

Row 1609: Address: Calle Carnicer, 9, Madrid
Latitude: 40.4494555, Longitude: -3.7046149

Row 1610: No result found for address: Calle Jos� Calvo, 18, Madrid

Row 1611: Address: Calle de Dulcinea, 1, Madrid
Latitude: 40.4904555, Longitude: -3.3563134

Row 1612: Address: Calle de San Felipe, 8, Madrid
Latitude: 40.4615387, Longitude: -3.6973602

Row 1613: No result found for address: Traves�a Santiago Cordero, 16, Madrid

Row 1614: Address: Calle Lorenza Correa, 6, Madrid
Latitude: 40.4533587, Longitude: -3.7062746

Row 1615: Address: Calle Pinos Alta, 1, Madrid
Latitude: 40.4651366, Longitude: -3.6950896

Row 1616: No result found for address: Calle Vizca�nos, 2, Madrid

Row 1617: No result found for address: Calle Paravicinos, 9, Madrid

Row 1618: Address: Calle Carnicer, 15, Madrid
Latitude: 40.4495111, Longitude: -3.7050572

Row 1619: Error geocoding address 'Calle Juan de Ol�as, 7, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Juan+de+Ol%EF%BF%BDas%2C+7%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1620: No result found for address: Calle Francos Rodr�guez, 64, Madrid

Row 1621: Address: Plaza Manolete, 4, Madrid
Latitude: 40.4539145, Longitude: -3.6915394

Row 1622: Address: Calle Oviedo, 33, Madrid
Latitude: 40.0647189, Longitude: -3.6005309

Row 1623: No result found for address: Avenida del Doctor Federico Rubio y Gal�, 49, Madrid

Row 1624: Address: Calle Berruguete, 39, Madrid
Latitude: 40.4575796, Longitude: -3.7044387

Row 1625: Address: Calle Edgar Neville, 30, Madrid
Latitude: 40.4516059, Longitude: -3.6965069

Row 1626: Address: Calle de Almansa, 52, Madrid
Latitude: 40.449208, Longitude: -3.7085613

Row 1627: Address: Calle Guindos, 4, Madrid
Latitude: 40.4671453, Longitude: -3.7010236

Row 1628: Address: Calle Sorgo, 41, Madrid
Latitude: 40.4674966, Longitude: -3.7063719

Row 1629: No result found for address: Calle de Raimundo Fern�ndez Villaverde, 43, Madrid

Row 1630: Address: Calle Juan Pantoja, 12, Madrid
Latitude: 40.4501075, Longitude: -3.7044844

Row 1631: Address: Calle del Poeta Joan Maragall, 18, Madrid
Latitude: 40.4567965, Longitude: -3.6920173

Row 1632: Address: Calle de Orense, 8, Madrid
Latitude: 40.4497479, Longitude: -3.6952375

Row 1633: Address: Calle del General Margallo, 4, Madrid
Latitude: 40.4610164, Longitude: -3.6975602

Row 1634: No result found for address: Calle de Jer�nima Llorente, Madrid

Row 1635: No result found for address: Traves�a Infanta Mercedes, Madrid

Row 1636: Address: Calle de Almansa, Madrid
Latitude: 40.449208, Longitude: -3.7085613

Row 1637: Address: Calle Guindos, Madrid
Latitude: 40.4671453, Longitude: -3.7010236

Row 1638: No result found for address: Calle del General Ram�rez de Madrid, 18, Madrid

Row 1639: No result found for address: Paseo direccion 164, 164, Madrid

Row 1640: Address: Calle Reyes Aizquibel, 20, Madrid
Latitude: 40.4682083, Longitude: -3.7077735

Row 1641: Address: Calle Simancas, 7, Madrid
Latitude: 40.4660917, Longitude: -3.6937511930107867

Row 1642: Address: Calle de los Artistas, 5, Madrid
Latitude: 40.4473959, Longitude: -3.7028857

Row 1643: Address: Aviador Zorita, Madrid
Latitude: 40.449592, Longitude: -3.6983528

Row 1644: Address: BRAVO MURILLO CUATRO CAMINOS, Madrid
Latitude: 40.4513214, Longitude: -3.7033197

Row 1645: Address: Calle de las Margaritas, 45, Madrid
Latitude: 40.4612472, Longitude: -3.4772729

Row 1646: Address: Calle del Divino Redentor, Madrid
Latitude: 40.4685069, Longitude: -3.7006398

Row 1647: Address: Calle de Molina, Madrid
Latitude: 40.4703548, Longitude: -3.6997845

Row 1648: Address: Calle de Bravo Murillo, 200 A, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 1649: Address: Calle Pinos Alta, 32, Madrid
Latitude: 40.4651366, Longitude: -3.6950896

Row 1650: No result found for address: Calle de Jer�nima Llorente, 63, Madrid

Row 1651: Address: Calle del Pintor Juan Gris, 6, Madrid
Latitude: 40.4576186, Longitude: -3.6912757

Row 1652: Address: Calle de Orense, 68, Madrid
Latitude: 40.4617299, Longitude: -3.6937996

Row 1653: No result found for address: Avenida Doctor Federico Rubio y Gal�, Madrid, 47, Madrid

Row 1654: No result found for address: Calle del Marqu�s de Viana, 1, Madrid

Row 1655: Address: Calle de la Infanta Mercedes, 55, Madrid
Latitude: 40.45908095, Longitude: -3.697200649494164

Row 1656: Address: Calle aligustre, 14, Madrid
Latitude: 40.4654789, Longitude: -3.7064825

Row 1657: Address: quijote, 39, Madrid
Latitude: 40.4495773, Longitude: -3.6990688

Row 1658: No result found for address: Calle Bruno Ayll�n, 3, Madrid

Row 1659: Address: Calle de la Infanta Mercedes, 17, Madrid
Latitude: 40.4537239, Longitude: -3.69942130597873

Row 1660: No result found for address: Calle Manchegos, 13, Madrid

Row 1661: No result found for address: Calle de L�rida, 3, Madrid

Row 1662: Address: Calle Bravo Murillo, 211, Madrid
Latitude: 40.4557369, Longitude: -3.7026214

Row 1663: Address: Calle del General Varela, 31, Madrid
Latitude: 40.4576221, Longitude: -3.6952356

Row 1664: Address: Calle General Margallo, 23, Madrid
Latitude: 40.4606745, Longitude: -3.6956959

Row 1665: Address: Calle Cactus, 32, Madrid
Latitude: 40.462025249999996, Longitude: -3.699457385022379

Row 1666: Address: Calle de San Felipe, 6, Madrid
Latitude: 40.46141925, Longitude: -3.6969945398992676

Row 1667: Address: Calle Rosendo Conde, 8, Madrid
Latitude: 40.4690661, Longitude: -3.7001547

Row 1668: Address: Calle de Castilla, 11, Madrid
Latitude: 40.4529371, Longitude: -3.7047799

Row 1669: Address: Calle del Aviador Zorita, 53, Madrid
Latitude: 40.449592, Longitude: -3.6983528

Row 1670: No result found for address: Calle Jer�nima Llorente, 46, Madrid

Row 1671: Address: Calle Navarra, 37, Madrid
Latitude: 40.4537078, Longitude: -3.7056271

Row 1672: Address: Calle Agave, 31, Madrid
Latitude: 40.4661869, Longitude: -3.7061508

Row 1673: No result found for address: Calle del Marqu�s de Viana, 21, Madrid

Row 1674: Address: Calle Bravo Murillo, 109, Madrid
Latitude: 40.4481393, Longitude: -3.7039687

Row 1675: No result found for address: Calle la Coru�a, 11, Madrid

Row 1676: Address: Calle de las Mercedes, 18, Madrid
Latitude: 40.4542328, Longitude: -3.7011139271885396

Row 1677: Address: Calle Orden, 21, Madrid
Latitude: 40.4490226, Longitude: -3.7016559

Row 1678: Address: Calle Gabriel Portadales, 9, Madrid
Latitude: 40.4678576, Longitude: -3.6990209

Row 1679: Address: Calle Pinos Alta, 128, Madrid
Latitude: 40.4651366, Longitude: -3.6950896

Row 1680: Address: Calle Carmen Montoya, 5, Madrid
Latitude: 40.4699921, Longitude: -3.6983776

Row 1681: No result found for address: Calle de Bustillo del Oro, Madrid

Row 1682: Address: Calle de la Alfalfa, 19, Madrid
Latitude: 40.467722, Longitude: -3.7023003

Row 1683: No result found for address: Calle de L�rida, Madrid

Row 1684: Address: Calle del Divino Redentor, 16, Madrid
Latitude: 40.4685069, Longitude: -3.7006398

Row 1685: Error geocoding address 'Calle de Ja�n, 15, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Ja%EF%BF%BDn%2C+15%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1686: Error geocoding address 'Avenida del General Per�n, 14, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+del+General+Per%EF%BF%BDn%2C+14%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1687: No result found for address: Calle L�rida, 92, Madrid

Row 1688: Address: Calle Azucenas, 2, Madrid
Latitude: 40.463156049999995, Longitude: -3.6973161916569404

Row 1689: No result found for address: Calle Esperanza S�nchez Carrascosa, 60, Madrid

Row 1690: Address: Calle Tenerife, 48, Madrid
Latitude: 40.4520636, Longitude: -3.7061676

Row 1691: Address: Calle Garellano, 15, Madrid
Latitude: 40.4488741, Longitude: -3.7060176

Row 1692: Address: Calle de Molina, 63, Madrid
Latitude: 40.4703548, Longitude: -3.6997845

Row 1693: Address: Valdeacederas s/n, Madrid
Latitude: 40.4679108, Longitude: -3.7034226

Row 1694: Address: San Benito, Madrid
Latitude: 6.2490006, Longitude: -75.576945

Row 1695: No result found for address: zona Orense s/n, Madrid

Row 1696: No result found for address: Calle del Capit�n Blanco Argibay, 143, Madrid

Row 1697: Address: Calle Heliotropo, Madrid
Latitude: 40.4730457, Longitude: -3.6908482

Row 1698: No result found for address: Calle Esperanza S�nchez Carrascosa, Madrid

Row 1699: Address: Calle Tenerife, 45, Madrid
Latitude: 40.4528275, Longitude: -3.7061217

Row 1700: Address: Calle de San Raimundo, 20, Madrid
Latitude: 40.4518724, Longitude: -3.7053031

Row 1701: No result found for address: Calle del Marqu�s de Leis, 15, Madrid

Row 1702: Address: Calle de Villaamil, 49, Madrid
Latitude: 40.459868, Longitude: -3.707772

Row 1703: Address: Calle Alfalfa, 19, Madrid
Latitude: 40.467722, Longitude: -3.7023003

Row 1704: Address: Calle de Isla de la Gomera, 13, Madrid
Latitude: 40.4618034, Longitude: -3.7069949

Row 1705: Address: Calle Genciana, 8, Madrid
Latitude: 40.4640889, Longitude: -3.7030329

Row 1706: Address: Calle Don Quijote, 11, Madrid
Latitude: 40.4467828, Longitude: -3.699327

Row 1707: Address: Calle Hernani, 60, Madrid
Latitude: 40.4483293, Longitude: -3.7022058

Row 1708: Address: Calle Pensamiento, 27, Madrid
Latitude: 40.4589842, Longitude: -3.6953917

Row 1709: Error geocoding address 'Calle de Ja�n, 29, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Ja%EF%BF%BDn%2C+29%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1710: Address: Calle San Benito, 36, Madrid
Latitude: 40.539903100000004, Longitude: -4.162216355192606

Row 1711: Address: Calle juan del risco, 24, Madrid
Latitude: 40.4582563, Longitude: -3.7035393

Row 1712: Address: Calle Bustillo del Oro, 16, Madrid
Latitude: 40.4612113, Longitude: -3.7067994

Row 1713: Address: Calle Bardala, 8, Madrid
Latitude: 40.4664735, Longitude: -3.6994861

Row 1714: No result found for address: Traves�a de Mar�a Juana s/n, Madrid

Row 1715: Address: Calle Palacios, 4, Madrid
Latitude: 40.4582282, Longitude: -3.7042276

Row 1716: Error geocoding address 'Avenida del General Per�n, 26, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+del+General+Per%EF%BF%BDn%2C+26%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1717: Address: Calle de la Infanta Mercedes, 74, Madrid
Latitude: 40.46152165, Longitude: -3.695345000669319

Row 1718: Address: Calle Genciana, 29, Madrid
Latitude: 40.4640889, Longitude: -3.7030329

Row 1719: Address: Calle Heliotropo, 2 -8, Madrid
Latitude: 40.4730457, Longitude: -3.6908482

Row 1720: No result found for address: Calle Ja�n, 38, Madrid

Row 1721: Address: Calle Juan Pantoja, Madrid
Latitude: 40.4500765, Longitude: -3.7046259

Row 1722: Address: Miosotis, Madrid
Latitude: 40.4651104, Longitude: -3.7021989

Row 1723: No result found for address: Calle de Raimundo Fern�ndez Villaverde, 35, Madrid

Row 1724: Address: Calle Pedro Tezano, 31, Madrid
Latitude: 40.4595768, Longitude: -3.7088876

Row 1725: Address: Calle Clavelinas, 4, Madrid
Latitude: 40.4681314, Longitude: -3.7003268

Row 1726: Address: Calle de Lope de Haro, Madrid
Latitude: 40.4565783, Longitude: -3.7048236

Row 1727: Address: Calle Castillejos, 21, Madrid
Latitude: 40.4560179, Longitude: -3.7074328

Row 1728: Address: bravo murillo, 173, Madrid
Latitude: 40.4530497, Longitude: -3.7032318

Row 1729: Address: Poeta Joan Maragall, 43, Madrid
Latitude: 40.4617215, Longitude: -3.6919695

Row 1730: No result found for address: Calle del General Ram�rez de Madrid, 5, Madrid

Row 1731: Address: Calle de Dulcinea, Madrid
Latitude: 40.4904555, Longitude: -3.3563134

Row 1732: No result found for address: Calle Nen�far, Madrid

Row 1733: Address: gardenias, 5, Madrid
Latitude: 40.4652836, Longitude: -3.7057528

Row 1734: Address: Calle de Pinos Baja, 74 N, Madrid
Latitude: 40.4691865, Longitude: -3.702027

Row 1735: No result found for address: Jer�nima Llorente, 45, Madrid

Row 1736: Address: Calle del Cactus, 27, Madrid
Latitude: 40.4604183, Longitude: -3.7006902

Row 1737: No result found for address: Calle de San Germ�n, 17, Madrid

Row 1738: No result found for address: Calle de San Germ�n, 5, Madrid

Row 1739: No result found for address: Calle de Fray Jun�pero Serra, 43, Madrid

Row 1740: Address: lope de haro, Madrid
Latitude: 40.4570638, Longitude: -3.7030705

Row 1741: Address: Paseo de la Castellana, 105, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 1742: Address: Calle Aranjuez, Madrid
Latitude: 40.4493809, Longitude: -3.7076406

Row 1743: Address: molina, Madrid
Latitude: 40.434339, Longitude: -3.6567968

Row 1744: No result found for address: Calle del Marqu�s de Leis, Madrid

Row 1745: Address: Calle de la Hierbabuena, Madrid
Latitude: 40.4595739, Longitude: -3.7021155

Row 1746: Address: Genciana, Madrid
Latitude: 40.4650309, Longitude: -3.7032348

Row 1747: No result found for address: Calle del Tr�bol, Madrid

Row 1748: Address: Calle Zamora, Madrid
Latitude: 40.4516641, Longitude: -3.7080745

Row 1749: Address: Calle de Rosario Pino, Madrid, Madrid
Latitude: 40.4620667, Longitude: -3.6902995

Row 1750: No result found for address: Traves�a de Berruguete, Madrid

Row 1751: No result found for address: Calle Aguile�as, Madrid, Madrid

Row 1752: No result found for address: Calle Jer�nima Llorente, 33, Madrid

Row 1753: Address: Algodonales, Madrid
Latitude: 40.4598582, Longitude: -3.699239

Row 1754: No result found for address: Calle Manuela M�nguez, 11, Madrid

Row 1755: Address: Calle de la Infanta Mercedes, 28, Madrid
Latitude: 40.4526559, Longitude: -3.6993409

Row 1756: Address: Calle Alcolea, 9, Madrid
Latitude: 40.5942139, Longitude: -4.1476343

Row 1757: No result found for address: Calle Asunci�n Castell, 16, Madrid

Row 1758: Address: Calle Orense, Madrid s/n, Madrid
Latitude: 40.4622063, Longitude: -3.6938972

Row 1759: Address: castillejos, Madrid
Latitude: 40.4598788, Longitude: -3.694067

Row 1760: No result found for address: Calle de Joaqu�n Arjona, 29, Madrid

Row 1761: Address: Plaza Manolete, Madrid
Latitude: 40.4543521, Longitude: -3.6909782

Row 1762: Address: Calle de las Magnolias, Madrid
Latitude: 40.4706675, Longitude: -3.6911367

Row 1763: Address: Calle Tenerife, 4, Madrid
Latitude: 40.4490855, Longitude: -3.7054466

Row 1764: Address: ALIGUSTRE, Madrid
Latitude: 40.4657766, Longitude: -3.7059318

Row 1765: Address: Calle Goiri, Madrid
Latitude: 40.4536168, Longitude: -3.7037983

Row 1766: Address: Calle de Hernani, 60, Madrid
Latitude: 40.4483293, Longitude: -3.7022058

Row 1767: Address: Calle Mirto, Madrid
Latitude: 40.4657631, Longitude: -3.6981213

Row 1768: Address: Calle de Hernani, 15, Madrid
Latitude: 40.448428500000006, Longitude: -3.7022759342342337

Row 1769: Address: Calle Carolinas, 17, Madrid
Latitude: 40.4511473, Longitude: -3.705218

Row 1770: No result found for address: Avenida del Doctor Federico Rubio y Gal�, 50, Madrid

Row 1771: Address: Calle de la Infanta Mercedes, 111, Madrid
Latitude: 40.4640775, Longitude: -3.6931737

Row 1772: No result found for address: Calle Mariano Fern�ndez, 4, Madrid

Row 1773: Address: Calle Carlos Rubio, 3, Madrid
Latitude: 40.4500051, Longitude: -3.7063808

Row 1774: No result found for address: Calle de San Germ�n, 37, Madrid

Row 1775: Address: Calle de San Benito, Madrid, Madrid
Latitude: 40.4701771, Longitude: -3.6947125

Row 1776: No result found for address: Calle Sor �ngela de la Cruz, 31, Madrid

Row 1777: Address: Calle de Matilde Landa, 6, Madrid
Latitude: 40.4732447, Longitude: -3.6949561

Row 1778: Address: Tablada, 38, Madrid
Latitude: 40.4607242, Longitude: -3.7024422

Row 1779: Address: santa juliana, 6, Madrid
Latitude: 40.4524334, Longitude: -3.703827

Row 1780: No result found for address: Calle Nuestra Se�ora del Carmen, 7, Madrid

Row 1781: Address: Calle de Bravo Murillo, 173, Madrid
Latitude: 40.4530497, Longitude: -3.7032318

Row 1782: Address: SAN GERMAN, 49, Madrid
Latitude: 40.4571284, Longitude: -3.7002814

Row 1783: Address: Calle Berruguete s/n, Madrid
Latitude: 40.4615507, Longitude: -3.704876

Row 1784: Address: FEDERICO RUBIO Y GALI, Madrid
Latitude: 40.452122700000004, Longitude: -3.711081481732161

Row 1785: Address: Calle del Aviador Zorita, Madrid, 32, Madrid
Latitude: 40.4499827, Longitude: -3.6981758

Row 1786: Address: Calle Agracejo, Madrid
Latitude: 40.4664722, Longitude: -3.7053927

Row 1787: No result found for address: Calle del Ca�averal, Madrid

Row 1788: Address: Bravo Murillo, Madrid
Latitude: 40.4513214, Longitude: -3.7033197

Row 1789: Address: Calle Pedro Tezano, Madrid, Madrid
Latitude: 40.4595768, Longitude: -3.7088876

Row 1790: Address: Calle Nogal, 14, Madrid
Latitude: 40.4620346, Longitude: -3.7031228

Row 1791: Address: juan pantoja, 19, Madrid
Latitude: 40.4501073, Longitude: -3.7052834

Row 1792: Address: Calle general yague, 49, Madrid
Latitude: 40.4571284, Longitude: -3.7002814

Row 1793: Address: Calle de Rosa de Silva, Madrid
Latitude: 40.4632056, Longitude: -3.695514

Row 1794: Address: Calle Berruguete, 2, Madrid
Latitude: 40.4554633, Longitude: -3.7033936

Row 1795: Address: Calle del Cactus, Madrid
Latitude: 40.4604183, Longitude: -3.7006902

Row 1796: No result found for address: Calle de Raimundo Fern�ndez Villaverde, 39, Madrid

Row 1797: Address: capitan blanco argibay, Madrid
Latitude: 40.4640914, Longitude: -3.6957768

Row 1798: Address: Molina, 57, Madrid
Latitude: 40.412302499999996, Longitude: -3.7045282415781924

Row 1799: Address: Calle Miosotis, Madrid
Latitude: 40.4651104, Longitude: -3.7021989

Row 1800: Address: Calle Pedro Barreda, Madrid
Latitude: 40.4498516, Longitude: -3.7069746

Row 1801: Address: Calle tenerife, 39, Madrid
Latitude: 40.4524904, Longitude: -3.7061778

Row 1802: Address: Juan del Risco, 48, Madrid
Latitude: 40.4593581, Longitude: -3.7041847

Row 1803: Address: Calle Fereluz, 28, Madrid
Latitude: 40.4634364, Longitude: -3.7010947

Row 1804: Address: Calle Castilla, 13, Madrid
Latitude: 40.97809795, Longitude: -2.6184009180617123

Row 1805: Address: Calle Gardenias, Madrid
Latitude: 19.3474176, Longitude: -99.006904

Row 1806: No result found for address: HERERRA, Madrid

Row 1807: Address: Calle de Olite, Madrid
Latitude: 40.4499353, Longitude: -3.7074156

Row 1808: Address: Calle Anastasio Herrero, 3, Madrid
Latitude: 40.4568562, Longitude: -3.7013813669538758

Row 1809: Address: Edgar Neville, Madrid
Latitude: 40.451976, Longitude: -3.6965219

Row 1810: No result found for address: L�rida, 67, Madrid

Row 1811: Address: Calle del Padre Rubio, Madrid
Latitude: 40.4711922, Longitude: -3.6944031

Row 1812: Address: Calle Adrian Pulido, 3, Madrid
Latitude: 40.4535038, Longitude: -3.7061933

Row 1813: Address: Calle del Aviador Zorita, 2, Madrid
Latitude: 40.449592, Longitude: -3.6983528

Row 1814: Address: Avenida de Brasil, 19, Madrid
Latitude: 40.4585998, Longitude: -3.6936652

Row 1815: Address: Avenida Pablo Iglesias, 25039, Madrid
Latitude: 40.4424135, Longitude: -3.705078

Row 1816: Address: Paseo de la Castellana, 207, Madrid
Latitude: 40.4695566, Longitude: -3.6889509

Row 1817: No result found for address: Calle Ja�n, Madrid

Row 1818: Address: Calle de General Varela, 13, Madrid
Latitude: 40.4574328, Longitude: -3.6951118

Row 1819: Address: Abel, Madrid
Latitude: 40.4503436, Longitude: -3.7082427

Row 1820: Address: Calle Campo Real, 20, Madrid
Latitude: 40.4951013, Longitude: -3.3785033

Row 1821: Address: Calle de Bravo Murillo, 205, Madrid
Latitude: 40.4553587, Longitude: -3.7027739

Row 1822: Address: Calle de Lope de Haro s/n, Madrid
Latitude: 40.4565783, Longitude: -3.7048236

Row 1823: Address: SAN FELIPE, Madrid
Latitude: -34.8921446, Longitude: -56.1841806

Row 1824: Address: Calle Eugenio, Madrid
Latitude: 28.0850592, Longitude: -16.723649

Row 1825: Address: Paseo de la Castellana, 175, Madrid
Latitude: 40.4624229, Longitude: -3.6902207

Row 1826: Address: Calle JOSE, 17, Madrid
Latitude: 19.0558273, Longitude: -104.307286

Row 1827: Address: Calle de los Voluntarios Catalanes s/n, Madrid
Latitude: 40.4654519, Longitude: -3.7015401

Row 1828: Address: Calle de Bravo Murillo, 200 BIS, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 1829: No result found for address: Calle de Raimundo Fern�ndez Villaverde, 45, Madrid

Row 1830: Address: Calle de Santa Juliana, Madrid
Latitude: 40.45239, Longitude: -3.7061176

Row 1831: No result found for address: Calle del General Ram�rez de Madrid, 16, Madrid

Row 1832: Address: Calle Rosario Pino, 18, Madrid
Latitude: 40.4623654, Longitude: -3.6935493

Row 1833: No result found for address: Calle del General Ram�rez de Madrid, Madrid, Madrid

Row 1834: Address: aranjuez, Madrid
Latitude: 4.73574115, Longitude: -74.24763280762585

Row 1835: No result found for address: Calle de Juli�n Besteiro, 19, Madrid

Row 1836: Address: Calle del General Margallo, 26, Madrid
Latitude: 40.4602723, Longitude: -3.6947204

Row 1837: Address: Calle San Valeriano, Madrid
Latitude: 40.451034, Longitude: -3.7083412

Row 1838: Address: Calle de Rosario Pino, 18, Madrid
Latitude: 40.4623654, Longitude: -3.6935493

Row 1839: Address: Calle del General Cabrera, Madrid
Latitude: 40.3793261, Longitude: -3.7746125

Row 1840: Address: Calle Dulcinea, 40, Madrid
Latitude: 40.4482393, Longitude: -3.7000093

Row 1841: Address: LERIDA, 67, Madrid
Latitude: 40.456845200000004, Longitude: -3.700042737728231

Row 1842: Address: HERNANI s/n, Madrid
Latitude: 40.4482393, Longitude: -3.7000093

Row 1843: No result found for address: Paseo de la Direcci�n, 352, Madrid

Row 1844: Address: Calle San Valeriano, 14, Madrid
Latitude: 40.4510157, Longitude: -3.7082252

Row 1845: Address: Orense, Madrid
Latitude: 40.4470443, Longitude: -3.6953834

Row 1846: No result found for address: Calle Hermano G�rate, 9, Madrid

Row 1847: Address: Calle Agracejo, 3, Madrid
Latitude: 40.4664722, Longitude: -3.7053927

Row 1848: Address: Calle Azucenas, 87, Madrid
Latitude: 24.0311908, Longitude: -104.7001513

Row 1849: Address: Berruguete, Madrid
Latitude: 40.4602706, Longitude: -3.7043452

Row 1850: Address: Calle MARQUES DE ENCINARES, Madrid
Latitude: 40.4728001, Longitude: -3.6898811

Row 1851: Address: Calle Reina Mercedes, 22, Madrid
Latitude: 40.45081, Longitude: -3.6952874

Row 1852: Address: Calle Palencia, 35, Madrid
Latitude: 40.4497379, Longitude: -3.7008071

Row 1853: Address: Calle Tenerife, 11, Madrid
Latitude: 40.4498333, Longitude: -3.7058047

Row 1854: Address: Voluntarios Catalanes, Madrid
Latitude: 40.4654519, Longitude: -3.7015401

Row 1855: Address: Carmen Montoya, Madrid
Latitude: 40.4699921, Longitude: -3.6983776

Row 1856: Address: Calle Francos Rodriguez, 19, Madrid
Latitude: 40.4564749, Longitude: -3.7051616

Row 1857: No result found for address: Calle de Joaqu�n Arjona, 10, Madrid

Row 1858: No result found for address: Calle Bruno Ayll�n, Madrid

Row 1859: Address: Calle Nogal, Madrid
Latitude: 40.4616243, Longitude: -3.7033516

Row 1860: Address: Calle de orense, Madrid
Latitude: 40.4523122, Longitude: -3.694996

Row 1861: No result found for address: Calle de M�ller, 19, Madrid

Row 1862: Address: ALMORTAS, Madrid
Latitude: 40.4644335, Longitude: -3.7055119

Row 1863: Address: Calle de Orense, 37, Madrid
Latitude: 40.4497479, Longitude: -3.6952375

Row 1864: Address: Calle Bravo Murillo, 165, Madrid
Latitude: 40.4526313, Longitude: -3.7033043

Row 1865: Address: Calle Sierra Bullones, Madrid, 6, Madrid
Latitude: 40.4665158, Longitude: -3.6987478

Row 1866: No result found for address: Calle de la Guzmania, Madrid

Row 1867: Address: Calle Veza, Madrid
Latitude: 40.4663599, Longitude: -3.698361

Row 1868: Address: Calle Pando, 10, Madrid
Latitude: 40.4067059, Longitude: -3.7445263

Row 1869: Address: Paseo castellana, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 1870: Address: rosendo conde, Madrid
Latitude: 40.4690661, Longitude: -3.7001547

Row 1871: No result found for address: Avenida del Doctor Federico Rubio y Gal�, 30, Madrid

Row 1872: Address: �vila, 14, Madrid
Latitude: 49.1546226, Longitude: -0.3324069

Row 1873: Address: Paseo de la Castellana, 203, Madrid
Latitude: 40.4690159, Longitude: -3.6891037

Row 1874: Address: Paseo de la Castellana, 127, Madrid
Latitude: 40.4580875, Longitude: -3.6914446

Row 1875: Address: Calle Carmen Montoya, Madrid
Latitude: 40.4699921, Longitude: -3.6983776

Row 1876: Address: Calle de San Felipe, Madrid
Latitude: 40.4615576, Longitude: -3.6971013

Row 1877: Address: Calle de Reina Mercedes, Madrid
Latitude: 40.4508961, Longitude: -3.6966851

Row 1878: Address: Calle Baracaldo, 13, Madrid
Latitude: 40.4703204, Longitude: -3.6998008

Row 1879: Address: Calle Reina Mercedes, 3, Madrid
Latitude: 40.45081, Longitude: -3.6952874

Row 1880: Address: Calle de Villaamil, 78, Madrid
Latitude: 40.4618293, Longitude: -3.7079715

Row 1881: Address: Glorieta de Cuatro Caminos, Madrid
Latitude: 40.4469836, Longitude: -3.7042663

Row 1882: Address: Wad Ras, 10, Madrid
Latitude: 40.4553618, Longitude: -3.7073798

Row 1883: Address: Ladera, Madrid
Latitude: 40.6095459, Longitude: -3.6612863

Row 1884: Address: Calle de la Infanta Mercedes, 107, Madrid
Latitude: 40.463819, Longitude: -3.6934978845313315

Row 1885: Address: Calle de las Margaritas, 29, Madrid
Latitude: 40.3555546, Longitude: -3.8033266

Row 1886: Address: Calle de Fereluz, 15, Madrid
Latitude: 40.4634364, Longitude: -3.7010947

Row 1887: Address: Calle de Montoya, Madrid
Latitude: 40.4705396, Longitude: -3.6960366

Row 1888: Address: Plaza Manolete, 1, Madrid
Latitude: 40.4539145, Longitude: -3.6915394

Row 1889: Address: Calle Lorenza Correa, Madrid
Latitude: 40.4533587, Longitude: -3.7062746

Row 1890: Address: SAN RAIMUNDO, Madrid
Latitude: 40.4517504, Longitude: -3.7065932

Row 1891: Address: Calle Dolores Bejarano, Madrid
Latitude: 40.4654718, Longitude: -3.6972406

Row 1892: Address: Calle de Cuevas, Madrid
Latitude: 40.4758365, Longitude: -3.6609521

Row 1893: Address: Calle Topete, Madrid, Madrid
Latitude: 40.4500765, Longitude: -3.7046259

Row 1894: Address: Calle Tiziano, 6, Madrid
Latitude: 40.4510612, Longitude: -3.7032149

Row 1895: No result found for address: Juli�n besteiro, 35, Madrid

Row 1896: Address: Calle Bellver, Madrid
Latitude: 40.4628561, Longitude: -3.7048361

Row 1897: Address: Calle de Hernani, Madrid
Latitude: 40.4483293, Longitude: -3.7022058

Row 1898: No result found for address: Urb. Cuatro Caminos Everyprop.com, Madrid

Row 1899: Address: Calle Don Quijote, Madrid
Latitude: 40.4467828, Longitude: -3.699327

Row 1900: Address: AVIADOR ZORITA, 12, Madrid
Latitude: 40.4486237, Longitude: -3.6983334

Row 1901: No result found for address: Calle de L�rida, 92, Madrid

Row 1902: Address: Calle Guadalix, Madrid
Latitude: 40.4578179, Longitude: -3.7092497

Row 1903: Address: Calle de Juan de Olias, Madrid
Latitude: 40.4533458, Longitude: -3.701054

Row 1904: No result found for address: Calle de San Rogelio, Madrid

Row 1905: No result found for address: Nuestra Se�ora del Carmen, Madrid

Row 1906: No result found for address: Calle Asunci�n Castell, Madrid

Row 1907: No result found for address: Urb. Almenara, Madrid

Row 1908: Address: Calle Pinos Baja, Madrid
Latitude: 40.4691865, Longitude: -3.702027

Row 1909: Address: Calle del Aviador Zorita, Madrid
Latitude: 40.449592, Longitude: -3.6983528

Row 1910: Address: Calle Pinos Alta s/n, Madrid
Latitude: 40.4651366, Longitude: -3.6950896

Row 1911: Address: Calle de las Matas, Madrid
Latitude: 40.577102, Longitude: -4.0022757

Row 1912: No result found for address: Calle del General Ram�rez de Madrid, 42, Madrid

Row 1913: Address: Calle Bellver, 13, Madrid
Latitude: 40.4625626, Longitude: -3.7049308

Row 1914: Address: Calle de Almansa, 10, Madrid
Latitude: 40.4487178, Longitude: -3.7044593

Row 1915: Address: Numancia, 14, Madrid
Latitude: 40.395798, Longitude: -3.6619634

Row 1916: Address: Calle Carolinas, 14, Madrid
Latitude: 40.4512331, Longitude: -3.7051895

Row 1917: Address: Calle Francisca Calonge, Madrid
Latitude: 40.4679521, Longitude: -3.7038431

Row 1918: Address: Calle Beire, Madrid
Latitude: 40.4509205, Longitude: -3.7079845

Row 1919: No result found for address: Traves�a de Pinos Alta, Madrid

Row 1920: Address: Calle Reina Mercedes, 5, Madrid
Latitude: 40.45081, Longitude: -3.6952874

Row 1921: No result found for address: Calle Hermano G�rate, 4, Madrid

Row 1922: Address: Calle de Emilia, Madrid
Latitude: 40.4712911, Longitude: -3.6969145

Row 1923: Address: Calle CUATRO AMIGOS, Madrid
Latitude: 40.4659765, Longitude: -3.6911988

Row 1924: Address: Calle Algodonales, 3, Madrid
Latitude: 40.4598822, Longitude: -3.6998179

Row 1925: No result found for address: Calle Jos� Calvo, Madrid

Row 1926: Address: Calle Bellver, 7, Madrid
Latitude: 40.4621269, Longitude: -3.7049867

Row 1927: No result found for address: Calle la R�bida, 23, Madrid

Row 1928: Address: Calle de Bravo Murillo, 204, Madrid
Latitude: 40.4567368, Longitude: -3.7016652

Row 1929: No result found for address: Calle Antonio G�mez Galiana, Madrid

Row 1930: Address: Calle Reyes Aizquibel, Madrid
Latitude: 40.4682083, Longitude: -3.7077735

Row 1931: No result found for address: Calle de los M�rtires de la Ventilla, Madrid

Row 1932: Address: Avenida de la Ciudad de Barcelona, Madrid
Latitude: 40.4038664, Longitude: -3.6798735

Row 1933: No result found for address: Calle de Narv�ez, Madrid

Row 1934: No result found for address: Avenida de Men�ndez Pelayo, Madrid

Row 1935: Address: Calle Fernan Gonzalez, 43, Madrid
Latitude: 40.4224069, Longitude: -3.6743175

Row 1936: No result found for address: Avenida del Mediterr�neo, Madrid

Row 1937: Address: Calle de Samaria, Madrid
Latitude: 40.4129245, Longitude: -3.6706989

Row 1938: Address: Lope de Rueda, Madrid
Latitude: 40.4171985, Longitude: -3.6779467

Row 1939: No result found for address: Calle de Carlos y Guillermo Fern�ndez Shaw, Madrid

Row 1940: Address: Calle Alcalde Sainz de Baranda, 17, Madrid
Latitude: 40.417071, Longitude: -3.675661

Row 1941: No result found for address: Calle del Alcalde S�inz de Baranda, Madrid

Row 1942: Address: Calle de Juan de Mena, Madrid
Latitude: 40.4368813, Longitude: -3.3625439

Row 1943: Address: Calle de O'Donnell, Madrid
Latitude: 40.4203543, Longitude: -3.665172

Row 1944: No result found for address: Calle de Fern�n Gonzalez, Madrid

Row 1945: Address: Calle de Federico Moreno Torroba, Madrid
Latitude: 40.1888054, Longitude: -3.772577

Row 1946: No result found for address: Calle Academia6, Madrid

Row 1947: Address: Calle Menorca, Madrid
Latitude: 40.4194968, Longitude: -3.6776116

Row 1948: No result found for address: Calle de las Cocheras, Madrid

Row 1949: Address: Calle Cavanilles, Madrid, Madrid
Latitude: 40.4055406, Longitude: -3.6758109

Row 1950: Address: Calle de Juan de Urbieta, Madrid
Latitude: 40.4052276, Longitude: -3.6769205

Row 1951: No result found for address: Calle del Alcalde S�inz de Baranda, 20, Madrid

Row 1952: Address: Calle del Doctor Esquerdo, Madrid
Latitude: 40.4017516, Longitude: -3.67446

Row 1953: No result found for address: Calle Mart�nez Corrochano, Madrid

Row 1954: No result found for address: Calle de Espalter, Madrid

Row 1955: Address: Calle Rafael Salazar Alonso, 20, Madrid
Latitude: 40.41493965, Longitude: -3.667729635799363

Row 1956: Address: Calle de Seco, Madrid
Latitude: 40.3523917, Longitude: -3.6848613

Row 1957: No result found for address: Calle de Gand�a, Madrid

Row 1958: No result found for address: Calle del Marqu�s de Lozoya, 12, Madrid

Row 1959: Address: Juan de Urbieta, Madrid
Latitude: 40.4052276, Longitude: -3.6769205

Row 1960: Address: Avenida DEL MEDITERRANEO, 48, Madrid
Latitude: 40.406231250000005, Longitude: -3.669173049356891

Row 1961: Address: Calle de Juan de Urbieta, Madrid, 13, Madrid
Latitude: 40.40458715, Longitude: -3.677667808123083

Row 1962: Address: Calle del Doctor Esquerdo, 174, Madrid
Latitude: 40.4023031, Longitude: -3.6741891

Row 1963: No result found for address: Calle Juan Esplandi�, Madrid

Row 1964: Address: Calle de Granada, Madrid
Latitude: 40.4036854, Longitude: -3.6767899

Row 1965: Address: Paseo de la Reina Cristina, Madrid, 1, Madrid
Latitude: 40.40684469999999, Longitude: -3.685307433389469

Row 1966: Address: Calle del Doctor Esquerdo, 124, Madrid
Latitude: 40.4075817, Longitude: -3.6703922

Row 1967: Address: Calle de Granada, 20, Madrid
Latitude: 40.4044064, Longitude: -3.678922629313611

Row 1968: No result found for address: Calle de T�llez, Madrid

Row 1969: Address: Calle de Narciso Serra, Madrid
Latitude: 40.4056353, Longitude: -3.6783793

Row 1970: Address: Calle de Antonio Arias, Madrid
Latitude: 40.4178896, Longitude: -3.6714677

Row 1971: Address: Avenida de la Ciudad de Barcelona, 138 -142, Madrid
Latitude: 40.4038664, Longitude: -3.6798735

Row 1972: Address: Menorca, 42, Madrid
Latitude: 40.4192242, Longitude: -3.6735295

Row 1973: Address: Calle del Comercio, Madrid
Latitude: 40.4031217, Longitude: -3.6815821

Row 1974: Address: Ibiza, 23, Madrid
Latitude: 40.418368, Longitude: -3.6756267

Row 1975: No result found for address: Urb. Jer�nimos Prime, Madrid

Row 1976: Address: Calle del Conde de Cartagena, 5, Madrid
Latitude: 40.409373099999996, Longitude: -3.6766451154224677

Row 1977: Address: Calle del Poeta Esteban Villegas, Madrid
Latitude: 40.4081602, Longitude: -3.6803537

Row 1978: Error geocoding address 'Calle de la Cruz del Sur, 31, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Cruz+del+Sur%2C+31%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 1979: Address: Paseo del Prado, Madrid
Latitude: 40.4184253, Longitude: -3.6931586

Row 1980: Address: Paseo de la Reina Cristina, Madrid
Latitude: 40.4074596, Longitude: -3.6792105

Row 1981: Address: Calle del Doce de Octubre, Madrid
Latitude: 40.4161488, Longitude: -3.6732514

Row 1982: Address: antonio casero, 10, Madrid
Latitude: 40.4200377, Longitude: -3.6679855

Row 1983: Address: Calle de Ibiza, Madrid
Latitude: 40.4182733, Longitude: -3.6777064

Row 1984: Address: Calle Ibiza, 37, Madrid
Latitude: 40.418309, Longitude: -3.6736927

Row 1985: No result found for address: Calle de t�llez, Madrid

Row 1986: No result found for address: Calle de Narv�ez, 56, Madrid

Row 1987: Address: Calle DEL DOCE DE OCTUBRE, Madrid
Latitude: 40.4161488, Longitude: -3.6732514

Row 1988: Address: Calle de O'Donnell, 4, Madrid
Latitude: 40.4203543, Longitude: -3.665172

Row 1989: Address: Calle de Alfonso XII, Madrid
Latitude: 40.4076811, Longitude: -3.6886884

Row 1990: Address: Calle de Garibay, Madrid
Latitude: 40.4036134, Longitude: -3.6704814647306288

Row 1991: No result found for address: Calle de P�o Baroja, 7, Madrid

Row 1992: Address: Calle de Felipe IV, Madrid
Latitude: 40.4150742, Longitude: -3.6899519

Row 1993: Address: Calle del Doctor Castelo, Madrid
Latitude: 40.4201991, Longitude: -3.6728108

Row 1994: Address: Calle de Valderribas, Madrid
Latitude: 40.403696, Longitude: -3.6740227

Row 1995: Address: Calle de Ibiza, 74, Madrid
Latitude: 40.417821, Longitude: -3.6697026

Row 1996: No result found for address: cuidad de barcelona, 140, Madrid

Row 1997: Address: Avenida de la Ciudad de Barcelona, 41, Madrid
Latitude: 40.4036659, Longitude: -3.6790395

Row 1998: Address: Calle de O'Donnell, Madrid, Madrid
Latitude: 40.4203543, Longitude: -3.665172

Row 1999: No result found for address: Calle de Narv�ez, 72, Madrid

Row 2000: Address: Calle Cafeto, Madrid
Latitude: 40.3979115, Longitude: -3.674496

Row 2001: No result found for address: Calle de T�llez, 52, Madrid

Row 2002: Address: FERNAN GONZALEZ, Madrid
Latitude: 40.4189571, Longitude: -3.7123448

Row 2003: No result found for address: Avenida Men�ndez Pelayo, Madrid

Row 2004: Address: ANTONIO ARIAS, 5, Madrid
Latitude: 40.4174981, Longitude: -3.6713036

Row 2005: No result found for address: Calle de S�nchez Barc�iztegui, Madrid

Row 2006: Address: Calle Gandia, 6, Madrid
Latitude: 40.398036250000004, Longitude: -3.671480447657868

Row 2007: Address: Avenida de la Ciudad de Barcelona, Madrid, Madrid
Latitude: 40.4038664, Longitude: -3.6798735

Row 2008: No result found for address: Calle del Marqu�s de Lozoya, Madrid

Row 2009: No result found for address: Urb. Jer�nimos Everyprop.com, Madrid

Row 2010: Address: Calle de Valenzuela, Madrid
Latitude: 40.4188796, Longitude: -3.6904983

Row 2011: Error geocoding address 'Calle de la Cruz del Sur, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Cruz+del+Sur%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2012: Address: Calle DEL DOCTOR ESQUERDO, Madrid
Latitude: 40.4017516, Longitude: -3.67446

Row 2013: Address: Calle de Ibiza, Madrid, Madrid
Latitude: 40.4182733, Longitude: -3.6777064

Row 2014: No result found for address: Calle Luis Peidr�, 9, Madrid

Row 2015: No result found for address: Avenida MEN�NDEZ PELAYO, Madrid

Row 2016: No result found for address: Calle Alcalde S�inz de Baranda, 88, Madrid

Row 2017: Address: Juan de Mena, Madrid
Latitude: 40.4077133, Longitude: -3.7400515

Row 2018: No result found for address: Calle ANDR�S TORREJ�N, Madrid

Row 2019: No result found for address: Calle del Alcalde S�inz de Baranda, 77, Madrid

Row 2020: No result found for address: Calle del Alcalde S�inz de Baranda, 19, Madrid

Row 2021: No result found for address: Avenida de Men�ndez Pelayo, 26, Madrid

Row 2022: Address: Avenida de la Ciudad de Barcelona, 59, Madrid
Latitude: 40.4024243, Longitude: -3.6761182

Row 2023: Address: narvaez, 74, Madrid
Latitude: 40.4173206, Longitude: -3.6766064110255376

Row 2024: Address: Paseo de la Infanta Isabel, Madrid
Latitude: 40.4075426, Longitude: -3.6895555

Row 2025: No result found for address: Calle del Alcalde S�inz de Baranda, Madrid, Madrid

Row 2026: No result found for address: Calle Juli�n Gayarre, Madrid, Madrid

Row 2027: Address: Calle Garibay , 4, Madrid
Latitude: 40.40370725, Longitude: -3.6713854588449104

Row 2028: Address: Granada, Madrid
Latitude: 36.7317949, Longitude: -3.6982913

Row 2029: Address: Calle de Samaria, 4, Madrid
Latitude: 40.412079250000005, Longitude: -3.6727423169524136

Row 2030: Address: Antonio Arias, 17, Madrid
Latitude: 40.4160587, Longitude: -3.6714983

Row 2031: Address: Calle de la Estrella Polar, Madrid
Latitude: 40.4096872, Longitude: -3.6674369

Row 2032: Address: Calle de Abtao, Madrid
Latitude: 40.4050369, Longitude: -3.6754856

Row 2033: No result found for address: Urb. doctor esquerdo, Madrid

Row 2034: Address: Paseo de la Reina Cristina, 1, Madrid
Latitude: 40.40684469999999, Longitude: -3.685307433389469

Row 2035: Address: Avenida de la Ciudad de Barcelona, 144, Madrid
Latitude: 40.4038664, Longitude: -3.6798735

Row 2036: Address: Calle de Narciso Serra, 5, Madrid
Latitude: 40.4044978, Longitude: -3.6796903077424514

Row 2037: No result found for address: Calle de J�tiva, Madrid

Row 2038: Address: Calle Pajaritos, Madrid
Latitude: 40.403338, Longitude: -3.6710012

Row 2039: Address: Calle de Barrilero, Madrid
Latitude: 40.3970388, Longitude: -3.6721222

Row 2040: No result found for address: Calle Jos� Mart�nez de Velasco, Madrid

Row 2041: Address: Narciso Serra, Madrid
Latitude: 40.4056353, Longitude: -3.6783793

Row 2042: No result found for address: Calle Juli�n Gayarre, Madrid

Row 2043: Address: Calle de Cavanilles, Madrid
Latitude: 40.4055406, Longitude: -3.6758109

Row 2044: Address: Paseo de la Reina Cristina, 15, Madrid
Latitude: 40.4073638, Longitude: -3.6817885211087398

Row 2045: Address: AV CIUDAD DE BARCELONA, Madrid
Latitude: 40.4038664, Longitude: -3.6798735

Row 2046: Address: Avenida de la Ciudad de Barcelona, 206, Madrid
Latitude: 40.3998618, Longitude: -3.6727104

Row 2047: Address: Calle del Doctor Esquerdo, 184, Madrid
Latitude: 40.40171335, Longitude: -3.6748316353329344

Row 2048: No result found for address: Calle Agust�n Querol, Madrid, Madrid

Row 2049: Address: Calle del Doce de Octubre, 19, Madrid
Latitude: 40.41615275, Longitude: -3.6749687306696543

Row 2050: Address: Calle Sirio, 28, Madrid
Latitude: 40.4120127, Longitude: -3.6640639

Row 2051: Address: Calle de Granada, 24, Madrid
Latitude: 40.4043145, Longitude: -3.6786219645012093

Row 2052: Address: Paseo de la Reina Cristina, 17, Madrid
Latitude: 40.407377, Longitude: -3.681370042417757

Row 2053: No result found for address: Avenida de Men�ndez Pelayo s/n, Madrid

Row 2054: Address: ibiza, 52, Madrid
Latitude: 40.4178506, Longitude: -3.6723799

Row 2055: Address: Calle DE NARCISO SERRA, Madrid
Latitude: 40.4056353, Longitude: -3.6783793

Row 2056: Address: Avenida de la Ciudad de Barcelona, 180, Madrid
Latitude: 40.4013145, Longitude: -3.676211

Row 2057: No result found for address: Urb. Jeronimos Prime, Madrid

Row 2058: Address: Calle Adelfas, 4, Madrid
Latitude: 40.402118, Longitude: -3.6728037311432065

Row 2059: Address: Calle de Cavanilles, 11, Madrid
Latitude: 40.40671505, Longitude: -3.6769116676277576

Row 2060: No result found for address: Calle Del Marqu�s de Lozoya, Madrid

Row 2061: Address: Avenida de la Ciudad de Barcelona, 128, Madrid
Latitude: 40.4043466, Longitude: -3.6815167

Row 2062: No result found for address: Calle Andr�s Torrej�n, 24, Madrid

Row 2063: No result found for address: Calle Mateo L�pez, 2, Madrid

Row 2064: Address: Calle Sirio, Madrid
Latitude: 40.4097295, Longitude: -3.6644715

Row 2065: Address: Calle Portal De Belen, Madrid
Latitude: 40.4120832, Longitude: -3.6743427

Row 2066: No result found for address: Juli�n Gayarre, Madrid

Row 2067: Address: Calle Regalada, Madrid
Latitude: 40.4045707, Longitude: -3.6744191

Row 2068: No result found for address: Avenida de Men�ndez Pelayo, 42, Madrid

Row 2069: Address: Calle de Narciso Serra, 11, Madrid
Latitude: 40.4052293, Longitude: -3.6788362

Row 2070: Address: Calle de la Estrella Polar, 26, Madrid
Latitude: 40.4104716, Longitude: -3.665613732092729

Row 2071: No result found for address: Calle del Alcalde S�inz de Baranda, 107, Madrid

Row 2072: No result found for address: Avenida del Mediterr�neo, 38, Madrid

Row 2073: Address: Avenida de la Ciudad de Barcelona, 29, Madrid
Latitude: 40.40427875, Longitude: -3.6801587082676743

Row 2074: Address: Calle del Doctor Castelo, 32, Madrid
Latitude: 40.4201991, Longitude: -3.6728108

Row 2075: No result found for address: Avenida del Mediterr�neo, 48, Madrid

Row 2076: Address: juan esplandiu, 7, Madrid
Latitude: 40.4177482, Longitude: -3.6626351

Row 2077: Address: Calle de Barrilero, 5, Madrid
Latitude: 40.3975527, Longitude: -3.6726293772699456

Row 2078: Address: Calle de Alfonso XII, 13, Madrid
Latitude: 40.4096811, Longitude: -3.6888351

Row 2079: No result found for address: Calle de Narv�ez, 49, Madrid

Row 2080: No result found for address: Avenida de Men�ndez Pelayo, 111, Madrid

Row 2081: Address: Av de mediterraneo, Madrid
Latitude: 40.4067344, Longitude: -3.6680998

Row 2082: No result found for address: Calle Alcalde S�inz de Baranda, 43, Madrid

Row 2083: Address: Calle Alfonso XII, Madrid
Latitude: 40.4076811, Longitude: -3.6886884

Row 2084: Address: Calle de Lope de Rueda, Madrid
Latitude: 40.4226467, Longitude: -3.6774226

Row 2085: Address: Cocheras, Madrid
Latitude: 40.5039898, Longitude: -3.692537119276019

Row 2086: No result found for address: Calle Calcograf�a, 5, Madrid

Row 2087: No result found for address: Calle O'Donell, 46, Madrid

Row 2088: No result found for address: Calle de �ngel Ganivet, 7, Madrid

Row 2089: No result found for address: Calle Agust�n Querol, Madrid

Row 2090: Address: Avenida de Nazaret, 13, Madrid
Latitude: 40.4115698, Longitude: -3.6700801

Row 2091: Address: Paseo de la Reina Cristina, Madrid, Madrid
Latitude: 40.4074596, Longitude: -3.6792105

Row 2092: Address: Avenida de la Ciudad de Barcelona, 178, Madrid
Latitude: 40.40173255, Longitude: -3.6761887180302892

Row 2093: No result found for address: Calle del Alcalde S�inz de Baranda, 76, Madrid

Row 2094: Address: Calle del Pez Volador, 34, Madrid
Latitude: 40.4139169, Longitude: -3.6637687

Row 2095: Address: Calle NARCISO SERRA, Madrid
Latitude: 40.4056353, Longitude: -3.6783793

Row 2096: Address: Calle del Doctor Esquerdo, 209, Madrid
Latitude: 40.4023412, Longitude: -3.6735159

Row 2097: No result found for address: Plaza Ni�o Jes�s, 2, Madrid

Row 2098: No result found for address: Calle Fuenterrab�a, 6, Madrid

Row 2099: Address: Calle de Lope de Rueda, Madrid, Madrid
Latitude: 40.4226467, Longitude: -3.6774226

Row 2100: Address: Calle del Doctor Castelo, 29, Madrid
Latitude: 40.4204059, Longitude: -3.6755642

Row 2101: Address: Avenida de la Ciudad de Barcelona, 17, Madrid
Latitude: 40.404794550000005, Longitude: -3.6814900323445694

Row 2102: Address: Calle de Gutenberg, 8, Madrid
Latitude: 40.4051266, Longitude: -3.681190787061764

Row 2103: Address: Plaza del Doctor Laguna, 5, Madrid
Latitude: 40.4155186, Longitude: -3.6726772

Row 2104: Address: Calle Menorca, 30, Madrid
Latitude: 40.4193293, Longitude: -3.6752895

Row 2105: Address: Calle de Seco, 9, Madrid
Latitude: 40.3458381, Longitude: -3.7127039

Row 2106: Address: Calle de Ibiza, 18, Madrid
Latitude: 40.4181399, Longitude: -3.6765204

Row 2107: No result found for address: Avenida Men�ndez Pelayo, 51, Madrid

Row 2108: Address: Granada, 35, Madrid
Latitude: 37.338911, Longitude: -2.9035487

Row 2109: No result found for address: Avenida de Men�ndez Pelayo, 109, Madrid

Row 2110: Address: Calle de Cavanilles, 7, Madrid
Latitude: 40.4068739, Longitude: -3.6772230012773717

Row 2111: Address: Paseo REINA CRISTINA, Madrid
Latitude: 40.4074596, Longitude: -3.6792105

Row 2112: Address: Calle antonio casero, Madrid
Latitude: 40.4195193, Longitude: -3.6653712

Row 2113: Address: Urb. S�, Madrid
Latitude: -11.966208, Longitude: -76.9936926

Row 2114: Address: Calle de Valderribas, 6, Madrid
Latitude: 40.405872200000005, Longitude: -3.679310211333336

Row 2115: No result found for address: Calle de Fern�n Gonzalez, 59, Madrid

Row 2116: No result found for address: Avenida del Mediterr�neo, 45, Madrid

Row 2117: Address: Avenida de la Ciudad de Barcelona, 49, Madrid
Latitude: 40.4032497, Longitude: -3.677911648946866

Row 2118: No result found for address: Calle Anunciaci�n, 4, Madrid

Row 2119: No result found for address: Calle del Marqu�s de Lozoya, 17, Madrid

Row 2120: Address: Calle Cruz del sur, 23, Madrid
Latitude: 40.40912625, Longitude: -3.6685236088730573

Row 2121: Address: Calle Seco, 1, Madrid
Latitude: 40.39912905, Longitude: -3.671613854471773

Row 2122: Address: Calle del Doctor Esquerdo, 217, Madrid
Latitude: 40.40148835, Longitude: -3.6738830512596534

Row 2123: Address: Calle de Ibiza, 15, Madrid
Latitude: 40.4184362, Longitude: -3.6769759

Row 2124: No result found for address: Calle de M�iquez, 20, Madrid

Row 2125: Address: Calle Federico Moreno Torroba, 9, Madrid
Latitude: 40.4051111, Longitude: -3.6672395

Row 2126: No result found for address: Calle del Alcalde S�inz de Baranda, 49, Madrid

Row 2127: Address: Calle del Doctor Esquerdo, 171, Madrid
Latitude: 40.4073612, Longitude: -3.669711713303032

Row 2128: Address: Calle de Seco, 1, Madrid
Latitude: 40.3467982, Longitude: -3.7126354

Row 2129: No result found for address: Avenida de Men�ndez Pelayo, 55, Madrid

Row 2130: No result found for address: Calle Fuenterrab�a, 4, Madrid

Row 2131: Address: Calle del Doctor Esquerdo, 114, Madrid
Latitude: 40.408705749999996, Longitude: -3.6705258292172736

Row 2132: No result found for address: Calle de Narv�ez, 37, Madrid

Row 2133: Address: Calle de Valderribas, 17, Madrid
Latitude: 40.405781649999994, Longitude: -3.677960981278173

Row 2134: Address: Calle Sirio, 44, Madrid
Latitude: 40.41061115, Longitude: -3.66489115220787

Row 2135: No result found for address: Calle Juan Esplandi�, 4, Madrid

Row 2136: Address: Calle del Pez Volador, 38, Madrid
Latitude: 40.4138899, Longitude: -3.6629409

Row 2137: No result found for address: Calle Juli�n Gayarre, 8, Madrid

Row 2138: No result found for address: Avenida del Mediterr�neo, 14, Madrid

Row 2139: No result found for address: Avenida del Mediterr�neo, 43, Madrid

Row 2140: Address: Calle de Valderribas, 66, Madrid
Latitude: 40.403696, Longitude: -3.6740227

Row 2141: Address: Calle de Juan de Urbieta, 42, Madrid
Latitude: 40.4065291, Longitude: -3.6756874

Row 2142: Address: Calle Narciso Serra, 8, Madrid
Latitude: 40.40446465, Longitude: -3.6790720309975944

Row 2143: Address: Avenida de la Ciudad de Barcelona, 220, Madrid
Latitude: 40.3988057, Longitude: -3.6706980689017135

Row 2144: No result found for address: Calle de M�iquez, 50, Madrid

Row 2145: No result found for address: Calle del Alcalde S�inz de Baranda, 109, Madrid

Row 2146: Address: Calle de Federico Moreno Torroba, 1, Madrid
Latitude: 40.1888054, Longitude: -3.772577

Row 2147: Address: Calle de Lope de Rueda, 41, Madrid
Latitude: 40.4226467, Longitude: -3.6774226

Row 2148: No result found for address: Calle de Ruiz de Alarc�n, 12, Madrid

Row 2149: Address: Calle de Antonio Arias, 11, Madrid
Latitude: 40.4170591, Longitude: -3.6713304

Row 2150: Address: Avenida de la Ciudad de Barcelona, 107, Madrid
Latitude: 40.39929975, Longitude: -3.670759173711553

Row 2151: Address: Calle de Narciso Serra, 6 d, Madrid
Latitude: 40.4056353, Longitude: -3.6783793

Row 2152: Address: Calle de Alfonso XII, 19, Madrid
Latitude: 40.4075688, Longitude: -3.6883533087525073

Row 2153: No result found for address: Calle de Narv�ez, 71, Madrid

Row 2154: Address: Avenida de la Ciudad de Barcelona, 140, Madrid
Latitude: 40.402957799999996, Longitude: -3.679379743645417

Row 2155: No result found for address: Calle de Jos� Martinez de Velasco, 32, Madrid

Row 2156: No result found for address: Avenida del Mediterr�neo, 42, Madrid

Row 2157: Address: Calle del Doctor Esquerdo, 102, Madrid
Latitude: 40.410122, Longitude: -3.6701625

Row 2158: Address: Avenida de la Ciudad de Barcelona, 31, Madrid
Latitude: 40.404217599999996, Longitude: -3.680000186802191

Row 2159: Address: Avenida de la Ciudad de Barcelona, 190, Madrid
Latitude: 40.40084925, Longitude: -3.6746689996546142

Row 2160: Address: Calle los Mesejo, 3, Madrid
Latitude: 40.39924895, Longitude: -3.670244177072315

Row 2161: Address: Sainz de Baranda-Ibiza-Retiro, Madrid
Latitude: 40.4169153, Longitude: -3.6772813

Row 2162: Address: Calle de Alfonso XII, 22, Madrid
Latitude: 40.4163536, Longitude: -3.6891719

Row 2163: No result found for address: Calle de Narv�ez, 84, Madrid

Row 2164: Address: Calle del Poeta Esteban Villegas, 16, Madrid
Latitude: 40.4082549, Longitude: -3.6791132

Row 2165: Address: Calle de Gutenberg, 9, Madrid
Latitude: 40.40595315, Longitude: -3.681207941558569

Row 2166: No result found for address: Calle de J�tiva, 7, Madrid

Row 2167: Address: Calle de Abtao s/n, Madrid
Latitude: 40.4050369, Longitude: -3.6754856

Row 2168: No result found for address: Narv�ez, Madrid

Row 2169: No result found for address: Calle de Valderribas-Ni�o Jes�s, Madrid

Row 2170: No result found for address: Calle del Marqu�s de Lozoya, 24, Madrid

Row 2171: No result found for address: Calle del Alcalde S�inz de Baranda, 18, Madrid

Row 2172: Address: Retiro, Madrid
Latitude: 40.4111495, Longitude: -3.6760566

Row 2173: Address: WALIA, Madrid
Latitude: 40.4075923, Longitude: -3.6716693

Row 2174: Address: Calle del Cerro Negro, 12, Madrid
Latitude: 40.3967059, Longitude: -3.6718983

Row 2175: Address: Calle de Valderribas, 8, Madrid
Latitude: 40.40580215, Longitude: -3.6791462330897717

Row 2176: No result found for address: Calle del Alcalde S�inz de Baranda, 4, Madrid

Row 2177: Address: Calle de Valderribas, 1, Madrid
Latitude: 40.406622299999995, Longitude: -3.680236147494985

Row 2178: Address: Calle Menorca, 10, Madrid
Latitude: 40.4194279, Longitude: -3.6781185

Row 2179: No result found for address: Calle de las Cocheras, 4, Madrid

Row 2180: Address: Calle del Doctor Esquerdo, 162, Madrid
Latitude: 40.4030446, Longitude: -3.6736480835582856

Row 2181: No result found for address: Calle de Moreto, 8, Madrid

Row 2182: No result found for address: Avenida del Mediterr�neo, 65, Madrid

Row 2183: Address: Calle de Valderribas, 10, Madrid
Latitude: 40.4057976, Longitude: -3.678757

Row 2184: Address: ALCALDE SAINZ DE BARANDA, Madrid
Latitude: 40.4192516, Longitude: -3.6654461

Row 2185: Address: Calle Juan de Juanes, 14, Madrid
Latitude: 40.4025937, Longitude: -3.668342689129827

Row 2186: Address: Calle Ibiza, 14, Madrid
Latitude: 40.4181323, Longitude: -3.6769118

Row 2187: No result found for address: Calle de M�iquez, 66, Madrid

Row 2188: Address: Avenida de la Ciudad de Barcelona, 55, Madrid
Latitude: 40.4027513, Longitude: -3.6772638

Row 2189: No result found for address: Calle de Montalb�n, 10, Madrid

Row 2190: Address: Paseo de la Infanta Isabel, 21, Madrid
Latitude: 40.4068678, Longitude: -3.686883487557189

Row 2191: Address: marques de lozoya, 12, Madrid
Latitude: 40.4165898, Longitude: -3.6641020704115794

Row 2192: Address: Calle Francisco Abril, 13, Madrid
Latitude: 40.4006244, Longitude: -3.668955277904565

Row 2193: No result found for address: Urb. Ni�o Jes�s, Madrid

Row 2194: Address: Calle CAVANILLES, Madrid
Latitude: 40.4055406, Longitude: -3.6758109

Row 2195: Address: Calle los Mesejo, 22, Madrid
Latitude: 40.401384, Longitude: -3.6688976220619436

Row 2196: Address: Calle del Doctor Esquerdo, 99, Madrid
Latitude: 40.4017516, Longitude: -3.67446

Row 2197: No result found for address: Calle Men�ndez Pelayo, 41, Madrid

Row 2198: No result found for address: Plaza de los Reyes Magos, Madrid

Row 2199: Address: Calle de Alfonso XII, Madrid, Madrid
Latitude: 40.4076811, Longitude: -3.6886884

Row 2200: Address: Calle valderribas, 80, Madrid
Latitude: 40.4016618, Longitude: -3.6694191113105292

Row 2201: Address: Calle Cerro de la Plata, Madrid
Latitude: 40.3967708, Longitude: -3.6739056

Row 2202: Address: Calle del Comercio, 2, Madrid
Latitude: 40.40402705, Longitude: -3.681631244647158

Row 2203: No result found for address: Calle Mart�nez Corrochano, 6, Madrid

Row 2204: Address: granada, Madrid
Latitude: 36.7317949, Longitude: -3.6982913

Row 2205: No result found for address: Calle de Ruiz de Alarc�n s/n, Madrid

Row 2206: Address: Calle de Granada, 35, Madrid
Latitude: 40.4052833, Longitude: -3.6804522

Row 2207: No result found for address: Calle de Alberto Bosch, Madrid

Row 2208: Address: Calle del Doctor Esquerdo, 65, Madrid
Latitude: 40.419366, Longitude: -3.668813

Row 2209: Address: Calle del Doce de Octubre, 17, Madrid
Latitude: 40.4161263, Longitude: -3.6751681945154315

Row 2210: No result found for address: Calle de j�tiva, 2, Madrid

Row 2211: No result found for address: Avenida de Men�ndez Pelayo, 117, Madrid

Row 2212: Address: Calle del Doctor Esquerdo, 163, Madrid
Latitude: 40.4080915, Longitude: -3.6697012066007533

Row 2213: Address: Calle Menorca, 45, Madrid
Latitude: 40.4194222, Longitude: -3.6735482

Row 2214: Address: Calle de Garibay, 10, Madrid
Latitude: 40.542974, Longitude: -3.6312832

Row 2215: Address: Calle Sirio, 60, Madrid
Latitude: 40.409530950000004, Longitude: -3.664908478652804

Row 2216: Error geocoding address 'Calle de la Cruz del Sur, 26, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Cruz+del+Sur%2C+26%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2217: Address: Calle Valderribas , 62, Madrid
Latitude: 40.403696, Longitude: -3.6740227

Row 2218: No result found for address: Plaza de los Reyes Magos, 3, Madrid

Row 2219: Address: Calle de Abtao, 8, Madrid
Latitude: 40.403279, Longitude: -3.6767779565470136

Row 2220: Address: Calle del Doctor Esquerdo, 59, Madrid
Latitude: 40.420058, Longitude: -3.6688518

Row 2221: No result found for address: Calle de Granada, Pac�fico, Retiro s/n, Madrid

Row 2222: Address: IBIZA, 17, Madrid
Latitude: 40.4184361, Longitude: -3.6768414

Row 2223: Address: Calle Jesus Aprendiz, Madrid
Latitude: 40.4116705, Longitude: -3.67089

Row 2224: No result found for address: Calle de Fern�n Gonz�lez, Madrid

Row 2225: No result found for address: Calle Jos� Martinez de Velasco, Madrid

Row 2226: Address: Calle SIRIO, Madrid
Latitude: 40.4097295, Longitude: -3.6644715

Row 2227: Address: Calle de Lope de Rueda, 30, Madrid
Latitude: 40.4226467, Longitude: -3.6774226

Row 2228: Address: Calle de Garibay, 4, Madrid
Latitude: 40.542974, Longitude: -3.6312832

Row 2229: Address: MENENDEZ PELAYO, Madrid
Latitude: 40.4042973, Longitude: -3.6811007

Row 2230: Address: Calle de la Estrella Polar, 3, Madrid
Latitude: 40.41048875, Longitude: -3.6677188810480894

Row 2231: Address: Narvaez, Madrid
Latitude: 40.4155884, Longitude: -3.6767597

Row 2232: Address: Calle del Comercio, 8, Madrid
Latitude: 40.40279645, Longitude: -3.6828831091338534

Row 2233: Address: fernan gonzalez, 51, Madrid
Latitude: 40.4195395, Longitude: -3.6744524

Row 2234: Address: Calle Julian Gayarre, Madrid
Latitude: 40.4051482, Longitude: -3.683096

Row 2235: Address: Plaza Conde de Casal, 2, Madrid
Latitude: 40.4063281, Longitude: -3.6701609

Row 2236: Address: Calle de Juan de Urbieta, 18, Madrid
Latitude: 40.404600099999996, Longitude: -3.6769834772921928

Row 2237: Address: federico moreno torroba, Madrid
Latitude: 40.4060761, Longitude: -3.667168976011837

Row 2238: Address: Calle Doctor Esquerdo, Madrid
Latitude: 40.4133646, Longitude: -3.6707516

Row 2239: Address: Calle del Doctor Castelo, Madrid, Madrid
Latitude: 40.4201991, Longitude: -3.6728108

Row 2240: No result found for address: Calle del Alcalde S�inz de Baranda, 80, Madrid

Row 2241: Address: Avenida de la Ciudad de Barcelona, 77, Madrid
Latitude: 40.4016246, Longitude: -3.6751988

Row 2242: Address: Calle Estrella Polar, Madrid
Latitude: 40.4097132, Longitude: -3.6688689

Row 2243: Address: O�Donnell, Madrid
Latitude: 40.422202, Longitude: -3.6690629

Row 2244: No result found for address: Calle de Luis Mitjans, Madrid, Madrid

Row 2245: Address: Calle del Cerro Negro, Madrid
Latitude: 40.3954994, Longitude: -3.6735399

Row 2246: Address: Calle de la Estrella Polar, 14, Madrid
Latitude: 40.4098032, Longitude: -3.666428553802705

Row 2247: Address: Calle los Mesejo, 27, Madrid
Latitude: 40.401267700000005, Longitude: -3.669472511735573

Row 2248: No result found for address: Calle del Alcalde S�inz de Baranda, 61, Madrid

Row 2249: Address: Calle de Juan Valera, Madrid
Latitude: 40.4426778, Longitude: -3.3588883

Row 2250: Address: Calle Jativa, 29, Madrid
Latitude: 40.3978077, Longitude: -3.6720753

Row 2251: Address: Calle Gutemberg, 26, Madrid
Latitude: 40.2969343, Longitude: -3.7000959

Row 2252: No result found for address: Calle de Antonio Acu�a, Madrid

Row 2253: No result found for address: Calle de Gand�a, 3 , 5�, Madrid

Row 2254: No result found for address: alcaide sainz de baranda, 42, Madrid

Row 2255: Address: Calle Francisco Abril, Madrid
Latitude: 40.4006388, Longitude: -3.6695324

Row 2256: No result found for address: Calle Andr�s Torrej�n, 22, Madrid

Row 2257: Address: Doctor Velasco, Madrid
Latitude: 40.4081184, Longitude: -3.6900103

Row 2258: Address: Pez Austral, Madrid
Latitude: 40.4112951, Longitude: -3.6659073

Row 2259: Address: Calle ANTONIO CASERO, Madrid
Latitude: 40.4195193, Longitude: -3.6653712

Row 2260: Address: Calle de Jesus Aprendiz, Madrid
Latitude: 40.4099647, Longitude: -3.6711868

Row 2261: Address: Calle del Doctor Esquerdo, 173, Madrid
Latitude: 40.4071541, Longitude: -3.66993

Row 2262: No result found for address: Avenida de Men�ndez Pelayo, 101, Madrid

Row 2263: Address: Calle de Valderribas, 27, Madrid
Latitude: 40.4053318, Longitude: -3.6772116

Row 2264: Address: Calle del Doctor Esquerdo, 82, Madrid
Latitude: 40.4125768, Longitude: -3.6702403259173995

Row 2265: Address: Calle de Ibiza, 50, Madrid
Latitude: 40.4179208, Longitude: -3.672591

Row 2266: Address: Calle de Narciso Serra, 32, Madrid
Latitude: 40.4062135, Longitude: -3.6776889621935975

Row 2267: Address: Calle Sirio, 52, Madrid
Latitude: 40.4097295, Longitude: -3.6644715

Row 2268: No result found for address: Calle de Jos� Martinez de Velasco, Madrid

Row 2269: Address: Calle Rafael Salazar Alonso, 22, Madrid
Latitude: 40.4150721, Longitude: -3.667567771906866

Row 2270: Address: Maiquez, 46, Madrid
Latitude: 40.4177236, Longitude: -3.6732502

Row 2271: No result found for address: Calle de M�iquez, Madrid, 46, Madrid

Row 2272: Address: Calle Antonio Casero, Madrid
Latitude: 40.4195193, Longitude: -3.6653712

Row 2273: Address: Calle del Poeta Esteban Villegas, 18, Madrid
Latitude: 40.4082253, Longitude: -3.6785487

Row 2274: No result found for address: Calle de Luis Mitjans, Madrid

Row 2275: Address: Calle los Mesejo, Madrid
Latitude: 40.4001481, Longitude: -3.6696307

Row 2276: No result found for address: Calle de �ngel Ganivet, Madrid

Row 2277: No result found for address: Calle Andr�s Torrej�n, Madrid

Row 2278: Address: Calle Valeria, Madrid
Latitude: 40.4007964, Longitude: -3.6699026

Row 2279: Address: Avenida Pablo Neruda, Madrid
Latitude: 40.3942967, Longitude: -3.6402547

Row 2280: No result found for address: Calle de Rodr�guez Espinosa s/n, Madrid

Row 2281: Address: Calle Lozano, 6, Madrid
Latitude: 40.3960721, Longitude: -3.6708628

Row 2282: Address: Calle de Luis Lopez, Madrid
Latitude: 40.2319182, Longitude: -3.992543

Row 2283: No result found for address: Calle del Puerto de Arlab�n, Madrid

Row 2284: No result found for address: Calle del Puerto de Balbar�n, Madrid

Row 2285: No result found for address: Calle Luis Bu�uel, Madrid

Row 2286: No result found for address: Calle Antonio Dur�n Tovar, Madrid

Row 2287: No result found for address: Calle del Puerto de Balbar�n, 111, Madrid

Row 2288: No result found for address: Camino Venta del P�jaro, Madrid

Row 2289: No result found for address: Calle Cooperativa El�ctrica, Madrid

Row 2290: Address: Calle del Doctor Lozano, Madrid
Latitude: 40.4031368, Longitude: -3.6606986

Row 2291: Address: Calle Puerto del Monasterio, Madrid
Latitude: 40.3939126, Longitude: -3.6624898

Row 2292: Address: maquinilla, 13, Madrid
Latitude: 40.3804526, Longitude: -3.6370562

Row 2293: No result found for address: Calle de Pe�a de la Atalaya, Madrid

Row 2294: Address: Avenida de San Diego, Madrid
Latitude: 40.385113, Longitude: -3.6660697

Row 2295: Address: Calle JOSUE LILLO, Madrid
Latitude: 40.3855116, Longitude: -3.6690168

Row 2296: No result found for address: Avenida de Pe�a Prieta, Madrid

Row 2297: Address: Calle Risco de Peloche, Madrid
Latitude: 40.3937125, Longitude: -3.6559059

Row 2298: Address: Calle Sierra Madrona, 10, Madrid
Latitude: 40.39833845, Longitude: -3.6619580950033015

Row 2299: Address: Calle Puerto Alto, Madrid
Latitude: 40.3930343, Longitude: -3.6684057

Row 2300: No result found for address: Calle de Josu� Lillo, Madrid

Row 2301: No result found for address: Calle de la Sierra de los Filabres, Madrid

Row 2302: No result found for address: Calle de Venancio Mart�n, Madrid

Row 2303: Address: Calle de Concejo de Teverga, Madrid
Latitude: 40.3860387, Longitude: -3.6723227

Row 2304: Address: Camino de Valderribas, Madrid
Latitude: 40.4008891, Longitude: -3.6670069

Row 2305: Address: Calle de Esteban Carros, 14, Madrid
Latitude: 40.3703089, Longitude: -3.6594744

Row 2306: Address: Avenida Pablo Neruda, 29, Madrid
Latitude: 40.3940939, Longitude: -3.64035

Row 2307: Address: UCEDA, Madrid
Latitude: 40.4203515, Longitude: -3.6141232

Row 2308: Address: Calle de Santa Marta, Madrid
Latitude: 40.4022565, Longitude: -3.6618379

Row 2309: Address: Calle de Sierra Toledana, Madrid
Latitude: 40.4054945, Longitude: -3.6589262

Row 2310: Address: Calle de la Maquinilla, Madrid
Latitude: 40.3804459, Longitude: -3.6372549

Row 2311: Address: C/Arroyo del Olivar, Madrid
Latitude: 40.3938858, Longitude: -3.6659938

Row 2312: No result found for address: Calle Jos� Paulete, Madrid

Row 2313: Address: Calle Carlos Aurioles, Madrid
Latitude: 40.3830391, Longitude: -3.666138

Row 2314: No result found for address: Calle de Tom�s Esteban, Madrid

Row 2315: Address: Calle Eduardo Requenas, Madrid
Latitude: 40.3896111, Longitude: -3.6662827

Row 2316: Address: Calle de Fuente de Piedra, Madrid
Latitude: 40.3827766, Longitude: -3.6405642

Row 2317: Address: Calle de Esteban Carros, Madrid
Latitude: 40.3703089, Longitude: -3.6594744

Row 2318: Address: Calle de Carlos Sole, Madrid
Latitude: 40.3956803, Longitude: -3.6502747

Row 2319: No result found for address: Calle P�rroco Don Emilio Franco, Madrid

Row 2320: Address: Calle Santa Amalia, Madrid
Latitude: 40.4020579, Longitude: -3.6635349

Row 2321: Address: Calle Antonio Mairena, 4, Madrid
Latitude: 40.3916814, Longitude: -3.6385124

Row 2322: No result found for address: Calle San Mois�s, 7, Madrid

Row 2323: Address: Calle Cabo Machichaco, Madrid
Latitude: 40.5478777, Longitude: -3.8990914

Row 2324: Address: Calle Alfonso XIII, Madrid
Latitude: 40.4015533, Longitude: -3.6636359

Row 2325: Address: Campo de la paloma, Madrid
Latitude: 40.3838595, Longitude: -3.644630582098416

Row 2326: No result found for address: Calle del Pico Cebollera, Madrid, Madrid

Row 2327: Address: Calle Charleroi, 12, Madrid
Latitude: 40.3819483, Longitude: -3.6323019

Row 2328: No result found for address: Calle de Mar�a Bosch, 14, Madrid

Row 2329: No result found for address: Traves�a Felipe de Diego, Madrid

Row 2330: Address: cazorla, Madrid
Latitude: 40.4577549, Longitude: -3.6246201

Row 2331: No result found for address: Calle de L�pez Grass, Madrid

Row 2332: Address: Calle del Monte Perdido, Madrid
Latitude: 40.3934176, Longitude: -3.668018

Row 2333: No result found for address: Calle del Vizconde de Arless�n, Madrid

Row 2334: Address: Calle Santanderina, Madrid
Latitude: 40.3739459, Longitude: -3.659229

Row 2335: Address: Calle de San Claudio, Madrid
Latitude: 40.3887302, Longitude: -3.6383192

Row 2336: Address: Calle de la Imagen, Madrid
Latitude: 40.5546102, Longitude: -3.3299566

Row 2337: Address: Calle San Virgilio, Madrid
Latitude: 40.3954412, Longitude: -3.6624991

Row 2338: Address: Calle del Doctor Salgado, Madrid
Latitude: 40.4012309, Longitude: -3.6622428

Row 2339: No result found for address: Avenida de Entrev�as, Madrid

Row 2340: Address: Avenida de las Glorietas, Madrid
Latitude: 40.3735704, Longitude: -3.6606385

Row 2341: Address: Calle Ruidera, Madrid
Latitude: 40.3805982, Longitude: -3.674666

Row 2342: No result found for address: Calle Carde�a, Madrid

Row 2343: Address: Calle Yuste, Madrid
Latitude: 40.3761132, Longitude: -3.6685629

Row 2344: No result found for address: Calle T�scar, Madrid

Row 2345: Address: Plaza del Doctor Lozano, Madrid
Latitude: 40.4038178, Longitude: -3.6605856248007296

Row 2346: No result found for address: Calle de Mestanza, Madrid

Row 2347: No result found for address: Calle de los Andaluces del Pozo, Madrid

Row 2348: Address: Calle Pico de la Muela, Madrid
Latitude: 40.3927677, Longitude: -3.6648155

Row 2349: Address: Calle de la Maquinilla, 8, Madrid
Latitude: 40.3811065, Longitude: -3.6365142

Row 2350: No result found for address: Calle de Garc�a Llamas, Madrid

Row 2351: Address: Calle Ontaneda, Madrid
Latitude: 40.3904825, Longitude: -3.6446908

Row 2352: No result found for address: Calle de Ram�n P�rez de �yala, Madrid

Row 2353: No result found for address: Calle de Gonz�lez Soto, Madrid

Row 2354: Address: Calle Villalobos, Madrid
Latitude: 40.3808353, Longitude: -3.648023

Row 2355: Address: Calle de Villalobos, Madrid
Latitude: 40.3816465, Longitude: -3.6490016

Row 2356: No result found for address: Calle del Monte Oliveti, 37, Madrid

Row 2357: No result found for address: Calle Encarnaci�n Gonz�lez, Madrid

Row 2358: No result found for address: Plaza Mart�nez de la Riva, 5, Madrid

Row 2359: Address: Calle Vilches s/n, Madrid
Latitude: 40.3760826, Longitude: -3.6645299

Row 2360: Address: Calle Sierra Bermeja s/n, Madrid
Latitude: 40.3909161, Longitude: -3.6628001

Row 2361: No result found for address: Calle de Pe�a de la Atalaya s/n, Madrid

Row 2362: No result found for address: Calle V�lez M�laga, Madrid

Row 2363: Address: Calle Cachero, Madrid
Latitude: 40.3931005, Longitude: -3.6667193

Row 2364: No result found for address: Calle Luis Mar�n, Madrid

Row 2365: Address: HACHERO s/n, Madrid
Latitude: 40.391096, Longitude: -3.6686188

Row 2366: Address: Calle del Campo de la Paloma, Madrid
Latitude: 40.3834055, Longitude: -3.6477693

Row 2367: No result found for address: Calle Felisa M�ndez, Madrid

Row 2368: No result found for address: Calle Almog�a, Madrid

Row 2369: Address: Calle Cantalapiedra, Madrid
Latitude: 40.3922462, Longitude: -3.6549941

Row 2370: Address: Calle Riojanos s/n, Madrid
Latitude: 40.3876983, Longitude: -3.6422974

Row 2371: Address: Calle Riojanos, 27, Madrid
Latitude: 40.3876983, Longitude: -3.6422974

Row 2372: Address: Calle Pedro Laborde, Madrid
Latitude: 40.3876047, Longitude: -3.6488802

Row 2373: Address: Calle de Manuel Maroto s/n, Madrid
Latitude: 40.387122, Longitude: -3.6704699

Row 2374: Address: Calle Sierra de Cuerda Larga, Madrid
Latitude: 40.4010005, Longitude: -3.6574303

Row 2375: Address: Calle de Candilejas, Madrid
Latitude: 40.3828874, Longitude: -3.6632255

Row 2376: Address: ETNA, Madrid
Latitude: 40.3883248, Longitude: -3.6481872

Row 2377: Address: Calle Martinez de la Riva , 53, Madrid
Latitude: 40.3940762, Longitude: -3.6662784

Row 2378: Address: Calle Hermanos Trueba, Madrid
Latitude: 40.3861941, Longitude: -3.6622573

Row 2379: Address: Avenida de la Albufera, Madrid
Latitude: 40.3832848, Longitude: -3.6310295

Row 2380: Address: Calle del Arroyo del Olivar, Madrid
Latitude: 40.3938858, Longitude: -3.6659938

Row 2381: Address: Calle Alguacil, Madrid
Latitude: 40.2416175, Longitude: -3.6922099

Row 2382: No result found for address: Calle de Carlos Mart�n �lvarez, Madrid

Row 2383: Address: Calle de la Tierruca, Madrid
Latitude: 40.3855712, Longitude: -3.6500226

Row 2384: Address: Calle Diego Manchado, Madrid, Madrid
Latitude: 40.3902067, Longitude: -3.6482351

Row 2385: No result found for address: Calle Guada�ra, Madrid, Madrid

Row 2386: Address: Calle Charleroi, Madrid
Latitude: 40.3819483, Longitude: -3.6323019

Row 2387: Address: Avenida de Entrevias, Madrid
Latitude: 40.3769093, Longitude: -3.6612408

Row 2388: Address: Calle Picos de Europa, Madrid
Latitude: 40.3956736, Longitude: -3.6617231

Row 2389: Address: Calle Maquinilla s/n, Madrid
Latitude: 40.3805182, Longitude: -3.6372846

Row 2390: No result found for address: Calle de Benjam�n Palencia, Madrid

Row 2391: No result found for address: Calle Monle�n, Madrid

Row 2392: Address: Avenida san diego, Madrid
Latitude: 40.385113, Longitude: -3.6660697

Row 2393: Address: Calle hijicos, Madrid
Latitude: 40.3899629, Longitude: -3.6350064

Row 2394: Address: Calle Pedro Callejo, Madrid
Latitude: 40.3899009, Longitude: -3.6486886

Row 2395: Address: Calle de Concejo de Teverga, 11, Madrid
Latitude: 40.3860387, Longitude: -3.6723227

Row 2396: Address: Calle Charleroi, 2, Madrid
Latitude: 40.3819483, Longitude: -3.6323019

Row 2397: No result found for address: Calle Angela Gonz�lez s/n, Madrid

Row 2398: Address: Calle Sierra del Valle, 40, Madrid
Latitude: 40.3896131, Longitude: -3.6587017

Row 2399: No result found for address: Calle Leonor Gonz�lez, 41, Madrid

Row 2400: No result found for address: Jos� Paulete, Madrid

Row 2401: No result found for address: Calle Teniente Mu�oz D�az, 27, Madrid

Row 2402: No result found for address: Calle Dulce Nombre de Mar�a, 6, Madrid

Row 2403: Address: Calle Puerto de Almansa, Madrid
Latitude: 40.3921234, Longitude: -3.6702344

Row 2404: No result found for address: Calle de L�pez Grass, 50, Madrid

Row 2405: Address: Calle San Florencio, 10, Madrid
Latitude: 40.4043967, Longitude: -3.6601023

Row 2406: No result found for address: Calle del Doctor Bellido, Madrid

Row 2407: Address: sierra de meira, 58, Madrid
Latitude: 40.3991518, Longitude: -3.663827824509709

Row 2408: Address: benjamin palencia, Madrid
Latitude: 40.3943987, Longitude: -3.6439587

Row 2409: No result found for address: Calle del Hachero, Madrid

Row 2410: Address: Avenida Rafael Alberti, Madrid
Latitude: 40.3923431, Longitude: -3.637143

Row 2411: Address: Calle Calella, Madrid
Latitude: 40.3942838, Longitude: -3.6510435

Row 2412: Address: Avenida de san diego, Madrid
Latitude: 40.385113, Longitude: -3.6660697

Row 2413: No result found for address: Av. Miguel Hern�ndez, 120, Madrid

Row 2414: Address: Calle Sierra del Valle, Madrid
Latitude: 40.3899445, Longitude: -3.6593764

Row 2415: Address: Calle de la Maquinilla s/n, Madrid
Latitude: 40.3805182, Longitude: -3.6372846

Row 2416: Address: sierra ministra, 5, Madrid
Latitude: 40.3935501, Longitude: -3.6623453673163437

Row 2417: Address: Calle Villacarrillo, 2, Madrid
Latitude: 40.3756041, Longitude: -3.6630313

Row 2418: Address: Calle Villuercas, Madrid
Latitude: 40.3749792, Longitude: -3.6674868

Row 2419: Address: Manuel maroto, Madrid
Latitude: 40.387122, Longitude: -3.6704699

Row 2420: Address: Calle de Manuel Maroto, Madrid
Latitude: 40.387122, Longitude: -3.6704699

Row 2421: No result found for address: Calle Urbano Mart�n, Madrid

Row 2422: No result found for address: Calle Pe�a Trevinca, 3, Madrid

Row 2423: Address: MONTE OLIVETTI, 37, Madrid
Latitude: 40.398028, Longitude: -3.6672943

Row 2424: Address: SAN MOISES, 6, Madrid
Latitude: 40.3825306, Longitude: -3.6652367

Row 2425: Address: Calle Peironcely, 19, Madrid
Latitude: 40.3813719, Longitude: -3.6706634

Row 2426: Address: Calle Monte Calobro, Madrid
Latitude: 40.3906118, Longitude: -3.6622345

Row 2427: Address: Calle Melquiades Biencinto, 9, Madrid
Latitude: 40.3968683, Longitude: -3.6692679334760663

Row 2428: Address: Calle Melquiades Biencinto, 8, Madrid
Latitude: 40.3975012, Longitude: -3.6693035700603938

Row 2429: Address: Calle Esteban Carros, Madrid
Latitude: 40.3703089, Longitude: -3.6594744

Row 2430: Address: San Diego, Madrid
Latitude: 40.3922796, Longitude: -3.6674239

Row 2431: No result found for address: Calle Cooperativa El�ctrica, 5, Madrid

Row 2432: Address: Calle del Pico Almanzor, Madrid
Latitude: 40.4023718, Longitude: -3.6616887

Row 2433: Address: Casabermeja, Madrid
Latitude: 40.3850891, Longitude: -3.6376768

Row 2434: Address: LEON FELIPE, Madrid
Latitude: 40.3880238, Longitude: -3.6371189

Row 2435: No result found for address: Calle del Doctor S�nchez, Madrid

Row 2436: Address: Calle Torremolinos, Madrid
Latitude: 40.3842907, Longitude: -3.6403954

Row 2437: Address: Calle la Diligencia, Madrid
Latitude: 40.3834025, Longitude: -3.6632399

Row 2438: Address: SIERRA DE MEIRA, 58, Madrid
Latitude: 40.3991518, Longitude: -3.663827824509709

Row 2439: Address: Avenida de pablo neruda, Madrid
Latitude: 40.3813412, Longitude: -3.6598605

Row 2440: Address: Calle Sierra Salvada, Madrid
Latitude: 40.3886588, Longitude: -3.6488999

Row 2441: No result found for address: Calle Nueva Numancia, 19, Madrid

Row 2442: Address: Calle Santa Julia, Madrid
Latitude: 40.393698, Longitude: -3.6663695

Row 2443: Address: Hermanos Trueba, Madrid
Latitude: 40.3861941, Longitude: -3.6622573

Row 2444: Address: Santa Marta, Madrid
Latitude: -33.0379919, Longitude: -71.4005007

Row 2445: Address: Calle Mestanza, Madrid
Latitude: 40.3818837, Longitude: -3.6747505

Row 2446: Address: Calle Sierra de Contraviesa, Madrid
Latitude: 40.3829847, Longitude: -3.6715416

Row 2447: Address: Calle Cecilio Perucha, Madrid
Latitude: 40.397049, Longitude: -3.6639635

Row 2448: Address: RAFAEL ALBERTI, Madrid
Latitude: 40.4289277, Longitude: -3.7210472

Row 2449: Address: Calle Angela Gonzalez, 10, Madrid
Latitude: 40.3980892, Longitude: -3.6598421906973684

Row 2450: Address: Calle de la Serena, Madrid
Latitude: 40.376668, Longitude: -3.6691574

Row 2451: No result found for address: Calle Guadalc�zar, Madrid

Row 2452: Address: Calle Aljarafe, Madrid
Latitude: 40.3745632, Longitude: -3.6640926

Row 2453: Address: Calle de Mejorana, Madrid, 35, Madrid
Latitude: 40.38319295, Longitude: -3.67314749754959

Row 2454: Address: SIERRA SALVADA, Madrid
Latitude: 40.3886588, Longitude: -3.6488999

Row 2455: No result found for address: Calle del Puerto de Suebe s/n, Madrid

Row 2456: Address: Calle Puerto del Rey, 2, Madrid
Latitude: 40.4034612, Longitude: -3.6627659

Row 2457: Address: Calle pico moncayo, Madrid
Latitude: 40.4034736, Longitude: -3.6632537

Row 2458: Address: Camino de valderribas, 93, Madrid
Latitude: 40.3994689, Longitude: -3.6594717

Row 2459: Address: Calle Licenciado Vidriera, Madrid
Latitude: 40.3879828, Longitude: -3.6685156

Row 2460: No result found for address: Calle R�o Bravo, 22, Madrid

Row 2461: Address: Avenida de Palomeras, 122, Madrid
Latitude: 40.38640685, Longitude: -3.6512996183109707

Row 2462: Address: Calle Cerro de la Alcazaba, 22, Madrid
Latitude: 40.38411135, Longitude: -3.6722755356862335

Row 2463: Address: Calle de la Maquinilla, 25, Madrid
Latitude: 40.3798776, Longitude: -3.6380255

Row 2464: No result found for address: Calle de Pe�a de la Atalaya, 101, Madrid

Row 2465: No result found for address: Calle Monle�n, 8, Madrid

Row 2466: Address: Calle Riojanos, Madrid
Latitude: 40.3876983, Longitude: -3.6422974

Row 2467: Address: RIO ORINOCO, Madrid
Latitude: 40.3857385, Longitude: -3.6524259

Row 2468: Error geocoding address 'Calle de Sierra de la Estrella, 11, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Sierra+de+la+Estrella%2C+11%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2469: Address: Calle Sierra Bermeja, Madrid
Latitude: 40.3909161, Longitude: -3.6628001

Row 2470: Address: Calle de San Claudio, 112, Madrid
Latitude: 40.3887302, Longitude: -3.6383192

Row 2471: No result found for address: Calle Luis Bu�uel, 12, Madrid

Row 2472: Address: Calle San Mois�s, Madrid
Latitude: 19.0558273, Longitude: -104.307286

Row 2473: Address: Calle Alora, Madrid
Latitude: 40.3858084, Longitude: -3.6406548

Row 2474: No result found for address: Calle pe�arroya, Madrid

Row 2475: Address: Calle Peironcely, Madrid
Latitude: 40.3813719, Longitude: -3.6706634

Row 2476: Address: Calle Cabo de Creus, Madrid
Latitude: 40.3743621, Longitude: -3.6573985

Row 2477: Address: fuente de piedra, Madrid
Latitude: 40.3845236, Longitude: -3.6420645

Row 2478: Address: Calle Cabo de Tarifa, Madrid
Latitude: 40.3708789, Longitude: -3.6597307

Row 2479: Address: esteban carros, Madrid
Latitude: 40.3723233, Longitude: -3.658468

Row 2480: No result found for address: Plaza Mart�nez de la Riva, Madrid

Row 2481: Address: Calle Mudela, Madrid
Latitude: 40.3791145, Longitude: -3.677253

Row 2482: No result found for address: Calle de Pingarr�n, Madrid

Row 2483: No result found for address: Calle R�o Corrientes, Madrid, Madrid

Row 2484: No result found for address: Calle de Rodr�guez Espinosa, Madrid

Row 2485: Address: Av. Pablo Neruda, Madrid
Latitude: 40.3942967, Longitude: -3.6402547

Row 2486: No result found for address: Calle de la Sierra de Meira, Madrid

Row 2487: No result found for address: Calle San Mois�s, 6, Madrid

Row 2488: Address: Calle de Mejorana, Madrid
Latitude: 40.3858074, Longitude: -3.6705572

Row 2489: Address: Calle Emilio Raboso, Madrid
Latitude: 40.3925285, Longitude: -3.6700813

Row 2490: Address: Calle de Membezar, Madrid
Latitude: 40.3798315, Longitude: -3.6682207

Row 2491: No result found for address: Calle Felisa M�ndez, 43 -3�-B, Madrid

Row 2492: Address: Calle de la Maquinilla, 13, Madrid
Latitude: 40.3804526, Longitude: -3.6370562

Row 2493: Address: Avenida Pablo Neruda, 89, Madrid
Latitude: 40.381257, Longitude: -3.6603072

Row 2494: Address: Avenida Rafael Alberti, 27, Madrid
Latitude: 40.3866097, Longitude: -3.6407816

Row 2495: Address: Calle Arroyo del Olivar, 56, Madrid
Latitude: 40.3920264, Longitude: -3.662143651961311

Row 2496: No result found for address: Calle Puerto de Cardoso, Madrid

Row 2497: Address: Calle sierra bermeja, Madrid
Latitude: 40.3909161, Longitude: -3.6628001

Row 2498: No result found for address: CAMPI�A, Madrid

Row 2499: No result found for address: Calle Valent�n San Narciso, Madrid

Row 2500: No result found for address: Calle Guarrom�n, Madrid

Row 2501: No result found for address: Calle de Sierra Salvada, 16, Madrid

Row 2502: No result found for address: Calle de Mart�nez de la Riva s/n, Madrid

Row 2503: Address: Calle Sierra Molina, Madrid
Latitude: 40.3890578, Longitude: -3.6666488

Row 2504: Address: Calle Melquiades Biencinto, Madrid
Latitude: 40.3959283, Longitude: -3.6702519

Row 2505: Address: Calle Pico Moncayo, Madrid
Latitude: 40.4034736, Longitude: -3.6632537

Row 2506: Address: Juana Elorza, Madrid
Latitude: 40.3917616, Longitude: -3.6666895

Row 2507: Address: Calle san moises, 6, Madrid
Latitude: 40.3825306, Longitude: -3.6652367

Row 2508: No result found for address: Calle Angela Gonz�lez, 7, Madrid

Row 2509: Address: Calle Sanz Raso, Madrid
Latitude: 40.3945367, Longitude: -3.6605589

Row 2510: Address: Calle Puerto Alto, 70 -76, Madrid
Latitude: 40.3930343, Longitude: -3.6684057

Row 2511: Address: Calle Amadeo I, 4, Madrid
Latitude: 40.4032152, Longitude: -3.6568752

Row 2512: No result found for address: Calle de Pe�a Ubi�a, Madrid

Row 2513: Address: san diego, 31, Madrid
Latitude: 40.3922796, Longitude: -3.6674239

Row 2514: Address: Calle de Sierra Elvira, Madrid
Latitude: 40.4041066, Longitude: -3.6639136

Row 2515: Address: San FLorencio, Madrid
Latitude: 40.4043967, Longitude: -3.6601023

Row 2516: Address: Ronda del Sur, Madrid
Latitude: 40.296015, Longitude: -3.4441971

Row 2517: No result found for address: Traves�a Pilar Nogueiro, Madrid

Row 2518: Address: Calle de la Imagen, 7, Madrid
Latitude: 40.5546102, Longitude: -3.3299566

Row 2519: Address: Calle Puerto del Pico, Madrid
Latitude: 40.3501771, Longitude: -3.7272102

Row 2520: Address: Calle Cantalapiedra, 4, Madrid
Latitude: 40.3921082, Longitude: -3.655375

Row 2521: Address: Calle Felipe de Diego, 31, Madrid
Latitude: 40.3794053, Longitude: -3.6609398

Row 2522: No result found for address: Calle Angela Gonz�lez, Madrid

Row 2523: Address: Calle de la Maquinilla, 35, Madrid
Latitude: 40.3805182, Longitude: -3.6372846

Row 2524: No result found for address: Calle Puerto de Maderi, 9, Madrid

Row 2525: Address: Avenida del Monte Igueldo, 121, Madrid
Latitude: 40.3925285, Longitude: -3.6700813

Row 2526: Address: Calle del Arroyo del Olivar, 41, Madrid
Latitude: 40.3916619, Longitude: -3.6601817102551335

Row 2527: Address: Calle Palomeras, 47, Madrid
Latitude: 40.37371445, Longitude: -3.6269310093802245

Row 2528: No result found for address: Calle de Garc�a Llamas, 42, Madrid

Row 2529: Address: Calle de Julia Mediavilla, 17, Madrid
Latitude: 40.39086465, Longitude: -3.666062529802841

Row 2530: Address: Calle Charleroi, 6, Madrid
Latitude: 40.3819483, Longitude: -3.6323019

Row 2531: Address: Calle g, 295, Madrid
Latitude: 40.3835837, Longitude: -3.6298174

Row 2532: Address: Calle Sierra de Cuerda Larga, 1, Madrid
Latitude: 40.4010005, Longitude: -3.6574303

Row 2533: No result found for address: Calle de Josefa D�az, 7, Madrid

Row 2534: No result found for address: Calle de Argente, Madrid

Row 2535: Address: Avenida de la Albufera, 290, Madrid
Latitude: 40.38635495, Longitude: -3.639536399999993

Row 2536: Address: Calle Mudela, 1, Madrid
Latitude: 40.38504785, Longitude: -3.6997786447836236

Row 2537: Address: Calle Lozano, Madrid
Latitude: 40.3960721, Longitude: -3.6708628

Row 2538: No result found for address: Avenida de Pe�a Prieta, 10, Madrid

Row 2539: Address: Calle Cangrejo, 4, Madrid
Latitude: 40.38137, Longitude: -3.6306689

Row 2540: No result found for address: Calle de Sierra Salvada, 13, Madrid

Row 2541: No result found for address: Calle de L�pez Grass, 58, Madrid

Row 2542: No result found for address: Calle Le�n Felipe, 6, Madrid

Row 2543: Address: Avenida de la Albufera, 416 -432, Madrid
Latitude: 40.3816341, Longitude: -3.6273435

Row 2544: Address: Calle Sierra de Cuerda Larga, 19, Madrid
Latitude: 40.4013329, Longitude: -3.658028

Row 2545: No result found for address: Calle Puerto de Cardoso, 8, Madrid

Row 2546: Address: Calle cabo de tarifa, 120, Madrid
Latitude: 40.3707663, Longitude: -3.6599432572045156

Row 2547: Address: Avenida Pablo Neruda, 15, Madrid
Latitude: 40.3940939, Longitude: -3.64035

Row 2548: No result found for address: Calle del Monte Oliveti, 18, Madrid

Row 2549: Address: Calle Monte Urgull, 1, Madrid
Latitude: 40.3985892, Longitude: -3.6669781

Row 2550: Address: Calle Maquinilla, 13, Madrid
Latitude: 40.3804526, Longitude: -3.6370562

Row 2551: Error geocoding address 'Calle de Le�n Felipe, 6 / 5�, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Le%EF%BF%BDn+Felipe%2C+6+%2F+5%EF%BF%BD%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2552: Address: Calle Miguel de la Roca, 30, Madrid
Latitude: 40.38222805, Longitude: -3.670563494706227

Row 2553: Address: Calle Sierra Carbonera, 44, Madrid
Latitude: 40.3067495, Longitude: -3.4731886

Row 2554: Address: Calle de la Maquinilla, 14, Madrid
Latitude: 40.3804605, Longitude: -3.6380305

Row 2555: Address: Calle de San Claudio, 1, Madrid
Latitude: 40.3887302, Longitude: -3.6383192

Row 2556: Address: Calle de Callejo s/n, Madrid
Latitude: 40.388841, Longitude: -3.6693038

Row 2557: Address: Calle Sierra Carbonera, Madrid
Latitude: 40.3067495, Longitude: -3.4731886

Row 2558: No result found for address: Calle del Vizconde de Arless�n, 2, Madrid

Row 2559: No result found for address: Calle del Vizconde de Arless�n, 28, Madrid

Row 2560: No result found for address: Calle Santiago Ali�, 2, Madrid

Row 2561: Address: Calle del Campo de la Paloma, 54, Madrid
Latitude: 40.38302015, Longitude: -3.6471951950043078

Row 2562: No result found for address: Calle R�o Salado, 10, Madrid

Row 2563: No result found for address: Calle de Ram�n P�rez de �yala, 146, Madrid

Row 2564: Error geocoding address 'Calle R�o de la Plata, 13, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+R%EF%BF%BDo+de+la+Plata%2C+13%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2565: Address: Calle de San Claudio, 111, Madrid
Latitude: 40.3887302, Longitude: -3.6383192

Row 2566: No result found for address: Calle jos� paulete, 5, Madrid

Row 2567: No result found for address: Calle Rodr�guez Espinosa, 11, Madrid

Row 2568: Address: Avenida del Monte Igueldo, Madrid
Latitude: 40.3925285, Longitude: -3.6700813

Row 2569: No result found for address: Calle de Mart�nez de la Riva, 78, Madrid

Row 2570: Address: Calle del Arroyo del Olivar, 70, Madrid
Latitude: 40.39144, Longitude: -3.6609191978184032

Row 2571: No result found for address: Calle Antonio Dur�n Tovar, 3, Madrid

Row 2572: No result found for address: Calle del Puerto de Arlab�n, 25, Madrid

Row 2573: No result found for address: Calle de Carde�osa, 63, Madrid

Row 2574: Address: Calle Puerto de la Bonaigua, 54, Madrid
Latitude: 40.388666, Longitude: -3.6633607

Row 2575: No result found for address: Avenida de Entrev�as, 96, Madrid

Row 2576: Address: Calle Monte Naranco, 8, Madrid
Latitude: 40.3906972, Longitude: -3.668006792229839

Row 2577: No result found for address: Avenida de Pe�a Prieta, 36, Madrid

Row 2578: Address: Calle de Calero Pita, 20, Madrid
Latitude: 40.382343649999996, Longitude: -3.6708720568199036

Row 2579: Address: Plaza de la asamblea, 31, Madrid
Latitude: 40.3820912, Longitude: -3.6634607

Row 2580: Address: Calle Trole, 9, Madrid
Latitude: 40.3807704, Longitude: -3.6338571

Row 2581: Address: Avenida de Palomeras, 143, Madrid
Latitude: 40.385932600000004, Longitude: -3.648771430032993

Row 2582: Address: Calle Riojanos, 4, Madrid
Latitude: 40.3876983, Longitude: -3.6422974

Row 2583: Address: Avenida de Buenos Aires, 30, Madrid
Latitude: 40.3788296, Longitude: -3.6530226

Row 2584: Address: Calle Trole, 16, Madrid
Latitude: 40.3805311, Longitude: -3.6336466

Row 2585: Address: Calle Charleroi, 20, Madrid
Latitude: 40.3819483, Longitude: -3.6323019

Row 2586: Address: Avenida de Pablo Neruda, 118, Madrid
Latitude: 40.3815887, Longitude: -3.6536414

Row 2587: Address: Avenida San Diego, 7, Madrid
Latitude: 40.38937215, Longitude: -3.6708848444091453

Row 2588: Address: Avenida de Pablo Neruda, 63, Madrid
Latitude: 40.3813412, Longitude: -3.6598605

Row 2589: Address: Calle Alora, 28, Madrid
Latitude: 40.3858084, Longitude: -3.6406548

Row 2590: Address: Avenida del Monte Igueldo, 40, Madrid
Latitude: 40.3946777, Longitude: -3.669440761758308

Row 2591: Address: Calle de Manuel Maroto, 3, Madrid
Latitude: 40.3892497, Longitude: -3.6677812988505734

Row 2592: Address: Calle Francisco Laguna, Madrid
Latitude: 40.3908016, Longitude: -3.6707872

Row 2593: No result found for address: Calle de Gonz�lez Soto, 20, Madrid

Row 2594: Address: Sierra Carbonera, 33, Madrid
Latitude: 40.392114899999996, Longitude: -3.6639399779409496

Row 2595: No result found for address: Calle de Ram�n P�rez de �yala, 84, Madrid

Row 2596: Address: Avenida de la Albufera, 61, Madrid
Latitude: 40.3958329, Longitude: -3.6640597123284424

Row 2597: Address: Calle Tajos Altos, 2, Madrid
Latitude: 40.3952416, Longitude: -3.6670161

Row 2598: No result found for address: Calle V�lez M�laga, 23, Madrid

Row 2599: No result found for address: Calle de L�pez Grass, 74, Madrid

Row 2600: Address: Calle de Sierra Toledana, 1, Madrid
Latitude: 40.3998278, Longitude: -3.6609595

Row 2601: No result found for address: Calle de Argente, 3, Madrid

Row 2602: Address: Calle Santa Beatriz, 10, Madrid
Latitude: 40.40188445, Longitude: -3.663151811268122

Row 2603: No result found for address: Calle Bustos, 2 , con fachada a av, albufera 27, Madrid

Row 2604: Address: Calle de Callejo, 30, Madrid
Latitude: 40.3890418, Longitude: -3.669935359074123

Row 2605: Address: Calle de Villalobos, 1, Madrid
Latitude: 40.3816465, Longitude: -3.6490016

Row 2606: Address: Avenida de San Diego, 80, Madrid
Latitude: 40.3875807, Longitude: -3.6693141689481283

Row 2607: Address: Calle de Candilejas, 78, Madrid
Latitude: 40.3808907, Longitude: -3.6657225

Row 2608: No result found for address: Calle de Mar�a Bosch, 24, Madrid

Row 2609: No result found for address: Avenida de Pe�a Prieta, 30, Madrid

Row 2610: No result found for address: Calle de la Sierra de Meira, 53, Madrid

Row 2611: Address: Calle de Quijada de Pandiellos, 51, Madrid
Latitude: 40.3909227, Longitude: -3.6691403577525445

Row 2612: No result found for address: Calle de Benjam�n Palencia, 32, Madrid

Row 2613: Address: Calle de quijada de pandiellos, 32, Madrid
Latitude: 40.39085155, Longitude: -3.669671872684345

Row 2614: Address: Calle Alfonso XIII, 6, Madrid
Latitude: 40.401385, Longitude: -3.6634004677092573

Row 2615: No result found for address: Calle Cocher�n de la Villa, 17, Madrid

Row 2616: No result found for address: Calle Puerto de Maderi, Madrid

Row 2617: No result found for address: Calle de Ram�n P�rez de �yala, 82, Madrid

Row 2618: Address: Avenida San Diego, 6, Madrid
Latitude: 40.385113, Longitude: -3.6660697

Row 2619: Address: Calle Cordillera de Cuera, 26, Madrid
Latitude: 40.38768935, Longitude: -3.6690089678633115

Row 2620: Address: Calle Almonacid, 30, Madrid
Latitude: 40.396581850000004, Longitude: -3.659371623169206

Row 2621: Address: Calle de las Marismas, 51, Madrid
Latitude: 40.4021516, Longitude: -3.654062

Row 2622: No result found for address: Calle de Garc�a Llamas, 40, Madrid

Row 2623: Address: Calle pico cebollera, 44, Madrid
Latitude: 40.3937525, Longitude: -3.6726277

Row 2624: No result found for address: Calle Dulce Nombre de Mar�a, 12, Madrid

Row 2625: Address: Avenida de San Diego, 44, Madrid
Latitude: 40.385113, Longitude: -3.6660697

Row 2626: Address: Calle de Fuengirola, 23, Madrid
Latitude: 40.3834292, Longitude: -3.641662

Row 2627: Address: Calle Alcala de Guadaira, 26, Madrid
Latitude: 40.3892282, Longitude: -3.6574117

Row 2628: Address: Calle Sierra Llerena, 10, Madrid
Latitude: 40.39961735, Longitude: -3.6641571497025573

Row 2629: No result found for address: Traves�a Humanes, 1, Madrid

Row 2630: Address: Avenida de Buenos Aires, 64, Madrid
Latitude: 40.3788296, Longitude: -3.6530226

Row 2631: No result found for address: Urb. Taxistas, Madrid

Row 2632: No result found for address: Calle Isabel M�ndez, Madrid

Row 2633: No result found for address: Calle Higinio Rodr�guez, 11, Madrid

Row 2634: No result found for address: Calle Guillermo Pingarr�n, 17, Madrid

Row 2635: No result found for address: Plaza Mart�nez de la Riva, 6, Madrid

Row 2636: Address: Avenida del Monte Igueldo, 90, Madrid
Latitude: 40.39156715, Longitude: -3.6706071346719646

Row 2637: No result found for address: Calle de Venancio Mart�n, 26, Madrid

Row 2638: Address: Calle Bustos, 2, Madrid
Latitude: 40.3973105, Longitude: -3.6665591401098876

Row 2639: Address: Avenida Pablo Neruda, 77, Madrid
Latitude: 40.3940939, Longitude: -3.64035

Row 2640: Address: Calle Pedro Laborde, 50, Madrid
Latitude: 40.3876047, Longitude: -3.6488802

Row 2641: Address: Calle Imagen, 24, Madrid
Latitude: 40.3835969, Longitude: -3.667804382268723

Row 2642: Address: Calle Cardenosa, 2, Madrid
Latitude: 40.38484605, Longitude: -3.6708494845854935

Row 2643: No result found for address: Calle de Modesto Alonso, 23, Madrid

Row 2644: Address: Avenida de buenos aires, 89, Madrid
Latitude: 40.3808439, Longitude: -3.6525664

Row 2645: Address: Vedra, 6, Madrid
Latitude: 40.3766566, Longitude: -3.6642994

Row 2646: No result found for address: Calle de Benjam�n Palencia, 19, Madrid

Row 2647: Address: Avenida de Buenos Aires, 60, Madrid
Latitude: 40.3788296, Longitude: -3.6530226

Row 2648: Address: Calle Vicente Bahamonde, 1, Madrid
Latitude: 40.3992224, Longitude: -3.6625629

Row 2649: No result found for address: Ram�n P�rez ayala, 14, Madrid

Row 2650: Address: Calle Cabo de Creus, 6, Madrid
Latitude: 40.3743621, Longitude: -3.6573985

Row 2651: No result found for address: Calle del Puerto de Arlab�n, 88, Madrid

Row 2652: Address: Calle Emilio Raboso, 12, Madrid
Latitude: 40.39280225, Longitude: -3.6706186824263014

Row 2653: No result found for address: Avenida Pe�a Prieta, Madrid

Row 2654: No result found for address: Calle del Puerto de Arlab�n, 45, Madrid

Row 2655: No result found for address: Calle de Mart�nez de la Riva, 59, Madrid

Row 2656: Address: Calle Alora, 8, Madrid
Latitude: 40.3858084, Longitude: -3.6406548

Row 2657: No result found for address: Calle de Tom�s Garc�a, 10, Madrid

Row 2658: Address: Calle Jadraque, 17, Madrid
Latitude: 40.39601555, Longitude: -3.6473033972590025

Row 2659: Address: Avenida de San Diego, 47, Madrid
Latitude: 40.3880294, Longitude: -3.669529690384614

Row 2660: No result found for address: Calle Martell, Madrid

Row 2661: Address: Calle del Puerto Canfranc, Madrid
Latitude: 40.3985572, Longitude: -3.6623755

Row 2662: Address: Calle PICO DE ALBA, Madrid
Latitude: 40.3940591, Longitude: -3.6611379

Row 2663: Address: Calle Arroyo del Olivar, 18, Madrid
Latitude: 40.393204049999994, Longitude: -3.6645896751635085

Row 2664: No result found for address: Calle glorietas, Madrid

Row 2665: No result found for address: Calle de Mart�nez de la Riva, 76, Madrid

Row 2666: Address: Avenida del Monte Igueldo, 78, Madrid
Latitude: 40.3925285, Longitude: -3.6700813

Row 2667: Address: Calle Cantalapiedra, 6, Madrid
Latitude: 40.3921949, Longitude: -3.6551484

Row 2668: Address: Calle Pico Javalon, 9, Madrid
Latitude: 40.3918587, Longitude: -3.671051538181818

Row 2669: No result found for address: Calle Mar�a Encinas, 2, Madrid

Row 2670: No result found for address: Dotor Sanchez, 26, Madrid

Row 2671: Address: Calle Sierra Bermeja, 1, Madrid
Latitude: 40.3909161, Longitude: -3.6628001

Row 2672: Address: Calle Picos de Europa, 11, Madrid
Latitude: 40.3954378, Longitude: -3.6622337

Row 2673: No result found for address: Vizconde de Arless�n, 41, Madrid

Row 2674: Address: Calle de Josue Lillo, Madrid
Latitude: 40.3855116, Longitude: -3.6690168

Row 2675: Address: Calle Castalia de Vallecas, 1, Madrid
Latitude: 40.3936754, Longitude: -3.6579749

Row 2676: Address: lozano, Madrid
Latitude: 40.4299349, Longitude: -3.6645645

Row 2677: Address: Calle lopez grass, 52, Madrid
Latitude: 40.3976193, Longitude: -3.658347846885411

Row 2678: Address: Calle hachero, 44, Madrid
Latitude: 40.39090515, Longitude: -3.6681278540690396

Row 2679: Address: Calle Juan Navarro, Madrid
Latitude: 40.3962071, Longitude: -3.6697324

Row 2680: No result found for address: Calle Salvador Mart�nez Lozano, Madrid

Row 2681: Address: Robles, Madrid
Latitude: 40.5871299, Longitude: -3.7819721

Row 2682: No result found for address: Calle Buend�a, 29, Madrid

Row 2683: Address: Avenida de Palomeras, 23, Madrid
Latitude: 40.38866295, Longitude: -3.6579360757072186

Row 2684: Address: Calle Miguel de la Roca, Madrid
Latitude: 40.3842749, Longitude: -3.6738144

Row 2685: No result found for address: Calle de Mont�nchez, Madrid

Row 2686: Address: PUERTO DE BONAIGUA, Madrid
Latitude: 40.3863802, Longitude: -3.6652004

Row 2687: Address: Calle Juan Portas, 32, Madrid
Latitude: 40.3911732, Longitude: -3.6635186

Row 2688: Address: Calle Garganta de Aisa, 59, Madrid
Latitude: 40.403531, Longitude: -3.6586799

Row 2689: No result found for address: Calle de Carde�osa, Madrid

Row 2690: Address: Mejorana, 26, Madrid
Latitude: 40.3842335, Longitude: -3.6728683650090908

Row 2691: Address: PABLO NERUDA, Madrid
Latitude: 40.3813406, Longitude: -3.6590494

Row 2692: Address: pablo neruda, Madrid
Latitude: 40.3813406, Longitude: -3.6590494

Row 2693: Address: Calle de Villalobos, 51, Madrid
Latitude: 40.3815931, Longitude: -3.6483324813930795

Row 2694: No result found for address: Calle del Pico Cejo, 22 -42, Madrid

Row 2695: Address: Calle Riojanos, 13, Madrid
Latitude: 40.3876983, Longitude: -3.6422974

Row 2696: Address: Avenida de la Albufera, 234, Madrid
Latitude: 40.3905326, Longitude: -3.6478036217542593

Row 2697: No result found for address: Calle Rafael Fern�ndez Hijicos, 30, Madrid

Row 2698: No result found for address: Calle de Venancio Mart�n, 28, Madrid

Row 2699: Address: Calle Eduardo Requenas, 32, Madrid
Latitude: 40.3898901, Longitude: -3.666347036872986

Row 2700: Address: Calle Riojanos, 25, Madrid
Latitude: 40.3876983, Longitude: -3.6422974

Row 2701: Address: Calle del Campo de la Paloma, 50, Madrid
Latitude: 40.3831592, Longitude: -3.6466541582231855

Row 2702: Address: Calle Cachero, 18, Madrid
Latitude: 40.3931005, Longitude: -3.6667193

Row 2703: Address: Calle de Torremolinos, 20, Madrid
Latitude: 40.3836324, Longitude: -3.6394597

Row 2704: No result found for address: Calle Avelino Fern�ndez de la Poza, Madrid

Row 2705: Address: Calle Almonacid, Madrid
Latitude: 40.3963591, Longitude: -3.6590722

Row 2706: Address: Manuel Maroto, Madrid
Latitude: 40.387122, Longitude: -3.6704699

Row 2707: Address: Calle Vilches, Madrid
Latitude: 40.3760912, Longitude: -3.6639244

Row 2708: Error geocoding address 'Calle R�o San Pedro, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+R%EF%BF%BDo+San+Pedro%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2709: Address: Calle Cazorla, Madrid
Latitude: 40.3750137, Longitude: -3.6644245

Row 2710: Address: Calle Concordia, Madrid
Latitude: 40.3953253, Longitude: -3.6656943

Row 2711: No result found for address: Traves�a del doctor S�nchez, Madrid

Row 2712: Address: Calle Montseny, 19, Madrid
Latitude: 40.4546865, Longitude: -3.456384

Row 2713: No result found for address: Calle Mend�vil, Madrid, Madrid

Row 2714: Address: Calle Amadeo I, Madrid, Madrid
Latitude: 40.4032152, Longitude: -3.6568752

Row 2715: No result found for address: Calle de Antonio Folgueras, 22, Madrid

Row 2716: No result found for address: Rodr�guez Espinosa, Madrid

Row 2717: Address: Calle Sierra del Valle, 8 -10, Madrid
Latitude: 40.3899445, Longitude: -3.6593764

Row 2718: No result found for address: Calle de Pe�a de la Atalaya, 118, Madrid

Row 2719: No result found for address: pe�arroya, 200, Madrid

Row 2720: No result found for address: Calle del Pico Cebollera, 45, Madrid

Row 2721: Address: Calle Palomeras, 14, Madrid
Latitude: 40.38966635, Longitude: -3.6687097360898093

Row 2722: No result found for address: Calle de Garc�a Llamas, 19, Madrid

Row 2723: No result found for address: Calle Buend�a, Madrid

Row 2724: No result found for address: ENTREV�AS, Madrid

Row 2725: Address: Avenida del Monte Igueldo, 67, Madrid
Latitude: 40.3925285, Longitude: -3.6700813

Row 2726: No result found for address: Calle Higinio Rodr�guez, Madrid

Row 2727: Address: Portazgo, 1, Madrid
Latitude: 40.3914367, Longitude: -3.6481261

Row 2728: Address: Calle Convenio, 91, Madrid
Latitude: 40.38984365, Longitude: -3.671784804944178

Row 2729: Address: puerto de tarancon, Madrid
Latitude: 40.4013799, Longitude: -3.6661143

Row 2730: Address: Calle de San Claudio, 38, Madrid
Latitude: 40.3887302, Longitude: -3.6383192

Row 2731: Address: Calle SIERRA SALVADA, Madrid
Latitude: 40.3886588, Longitude: -3.6488999

Row 2732: No result found for address: Calle del Pico Cebollera, Madrid

Row 2733: No result found for address: Avenida de Miguel Hern�ndez, Madrid

Row 2734: Address: Calle Sierra de Algodonales, Madrid
Latitude: 40.303237, Longitude: -3.4752445

Row 2735: Address: Calle Sierra de Almijara, Madrid
Latitude: 40.3916649, Longitude: -3.6610366

Row 2736: No result found for address: Calle del Doctor Fernando Primo de Rivera, Madrid

Row 2737: Address: Calle Moreras, Madrid
Latitude: 40.4030652, Longitude: -3.6640609

Row 2738: No result found for address: Calle del Vizconde de Arless�n s/n, Madrid

Row 2739: Address: Calle Alfonso XIII, 2, Madrid
Latitude: 40.40164935, Longitude: -3.66469150293797

Row 2740: Address: sierra madrona, Madrid
Latitude: 40.398147, Longitude: -3.660999

Row 2741: Address: Calle Pena Trevinca, 9, Madrid
Latitude: 40.3920905, Longitude: -3.6606528

Row 2742: No result found for address: PE�A DE LA ATALAYA, Madrid

Row 2743: Address: Calle Villarta, Madrid
Latitude: 40.3784546, Longitude: -3.6764996

Row 2744: Address: Calle de Calero Pita, Madrid
Latitude: 40.3833976, Longitude: -3.6699179

Row 2745: Address: Calle Cerro de la Alcazaba, Madrid
Latitude: 40.3835206, Longitude: -3.6724822

Row 2746: No result found for address: Calle de Tom�s Garc�a, Madrid

Row 2747: No result found for address: Calle de la Sierra de Meira, 58, Madrid

Row 2748: No result found for address: Calle de Pe�a Redonda, Madrid

Row 2749: Address: Calle de Albalate del Arzobispo, Madrid
Latitude: 40.3875482, Longitude: -3.666797

Row 2750: Address: MARCHAMALO, Madrid
Latitude: 40.465639550000006, Longitude: -3.6954707202342654

Row 2751: Address: Rio de la Plata, Madrid
Latitude: 40.3867444, Longitude: -3.6513329

Row 2752: Address: Calle Bustos, 6, Madrid
Latitude: 40.397707600000004, Longitude: -3.666208275000004

Row 2753: No result found for address: Calle Hermanos Garc�a, 125, Madrid

Row 2754: No result found for address: Calle de Ram�n P�rez de �yala, 74, Madrid

Row 2755: Address: Calle de Sierra Toledana, 31, Madrid
Latitude: 40.4054945, Longitude: -3.6589262

Row 2756: Address: Calle Francisco Iglesias, 21, Madrid
Latitude: 40.39915695, Longitude: -3.6658323001535926

Row 2757: No result found for address: Calle del Monte Oliveti, Madrid

Row 2758: Address: Camino de Valderribas, 79, Madrid
Latitude: 40.3996297, Longitude: -3.6620906029160274

Row 2759: Address: Calle de Javier de Miguel, 19, Madrid
Latitude: 40.3890846, Longitude: -3.6644503

Row 2760: Address: Calle Sierra de Cuerda Larga, 47, Madrid
Latitude: 40.399442750000006, Longitude: -3.6567521051136036

Row 2761: Address: Avenida Pablo Neruda, 11, Madrid
Latitude: 40.3940939, Longitude: -3.64035

Row 2762: Error geocoding address 'Calle Pico de Alba, 6, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Pico+de+Alba%2C+6%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2763: No result found for address: Calle de la Sierra de los Filabres, 85, Madrid

Row 2764: Address: Avenida de Pablo Neruda, 120, Madrid
Latitude: 40.3815908, Longitude: -3.6546322

Row 2765: Address: Calle de Membezar, 29, Madrid
Latitude: 40.3798315, Longitude: -3.6682207

Row 2766: No result found for address: Calle de la Fil�sofa Simone Weil, 4, Madrid

Row 2767: Address: Calle Sierra de Segura, Madrid
Latitude: 40.4028842, Longitude: -3.6635457

Row 2768: Address: Calle Villalobos, 137, Madrid
Latitude: 40.3799123, Longitude: -3.6520555

Row 2769: Address: Calle Alfonso XIII, 8, Madrid
Latitude: 40.581319, Longitude: -4.1244587

Row 2770: No result found for address: Calle Rafael Fern�ndez Hijicos, Madrid

Row 2771: Error geocoding address 'Alto del Le�n, 16, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Alto+del+Le%EF%BF%BDn%2C+16%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2772: Address: Calle de Teresa Maroto, 8, Madrid
Latitude: 40.3929803, Longitude: -3.6694488747761174

Row 2773: Address: Calle Diego Manchado, Madrid
Latitude: 40.3902067, Longitude: -3.6482351

Row 2774: Address: Calle de Julia Mediavilla, Madrid
Latitude: 40.3907926, Longitude: -3.6662879

Row 2775: Address: Calle de la Virgen, Madrid
Latitude: 40.3962795, Longitude: -3.6669125

Row 2776: Address: Calle Sierra Madrona, Madrid
Latitude: 40.398147, Longitude: -3.660999

Row 2777: Address: Calle CABO MACHICHACO, Madrid
Latitude: 40.5478777, Longitude: -3.8990914

Row 2778: Address: Calle Charleroi, 10, Madrid
Latitude: 40.3819483, Longitude: -3.6323019

Row 2779: Address: Calle Charleroi, 8, Madrid
Latitude: 40.3819483, Longitude: -3.6323019

Row 2780: Address: Calle Amadeo I, Madrid
Latitude: 40.4032152, Longitude: -3.6568752

Row 2781: Address: Calle Puerto de la Bonaigua, 42, Madrid
Latitude: 40.388666, Longitude: -3.6633607

Row 2782: No result found for address: Calle Pe�a de la Miel, Madrid, Madrid

Row 2783: No result found for address: Traves�a Felipe de Diego, 25, Madrid

Row 2784: No result found for address: Calle Teniente Mu�oz D�az, 11, Madrid

Row 2785: Address: Ronda DEL SUR, Madrid
Latitude: 40.296015, Longitude: -3.4441971

Row 2786: No result found for address: Calle de Venancio Mart�n, 3, Madrid

Row 2787: No result found for address: Calle de Argente, 25, Madrid

Row 2788: Address: Calle de la Maquinilla, Madrid, Madrid
Latitude: 40.3804459, Longitude: -3.6372549

Row 2789: Address: Calle Yesero, 16, Madrid
Latitude: 40.3803848, Longitude: -3.6328891

Row 2790: Address: Avenida de la Albufera, 422, Madrid
Latitude: 40.3853851, Longitude: -3.6353835

Row 2791: Address: Calle de la maquinilla, 8, Madrid
Latitude: 40.3811065, Longitude: -3.6365142

Row 2792: Address: Avenida Rafael Alberti, 53, Madrid
Latitude: 40.38254555, Longitude: -3.64476725408332

Row 2793: Address: Calle Juan Portas, Madrid
Latitude: 40.3911732, Longitude: -3.6635186

Row 2794: No result found for address: Calle de Mart�nez de la Riva, Madrid

Row 2795: Address: juan antonio maroto, Madrid
Latitude: 40.3861173, Longitude: -3.6544041

Row 2796: Address: Avenida de Buenos Aires, Madrid
Latitude: 40.3783914, Longitude: -3.6529036

Row 2797: Address: Calle Lozano, Madrid, Madrid
Latitude: 40.3960721, Longitude: -3.6708628

Row 2798: No result found for address: Calle Garc�a Llamas, 36, Madrid

Row 2799: Address: Calle de Javier de Miguel, 7, Madrid
Latitude: 40.3890846, Longitude: -3.6644503

Row 2800: Address: Calle Puerto Alto, 57, Madrid
Latitude: 40.39216055, Longitude: -3.669140825492782

Row 2801: Address: Calle Montseny, 2, Madrid
Latitude: 40.401269049999996, Longitude: -3.6650410336204526

Row 2802: Address: Calle Sierra de Cuerda Larga, 12, Madrid
Latitude: 40.4010005, Longitude: -3.6574303

Row 2803: No result found for address: Calle Pico de Mulhac�n, 16, Madrid

Row 2804: Address: Calle Risco de Peloche, 2 -12, Madrid
Latitude: 40.3937125, Longitude: -3.6559059

Row 2805: Address: san claudio, Madrid
Latitude: 40.390556, Longitude: -3.6428524

Row 2806: No result found for address: Calle Mar�a Encinas, Madrid

Row 2807: No result found for address: Calle Campi�a, Madrid

Row 2808: No result found for address: Calle de Ram�rez Tom�, Madrid

Row 2809: Address: Cazorla, Madrid
Latitude: 40.4577549, Longitude: -3.6246201

Row 2810: No result found for address: Calle de Garc�a Llamas, Madrid, Madrid

Row 2811: Address: Calle Sierra de Cazalla, Madrid
Latitude: 40.4619084, Longitude: -4.0927492

Row 2812: Address: Calle Sierra de Alcaraz, Madrid
Latitude: 40.6120026, Longitude: -3.6824726

Row 2813: Address: Plaza San Diego, Madrid
Latitude: 40.384609, Longitude: -3.6540913

Row 2814: Address: Calle Lozano, 19, Madrid
Latitude: 40.3465978, Longitude: -3.695168303257329

Row 2815: Address: Calle Puerto de la Magdalena, Madrid
Latitude: 40.3998766, Longitude: -3.6647243

Row 2816: Address: Calle Leoneses, Madrid
Latitude: 40.380825, Longitude: -3.6469488

Row 2817: Address: Calle Sierra Carbonera, 53, Madrid
Latitude: 40.39102375, Longitude: -3.6644351174589787

Row 2818: No result found for address: Calle Juli�n del Cerro, 22, Madrid

Row 2819: No result found for address: Avenida de Miguel Hern�ndez, 120, Madrid

Row 2820: Address: Calle Marchamalo, Madrid
Latitude: 40.39765, Longitude: -3.648275

Row 2821: No result found for address: Calle de Carde�osa, Madrid, Madrid

Row 2822: Address: DOCTOR SANCHEZ, Madrid
Latitude: 40.4075342, Longitude: -3.7106156

Row 2823: Address: Colonia Erillas, 28, Madrid
Latitude: 40.394183299999995, Longitude: -3.6660957981255633

Row 2824: Address: Alora, Madrid
Latitude: 40.3858084, Longitude: -3.6406548

Row 2825: Address: Calle de las Marismas, Madrid
Latitude: 40.4022033, Longitude: -3.6541784

Row 2826: No result found for address: Calle del Puerto de Arlab�n, 75, Madrid

Row 2827: Address: Calle Puerto de la Bonaigua, Madrid
Latitude: 40.388666, Longitude: -3.6633607

Row 2828: Address: Calle Vesubio, 10, Madrid
Latitude: 40.3883308, Longitude: -3.6476896

Row 2829: Address: Las Marismas, Madrid
Latitude: 40.4143452, Longitude: -3.7264511

Row 2830: Address: Mestanza, Madrid
Latitude: 40.3818837, Longitude: -3.6747505

Row 2831: Address: vilches, Madrid
Latitude: 40.4738978, Longitude: -3.6651782

Row 2832: Address: Calle del Doctor Lozano, 21, Madrid
Latitude: 40.403380049999996, Longitude: -3.661237724293737

Row 2833: No result found for address: Calle Juan Portas, 29, 31, 33, Madrid

Row 2834: No result found for address: Calle Santiago Ali�, Madrid

Row 2835: No result found for address: Calle de Sierra Salvada, 14, Madrid

Row 2836: Address: Calle Santillana del Mar, Madrid
Latitude: 40.3908006, Longitude: -3.6471212

Row 2837: Address: Calle Lele del Pozo, Madrid
Latitude: 40.3735024, Longitude: -3.6612488

Row 2838: Address: Calle Alfredo Castro Camba, Madrid
Latitude: 40.3864463, Longitude: -3.6694815

Row 2839: Address: Calle Adrada de Haza, Madrid
Latitude: 40.3906081, Longitude: -3.648613

Row 2840: Address: Calle Jadraque, Madrid
Latitude: 40.3959911, Longitude: -3.6479022

Row 2841: Address: Calle SANZ RASO, Madrid
Latitude: 40.3945367, Longitude: -3.6605589

Row 2842: No result found for address: Calle PE�A REDONDA, Madrid

Row 2843: Address: Ronda del Sur, 103, Madrid
Latitude: 40.296015, Longitude: -3.4441971

Row 2844: Address: Calle Vizconde de arlesson, Madrid
Latitude: 40.38167105, Longitude: -3.6679846042833244

Row 2845: Address: Calle Humanes, Madrid
Latitude: 40.3945327, Longitude: -3.6456573

Row 2846: No result found for address: Calle Pilar Nogueiro, Madrid

Row 2847: No result found for address: Calle Emilio Ortu�o, 6, Madrid

Row 2848: No result found for address: Plaza de la Sierra Carbonera, Madrid

Row 2849: Address: Avenida de Palomeras, Madrid
Latitude: 40.3880696, Longitude: -3.6572757

Row 2850: No result found for address: Calle de San Facundo, Madrid

Row 2851: Address: Calle Benadalid, Madrid
Latitude: 40.3856229, Longitude: -3.6390038

Row 2852: Address: Calle la Diligencia, 4, Madrid
Latitude: 40.382729999999995, Longitude: -3.6627635040363895

Row 2853: No result found for address: Calle de Mar�a Bosch, Madrid

Row 2854: Address: Calle Villacarrillo, Madrid
Latitude: 40.3756041, Longitude: -3.6630313

Row 2855: Address: Calle Maquinilla, Madrid
Latitude: 40.3804459, Longitude: -3.6372549

Row 2856: No result found for address: Calle Cocher�n de la Villa, Madrid, Madrid

Row 2857: Address: Calle Puerto de Navacerrada, 23, Madrid
Latitude: 40.2989186, Longitude: -3.9291202

Row 2858: Address: Calle Sanz Raso, 38, Madrid
Latitude: 40.39413385, Longitude: -3.659700682495016

Row 2859: Address: PORTAZGO, Madrid
Latitude: 40.3914367, Longitude: -3.6481261

Row 2860: Address: Calle Pico de Alba, Madrid
Latitude: 40.3940591, Longitude: -3.6611379

Row 2861: Error geocoding address 'Alto del Le�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Alto+del+Le%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 2862: No result found for address: Traves�a Santiago Ali�, 2, Madrid

Row 2863: Address: Calle Tejar de la Pastora, Madrid
Latitude: 40.4038534, Longitude: -3.6649276

Row 2864: No result found for address: Calle Guada�ra, Madrid

Row 2865: No result found for address: Calle Guillermo Pingarr�n s/n, Madrid

Row 2866: Address: Calle Sierra de Cuerda Larga, 37, Madrid
Latitude: 40.40021075, Longitude: -3.6563513838056023

Row 2867: Address: Colonia Erillas, Madrid, Madrid
Latitude: 40.3944226, Longitude: -3.66385

Row 2868: Address: guadiato, 3, Madrid
Latitude: 40.3876964, Longitude: -3.645548

Row 2869: Address: Calle MONTSENY, Madrid
Latitude: 40.4911804, Longitude: -3.7276222

Row 2870: Address: Sierra de meira, 58, Madrid
Latitude: 40.3991518, Longitude: -3.663827824509709

Row 2871: No result found for address: Higinio Rodr�guez, Madrid

Row 2872: Address: Calle de Fuente de Piedra s/n, Madrid
Latitude: 40.3827766, Longitude: -3.6405642

Row 2873: Address: Plaza Puerto Rubio, Madrid
Latitude: 40.396469499999995, Longitude: -3.6674048687761105

Row 2874: No result found for address: Calle de Casabermeja, Madrid

Row 2875: No result found for address: Calle L�pez Grass, Madrid

Row 2876: Address: CERRO DE LA ALCAZABA, Madrid
Latitude: 40.3835206, Longitude: -3.6724822

Row 2877: Address: Calle del Puerto de la Morcuera, Madrid
Latitude: 40.3519349, Longitude: -3.8835247

Row 2878: Address: Calle de la Maquinilla, 15, Madrid
Latitude: 40.3801839, Longitude: -3.6373301

Row 2879: Address: Charleroi, Madrid
Latitude: 40.3819483, Longitude: -3.6323019

Row 2880: Address: Calle de Callejo, 7, Madrid
Latitude: 40.3895866, Longitude: -3.670563033524358

Row 2881: No result found for address: Calle Rinc�n de la Victoria, 12, Madrid

Row 2882: Address: Calle TANGER, 1, Madrid
Latitude: 40.3828824, Longitude: -3.6507458

Row 2883: Address: Avenida de la Albufera s/n, Madrid
Latitude: 40.3853851, Longitude: -3.6353835

Row 2884: No result found for address: Calle Mend�vil, Madrid

Row 2885: No result found for address: Calle del Pico Cebollero, Madrid

Row 2886: Address: Calle Enrique Velasco, Madrid
Latitude: 40.3957175, Longitude: -3.6606019

Row 2887: No result found for address: Calle de And�valo, Madrid

Row 2888: Address: Avenida de San Diego, 12, Madrid
Latitude: 40.385113, Longitude: -3.6660697

Row 2889: No result found for address: Calle Emilio Ortu�o, Madrid

Row 2890: Address: Calle Pico Javalon, Madrid
Latitude: 40.3922368, Longitude: -3.6719002

Row 2891: Address: Calle MALGRAT DE MAR, Madrid
Latitude: 40.3942625, Longitude: -3.6441349

Row 2892: No result found for address: Calle de Tristana, Madrid

Row 2893: Address: Calle de Pico de la Pena Golosa, Madrid
Latitude: 40.4032152, Longitude: -3.6568752

Row 2894: Address: Calle Sierra de Alcubierre, Madrid
Latitude: 40.391649, Longitude: -3.6680024

Row 2895: No result found for address: Calle Jos� Serrano, Madrid

Row 2896: Address: Calle de Pablo Rica, Madrid
Latitude: 40.3892778, Longitude: -3.6689102

Row 2897: No result found for address: Calle Juli�n del Cerro, Madrid

Row 2898: Address: Calle San Florencio, 5, Madrid
Latitude: 40.404429, Longitude: -3.6599962

Row 2899: Address: Calle Convenio, Madrid
Latitude: 40.38984365, Longitude: -3.671784804944178

Row 2900: Address: Calle del Barco Sinaia, Madrid
Latitude: 40.3937606, Longitude: -3.6591856

Row 2901: Address: Plaza MARTINEZ DE LA RIVA, Madrid
Latitude: 40.3916685, Longitude: -3.6651877

Row 2902: No result found for address: Traves�a de Palomeras, Madrid

Row 2903: Address: Calle Palomeras, Madrid
Latitude: 40.389733, Longitude: -3.6685185

Row 2904: No result found for address: Calle del Puerto de Arlab�n, 90, Madrid

Row 2905: No result found for address: Calle Encarnaci�n Gonz�lez, 22, Madrid

Row 2906: Address: Avenida de la Albufera, 147, Madrid
Latitude: 40.3924568, Longitude: -3.6574567342199424

Row 2907: Address: Calle Pont de Molins, Madrid
Latitude: 40.3925334, Longitude: -3.6439483

Row 2908: Address: Calle Camarines, Madrid
Latitude: 40.4615847, Longitude: -3.7686056

Row 2909: Address: Avenida del Talgo, Madrid
Latitude: 40.4471822, Longitude: -3.7848499

Row 2910: Address: Calle de Quintana, Madrid
Latitude: 40.4269157, Longitude: -3.719576

Row 2911: No result found for address: Calle del Marqu�s de Urquijo, Madrid

Row 2912: No result found for address: Urb. barrial, Madrid

Row 2913: Address: Calle Madrigal, 16, Madrid
Latitude: 40.4629575, Longitude: -3.727169

Row 2914: Address: Calle Azuaga, Madrid
Latitude: 40.4627092, Longitude: -3.7116683

Row 2915: Address: Calle Quintana, Madrid
Latitude: 40.4269157, Longitude: -3.719576

Row 2916: Address: Calle de las Rosas de Aravaca, 37, Madrid
Latitude: 40.4488776, Longitude: -3.780982

Row 2917: Address: Calle Almanzora, Madrid
Latitude: 40.4579825, Longitude: -3.7958523

Row 2918: Address: Avenida DEL TALGO, Madrid
Latitude: 40.4471822, Longitude: -3.7848499

Row 2919: No result found for address: Plaza Ciudad de Viena, 6, Madrid

Row 2920: Address: Calle Irun, 15, Madrid
Latitude: 40.4224926, Longitude: -3.7157023

Row 2921: Address: Calle Virgen de los Rosales, 18, Madrid
Latitude: 40.7991761, Longitude: -3.6223461

Row 2922: No result found for address: Calle de S�nchez Preciado, Madrid

Row 2923: Address: horche, 4, Madrid
Latitude: 40.4583984, Longitude: -3.7656653

Row 2924: Address: Calle de Juan Montalvo, Madrid
Latitude: 40.4475461, Longitude: -3.7106131

Row 2925: Address: Calle Valderroman, Madrid
Latitude: 40.4713602, Longitude: -3.7227532

Row 2926: No result found for address: Avenida de Juan Andr�s, Madrid

Row 2927: No result found for address: Calle del Marqu�s de Urquijo, 24, Madrid

Row 2928: Address: Juan Herrera, Madrid
Latitude: 40.4386884, Longitude: -3.7314608

Row 2929: Address: Calle Amorebieta, Madrid
Latitude: 40.4686117, Longitude: -3.8080036

Row 2930: Address: Calle Unicornio, Madrid
Latitude: 40.449586, Longitude: -3.7897401

Row 2931: No result found for address: Urb. DIPLOMATICOS, Madrid

Row 2932: Address: Calle de la Encomienda de Palacios, Madrid
Latitude: 40.3981445, Longitude: -3.6377436

Row 2933: No result found for address: Calle del Corregidor Juan Francisco de Luj�n, Madrid

Row 2934: No result found for address: Calle de Arroyo de Fontarr�n, Madrid

Row 2935: No result found for address: Calle de la Ca�ada, Madrid

Row 2936: Address: Calle Pico de los Artilleros, Madrid
Latitude: 40.4031905, Longitude: -3.6429923

Row 2937: Address: Calle de la Tacona, Madrid
Latitude: 40.3964613, Longitude: -3.6409784

Row 2938: Address: Pasaje Valdilecha, Madrid
Latitude: 40.4047112, Longitude: -3.6362826

Row 2939: Address: Avenida de Moratalaz, 109, Madrid
Latitude: 40.405971550000004, Longitude: -3.652841300000004

Row 2940: No result found for address: Avenida Doctor Garc�a Tapia, Madrid

Row 2941: No result found for address: Calle Arroyo de las Pilillas, 54, Madrid

Row 2942: Address: Calle de la Marroquina, Madrid
Latitude: 40.4074288, Longitude: -3.649456

Row 2943: Address: Calle Arroyo de las Pilillas, Madrid
Latitude: 40.405855, Longitude: -3.6510388

Row 2944: Address: Calle Tacona, 87, Madrid
Latitude: 40.3980417, Longitude: -3.6403528134103693

Row 2945: Address: Calle HACIENDA DE PAVONES, Madrid
Latitude: 40.4016586, Longitude: -3.6405195

Row 2946: Address: Calle de la Hacienda de Pavones, Madrid
Latitude: 40.3995738, Longitude: -3.6310173

Row 2947: Address: Calle del Camino de los Vinateros, Madrid
Latitude: 40.4106708, Longitude: -3.6594421

Row 2948: No result found for address: Calle Augusto Gonz�lez Besada, 10, Madrid

Row 2949: Address: Calle Pico de los Artilleros, 90, Madrid
Latitude: 40.4065056, Longitude: -3.6399721884317477

Row 2950: Address: Pasaje Cobena, Madrid
Latitude: 40.4070765, Longitude: -3.6331993

Row 2951: Address: Calle de la Fuente Carrantona, Madrid
Latitude: 40.3960129, Longitude: -3.6395946

Row 2952: No result found for address: Calle M�rida, Madrid

Row 2953: No result found for address: Pasaje cobe�a, Madrid

Row 2954: Address: Calle ARROYO DE LAS PILILLAS, Madrid
Latitude: 40.405855, Longitude: -3.6510388

Row 2955: Address: Calle del Arroyo de la Media Legua, Madrid
Latitude: 40.4137152, Longitude: -3.6525093

Row 2956: No result found for address: Calle del Corregidor Diego de Valderr�bano, 4, Madrid

Row 2957: Address: Camino DE VINATEROS, Madrid
Latitude: 40.4106708, Longitude: -3.6594421

Row 2958: No result found for address: Corregidor Juan Francisco de Luj�n, Madrid

Row 2959: Address: Calle Marroquina, Madrid
Latitude: 40.4074288, Longitude: -3.649456

Row 2960: Address: Av. Moratalaz, Madrid
Latitude: 40.40687, Longitude: -3.6482604

Row 2961: Address: Calle Paular, Madrid
Latitude: 40.5008617, Longitude: -3.7142494

Row 2962: Address: ENCOMIENDA DE PALACIOS, Madrid
Latitude: 40.3981445, Longitude: -3.6377436

Row 2963: Address: Calle Antonio Cumella, Madrid
Latitude: 40.4096896, Longitude: -3.636451

Row 2964: Address: Calle del Camino de los Vinateros, 9, Madrid
Latitude: 40.4108606, Longitude: -3.6573099

Row 2965: Address: Pico de Artilleros, Madrid
Latitude: 40.4031905, Longitude: -3.6429923

Row 2966: Address: BRUJAS, 1, Madrid
Latitude: 40.40564445, Longitude: -3.626330226389678

Row 2967: No result found for address: Avenida del Doctor Garc�a Tapia, Madrid

Row 2968: No result found for address: Avenida del Doctor Garc�a Tapia, 129, Madrid

Row 2969: Address: Hacienda de pavones, Madrid
Latitude: 40.4016586, Longitude: -3.6405195

Row 2970: Address: Avenida Moratalaz, Madrid
Latitude: 40.40687, Longitude: -3.6482604

Row 2971: Address: Avenida de Moratalaz, Madrid
Latitude: 40.40687, Longitude: -3.6482604

Row 2972: Address: CA�ADA, Madrid
Latitude: 40.2889696, Longitude: -3.7017882

Row 2973: Address: Camino de los Vinateros, Madrid
Latitude: 40.3213766, Longitude: -3.6299102

Row 2974: Address: Calle Antonio Cumella, 27, Madrid
Latitude: 40.41063225, Longitude: -3.63614665

Row 2975: Address: fontarron, Madrid
Latitude: 40.399161, Longitude: -3.6462064

Row 2976: Address: Calle Luis de Hoyos Sainz, Madrid
Latitude: 40.4037921, Longitude: -3.6337114

Row 2977: Address: Calle ANTONIO CUMELLA, Madrid
Latitude: 40.4096896, Longitude: -3.636451

Row 2978: Address: doctor garcia tapia, Madrid
Latitude: 40.4068195, Longitude: -3.6275766

Row 2979: Address: Calle PICO DE LOS ARTILLEROS, Madrid
Latitude: 40.4031905, Longitude: -3.6429923

Row 2980: No result found for address: Pisco de los Artilleros, Madrid

Row 2981: Address: Calle del Arroyo Belincoso, Madrid
Latitude: 40.4085586, Longitude: -3.652947

Row 2982: Address: Calle luis de Hoyos Sainz, 80, Madrid
Latitude: 40.40378735, Longitude: -3.638161874596876

Row 2983: No result found for address: Calle del Corregidor Se�or de la Elipa, Madrid

Row 2984: Address: Calle Entre Arroyos, Madrid
Latitude: 40.4090927, Longitude: -3.6553487

Row 2985: Address: Calle Atenas, 6, Madrid
Latitude: 40.4227714, Longitude: -3.52215195

Row 2986: No result found for address: Calle de Arroyo de Fontarr�n, 443, Madrid

Row 2987: Address: Calle del Corregidor Alonso de Tobar, 19, Madrid
Latitude: 40.40417155, Longitude: -3.649034014707431

Row 2988: Address: Calle de la Hacienda de Pavones, 152, Madrid
Latitude: 40.40224695, Longitude: -3.6423269663927216

Row 2989: No result found for address: Calle Augusto Gonz�lez Besada, Madrid

Row 2990: Address: Calle del Corregidor Juan de Bobadilla, Madrid
Latitude: 40.4075081, Longitude: -3.6436362

Row 2991: Address: Calle de la Encomienda de Palacios, Madrid, Madrid
Latitude: 40.3981445, Longitude: -3.6377436

Row 2992: No result found for address: Calle F�lix Rodr�guez de la Fuente, Madrid, Madrid

Row 2993: Address: Calle del Camino de los Vinateros, 83, Madrid
Latitude: 40.4096175, Longitude: -3.6491684

Row 2994: No result found for address: Calle del Corregidor Se�or de la Elipa, 3, Madrid

Row 2995: Address: Arroyo de fontarron, Madrid
Latitude: 40.3650968, Longitude: -3.6278631

Row 2996: No result found for address: Arroyo de Fontarr�n, Madrid

Row 2997: No result found for address: Calle del Corregidor Juan Francisco de Luj�n, Madrid Fontarr�n, Moratalaz, Madrid

Row 2998: Address: Calle La Tacona, Madrid
Latitude: 40.3964613, Longitude: -3.6409784

Row 2999: Address: Calle de la Encomienda de Palacios, 74, Madrid
Latitude: 40.40046955, Longitude: -3.6440561717947344

Row 3000: Address: Calle Pico de los Artilleros, 12, Madrid
Latitude: 40.4088501, Longitude: -3.6414273632819736

Row 3001: Address: Calle de la Marroquina, 40, Madrid
Latitude: 40.40790355, Longitude: -3.647699638212379

Row 3002: No result found for address: Avenida del Doctor Garc�a Tapia, 159, Madrid

Row 3003: Address: Camino de los Vinateros, 11, Madrid
Latitude: 40.3213766, Longitude: -3.6299102

Row 3004: Address: Calle Hacienda de Pavones, Madrid
Latitude: 40.4016586, Longitude: -3.6405195

Row 3005: Address: Calle Tacona, Madrid
Latitude: 40.3964613, Longitude: -3.6409784

Row 3006: Address: Calle CORREGIDOR ALONSO DE TOBAR, Madrid
Latitude: 40.4035793, Longitude: -3.6484872

Row 3007: No result found for address: Calle de Arroyo de Fontarr�n, 463, Madrid

Row 3008: No result found for address: Calle del Corregidor Juan Francisco de Luj�n, 55, Madrid

Row 3009: Address: Calle Antonio Cumella, 6, Madrid
Latitude: 40.40946815, Longitude: -3.636169982083315

Row 3010: Address: Calle de la Hacienda de Pavones, 173 . 2�, Madrid
Latitude: 40.3995738, Longitude: -3.6310173

Row 3011: No result found for address: Avenida del Doctor Garc�a Tapia, 147, Madrid

Row 3012: No result found for address: Calle de Arroyo de Fontarr�n, 331, Madrid

Row 3013: No result found for address: Calle del Corregidor Se�or de la Elipa, 7, Madrid

Row 3014: No result found for address: Avenida del Doctor Garc�a Tapia, 27, Madrid

Row 3015: Address: Calle de la Encomienda de Palacios, 57, Madrid
Latitude: 40.400530450000005, Longitude: -3.6423153920889044

Row 3016: No result found for address: Calle de Arroyo de Fontarr�n, 373, Madrid

Row 3017: No result found for address: corregidor Juan Francisco de luj�n, 63, Madrid

Row 3018: Address: Calle de la Encomienda de Palacios, 181, Madrid
Latitude: 40.399571, Longitude: -3.6394857650001455

Row 3019: No result found for address: Calle marroqu�na, 40, Madrid

Row 3020: No result found for address: Calle de la Ca�ada, 50, Madrid

Row 3021: No result found for address: Calle Arroyo Fontarr�n, 453, Madrid

Row 3022: No result found for address: Avenida del Doctor Garc�a Tapia, 90, Madrid

Row 3023: No result found for address: Calle de la Ca�ada, 37, Madrid

Row 3024: No result found for address: Calle del Corregidor Juan Francisco de Luj�n, Madrid, Madrid

Row 3025: Address: Calle de la Encomienda de Palacios, 15, Madrid
Latitude: 40.3981445, Longitude: -3.6377436

Row 3026: No result found for address: Avenida del Doctor Garc�a Tapia, 70, Madrid

Row 3027: Address: Calle de la Hacienda de Pavones, 207, Madrid
Latitude: 40.401946249999995, Longitude: -3.63785323800784

Row 3028: Address: Calle Arroyo Fontarron, 349, Madrid
Latitude: 40.39610475, Longitude: -3.6376479356362825

Row 3029: No result found for address: Calle F�lix Rodr�guez de la Fuente, 47, Madrid

Row 3030: Address: Calle de la Marroquina, 17, Madrid
Latitude: 40.4075069, Longitude: -3.6495981

Row 3031: Address: Calle Pico de los Artilleros, 83, Madrid
Latitude: 40.40385015, Longitude: -3.6420669384541666

Row 3032: Address: Calle del Arroyo Belincoso, 26, Madrid
Latitude: 40.409527999999995, Longitude: -3.652354050000002

Row 3033: Address: Calle de la Hacienda de Pavones, 73, Madrid
Latitude: 40.40477785, Longitude: -3.6466707305758677

Row 3034: Address: Calle del Camino de los Vinateros, 87, Madrid
Latitude: 40.4094649, Longitude: -3.6487337

Row 3035: Address: Calle Pico de los Artilleros, 1, Madrid
Latitude: 40.40924445, Longitude: -3.6403170001673155

Row 3036: No result found for address: Calle del Corregidor Jos� de Pasamonte, 14, Madrid

Row 3037: Address: Calle de la Marroquina, 82, Madrid
Latitude: 40.4097101, Longitude: -3.6460331

Row 3038: Address: Calle del Camino de los Vinateros, 91, Madrid
Latitude: 40.409755200000006, Longitude: -3.648220600126578

Row 3039: No result found for address: Calle de Arroyo de Fontarr�n, 89, Madrid

Row 3040: No result found for address: Calle Corregidor Juan Francisco de Luj�n, 86, Madrid

Row 3041: No result found for address: Calle de la ca�ada, 15, Madrid

Row 3042: Address: Calle de la Hacienda de Pavones, 131, Madrid
Latitude: 40.40372395, Longitude: -3.6402754522767307

Row 3043: Address: Calle la riviera, 45, Madrid
Latitude: 40.4053766, Longitude: -3.6288978

Row 3044: Address: Calle hacienda de pavones, 178, Madrid
Latitude: 40.3995738, Longitude: -3.6310173

Row 3045: Address: HACIENDA DE PAVONES, Madrid
Latitude: 40.4016586, Longitude: -3.6405195

Row 3046: No result found for address: Avenida DEL DOCTOR GARC�A TAPIA, Madrid

Row 3047: Address: Corregidor Juan Francisco de Lujan, Madrid
Latitude: 40.4036931, Longitude: -3.6499

Row 3048: Address: Calle Lituania, 4, Madrid
Latitude: 40.40935175, Longitude: -3.6620114934768533

Row 3049: Address: Calle de la Primavera de Praga, Madrid
Latitude: 40.41256, Longitude: -3.6551135

Row 3050: Address: encomienda de palacios, Madrid
Latitude: 40.3981445, Longitude: -3.6377436

Row 3051: Address: Calle del Arroyo de la Media Legua, Madrid, Madrid
Latitude: 40.4137152, Longitude: -3.6525093

Row 3052: Address: Calle TACONA, Madrid
Latitude: 40.3964613, Longitude: -3.6409784

Row 3053: Address: Calle de la Hacienda de Pavones, 252, Madrid
Latitude: 40.4016754, Longitude: -3.638671739600926

Row 3054: No result found for address: Calle del Corregidor Diego de Valderr�bano, 70, Madrid

Row 3055: No result found for address: Moratalat s/n, Madrid

Row 3056: No result found for address: moratalat s/n, Madrid

Row 3057: Address: Calle de la Encomienda de Palacios, 189, Madrid
Latitude: 40.39911645, Longitude: -3.639527903257192

Row 3058: No result found for address: Calle Pico de los Artilleros, 170, Madrid

Row 3059: No result found for address: Calle Jose Bergam�n, 16, Madrid

Row 3060: No result found for address: Avenida del Doctor Garc�a Tapia, 157, Madrid

Row 3061: Address: ARROYO PILILLAS, Madrid
Latitude: 40.3650968, Longitude: -3.6278631

Row 3062: Address: Calle de la Marroquina, 86, Madrid
Latitude: 40.41013455, Longitude: -3.645547002541978

Row 3063: Address: Calle del Arroyo Belincoso s/n, Madrid
Latitude: 40.4085586, Longitude: -3.652947

Row 3064: No result found for address: M�RIDA, Madrid

Row 3065: Address: Calle del Corregidor Alonso de Tobar, Madrid
Latitude: 40.4035793, Longitude: -3.6484872

Row 3066: Address: Calle Lituania, 6, Madrid
Latitude: 40.4093108, Longitude: -3.6615623

Row 3067: Address: Calle Athos, Madrid
Latitude: 40.4076974, Longitude: -3.7314174

Row 3068: Address: Calle de Caramuel, 38, Madrid
Latitude: 40.4099996, Longitude: -3.7279103

Row 3069: Address: Calle Faustino Osorio, Madrid
Latitude: 40.4047609, Longitude: -3.7323334

Row 3070: Address: Paseo de los Jesuitas, Madrid
Latitude: 40.4096672, Longitude: -3.7329274

Row 3071: Address: la milagrosa, Madrid
Latitude: 40.436907649999995, Longitude: -3.694907833786936

Row 3072: Address: Calle de Oca�a, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 3073: Address: Calle Mirabel, Madrid
Latitude: 40.376415, Longitude: -3.7812091

Row 3074: Address: Calle Antonia Calvo, Madrid
Latitude: 40.4016899, Longitude: -3.7459242

Row 3075: Address: Avenida de Portugal, Madrid
Latitude: 40.41453, Longitude: -3.7298998

Row 3076: Address: Calle Navas del Rey, Madrid
Latitude: 40.4100767, Longitude: -3.738029

Row 3077: No result found for address: Calle de Sese�a, Madrid

Row 3078: Address: Calle San Roberto, Madrid
Latitude: 40.4037663, Longitude: -3.7594221

Row 3079: No result found for address: Calle Sep�lveda, Madrid

Row 3080: Address: Calle Abejuela, Madrid
Latitude: 40.391005, Longitude: -3.7456342

Row 3081: Address: Paseo de Extremadura, 155, Madrid
Latitude: 40.3802309, Longitude: -3.7892829

Row 3082: Address: Paseo de Extremadura, 175, Madrid
Latitude: 40.3776151, Longitude: -3.7927146

Row 3083: Address: Calle Alfonso Cea, Madrid
Latitude: 40.4101865, Longitude: -3.737979

Row 3084: No result found for address: Calle de Cardenal Mendoza, Madrid

Row 3085: Address: Los Yebenes, Madrid
Latitude: 40.3928814, Longitude: -3.7516828

Row 3086: Address: Calle francisca armada, 25, Madrid
Latitude: 40.4035435, Longitude: -3.7410633

Row 3087: Address: Calle de Benicasim, Madrid
Latitude: 40.4092131, Longitude: -3.7388443

Row 3088: Address: Plaza Cartaya, Madrid
Latitude: 40.39727345, Longitude: -3.76792176

Row 3089: Address: Calle Solana de Luche s/n, Madrid
Latitude: 40.4068124, Longitude: -3.7332777

Row 3090: Address: Calle de Gallur, Madrid
Latitude: 40.3981858, Longitude: -3.7395298

Row 3091: Address: Calle Campillo, 25, Madrid
Latitude: 40.3755836, Longitude: -3.666309

Row 3092: Address: Paseo Perales, 21, Madrid
Latitude: 40.4049485, Longitude: -3.7378473

Row 3093: Address: Calle de Camarena, Madrid
Latitude: 40.3911624, Longitude: -3.7561056

Row 3094: Address: SEPULVEDA, 138, Madrid
Latitude: 40.406065, Longitude: -3.7305452

Row 3095: Address: Calle Fortuna, Madrid
Latitude: 40.4081836, Longitude: -3.7343196

Row 3096: Address: Paseo Olivos, Madrid
Latitude: 40.40556, Longitude: -3.7383364

Row 3097: Address: Calle de Cuart de Poblet, Madrid
Latitude: 40.3970666, Longitude: -3.7489228

Row 3098: Address: Calle Moscareta, Madrid
Latitude: 40.406704, Longitude: -3.7333178

Row 3099: No result found for address: Calle los Y�benes, Madrid

Row 3100: Address: Calle del Lucero, 33, Madrid
Latitude: 40.4029029, Longitude: -3.7478307

Row 3101: No result found for address: Calle Concejal Francisco Jos� Jim�nez Mart�n, 148, Madrid

Row 3102: No result found for address: Calle los Y�benes, 137, Madrid

Row 3103: Address: Paseo de Extremadura, 90, Madrid
Latitude: 40.4125432, Longitude: -3.732023

Row 3104: No result found for address: Jos� de Cadalso, Madrid

Row 3105: Address: Calle AZOR, 6, Madrid
Latitude: 40.593764, Longitude: -3.9832235

Row 3106: Address: benicasim, Madrid
Latitude: 40.4092131, Longitude: -3.7388443

Row 3107: No result found for address: Calle Poema Sinf�nico, Madrid

Row 3108: Address: Calle Illescas, Madrid
Latitude: 40.393357449999996, Longitude: -3.7604277136574034

Row 3109: Address: Camarena, Madrid
Latitude: 40.3923443, Longitude: -3.7572695

Row 3110: Address: Cartaya, Madrid
Latitude: 40.39727345, Longitude: -3.76792176

Row 3111: Address: santa teresita, Madrid
Latitude: 40.406303, Longitude: -3.7367491

Row 3112: Address: Plaza Santa Teresita, Madrid
Latitude: 40.406303, Longitude: -3.7367491

Row 3113: Address: Calle de Navalmoral de la Mata, Madrid
Latitude: 40.3775805, Longitude: -3.777170870678846

Row 3114: No result found for address: Juan Ant�n, Madrid

Row 3115: Address: Calle de Tembleque, Madrid
Latitude: 40.3951784, Longitude: -3.7603162

Row 3116: No result found for address: Avenida de Las �guilas, 93, Madrid

Row 3117: Address: Calle de Jaime Vera, Madrid
Latitude: 40.4123215, Longitude: -3.7288123

Row 3118: Address: Calle Francisca Armada, Madrid
Latitude: 40.4035435, Longitude: -3.7410633

Row 3119: No result found for address: Fray Jos� Cerdeiri�a, Madrid

Row 3120: Address: Calle de Ampelido, 19, Madrid
Latitude: 40.4061703, Longitude: -3.7341751

Row 3121: Address: Calle Villacarriedo, Madrid
Latitude: 40.3975127, Longitude: -3.7714667

Row 3122: Address: Paseo de Extremadura, Madrid
Latitude: 40.3802309, Longitude: -3.7892829

Row 3123: Address: Calle del Lucero, Madrid
Latitude: 40.4029029, Longitude: -3.7478307

Row 3124: Address: Calle Villasandino, Madrid
Latitude: 40.4065042, Longitude: -3.7508854

Row 3125: Address: Avenida de PORTUGAL, Madrid
Latitude: 40.41453, Longitude: -3.7298998

Row 3126: Address: Calle Cuart de Poblet, Madrid
Latitude: 40.395889, Longitude: -3.7518042

Row 3127: Address: Higueras, Madrid
Latitude: 40.4074911, Longitude: -3.7426107

Row 3128: Address: Calle de la Maestra Justa Freire, Madrid
Latitude: 40.3749105, Longitude: -3.7660515

Row 3129: Address: Calle de Soledad Cazorla, Madrid
Latitude: 40.3766929, Longitude: -3.774594

Row 3130: No result found for address: Calle de Jos� de Cadalso, Madrid

Row 3131: Address: Calle Antonia Calvo s/n, Madrid
Latitude: 40.4016899, Longitude: -3.7459242

Row 3132: Address: Alfonso Cea, Madrid
Latitude: 40.4101865, Longitude: -3.737979

Row 3133: Address: Almazan, Madrid
Latitude: 40.4054199, Longitude: -3.7437446

Row 3134: Address: Paseo de los Olivos, Madrid
Latitude: 40.40556, Longitude: -3.7383364

Row 3135: Address: Calle de Latina, Madrid
Latitude: 40.41178825, Longitude: -3.7158074082764756

Row 3136: Address: Calle de Coca s/n, Madrid
Latitude: 40.4033462, Longitude: -3.7489304

Row 3137: Address: Costanilla de los Olivos, Madrid
Latitude: 40.4051647, Longitude: -3.7373772

Row 3138: Address: CAMARENA, Madrid
Latitude: 40.3923443, Longitude: -3.7572695

Row 3139: Address: Aldeanueva de la Vera, Madrid
Latitude: 40.3751414, Longitude: -3.7768627

Row 3140: Address: Calle Castuera, Madrid
Latitude: 40.4013511, Longitude: -3.7476197

Row 3141: Address: Paseo de la Ermita del Santo, Madrid
Latitude: 40.3993698, Longitude: -3.7331506

Row 3142: No result found for address: Avenida de Las �guilas, Madrid

Row 3143: Address: Calle Berlanas, Madrid
Latitude: 40.4007048, Longitude: -3.7523801

Row 3144: Address: Calle San Rufo, Madrid
Latitude: 40.4073055, Longitude: -3.7234039

Row 3145: Address: Calle Alverja, Madrid
Latitude: 40.4018942, Longitude: -3.7556144

Row 3146: Address: Calle Olivillo, Madrid
Latitude: 40.4064626, Longitude: -3.7468278

Row 3147: Address: Manises, Madrid
Latitude: 40.3745023, Longitude: -3.7636281

Row 3148: Address: AZOR, 6, Madrid
Latitude: 40.593764, Longitude: -3.9832235

Row 3149: No result found for address: Y�BENES, Madrid

Row 3150: Address: Avenida del Manzanares, 52, Madrid
Latitude: 40.4047706, Longitude: -3.723585

Row 3151: Address: Calle Antonia Calvo, 5, Madrid
Latitude: 40.4016899, Longitude: -3.7459242

Row 3152: Address: Calle Guadarrama, 25, Madrid
Latitude: 40.5793361, Longitude: -4.0049057

Row 3153: Address: Calle de Cebreros, 92, Madrid
Latitude: 40.4046066, Longitude: -3.750589

Row 3154: No result found for address: Calle Almaz�n, 9, Madrid

Row 3155: Address: Calle Alverja, 5, Madrid
Latitude: 40.402788650000005, Longitude: -3.7539825434257406

Row 3156: No result found for address: Calle Concejal Francisco Jos� Jim�nez Mart�n, 156, Madrid

Row 3157: Address: Calle de Sanchorreja, 15, Madrid
Latitude: 40.4018515, Longitude: -3.7561616

Row 3158: Address: Calle Valmojado, 293, Madrid
Latitude: 40.38669025, Longitude: -3.7591957977693893

Row 3159: Address: Calle de el Greco, 10, Madrid
Latitude: 40.596043, Longitude: -3.9837216299191374

Row 3160: Address: Paseo de los Jesuitas s/n, Madrid
Latitude: 40.4096672, Longitude: -3.7329274

Row 3161: No result found for address: do�a urraca, Madrid

Row 3162: Address: Calle de Cullera s/n, Madrid
Latitude: 40.3962895, Longitude: -3.7480845

Row 3163: Address: Calle Castuera, 19, Madrid
Latitude: 40.4013511, Longitude: -3.7476197

Row 3164: Address: Calle del Ansar, Madrid
Latitude: 40.403713, Longitude: -3.7380698

Row 3165: Address: Calle de la Duquesa de Parcent, Madrid
Latitude: 40.3957823, Longitude: -3.7476346

Row 3166: Address: Calle de Higueras, 59, Madrid
Latitude: 40.4078133, Longitude: -3.7416946

Row 3167: Address: Alhambra, 16, Madrid
Latitude: 4.74414135, Longitude: -74.26555125704382

Row 3168: No result found for address: Calle de Fray Jos� Cerdeiri�a, Madrid

Row 3169: Address: gallur, Madrid
Latitude: 40.3968509, Longitude: -3.7419817

Row 3170: Address: Villaviciosa, Madrid
Latitude: 40.3984693, Longitude: -3.766905

Row 3171: Address: Calle Hilario Sangrador, 22, Madrid
Latitude: 40.4080779, Longitude: -3.741732

Row 3172: Address: Paseo de Extremadura, 177, Madrid
Latitude: 40.3776151, Longitude: -3.7927146

Row 3173: Address: Calle Cerro Bermejo, Madrid
Latitude: 40.4096841, Longitude: -3.7309678

Row 3174: Address: Calle Ceferino �vila, 12, Madrid
Latitude: 40.4086487, Longitude: -3.7064255

Row 3175: Address: Calle SAN RUFO, Madrid
Latitude: 40.4073055, Longitude: -3.7234039

Row 3176: Address: Calle de Maqueda, Madrid
Latitude: 40.3895665, Longitude: -3.7620647

Row 3177: Address: rute, Madrid
Latitude: 40.4117245, Longitude: -3.7253077

Row 3178: Address: Calle de Sanchorreja, 21, Madrid
Latitude: 40.4018515, Longitude: -3.7561616

Row 3179: Address: HIGUERAS, 69, Madrid
Latitude: 40.4866057, Longitude: -3.6145942

Row 3180: No result found for address: Calle Bernardina Garc�a, Madrid

Row 3181: Address: VALMOJADO, Madrid
Latitude: 40.3939876, Longitude: -3.7580314

Row 3182: Address: Plaza ARMILLA, Madrid
Latitude: 40.374683, Longitude: -3.7637007

Row 3183: Address: Calle de Cullera, Madrid
Latitude: 40.3976665, Longitude: -3.7461822

Row 3184: Address: Calle Oca�a, Madrid
Latitude: 40.3898196, Longitude: -3.7350972

Row 3185: Address: Calle San Juan de Mata, Madrid
Latitude: 40.4035354, Longitude: -3.7572088

Row 3186: Address: Calle San Conrado, 8, Madrid
Latitude: 40.5915539, Longitude: -4.1512683

Row 3187: No result found for address: C/Jos� de Cadalso, 15, Madrid

Row 3188: Address: Calle de Higueras, Madrid
Latitude: 40.402486, Longitude: -3.7455853

Row 3189: Address: Avenida de Portugal, 177, Madrid
Latitude: 40.4138038, Longitude: -3.7311162

Row 3190: Address: Calle Saavedra Fajardo, 11, Madrid
Latitude: 40.41307805, Longitude: -3.7245350382841824

Row 3191: Address: Calle Rafael Finat, 115, Madrid
Latitude: 40.3792971, Longitude: -3.7697767

Row 3192: Address: Calle de Camarena, 73, Madrid
Latitude: 40.3943397, Longitude: -3.7546466

Row 3193: Address: Calle de Camarena, 79, Madrid
Latitude: 40.3938094, Longitude: -3.7548854

Row 3194: Address: Calle Villaviciosa, Madrid
Latitude: 40.3984693, Longitude: -3.766905

Row 3195: No result found for address: Calle Almaz�n, 19, Madrid

Row 3196: Address: Calle Pericles, 28, Madrid
Latitude: 40.409080849999995, Longitude: -3.732984381895512

Row 3197: No result found for address: Calle Concejal Francisco Jos� Jim�nez Mart�n, 42, Madrid

Row 3198: Address: Calle Azor, 6, Madrid
Latitude: 40.593764, Longitude: -3.9832235

Row 3199: No result found for address: Urb. Urbanizaci�n con piscina, Madrid

Row 3200: Address: Calle Guadarrama, Madrid
Latitude: 40.4114771, Longitude: -3.731332

Row 3201: Address: HERMINIO PUERTAS, Madrid
Latitude: 40.4069461, Longitude: -3.7354873

Row 3202: No result found for address: Calle Mar�a del Carmen, Madrid

Row 3203: Address: Calle Arrayanes, 12, Madrid
Latitude: 40.3937267, Longitude: -3.7437398

Row 3204: Address: Calle San Juan de Mata, 3, Madrid
Latitude: 40.40355565, Longitude: -3.756480396117351

Row 3205: Address: Calle Illescas, 84, Madrid
Latitude: 40.39095785000001, Longitude: -3.7544286053659475

Row 3206: Address: Calle de Camarena, 132, Madrid
Latitude: 40.3909185, Longitude: -3.7566425

Row 3207: Address: Carretera de Boadilla del Monte, 34, Madrid
Latitude: 40.3993352, Longitude: -3.7767333

Row 3208: Address: Avenida del Manzanares, 32, Madrid
Latitude: 40.3884483, Longitude: -3.698381330738087

Row 3209: Address: Calle Galiana, 46, Madrid
Latitude: 40.4090459, Longitude: -3.7326702

Row 3210: Address: Calle de la Duquesa de Parcent, 54, Madrid
Latitude: 40.3957823, Longitude: -3.7476346

Row 3211: Address: Calle Serradilla, 1, Madrid
Latitude: 40.3795418, Longitude: -3.7820053

Row 3212: Address: Calle de Sanchorreja, 17, Madrid
Latitude: 40.4018515, Longitude: -3.7561616

Row 3213: No result found for address: Avenida de la Aviaci�n, Madrid, Madrid

Row 3214: Address: Calle del Cine, 22, Madrid
Latitude: 40.3936065, Longitude: -3.7730377

Row 3215: No result found for address: Urb. Diamante, Madrid

Row 3216: Address: Calle Navas del Rey, 30, Madrid
Latitude: 40.4100767, Longitude: -3.738029

Row 3217: Address: Calle de Navalmoral de la Mata, 38, Madrid
Latitude: 40.3775805, Longitude: -3.777170870678846

Row 3218: No result found for address: Calle de Fray Jos� Cerdeiri�a, 37, Madrid

Row 3219: Address: Calle de Oca�a, 169, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 3220: Address: Calle Alejandrina Moran, 3, Madrid
Latitude: 40.4022192, Longitude: -3.7470102

Row 3221: No result found for address: Calle de Cardenal Mendoza, 43, Madrid

Row 3222: Address: Calle de Maqueda, 98, Madrid
Latitude: 40.3895665, Longitude: -3.7620647

Row 3223: Address: Paseo de Extremadura, 129, Madrid
Latitude: 40.3776151, Longitude: -3.7927146

Row 3224: Address: Calle Cayetano Pando, 4, Madrid
Latitude: 40.4026083, Longitude: -3.7456218

Row 3225: No result found for address: Huerta de la casta�eda, 18, Madrid

Row 3226: Address: Calle de Anselmo Lorenzo, 22, Madrid
Latitude: 40.3820243, Longitude: -3.7696745

Row 3227: Address: Calle de Gallur, 361, Madrid
Latitude: 40.3981858, Longitude: -3.7395298

Row 3228: Address: Calle Carlos Domingo, 11, Madrid
Latitude: 40.3908514, Longitude: -3.7443426

Row 3229: Address: Calle de la Industria, 5, Madrid
Latitude: 40.4100825, Longitude: -3.7295248

Row 3230: Address: Avenida de Portugal, 5, Madrid
Latitude: 40.4138038, Longitude: -3.7311162

Row 3231: Address: Paseo de Extremadura, 27, Madrid
Latitude: 40.3776151, Longitude: -3.7927146

Row 3232: No result found for address: Calle �rbol del Cielo, 9, Madrid

Row 3233: Address: Camino de los Ingenieros, 4, Madrid
Latitude: 40.3875128, Longitude: -3.7459563

Row 3234: Address: Calle Valmojado, 141, Madrid
Latitude: 40.3939876, Longitude: -3.7580314

Row 3235: No result found for address: Calle Concejal Francisco Jos� Jim�nez Mart�n, 145, Madrid

Row 3236: No result found for address: Calle los Y�benes, 151, Madrid

Row 3237: Address: Calle Luis Feito, 6, Madrid
Latitude: 40.3916144, Longitude: -3.7444815

Row 3238: Address: Calle Riocabado, 19, Madrid
Latitude: 40.4028127, Longitude: -3.7368095

Row 3239: Address: Calle Chisperos, 12, Madrid
Latitude: 40.4049385, Longitude: -3.7318264

Row 3240: Address: Paseo guadarrama, 1, Madrid
Latitude: 40.6277228, Longitude: -4.0050856

Row 3241: Address: Calle de Ampelido, 4, Madrid
Latitude: 40.4061703, Longitude: -3.7341751

Row 3242: Address: Calle de Camarena, 166, Madrid
Latitude: 40.3897645, Longitude: -3.7569992

Row 3243: No result found for address: Calle Sep�lveda, 23, Madrid

Row 3244: Address: Calle Picaza, 13, Madrid
Latitude: 40.391005, Longitude: -3.7456342

Row 3245: Address: Calle de Manises, 5, Madrid
Latitude: 40.3745023, Longitude: -3.7636281

Row 3246: No result found for address: Calle de Jos� de Cadalso, 30, Madrid

Row 3247: Address: Paseo de los olivos, 95, Madrid
Latitude: 40.40556, Longitude: -3.7383364

Row 3248: No result found for address: Calle de Villagarc�a, 12 /14, Madrid

Row 3249: Address: Calle de Camarena, 233, Madrid
Latitude: 40.3865078, Longitude: -3.7568232

Row 3250: Address: Calle de Pablo Sarasate, 8, Madrid
Latitude: 40.4050486, Longitude: -3.7318919

Row 3251: Address: Calle de Cebreros, 90, Madrid
Latitude: 40.4050101, Longitude: -3.7497663

Row 3252: Address: Calle Hoyo de Pinares, 9, Madrid
Latitude: 40.394266, Longitude: -3.7779743

Row 3253: No result found for address: Calle Mirue�a, 13, Madrid

Row 3254: Address: Paseo de los Jesuitas, 11, Madrid
Latitude: 40.4096672, Longitude: -3.7329274

Row 3255: No result found for address: Calle de Fray Jos� Cerdeiri�a, 33, Madrid

Row 3256: No result found for address: Calle �rbol del Cielo, 48, Madrid

Row 3257: Address: Calle de Oca�a, 15, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 3258: Address: Calle Baena, 3, Madrid
Latitude: 40.4384359, Longitude: -3.6890891

Row 3259: Address: Calle de Camarena, 2, Madrid
Latitude: 40.3961854, Longitude: -3.7551023

Row 3260: Address: Calle Campo Florido, 7, Madrid
Latitude: 40.3987025, Longitude: -3.7746048

Row 3261: Address: Plaza Santa Teresita, 3, Madrid
Latitude: 40.406303, Longitude: -3.7367491

Row 3262: No result found for address: Calle sebasti�n �lvaro, 22, Madrid

Row 3263: Address: Calle de Ampelido, 46, Madrid
Latitude: 40.4061703, Longitude: -3.7341751

Row 3264: Address: Paseo Olivos, 27, Madrid
Latitude: 40.40556, Longitude: -3.7383364

Row 3265: No result found for address: Calle Concejal Francisco Jos� Jim�nez Mart�n, 26, Madrid

Row 3266: No result found for address: Calle Antill�n, 18, Madrid

Row 3267: Address: Calle San Roberto, 6, Madrid
Latitude: 40.4037663, Longitude: -3.7594221

Row 3268: Address: Avenida del Manzanares, 20, Madrid
Latitude: 40.408022700000004, Longitude: -3.7232539159049285

Row 3269: Address: Paseo de la Ermita del Santo, 42, Madrid
Latitude: 40.409254, Longitude: -3.7237806

Row 3270: Address: Calle Athos, 52, Madrid
Latitude: 40.4076974, Longitude: -3.7314174

Row 3271: Address: Calle Cerro Bermejo, 7, Madrid
Latitude: 40.4096841, Longitude: -3.7309678

Row 3272: No result found for address: Calle Concejal Francisco Jos� Jim�nez Mart�n, 126, Madrid

Row 3273: Address: Calle Baena, 4, Madrid
Latitude: 40.4387085, Longitude: -3.6887242

Row 3274: Address: Calle Valmojado, 199, Madrid
Latitude: 40.3939876, Longitude: -3.7580314

Row 3275: Address: Calle Antonio Zamora, 36, Madrid
Latitude: 40.4125447, Longitude: -3.7303922

Row 3276: Address: Calle de Galicia, 52, Madrid
Latitude: 40.7098658, Longitude: -4.0772207

Row 3277: Address: Calle Los Yebenes, 77, Madrid
Latitude: 40.3959743, Longitude: -3.7537471

Row 3278: Address: Paseo Perales, 15, Madrid
Latitude: 40.4049485, Longitude: -3.7378473

Row 3279: Address: Calle de Cartaya, 28, Madrid
Latitude: 40.3961923, Longitude: -3.7720395

Row 3280: Address: Plaza Armilla, 2, Madrid
Latitude: 40.374683, Longitude: -3.7637007

Row 3281: Address: Calle de Pericles, 30, Madrid
Latitude: 40.40903695, Longitude: -3.7331735908748014

Row 3282: Address: Calle de la Maestra Justa Freire, 5, Madrid
Latitude: 40.3749105, Longitude: -3.7660515

Row 3283: Address: Avenida de Portugal, 143, Madrid
Latitude: 40.4138038, Longitude: -3.7311162

Row 3284: Address: Costanilla de los Olivos, 10, Madrid
Latitude: 40.4051647, Longitude: -3.7373772

Row 3285: Address: Paseo de Extremadura, 222, Madrid
Latitude: 40.3802309, Longitude: -3.7892829

Row 3286: No result found for address: Calle de Do�a Urraca, 34, Madrid

Row 3287: Address: Avenida de los Apostoles, 28, Madrid
Latitude: 40.4063878, Longitude: -3.7396081

Row 3288: No result found for address: Calle de Fray Jos� Cerdeiri�a, 39, Madrid

Row 3289: Address: Calle Camarena, 184, Madrid
Latitude: 40.3896346, Longitude: -3.7561913

Row 3290: Address: Calle Ceferino Avila, 38, Madrid
Latitude: 40.3936685, Longitude: -3.7751093

Row 3291: Address: Calle de la Duquesa de Parcent, 16, Madrid
Latitude: 40.3957823, Longitude: -3.7476346

Row 3292: No result found for address: Calle de Le�n V de Armenia, 4, Madrid

Row 3293: No result found for address: Calle de Tembleque, 89, Madrid

Row 3294: Address: Calle Parodia, 1, Madrid
Latitude: 40.4063192, Longitude: -3.7503656

Row 3295: No result found for address: Calle de Tembleque, 52, Madrid

Row 3296: No result found for address: Calle de Tembleque, 56, Madrid

Row 3297: Address: Calle De Escalona, 48, Madrid
Latitude: 40.39670855, Longitude: -3.7623474343940937

Row 3298: Address: Calle De Escalona, 26, Madrid
Latitude: 40.3970492, Longitude: -3.762057469176706

Row 3299: Address: Calle De Escalona, 22, Madrid
Latitude: 40.39731915, Longitude: -3.761641003850445

Row 3300: No result found for address: Avenida de Las �guilas, 133, Madrid

Row 3301: Address: Paseo de Extremadura, 57, Madrid
Latitude: 40.412675, Longitude: -3.7308652

Row 3302: No result found for address: Calle de valle incl�n, 43, Madrid

Row 3303: Address: Calle Galiana, 1, Madrid
Latitude: 40.41006745, Longitude: -3.7315112237075336

Row 3304: Address: Calle Mirabel, 20, Madrid
Latitude: 40.3797446, Longitude: -3.781112

Row 3305: No result found for address: Calle los Y�benes, 116, Madrid

Row 3306: Address: Calle Camarena, 2, Madrid
Latitude: 40.3961854, Longitude: -3.7551023

Row 3307: Address: Paseo de Extremadura, 55, Madrid
Latitude: 40.4127666, Longitude: -3.7306179

Row 3308: Address: Calle Illescas, 207, Madrid
Latitude: 40.3930238, Longitude: -3.7604757

Row 3309: No result found for address: Calle de Escalonilla, 30, Madrid

Row 3310: Address: Calle barrionuevo, 22, Madrid
Latitude: 40.407008, Longitude: -3.742342

Row 3311: Address: Paseo de Extremadura, 118, Madrid
Latitude: 40.3776151, Longitude: -3.7927146

Row 3312: No result found for address: Calle Jos� de Cadalso, 56, Madrid

Row 3313: Address: Calle de Caramuel, 40, Madrid
Latitude: 40.4097714, Longitude: -3.7282557

Row 3314: No result found for address: Calle Concejal Francisco Jos� Jim�nez Mart�n, 110, Madrid

Row 3315: Address: Calle de Maqueda, 60, Madrid
Latitude: 40.3895665, Longitude: -3.7620647

Row 3316: Address: Paseo de Extremadura, 244, Madrid
Latitude: 40.3802309, Longitude: -3.7892829

Row 3317: Address: Calle del Ansar, 68, Madrid
Latitude: 40.403713, Longitude: -3.7380698

Row 3318: Address: Calle de Gallur, 108, Madrid
Latitude: 40.3981858, Longitude: -3.7395298

Row 3319: Address: Calle Sagrados Corazones, 17, Madrid
Latitude: 40.4065446, Longitude: -3.7383707

Row 3320: No result found for address: Calle Almaz�n, Madrid

Row 3321: Address: Calle Azor, Madrid
Latitude: 40.3986765, Longitude: -3.768084

Row 3322: Address: Calle de Blas Cabrera, 135, Madrid
Latitude: 40.379017, Longitude: -3.7730125

Row 3323: Address: Calle de Maqueda, 149, Madrid
Latitude: 40.3895665, Longitude: -3.7620647

Row 3324: No result found for address: Avenida de la Aviaci�n, 111, Madrid

Row 3325: Address: Paseo DE LOS OLIVOS, Madrid
Latitude: 40.40556, Longitude: -3.7383364

Row 3326: No result found for address: Calle de Escalonilla, Madrid

Row 3327: Address: Calle de Ampelido, Madrid
Latitude: 40.4061703, Longitude: -3.7341751

Row 3328: Address: Calle de Pericles, 31, Madrid
Latitude: 40.408869550000006, Longitude: -3.732816014987484

Row 3329: Address: Calle Carracedo, 23, Madrid
Latitude: 40.3951355, Longitude: -3.7708389

Row 3330: No result found for address: Urb. Colonia Jardin, Madrid

Row 3331: Address: Calle Jaime Tercero, 45, Madrid
Latitude: 40.4085441, Longitude: -3.7317849

Row 3332: No result found for address: Paseo H�sares, 4 3�B, Madrid

Row 3333: No result found for address: Calle de la Huerta de Casta�eda, 19, Madrid

Row 3334: No result found for address: Calle del Palm�pedo, 19, Madrid

Row 3335: Address: Calle de la Maestra Justa Freire, 24, Madrid
Latitude: 40.3749105, Longitude: -3.7660515

Row 3336: Address: Calle Ramiro Molina, 27, Madrid
Latitude: 40.4096757, Longitude: -3.7363047

Row 3337: Address: Sepulveda, 138, Madrid
Latitude: 40.406065, Longitude: -3.7305452

Row 3338: No result found for address: Calle los Y�benes, 145, Madrid

Row 3339: No result found for address: Calle Santa �urea, 16, Madrid

Row 3340: No result found for address: Calle los y�benes, 145, Madrid

Row 3341: No result found for address: Calle santa �urea, 16, Madrid

Row 3342: Address: Calle Villacarriedo, 6, Madrid
Latitude: 40.397208, Longitude: -3.7723647

Row 3343: No result found for address: Calle de Do�a Urraca, Madrid

Row 3344: No result found for address: Campoflorido, Madrid

Row 3345: Address: Villavaliente, Madrid
Latitude: 40.4066547, Longitude: -3.74932

Row 3346: Address: La Milagrosa, Madrid
Latitude: 40.436907649999995, Longitude: -3.694907833786936

Row 3347: Address: Paseo Perales, Madrid
Latitude: 40.4049485, Longitude: -3.7378473

Row 3348: No result found for address: Urb. pueta del angel, Madrid

Row 3349: No result found for address: Calle Jos� Maurelo, Madrid

Row 3350: No result found for address: Calle Vicente Camar�n, Madrid

Row 3351: Address: Calle de Blas Cabrera, 115, Madrid
Latitude: 40.379017, Longitude: -3.7730125

Row 3352: Address: Calle Marcelino Castillo, 13, Madrid
Latitude: 40.427814, Longitude: -3.6425237

Row 3353: Address: Calle Villacarriedo, 13, Madrid
Latitude: 40.397208, Longitude: -3.7723647

Row 3354: No result found for address: Avenida de Las �guilas, 4, Madrid

Row 3355: Address: Calle de Gallur, 12, Madrid
Latitude: 40.3981858, Longitude: -3.7395298

Row 3356: No result found for address: Calle de Fray Jos� Cerdeiri�a, 62, Madrid

Row 3357: Address: Av. de Ntra. Sra. de Valvanera, Madrid
Latitude: 40.39112, Longitude: -3.7375108

Row 3358: No result found for address: Valle Incl�n, Madrid

Row 3359: Address: Paseo DE JESUITAS, Madrid
Latitude: 40.4096672, Longitude: -3.7329274

Row 3360: Address: SANTA AUREA, Madrid
Latitude: 40.4070168, Longitude: -3.7348921

Row 3361: No result found for address: Paseo Marqu�s de Monistrol, 7, Madrid

Row 3362: No result found for address: Calle de la Aviaci�n Espa�ola, Madrid

Row 3363: Address: Maqueda, Madrid
Latitude: 40.392228, Longitude: -3.7638593

Row 3364: Address: Calle de Cebreros, 81, Madrid
Latitude: 40.40370505, Longitude: -3.750226303984145

Row 3365: Address: Avenida de Portugal, Madrid, Madrid
Latitude: 40.41453, Longitude: -3.7298998

Row 3366: Address: Paseo de Extremadura, 163, Madrid
Latitude: 40.3802309, Longitude: -3.7892829

Row 3367: Address: Calle De Escalona, 6, Madrid
Latitude: 40.39619, Longitude: -3.7627533

Row 3368: Error geocoding address 'Calle de nuestra se�ora de la luz, 120, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+nuestra+se%EF%BF%BDora+de+la+luz%2C+120%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 3369: Address: MAQUEDA, Madrid
Latitude: 40.392228, Longitude: -3.7638593

Row 3370: Address: San Eusebio, Madrid
Latitude: 40.4023963, Longitude: -3.7599178

Row 3371: Address: Calle de Cebreros, 112, Madrid
Latitude: 40.4039369, Longitude: -3.7509575734234257

Row 3372: No result found for address: Sep�lveda, Madrid

Row 3373: Error geocoding address 'Calle Mar�a del Carmen, 31, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Mar%EF%BF%BDa+del+Carmen%2C+31%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 3374: Address: Avenida del Padre Piquer, 13, Madrid
Latitude: 40.3940858, Longitude: -3.767664

Row 3375: No result found for address: Calle Faustino Cord�n Bonet, 4 -22, Madrid

Row 3376: Address: Paseo de Extremadura, 411, Madrid
Latitude: 40.3802309, Longitude: -3.7892829

Row 3377: Address: Valmojado, Madrid
Latitude: 40.3939876, Longitude: -3.7580314

Row 3378: Address: castuera, Madrid
Latitude: 40.4013511, Longitude: -3.7476197

Row 3379: Address: Calle Rafael Finat, Madrid
Latitude: 40.3792769, Longitude: -3.7699871

Row 3380: Address: Plaza armilla, Madrid
Latitude: 40.374683, Longitude: -3.7637007

Row 3381: Address: Paseo de los JESUITAS, Madrid
Latitude: 40.4096672, Longitude: -3.7329274

Row 3382: No result found for address: Calle de Le�n V de Armenia, Madrid

Row 3383: Address: Calle Valmojado, Madrid
Latitude: 40.3939876, Longitude: -3.7580314

Row 3384: Address: Calle ANTONIO ZAMORA, Madrid
Latitude: 40.4125447, Longitude: -3.7303922

Row 3385: Error geocoding address 'Calle de Nuestra Se�ora de la Luz, 120, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Nuestra+Se%EF%BF%BDora+de+la+Luz%2C+120%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 3386: Address: Calle de Herminio Puertas, Madrid
Latitude: 40.4069461, Longitude: -3.7354873

Row 3387: Address: ALHAMBRA, Madrid
Latitude: 4.74414135, Longitude: -74.26555125704382

Row 3388: Address: Calle Antonio Ulloa, 3, Madrid
Latitude: 40.4110861, Longitude: -3.7311485

Row 3389: Address: Calle de sanchorreja, Madrid
Latitude: 40.4018515, Longitude: -3.7561616

Row 3390: Address: Calle de Camarena, 191, Madrid
Latitude: 40.3883831, Longitude: -3.7556709

Row 3391: Address: Calle de Ampelido, 11, Madrid
Latitude: 40.4061703, Longitude: -3.7341751

Row 3392: Address: Calle Sedano, 7, Madrid
Latitude: 40.3969138, Longitude: -3.7732354

Row 3393: Address: Calle de Pericles, Madrid
Latitude: 40.4091579, Longitude: -3.730652

Row 3394: No result found for address: Calle los Y�benes, 225, Madrid

Row 3395: Address: SAN AMBROSIO, Madrid
Latitude: 40.4046292, Longitude: -3.7247903

Row 3396: No result found for address: Calle Vicente Camar�n, 45, Madrid

Row 3397: Address: Paseo de Extremadura, 157, Madrid
Latitude: 40.3776151, Longitude: -3.7927146

Row 3398: No result found for address: Calle los Y�benes, 80, Madrid

Row 3399: Address: Calle de Oliva de Plasencia, 25, Madrid
Latitude: 40.3781516, Longitude: -3.7788224

Row 3400: Address: Azor, Madrid
Latitude: 40.3986765, Longitude: -3.768084

Row 3401: Address: Calle de la Industria, 2, Madrid
Latitude: 40.354065000000006, Longitude: -3.5502516000000037

Row 3402: Address: Calle Villaviciosa, 5, Madrid
Latitude: 40.313053499999995, Longitude: -3.7938984409348473

Row 3403: Address: VILLAMANIN, Madrid
Latitude: 40.4057241, Longitude: -3.7534978

Row 3404: Address: San Juan de Mata, Madrid
Latitude: 40.413525050000004, Longitude: -3.69761099500695

Row 3405: No result found for address: Calle Mingorr�a, Madrid

Row 3406: Address: Calle Santa Infancia, Madrid
Latitude: 40.4087924, Longitude: -3.739117

Row 3407: Address: GALLUR, Madrid
Latitude: 40.3968509, Longitude: -3.7419817

Row 3408: Address: Calle Mariano Carderera, Madrid
Latitude: 40.4106398, Longitude: -3.7323467

Row 3409: Address: Picaza, Madrid
Latitude: 40.3916144, Longitude: -3.7444815

Row 3410: No result found for address: Calle Concejal Francisco Jos� Jim�nez Mart�n, Madrid

Row 3411: Address: Calle de Fuente de Lima, Madrid
Latitude: 40.3840176, Longitude: -3.783862

Row 3412: Address: Serradilla, Madrid
Latitude: 40.3795418, Longitude: -3.7820053

Row 3413: No result found for address: Calle Ram�n Azor�n, Madrid

Row 3414: Address: Calle Sepulveda, Madrid
Latitude: 36.4630392, Longitude: -5.0428026

Row 3415: Address: jaime vera, Madrid
Latitude: 40.452456049999995, Longitude: -3.702330940085848

Row 3416: Address: Paseo Extremadura, 256, Madrid
Latitude: 40.4046264, Longitude: -3.753521

Row 3417: Address: Calle De Escalona, Madrid
Latitude: 40.39619, Longitude: -3.7627533

Row 3418: Address: Calle DIGITAL, Madrid
Latitude: 40.3967268, Longitude: -3.7782063

Row 3419: Address: Calle de Barrafon, Madrid
Latitude: 40.4114185, Longitude: -3.7313535

Row 3420: Address: Oca�a, 135, Madrid
Latitude: 40.3897177, Longitude: -3.7346149

Row 3421: Address: BLAS CABRERA, Madrid
Latitude: 40.379017, Longitude: -3.7730125

Row 3422: Address: Calle Rafael Finat, Madrid, Madrid
Latitude: 40.3792769, Longitude: -3.7699871

Row 3423: Address: navia, Madrid
Latitude: 40.3856844, Longitude: -3.7700656

Row 3424: No result found for address: Calle de Villagarc�a, 2, Madrid

Row 3425: Address: Calle Carlina, 8, Madrid
Latitude: 40.4047201, Longitude: -3.751151805298969

Row 3426: No result found for address: Calle de la Grandeza Espa�ola, Madrid

Row 3427: Address: maqueda, Madrid
Latitude: 40.392228, Longitude: -3.7638593

Row 3428: Address: Avenida Portugal, Madrid
Latitude: 40.3289712, Longitude: -3.8574986

Row 3429: Address: SEBASTIAN ALVARO, 8, Madrid
Latitude: 40.3935005, Longitude: -3.7730009

Row 3430: Address: Calle de Camarena, 261, Madrid
Latitude: 40.3849615, Longitude: -3.756931

Row 3431: Address: Calle de Barrafon, 39, Madrid
Latitude: 40.4107831, Longitude: -3.732750960204082

Row 3432: Address: Calle Sagrados Corazones, 4, Madrid
Latitude: 40.4065446, Longitude: -3.7383707

Row 3433: No result found for address: vicente camar�n, 16, Madrid

Row 3434: Address: Avenida de los Apostoles, Madrid
Latitude: 40.4049565, Longitude: -3.7398388

Row 3435: Address: Calle Daniel Segovia, 29, Madrid
Latitude: 40.3938656, Longitude: -3.7746741

Row 3436: Address: Calle Ariza, 27, Madrid
Latitude: 40.3962228, Longitude: -3.7390214

Row 3437: Address: Calle Luisa Muriel, Madrid
Latitude: 40.4047567, Longitude: -3.7328985

Row 3438: Address: Calle Herminio Puertas , 70, Madrid
Latitude: 40.4069461, Longitude: -3.7354873

Row 3439: Address: Calle de Blas Cabrera, Madrid
Latitude: 40.379017, Longitude: -3.7730125

Row 3440: Address: Paseo de los olivos, 59, Madrid
Latitude: 40.40556, Longitude: -3.7383364

Row 3441: No result found for address: Calle de Valle Incl�n, Madrid

Row 3442: No result found for address: Urb. JUNTO AL METRO LAGUNA, REFORMADO, Madrid

Row 3443: No result found for address: Urb. JUNTO AL PARQUE ALUCHE Y EL METRO, REFORMADO, Madrid

Row 3444: Address: Calle de la Alhambra, Madrid
Latitude: 40.4014327, Longitude: -3.7447301

Row 3445: Address: Calle del Lucero s/n, Madrid
Latitude: 40.4029029, Longitude: -3.7478307

Row 3446: Address: Carretera de Boadilla del Monte, Madrid
Latitude: 40.3993352, Longitude: -3.7767333

Row 3447: Address: Calle Maqueda, Madrid
Latitude: 40.3895665, Longitude: -3.7620647

Row 3448: Address: Calle Camarena, Madrid
Latitude: 40.3911624, Longitude: -3.7561056

Row 3449: Address: Maria del Carmen, Madrid
Latitude: 40.40613, Longitude: -3.7328799

Row 3450: No result found for address: Calle de Fray Jos� de Cerdeiri�a, Madrid

Row 3451: No result found for address: Calle Poema Sinf�nico, 25, Madrid

Row 3452: Address: Calle de Gallur, Madrid, 373, Madrid
Latitude: 40.3981858, Longitude: -3.7395298

Row 3453: Address: azor, 6, Madrid
Latitude: 40.593764, Longitude: -3.9832235

Row 3454: Address: Calle Dante, Madrid
Latitude: 40.4086266, Longitude: -3.7443854

Row 3455: Address: Carretera de Boadilla del Monte, 46, Madrid
Latitude: 40.3993352, Longitude: -3.7767333

Row 3456: Address: Calle Cuart de Poblet, 49, Madrid
Latitude: 40.395889, Longitude: -3.7518042

Row 3457: No result found for address: Calle Sep�lveda, 212, Madrid

Row 3458: Address: Calle Illescas, 69, Madrid
Latitude: 40.3947864, Longitude: -3.7630573

Row 3459: Address: guadarrama, 25, Madrid
Latitude: 40.597806, Longitude: -4.134148

Row 3460: Address: Calle Villaviciosa, 16, Madrid
Latitude: 40.28773325, Longitude: -3.7977203868954374

Row 3461: Address: Calle Saavedra Fajardo, Madrid
Latitude: 40.3226694, Longitude: -3.7662666

Row 3462: No result found for address: Calle Pascual Rodr�guez, 13, Madrid

Row 3463: No result found for address: Calle Mag�n Calvo, 26, Madrid

Row 3464: No result found for address: Calle los Y�benes, 97, Madrid

Row 3465: Address: Paseo de Extremadura, 21, Madrid
Latitude: 40.3776151, Longitude: -3.7927146

Row 3466: No result found for address: Calle Y�benes, 71, Madrid

Row 3467: Address: Calle Athos, 8, Madrid
Latitude: 40.4076974, Longitude: -3.7314174

Row 3468: Address: Calle de Carracedo, 9, Madrid
Latitude: 40.3951355, Longitude: -3.7708389

Row 3469: Address: Calle Pilar, 16, Madrid
Latitude: 40.4292458, Longitude: -3.538825

Row 3470: Address: RUEZA, 36, Madrid
Latitude: 40.4037894, Longitude: -3.7528137

Row 3471: No result found for address: Cuart dePoblet, Madrid

Row 3472: No result found for address: Calle de Villaman�n, Madrid

Row 3473: Address: Calle Picaza, Madrid
Latitude: 40.3916144, Longitude: -3.7444815

Row 3474: Address: Calle de Camarena s/n, Madrid
Latitude: 40.3911624, Longitude: -3.7561056

Row 3475: Address: Avenida de Portugal, 3, Madrid
Latitude: 40.4138038, Longitude: -3.7311162

Row 3476: Address: Paseo Ermita del Santo, Madrid
Latitude: 40.4137522, Longitude: -3.7241605

Row 3477: Address: Illescas, Madrid
Latitude: 40.3916687, Longitude: -3.7551165

Row 3478: Address: VILLAVICIOSA, Madrid
Latitude: 40.3984693, Longitude: -3.766905

Row 3479: Address: Calle Monsalupe, 12, Madrid
Latitude: 40.4017154, Longitude: -3.7518393

Row 3480: Address: Oca�a, 149, Madrid
Latitude: 40.3897177, Longitude: -3.7346149

Row 3481: No result found for address: Calle Manuel Garc�a, 7, Madrid

Row 3482: Address: Calle lucero , 39, Madrid
Latitude: 40.3588779, Longitude: -3.7007963

Row 3483: Address: Calle Ariza, Madrid
Latitude: 40.3962228, Longitude: -3.7390214

Row 3484: Address: Calle de Gando, Madrid
Latitude: 40.3766968, Longitude: -3.764816

Row 3485: Address: ESCALONILLA, Madrid
Latitude: 40.3962947, Longitude: -3.7398584

Row 3486: Address: Calle Villasandino, 40, Madrid
Latitude: 40.4060151, Longitude: -3.752731581604219

Row 3487: No result found for address: Calle Seraf�n de As�s, 3, Madrid

Row 3488: Address: Calle Valmojado, 77, Madrid
Latitude: 40.3939876, Longitude: -3.7580314

Row 3489: Address: Calle de Sanchorreja, Madrid
Latitude: 40.4018515, Longitude: -3.7561616

Row 3490: No result found for address: Avenida de los Ap�stoles, 13, Madrid

Row 3491: Address: Avenida del Padre Piquer, Madrid
Latitude: 40.3950213, Longitude: -3.7685336

Row 3492: No result found for address: Calle Vicente Camar�n, 19, Madrid

Row 3493: Address: Calle NEGUILLA, Madrid
Latitude: 40.4096163, Longitude: -3.7246628

Row 3494: Address: Calle de Monsalupe, 6, Madrid
Latitude: 40.4016542, Longitude: -3.7528615

Row 3495: No result found for address: Calle Vicente Camar�n s/n, Madrid

Row 3496: Error geocoding address 'Calle de Nuestra Se�ora de la Luz, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Nuestra+Se%EF%BF%BDora+de+la+Luz%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 3497: Address: Calle de el Greco, Madrid
Latitude: 40.408201, Longitude: -3.7450279

Row 3498: Address: Calle Alejandrina Moran, Madrid
Latitude: 40.4022192, Longitude: -3.7470102

Row 3499: Address: Calle de Carlos Fuentes, Madrid
Latitude: 40.4035454, Longitude: -3.7404676

Row 3500: Address: Calle San Juan de Mata, 45, Madrid
Latitude: 40.4035354, Longitude: -3.7572088

Row 3501: Address: Calle Antonio Ulloa, Madrid
Latitude: 40.4110861, Longitude: -3.7311485

Row 3502: Address: Calle Galiana, Madrid
Latitude: 40.4090459, Longitude: -3.7326702

Row 3503: Address: Pericles, Madrid
Latitude: 40.4091579, Longitude: -3.730652

Row 3504: Address: Calle de Oca�a, 83, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 3505: Address: Carretera de Carabanchel a Aravaca, Madrid
Latitude: 40.3955784, Longitude: -3.773449

Row 3506: No result found for address: Calle �nica, Madrid

Row 3507: Address: Calle Carlos Domingo, Madrid
Latitude: 40.3908514, Longitude: -3.7443426

Row 3508: Address: Calle Madrigal de la Vera, Madrid
Latitude: 40.3773578, Longitude: -3.7798338

Row 3509: Address: Calle de la Industria, 46, Madrid
Latitude: 40.4100825, Longitude: -3.7295248

Row 3510: No result found for address: Calle Seraf�n de As�s, Madrid

Row 3511: Address: Calle Fuerte de Navidad, Madrid
Latitude: 40.3811666, Longitude: -3.7652847

Row 3512: No result found for address: Avenida de Nuestra Se�ora de Valvanera, Madrid

Row 3513: No result found for address: Calle de Revenga, Madrid

Row 3514: No result found for address: Vicente Camar�n, Madrid

Row 3515: Address: Calle Antonio Zamora, Madrid
Latitude: 40.4125447, Longitude: -3.7303922

Row 3516: Address: Calle de los Arrayanes, Madrid
Latitude: 40.3937267, Longitude: -3.7437398

Row 3517: Address: Calle Serradilla, Madrid
Latitude: 40.3795418, Longitude: -3.7820053

Row 3518: Address: Calle de Cebreros, Madrid
Latitude: 40.4047884, Longitude: -3.7506165

Row 3519: Address: Via Carpetana, Madrid
Latitude: 40.3927805, Longitude: -3.7413505

Row 3520: Address: Paseo de Extremadura, 45, Madrid
Latitude: 40.4129592, Longitude: -3.729701328792449

Row 3521: Address: Paseo de los Jesuitas, 22, Madrid
Latitude: 40.4103633, Longitude: -3.7317716253628825

Row 3522: Address: Calle Rodeos, 5, Madrid
Latitude: 40.3755087, Longitude: -3.7635633

Row 3523: Address: Calle Calatayud, Madrid
Latitude: 40.4088814, Longitude: -3.7293023

Row 3524: Address: Calle Cebreros, Madrid
Latitude: 40.4048792, Longitude: -3.7422986

Row 3525: Address: Calle Prado Alegre, 6, Madrid
Latitude: 40.3983679, Longitude: -3.7732838

Row 3526: Address: Calle de Rueza, 36, Madrid
Latitude: 40.4037894, Longitude: -3.7528137

Row 3527: No result found for address: HOYOS DE PINARES, 1, Madrid

Row 3528: Address: Avenida de Manzanares, Madrid
Latitude: 40.2330674, Longitude: -3.9770949

Row 3529: Address: Paseo de Extremadura, 117, Madrid
Latitude: 40.3776151, Longitude: -3.7927146

Row 3530: Address: Mariano Carderera, Madrid
Latitude: 40.4106398, Longitude: -3.7323467

Row 3531: Address: Calle almazan, Madrid
Latitude: 40.4054199, Longitude: -3.7437446

Row 3532: Address: Calle Serradilla, 18, Madrid
Latitude: 40.37914845, Longitude: -3.781624228598378

Row 3533: Address: San Galo, Madrid
Latitude: 40.4077091, Longitude: -3.7237946

Row 3534: Address: Calle del Ansar, 47, Madrid
Latitude: 40.403892400000004, Longitude: -3.741803566651929

Row 3535: Address: Paseo de Extremadura, 300, Madrid
Latitude: 40.3802309, Longitude: -3.7892829

Row 3536: Address: Calle de Herminio Puertas, 64, Madrid
Latitude: 40.4069461, Longitude: -3.7354873

Row 3537: No result found for address: Urb. Colonias Sagrada Familia, Madrid

Row 3538: Address: Calle de Rueza, 38, Madrid
Latitude: 40.4034608, Longitude: -3.752805592567567

Row 3539: No result found for address: Urb. Puerta de Hierro, Madrid

Row 3540: No result found for address: Avenida de Valdemar�n, Madrid

Row 3541: Address: Calle de Valcotos s/n, Madrid
Latitude: 40.467657, Longitude: -3.7734187

Row 3542: No result found for address: evangelina sobrero galanes, Madrid

Row 3543: Address: Calle JUAN ALVAREZ MENDIZABAL, Madrid
Latitude: 40.4241376, Longitude: -3.7141435

Row 3544: Address: Avenida de miraflores, Madrid
Latitude: 40.457075, Longitude: -3.7297175

Row 3545: No result found for address: Urb. La Florida, Madrid

Row 3546: Address: Avenida de Valladolid, Madrid
Latitude: 40.4330149, Longitude: -3.7333851

Row 3547: Address: Calle martin de los heros, Madrid
Latitude: 40.430851, Longitude: -3.7191744

Row 3548: Address: JUAN ALVAREZ MENDIZABAL, 15, Madrid
Latitude: 40.4246463, Longitude: -3.7147927

Row 3549: Address: Calle de la Princesa, Madrid
Latitude: 40.4352374, Longitude: -3.7194763

Row 3550: Address: Calle del alfar, Madrid
Latitude: 40.4552847, Longitude: -3.7899543

Row 3551: Address: Calle de Cabellera de Berenice, Madrid
Latitude: 40.4719234, Longitude: -3.7829249

Row 3552: Address: Calle Sainz de la Calleja, Madrid
Latitude: 40.4707951, Longitude: -3.8241697

Row 3553: Address: Avenida de la Osa Mayor, Madrid, Madrid
Latitude: 40.4561632, Longitude: -3.7893826

Row 3554: Address: Peguerinos, Madrid
Latitude: 40.4685625, Longitude: -3.7348444

Row 3555: Address: Calle de la fuente del rey, Madrid
Latitude: 40.4552566, Longitude: -3.7672697

Row 3556: Address: Paseo Rinconada, Madrid
Latitude: 40.4559533, Longitude: -3.7656685

Row 3557: No result found for address: Urb. LA FLORIDA, Madrid

Row 3558: No result found for address: Avenida de Valdemar�n, 146, Madrid

Row 3559: Address: Calle MARQUES DE URQUIJO, Madrid
Latitude: 40.4293494, Longitude: -3.720405

Row 3560: Address: Calle Horche, Madrid
Latitude: 40.4583984, Longitude: -3.7656653

Row 3561: Address: Ferraz, Madrid
Latitude: 40.4274979, Longitude: -3.7186105

Row 3562: Address: Calle del Conde de la Cimera, Madrid
Latitude: 40.4463068, Longitude: -3.7154849

Row 3563: No result found for address: Urb. VALDEMAR�N, Madrid

Row 3564: Address: Urb. ARAVACA, Madrid
Latitude: 40.4515682, Longitude: -3.7651876

Row 3565: No result found for address: Urb. VALDEMARIN, Madrid

Row 3566: Error geocoding address 'Calle Valle de Ar�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Valle+de+Ar%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 3567: No result found for address: Calle San Mart�n de Porres, Madrid, Madrid

Row 3568: Address: GUECHO, Madrid
Latitude: 40.4711755, Longitude: -3.8164148

Row 3569: Address: DOCTOR JUAN JOSE LOPEZ IBOR, Madrid
Latitude: 40.4740411, Longitude: -3.7113576

Row 3570: No result found for address: Calle de San Gerardo, Madrid

Row 3571: Address: Calle Valdeverdeja, Madrid
Latitude: 40.4669187, Longitude: -3.7154495

Row 3572: Address: Calle Amorebieta, 25, Madrid
Latitude: 40.4686117, Longitude: -3.8080036

Row 3573: Address: Calle Ferraz, 41, Madrid
Latitude: 40.428804, Longitude: -3.7200285

Row 3574: Address: Calle Ferraz, Madrid
Latitude: 40.4274979, Longitude: -3.7186105

Row 3575: No result found for address: Calle de Juan �lvarez Mendiz�bal, Madrid

Row 3576: Address: Calle Felipe Moratilla, Madrid
Latitude: 40.4270533, Longitude: -3.73184

Row 3577: Address: Valdemarin, Madrid
Latitude: 40.466939999999994, Longitude: -3.787154949669601

Row 3578: No result found for address: Urb. diplomaticos, Madrid

Row 3579: Address: Calle de Ferraz, Madrid
Latitude: 40.4274979, Longitude: -3.7186105

Row 3580: Address: Amorebieta, Madrid
Latitude: 40.4689064, Longitude: -3.8103168

Row 3581: No result found for address: Colonia Santa Mar�a, Madrid, Madrid

Row 3582: No result found for address: Calle Pe�alara de Aravaca, 5, Madrid

Row 3583: No result found for address: Calle vinas de el pardo, 2, Madrid

Row 3584: Address: Fuente del Peral, Madrid
Latitude: 40.4516618, Longitude: -3.7652728

Row 3585: No result found for address: Calle del Tutor, Madrid

Row 3586: Address: RAFAEL VILLA, Madrid
Latitude: 4.8036648, Longitude: -74.3425941

Row 3587: Address: Avenida de la Reina Victoria, Madrid
Latitude: 40.4470775, Longitude: -3.7072987

Row 3588: Address: Calle Luisa Fernanda, Madrid
Latitude: 40.4259357, Longitude: -3.714876

Row 3589: Address: Calle de la Princesa, Madrid, Madrid
Latitude: 40.4352374, Longitude: -3.7194763

Row 3590: Address: Urb. Aravaca, Madrid
Latitude: 40.4515682, Longitude: -3.7651876

Row 3591: Address: Calle Sirrach, Madrid
Latitude: 40.4534559, Longitude: -3.7908342

Row 3592: Address: Calle Araiz, Madrid
Latitude: 40.4615638, Longitude: -3.778698

Row 3593: Address: Calle Vascos, 24, Madrid
Latitude: 40.4487962, Longitude: -3.7111518

Row 3594: No result found for address: Urb. Arg�elles Everyprop.com, Madrid

Row 3595: Address: Calle Doctor Balmis, 1, Madrid
Latitude: 40.4592133, Longitude: -3.7938835

Row 3596: Address: Paseo del Comandante Fortea, Madrid
Latitude: 40.4283469, Longitude: -3.7332419

Row 3597: No result found for address: Calle de Aguilar de Camp�o, Madrid

Row 3598: Address: Calle de Cabellera de Berenice, 67, Madrid
Latitude: 40.4719234, Longitude: -3.7829249

Row 3599: Address: Calle Segundo Anca, 9, Madrid
Latitude: 40.4698695, Longitude: -3.8230808

Row 3600: No result found for address: Calle Br�jula, 40, Madrid

Row 3601: No result found for address: Calle de Francos Rodr�guez, 94, Madrid

Row 3602: No result found for address: Calle Santiago Rusi�ol, Madrid

Row 3603: Address: AMOREBIETA, Madrid
Latitude: 40.4689064, Longitude: -3.8103168

Row 3604: Address: Avenida de europa, Madrid
Latitude: 40.4444685, Longitude: -3.789951

Row 3605: Address: Calle de Estanislao Figueras, Madrid
Latitude: 40.4220143, Longitude: -3.7172675

Row 3606: Address: Camino Lavadero, Madrid
Latitude: 40.4677702, Longitude: -3.7753729

Row 3607: No result found for address: Urb. ROSA LUXEMBURGO, Madrid

Row 3608: No result found for address: Urb. Aravaca Everyprop.com, Madrid

Row 3609: No result found for address: Urb. Puerta de Hierro Everyprop.com, Madrid

Row 3610: No result found for address: Urb. El Plant�o Everyprop.com, Madrid

Row 3611: No result found for address: Calle de Mart�n de los Heros, Madrid

Row 3612: Address: Calle Zenit, 18, Madrid
Latitude: 40.4631943, Longitude: -3.7903151

Row 3613: No result found for address: Paseo de la Maestra Mar�a S�nchez �rbos, Madrid

Row 3614: No result found for address: Calle del N�scalo, 5, Madrid

Row 3615: Address: Calle Ochandiano, Madrid
Latitude: 40.4688989, Longitude: -3.8181506

Row 3616: Address: Calle de la Ribera del Manzanares, Madrid
Latitude: 40.4234877, Longitude: -3.7257715

Row 3617: Address: Calle de San Restituto, Madrid
Latitude: 40.4646833, Longitude: -3.7111019

Row 3618: No result found for address: Urb. CAMARINES, Madrid

Row 3619: Address: Paseo de la Florida, 45, Madrid
Latitude: 40.4231644, Longitude: -3.7238017

Row 3620: Address: Paseo del Pintor Rosales, Madrid
Latitude: 40.4313261, Longitude: -3.7240494

Row 3621: Address: Calle de Santa Pola, Madrid
Latitude: 40.4322508, Longitude: -3.7364035

Row 3622: Address: Avenida Valladolid, 9, Madrid
Latitude: 40.42607555, Longitude: -3.7273716896292743

Row 3623: No result found for address: Calle tur�gano, 1, Madrid

Row 3624: No result found for address: Calle Juan �lvarez Mendiz�bal, Madrid, Madrid

Row 3625: Address: Calle Navalmanzano, 11, Madrid
Latitude: 40.4724881, Longitude: -3.7486329

Row 3626: Address: Ronda Buganvilla del Rey, 19, Madrid
Latitude: 40.455665, Longitude: -3.7655181

Row 3627: No result found for address: Calle de Valderrey, Madrid

Row 3628: No result found for address: Calle del Arquitecto S�nchez Arcas, 7, Madrid

Row 3629: No result found for address: Avenida de Juan Andr�s, 38, Madrid

Row 3630: Address: Ronda Buganvilla del Rey, 34, Madrid
Latitude: 40.455665, Longitude: -3.7655181

Row 3631: No result found for address: Calle de Artajona, Madrid

Row 3632: No result found for address: Calle de Jos� Fentanes, 47, Madrid

Row 3633: Address: Avenida del talgo, Madrid
Latitude: 40.4471822, Longitude: -3.7848499

Row 3634: Address: Calle Altozano, 2, Madrid
Latitude: 40.4732173, Longitude: -3.872353007808177

Row 3635: No result found for address: Carretera de H�mera, 8, Madrid

Row 3636: Address: miraflores, Madrid
Latitude: -33.6067359, Longitude: -70.8657489

Row 3637: Address: Arriaza, Madrid
Latitude: 40.4218317, Longitude: -3.7163685

Row 3638: Address: Calle de las Rosas de Aravaca, Madrid
Latitude: 40.4504098, Longitude: -3.7799785

Row 3639: Address: Calle Ardales, Madrid
Latitude: 40.4622167, Longitude: -3.7838661

Row 3640: No result found for address: Calle de San Gerardo, 15, Madrid

Row 3641: Address: Calle Isla de Alegranza, 1, Madrid
Latitude: 40.4620361, Longitude: -3.7234274

Row 3642: No result found for address: Urb. VALDMAR�N, Madrid

Row 3643: No result found for address: Urb. PUERTA DE HIERRO / FUENTELARREYNA, Madrid

Row 3644: Address: Calle Eduardo Benot, Madrid
Latitude: 40.4219362, Longitude: -3.7186243

Row 3645: Address: Paseo del Pintor Rosales, 18, Madrid
Latitude: 40.4261265, Longitude: -3.7186701

Row 3646: Address: Calle Aurelio de la Torre, Madrid
Latitude: 40.4727542, Longitude: -3.8304444

Row 3647: No result found for address: Paseo de la Cancilleria, Madrid

Row 3648: No result found for address: Calle de Jos� Bastos, Madrid

Row 3649: No result found for address: Urb. si. PISCINA PADEL VIGILANCIA 24 HORAS,PARQUE INFANTIL, Madrid

Row 3650: Address: Ardales, Madrid
Latitude: 40.4622167, Longitude: -3.7838661

Row 3651: Address: alvaro caballero, 7, Madrid
Latitude: 40.4728632, Longitude: -3.8322041

Row 3652: Address: Calle de Hoces de la Hermida, Madrid
Latitude: 40.4585884, Longitude: -3.7706324

Row 3653: Address: Bolarque, Madrid
Latitude: 40.4601938, Longitude: -3.7643809

Row 3654: Address: FERRAZ, Madrid
Latitude: 40.4274979, Longitude: -3.7186105

Row 3655: No result found for address: Calle de Mart�n de los Heros, 24, Madrid

Row 3656: Address: MARTIN DE LOS HEROS, Madrid
Latitude: 40.4285198, Longitude: -3.7171112

Row 3657: Address: Calle del Rey Francisco, Madrid
Latitude: 40.426452, Longitude: -3.7176075

Row 3658: Address: Calle Villager, Madrid
Latitude: 40.4593102, Longitude: -3.7643664

Row 3659: Address: ferraz, Madrid
Latitude: 40.4274979, Longitude: -3.7186105

Row 3660: No result found for address: Calle de Jos� Fentanes, 10, Madrid

Row 3661: Address: JUAN ALVAREZ MENDIZABAL, Madrid
Latitude: 40.4241376, Longitude: -3.7141435

Row 3662: No result found for address: Plaza de Espa�a, Madrid

Row 3663: Address: Algenib, Madrid
Latitude: 40.4599271, Longitude: -3.7757445

Row 3664: Address: Calle Eibar, Madrid
Latitude: 40.4712211, Longitude: -3.8126124

Row 3665: Address: Calle Eibar, 1, Madrid
Latitude: 40.4712211, Longitude: -3.8126124

Row 3666: Address: Paseo del Rey, Madrid
Latitude: 40.4219001, Longitude: -3.7186889

Row 3667: Address: San Gerardo, Madrid
Latitude: 40.4706079, Longitude: -3.7245246

Row 3668: No result found for address: Urb. Valdemarin, Madrid

Row 3669: No result found for address: Urb. Casa Quemada, Madrid

Row 3670: Address: Urb. El Plantio, Madrid
Latitude: 40.454526099999995, Longitude: -3.854222561747757

Row 3671: Address: Aguilar de Campoo, 14, Madrid
Latitude: 40.4626674, Longitude: -3.7185201

Row 3672: No result found for address: Avenida de Valdemar�n, 48, Madrid

Row 3673: Address: Calle Vascos, Madrid
Latitude: 40.4469391, Longitude: -3.7104496

Row 3674: No result found for address: Calle de Guisando, Madrid

Row 3675: Address: Avenida victoria, Madrid
Latitude: 20.6464, Longitude: -103.394392

Row 3676: Address: Calle �cija, Madrid
Latitude: 40.3904371, Longitude: -4.25098

Row 3677: Address: Calle de Valderrodrigo, Madrid
Latitude: 40.469221, Longitude: -3.7227376

Row 3678: Address: Calle Valdivieso, 13, Madrid
Latitude: 40.4580914, Longitude: -3.7820974

Row 3679: Address: Calle Tapia de Casariego, 31, Madrid
Latitude: 40.4688441, Longitude: -3.7651258

Row 3680: Address: av miraflores, Madrid
Latitude: 40.457075, Longitude: -3.7297175

Row 3681: Address: Calle Artesa de Segre, 14, Madrid
Latitude: 40.4686855, Longitude: -3.7286445

Row 3682: Address: Calle Venta Vieja, 5, Madrid
Latitude: 40.476281, Longitude: -3.8303498

Row 3683: No result found for address: Calle de Santa Mar�a Micaela, Madrid

Row 3684: Address: Avenida valladolid, Madrid
Latitude: 40.4330149, Longitude: -3.7333851

Row 3685: No result found for address: San Mart�n de Porres, Madrid

Row 3686: Address: Calle navalmanzano, 11, Madrid
Latitude: 40.4724881, Longitude: -3.7486329

Row 3687: Address: PRINCESA, 73, Madrid
Latitude: 40.4319016, Longitude: -3.7173783

Row 3688: No result found for address: Serafin Ram�rez s/n, Madrid

Row 3689: Address: Fuente del Rey, Madrid
Latitude: 40.4564723, Longitude: -3.7677057226265815

Row 3690: No result found for address: Avenida Doctor Federico Rubio y Gal�, Madrid

Row 3691: Address: Calle Hoces de la Hermida, Madrid
Latitude: 40.4601256, Longitude: -3.7721363

Row 3692: No result found for address: Calle Alfonso Fern�ndez Clausells, 12, Madrid

Row 3693: Address: Calle Osa Mayor, Madrid
Latitude: 40.4585893, Longitude: -3.7892363

Row 3694: Address: Calle DE LA PINILLA, Madrid
Latitude: 40.4541077, Longitude: -3.778526

Row 3695: No result found for address: Calle del Alcalde Mart�n de Alzaga, Madrid

Row 3696: No result found for address: Calle de Cabo Ca�averal, Madrid

Row 3697: No result found for address: Urb. Fuentelarreina, Madrid

Row 3698: No result found for address: Calle de Aguilar de Camp�o, 19, Madrid

Row 3699: No result found for address: Calle San Mart�n de Porres, 45, Madrid

Row 3700: Address: Calle del Doctor Casal, 13, Madrid
Latitude: 40.4271582, Longitude: -3.7339188930957974

Row 3701: Address: Avenida de Valladolid, 75, Madrid
Latitude: 40.4290448, Longitude: -3.7299315

Row 3702: No result found for address: Calle de Aguilar de Camp�o s/n, Madrid

Row 3703: Address: Calle Sinesio Delgado, 84, Madrid
Latitude: 40.4643348, Longitude: -3.7208265

Row 3704: Address: Paseo de Juan XXIII, Madrid
Latitude: 40.4476767, Longitude: -3.7173114

Row 3705: No result found for address: Calle Fernando Vizca�no Casas, Madrid

Row 3706: Address: Avenida del talgo, 206, Madrid
Latitude: 40.4478161, Longitude: -3.7846261

Row 3707: Address: Calle Ardales, 16, Madrid
Latitude: 40.4622167, Longitude: -3.7838661

Row 3708: Address: Calle de Gerda Taro, Madrid
Latitude: 40.4696024, Longitude: -3.82237

Row 3709: Address: Garcia de la Parra, Madrid
Latitude: 40.4601922, Longitude: -3.7802129

Row 3710: No result found for address: Calle de Melchor Rodr�guez, Madrid

Row 3711: Address: Calle Santa Fe, Madrid
Latitude: 40.3769444, Longitude: -4.3448941

Row 3712: Address: Calle Valdesangil, Madrid
Latitude: 40.4693961, Longitude: -3.7161156

Row 3713: No result found for address: Calle de Nueva Zelanda, Madrid, Madrid

Row 3714: Address: Juan Alvarez de Mendizabal, 99, Madrid
Latitude: 40.4285608, Longitude: -3.718385

Row 3715: Address: Carril DE LOS CALEROS, Madrid
Latitude: 40.4611052, Longitude: -3.7984737

Row 3716: Address: Calle ALFAR, Madrid
Latitude: 40.4552847, Longitude: -3.7899543

Row 3717: No result found for address: Calle de Luisa Fernanda, 3, Madrid

Row 3718: No result found for address: Avenida Valdemarin, Dario Aparicio, 15, Madrid

Row 3719: Address: AGUARON, 23 - A, Madrid
Latitude: 40.4651831, Longitude: -3.7880425

Row 3720: Address: Calle de Arriaza, Madrid
Latitude: 40.4218317, Longitude: -3.7163685

Row 3721: Address: Calle de Ferraz s/n, Madrid
Latitude: 40.4274979, Longitude: -3.7186105

Row 3722: Address: Calle de Santa Pola, 20, Madrid
Latitude: 40.4320336, Longitude: -3.736438712664616

Row 3723: No result found for address: Calle Doctor Balmis, 34-46 s/n, Madrid

Row 3724: No result found for address: Calle de Juan �lvarez Mendiz�bal, 76, Madrid

Row 3725: Address: Calle de la Princesa s/n, Madrid
Latitude: 40.4290368, Longitude: -3.7150377

Row 3726: Address: Calle Bolarque, Madrid
Latitude: 40.4601938, Longitude: -3.7643809

Row 3727: No result found for address: Valle de Berganti�os, Madrid

Row 3728: Address: Calle Alhena, 6, Madrid
Latitude: 40.4577194, Longitude: -3.7736729

Row 3729: Address: Calle Aguilafuente, Madrid
Latitude: 40.4641384, Longitude: -3.7095398

Row 3730: Address: Paseo de la Rinconada, Madrid
Latitude: 40.4559533, Longitude: -3.7656685

Row 3731: No result found for address: Plaza de Almu�ecar, 8, Madrid

Row 3732: Address: Calle de la Batalla de Garellano s/n, Madrid
Latitude: 40.4552202, Longitude: -3.793197

Row 3733: No result found for address: Calle Jos� Fentanes , 10, Madrid

Row 3734: No result found for address: Calle de Ventura Rodr�guez, Madrid

Row 3735: Address: Calle Aravaca, 30, Madrid
Latitude: 40.4491925, Longitude: -3.7129293

Row 3736: Address: Calle de Quintana, 16, Madrid
Latitude: 40.4269157, Longitude: -3.719576

Row 3737: No result found for address: Calle de S�nchez Preciado s/n, Madrid

Row 3738: Error geocoding address 'Avenida de la Reina Victoria, Madrid, 68, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+de+la+Reina+Victoria%2C+Madrid%2C+68%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 3739: Address: Calle de Ofelia Nieto, Madrid, Madrid
Latitude: 40.4622539, Longitude: -3.7085481

Row 3740: Address: Calle Valldemosa, 32, Madrid
Latitude: 40.4650801, Longitude: -3.7101108

Row 3741: No result found for address: Urb. Chapiner�a, 6, Madrid

Row 3742: Address: Calle de Arcos de la Frontera, 1, Madrid
Latitude: 40.4596064, Longitude: -3.7827992

Row 3743: Address: Calle Ardales, 13, Madrid
Latitude: 40.4622167, Longitude: -3.7838661

Row 3744: No result found for address: Calle del Doctor Juan Jos� L�pez Ibor, 30, Madrid

Row 3745: No result found for address: Calle Alfonso Fern�ndez Clausells, 6, Madrid

Row 3746: No result found for address: Calle Rafael Bot�, 20, Madrid

Row 3747: Address: Calle de Ferraz, 67, Madrid
Latitude: 40.431413, Longitude: -3.7225655

Row 3748: Address: Calle Princesa, 3, Madrid
Latitude: 40.4249618, Longitude: -3.712389

Row 3749: Address: Nueva Zelanda, Madrid
Latitude: 40.4673282, Longitude: -3.7242687

Row 3750: No result found for address: Urb. Ciudad Puerta de Hierro, Madrid

Row 3751: Address: Calle de Altea, Madrid
Latitude: 40.4635618, Longitude: -3.7152665

Row 3752: Address: Calle de Cabellera de Berenice, 38, Madrid
Latitude: 40.4719234, Longitude: -3.7829249

Row 3753: Address: Calle Aguaron, 29, Madrid
Latitude: 40.4651831, Longitude: -3.7880425

Row 3754: No result found for address: Calle de Mart�n de los Heros, 77, Madrid

Row 3755: Address: Calle Santa Comba, Madrid
Latitude: 40.4280715, Longitude: -3.7335569

Row 3756: No result found for address: Calle Doctor Juan Jos� L�pez Ibor, 28, Madrid

Row 3757: Address: Calle de Cabellera de Berenice, 28, Madrid
Latitude: 40.4719234, Longitude: -3.7829249

Row 3758: Address: Calle Pintor Rosales, Madrid
Latitude: 40.2978118, Longitude: -3.4369487

Row 3759: Address: Paseo DE LA FLORIDA, Madrid
Latitude: 40.4222917, Longitude: -3.7223107

Row 3760: Address: Navalmanzano, Madrid
Latitude: 40.4724881, Longitude: -3.7486329

Row 3761: Address: Calle Riaza, 2, Madrid
Latitude: 40.4566562, Longitude: -3.7804311

Row 3762: No result found for address: pe�alara, Madrid

Row 3763: Address: Calle de la Princesa, 41, Madrid
Latitude: 40.4290368, Longitude: -3.7150377

Row 3764: Address: Glorieta San Antonio de la Florida, Madrid
Latitude: 40.4249184, Longitude: -3.726153

Row 3765: Address: Santa Pola, 10, Madrid
Latitude: 40.431626550000004, Longitude: -3.736211715684557

Row 3766: No result found for address: Carr. Particular la Escorzonera s/n, Madrid

Row 3767: No result found for address: Calle de Guisando, Madrid, Madrid

Row 3768: Address: Calle Arroyofresno, 10, Madrid
Latitude: 40.4799925, Longitude: -3.7231951

Row 3769: Address: Conde de la Cimera, 6, Madrid
Latitude: 40.4463068, Longitude: -3.7154849

Row 3770: Address: Calle de Ofelia Nieto, Madrid
Latitude: 40.4622539, Longitude: -3.7085481

Row 3771: Address: Calle Guecho, Madrid
Latitude: 40.4756769, Longitude: -3.8285868

Row 3772: Address: Calle Artesa de Segre, 18, Madrid
Latitude: 40.4686855, Longitude: -3.7286445

Row 3773: Address: Calle Valdivieso, 26, Madrid
Latitude: 40.4580914, Longitude: -3.7820974

Row 3774: No result found for address: Avenida de Valdemar�n, 42, Madrid

Row 3775: Address: Avenida del Talgo, 131, Madrid
Latitude: 40.4469376, Longitude: -3.7853063

Row 3776: No result found for address: Calle Jos� Lombana Iglesias, 34, Madrid

Row 3777: Address: Calle Araiz, 8, Madrid
Latitude: 40.4615638, Longitude: -3.778698

Row 3778: Address: Calle Unicornio, 4, Madrid
Latitude: 40.449586, Longitude: -3.7897401

Row 3779: Address: Avenida de valladolid, 47, Madrid
Latitude: 40.4288568, Longitude: -3.7304306429153096

Row 3780: No result found for address: Calle R�o Adaja, 12, Madrid

Row 3781: Address: Calle de Antonio Machado, 9, Madrid
Latitude: 40.4224325, Longitude: -3.560026066846758

Row 3782: Address: Calle Valderroman, 46, Madrid
Latitude: 40.4713602, Longitude: -3.7227532

Row 3783: No result found for address: Calle de San Gerardo, 51, Madrid

Row 3784: No result found for address: Calle R�o �gueda, 50, Madrid

Row 3785: Address: Calle Eduardo Vela, 10, Madrid
Latitude: 40.4612372, Longitude: -3.7774672

Row 3786: Address: Cuesta San Vicente, 22, Madrid
Latitude: 40.4206661, Longitude: -3.7155535

Row 3787: Address: Calle Caroli, 10, Madrid
Latitude: 40.4584689, Longitude: -3.7847372

Row 3788: Address: Calle del Valle de Toranzo, 1, Madrid
Latitude: 40.4687681, Longitude: -3.7956191

Row 3789: No result found for address: Calle Juan �lvarez Mendiz�bal, Madrid

Row 3790: No result found for address: Calle de S�nchez Preciado, 61, Madrid

Row 3791: Address: Calle de la Isla de Oza, Madrid
Latitude: 40.4640641, Longitude: -3.7223888

Row 3792: Address: Calle Aguilar de Campoo, Madrid
Latitude: 40.4626674, Longitude: -3.7185201

Row 3793: Address: Paseo de la Florida, 31, Madrid
Latitude: 40.4224544, Longitude: -3.7229346

Row 3794: Address: Calle de Ferraz, 122, Madrid
Latitude: 40.4327158, Longitude: -3.7235335

Row 3795: Address: Calle Arriaza, 8, Madrid
Latitude: 40.4213043, Longitude: -3.715622635314814

Row 3796: No result found for address: Calle Ilustraci�n, 16, Madrid

Row 3797: Address: Calle Artesa de Segre, 16, Madrid
Latitude: 40.4686855, Longitude: -3.7286445

Row 3798: Address: Calle Ardales, 8, Madrid
Latitude: 40.4622167, Longitude: -3.7838661

Row 3799: No result found for address: Calle de Aguilar de Camp�o, 18, Madrid

Row 3800: Address: Calle de Santa Pola, 11, Madrid
Latitude: 40.4315587, Longitude: -3.736781450000011

Row 3801: Address: Calle Hoyos del Espino, 25, Madrid
Latitude: 40.4698076, Longitude: -3.7336393

Row 3802: Address: Calle Santa Comba, Madrid, Madrid
Latitude: 40.4280715, Longitude: -3.7335569

Row 3803: Address: Calle San Gerardo, 8, Madrid
Latitude: 40.4661045, Longitude: -3.7211802

Row 3804: Address: Calle del Pico de la Golondrina, 29, Madrid
Latitude: 40.467845, Longitude: -3.7898636

Row 3805: Address: Camino del Barrial, 20, Madrid
Latitude: 40.4640643, Longitude: -3.7972304

Row 3806: No result found for address: Calle del Pr�ncipe de Viana, 17, Madrid

Row 3807: Address: Calle Aguaron, 31, Madrid
Latitude: 40.4651831, Longitude: -3.7880425

Row 3808: Address: Paseo de Juan XXIII, 92, Madrid
Latitude: 40.4476767, Longitude: -3.7173114

Row 3809: Address: Calle Berenisa, 9, Madrid
Latitude: 40.4580249, Longitude: -3.781261

Row 3810: Address: Calle de la Zarza, 2, Madrid
Latitude: 40.4572506, Longitude: -3.7858742

Row 3811: No result found for address: Calle Ilustraci�n, Madrid

Row 3812: Address: Martin de los heros, Madrid
Latitude: 40.4285198, Longitude: -3.7171112

Row 3813: Address: Calle de Ofelia Nieto, 57, Madrid
Latitude: 40.4622539, Longitude: -3.7085481

Row 3814: Address: Marques de Urquijo, Madrid
Latitude: 40.4297643, Longitude: -3.7186142

Row 3815: Address: Calle de Valderrodrigo, 37, Madrid
Latitude: 40.469221, Longitude: -3.7227376

Row 3816: Address: Calle Azuaga, 50, Madrid
Latitude: 40.4640309, Longitude: -3.7104976

Row 3817: No result found for address: Calle Garc�a de la Parra, 7, Madrid

Row 3818: Address: Calle de Ferraz, 54, Madrid
Latitude: 40.4276743, Longitude: -3.7186385

Row 3819: Address: Paseo de Juan XXIII, 22, Madrid
Latitude: 40.4476767, Longitude: -3.7173114

Row 3820: No result found for address: Calle Vinas de el Pardo, 2, Madrid

Row 3821: Address: Calle Valdevarnes, 15, Madrid
Latitude: 40.4681692, Longitude: -3.7189563

Row 3822: Address: Calle Pilar Andrade, 6, Madrid
Latitude: 40.469293, Longitude: -3.821559

Row 3823: Address: Avenida de Valladolid, 57, Madrid
Latitude: 40.43063385, Longitude: -3.7317241494590103

Row 3824: No result found for address: Plaza Canciller�a, 6, Madrid

Row 3825: Address: Avenida del Talgo, 142, Madrid
Latitude: 40.4482722, Longitude: -3.7806747

Row 3826: Address: Avenida de la Reina Victoria, 30, Madrid
Latitude: 40.447205, Longitude: -3.7098514

Row 3827: Address: Calle Valcotos, 25, Madrid
Latitude: 40.467657, Longitude: -3.7734187

Row 3828: No result found for address: Rafael Bot�, 16, Madrid

Row 3829: Address: Avenida de la Reina Victoria, 56, Madrid
Latitude: 40.4465187, Longitude: -3.7125447

Row 3830: No result found for address: Calle de Mart�n de los Heros, Madrid, 87, Madrid

Row 3831: No result found for address: Urb. Diplomaticos, Madrid

Row 3832: Address: Calle Acamar, Madrid, 17, Madrid
Latitude: 40.4583132, Longitude: -3.7868748

Row 3833: Address: Avenida Juan de Herrera, Madrid
Latitude: 40.439725, Longitude: -3.7270635

Row 3834: No result found for address: Calle de S�nchez Preciado, 40, Madrid

Row 3835: Address: buen suceso, Madrid
Latitude: 40.4277176, Longitude: -3.7203194

Row 3836: Address: Calle Doctor Casal, Madrid
Latitude: 40.426615, Longitude: -3.7329266

Row 3837: Address: Juan Alvarez Mendizabal, Madrid
Latitude: 40.4241376, Longitude: -3.7141435

Row 3838: Address: Calle Peguerinos, Madrid
Latitude: 40.4685625, Longitude: -3.7348444

Row 3839: No result found for address: Calle San Mart�n de Porres, Madrid

Row 3840: Address: Calle Arriaza, Madrid
Latitude: 40.4218317, Longitude: -3.7163685

Row 3841: Address: Calle Formigal , 11, Madrid
Latitude: 40.4638511, Longitude: -3.7732538

Row 3842: No result found for address: Avenida de Valdemar�n, Madrid, Madrid

Row 3843: No result found for address: Plaza Canciller�a, 3, Madrid

Row 3844: No result found for address: Calle de Artajona, 10, Madrid

Row 3845: Address: marques de urquijo, 45, Madrid
Latitude: 40.4290064, Longitude: -3.7208644

Row 3846: Address: Calle de Altamirano, 36, Madrid
Latitude: 40.4305182, Longitude: -3.7199642

Row 3847: No result found for address: Urb. Aravaca Garden, Madrid

Row 3848: Address: Avenida del Talgo, 194, Madrid
Latitude: 40.4477751, Longitude: -3.7838097

Row 3849: No result found for address: Calle de Melchor Rodr�guez, 25, Madrid

Row 3850: Address: Calle de Ferraz, 61, Madrid
Latitude: 40.4304097, Longitude: -3.7215912

Row 3851: Address: Calle Luisa Fernanda, 6, Madrid
Latitude: 40.4259357, Longitude: -3.714876

Row 3852: Address: Avenida de la Osa Mayor, 215 A, Madrid
Latitude: 40.4561632, Longitude: -3.7893826

Row 3853: Address: Calle Cabellera de Berenice, 42 -44, Madrid
Latitude: 40.4719234, Longitude: -3.7829249

Row 3854: Address: Calle Tremp, 9, Madrid
Latitude: 40.4542533, Longitude: -3.7166745

Row 3855: Address: Calle valdesangil, Madrid
Latitude: 40.4693961, Longitude: -3.7161156

Row 3856: Address: Calle Aguaron, 23, Madrid
Latitude: 40.4655001, Longitude: -3.7922629

Row 3857: No result found for address: Calle del Marqu�s de Urquijo, 29, Madrid

Row 3858: No result found for address: Avenida de Juan Andr�s, 45, Madrid

Row 3859: Address: Calle de la Princesa, 3, Madrid
Latitude: 40.4249618, Longitude: -3.712389

Row 3860: No result found for address: Plaza Nuestra Se�ora del Buen Camino, 11, Madrid

Row 3861: Address: Calle Arandilla, 4, Madrid
Latitude: 40.4608177, Longitude: -3.7787087

Row 3862: Address: Avenida de Valladolid, 53, Madrid
Latitude: 40.4290448, Longitude: -3.7299315

Row 3863: Address: Calle de Romero Robledo, 3, Madrid
Latitude: 40.4323606, Longitude: -3.719214001829253

Row 3864: Address: Calle Aguaron, Madrid, 31, Madrid
Latitude: 40.4651831, Longitude: -3.7880425

Row 3865: Address: Calle Valdesangil, 34, Madrid
Latitude: 40.4693961, Longitude: -3.7161156

Row 3866: Address: Calle Azuaga, 6, Madrid
Latitude: 40.4625722, Longitude: -3.7111765

Row 3867: Address: Calle de la Ribera del Manzanares, 15, Madrid
Latitude: 40.42277075, Longitude: -3.7256803923384565

Row 3868: Address: Calle Santa Fe, 2, Madrid
Latitude: 40.4758814, Longitude: -3.3753456

Row 3869: No result found for address: Calle Ilustraci�n, 10, Madrid

Row 3870: Address: Calle Acamar, 13, Madrid
Latitude: 40.4583132, Longitude: -3.7868748

Row 3871: No result found for address: Calle de Mel�ndez Vald�s, 72, Madrid

Row 3872: Address: Calle Blanca de Castilla, 9, Madrid
Latitude: 40.4645748, Longitude: -3.7837705

Row 3873: Address: Calle Quintana, 17, Madrid
Latitude: 40.4312918, Longitude: -3.7034402

Row 3874: Address: Calle de la Ribera del Manzanares, 73, Madrid
Latitude: 40.42470135, Longitude: -3.7279870994003357

Row 3875: No result found for address: Traves�a S�nchez Preciados, 3, Madrid

Row 3876: Address: Calle de Ferraz, 69, Madrid
Latitude: 40.4315916, Longitude: -3.7227389

Row 3877: Address: Calle Armenteros, 33, Madrid
Latitude: 40.46404455, Longitude: -3.7132415994718304

Row 3878: No result found for address: Avenida de Valdemar�n, 91, Madrid

Row 3879: No result found for address: Calle Pe�alara, 5, Madrid

Row 3880: Address: Paseo del Comandante Fortea, 35, Madrid
Latitude: 40.426540200000005, Longitude: -3.7316724020416405

Row 3881: Address: Calle Eduardo Benot, 5, Madrid
Latitude: 40.4222255, Longitude: -3.7182305

Row 3882: No result found for address: Calle de San Gerardo, 38, Madrid

Row 3883: Address: Calle camarines, 1, Madrid
Latitude: 40.4611955, Longitude: -3.7682764124710157

Row 3884: Address: Calle Valle de Mena, 9, Madrid
Latitude: 40.4705061, Longitude: -3.7174074

Row 3885: Address: Calle Artesa de Segre, 14 -16, Madrid
Latitude: 40.4686855, Longitude: -3.7286445

Row 3886: No result found for address: Avenida del Doctor Federico Rubio y Gal�, 67, Madrid

Row 3887: Address: Riaza, Madrid
Latitude: 40.4565241, Longitude: -3.7833089

Row 3888: Address: Calle Francisco de Diego, 46, Madrid
Latitude: 40.4569845, Longitude: -3.7158815

Row 3889: Address: Olivo, 3, Madrid
Latitude: 40.56870415, Longitude: -3.5060845746322413

Row 3890: Address: Calle de Ferraz, 13, Madrid
Latitude: 40.4265577, Longitude: -3.7178438

Row 3891: Address: Calle de Quintana, 22, Madrid
Latitude: 40.4269157, Longitude: -3.719576

Row 3892: Address: Calle de Valderrodrigo, 18, Madrid
Latitude: 40.469325, Longitude: -3.7213173

Row 3893: Address: Calle Valdivieso, Madrid
Latitude: 40.4580914, Longitude: -3.7820974

Row 3894: Address: Calle de Arriaza, 3, Madrid
Latitude: 40.42075635, Longitude: -3.7159840928693857

Row 3895: No result found for address: Calle de S�nchez Preciado, 71, Madrid

Row 3896: No result found for address: Calle de Juan �lvarez Mendiz�bal, 99, Madrid

Row 3897: No result found for address: Calle R�gulo, 3, Madrid

Row 3898: Address: Avenida de la Osa Mayor, 54, Madrid
Latitude: 40.4561632, Longitude: -3.7893826

Row 3899: Address: Calle de Francisco Lozano, 22, Madrid
Latitude: 40.4326199, Longitude: -3.7206595

Row 3900: Address: Calle Santa Comba, 3, Madrid
Latitude: 40.4280715, Longitude: -3.7335569

Row 3901: Address: Avenida de Valladolid, 69, Madrid
Latitude: 40.4290448, Longitude: -3.7299315

Row 3902: No result found for address: Calle Ventura Rodr�guez, 8, Madrid

Row 3903: Address: ARTAJONA, 2, Madrid
Latitude: 40.4635425, Longitude: -3.717572948712152

Row 3904: Address: Calle Valderrodrigo, 31, Madrid
Latitude: 40.4698495, Longitude: -3.7192151

Row 3905: No result found for address: Calle Agust�n Lara, Madrid

Row 3906: Address: Calle Valdevarnes, 3, Madrid
Latitude: 40.468155100000004, Longitude: -3.7178457771107083

Row 3907: Address: sanchez preciado, 51, Madrid
Latitude: 40.4611578, Longitude: -3.7114141

Row 3908: No result found for address: Urb. Urbanizaci�n Diplom�ticos, Madrid

Row 3909: Address: Calle Valderroman, Madrid, Madrid
Latitude: 40.4713602, Longitude: -3.7227532

Row 3910: Address: Calle Isla de Cristina, 14, Madrid
Latitude: 40.2813665, Longitude: -3.9101873

Row 3911: Address: Valdemarin, 95, Madrid
Latitude: 40.46806585, Longitude: -3.7682453800227016

Row 3912: Address: Calle Olivo, Madrid
Latitude: 40.4586929, Longitude: -3.7815011

Row 3913: Address: Urb. La Rinconada, Madrid
Latitude: 40.2667415, Longitude: -3.9137451

Row 3914: Address: Calle arroyofresno, Madrid
Latitude: 40.4799925, Longitude: -3.7231951

Row 3915: Address: Avenida de Miraflores, 19, Madrid
Latitude: 40.4596073, Longitude: -3.7292771

Row 3916: Address: Calle de Evaristo San Miguel, 22, Madrid
Latitude: 40.4260801, Longitude: -3.7162684

Row 3917: Address: Calle de Ferraz, 86, Madrid
Latitude: 40.4301204, Longitude: -3.721019

Row 3918: No result found for address: Calle del Marqu�s de Urquijo, 1, Madrid

Row 3919: Address: Avenida de Europa, 32 -34, Madrid
Latitude: 40.4454493, Longitude: -3.7874453

Row 3920: No result found for address: Calle del Doctor Juan Jos� L�pez Ibor, 31, Madrid

Row 3921: Address: Guecho, Madrid
Latitude: 40.4711755, Longitude: -3.8164148

Row 3922: Address: Bahia, Madrid
Latitude: -14.849781799999999, Longitude: -40.82296602267638

Row 3923: No result found for address: Urb. URBANIZACI�N LA RINCONADA, Madrid

Row 3924: No result found for address: Calle de S�nchez Preciado, Madrid, Madrid

Row 3925: Address: Calle Cabellera de Berenice, 67, Madrid
Latitude: 40.4719234, Longitude: -3.7829249

Row 3926: No result found for address: Calle Ram�n Crespo, Madrid

Row 3927: No result found for address: Calle Juan �lvarez Mendiz�bal, 60, Madrid

Row 3928: Address: Calle Lanzada, Madrid
Latitude: 40.4303151, Longitude: -3.7362802

Row 3929: Address: Federico Carlos Sainz de Robles, 11, Madrid
Latitude: 40.4668167, Longitude: -3.7228426

Row 3930: Address: Calle Valldemosa, Madrid, Madrid
Latitude: 40.4650801, Longitude: -3.7101108

Row 3931: No result found for address: Calle VENTURA RODR�GUEZ, Madrid

Row 3932: Address: Calle de Antonio Machado, Madrid
Latitude: 40.465109, Longitude: -3.7191149

Row 3933: Address: Calle Azuaga, 47, Madrid
Latitude: 40.4627092, Longitude: -3.7116683

Row 3934: Address: Paseo del Rey, 26, Madrid
Latitude: 40.4219001, Longitude: -3.7186889

Row 3935: Address: Calle Valdivieso, 7, Madrid
Latitude: 40.4580914, Longitude: -3.7820974

Row 3936: Address: blanca de castilla, Madrid
Latitude: 40.4645748, Longitude: -3.7837705

Row 3937: No result found for address: Calle R�o �gueda, Madrid

Row 3938: Address: Regina Alvarez, Madrid
Latitude: 40.4703541, Longitude: -3.7230077

Row 3939: Address: Calle Valldemosa, 3, Madrid
Latitude: 40.4650801, Longitude: -3.7101108

Row 3940: Address: Calle de la pinilla, Madrid
Latitude: 40.4541077, Longitude: -3.778526

Row 3941: No result found for address: Urb. Urb. Acebos de Aravaca, Madrid

Row 3942: Address: Calle Argentona, 6, Madrid
Latitude: 40.4648512, Longitude: -3.7637157

Row 3943: No result found for address: Urb. Puerta de hierro, Madrid

Row 3944: No result found for address: Avenida Santo �ngel de la Guarda, 7 - 9, Madrid

Row 3945: Address: Calle ferraz, 22, Madrid
Latitude: 40.4249357, Longitude: -3.715943

Row 3946: Address: Luisa Fernanda, Madrid
Latitude: 40.4259357, Longitude: -3.714876

Row 3947: Address: Avenida del Talgo, 118, Madrid
Latitude: 40.4478919, Longitude: -3.7814046

Row 3948: Address: Calle de la Golondrina, 102, Madrid
Latitude: 40.4518511, Longitude: -3.7851891

Row 3949: No result found for address: Calle Juan �lvarez Mendiz�bal, 95, Madrid

Row 3950: Address: Calle Olivo, 3, Madrid
Latitude: 40.56870415, Longitude: -3.5060845746322413

Row 3951: Address: Calle General Prim, Madrid
Latitude: 40.4636233, Longitude: -3.722612

Row 3952: Address: C/Arriaza, 14, Madrid
Latitude: 40.4216561, Longitude: -3.715976676799687

Row 3953: Address: Calle del Doctor Casal, Madrid
Latitude: 40.426615, Longitude: -3.7329266

Row 3954: Address: Carril de los Caleros, 14, Madrid
Latitude: 40.4611052, Longitude: -3.7984737

Row 3955: Address: Calle Horche, 4, Madrid
Latitude: 40.4583984, Longitude: -3.7656653

Row 3956: Address: Avenida DE EUROPA, Madrid
Latitude: 40.4444685, Longitude: -3.789951

Row 3957: Address: Buen Suceso, Madrid
Latitude: 40.4277176, Longitude: -3.7203194

Row 3958: Address: Avenida DE VALLADOLID, Madrid
Latitude: 40.4330149, Longitude: -3.7333851

Row 3959: Address: RIBERA DEL MANZANARES, Madrid
Latitude: 40.4234877, Longitude: -3.7257715

Row 3960: Address: Calle Madrigal, Madrid
Latitude: 40.4629575, Longitude: -3.727169

Row 3961: Address: Calle Tremp, Madrid
Latitude: 40.4558989, Longitude: -3.7154346

Row 3962: Address: Calle Antonio Reig, Madrid
Latitude: 40.4661232, Longitude: -3.7280501

Row 3963: No result found for address: Calle de Mel�ndez Vald�s, Madrid, Madrid

Row 3964: No result found for address: Calle Pe�alara, 31, Madrid

Row 3965: Address: Calle GERDA TARO, Madrid
Latitude: 40.4696024, Longitude: -3.82237

Row 3966: No result found for address: Calle de Mart�n de los Heros, 83, Madrid

Row 3967: Address: Calle AZUAGA, Madrid
Latitude: 40.4627092, Longitude: -3.7116683

Row 3968: No result found for address: Calle JOS� LOMBANA IGLESIAS, Madrid

Row 3969: Address: Calle DE CABELLERA DE BERENICE, Madrid
Latitude: 40.4719234, Longitude: -3.7829249

Row 3970: Address: Calle guisando, 25, Madrid
Latitude: 40.4686275, Longitude: -3.7298023

Row 3971: Address: Calle Guecho, Madrid s/n, Madrid
Latitude: 40.4756769, Longitude: -3.8285868

Row 3972: No result found for address: Urb. Diplom�ticos, Madrid

Row 3973: No result found for address: Calle Garc�a Trevino, 3, Madrid

Row 3974: No result found for address: Calle Magdalena D�az, Madrid

Row 3975: Address: Calle Abeto , 8, Madrid
Latitude: 40.58687235, Longitude: -3.917342653472086

Row 3976: Address: Avenida de Europa, 32, Madrid
Latitude: 40.4457616, Longitude: -3.785989

Row 3977: Address: Calle Isla de la Soledad, 4, Madrid
Latitude: 40.4678182, Longitude: -3.7245257

Row 3978: Address: Paseo de la Rinconada s/n, Madrid
Latitude: 40.4559533, Longitude: -3.7656685

Row 3979: No result found for address: Calle del N�scalo, Madrid

Row 3980: Address: Paseo del Pintor Rosales, Madrid, Madrid
Latitude: 40.4313261, Longitude: -3.7240494

Row 3981: Address: Paseo de la florida, Madrid
Latitude: 40.4222917, Longitude: -3.7223107

Row 3982: Address: La Rinconada, Madrid
Latitude: 40.4044879, Longitude: -3.7026485

Row 3983: Address: Calle Antonio Sanfiz, Madrid
Latitude: 40.460944, Longitude: -3.7876729

Row 3984: Address: Avenida del Talgo, 216 -226, Madrid
Latitude: 40.4471822, Longitude: -3.7848499

Row 3985: Address: Paseo del Rey, 24, Madrid
Latitude: 40.4219001, Longitude: -3.7186889

Row 3986: Address: Calle de la Princesa, 3 D, Madrid
Latitude: 40.4290368, Longitude: -3.7150377

Row 3987: Address: Avenida de la Osa Mayor, 239, Madrid
Latitude: 40.45448985, Longitude: -3.7933844387548437

Row 3988: No result found for address: Avenida Santo �ngel de la Guarda, 7, Madrid

Row 3989: Address: Calle Veleta, 19, Madrid
Latitude: 40.4038341, Longitude: -3.6578071

Row 3990: Address: Paseo del Comandante Fortea, 29, Madrid
Latitude: 40.426279550000004, Longitude: -3.7314291744879045

Row 3991: No result found for address: Calle Santiago Rusi�ol, 4, Madrid

Row 3992: No result found for address: Calle de Jos� Fentanes, 79, Madrid

Row 3993: No result found for address: Calle de Nueva Zelanda, 42, Madrid

Row 3994: Address: Calle de Beatriz de Bobadilla, 13, Madrid
Latitude: 40.4483322, Longitude: -3.716228649881913

Row 3995: Address: Avenida del Talgo, 136, Madrid
Latitude: 40.4482863, Longitude: -3.779217

Row 3996: No result found for address: Calle de H�mera, 54, Madrid

Row 3997: Address: Avenida de Europa, Madrid
Latitude: 40.4444685, Longitude: -3.789951

Row 3998: No result found for address: Urb. Urbanizaci�n la Florida, Madrid

Row 3999: Address: Calle de la Fuente del Rey, 38, Madrid
Latitude: 40.4552566, Longitude: -3.7672697

Row 4000: No result found for address: Calle del Alfar, 66 - Chalet C, Madrid

Row 4001: Address: Calle Valdevarnes, Madrid
Latitude: 40.4685145, Longitude: -3.7183558

Row 4002: Address: Calle Ferraz, 98, Madrid
Latitude: 40.4310178, Longitude: -3.7218882

Row 4003: No result found for address: Calle del Marqu�s de Urquijo, 15, Madrid

Row 4004: Address: Calle Jose Fentanes, 110, Madrid
Latitude: 40.4644885, Longitude: -3.7256932

Row 4005: Address: Calle de Ferraz, 18, Madrid
Latitude: 40.4246368, Longitude: -3.7156576

Row 4006: No result found for address: Calle PE�ALARA, Madrid

Row 4007: Address: Calle del Doctor Casal, 17, Madrid
Latitude: 40.427488100000005, Longitude: -3.7338748998490328

Row 4008: Address: Paseo de Juan XXIII, 24, Madrid
Latitude: 40.448132900000004, Longitude: -3.7167071989841913

Row 4009: Address: Luisa Fernanda, 3, Madrid
Latitude: 40.4265217, Longitude: -3.7142795

Row 4010: No result found for address: Calle Valderrom�n, Madrid

Row 4011: No result found for address: Traves�a Cano, Madrid

Row 4012: Address: azuaga, Madrid
Latitude: 40.4627092, Longitude: -3.7116683

Row 4013: Address: Calle de la Pinilla, Madrid
Latitude: 40.4541077, Longitude: -3.778526

Row 4014: No result found for address: Calle de Jos� Fentanes, Madrid

Row 4015: Address: Calle Guisando, Madrid
Latitude: 40.4686275, Longitude: -3.7298023

Row 4016: Address: Carril de los Caleros, Madrid
Latitude: 40.4611052, Longitude: -3.7984737

Row 4017: Address: Cabellera de Berenice, Madrid
Latitude: 40.4719234, Longitude: -3.7829249

Row 4018: Address: Calle Carril de los Caleros, 15, Madrid
Latitude: 40.4611052, Longitude: -3.7984737

Row 4019: No result found for address: Urb. ARAVACA, La Rinconada, Madrid

Row 4020: No result found for address: Urb. PUERTA DE HIERRO, Madrid

Row 4021: Address: Calle Valle de Cachemira, Madrid
Latitude: 40.4660454, Longitude: -3.7129764

Row 4022: Address: Avenida Reina Victoria, 58, Madrid
Latitude: 40.4464636, Longitude: -3.7127662

Row 4023: Address: Artesa de Segre, Madrid
Latitude: 40.4686855, Longitude: -3.7286445

Row 4024: Address: Paseo Pintor Rosales, 44, Madrid
Latitude: 40.4285123, Longitude: -3.7210282

Row 4025: Address: Calle de Ferraz, 27, Madrid
Latitude: 40.4278339, Longitude: -3.7190855

Row 4026: No result found for address: Calle Valderrom�n s/n, Madrid

Row 4027: Address: Calle Princesa, 15, Madrid
Latitude: 40.4874765, Longitude: -3.655115

Row 4028: Address: Calle Paradores s/n, Madrid
Latitude: 40.4771607, Longitude: -3.8300948

Row 4029: Address: Camino del Barrial, Madrid
Latitude: 40.4640643, Longitude: -3.7972304

Row 4030: Address: amorebieta, 25, Madrid
Latitude: 40.4686117, Longitude: -3.8080036

Row 4031: Address: Avenida de la Reina Victoria, 68, Madrid
Latitude: 40.4461032, Longitude: -3.7142936

Row 4032: No result found for address: Plaza de Almu�ecar, Madrid

Row 4033: Address: VALDEVARNES, 3, Madrid
Latitude: 40.468155100000004, Longitude: -3.7178457771107083

Row 4034: Address: Calle de Valderrodrigo, 28, Madrid
Latitude: 40.4692227, Longitude: -3.721426

Row 4035: No result found for address: Calle de S�nchez Preciado, 43, Madrid

Row 4036: Address: Calle de la Fuente del Rey, Madrid
Latitude: 40.4552566, Longitude: -3.7672697

Row 4037: Address: Calle Miguel Gila, 8, Madrid
Latitude: 40.4660354, Longitude: -3.7904252

Row 4038: No result found for address: Calle de Cadarso, Madrid

Row 4039: Address: Calle Tutor, Madrid
Latitude: 40.4284936, Longitude: -3.7159603

Row 4040: Address: Calle Federico Carlos Sainz de Robles, Madrid
Latitude: 40.4668167, Longitude: -3.7228426

Row 4041: Address: Cuesta San Vicente, Madrid, Madrid
Latitude: 40.420568700000004, Longitude: -3.7164208585316016

Row 4042: Address: Paseo de la Florida, 11, Madrid
Latitude: 40.42113815, Longitude: -3.7216721737103207

Row 4043: Address: Cuesta de San Vicente, Madrid
Latitude: 40.4217568, Longitude: -3.7132891

Row 4044: No result found for address: Plaza Arg�elles, 1, Madrid

Row 4045: No result found for address: Avenida Juan Andr�s, 52, Madrid

Row 4046: No result found for address: Juan Alvarez Medizabal, Madrid

Row 4047: No result found for address: Calle de Ilustraci�n, Madrid

Row 4048: Address: PILAR ANDRADE, Madrid
Latitude: 40.469293, Longitude: -3.821559

Row 4049: Error geocoding address 'Calle Santo Angel de la Guarda, 11, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Santo+Angel+de+la+Guarda%2C+11%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4050: Address: Calle Navalmanzano, Madrid
Latitude: 40.4724881, Longitude: -3.7486329

Row 4051: Address: Calle Rafael Boti, Madrid, 6, Madrid
Latitude: 40.4639192, Longitude: -3.8065189

Row 4052: No result found for address: Urb. LA ESCORZONERA, Madrid

Row 4053: No result found for address: Urb. ARAVACA VALDEMAR�N, Madrid

Row 4054: No result found for address: Urb. Puerta Hierro, Madrid

Row 4055: Address: Urb. Las encinas, Madrid
Latitude: 40.6351644, Longitude: -4.0023942

Row 4056: No result found for address: Urb. la florida, Madrid

Row 4057: No result found for address: Urb. La Floria, Madrid

Row 4058: Error geocoding address 'Avenida de juan andres, 60 -64, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+de+juan+andres%2C+60+-64%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4059: Address: juan alvarez mendizabal, Madrid
Latitude: 40.4241376, Longitude: -3.7141435

Row 4060: Address: Calle Paradores, 3, Madrid
Latitude: 40.4771607, Longitude: -3.8300948

Row 4061: Address: Calle Argentona, 8, Madrid
Latitude: 40.4648512, Longitude: -3.7637157

Row 4062: Address: Carril de Los Caleros, Madrid
Latitude: 40.4611052, Longitude: -3.7984737

Row 4063: Address: Calle de Cercis, Madrid
Latitude: 40.4668522, Longitude: -3.7644564

Row 4064: No result found for address: Calle de Luisa Fernanda, Madrid

Row 4065: Address: juan alvarez mendizabal, 15, Madrid
Latitude: 40.4246463, Longitude: -3.7147927

Row 4066: No result found for address: Calle Alfonso Fern�ndez Clausells, Madrid, 11, Madrid

Row 4067: No result found for address: Calle Rafael Bot�, Madrid

Row 4068: Address: Calle Venta Vieja, Madrid
Latitude: 40.476281, Longitude: -3.8303498

Row 4069: Address: Calle Nueva Zelanda, 1, Madrid
Latitude: 40.4656762, Longitude: -3.723825

Row 4070: No result found for address: Urb. Camarines, Madrid

Row 4071: Address: Calle madrigal, Madrid
Latitude: 40.4629575, Longitude: -3.727169

Row 4072: Address: Calle Sopelana, Madrid
Latitude: 40.4676819, Longitude: -3.8104392

Row 4073: Address: Anita Vindel, Madrid
Latitude: 40.4631344, Longitude: -3.7862137

Row 4074: No result found for address: Plaza Ntra. Sra. del Buen Camino, Madrid

Row 4075: Address: Urb. Las Encinas, Madrid
Latitude: 40.6351644, Longitude: -4.0023942

Row 4076: Address: Avenida de la Reina Victoria, 70, Madrid
Latitude: 40.4462388, Longitude: -3.7143521429556263

Row 4077: Address: Avenida Victoria, Madrid
Latitude: 20.6464, Longitude: -103.394392

Row 4078: No result found for address: Jos� Bastos, Madrid

Row 4079: Address: Calle de la Golondrina, Madrid
Latitude: 40.4474325, Longitude: -3.7850099

Row 4080: Address: Calle San Martin de Porres, Madrid
Latitude: 40.4689691, Longitude: -3.7277839

Row 4081: No result found for address: Calle del General Cadenas Campos, 15, Madrid

Row 4082: Address: pintor rosales, Madrid
Latitude: 40.4299048, Longitude: -3.7228278

Row 4083: Address: Calle Golondrina, Madrid
Latitude: 40.1469411, Longitude: -3.9165407

Row 4084: Address: Calle de Ferraz, 29, Madrid
Latitude: 40.4279371, Longitude: -3.7191855

Row 4085: Address: Calle Mozart, Madrid
Latitude: 40.2981713, Longitude: -3.7493143

Row 4086: No result found for address: Calle del General Cadenas Campos, Madrid

Row 4087: Address: Cuesta de San Vicente, 22, Madrid
Latitude: 40.4206661, Longitude: -3.7155535

Row 4088: Address: Avenida del Talgo, 204, Madrid
Latitude: 40.4480488, Longitude: -3.7847078

Row 4089: Address: Calle de la Golondrina, 98, Madrid
Latitude: 40.4518511, Longitude: -3.7851891

Row 4090: Address: Calle de la zarza, Madrid
Latitude: 40.4586902, Longitude: -3.7858327

Row 4091: No result found for address: Calle Jos� Bastos 20 -, 30, Madrid

Row 4092: No result found for address: Plaza Arg�elles, 7, Madrid

Row 4093: Address: Calle Ferraz, Madrid, 18, Madrid
Latitude: 40.4246368, Longitude: -3.7156576

Row 4094: Error geocoding address 'Colonia Santa Mar�a, 17, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Colonia+Santa+Mar%EF%BF%BDa%2C+17%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4095: No result found for address: Calle del Doctor Juan Jos� L�pez Ibor, Madrid

Row 4096: Address: Paseo del Pintor Rosales, 42, Madrid
Latitude: 40.4282648, Longitude: -3.7207704

Row 4097: No result found for address: Calle de Melchor Rodr�guez, 21, Madrid

Row 4098: Address: valdemarin, Madrid
Latitude: 40.466939999999994, Longitude: -3.787154949669601

Row 4099: Address: Calle de �cija, Madrid
Latitude: 40.3904371, Longitude: -4.25098

Row 4100: No result found for address: Avenida de los M�rtires Maristas, Madrid

Row 4101: Address: Calle del Valle de Toranzo, Madrid
Latitude: 40.4687681, Longitude: -3.7956191

Row 4102: No result found for address: Calle Dar�o Aparicio, Madrid

Row 4103: No result found for address: Urb. DIPL�MATICOS, Madrid

Row 4104: Address: Paseo de la rinconada, Madrid
Latitude: 40.4559533, Longitude: -3.7656685

Row 4105: Address: Calle DEL MARQUES DE URQUIJO, Madrid
Latitude: 40.4293494, Longitude: -3.720405

Row 4106: Address: Avenida de la reina victoria, 58, Madrid
Latitude: 40.4464636, Longitude: -3.7127662

Row 4107: Address: Velayos, Madrid
Latitude: 40.4664837, Longitude: -3.7264153

Row 4108: Address: Calle de Eduardo Benot, Madrid
Latitude: 40.4219362, Longitude: -3.7186243

Row 4109: Address: Avenida de la Victoria, 55, Madrid
Latitude: 40.4654794, Longitude: -3.8090338

Row 4110: No result found for address: Calle de Arroyofresno, 9, Madrid

Row 4111: Address: Calle Valle del Silencio, Madrid
Latitude: 40.468778, Longitude: -3.7147162

Row 4112: Address: Avenida de la Osa Mayor, Madrid
Latitude: 40.4561632, Longitude: -3.7893826

Row 4113: Address: Avenida REINA VICTORIA, Madrid
Latitude: 40.6396273, Longitude: -4.027527

Row 4114: No result found for address: Calle Molina de Arag�n, 1, Madrid

Row 4115: No result found for address: Paseo Isaac Peral, Madrid

Row 4116: No result found for address: Urb. Ciudad Universitaria Everyprop.com, Madrid

Row 4117: No result found for address: Urb. Colonia Camarines, Madrid

Row 4118: No result found for address: Urb. Valdemar�n, Madrid

Row 4119: Address: ROMERO ROBLEDO, 5, Madrid
Latitude: 40.43230215, Longitude: -3.7192875917569994

Row 4120: Address: Calle peguerinos, 4, Madrid
Latitude: 40.4685625, Longitude: -3.7348444

Row 4121: No result found for address: Calle Renter�a, Madrid

Row 4122: Address: Urb. Casaquemada, Madrid
Latitude: 40.4760495, Longitude: -3.8384686

Row 4123: No result found for address: Plaza de Espa�a, 10, Madrid

Row 4124: Address: Jose Fentanes, Madrid
Latitude: 40.4644885, Longitude: -3.7256932

Row 4125: Address: Urb. aravaca, Madrid
Latitude: 40.4515682, Longitude: -3.7651876

Row 4126: Address: Magdalena Diaz, Madrid
Latitude: 40.4717911, Longitude: -3.7235417

Row 4127: Address: Calle Isidro Dompablo, Madrid
Latitude: 40.4638545, Longitude: -3.7236676

Row 4128: Address: Ronda Buganvilla del Rey, Madrid
Latitude: 40.455665, Longitude: -3.7655181

Row 4129: Address: Calle Aurora, Madrid
Latitude: 40.4666125, Longitude: -3.7228089

Row 4130: No result found for address: Plaza de Jos� Moreno Villa, Madrid

Row 4131: No result found for address: Calle Gra��n, Madrid

Row 4132: Address: MELCHOR FERNANDEZ ALMAGRO, Madrid
Latitude: 40.4752648, Longitude: -3.7104875

Row 4133: Address: Calle Monasterio de El Paular, Madrid
Latitude: 40.5007046, Longitude: -3.7031222

Row 4134: No result found for address: Calle de Ram�n G�mez de la Serna, Madrid

Row 4135: Address: Urb. si, Madrid
Latitude: 40.0839926, Longitude: -3.8758915

Row 4136: Address: Calle de Pedro Rico, Madrid
Latitude: 40.4792457, Longitude: -3.6903594

Row 4137: No result found for address: Calle de la Virgen de Ar�nzazu, Madrid

Row 4138: Address: Avenida del Cardenal Herrera Oria, Madrid
Latitude: 40.4891685, Longitude: -3.7013276

Row 4139: Address: Calle Gascones, 3, Madrid
Latitude: 40.4770197, Longitude: -3.7387217

Row 4140: Address: mirallos, 14, Madrid
Latitude: 40.5076633, Longitude: -3.6678356

Row 4141: No result found for address: Calle Monasterio de Li�bana, Madrid

Row 4142: Address: Calle Monasterio de Guadalupe, Madrid
Latitude: 40.5066058, Longitude: -3.7044403

Row 4143: No result found for address: Calle de la Isla Trinidad, Madrid

Row 4144: Address: Avenida del Monasterio de El Escorial, Madrid
Latitude: 40.5057533, Longitude: -3.6966643

Row 4145: Address: Calle Sangenjo, Madrid
Latitude: 40.4887897, Longitude: -3.6987733

Row 4146: Address: Calle de Puentedeume, Madrid
Latitude: 40.4726379, Longitude: -3.713118

Row 4147: Address: Calle Mario Recuero, 25, Madrid
Latitude: 40.4794636, Longitude: -3.7279905

Row 4148: Error geocoding address 'Calle de la Villa de Mar�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Villa+de+Mar%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4149: Address: Calle de Ribadavia, Madrid
Latitude: 40.4726444, Longitude: -3.707728

Row 4150: No result found for address: Calle Sandalio L�pez, 50, Madrid

Row 4151: Address: Calle Villa de Marin, Madrid
Latitude: 40.4768751, Longitude: -3.6983406

Row 4152: Address: Calle Julio Palacios, Madrid
Latitude: 40.4831972, Longitude: -3.6938148

Row 4153: Address: Avenida de Monforte de Lemos, Madrid
Latitude: 40.4795494, Longitude: -3.7035883

Row 4154: No result found for address: Cerro del Casta�ar, Madrid

Row 4155: Address: Calle Marbella, Madrid, Madrid
Latitude: 40.4953963, Longitude: -3.7070936

Row 4156: Address: Calle Caballero de la Triste Figura, 38, Madrid
Latitude: 40.5027817, Longitude: -3.6904679

Row 4157: Address: Calle valcarlos, Madrid
Latitude: 40.5023922, Longitude: -3.6677781

Row 4158: Address: Calle del Monasterio de las Batuecas, Madrid
Latitude: 40.5035773, Longitude: -3.7047049

Row 4159: Address: Calle Isla Tabarca, 44, Madrid
Latitude: 40.47965365, Longitude: -3.722694476684113

Row 4160: No result found for address: Calle Cerro del Casta�ar, Madrid

Row 4161: Address: Calle Antonia Baena, Madrid
Latitude: 40.4822282, Longitude: -3.7285491

Row 4162: Address: Calle de Otero y Delage, Madrid
Latitude: 40.4761837, Longitude: -3.7312558

Row 4163: Address: Calle Buitrago del Lozoya, Madrid
Latitude: 40.9907195, Longitude: -3.6379921

Row 4164: Address: Calle Ginzo de Limia, 60, Madrid
Latitude: 40.4799902, Longitude: -3.704533

Row 4165: No result found for address: Calle de Antonio L�pez Aguado, Madrid

Row 4166: No result found for address: Calle de Nuestra Se�ora de Valverde, Madrid

Row 4167: No result found for address: Plaza de Ver�n, 9, Madrid

Row 4168: Address: Plaza de Ribadeo, Madrid
Latitude: 40.4773927, Longitude: -3.7107468

Row 4169: Address: Plaza de Mondariz, Madrid
Latitude: 40.4785382, Longitude: -3.7053817

Row 4170: Address: Calle de Villava, Madrid
Latitude: 40.5004929, Longitude: -3.6763561

Row 4171: Address: Calle Antonia Baena, 15, Madrid
Latitude: 40.4822282, Longitude: -3.7285491

Row 4172: Address: Avenida de Betanzos, Madrid
Latitude: 40.474852, Longitude: -3.7112299

Row 4173: No result found for address: TIRO A PICHON, Madrid

Row 4174: No result found for address: Calle de Ferm�n Caballero, Madrid

Row 4175: Address: Avenida del Cardenal Herrera Oria, 292, Madrid
Latitude: 40.4891685, Longitude: -3.7013276

Row 4176: Address: Calle san modesto, 44, Madrid
Latitude: 40.485841449999995, Longitude: -3.692622200000003

Row 4177: Address: Calle Gloria Fuertes, Madrid
Latitude: 40.4916471, Longitude: -3.7300338

Row 4178: No result found for address: Urb. Mirasierra Everyprop.com, Madrid

Row 4179: No result found for address: Urb. Pe�agrande Everyprop.com, Madrid

Row 4180: Address: Urb. Mirasierra, Madrid
Latitude: 40.6332973, Longitude: -4.0067609

Row 4181: No result found for address: Plaza de Padr�n, Madrid

Row 4182: Address: Calle de juan sanchez, Madrid
Latitude: 40.4743428, Longitude: -3.7190487

Row 4183: Address: Calle Mirallos, 12, Madrid
Latitude: 40.5076633, Longitude: -3.6678356

Row 4184: Address: Calle de Ponferrada, Madrid
Latitude: 40.4746768, Longitude: -3.713148

Row 4185: Address: Calle Laguna Grande, 16, Madrid
Latitude: 40.4875502, Longitude: -3.7121171

Row 4186: No result found for address: Calle Chapiner�a, 3, Madrid

Row 4187: Address: Gavilanes, Madrid
Latitude: 40.4777237, Longitude: -3.7390409

Row 4188: Address: Plaza de Ver�n, Madrid
Latitude: 20.0740639, Longitude: -97.0507535

Row 4189: No result found for address: Calle de Ferm�n Caballero, 44, Madrid

Row 4190: Address: Calle de Riscos de Polanco, 6, Madrid
Latitude: 40.4865658, Longitude: -3.7226908

Row 4191: Address: Calle de la Costa Brava, 33 Bis, Madrid
Latitude: 40.4948288, Longitude: -3.7014322

Row 4192: Address: Calle Redecilla del Camino, 9, Madrid
Latitude: 40.5060226, Longitude: -3.6697576

Row 4193: No result found for address: Plaza de Corcubi�n, Madrid

Row 4194: Address: Arnedillo, Madrid
Latitude: 40.5014957, Longitude: -3.7025438

Row 4195: Address: Calle Afueras a Valverde, 29, Madrid
Latitude: 40.5010826, Longitude: -3.6955383

Row 4196: Address: Plaza de Tuy, Madrid
Latitude: 40.476228899999995, Longitude: -3.7104895684333323

Row 4197: Address: Calle Julio Montero, Madrid
Latitude: 40.4969843, Longitude: -3.6881715

Row 4198: No result found for address: Calle Fort�n, 5, Madrid

Row 4199: Address: Calle de San Dacio, Madrid
Latitude: 40.4854971, Longitude: -3.688506

Row 4200: Address: Calle de Nuria, 78, Madrid
Latitude: 40.4954416, Longitude: -3.7119502

Row 4201: Address: Calle de la Costa Brava, 7, Madrid
Latitude: 40.49295535, Longitude: -3.7001650772484407

Row 4202: Error geocoding address 'Calle de la Mas�, 1, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Mas%EF%BF%BD%2C+1%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4203: Address: Calle Pena Dorada, Madrid
Latitude: 40.4854838, Longitude: -3.7129346

Row 4204: Address: Calle Virgen de Aranzazu, 1, Madrid
Latitude: 40.4872376, Longitude: -3.6896081

Row 4205: No result found for address: Calle de La Ba�eza, Madrid

Row 4206: No result found for address: Calle Cabo L�pez Mart�nez, Madrid

Row 4207: Address: San juan de Ortega, 20, Madrid
Latitude: 40.504165, Longitude: -3.67456

Row 4208: No result found for address: Urb. Montecarmelo Everyprop.com, Madrid

Row 4209: Address: Calle la Isla de Tabarca, Madrid
Latitude: 40.253414, Longitude: -3.8256657

Row 4210: Address: Calle de las Islas Marshall, 3, Madrid
Latitude: 40.4748737, Longitude: -3.7283596

Row 4211: Address: Avenida del Monasterio de Silos, 36, Madrid
Latitude: 40.5002832, Longitude: -3.714978

Row 4212: Address: Calle de la Costa Brava, 14, Madrid
Latitude: 40.4948288, Longitude: -3.7014322

Row 4213: Address: Calle Cerrillo, Madrid
Latitude: 40.4971036, Longitude: -3.6907064

Row 4214: No result found for address: Calle de Valle de la Fuenfr�a, 4, Madrid

Row 4215: No result found for address: Urb. puerta de Hierro, Madrid

Row 4216: No result found for address: Urb. FUENTELARREINA, Madrid

Row 4217: Address: Calle Ginzo de Limia, 11, Madrid
Latitude: 40.4759481, Longitude: -3.7034023

Row 4218: No result found for address: Calle Leopoldo Alas Clar�n, 15, Madrid

Row 4219: Address: Calle DE PEDRO RICO, Madrid
Latitude: 40.4792457, Longitude: -3.6903594

Row 4220: Address: Calle de la Costa Brava, 13, Madrid
Latitude: 40.4944289, Longitude: -3.701797943959786

Row 4221: Address: Urb. SI, Madrid
Latitude: 40.0839926, Longitude: -3.8758915

Row 4222: Address: Calle de Padornelo, Madrid
Latitude: 40.5071282, Longitude: -3.6670369

Row 4223: Address: RIBADAVIA, 8 -12, Madrid
Latitude: 40.4726444, Longitude: -3.707728

Row 4224: Error geocoding address 'Pe�a del Sol, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Pe%EF%BF%BDa+del+Sol%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4225: Address: Calle Toques, Madrid
Latitude: 40.5082029, Longitude: -3.6686214

Row 4226: No result found for address: Calle Anastasia L�pez, Madrid

Row 4227: No result found for address: Pe�a Dorada, Madrid

Row 4228: Address: Calle valdemartin, Madrid
Latitude: 40.4892959, Longitude: -3.708333

Row 4229: Address: Julio Palacios, Madrid
Latitude: 40.4826456, Longitude: -3.6939269

Row 4230: Address: Calle Ramon Gomez de la Serna, 141, Madrid
Latitude: 40.48315355, Longitude: -3.7251873004880767

Row 4231: No result found for address: Calle Ram�n G�mez de la Serna, 60, 62, Madrid

Row 4232: Address: Calle de Isla de Formosa, Madrid
Latitude: 40.4979292, Longitude: -3.6875087

Row 4233: Error geocoding address 'Plaza puerto de la cruz, 5 -9, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Plaza+puerto+de+la+cruz%2C+5+-9%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4234: Address: Calle de Carlos Morla Lynch, Madrid
Latitude: 40.5172176, Longitude: -3.7761477

Row 4235: No result found for address: Calle �nsula Barataria, 2, Madrid

Row 4236: No result found for address: Calle del Puerto de Maspalomas, 5, Madrid

Row 4237: No result found for address: Calle Jos� Anduiza, Madrid

Row 4238: Address: Camino Redecilla del, Madrid
Latitude: 40.5060226, Longitude: -3.6697576

Row 4239: Address: Calle de Nuria, Madrid
Latitude: 40.4925088, Longitude: -3.7067723

Row 4240: No result found for address: gra�on, Madrid

Row 4241: Address: Calle Doctor Guiu, 57, Madrid
Latitude: 40.4789876, Longitude: -3.736321

Row 4242: Error geocoding address 'Calle de las Islas C�es s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+las+Islas+C%EF%BF%BDes+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4243: Address: Calle de Alonso Quijano, Madrid
Latitude: 40.50200835, Longitude: -3.6937480453951235

Row 4244: No result found for address: Calle Islas Brit�nicas, Madrid

Row 4245: Address: Puerto de Maspalomas, Madrid
Latitude: 40.4776464, Longitude: -3.7137936

Row 4246: Address: Calle Siguero, 63, Madrid
Latitude: 40.4797972, Longitude: -3.7427074

Row 4247: No result found for address: Calle del Soldado, Madrid

Row 4248: Address: Calle la Hiruela, Madrid
Latitude: 40.4727824, Longitude: -3.7186712

Row 4249: Address: Calle Laguna Grande, Madrid
Latitude: 40.4875502, Longitude: -3.7121171

Row 4250: Address: Calle de Sarria, Madrid
Latitude: 40.4753453, Longitude: -3.7145349

Row 4251: No result found for address: Calle C�maras, Madrid

Row 4252: Address: Calle Toques, 1 - 29, Madrid
Latitude: 40.5082029, Longitude: -3.6686214

Row 4253: Address: Calle Santa Ana Baja, Madrid
Latitude: 40.496428, Longitude: -3.6893712

Row 4254: Address: Camaras, Madrid
Latitude: 40.4925627, Longitude: -3.6877458

Row 4255: Address: Salou, Madrid
Latitude: 40.4899726, Longitude: -3.7109394

Row 4256: Address: Calle Laguna Grande, Madrid, Madrid
Latitude: 40.4875502, Longitude: -3.7121171

Row 4257: No result found for address: C�maras, Madrid

Row 4258: Address: Calle de Gabriela Mistral, Madrid
Latitude: 40.4811979, Longitude: -3.7368158

Row 4259: Address: Calle Vicente Baena, 2, Madrid
Latitude: 40.4808575, Longitude: -3.7267593

Row 4260: No result found for address: Calle de C�ndido Mateos, Madrid

Row 4261: No result found for address: Calle de Arroyofresno, Madrid

Row 4262: Address: Calle de Moralzarzal, Madrid
Latitude: 40.489722, Longitude: -3.7050531

Row 4263: No result found for address: Calle Leopoldo Alas Clar�n, Madrid

Row 4264: Address: Calle de la Costa Brava, 25, Madrid
Latitude: 40.4948288, Longitude: -3.7014322

Row 4265: Address: Calle Islas Kuriles s/n, Madrid
Latitude: 40.4752915, Longitude: -3.7336342

Row 4266: No result found for address: Calle Gra��n, 6 -24, Madrid

Row 4267: Address: Calle Gloria Fuertes, 105, Madrid
Latitude: 40.4917004, Longitude: -3.7301076

Row 4268: No result found for address: Calle Santuario de Valverde , 114, Madrid

Row 4269: Address: Calle Miguel Aracil, 31, Madrid
Latitude: 40.4755596, Longitude: -3.7249141

Row 4270: Address: Paseo Tierra de Melide, 30, Madrid
Latitude: 40.5080492, Longitude: -3.6659407

Row 4271: Address: Calle Isla Timor, 18, Madrid
Latitude: 40.495493, Longitude: -3.6867021

Row 4272: Address: Calle Cantalejo s/n, Madrid
Latitude: 40.4369625, Longitude: -3.6553582

Row 4273: No result found for address: Castillo de Candanch�, 8, Madrid

Row 4274: Address: Paseo TIERRA DE MELIDE, Madrid
Latitude: 40.5080492, Longitude: -3.6659407

Row 4275: No result found for address: Donato Ba�ares, 2, Madrid

Row 4276: Address: Calle de Pedro Rico, 27, Madrid
Latitude: 40.4792457, Longitude: -3.6903594

Row 4277: Address: Avenida del Monasterio de Silos, Madrid
Latitude: 40.5002832, Longitude: -3.714978

Row 4278: Address: BETANZOS, Madrid
Latitude: 40.482349, Longitude: -3.713589

Row 4279: Address: Pico Balaitus, Madrid
Latitude: 40.4563413, Longitude: -3.7189696

Row 4280: Address: Calle de San Modesto, Madrid
Latitude: 40.4846707, Longitude: -3.6899545

Row 4281: Address: isla de arosa, Madrid
Latitude: 40.4816745, Longitude: -3.717023

Row 4282: No result found for address: Calle Vegafr�a, Madrid

Row 4283: No result found for address: Calle de Hospital de �rbigo, Madrid

Row 4284: Address: Calle de las Islas C�es, Madrid
Latitude: 28.1302263, Longitude: -15.4338667

Row 4285: Address: Calle Marbella, Madrid
Latitude: 40.4953963, Longitude: -3.7070936

Row 4286: Address: Calle San Juan de Ortega, Madrid
Latitude: 40.5084767, Longitude: -3.6743598

Row 4287: No result found for address: Calle DE LA BA�EZA, Madrid

Row 4288: Address: Avenida del Cardenal Herrera Oria, 169, Madrid
Latitude: 40.4834165, Longitude: -3.7107231

Row 4289: No result found for address: Calle de Rosal�a de Castro, Madrid

Row 4290: Address: Calle Miguel Aracil, Madrid
Latitude: 40.4755596, Longitude: -3.7249141

Row 4291: Address: Calle del Cerro de la Carrasqueta, Madrid
Latitude: 40.486326, Longitude: -3.7278447

Row 4292: No result found for address: Calle de Mar�a Tubau, 19, Madrid

Row 4293: Address: Calle San Juan de Ortega, 68, Madrid
Latitude: 40.5059026, Longitude: -3.6757441

Row 4294: Address: Camino de Ganapanes, 35, Madrid
Latitude: 40.47535015, Longitude: -3.7162094097383216

Row 4295: Address: Calle de Padornelo, 10, Madrid
Latitude: 40.5071282, Longitude: -3.6670369

Row 4296: Address: Calle Brunete, 1, Madrid
Latitude: 40.3500835, Longitude: -4.0253822

Row 4297: Address: Calle de Cantalejo, 8, Madrid
Latitude: 40.47436765, Longitude: -3.7386191999999983

Row 4298: Address: Calle cardenio, 1, Madrid
Latitude: 40.4989588, Longitude: -3.6896736

Row 4299: No result found for address: Calle de Joaqu�n Lorenzo, 19, Madrid

Row 4300: Address: Calle Sobrado, 3, Madrid
Latitude: 40.5097816, Longitude: -3.6651445

Row 4301: Address: Calle Manresa, 6, Madrid
Latitude: 40.4915782, Longitude: -3.690058

Row 4302: Address: Avenida del Monasterio de Silos, 44, Madrid
Latitude: 40.5002832, Longitude: -3.714978

Row 4303: Address: Antonia Baena, 15, Madrid
Latitude: 40.4822282, Longitude: -3.7285491

Row 4304: Address: Calle TOQUES, 3, Madrid
Latitude: 40.5082029, Longitude: -3.6686214

Row 4305: No result found for address: Plaza de Corcubi�n s/n, Madrid

Row 4306: Address: Avenida del Monasterio de El Escorial, 35, Madrid
Latitude: 40.50441885, Longitude: -3.7020278762747587

Row 4307: Address: Calle Alfredo Marquerie, Madrid
Latitude: 40.4873357, Longitude: -3.7012565

Row 4308: Error geocoding address 'Calle de la Mas�, 18, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Mas%EF%BF%BD%2C+18%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4309: No result found for address: Calle C�sar Manrique, 1, Madrid

Row 4310: No result found for address: Calle de Pico Balaitus, Madrid

Row 4311: Address: Calle julio montero, 11, Madrid
Latitude: 40.4969843, Longitude: -3.6881715

Row 4312: Address: Calle de Cantalejo, Madrid
Latitude: 40.4732854, Longitude: -3.7357592

Row 4313: Address: Avenida del Monasterio de Silos, 31, Madrid
Latitude: 40.5002832, Longitude: -3.714978

Row 4314: Address: Plaza de Arteijo, Madrid
Latitude: 40.4788481, Longitude: -3.7066562

Row 4315: Address: Calle de Fresnedillas, 8, Madrid
Latitude: 40.478444, Longitude: -3.7412605

Row 4316: Error geocoding address 'Calle de la Pe�a Santa, 10, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Pe%EF%BF%BDa+Santa%2C+10%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4317: No result found for address: Calle de La Ba�eza, 41, Madrid

Row 4318: No result found for address: Calle Monasterio de Li�bana, 3, Madrid

Row 4319: Address: Calle Manuel Garrido, 12, Madrid
Latitude: 40.4739259, Longitude: -3.7305959

Row 4320: Address: Calle de Finisterre, Madrid
Latitude: 40.480755, Longitude: -3.7030772

Row 4321: Address: Calle de Ponferrada, 56, Madrid
Latitude: 40.47610965, Longitude: -3.71208374272082

Row 4322: Address: Calle Boadilla del Camino, 3, Madrid
Latitude: 40.5042213, Longitude: -3.6671314

Row 4323: No result found for address: Plaza del Pico Salvaguardia, 7, Madrid

Row 4324: Address: Calle de Marbella, 68, Madrid
Latitude: 40.4953963, Longitude: -3.7070936

Row 4325: Address: Calle SAN JUAN DE ORTEGA, Madrid
Latitude: 40.5084767, Longitude: -3.6743598

Row 4326: Address: Calle Alfredo Marquerie, 7, Madrid
Latitude: 40.4864151, Longitude: -3.697084333435585

Row 4327: Address: Calle Ligonde, 4, Madrid
Latitude: 40.5117336, Longitude: -3.6679301

Row 4328: Address: Calle del Monasterio del Paular, 9 B, Madrid
Latitude: 40.5007046, Longitude: -3.7031222

Row 4329: Address: Calle de la Costa Brava, 34, Madrid
Latitude: 40.4948288, Longitude: -3.7014322

Row 4330: Address: Calle de Castiello de Jaca, 33, Madrid
Latitude: 40.5010436, Longitude: -3.675481

Row 4331: Address: Calle Doctor Guiu, Madrid
Latitude: 40.4789876, Longitude: -3.736321

Row 4332: Address: Calle Capiscol, Madrid
Latitude: 40.5081121, Longitude: -3.6755606

Row 4333: Address: Calle ISLA TRINIDAD, Madrid
Latitude: 40.496875, Longitude: -3.6917523

Row 4334: No result found for address: Calle Islas V�rgenes, Madrid

Row 4335: Address: Calle Gascones, Madrid
Latitude: 40.4770197, Longitude: -3.7387217

Row 4336: Address: PABLO GARGALLO, Madrid
Latitude: 40.4760822, Longitude: -3.7344592

Row 4337: No result found for address: ramon g�mez de la serna, Madrid

Row 4338: Address: monasterio del paular, Madrid
Latitude: 40.5007046, Longitude: -3.7031222

Row 4339: Address: Calle Isla de Saipan, Madrid, Madrid
Latitude: 40.4756421, Longitude: -3.7302609

Row 4340: No result found for address: Melchor Fern�ndez Almagro, Madrid

Row 4341: Address: Calle caballero de los espejos, Madrid
Latitude: 40.5054869, Longitude: -3.6863337

Row 4342: Address: julio palacios, Madrid
Latitude: 40.4826456, Longitude: -3.6939269

Row 4343: No result found for address: Calle Vegafr�a, 1 A, Madrid

Row 4344: Address: Avenida del Santuario de Valverde, 18, Madrid
Latitude: 40.5041425, Longitude: -3.7089029

Row 4345: Address: Ronda DEL INGENIOSO HIDALGO, Madrid
Latitude: 40.5014132, Longitude: -3.6895781

Row 4346: No result found for address: Calle Melchor Fern�ndez Almagro, 11, Madrid

Row 4347: No result found for address: Calle Islas Brit�nicas, 1, Madrid

Row 4348: Address: Avenida de la Guardia, Madrid
Latitude: 40.5156499, Longitude: -3.7732569

Row 4349: Address: Calle monasterio de caaveiro, 20, Madrid
Latitude: 40.5059765, Longitude: -3.6976649949436258

Row 4350: No result found for address: Avenida DEL CAMINO DE SANTIAGO, Madrid

Row 4351: Address: Calle Isla de Saipan, Madrid
Latitude: 40.4756421, Longitude: -3.7302609

Row 4352: Address: Calle GERARDO BAENA, Madrid
Latitude: 40.4942402, Longitude: -3.6909756

Row 4353: Address: Plaza VERIN, Madrid
Latitude: 40.4773525, Longitude: -3.7091774

Row 4354: Address: Hospital de Orbigo, Madrid
Latitude: 40.5125689, Longitude: -3.6683282

Row 4355: No result found for address: Calle de Melchor Fern�ndez Almagro, Madrid

Row 4356: Address: Ginzo de Limia, Madrid
Latitude: 42.0641175, Longitude: -7.7267702

Row 4357: Address: Calle de Palas de Rey, 18 B, Madrid
Latitude: 40.5046604, Longitude: -3.6636677

Row 4358: Address: Calle SARRIA, 30, Madrid
Latitude: 40.4753752, Longitude: -3.7143217

Row 4359: Address: Isla de Saipan, Madrid
Latitude: 40.4756421, Longitude: -3.7302609

Row 4360: Address: fermin caballero, 44, Madrid
Latitude: 40.4849314, Longitude: -3.705445362600358

Row 4361: Address: Calle Monasterio de Montesclaros, 4, Madrid
Latitude: 40.5041214, Longitude: -3.7025808

Row 4362: No result found for address: Urb. Corcubi�n, Madrid

Row 4363: Address: Calle Sinesio Delgado, 12, Madrid
Latitude: 40.474853800000005, Longitude: -3.698157474074079

Row 4364: No result found for address: Urb. MIRASIERRA-TELEFONICA, Madrid

Row 4365: Address: Calle Cerrillo s/n, Madrid
Latitude: 40.4971036, Longitude: -3.6907064

Row 4366: Address: siguero, 45, Madrid
Latitude: 40.4797972, Longitude: -3.7427074

Row 4367: No result found for address: Plaza del Pico Salvaguardia, Madrid

Row 4368: No result found for address: Calle de la Sierra de Atapuerca, Madrid

Row 4369: Error geocoding address 'Avenida del Camino de Santiago, 33, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+del+Camino+de+Santiago%2C+33%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4370: Address: Calle de Isabel Colbrand, 16, Madrid
Latitude: 40.5108913, Longitude: -3.6769652

Row 4371: Address: Calle de la Costa Brava, 11, Madrid
Latitude: 40.4948288, Longitude: -3.7014322

Row 4372: Address: Calle Somontes, 3, Madrid
Latitude: 40.4766379, Longitude: -3.748122

Row 4373: Address: Calle de las Islas Bikini, 8, Madrid
Latitude: 40.4794636, Longitude: -3.7279905

Row 4374: Address: Calle Islas Bahamas, 21, Madrid
Latitude: 40.4771991, Longitude: -3.7224945

Row 4375: Address: Calle de los Gavilanes, 243, Madrid
Latitude: 40.4770884, Longitude: -3.7387791

Row 4376: Address: Calle Collado Mostajo, 10, Madrid
Latitude: 40.4893382, Longitude: -3.7219058

Row 4377: Address: Calle la Serna del Monte, 3, Madrid
Latitude: 40.472907, Longitude: -3.719768

Row 4378: Address: Angelita Camarero, 9, Madrid
Latitude: 40.4816422, Longitude: -3.7274149

Row 4379: Address: Calle Toques, 1, Madrid
Latitude: 40.5082029, Longitude: -3.6686214

Row 4380: No result found for address: Calle de C�ndido Mateos, 31, Madrid

Row 4381: Address: Calle Isla de Saipan, 31, Madrid
Latitude: 40.4756421, Longitude: -3.7302609

Row 4382: Address: Avenida el Ferrol, 4, Madrid
Latitude: 40.47488645, Longitude: -3.703501498378034

Row 4383: Address: Calle Julio Palacios, 24, Madrid
Latitude: 40.4831972, Longitude: -3.6938148

Row 4384: Address: Calle de Nuria, 11, Madrid
Latitude: 40.4954416, Longitude: -3.7119502

Row 4385: Address: Calle del Monasterio de las Batuecas, 21, Madrid
Latitude: 40.505831799999996, Longitude: -3.7053738566928107

Row 4386: Address: Calle Fresnedillas, 4, Madrid
Latitude: 40.4799094, Longitude: -3.7382987

Row 4387: Address: Calle de Moralzarzal, 100, Madrid
Latitude: 40.489722, Longitude: -3.7050531

Row 4388: Address: Calle Ligonde, 3, Madrid
Latitude: 40.5114099, Longitude: -3.6692699

Row 4389: No result found for address: Calle de �ngel M�gica, 15, Madrid

Row 4390: Address: Calle de Nuria, 80, Madrid
Latitude: 40.4954416, Longitude: -3.7119502

Row 4391: Address: Calle Santiso, 9, Madrid
Latitude: 40.5105, Longitude: -3.6659302

Row 4392: Address: Calle del Monasterio de Las Huelgas, 18, Madrid
Latitude: 40.502459, Longitude: -3.7069721

Row 4393: Address: Plaza Pico Salvaguardia, 3, Madrid
Latitude: 40.482108100000005, Longitude: -3.7201387256817435

Row 4394: No result found for address: Calle de Ram�n G�mez de la Serna, 77, Madrid

Row 4395: Address: Calle Julio Palacios, 31, Madrid
Latitude: 40.4831972, Longitude: -3.6938148

Row 4396: Address: Calle del Monasterio de las Huelgas, 20, Madrid
Latitude: 40.502459, Longitude: -3.7069721

Row 4397: Address: Calle de Puente la Reina, 39, Madrid
Latitude: 40.0445919, Longitude: -3.560364

Row 4398: Error geocoding address 'Avenida del Camino de Santiago, 45, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+del+Camino+de+Santiago%2C+45%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4399: No result found for address: Calle de la Virgen de Ar�nzazu, 16, Madrid

Row 4400: Address: francisco sancha, 22, Madrid
Latitude: 40.4875549, Longitude: -3.6882455

Row 4401: Address: Calle Francisco Sancha, 22, Madrid
Latitude: 40.4875549, Longitude: -3.6882455

Row 4402: No result found for address: Urb. fuentelarreina, Madrid

Row 4403: Address: Avenida del Santuario de Valverde, Madrid, Madrid
Latitude: 40.5041425, Longitude: -3.7089029

Row 4404: No result found for address: Calle Fern�ndez Cid, 20, Madrid

Row 4405: No result found for address: Calle Sandalio L�pez, 4, Madrid

Row 4406: No result found for address: Plaza Ver�n, 11, Madrid

Row 4407: Address: Calle de Sarria, 18, Madrid
Latitude: 40.473986, Longitude: -3.7136667

Row 4408: Address: tres olivos, 7, Madrid
Latitude: 40.500384, Longitude: -3.6904552

Row 4409: No result found for address: Calle de Mar�a Tubau, 15, Madrid

Row 4410: Address: Calle Arzobispo Morcillo, 38, Madrid
Latitude: 40.4824803, Longitude: -3.6975905

Row 4411: No result found for address: Calle de la Pe�a del Cuervo, 20, Madrid

Row 4412: No result found for address: Calle Viloria de La Rioja, 16 5C, Madrid

Row 4413: Address: Calle Cebreiro, 7, Madrid
Latitude: 40.5046846, Longitude: -3.6621268

Row 4414: Address: Calle Antonia Baena, 18, Madrid
Latitude: 40.4822282, Longitude: -3.7285491

Row 4415: Address: Calle de Santiago de Compostela, 88, Madrid
Latitude: 40.4790003, Longitude: -3.7180828

Row 4416: No result found for address: Calle de Celanova, 13 2� puerta 1, Madrid

Row 4417: Address: Avenida de Monforte de Lemos, 172, Madrid
Latitude: 40.4772589, Longitude: -3.7154522

Row 4418: No result found for address: Calle de La Ba�eza, 32, Madrid

Row 4419: Address: Avenida del Ventisquero de la Condesa, 12, Madrid
Latitude: 40.4879533, Longitude: -3.7163017

Row 4420: No result found for address: Plaza de Ver�n, 7, Madrid

Row 4421: No result found for address: Calle de Ram�n G�mez de la Serna, 5, Madrid

Row 4422: No result found for address: Calle de Joaqu�n Lorenzo, 66, Madrid

Row 4423: No result found for address: Calle Joaqu�n Lorenzo, 52, Madrid

Row 4424: Address: Calle Badalona, 96, Madrid
Latitude: 40.4924045, Longitude: -3.6925228

Row 4425: Address: Calle de Gabriela Mistral, 16, Madrid
Latitude: 40.4811979, Longitude: -3.7368158

Row 4426: No result found for address: Calle del Castillo de Candanch�, 8, Madrid

Row 4427: No result found for address: Calle de Mar�a Goyri s/n, Madrid

Row 4428: Address: Calle Isla de Tavira, Madrid
Latitude: 40.481311, Longitude: -3.7185716

Row 4429: No result found for address: Urb. Urbanizaci�n cerrada, Madrid

Row 4430: Address: Lacoma s/n, Madrid
Latitude: 40.4813536, Longitude: -3.7216325

Row 4431: Address: Calle Julio Palacios, 13, Madrid
Latitude: 40.4831972, Longitude: -3.6938148

Row 4432: Address: Calle de Marbella, 16, Madrid
Latitude: 40.4953963, Longitude: -3.7070936

Row 4433: Address: Calle de Sarria, 54, Madrid
Latitude: 40.4758062, Longitude: -3.7143227

Row 4434: Address: Calle Isla de Rodas, Madrid
Latitude: 40.496397, Longitude: -3.6909592

Row 4435: Address: Calle Julio Palacios, 45, Madrid
Latitude: 40.4831972, Longitude: -3.6938148

Row 4436: No result found for address: Calle Juan S�nchez, 3, Madrid

Row 4437: Address: las tablas s/n, Madrid
Latitude: 40.5061054, Longitude: -3.6712

Row 4438: Address: Avenida del Santuario de Valverde, Madrid
Latitude: 40.5041425, Longitude: -3.7089029

Row 4439: Address: Calle Ginzo de Limia, 33, Madrid
Latitude: 40.478174249999995, Longitude: -3.7042897452378476

Row 4440: No result found for address: Calle del Doctor Mediavilla, 10 BAJO A, Madrid

Row 4441: Address: hospital de orbigo, 7, Madrid
Latitude: 40.5125689, Longitude: -3.6683282

Row 4442: Address: Calle Cirauqui, 7, Madrid
Latitude: 40.4986559, Longitude: -3.6721618

Row 4443: No result found for address: Calle de Rosal�a de Castro, 82, Madrid

Row 4444: Address: Calle de la Isla de Arosa, 7, Madrid
Latitude: 40.4795209, Longitude: -3.7166257

Row 4445: No result found for address: Urb. Fuentelarreina- Puerta de Hierro, Madrid

Row 4446: Address: Calle de Puentedeume, 15, Madrid
Latitude: 40.47279035, Longitude: -3.713450845318068

Row 4447: No result found for address: Calle de La Ba�eza, 33, Madrid

Row 4448: Address: Avenida Cardenal Herrera Oria, 45, Madrid
Latitude: 40.4908097, Longitude: -3.6917069

Row 4449: Address: Calle Azofra, 9, Madrid
Latitude: 40.5006465, Longitude: -3.6713465

Row 4450: No result found for address: Calle del Puerto de Maspalomas, 2, Madrid

Row 4451: Error geocoding address 'Calle de las Islas C�es, 34, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+las+Islas+C%EF%BF%BDes%2C+34%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4452: Address: Avenida del Cardenal Herrera Oria, 163, Madrid
Latitude: 40.4846439, Longitude: -3.7101432

Row 4453: No result found for address: Calle Portomar�n, 25, Madrid

Row 4454: No result found for address: Calle del Castillo de Candanch�, 7, Madrid

Row 4455: Error geocoding address 'Calle de la Pe�a del Sol, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Pe%EF%BF%BDa+del+Sol%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4456: No result found for address: Calle de Matar�, 21, Madrid

Row 4457: Address: Calle de Ribadavia, 16, Madrid
Latitude: 40.4726444, Longitude: -3.707728

Row 4458: Address: Calle de la Isla de Arosa, 45, Madrid
Latitude: 40.4819033, Longitude: -3.7171181

Row 4459: Error geocoding address 'Calle de Rosal�a de Castro, 84, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Rosal%EF%BF%BDa+de+Castro%2C+84%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4460: No result found for address: Calle de Rosal�a de Castro s/n, Madrid

Row 4461: Address: Avenida Betanzos, 57, Madrid
Latitude: 40.4781633, Longitude: -3.7125957

Row 4462: Address: Calle de San Dacio, 1, Madrid
Latitude: 40.484751450000005, Longitude: -3.6889596593611884

Row 4463: Error geocoding address 'Calle de las Islas C�es, 15, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+las+Islas+C%EF%BF%BDes%2C+15%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4464: Address: Plaza de Mondariz, 100, Madrid
Latitude: 40.4785382, Longitude: -3.7053817

Row 4465: No result found for address: Calle del Pico Balaitus, 35, Madrid

Row 4466: Address: Julio Calvo, 16, Madrid
Latitude: 40.4820064, Longitude: -3.7222408349755494

Row 4467: Address: Calle Monasterio de Montesclaros, 9, Madrid
Latitude: 40.5044578, Longitude: -3.7027491

Row 4468: Address: Calle Santiso, 11, Madrid
Latitude: 40.5105, Longitude: -3.6659302

Row 4469: No result found for address: Plaza de Corcubi�n, 2, Madrid

Row 4470: Address: Avenida del Padre Cipriano, 9, Madrid
Latitude: 40.5198231, Longitude: -3.7785832

Row 4471: Address: Camino de Ganapanes, 1, Madrid
Latitude: 40.4705031, Longitude: -3.7149496

Row 4472: Address: Calle Julio Palacios, 29, Madrid
Latitude: 40.4831972, Longitude: -3.6938148

Row 4473: No result found for address: Calle de Nuestra Se�ora de Valverde, 86, Madrid

Row 4474: No result found for address: Plaza de El Pardo, 1, Madrid

Row 4475: No result found for address: Calle Joaqu�n Lorenzo, 78, Madrid

Row 4476: No result found for address: Calle Becerre�, 1, Madrid

Row 4477: No result found for address: Calle Chapiner�a, Madrid

Row 4478: Address: Calle Isla de Rodas, 26, Madrid
Latitude: 40.496397, Longitude: -3.6909592

Row 4479: No result found for address: Calle San Juli�n del Camino, Madrid

Row 4480: Address: Calle Isla Graciosa, 6, Madrid
Latitude: 40.4931139, Longitude: -3.6855021

Row 4481: No result found for address: Calle de Ferm�n Caballero, 62, Madrid

Row 4482: No result found for address: Calle Ferm�n Caballero, 62, Madrid

Row 4483: No result found for address: Urb. Pe�agrande, Madrid

Row 4484: Address: Calle Santiago de Compostela, 90, Madrid
Latitude: 40.060269, Longitude: -3.5990603

Row 4485: Address: Melchor Fernandez Almagro, Madrid
Latitude: 40.4752648, Longitude: -3.7104875

Row 4486: Address: Calle Chantada, 25, Madrid
Latitude: 40.4731748, Longitude: -3.7134457

Row 4487: Address: Julio Calvo, 8, Madrid
Latitude: 40.481288899999996, Longitude: -3.72217751824562

Row 4488: No result found for address: Calle de Celanova, 11, Madrid

Row 4489: No result found for address: Urb. Tres Olivos, Madrid

Row 4490: No result found for address: Inocencio Fern�ndez, Madrid

Row 4491: Address: El pilar, Madrid
Latitude: 40.4771334, Longitude: -3.7089157

Row 4492: Address: Avenida del Santuario de Valverde, 70, Madrid
Latitude: 40.5041425, Longitude: -3.7089029

Row 4493: Address: Isla de Arosa, Madrid
Latitude: 40.4816745, Longitude: -3.717023

Row 4494: Address: Calle Monasterio de Guadalupe, 2, Madrid
Latitude: 40.5066058, Longitude: -3.7044403

Row 4495: Address: Calle Pena Auseba, Madrid
Latitude: 40.49405, Longitude: -3.7016903

Row 4496: Address: Calle Islas Marquesas, 23, Madrid
Latitude: 40.4761587, Longitude: -3.7262124

Row 4497: Address: Calle Buitrago del Lozoya, 10, Madrid
Latitude: 40.9940818, Longitude: -3.6347691

Row 4498: Address: Avenida de Monforte de Lemos, 125, Madrid
Latitude: 40.4778724, Longitude: -3.7103788

Row 4499: Address: Avenida del Monasterio de El Escorial, 39, Madrid
Latitude: 40.504385850000006, Longitude: -3.7010666201815146

Row 4500: Address: Urb. Si, Madrid
Latitude: 40.0839926, Longitude: -3.8758915

Row 4501: No result found for address: Calle anastasia l�pez, Madrid

Row 4502: Address: Calle de San Dacio, 36, Madrid
Latitude: 40.4854971, Longitude: -3.688506

Row 4503: No result found for address: Calle Cerro del Casta�ar, 177, Madrid

Row 4504: No result found for address: c) cerr� del casta�ar, 161, Madrid

Row 4505: Address: Calle del Monasterio de las Batuecas, 20 -38, Madrid
Latitude: 40.5061206, Longitude: -3.7042559716073136

Row 4506: Address: Calle Cardenuela Riopico, 9, Madrid
Latitude: 40.5021004, Longitude: -3.669627

Row 4507: Address: Calle de Ribadavia, 25, Madrid
Latitude: 40.4725252, Longitude: -3.7090297

Row 4508: No result found for address: Calle de Ferm�n Caballero, 3, Madrid

Row 4509: Address: Calle de la Isla de Arosa, 31, Madrid
Latitude: 40.4819033, Longitude: -3.7171181

Row 4510: No result found for address: Calle Sandalio L�pez, Madrid

Row 4511: No result found for address: Calle Gra��n, 6, Madrid

Row 4512: Address: Avenida Santuario de Valverde, 74, Madrid
Latitude: 40.5079808, Longitude: -3.6952520606094597

Row 4513: Address: Avenida del Santuario de Valverde, 82, Madrid
Latitude: 40.5041425, Longitude: -3.7089029

Row 4514: Address: Calle sangenjo, 22, Madrid
Latitude: 40.48541875, Longitude: -3.6992952047410093

Row 4515: Address: Avenida de Santo Domingo de la Calzada, 27, Madrid
Latitude: 40.5084072, Longitude: -3.6706608

Row 4516: No result found for address: Calle de Mar�a Tubau, 17, Madrid

Row 4517: Address: Plaza de Ribadeo, 3, Madrid
Latitude: 40.4771564, Longitude: -3.7105769

Row 4518: Address: Carretera Fuencarral a Alcobendas, Madrid
Latitude: 40.514561, Longitude: -3.6733561718285332

Row 4519: No result found for address: Calle Melchor Fern�ndez Almagro, 27, Madrid

Row 4520: No result found for address: Calle de Valle de la Fuenfr�a, Madrid

Row 4521: Address: MATARO, Madrid
Latitude: 40.4924042, Longitude: -3.6937658

Row 4522: Address: Calle Redecilla del Camino, 2, Madrid
Latitude: 40.5060226, Longitude: -3.6697576

Row 4523: No result found for address: Calle de la Isla de los Gal�pagos, 5, Madrid

Row 4524: No result found for address: Calle de Joaqu�n Lorenzo, Madrid, 58, Madrid

Row 4525: No result found for address: Calle de Antonio L�pez Aguado, 9, Madrid

Row 4526: Address: Monasterio de Sobrado, Madrid
Latitude: 40.5090731, Longitude: -3.6922515

Row 4527: Address: La Maso, Madrid
Latitude: 40.4835469, Longitude: -3.7142648

Row 4528: Address: Sangenjo, Madrid
Latitude: 40.484241, Longitude: -3.7033499

Row 4529: Address: Calle de Riscos de Polanco, 4, Madrid
Latitude: 40.4865658, Longitude: -3.7226908

Row 4530: Address: Avenida el Ferrol, 22, Madrid
Latitude: 40.4743311, Longitude: -3.7061282

Row 4531: No result found for address: Calle Monasterio de Li�bana, 5, Madrid

Row 4532: No result found for address: Calle FRESNADILLAS, Madrid

Row 4533: No result found for address: Calle de la Virgen de Ar�nzazu, 21, Madrid

Row 4534: No result found for address: Calle de Ram�n G�mez de la Serna, 11 -19, Madrid

Row 4535: Address: Calle Ginzo de Limia, Madrid
Latitude: 40.4799902, Longitude: -3.704533

Row 4536: Address: Calle Cebreiro, 17, Madrid
Latitude: 40.5046846, Longitude: -3.6621268

Row 4537: Address: Calle de Gabriela Mistral, 18, Madrid
Latitude: 40.4811979, Longitude: -3.7368158

Row 4538: Address: Avenida el Ferrol, 25, Madrid
Latitude: 40.4740954, Longitude: -3.7054024

Row 4539: No result found for address: Paseo Tierra de Melide, 32 B, Madrid

Row 4540: Address: Calle MANRESA, Madrid
Latitude: 40.4915782, Longitude: -3.690058

Row 4541: Address: Calle Gerardo Baena, 1, Madrid
Latitude: 40.4942402, Longitude: -3.6909756

Row 4542: Address: Calle de la Isla de Arosa, Madrid, Madrid
Latitude: 40.4819033, Longitude: -3.7171181

Row 4543: Address: Calle Julio Montero, 3, Madrid
Latitude: 40.4969843, Longitude: -3.6881715

Row 4544: Address: Avenida de Betanzos, 52, Madrid
Latitude: 40.4769143, Longitude: -3.7117236

Row 4545: Address: Calle de Palas de Rey, 50, Madrid
Latitude: 40.5046604, Longitude: -3.6636677

Row 4546: Address: Calle San Juan de Ortega, 92, Madrid
Latitude: 40.5084767, Longitude: -3.6743598

Row 4547: Address: Calle Ginzo de Limia, 4, Madrid
Latitude: 40.4799902, Longitude: -3.704533

Row 4548: Address: Calle de Ribadavia, 10, Madrid
Latitude: 40.4726444, Longitude: -3.707728

Row 4549: No result found for address: Calle Sandalio L�pez, 45, Madrid

Row 4550: No result found for address: Calle del Valle de Pinares Llanos, Madrid

Row 4551: Address: Avenida el Ferrol, Madrid
Latitude: 40.4761768, Longitude: -3.7067854

Row 4552: No result found for address: Calle Becerre�, Madrid, Madrid

Row 4553: Address: El Ferrol, Madrid
Latitude: 40.4755052, Longitude: -3.7040481

Row 4554: Address: Calle de Marcos de Orueta, Madrid
Latitude: 40.4847657, Longitude: -3.6861755

Row 4555: No result found for address: Calle de Isidro Fern�ndez, Madrid

Row 4556: Address: Calle de la Costa Brava, 5 -9, Madrid
Latitude: 40.4948288, Longitude: -3.7014322

Row 4557: No result found for address: Calle del Puerto de Maspalomas, Madrid

Row 4558: Address: Pedro Rico, Madrid
Latitude: 40.4792457, Longitude: -3.6903594

Row 4559: Address: Costa Brava, Madrid
Latitude: 19.1137519, Longitude: -104.3431456

Row 4560: No result found for address: Calle Gra��n, 8, Madrid

Row 4561: No result found for address: Calle Fuentemilanos, 2, Madrid

Row 4562: Address: Calle Chantada, Madrid
Latitude: 40.4734893, Longitude: -3.719309

Row 4563: Address: Avenida del Ventisquero de la Condesa, Madrid
Latitude: 40.4882671, Longitude: -3.7164024

Row 4564: No result found for address: Calle Portomar�n, Madrid

Row 4565: Address: Calle de Santiago de Compostela, Madrid
Latitude: 40.4810579, Longitude: -3.711004

Row 4566: Address: Siguero, 18, Madrid
Latitude: 40.4797972, Longitude: -3.7427074

Row 4567: Address: Calle Monasterio de Montesclaros, Madrid
Latitude: 40.5041214, Longitude: -3.7025808

Row 4568: No result found for address: Calle Ferm�n Caballero, 44, Madrid

Row 4569: Address: Azofra, Madrid
Latitude: 40.5006465, Longitude: -3.6713465

Row 4570: Address: Calle Pico de la Pinareja, Madrid
Latitude: 40.4842391, Longitude: -3.7218083

Row 4571: Address: Calle ARZOBISPO MORCILLO, Madrid
Latitude: 40.4831045, Longitude: -3.6975941

Row 4572: Address: Calle Azofra, Madrid
Latitude: 40.5006465, Longitude: -3.6713465

Row 4573: No result found for address: Urb. CERCA DEL METRO, Madrid

Row 4574: No result found for address: Urb. Entregar en el local de Inmobiliaria Albamar., Madrid

Row 4575: Address: Camino de Ganapanes, Madrid
Latitude: 40.4725897, Longitude: -3.7149217

Row 4576: Address: Angelita Camarero, Madrid
Latitude: 40.4816422, Longitude: -3.7274149

Row 4577: Address: Calle Donato Banares, 2, Madrid
Latitude: 40.4942402, Longitude: -3.6909756

Row 4578: No result found for address: Urb. Residencial Montelarreyna, Madrid

Row 4579: Address: Calle Isla Trinidad, 5, Madrid
Latitude: 40.496875, Longitude: -3.6917523

Row 4580: Address: Calle de Marbella, Madrid
Latitude: 40.4953963, Longitude: -3.7070936

Row 4581: Error geocoding address 'Plaza de Puerto de la Cruz, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Plaza+de+Puerto+de+la+Cruz%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4582: Address: azofra, Madrid
Latitude: 40.5006465, Longitude: -3.6713465

Row 4583: No result found for address: La Ba�eza, Madrid

Row 4584: Address: Calle de Valcarlos, Madrid
Latitude: 40.5023922, Longitude: -3.6677781

Row 4585: Address: antonia baena, 15, Madrid
Latitude: 40.4822282, Longitude: -3.7285491

Row 4586: Error geocoding address 'Plaza Puerto de la Cruz, 7, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Plaza+Puerto+de+la+Cruz%2C+7%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4587: Address: Calle Mistral, 8, Madrid
Latitude: 40.4797397, Longitude: -3.7371478

Row 4588: Address: pedro rico, 27, Madrid
Latitude: 40.4792457, Longitude: -3.6903594

Row 4589: Address: cerro de la carrasqueta s/n, Madrid
Latitude: 40.486326, Longitude: -3.7278447

Row 4590: Address: Calle de Sarria, 14, Madrid
Latitude: 40.4740497, Longitude: -3.7133639

Row 4591: No result found for address: BA�EZA, Madrid

Row 4592: Address: SANGENJO, Madrid
Latitude: 40.484241, Longitude: -3.7033499

Row 4593: No result found for address: CANTALEJOS, Madrid

Row 4594: No result found for address: Calle del Puerto de Maspalomas, 24, Madrid

Row 4595: Address: Calle Isla Malaita, 1, Madrid
Latitude: 40.4737629, Longitude: -3.721916

Row 4596: Address: Avenida Cardenal Herrera Oria, 338, Madrid
Latitude: 40.4770912, Longitude: -3.7325401

Row 4597: Address: Calle Valle de Mena, Madrid
Latitude: 40.4705061, Longitude: -3.7174074

Row 4598: Address: Avenida de Montecarmelo, 11, Madrid
Latitude: 40.5023502, Longitude: -3.6972503

Row 4599: Address: Calle de Valcarlos, 13, Madrid
Latitude: 40.5023922, Longitude: -3.6677781

Row 4600: Address: Calle monasterio de oseira, 9, Madrid
Latitude: 40.512195, Longitude: -3.695631038139269

Row 4601: Address: Camino DE SANTIAGO, Madrid
Latitude: 40.4200312, Longitude: -3.1820046

Row 4602: No result found for address: Calle ROSAL�A DE CASTRO, Madrid

Row 4603: Address: Islas Chafarinas, Madrid
Latitude: 40.4783209, Longitude: -3.7352738

Row 4604: Address: Calle del Arroyo del Monte, 111, Madrid
Latitude: 40.3909311, Longitude: -3.6591905

Row 4605: Address: Calle del Mirador de la Reina, 32, Madrid
Latitude: 40.488829, Longitude: -3.7254329

Row 4606: Address: CARDENAL HERRERA ORIA, Madrid
Latitude: 40.4893229, Longitude: -3.7006839

Row 4607: Address: Calle Redecilla del Camino, Madrid
Latitude: 40.5060226, Longitude: -3.6697576

Row 4608: Address: Calle Pablo Gargallo, Madrid
Latitude: 40.4760822, Longitude: -3.7344592

Row 4609: Address: ISLA DE SAIPAN, Madrid
Latitude: 40.4756421, Longitude: -3.7302609

Row 4610: Address: Avenida del cardenal herrera oria, 323, Madrid
Latitude: 40.4891685, Longitude: -3.7013276

Row 4611: No result found for address: Calle del Collado de Marichiva, Madrid

Row 4612: Address: Calle mingorrubio, Madrid
Latitude: 40.104329, Longitude: -3.4815025

Row 4613: Address: Avenida Cardenal Herrera Oria, Madrid
Latitude: 40.4891685, Longitude: -3.7013276

Row 4614: Address: Calle de Pedro Rico, 17, Madrid
Latitude: 40.4842346, Longitude: -3.6947708612757975

Row 4615: Address: Avenida del Monasterio de Silos, 38, Madrid
Latitude: 40.5002832, Longitude: -3.714978

Row 4616: Address: Calle ISLA GRACIOSA, Madrid
Latitude: 40.4931139, Longitude: -3.6855021

Row 4617: Address: Calle Buitrago de Lozoya, 8, Madrid
Latitude: 40.9942003, Longitude: -3.6351772

Row 4618: Address: Calle Arnedillo, Madrid
Latitude: 40.5014957, Longitude: -3.7025438

Row 4619: No result found for address: Calle de Sim�n Vi�als, 4, Madrid

Row 4620: No result found for address: Calle de Celanova, Madrid

Row 4621: Address: Calle Costa Brava, Madrid
Latitude: 40.4974354, Longitude: -3.7108387

Row 4622: Address: Calle Isla de Zanzibar, 59, Madrid
Latitude: 40.4773812, Longitude: -3.7236095

Row 4623: Address: ISLAS CIES, Madrid
Latitude: 40.4801674, Longitude: -3.718388

Row 4624: Address: Avenida de Salas de los Infantes, 9, Madrid
Latitude: 40.4856846, Longitude: -3.6839036

Row 4625: No result found for address: Calle del Valle de Pinares Llanos s/n, Madrid

Row 4626: Address: Calle Isla de Ons, Madrid
Latitude: 40.4796702, Longitude: -3.7213087

Row 4627: Address: Calle del Cerro Minguete, Madrid
Latitude: 40.4868548, Longitude: -3.7178475

Row 4628: No result found for address: MONTEDEVA s/n, Madrid

Row 4629: No result found for address: MONTESELLA s/n, Madrid

Row 4630: Address: Calle Alejandro Casona, Madrid
Latitude: 40.5647886, Longitude: -3.6115866

Row 4631: Address: Avenida de Monforte de Lemos, 67, Madrid
Latitude: 40.47937305, Longitude: -3.6998821002912985

Row 4632: Address: Calle de Nuria, 32, Madrid
Latitude: 40.4954416, Longitude: -3.7119502

Row 4633: Address: Avenida Santuario de Valverde, 85, Madrid
Latitude: 40.5041425, Longitude: -3.7089029

Row 4634: Address: CUEVA DE MONTESINOS, Madrid
Latitude: 40.4989817, Longitude: -3.6900817

Row 4635: No result found for address: Calle de Nuestra Se�ora de Valverde s/n, Madrid

Row 4636: No result found for address: Calle Santuario de Valverde s/n, Madrid

Row 4637: Address: Paseo Tierra de Melide, Madrid
Latitude: 40.5080492, Longitude: -3.6659407

Row 4638: Address: Calle Valle de Mena, 12, Madrid
Latitude: 40.4705061, Longitude: -3.7174074

Row 4639: Address: Avenida Monforte de Lemos, Madrid, Madrid
Latitude: 40.4786143, Longitude: -3.709417

Row 4640: Address: Calle de la Mas�, Madrid
Latitude: 28.1302263, Longitude: -15.4338667

Row 4641: Address: Calle Caballero de la Triste Figura, Madrid
Latitude: 40.5027817, Longitude: -3.6904679

Row 4642: Address: insula barataria, Madrid
Latitude: 40.50514365, Longitude: -3.687193118640682

Row 4643: Address: Islas C�es, Madrid
Latitude: 39.4992642, Longitude: 2.7539057

Row 4644: No result found for address: Calle de Hospital de �rbigo, 7, Madrid

Row 4645: Address: Calle Ligonde, Madrid
Latitude: 40.5117336, Longitude: -3.6679301

Row 4646: Address: NURIA, Madrid
Latitude: 40.4286843, Longitude: -3.7031176

Row 4647: Address: Calle de los Gavilanes, Madrid
Latitude: 40.4770884, Longitude: -3.7387791

Row 4648: No result found for address: Calle CERRO DEL CASTA�AR, Madrid

Row 4649: Address: Puente la Reina, Madrid
Latitude: 40.42474545, Longitude: -3.726679599999996

Row 4650: Address: Calle Manresa, Madrid
Latitude: 40.4915782, Longitude: -3.690058

Row 4651: Address: Nuria, Madrid
Latitude: 40.4286843, Longitude: -3.7031176

Row 4652: Address: Calle julio palacios, Madrid
Latitude: 40.4831972, Longitude: -3.6938148

Row 4653: Address: San Juan de Ortega, Madrid
Latitude: 40.5084767, Longitude: -3.6743598

Row 4654: Address: Calle de Fresnedillas, Madrid
Latitude: 40.478444, Longitude: -3.7412605

Row 4655: No result found for address: Juan S�nchez, Madrid

Row 4656: Address: Calle de Moralzarzal, Madrid, Madrid
Latitude: 40.489722, Longitude: -3.7050531

Row 4657: Address: Calle de la Costa Brava, Madrid
Latitude: 40.4948288, Longitude: -3.7014322

Row 4658: Address: Calle Inocencio Fernandez, Madrid
Latitude: 40.4771193, Longitude: -3.7311358

Row 4659: Address: Islas Cies, Madrid
Latitude: 40.4801674, Longitude: -3.718388

Row 4660: Address: Avenida del Monasterio de Silos, 82, Madrid
Latitude: 40.5002832, Longitude: -3.714978

Row 4661: Address: Avenida del Monasterio de Silos, 75, Madrid
Latitude: 40.5002832, Longitude: -3.714978

Row 4662: Address: Calle Mario Recuero, Madrid
Latitude: 40.4794636, Longitude: -3.7279905

Row 4663: Address: Calle Isla Graciosa, Madrid
Latitude: 40.4931139, Longitude: -3.6855021

Row 4664: Address: Calle Arzobispo Morcillo, Madrid
Latitude: 40.4831045, Longitude: -3.6975941

Row 4665: Address: ISLAS MARQUESAS, 16, Madrid
Latitude: 40.4761587, Longitude: -3.7262124

Row 4666: Address: Calle Vicente Jimeno, 6, Madrid
Latitude: 40.4760108, Longitude: -3.7377118

Row 4667: No result found for address: Calle de Hospital de �rbigo, 3, Madrid

Row 4668: Address: Ronda del Caballero de la Mancha, 6, Madrid
Latitude: 40.5032917, Longitude: -3.6905278

Row 4669: Address: Calle Monasterio de El Paular, 146, Madrid
Latitude: 40.50254355, Longitude: -3.699411128122236

Row 4670: Address: Calle Cantalejo, Madrid
Latitude: 40.4369625, Longitude: -3.6553582

Row 4671: Address: Rosalia de Castro, Madrid
Latitude: 40.4219628, Longitude: -3.703458

Row 4672: Address: Mario Recuero, 8, Madrid
Latitude: 40.4794636, Longitude: -3.7279905

Row 4673: No result found for address: Calle de Nuestra Se�ora de Valverde, 181, Madrid

Row 4674: No result found for address: Calle de La Ba�eza, 43, Madrid

Row 4675: No result found for address: Calle Cerro del Casta�ar, 193, Madrid

Row 4676: Address: Calle del Monasterio de las Batuecas, 32, Madrid
Latitude: 40.5063105, Longitude: -3.704227879782665

Row 4677: No result found for address: Calle Cerro de Valdemart�n s/n, Madrid

Row 4678: Address: Avenida del Santuario de Valverde, 77, Madrid
Latitude: 40.5132579, Longitude: -3.6898979

Row 4679: Address: Calle Braille, Madrid
Latitude: 40.4964938, Longitude: -3.6945334

Row 4680: Address: Calle de la Isla de Java, Madrid
Latitude: 40.4878741, Longitude: -3.6805379

Row 4681: Address: Pablo Gargallo, Madrid
Latitude: 40.4760822, Longitude: -3.7344592

Row 4682: Address: Calle de la Costa Brava, 31, Madrid
Latitude: 40.4948288, Longitude: -3.7014322

Row 4683: Address: Calle del Monasterio de las Batuecas, 23, Madrid
Latitude: 40.505831799999996, Longitude: -3.7053738566928107

Row 4684: Address: Calle de Moralzarzal, 104, Madrid
Latitude: 40.49591165, Longitude: -3.714520428506033

Row 4685: Address: Calle de Juan Sanchez, Madrid
Latitude: 40.4743428, Longitude: -3.7190487

Row 4686: Address: Calle Manuel Garrido, 5, Madrid
Latitude: 40.4739259, Longitude: -3.7305959

Row 4687: No result found for address: Calle de la Pe�a del Cuervo, Madrid

Row 4688: Address: Calle de Cantalejo, Madrid, Madrid
Latitude: 40.4732854, Longitude: -3.7357592

Row 4689: No result found for address: Calle de Ram�n G�mez de la Serna, 41, Madrid

Row 4690: No result found for address: Padormelo, Madrid

Row 4691: Address: Calle Costa Brava , 14, Madrid
Latitude: 40.6348349, Longitude: -4.0185213

Row 4692: Address: Calle de Palas de Rey, Madrid
Latitude: 40.5046604, Longitude: -3.6636677

Row 4693: No result found for address: Calle de Adriano de Utrecht, Madrid

Row 4694: Address: Ronda Manuel Granero, Madrid
Latitude: 40.4580877, Longitude: -3.629873

Row 4695: No result found for address: Avenida de los Madro�os, Madrid

Row 4696: Address: Calle de Ana de Austria, Madrid
Latitude: 40.5003956, Longitude: -3.6541682

Row 4697: No result found for address: Urb. CONDE ORGAZ, Madrid

Row 4698: Address: Calle Serramagna, Madrid
Latitude: 40.4574469, Longitude: -3.6340912

Row 4699: No result found for address: Calle Villamiel de C�ceres, Madrid

Row 4700: Address: Calle de Bueso de Pineda, Madrid
Latitude: 40.4520599, Longitude: -3.6591936

Row 4701: No result found for address: Avenida de los Madro�os, Madrid, Madrid

Row 4702: No result found for address: Urb. LUJO., Madrid

Row 4703: Address: Avenida Carondelet, Madrid
Latitude: 40.4506496, Longitude: -3.6441845

Row 4704: No result found for address: Calle de Dulce Chac�n, Madrid

Row 4705: No result found for address: Urb. Asura, Madrid

Row 4706: Address: Avenida Juan Antonio Samaranch, 141, Madrid
Latitude: 40.4849081, Longitude: -3.6154882

Row 4707: Address: JOSE MIGUEL GURIDI, Madrid
Latitude: 40.4596468, Longitude: -3.6348234

Row 4708: Address: Calle Guadalajara s/n, Madrid
Latitude: 40.4494299, Longitude: -3.6147774

Row 4709: No result found for address: Urb. conde orgaz, Madrid

Row 4710: Address: Ronda Abubilla, Madrid
Latitude: 40.4545094, Longitude: -3.6340198

Row 4711: Address: Calle Santa Virgilia, Madrid, Madrid
Latitude: 40.4768334, Longitude: -3.6429273

Row 4712: No result found for address: Urb. algabe�o, Madrid

Row 4713: No result found for address: Urb. Conde de Orgaz, Madrid

Row 4714: No result found for address: Urb. Arturo Soria, Madrid

Row 4715: Address: Calle del Moscatelar s/n, Madrid
Latitude: 40.4570977, Longitude: -3.6493712

Row 4716: No result found for address: Avenida de los madro�os, 71, Madrid

Row 4717: Address: Avenida de los Prunos s/n, Madrid
Latitude: 40.4537109, Longitude: -3.6191539

Row 4718: Address: Av. Machupichu, Madrid, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 4719: No result found for address: AM�RICO CASTRO, Madrid

Row 4720: Address: COSTA DEL SOL, Madrid
Latitude: 40.4745042, Longitude: -3.6519958

Row 4721: Address: Calle Paula de la Vega, Madrid
Latitude: 40.470976, Longitude: -3.6435853

Row 4722: Address: Calle de Alcorisa, Madrid
Latitude: 40.4616965, Longitude: -3.6397938

Row 4723: Address: Calle Valverde de la Virgen, Madrid
Latitude: 40.4811503, Longitude: -3.6334428

Row 4724: Address: Avenida de San Luis, Madrid
Latitude: 40.471953, Longitude: -3.6531521

Row 4725: Address: Calle de Silvano, Madrid
Latitude: 40.4595489, Longitude: -3.6424189

Row 4726: Address: Calle Totana, Madrid
Latitude: 40.4722411, Longitude: -3.6533782

Row 4727: No result found for address: Calle de L�pez de Hoyos, Madrid

Row 4728: Address: Calle Infante Diego, Madrid
Latitude: 40.4992216, Longitude: -3.654617

Row 4729: Address: Avenida del Papa Negro s/n, Madrid
Latitude: 40.4552767, Longitude: -3.6290564

Row 4730: No result found for address: Calle Juli�n Hern�ndez, Madrid

Row 4731: Address: Avenida de los Andes, Madrid
Latitude: 40.4575102, Longitude: -3.6177287

Row 4732: Address: BARON DE LA TORRE, Madrid
Latitude: 40.5786988, Longitude: -3.9496142

Row 4733: Address: jose rizal, Madrid
Latitude: 40.457467, Longitude: -3.6264451

Row 4734: Address: Calle Ana de Austria, 83, Madrid
Latitude: 40.4097659, Longitude: -3.8817856

Row 4735: Address: Calle Jaenar s/n, Madrid
Latitude: 40.4539807, Longitude: -3.649279

Row 4736: Address: Calle Alcalde Henche de la Plata, Madrid
Latitude: 40.4900934, Longitude: -3.649883

Row 4737: Address: Avenida de los Arces, Madrid s/n, Madrid
Latitude: 40.4556271, Longitude: -3.6179395

Row 4738: No result found for address: Calle G�mez de Baquero, Madrid

Row 4739: No result found for address: Calle Juli�n Hern�ndez, Madrid, Madrid

Row 4740: Address: Ronda de Sobradiel, Madrid
Latitude: 40.4521776, Longitude: -3.638807

Row 4741: No result found for address: madro�os, Madrid

Row 4742: Address: Calle Castillo de Aysa, 25, Madrid
Latitude: 40.4585788, Longitude: -3.63518

Row 4743: Address: Calle Pedro Bautista Pino, Madrid
Latitude: 40.4555971, Longitude: -3.6276075

Row 4744: Address: Avenida Isabel de Valois, Madrid
Latitude: 40.4915754, Longitude: -3.6636359

Row 4745: No result found for address: Calle Fern�ndez Llamazares, Madrid

Row 4746: No result found for address: Urb. Conde Orgaz, Madrid

Row 4747: No result found for address: Calle de Jos� Rizal, Madrid

Row 4748: Address: Calle de la Toronga, Madrid, Madrid
Latitude: 40.4564221, Longitude: -3.6504718

Row 4749: No result found for address: Calle de Mar�a de las Mercedes de Borb�n, Madrid

Row 4750: Address: Calle Villa de Churriana, Madrid
Latitude: 40.4644249, Longitude: -3.6461826

Row 4751: Address: Calle Nevado del Ruiz, Madrid
Latitude: 40.4700979, Longitude: -3.6353082

Row 4752: Address: Maria de Portugal, Madrid
Latitude: 40.4995985, Longitude: -3.6602169

Row 4753: No result found for address: Calle de Am�rico Castro, Madrid

Row 4754: Address: Calle Cardenal Tavera, Madrid
Latitude: 40.4791467, Longitude: -3.3714793

Row 4755: No result found for address: Calle de las Cuevas de Almanzora, Madrid

Row 4756: Address: Carril del Conde, 60, Madrid
Latitude: 40.4634223, Longitude: -3.6530472

Row 4757: Address: Americo Castro, Madrid
Latitude: 40.4932127, Longitude: -3.6570584

Row 4758: Address: Calle de Balaguer, Madrid
Latitude: 40.3412069, Longitude: -3.5205126

Row 4759: Address: Calle del Mar Caspio, Madrid
Latitude: 40.4733857, Longitude: -3.6482348

Row 4760: Address: Calle de Tribaldos, Madrid
Latitude: 40.4677194, Longitude: -3.6336542

Row 4761: No result found for address: Calle de A�astro, Madrid

Row 4762: Address: Calle de la Toronga, Madrid
Latitude: 40.4564221, Longitude: -3.6504718

Row 4763: No result found for address: Calle �ngel Cavero, Madrid

Row 4764: No result found for address: Vicente Blasco Ib��ez, Madrid

Row 4765: No result found for address: Calle de Jos� Rizal, Madrid, Madrid

Row 4766: Address: Calle Julio Casares, Madrid
Latitude: 40.489312, Longitude: -3.646505

Row 4767: Address: Avenida de Manoteras, Madrid, 8, Madrid
Latitude: 40.488024, Longitude: -3.6713331

Row 4768: Address: Calle Olimpo, Madrid
Latitude: 40.4559167, Longitude: -3.6477381

Row 4769: Address: Urb. chalet 1, Madrid
Latitude: -0.2460149, Longitude: -79.1543171

Row 4770: Address: Calle de Cuevas de Almanzora, 77, Madrid
Latitude: 40.4758365, Longitude: -3.6609521

Row 4771: Address: Calle de Francisco Mosqueda, Madrid
Latitude: 40.4637314, Longitude: -3.6280634

Row 4772: No result found for address: Calle del S�ndalo, Madrid

Row 4773: Address: Avenida de Manoteras, 8, Madrid
Latitude: 40.488024, Longitude: -3.6713331

Row 4774: Address: Calle del Mar Menor, Madrid
Latitude: 40.4750917, Longitude: -3.6437769

Row 4775: No result found for address: Calle mar cant�brico, Madrid

Row 4776: Address: Calle de Andorra, Madrid
Latitude: 40.4612842, Longitude: -3.6456539

Row 4777: Address: Carretera de Canillas, Madrid
Latitude: 40.4629991, Longitude: -3.657648

Row 4778: Address: Calle Infanta Maria, Madrid
Latitude: 40.4539877, Longitude: -3.6791251

Row 4779: Address: LIDO, 7, Madrid
Latitude: 40.45652925, Longitude: -3.652933416638611

Row 4780: Address: Avenida del Papa Negro, 7, Madrid
Latitude: 40.45197505, Longitude: -3.633087317225482

Row 4781: No result found for address: Calle de Somont�n, Madrid

Row 4782: Address: Avenida MACHUPICHU, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 4783: Address: Calle Andes, 23, Madrid
Latitude: 40.5029519, Longitude: -3.5073149

Row 4784: Address: Calle Grama, 62, Madrid
Latitude: 40.4757205, Longitude: -3.628817

Row 4785: No result found for address: Calle Ur�a, Madrid

Row 4786: Address: Calle SANTA SUSANA, Madrid
Latitude: 40.4799411, Longitude: -3.6476551

Row 4787: Address: Calle Santa Susana, Madrid
Latitude: 40.4799411, Longitude: -3.6476551

Row 4788: Address: Calle de Gomeznarro, Madrid
Latitude: 40.4604427, Longitude: -3.6526264

Row 4789: No result found for address: Calle Agust�n Calvo, Madrid

Row 4790: No result found for address: Calle Andr�s Obispo, Madrid

Row 4791: Address: MACHUPICHU, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 4792: Address: Avenida de Secundino Zuazo, Madrid
Latitude: 40.4951896, Longitude: -3.6115825

Row 4793: Address: Avenida Manuel Fraga Iribarne, 38, Madrid
Latitude: 40.4863651, Longitude: -3.6082982

Row 4794: No result found for address: Calle de Mar�a de Portugal, Madrid

Row 4795: No result found for address: Avenida de Logro�o, Madrid

Row 4796: Address: Calle Biosca, Madrid
Latitude: 40.4704812, Longitude: -3.6505142

Row 4797: Address: Avenida del Papa Negro, 119, Madrid
Latitude: 40.4552767, Longitude: -3.6290564

Row 4798: Address: Tribaldos, Madrid
Latitude: 40.4677194, Longitude: -3.6336542

Row 4799: Address: Calle Isabel Clara Eugenia, Madrid
Latitude: 40.4918497, Longitude: -3.6497386

Row 4800: No result found for address: Calle Princesa de �boli, Madrid

Row 4801: No result found for address: Calle de Dulce Chac�n, 45, Madrid

Row 4802: Address: Camino Olivar, Madrid
Latitude: 40.4769454, Longitude: -3.6283786

Row 4803: Address: Avenida machupichu, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 4804: Address: MAR DE ARAL, Madrid
Latitude: 40.474403, Longitude: -3.6434743

Row 4805: Address: Avenida de los Arces, Madrid
Latitude: 40.4556271, Longitude: -3.6179395

Row 4806: Address: Machaquito, Madrid
Latitude: 40.4562089, Longitude: -3.6285819

Row 4807: No result found for address: Calle de Carmen Rico Godoy, Madrid

Row 4808: Address: Avenida Virgen del Carmen, Madrid
Latitude: 40.4737945, Longitude: -3.6541511

Row 4809: Address: Camino del olivar, Madrid
Latitude: 40.4769454, Longitude: -3.6283786

Row 4810: No result found for address: Calle de las Cuevas de Almanzora, 55, Madrid

Row 4811: Address: Calle del Pintor Brenes, Madrid
Latitude: 40.4686605, Longitude: -3.649471

Row 4812: Address: Avenida Machupichu, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 4813: No result found for address: Urb. Privada con piscina, �rea deportiva, seguridad 24h, Madrid

Row 4814: Address: Calle Santa Adela, Madrid
Latitude: 40.4787133, Longitude: -3.6493859

Row 4815: Address: Calle Ricardo San Juan, Madrid
Latitude: 40.46372, Longitude: -3.6528747

Row 4816: Address: Pinar del Rey, Madrid
Latitude: 40.4724696, Longitude: -3.6489613

Row 4817: No result found for address: Calle de Estanislao G�mez, Madrid

Row 4818: No result found for address: Urb. RESIDENCIAL GUADALUPE, Madrid

Row 4819: No result found for address: Urb. Los Apolos, Madrid

Row 4820: No result found for address: Calle �ngel Luis de la Herr�n, Madrid

Row 4821: No result found for address: Gran V�a de Hortaleza, 54, Madrid

Row 4822: Address: Calle Calanda, 14, Madrid
Latitude: 40.4609467, Longitude: -3.6440982

Row 4823: Address: Calle Yarumal, Madrid
Latitude: 40.4741399, Longitude: -3.6401435

Row 4824: No result found for address: Calle Popay�n, Madrid

Row 4825: Address: Calle Murias de Paredes, Madrid
Latitude: 40.4819913, Longitude: -3.633036

Row 4826: Address: Calle Mahonia, Madrid
Latitude: 40.456653, Longitude: -3.6192951

Row 4827: Address: Calle de Tribaldos, 21, Madrid
Latitude: 40.4677194, Longitude: -3.6336542

Row 4828: No result found for address: Calle Rogelio Mu�oz s/n, Madrid

Row 4829: No result found for address: Urb. Campo de las Naciones, Madrid

Row 4830: Address: Avenida de la Virgen del Carmen, Madrid
Latitude: 40.4737945, Longitude: -3.6541511

Row 4831: Address: Calle Gualanday, Madrid
Latitude: 40.4718482, Longitude: -3.6325993

Row 4832: No result found for address: Avenida de los madro�os, Madrid

Row 4833: Address: Calle de Cuevas de Almanzora, Madrid
Latitude: 40.4758365, Longitude: -3.6609521

Row 4834: No result found for address: Calle del Santo �ngel, Madrid, Madrid

Row 4835: No result found for address: Calle Jordi Sol� Tura, 8, Madrid

Row 4836: Address: Lavanda, Madrid
Latitude: 40.4553817, Longitude: -3.6266553

Row 4837: Address: Calle Diego Hurtado de Mendoza, 3, Madrid
Latitude: 40.492694, Longitude: -3.6559364

Row 4838: Address: guamo, Madrid
Latitude: 40.4724357, Longitude: -3.6331308

Row 4839: Address: Avenida de los Prunos, Madrid
Latitude: 40.4537109, Longitude: -3.6191539

Row 4840: Address: Avenida de Celio Villalba, Madrid
Latitude: 40.4750456, Longitude: -3.6395773

Row 4841: Address: Av. de Machupichu, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 4842: Address: CESAR CORT BOTI, 85, Madrid
Latitude: 40.4939978, Longitude: -3.6129664

Row 4843: Address: Calle de Andorra, Madrid, 107, Madrid
Latitude: 40.4612842, Longitude: -3.6456539

Row 4844: Address: Moratalla, Madrid
Latitude: 40.4730825, Longitude: -3.6552556

Row 4845: Address: av. niceto alcala zamora, Madrid
Latitude: 40.2976888, Longitude: -3.7548998

Row 4846: Address: Azagra, Madrid
Latitude: 40.4747313, Longitude: -3.6456931

Row 4847: No result found for address: Calle DE JOS� RIZAL, Madrid

Row 4848: No result found for address: Calle de Ram�n Power, Madrid

Row 4849: Error geocoding address 'Calle Paula de la vega, 10, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Paula+de+la+vega%2C+10%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4850: No result found for address: Calle Jos� Antonio Fern�ndez Ord��ez, 38, Madrid

Row 4851: Address: Calle ANDORRA, Madrid
Latitude: 40.4612842, Longitude: -3.6456539

Row 4852: No result found for address: Calle M� de las Mercedes de Borb�n esq c/ Jordi Sol� Tura s/n, Madrid

Row 4853: Address: Calle Palermo, Madrid
Latitude: 40.4591577, Longitude: -3.649548

Row 4854: No result found for address: Urb. Conde de Orgaz - Piovera, Madrid

Row 4855: No result found for address: Urb. No mostrar direcci�n, Madrid

Row 4856: Address: Avenida de los Andes, Madrid, 22, Madrid
Latitude: 40.4548272, Longitude: -3.6208604

Row 4857: No result found for address: Urb. PARQUE CONDE DE ORGAZ, Madrid

Row 4858: Address: Calle DE BUESO DE PINEDA, Madrid
Latitude: 40.4520599, Longitude: -3.6591936

Row 4859: No result found for address: Calle Jos� Miguel Guridi, Madrid

Row 4860: Address: Calle Alejandro Villegas , 3, Madrid
Latitude: 40.4653495, Longitude: -3.6489016

Row 4861: No result found for address: Calle Mar�a de las Mercedes de Borb�n, 196, 204, Madrid

Row 4862: No result found for address: Calle de Jos� Rizal, 47, Madrid

Row 4863: No result found for address: Calle Madro�os, 29, Madrid

Row 4864: Address: Avenida Isabel de Valois, 22, Madrid
Latitude: 40.4915754, Longitude: -3.6636359

Row 4865: Address: Calle Roquetas de Mar s/n, Madrid
Latitude: 36.7225604, Longitude: -4.2649423

Row 4866: Address: Avenida de Juan Antonio Samaranch, 76, Madrid
Latitude: 40.4849081, Longitude: -3.6154882

Row 4867: No result found for address: Urb. Valdebebas - Hortaleza, Madrid

Row 4868: No result found for address: Urb. Campo de las Naciones - Palomas, Madrid

Row 4869: Address: Calle de Purchena, 36, Madrid
Latitude: 40.4758826, Longitude: -3.6641414

Row 4870: No result found for address: Urb. Puerta de Chamart�n, Madrid

Row 4871: Address: Alejandro Villegas, 3, Madrid
Latitude: 40.4653495, Longitude: -3.6489016

Row 4872: Address: americo castro, 96, Madrid
Latitude: 40.4921472, Longitude: -3.6582106

Row 4873: Address: Calle de la Liberacion, 37, Madrid
Latitude: 40.470905, Longitude: -3.6427246

Row 4874: No result found for address: Gran V�a de Hortaleza, Madrid, 5, Madrid

Row 4875: No result found for address: Avenida Francisco Pi y Margal, 79, Madrid

Row 4876: Address: Calle Balaguer, 12, Madrid
Latitude: 40.4711146, Longitude: -3.6517494

Row 4877: No result found for address: Calle de Mar�a de las Mercedes de Borb�n, 236, Madrid

Row 4878: Address: Calle Rafaela Aparicio, Madrid
Latitude: 40.4792821, Longitude: -3.6340454

Row 4879: Address: Calle del Olivar, 2, Madrid
Latitude: 40.41224, Longitude: -3.7017158

Row 4880: No result found for address: Gran V�a de Hortaleza, 50, Madrid

Row 4881: Address: Avenida de Francisco Pi y Margall, 86, Madrid
Latitude: 40.4928393, Longitude: -3.6630664

Row 4882: Address: Calle de Andorra, 57, Madrid
Latitude: 40.4592192, Longitude: -3.6446289

Row 4883: Address: Calle del Moscatelar, Madrid
Latitude: 40.4570977, Longitude: -3.6493712

Row 4884: No result found for address: Avenida de los Madro�os , 27, Madrid

Row 4885: Address: Calle GUADALAJARA, Madrid
Latitude: 41.048299, Longitude: -2.2060517679247695

Row 4886: No result found for address: Calle MANUEL COM�N, Madrid

Row 4887: Address: MANOTERAS, Madrid
Latitude: 40.4766992, Longitude: -3.662679

Row 4888: No result found for address: Calle de las Pedro�eras, Madrid

Row 4889: Address: Calle de Machaquito, Madrid
Latitude: 40.4562089, Longitude: -3.6285819

Row 4890: Address: Calle Alejandro Villegas, Madrid
Latitude: 40.4653495, Longitude: -3.6489016

Row 4891: Address: Avenida Isabel de Valois, 82, Madrid
Latitude: 40.4915754, Longitude: -3.6636359

Row 4892: Address: Avenida de Secundino Zuazo, 20, Madrid
Latitude: 40.4951896, Longitude: -3.6115825

Row 4893: No result found for address: Calle de L�pez de Hoyos, 353, Madrid

Row 4894: No result found for address: Avenida Niceto Alcal� Zamora, Madrid

Row 4895: Address: Ronda de Cala Basa, Madrid
Latitude: 40.4599116, Longitude: -3.638672

Row 4896: Address: Calle Calasparra, Madrid
Latitude: 40.4722516, Longitude: -3.6555188

Row 4897: No result found for address: Avenida Logro�o, 10, Madrid

Row 4898: No result found for address: Calle de Vicente Blasco Ib��ez, 54, Madrid

Row 4899: Address: Calle Parma, Madrid
Latitude: 40.4564662, Longitude: -3.6494712

Row 4900: No result found for address: Avenida de Logro�o, 10, Madrid

Row 4901: No result found for address: Calle Gustavo P�rez Puig, 8, Madrid

Row 4902: Address: Calle de Ana de Austria, 52, Madrid
Latitude: 40.4959787, Longitude: -3.6557267

Row 4903: Address: Calle Santa Virgilia, 19, Madrid
Latitude: 40.47703745, Longitude: -3.641054902395055

Row 4904: Address: Calle Motilla del Palancar, Madrid
Latitude: 40.4662343, Longitude: -3.6329409

Row 4905: Address: Avenida de Francisco Pi y Margall, 84, Madrid
Latitude: 40.4928393, Longitude: -3.6630664

Row 4906: No result found for address: Calle de C�sar Cort Bot�, Madrid

Row 4907: Address: Calle Juan Belmonte, Madrid, Madrid
Latitude: 40.453413, Longitude: -3.6388464

Row 4908: Address: Calle Rafaela Aparicio, 14, Madrid
Latitude: 40.4792821, Longitude: -3.6340454

Row 4909: Address: Calle Isabel Clara Eugenia, Madrid, Madrid
Latitude: 40.4918497, Longitude: -3.6497386

Row 4910: No result found for address: Calle de Jos� Rizal, 174, Madrid

Row 4911: No result found for address: Plaza Villalc�zar de Sirga, 4, Madrid

Row 4912: Address: Manuel Pombo Angulo s/n, Madrid
Latitude: 40.5057156, Longitude: -3.6525627

Row 4913: Address: Calle Manuel Pombo Angulo, Madrid
Latitude: 40.5057156, Longitude: -3.6525627

Row 4914: Address: Calle de Pegaso, Madrid
Latitude: 40.3069318, Longitude: -3.8680792

Row 4915: Address: Velez Rubio s/n, Madrid
Latitude: 40.475593, Longitude: -3.664503

Row 4916: Address: Avenida de Machupichu, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 4917: No result found for address: Calle de las Sic�lidas, Madrid

Row 4918: Address: Calle isabel de valois, 82, Madrid
Latitude: 40.4096355, Longitude: -3.8833175

Row 4919: Address: Avenida de San Luis, Madrid, 80, Madrid
Latitude: 40.471953, Longitude: -3.6531521

Row 4920: No result found for address: Calle Princesa de �boli, 9, Madrid

Row 4921: Address: BELIANES, Madrid
Latitude: 40.4703199, Longitude: -3.6455651

Row 4922: No result found for address: Calle V�lez Rubio, 80, Madrid

Row 4923: Address: Calle de O�a, Madrid
Latitude: 38.38890215, Longitude: -0.5058792913205261

Row 4924: No result found for address: Plaza Nuestra Se�ora del Tr�nsito, Madrid

Row 4925: Address: Cervera, Madrid
Latitude: 40.3704139, Longitude: -3.6200987

Row 4926: No result found for address: Avenida de Manoteras, 30, 30, Madrid

Row 4927: Address: TORREGROSA, Madrid
Latitude: 40.4243075, Longitude: -3.6635593

Row 4928: Address: Calle Rafael Vega, Madrid
Latitude: 40.4656681, Longitude: -3.6342665

Row 4929: Address: Calle Belianes, Madrid
Latitude: 40.4703199, Longitude: -3.6455651

Row 4930: No result found for address: Calle Baranoa, Madrid

Row 4931: Address: BALAGUER, Madrid
Latitude: 40.4646037, Longitude: -3.6422109

Row 4932: Address: Calle de Torquemada, 21, Madrid
Latitude: 40.4685246, Longitude: -3.6393535

Row 4933: Address: Avenida de Machupichu, 11, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 4934: No result found for address: Calle de Mar�a de Portugal, 30, Madrid

Row 4935: No result found for address: Avenida de Niceto Alcal� Zamora, Madrid

Row 4936: Address: Calle de Florencio Castillo, 48, Madrid
Latitude: 40.4608102, Longitude: -3.6254419

Row 4937: No result found for address: Calle de Am�rico Castro, 3, Madrid

Row 4938: Address: Plaza Liceo, 3, Madrid
Latitude: 40.4572455, Longitude: -3.6446319

Row 4939: No result found for address: Calle Sanl�car de Barrameda, 10, Madrid

Row 4940: Address: Calle de Ana de Austria, 34, Madrid
Latitude: 40.4959787, Longitude: -3.6557267

Row 4941: Address: Calle Valdecaleras, 19, Madrid
Latitude: 40.464374, Longitude: -3.6468291

Row 4942: Address: Avenida Papa negro, Madrid
Latitude: 40.4552767, Longitude: -3.6290564

Row 4943: Address: Avenida de los Arces, 1, Madrid
Latitude: 40.4556271, Longitude: -3.6179395

Row 4944: No result found for address: Calle Vizconde de Uzqueta, 2, Madrid

Row 4945: Address: Calle Vicente Morales, 2, Madrid
Latitude: 40.4616154, Longitude: -3.6372236

Row 4946: No result found for address: Urb. La Piovera, Madrid

Row 4947: Address: Calle Americo castro, Madrid
Latitude: 40.4932127, Longitude: -3.6570584

Row 4948: No result found for address: Calle Op�n, Madrid

Row 4949: Address: Calle Peonias, Madrid
Latitude: 40.4506402, Longitude: -3.6210526

Row 4950: Address: Calle Guadalajara, Madrid
Latitude: 41.048299, Longitude: -2.2060517679247695

Row 4951: Address: Avenida de los arces, Madrid
Latitude: 40.4556271, Longitude: -3.6179395

Row 4952: Address: Calle del Estrecho de Mesina, Madrid, Madrid
Latitude: 40.4528048, Longitude: -3.6506067

Row 4953: Address: Princesa de Eboli, 94, Madrid
Latitude: 40.4916262, Longitude: -3.6568023

Row 4954: No result found for address: Calle Princesa de �boli, 24, Madrid

Row 4955: No result found for address: Urb. Palomas - Piovera, Madrid

Row 4956: Address: Calle Chima, 4, Madrid
Latitude: 40.4742647, Longitude: -3.6351803434408714

Row 4957: Address: Calle de Valdetorres de Jarama, 9, Madrid
Latitude: 40.47208185, Longitude: -3.645906303078008

Row 4958: Address: Calle de Ana de Austria, 29, Madrid
Latitude: 40.4959787, Longitude: -3.6557267

Row 4959: Address: ISLA DE CUBA, 8, Madrid
Latitude: 40.451221, Longitude: -3.6116913

Row 4960: No result found for address: Avenida de la Gran V�a de Hortaleza, 5, Madrid

Row 4961: Address: Sanchinarro, Madrid
Latitude: 40.4931887, Longitude: -3.6564023

Row 4962: No result found for address: Calle V�lez Rubio, Madrid

Row 4963: Address: Calle Santa Susana, 44, Madrid
Latitude: 40.4798414, Longitude: -3.6474708

Row 4964: No result found for address: Calle Vizonde de Uzqueta, 2, Madrid

Row 4965: Address: Calle Santa Susana, 32, Madrid
Latitude: 40.4792355, Longitude: -3.6465223

Row 4966: No result found for address: Calle de los Hermanos Gasc�n, 3, Madrid

Row 4967: No result found for address: Am�rico Castro, 78, Madrid

Row 4968: No result found for address: Calle de Dulce Chac�n, 33, Madrid

Row 4969: Error geocoding address 'Calle de O�a, 93, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+O%EF%BF%BDa%2C+93%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4970: Address: Calle Grama, 56, Madrid
Latitude: 40.4757205, Longitude: -3.628817

Row 4971: Address: Isabel de valois, 80, Madrid
Latitude: 40.4955028, Longitude: -3.6577214

Row 4972: Address: Calle de Alicun, 8, Madrid
Latitude: 40.47929955, Longitude: -3.6586244540728217

Row 4973: Address: Calle de Valdetorres de Jarama, 6, Madrid
Latitude: 40.4710267, Longitude: -3.6461972

Row 4974: No result found for address: Calle Luis Jim�nez de As�a, 31, Madrid

Row 4975: No result found for address: Calle de Adriano de Utrecht, 1, Madrid

Row 4976: Address: Calle de Andorra, 37, Madrid
Latitude: 40.4603935, Longitude: -3.6455871

Row 4977: Address: Calle Torregrosa, 9, Madrid
Latitude: 40.4713316, Longitude: -3.6481755

Row 4978: No result found for address: Calle de A�astro, 17, Madrid

Row 4979: Address: Calle de Mota del Cuervo, 2, Madrid
Latitude: 40.4649075, Longitude: -3.6349915

Row 4980: Address: Avenida de Manoteras, 10, Madrid
Latitude: 40.48837015, Longitude: -3.671225565077928

Row 4981: Address: Calle Alonso Saavedra, 25, Madrid
Latitude: 40.4711076, Longitude: -3.6617042

Row 4982: Address: Calle de Carrion de los Condes, 67, Madrid
Latitude: 40.4755266, Longitude: -3.6582288

Row 4983: Address: Calle del Golfo de Salonica, 42, Madrid
Latitude: 40.4801684, Longitude: -3.6626839051141067

Row 4984: Address: Calle Torregrosa, 33, Madrid
Latitude: 40.4713316, Longitude: -3.6481755

Row 4985: Address: Calle de Alejandro Villegas, 3, Madrid
Latitude: 40.4653495, Longitude: -3.6489016

Row 4986: Error geocoding address 'Calle de O�a, 7, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+O%EF%BF%BDa%2C+7%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4987: Address: Avenida de los Andes, 23, Madrid
Latitude: 40.658956, Longitude: -3.7741895

Row 4988: Address: Calle Antonio Cavero, 45, Madrid
Latitude: 40.4607079, Longitude: -3.6550771

Row 4989: Error geocoding address 'Calle de O�a, 13, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+O%EF%BF%BDa%2C+13%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 4990: Address: Calle de Andorra, 100 -115, Madrid
Latitude: 40.4612842, Longitude: -3.6456539

Row 4991: Address: Avenida de los Arces, 25, Madrid
Latitude: 40.4556271, Longitude: -3.6179395

Row 4992: No result found for address: Calle de F�lix Candela, 65, Madrid

Row 4993: No result found for address: Avenida de los Madro�os, 27, Madrid

Row 4994: No result found for address: Calle de Navaleno, 5, Madrid

Row 4995: No result found for address: Calle N�poles, Madrid

Row 4996: Address: Calle Guadalajara, 3, Madrid
Latitude: 40.3058342, Longitude: -3.732302

Row 4997: Address: Calle dulce chacon, 23, Madrid
Latitude: 40.4854531, Longitude: -3.667197

Row 4998: Address: Belianes, Madrid
Latitude: 40.4703199, Longitude: -3.6455651

Row 4999: Address: Calle Barichara, 2, Madrid
Latitude: 40.4760152, Longitude: -3.6376912947642683

Row 5000: Address: CL BARICHARA, 2, Madrid
Latitude: 40.4760152, Longitude: -3.6376912947642683

Row 5001: Address: Tribaldos 38, Madrid
Latitude: 40.4671233, Longitude: -3.6375677

Row 5002: Address: Calle Calanda, Madrid
Latitude: 40.4624287, Longitude: -3.6420185

Row 5003: Address: TORQUEMADA, Madrid
Latitude: 40.46514, Longitude: -3.639436

Row 5004: Address: Calle Camelias, 14, Madrid
Latitude: 40.6395612, Longitude: -4.011485

Row 5005: Address: Avenida Isabel de Valois, 33, Madrid
Latitude: 40.4915754, Longitude: -3.6636359

Row 5006: No result found for address: Calle de A�astro, 23, Madrid

Row 5007: Address: Calle Santa Susana, 33, Madrid
Latitude: 40.477666, Longitude: -3.6465542

Row 5008: No result found for address: Calle del S�ndalo, 3, Madrid

Row 5009: No result found for address: Calle de vicente blasco ib��ez, 33, Madrid

Row 5010: Error geocoding address 'Calle Paula de la Vega, 10, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Paula+de+la+Vega%2C+10%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 5011: Address: Calle De Getino, 4, Madrid
Latitude: 40.4686605, Longitude: -3.649471

Row 5012: No result found for address: Calle del S�ndalo, 5, Madrid

Row 5013: Address: Calle de la Grama, 44, Madrid
Latitude: 40.4780943, Longitude: -3.6282538

Row 5014: Address: Calle Pedro�eras, 36, Madrid
Latitude: 40.4104591, Longitude: -4.0017858

Row 5015: No result found for address: Calle Moj�car, Madrid

Row 5016: Address: Avenida de la Virgen del Carmen, 20, Madrid
Latitude: 40.4737945, Longitude: -3.6541511

Row 5017: Address: Calle Grama, Madrid
Latitude: 40.4757205, Longitude: -3.628817

Row 5018: Address: Calle Roquetas de Mar, Madrid, Madrid
Latitude: 36.7225604, Longitude: -4.2649423

Row 5019: Address: Calle Francisco Palomo, Madrid, Madrid
Latitude: 40.4743119, Longitude: -3.6492817

Row 5020: No result found for address: Urb. Delicias 21, 5�B, Madrid

Row 5021: No result found for address: Calle de L�pez de Hoyos, 373, Madrid

Row 5022: Address: Calle de los Arcos, 5, Madrid
Latitude: 40.4787412, Longitude: -3.6450582

Row 5023: Address: Avenida Machupichu, 31, Madrid
Latitude: 40.4589301, Longitude: -3.626694298574056

Row 5024: Address: Calle del Pintor Antonio Saura, 2, Madrid
Latitude: 40.4848222, Longitude: -3.6539669

Row 5025: No result found for address: Avenida de Niceto Alcal� Zamora, 11, Madrid

Row 5026: No result found for address: Calle Somont�n, 51, Madrid

Row 5027: Address: Calle de Gomeznarro, 76, Madrid
Latitude: 40.4604427, Longitude: -3.6526264

Row 5028: No result found for address: Gran V�a de Hortaleza, 5, Madrid

Row 5029: Address: Calle Quilichao, 6, Madrid
Latitude: 40.47227705, Longitude: -3.6348186934561912

Row 5030: Address: Calle Manuel Pombo Angulo, 12, Madrid
Latitude: 40.5057156, Longitude: -3.6525627

Row 5031: No result found for address: Calle de L�pez de Hoyos, 476, Madrid

Row 5032: Address: Calle de Silvano, 107, Madrid
Latitude: 40.4628944, Longitude: -3.6327139

Row 5033: Address: Urb. ESPERANZA, Madrid
Latitude: -16.4919883, Longitude: -68.1912449

Row 5034: Address: Calle Isabel Clara Eugenia, 45, Madrid
Latitude: 40.4938547, Longitude: -3.6538752

Row 5035: Address: Calle de Bueso de Pineda, 55, Madrid
Latitude: 40.4520599, Longitude: -3.6591936

Row 5036: No result found for address: Calle Dulce Chac�n, 45, Madrid

Row 5037: Address: Calle de somontin, 35, Madrid
Latitude: 40.478382, Longitude: -3.6589223

Row 5038: Address: Calle Santa Virgilia, 12, Madrid
Latitude: 40.4768334, Longitude: -3.6429273

Row 5039: Address: Calle de Torquemada, 22, Madrid
Latitude: 40.468129, Longitude: -3.6397359

Row 5040: No result found for address: Calle Gran Via de Hortaleza, 5, Madrid

Row 5041: No result found for address: Calle de Dulce Chac�n, 23, Madrid

Row 5042: No result found for address: Calle Princesa de �boli, 94, Madrid

Row 5043: Address: Calle Cervera, 22, Madrid
Latitude: 40.4720238, Longitude: -3.6512467

Row 5044: Address: Urb. Urbanizacion EL BOSQUE, Madrid
Latitude: -12.1079284, Longitude: -76.9926402

Row 5045: No result found for address: Urb. Parque Conde de Orgaz, Madrid

Row 5046: No result found for address: carri�n de los condes, 50, Madrid

Row 5047: Address: Calle de Alejandro Villegas, Madrid
Latitude: 40.4653495, Longitude: -3.6489016

Row 5048: Address: Calle Manuel Pombo Angulo, 24, Madrid
Latitude: 40.5057156, Longitude: -3.6525627

Row 5049: No result found for address: Calle Peon�as, 13, Madrid

Row 5050: Address: Calle Manuel Pombo Angulo, 18, Madrid
Latitude: 40.5069625, Longitude: -3.6556001

Row 5051: No result found for address: Calle S�nchez Guerrero, 12, Madrid

Row 5052: Address: Calle Canamar, 13, Madrid
Latitude: 40.4584616, Longitude: -3.6535225

Row 5053: Address: Calle del Estrecho de Mesina, 13, Madrid
Latitude: 40.4528048, Longitude: -3.6506067

Row 5054: Address: Calle santa virgilia, 29, Madrid
Latitude: 40.476538649999995, Longitude: -3.639853365411593

Row 5055: No result found for address: Calle de Navaleno, 17, Madrid

Row 5056: No result found for address: Calle de las Sic�lidas, 10, Madrid

Row 5057: Address: Calle Rafaela Aparicio, 10, Madrid
Latitude: 40.4792821, Longitude: -3.6340454

Row 5058: Error geocoding address 'Calle de O�a, 157, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+O%EF%BF%BDa%2C+157%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 5059: Address: Calle de Machaquito, 58, Madrid
Latitude: 40.4562089, Longitude: -3.6285819

Row 5060: Address: Calle Pobla de Segur, 1, Madrid
Latitude: 40.4675206, Longitude: -3.6560572

Row 5061: Address: Calle Olimpo, 33, Madrid
Latitude: 40.4559167, Longitude: -3.6477381

Row 5062: Address: Calle de Esteban Palacios, 7, Madrid
Latitude: 40.4582824, Longitude: -3.6234444

Row 5063: Address: Calle Galatea, 23, Madrid
Latitude: 40.4518099, Longitude: -3.6109484

Row 5064: Address: Calle de Ana de Austria, 57, Madrid
Latitude: 40.4959787, Longitude: -3.6557267

Row 5065: Address: Avenida de Manoteras, 38, Madrid
Latitude: 40.48674975, Longitude: -3.66548631194296

Row 5066: No result found for address: Calle de Somont�n, 63, Madrid

Row 5067: Address: Calle de Mota del Cuervo, 54, Madrid
Latitude: 40.4643864, Longitude: -3.6343458

Row 5068: No result found for address: Avenida de Francisco Javier S�enz de Oiza, 46, Madrid

Row 5069: No result found for address: Calle de L�pez de Hoyos, 470, Madrid

Row 5070: No result found for address: Calle de las Pedro�eras, 10, Madrid

Row 5071: Address: Calle de Andorra, 51, Madrid
Latitude: 40.4594719, Longitude: -3.6456487

Row 5072: Address: Avenida de Secundino Zuazo, 4, Madrid
Latitude: 40.4951896, Longitude: -3.6115825

Row 5073: No result found for address: Calle de Mar�a de las Mercedes de Borb�n, 232, Madrid

Row 5074: No result found for address: Calle MONTEARAG�N, Madrid

Row 5075: No result found for address: Calle de L�pez de Hoyos, 347, Madrid

Row 5076: No result found for address: Avenida jose antonio samaranch, Madrid

Row 5077: No result found for address: niceto alcal� zamora, Madrid

Row 5078: Address: Estanislao Gomez, Madrid
Latitude: 40.4525627, Longitude: -3.6092395

Row 5079: Address: AMERICO CASTRO, Madrid
Latitude: 40.4932127, Longitude: -3.6570584

Row 5080: No result found for address: Calle Olimpo, 33 exterior, Madrid

Row 5081: Address: Calle Biosca, 2, Madrid
Latitude: 40.4704108, Longitude: -3.6498421

Row 5082: No result found for address: Calle Agust�n Calvo, 4, Madrid

Row 5083: Address: Calle Liebre, Madrid
Latitude: 40.45811, Longitude: -3.6480036

Row 5084: No result found for address: Calle Montearag�n, 5, Madrid

Row 5085: Address: Calle de Miranda de Arga, Madrid s/n, Madrid
Latitude: 40.4760631, Longitude: -3.6488636

Row 5086: No result found for address: Calle Princesa de �boli, Madrid, 16, Madrid

Row 5087: Address: Roquetas del mar, Madrid
Latitude: 40.2748197, Longitude: -3.9179906

Row 5088: Address: Calle Francisco Palomo, Madrid
Latitude: 40.4743119, Longitude: -3.6492817

Row 5089: Address: isla de cuba, 8, Madrid
Latitude: 40.451221, Longitude: -3.6116913

Row 5090: Address: Motilla del Palancar, Madrid
Latitude: 40.464706, Longitude: -3.6343409

Row 5091: Address: Plaza Alcalde Moreno Torres, Madrid
Latitude: 40.48607225, Longitude: -3.653437485444532

Row 5092: Address: Calle de Alonso Saavedra, Madrid, Madrid
Latitude: 40.4698457, Longitude: -3.6665993

Row 5093: Address: Avenida de los Arces, 7, Madrid
Latitude: 40.4556271, Longitude: -3.6179395

Row 5094: Address: Santa Virgilia, Madrid
Latitude: 40.4768576, Longitude: -3.6426521

Row 5095: Address: Calle Bacares, 40, Madrid
Latitude: 40.4750643, Longitude: -3.6607131

Row 5096: Address: Calle Alfacar, Madrid
Latitude: 40.4773539, Longitude: -3.6478327

Row 5097: Address: Avenida de Machupichu, 37, Madrid
Latitude: 40.45951545, Longitude: -3.6276870922715494

Row 5098: Address: UTRILLAS, Madrid
Latitude: 40.4627195, Longitude: -3.6441728

Row 5099: Address: Avenida del Papa Negro, Madrid, Madrid
Latitude: 40.4552767, Longitude: -3.6290564

Row 5100: Address: BARICHARA, Madrid
Latitude: 40.4759003, Longitude: -3.6371913

Row 5101: Address: Avenida VIRGEN DEL CARMEN, Madrid
Latitude: 40.4737945, Longitude: -3.6541511

Row 5102: No result found for address: Calle de Belisana, Madrid, Madrid

Row 5103: No result found for address: Calle Montearag�n, Madrid

Row 5104: Address: Plaza de monterrey, Madrid
Latitude: 40.4733485, Longitude: -3.66241

Row 5105: No result found for address: Calle Agust�n Calvo, Madrid, Madrid

Row 5106: Address: Calle Alcalde Henche de la Plata, 7, Madrid
Latitude: 40.4880885, Longitude: -3.6497306

Row 5107: No result found for address: Avenida Francisco Javier S�enz de Oiza confluencia Fina de Calder�n y F�lix Candela s/n, Madrid

Row 5108: No result found for address: Urb. Sanchinarro, Madrid

Row 5109: No result found for address: Calle Joaqu�n Cimas, Madrid

Row 5110: No result found for address: Calle Princesa de �boli, 102, Madrid

Row 5111: Address: Calle Colios, 1, Madrid
Latitude: 40.4515501, Longitude: -3.6167638

Row 5112: No result found for address: Calle de Dulce Chac�n, 39, Madrid

Row 5113: Address: Calle Cuevas de Almanzora, 31, Madrid
Latitude: 40.4769499, Longitude: -3.6577713

Row 5114: Address: Calle Pobla de Segur, Madrid
Latitude: 40.4675206, Longitude: -3.6560572

Row 5115: No result found for address: Calle N�poles, 33, Madrid

Row 5116: No result found for address: Calle Miguel �ngel Asturias, 6, Madrid

Row 5117: Address: Calle de Trefacio, Madrid
Latitude: 40.4665582, Longitude: -3.6348323

Row 5118: No result found for address: Calle V�lez Rubio, 183, Madrid

Row 5119: Address: Calle Motilla del Palancar, 25, Madrid
Latitude: 40.4662343, Longitude: -3.6329409

Row 5120: No result found for address: Calle de Solsona, 12, Madrid

Row 5121: Address: Calle de Tribaldos, 11, Madrid
Latitude: 40.4677194, Longitude: -3.6336542

Row 5122: Address: Arzua, 4, Madrid
Latitude: 40.4741344, Longitude: -3.6457269

Row 5123: No result found for address: Gran V�a de Hortaleza, 55, Madrid

Row 5124: Address: Calle del Golfo de Salonica, 24, Madrid
Latitude: 40.4760553, Longitude: -3.6656941

Row 5125: Address: Calle de Bueso de Pineda, 62, Madrid
Latitude: 40.4520599, Longitude: -3.6591936

Row 5126: Address: Plaza Manuel Rodrigo, 11, Madrid
Latitude: 40.4603672, Longitude: -3.6334273138332254

Row 5127: No result found for address: Calle de Am�rico Castro, 106, Madrid

Row 5128: Address: Calle Dionisio Inca Yupanqui, 17, Madrid
Latitude: 40.4618667, Longitude: -3.6323861

Row 5129: Address: Avenida de Francisco Pi y Margall, 88, Madrid
Latitude: 40.4928393, Longitude: -3.6630664

Row 5130: Address: Avenida Carondelet, 18, Madrid
Latitude: 40.4506496, Longitude: -3.6441845

Row 5131: Address: Calle Antonio Cavero, 44, Madrid
Latitude: 40.4607079, Longitude: -3.6550771

Row 5132: Address: Calle Solsona, Madrid
Latitude: 40.4716354, Longitude: -3.6510906

Row 5133: Address: Avenida de Manoteras, 30, Madrid
Latitude: 40.4880283, Longitude: -3.666106

Row 5134: Address: Calle Americo Castro, Madrid
Latitude: 40.4932127, Longitude: -3.6570584

Row 5135: No result found for address: Calle Calle Prov Parque Valdebebas 21, 63, 21, Madrid

Row 5136: Address: americo castro, Madrid
Latitude: 40.4932127, Longitude: -3.6570584

Row 5137: Address: Calle de Ulises, Madrid
Latitude: 40.4560247, Longitude: -3.6560055

Row 5138: No result found for address: Calle Papa Negro, Madrid

Row 5139: Address: Calle Eras, Madrid
Latitude: 40.4751844, Longitude: -3.641333

Row 5140: Address: Calle Chaparral, Madrid
Latitude: 40.4712402, Longitude: -3.6391942

Row 5141: Address: Rafael Vega, Madrid
Latitude: 40.4656681, Longitude: -3.6342665

Row 5142: Address: Calle Santa Virgilia, Madrid
Latitude: 40.4768334, Longitude: -3.6429273

Row 5143: Address: ISABEL DE VALOIS, Madrid
Latitude: 40.5001504, Longitude: -3.6555685

Row 5144: Address: Avenida de los Prunos, 11, Madrid
Latitude: 40.4537109, Longitude: -3.6191539

Row 5145: No result found for address: Calle del Andarr�os, Madrid

Row 5146: No result found for address: Calle de Am�rico Castro, 26, Madrid

Row 5147: Address: Calle Lido, Madrid
Latitude: 40.4562984, Longitude: -3.6515873

Row 5148: Address: Calle de Lorca, Madrid
Latitude: 40.4722299, Longitude: -3.6556624

Row 5149: No result found for address: Plaza Villalc�zar de Sirga, Madrid

Row 5150: Address: Avenida DE MANOTERAS, Madrid
Latitude: 40.4863028, Longitude: -3.6652435

Row 5151: Address: TOTANA, Madrid
Latitude: 40.4735743, Longitude: -3.6540582

Row 5152: Address: Calle de Miranda de Arga, Madrid
Latitude: 40.4760631, Longitude: -3.6488636

Row 5153: Address: Dulce Chacon, Madrid
Latitude: 40.4854531, Longitude: -3.667197

Row 5154: Address: santa susana, Madrid
Latitude: 40.4763679, Longitude: -3.6467722

Row 5155: Address: alcorisa, Madrid
Latitude: 40.4616965, Longitude: -3.6397938

Row 5156: Address: Avenida de Manoteras, Madrid, 30, Madrid
Latitude: 40.4880283, Longitude: -3.666106

Row 5157: Address: Calle del Mar de Aral, Madrid
Latitude: 40.474403, Longitude: -3.6434743

Row 5158: Address: Calle Cardenal Tavera, 4, Madrid
Latitude: 40.4791467, Longitude: -3.3714793

Row 5159: Address: Calle Yarumal, 2, Madrid
Latitude: 40.4736841, Longitude: -3.6400587801099857

Row 5160: No result found for address: Calle Am�rico Castro, 114, Madrid

Row 5161: Address: Calle Ana de Austria, 51, Madrid
Latitude: 40.4097659, Longitude: -3.8817856

Row 5162: No result found for address: Avenida de los Madro�os, 19, Madrid

Row 5163: Address: CARDENAL TAVERA, 6, Madrid
Latitude: 40.4945206, Longitude: -3.6588174

Row 5164: Address: Avenida Arroyo del Santo, Madrid
Latitude: 40.452093, Longitude: -3.6215686

Row 5165: Address: cuevas del almanzora, Madrid
Latitude: 40.4768186, Longitude: -3.6594697

Row 5166: No result found for address: Avenida de la Gran V�a de Hortaleza, 5 -, Madrid

Row 5167: Address: Carondelet, Madrid
Latitude: 40.4506496, Longitude: -3.6441845

Row 5168: Address: Avenida Papa Negro, Madrid
Latitude: 40.4552767, Longitude: -3.6290564

Row 5169: Address: YARUMAL, 2, Madrid
Latitude: 40.4736841, Longitude: -3.6400587801099857

Row 5170: Address: Calle de Torquemada, 12, Madrid
Latitude: 40.4662547, Longitude: -3.6399897

Row 5171: Address: Carril del Conde, Madrid
Latitude: 40.4634223, Longitude: -3.6530472

Row 5172: No result found for address: Calle de Am�rico Castro, 120, Madrid

Row 5173: No result found for address: Calle M�ntrida, Madrid

Row 5174: No result found for address: Calle de Canapiare, Madrid

Row 5175: Address: Ronda de la Avutarda, Madrid, Madrid
Latitude: 40.4539082, Longitude: -3.6358319

Row 5176: No result found for address: Calle Pr�ncipe Carlos, Madrid

Row 5177: Address: Ronda de la Avutarda, 28043, Madrid
Latitude: 40.4539082, Longitude: -3.6358319

Row 5178: Address: Calle de Montemayor de Pililla, Madrid
Latitude: 40.4620412, Longitude: -3.6521426

Row 5179: Address: Pegaso, Madrid
Latitude: 40.3910969, Longitude: -3.6949838

Row 5180: Address: Calle de Esteban Palacios, Madrid
Latitude: 40.4582952, Longitude: -3.6239343

Row 5181: No result found for address: Calle Hip�lito Aragon�s, Madrid

Row 5182: Address: Maria Tudor, Madrid
Latitude: 40.4976043, Longitude: -3.6584428

Row 5183: Address: Calle Carmen Rico Godoy, 124, Madrid
Latitude: 40.4862745, Longitude: -3.6330538

Row 5184: No result found for address: Calle Agust�n Calvo , 37, Madrid

Row 5185: No result found for address: Calle DE DULCE CHAC�N, Madrid

Row 5186: Address: Avenida DE FRANCISCO PI Y MARGALL, Madrid
Latitude: 40.4928393, Longitude: -3.6630664

Row 5187: No result found for address: Calle MAR�A DE PORTUGAL, Madrid

Row 5188: Address: Calle Antonio Larrazabal, 25, Madrid
Latitude: 40.4593585, Longitude: -3.6298416

Row 5189: No result found for address: Estanislao G�mez, LA PIOVERA s/n, Madrid

Row 5190: No result found for address: Avenida de la Gran V�a Hortaleza, Madrid

Row 5191: No result found for address: Calle de Am�rico Castro, 3 B, Madrid

Row 5192: Address: Calle de Josefina Carabias, Madrid
Latitude: 40.4786187, Longitude: -3.630048

Row 5193: No result found for address: Urb. Parque Conde Orgaz, Madrid

Row 5194: Address: Camino de Montoro s/n, Madrid
Latitude: 40.4821138, Longitude: -3.6278543

Row 5195: Address: dulce chacon, Madrid
Latitude: 40.4854531, Longitude: -3.667197

Row 5196: No result found for address: Calle de Am�rico Castro, 72, Madrid

Row 5197: Address: Calle Mar de Om�n s/n, Madrid
Latitude: 40.4167047, Longitude: -3.7035825

Row 5198: Address: Calle de Pegaso, 15, Madrid
Latitude: 40.3069318, Longitude: -3.8680792

Row 5199: No result found for address: Calle del Andarr�os, 9, Madrid

Row 5200: Address: Calle Guadalajara, 36, Madrid
Latitude: 40.37207575, Longitude: -3.524195635302391

Row 5201: Address: Avenida de Francisco Pi y Margall, Madrid
Latitude: 40.4928393, Longitude: -3.6630664

Row 5202: No result found for address: Calle de el Algabe�o, Madrid

Row 5203: Address: Avenida de los Andes, Madrid, Madrid
Latitude: 40.4575102, Longitude: -3.6177287

Row 5204: No result found for address: Avenida de los madro�os, 27, Madrid

Row 5205: Address: Ana de Austria, Madrid
Latitude: 40.491931300000005, Longitude: -3.667054292939458

Row 5206: No result found for address: Calle del Andarr�os, Madrid, 9, Madrid

Row 5207: No result found for address: Gran V�a de Hortaleza, Madrid

Row 5208: No result found for address: Calle de Maragater�a, 78, Madrid

Row 5209: Address: Calle RAFAELA APARICIO, Madrid
Latitude: 40.4792821, Longitude: -3.6340454

Row 5210: Address: Avenida Manoteras, 10, Madrid
Latitude: 40.48837015, Longitude: -3.671225565077928

Row 5211: No result found for address: Avad. Francisco Pi y Margall, Madrid

Row 5212: Address: Avenida del Papa Negro, Madrid
Latitude: 40.4552767, Longitude: -3.6290564

Row 5213: Address: Calle de Zapatoca, Madrid
Latitude: 40.4714856, Longitude: -3.6336654

Row 5214: No result found for address: Calle de Am�rico Castro, 114, Madrid

Row 5215: Address: Calle Barichara, Madrid
Latitude: 40.4759003, Longitude: -3.6371913

Row 5216: No result found for address: Calle de Navaleno, 8, Madrid

Row 5217: Address: Manzanar, 32, Madrid
Latitude: 40.4653134, Longitude: -3.6495932

Row 5218: Address: Calle de Cuevas de Almanzora, 28, Madrid
Latitude: 40.4758365, Longitude: -3.6609521

Row 5219: Address: Calle de Mota del Cuervo, Madrid
Latitude: 40.4643864, Longitude: -3.6343458

Row 5220: Address: Ronda de la Avutarda, Madrid
Latitude: 40.4539082, Longitude: -3.6358319

Row 5221: Address: Avenida FRANCISCO PI Y MARGALL, Madrid
Latitude: 40.4928393, Longitude: -3.6630664

Row 5222: No result found for address: Calle Mar de Om�n, Madrid

Row 5223: Address: Calle Ana de Austria, Madrid
Latitude: 40.4097659, Longitude: -3.8817856

Row 5224: Address: Calle de Tribaldos, 5, Madrid
Latitude: 40.4672883, Longitude: -3.6329558

Row 5225: Address: Machupichu, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 5226: Address: chicuelo, Madrid
Latitude: 40.5898602, Longitude: -3.872113

Row 5227: No result found for address: Calle de Jos� Rizal, Madrid, 79, Madrid

Row 5228: Address: jose miguel guridi, Madrid
Latitude: 40.4596468, Longitude: -3.6348234

Row 5229: Address: Avenida de Machupichu, 24, Madrid
Latitude: 40.4592355, Longitude: -3.626225

Row 5230: Address: Calle Benita �vila, 2, Madrid
Latitude: 40.4653474, Longitude: -3.6505036

Row 5231: Address: Calle de Alonso Saavedra, Madrid
Latitude: 40.4698457, Longitude: -3.6665993

Row 5232: No result found for address: Calle de Belisana, Madrid

Row 5233: Address: Calle de Valdecaleras, Madrid
Latitude: 40.464374, Longitude: -3.6468291

Row 5234: Address: Calle Tamalameque, 12, Madrid
Latitude: 40.472642449999995, Longitude: -3.63567780466296

Row 5235: No result found for address: Avenida de la Abubilla s/n, Madrid

Row 5236: Address: Cacabelos, 53, Madrid
Latitude: 40.4831488, Longitude: -3.6337112

Row 5237: Address: Calle jaenar, Madrid
Latitude: 40.4539807, Longitude: -3.649279

Row 5238: Address: Avenida DE LOS ARCES, Madrid
Latitude: 40.4556271, Longitude: -3.6179395

Row 5239: Address: Avenida Manoteras, 38, Madrid
Latitude: 40.48674975, Longitude: -3.66548631194296

Row 5240: No result found for address: Calle Benita �vila, Madrid

Row 5241: Address: Avenida Francisco Pi y Margall, Madrid
Latitude: 40.4928393, Longitude: -3.6630664

Row 5242: Address: Esteban Palacios, Madrid
Latitude: 40.4581772, Longitude: -3.6234663

Row 5243: Address: Calle Aldaya, Madrid
Latitude: 40.4774094, Longitude: -3.6481181

Row 5244: Address: Calle Tolima, Madrid
Latitude: 40.4715747, Longitude: -3.6326505

Row 5245: No result found for address: Calle de Vicente Blasco Ib��ez, 23, Madrid

Row 5246: Address: Calle de Ana de Austria s/n, Madrid
Latitude: 40.4959787, Longitude: -3.6557267

Row 5247: No result found for address: Calle de Jos� Rizal, 79, Madrid

Row 5248: Address: Ronda Manuel Granero, 69, Madrid
Latitude: 40.4580877, Longitude: -3.629873

Row 5249: No result found for address: Armon�a, 32, Madrid

Row 5250: Address: machupichu, Madrid
Latitude: 40.4565428, Longitude: -3.6239247

Row 5251: Address: Ronda de la Abubilla, Madrid
Latitude: 40.4545094, Longitude: -3.6340198

Row 5252: Address: Calle Antonio Cavero, Madrid
Latitude: 40.4607079, Longitude: -3.6550771

Row 5253: Address: Calle Serramagna, Madrid, Madrid
Latitude: 40.4574469, Longitude: -3.6340912

Row 5254: Address: Isabel de Valois, Madrid
Latitude: 40.5001504, Longitude: -3.6555685

Row 5255: Address: Avenida Isabel de Valois, Madrid, Madrid
Latitude: 40.4915754, Longitude: -3.6636359

Row 5256: Address: Calle Emigrantes, 10, Madrid
Latitude: 40.4671847, Longitude: -3.6370345

Row 5257: No result found for address: Calle de los Hermanos Gasc�n, 36, Madrid

Row 5258: Address: Calle Cardenal Tavera, 2, Madrid
Latitude: 40.4791467, Longitude: -3.3714793

Row 5259: Address: Calle Serramagna, 6, Madrid
Latitude: 40.4574469, Longitude: -3.6340912

Row 5260: No result found for address: algabe�o, 53, Madrid

Row 5261: Address: Antonio Cavero, Madrid
Latitude: 40.4607079, Longitude: -3.6550771

Row 5262: No result found for address: Calle Francisco Jos� Arroyo, Madrid

Row 5263: Address: pedro�eras, Madrid
Latitude: 40.4104591, Longitude: -4.0017858

Row 5264: No result found for address: Urb. Conde Orgaz Everyprop.com, Madrid

Row 5265: Address: Calle Roquetas de Mar, Madrid
Latitude: 36.7225604, Longitude: -4.2649423

Row 5266: Address: Calle del Golfo de Salonica s/n, Madrid
Latitude: 40.4760553, Longitude: -3.6656941

Row 5267: Address: Pombo Angulo, Madrid
Latitude: 40.5057156, Longitude: -3.6525627

Row 5268: No result found for address: Calle Arz�a, Madrid

Row 5269: Address: Calle Rafaela Aparicio, 14 B, Madrid
Latitude: 40.4792821, Longitude: -3.6340454

Row 5270: Address: Avenida de Juan Antonio Samaranch, 121, Madrid
Latitude: 40.4849081, Longitude: -3.6154882

Row 5271: Address: Plaza Villalcazar de Sirga, 4, Madrid
Latitude: 40.4739804, Longitude: -3.6607669

Row 5272: Address: Calle Cuevas de Almanzora s/n, Madrid
Latitude: 40.4769499, Longitude: -3.6577713

Row 5273: Address: Calle Isabel Clara Eugenia, 10, Madrid
Latitude: 40.4866541, Longitude: -3.6487613

Row 5274: Error geocoding address 'Calle Bar�n de la Torre, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Bar%EF%BF%BDn+de+la+Torre%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 5275: Address: Cardenal Tavera, Madrid
Latitude: 40.4945206, Longitude: -3.6588174

Row 5276: Address: santa virgilia, Madrid
Latitude: 40.4768576, Longitude: -3.6426521

Row 5277: Address: Calle Mesena, 14, Madrid
Latitude: 40.4615488, Longitude: -3.6593919

Row 5278: Address: Calle Seo de Urgel, Madrid
Latitude: 40.467475, Longitude: -3.6542237

Row 5279: Address: Isabel de valois, Madrid
Latitude: 40.5001504, Longitude: -3.6555685

Row 5280: No result found for address: Princesa de Evoli, Madrid

Row 5281: Address: conde de las posadas, Madrid
Latitude: 40.4536957, Longitude: -3.615086

Row 5282: Address: Biosca, Madrid
Latitude: 40.4704812, Longitude: -3.6505142

Row 5283: Address: Calle de Torquemada, Madrid
Latitude: 40.46514, Longitude: -3.639436

Row 5284: No result found for address: Calle de Vicente Blasco Ib��ez, Madrid

Row 5285: Address: Pombo Angulo s/n, Madrid
Latitude: 40.5057156, Longitude: -3.6525627

Row 5286: Address: Urb. Urbanizacion Guadalupe, Madrid
Latitude: 13.7817467, Longitude: -89.176664

Row 5287: Address: Calle Pedro Romero, Madrid
Latitude: 40.4529198, Longitude: -3.6423094

Row 5288: No result found for address: Calle Mil�n, 26, Madrid

Row 5289: Address: Andarrios, Madrid
Latitude: 40.4551601, Longitude: -3.6315011

Row 5290: Address: Ronda Abubilla, Madrid, Madrid
Latitude: 40.4521719, Longitude: -3.6334342

Row 5291: Address: Sandalo, Madrid
Latitude: 40.4272828, Longitude: -3.7035558

Row 5292: No result found for address: Calle Liberaci�n, 9, Madrid

Row 5293: No result found for address: Calle de las Pedro�eras, 16, Madrid

Row 5294: Address: Calle Javier del Quinto, Madrid
Latitude: 40.4649986, Longitude: -3.6424017

Row 5295: No result found for address: Calle del Andarr�os s/n, Madrid

Row 5296: Address: Avenida Papa Negro, Madrid, Madrid
Latitude: 40.4552767, Longitude: -3.6290564

Row 5297: No result found for address: Calle de El Espa�oleto, 15, Madrid

Row 5298: Address: Calle Juan de Austria, Madrid
Latitude: 40.298017, Longitude: -3.4333595

Row 5299: No result found for address: Calle Agust�n de Betancourt, 23, Madrid

Row 5300: Address: General Arrando, Madrid
Latitude: 40.4317271, Longitude: -3.6949452

Row 5301: No result found for address: Calle de Mar�a de Guzm�n, Madrid

Row 5302: No result found for address: Juli�n Romea, 9, Madrid

Row 5303: Address: Calle de Alonso Cano, Madrid
Latitude: 40.4428631, Longitude: -3.6974228

Row 5304: Address: Calle DEL MAESTRO ANGEL LLORCA, Madrid
Latitude: 40.4437504, Longitude: -3.7141448

Row 5305: Address: Calle SANTA ENGRACIA, Madrid
Latitude: 40.4452676, Longitude: -3.703173

Row 5306: Address: ZURBANO, Madrid
Latitude: 40.42794255, Longitude: -3.6940964195305517

Row 5307: Address: Calle ALENZA, Madrid
Latitude: 40.4442609, Longitude: -3.7005334

Row 5308: Address: Calle GAZTAMBIDE, Madrid
Latitude: 40.4344864, Longitude: -3.7155481

Row 5309: No result found for address: Paseo del General Mart�nez Campos, Madrid

Row 5310: No result found for address: Calle General Martinez Campos, Madrid

Row 5311: No result found for address: Calle de Fernando el Cat�lico, Madrid

Row 5312: Address: Calle Ponzano, Madrid
Latitude: 40.4376642, Longitude: -3.699407

Row 5313: No result found for address: Urb. Almagro Prime, Madrid

Row 5314: Address: Paseo de San Francisco de Sales, Madrid
Latitude: 40.4439585, Longitude: -3.7104431

Row 5315: No result found for address: Calle de Guzm�n el Bueno, 46, Madrid

Row 5316: No result found for address: Calle Fernando Cat�lico, Madrid

Row 5317: Address: Calle Francisco de Rojas, 2, Madrid
Latitude: 40.4287392, Longitude: -3.6993587

Row 5318: No result found for address: Calle de Montele�n, Madrid

Row 5319: Address: Calle de Ponzano, Madrid
Latitude: 40.4376642, Longitude: -3.699407

Row 5320: Address: Calle de Luchana, Madrid
Latitude: 40.4323607, Longitude: -3.6977335

Row 5321: Address: Alberto Aguilera, Madrid
Latitude: 40.4123792, Longitude: -3.7027161

Row 5322: Address: Calle de Galileo, Madrid
Latitude: 40.4362474, Longitude: -3.7101179

Row 5323: No result found for address: Calle de Guzm�n el Bueno, Madrid

Row 5324: No result found for address: Calle de Joaqu�n Mar�a L�pez, Madrid

Row 5325: No result found for address: Calle de Melqu�ades �lvarez, Madrid

Row 5326: Address: Calle de Gaztambide, Madrid
Latitude: 40.4344864, Longitude: -3.7155481

Row 5327: No result found for address: Calle Morej�n, Madrid

Row 5328: Address: Calle de Santa Engracia, Madrid
Latitude: 40.4452676, Longitude: -3.703173

Row 5329: Address: Calle de Maudes, Madrid
Latitude: 40.4452324, Longitude: -3.6977731

Row 5330: Address: Calle de Galileo, 2, Madrid
Latitude: 40.4302752, Longitude: -3.7103348

Row 5331: Address: Paseo San Francisco de Sales, Madrid
Latitude: 40.4439585, Longitude: -3.7104431

Row 5332: Address: Calle monteleon, Madrid
Latitude: 40.4301209, Longitude: -3.7045927

Row 5333: Address: Calle del Cardenal Cisneros, Madrid
Latitude: 40.4349107, Longitude: -3.7029855

Row 5334: Address: Raimundo Fernandez Villaverde, Madrid
Latitude: 40.4462942, Longitude: -3.6933335

Row 5335: Address: Isaac Peral, Madrid
Latitude: 40.4358502, Longitude: -3.7182177

Row 5336: No result found for address: Calle de Guzm�n el Bueno, 9, Madrid

Row 5337: Address: Calle de Viriato, 12, Madrid
Latitude: 40.4359894, Longitude: -3.7033781

Row 5338: Address: Calle de Blasco de Garay, Madrid
Latitude: 40.4362414, Longitude: -3.7113374

Row 5339: No result found for address: Calle Donoso Cort�s, Madrid

Row 5340: Address: Santa Engracia, Madrid
Latitude: 40.4280227, Longitude: -3.6955996

Row 5341: No result found for address: Calle de El Espa�oleto, Madrid

Row 5342: Address: Calle de Caracas, Madrid
Latitude: 40.4307322, Longitude: -3.6951902

Row 5343: Address: Calle de Vallehermoso, Madrid
Latitude: 40.4399709, Longitude: -3.7081772

Row 5344: No result found for address: Calle de Rodr�guez San Pedro, Madrid

Row 5345: No result found for address: Calle Ponce de Le�n, Madrid

Row 5346: No result found for address: Calle de Jos� Abascal, Madrid, 52, Madrid

Row 5347: Address: Calle de miguel angel, Madrid
Latitude: 40.4365344, Longitude: -3.6912406

Row 5348: Address: Calle DE ALBERTO AGUILERA, Madrid
Latitude: 40.4305604, Longitude: -3.7161447

Row 5349: Address: Calle de jose abascal, Madrid
Latitude: 40.4380714, Longitude: -3.6918663

Row 5350: No result found for address: Calle de R�os Rosas, Madrid

Row 5351: Address: Calle general asensio cabanillas, Madrid
Latitude: 40.4447818, Longitude: -3.7125196

Row 5352: No result found for address: MODESTO LA FUENTE, Madrid

Row 5353: Address: Avenida de Filipinas, Madrid, Madrid
Latitude: 40.4405936, Longitude: -3.7086703

Row 5354: Address: Calle DE GALILEO, Madrid
Latitude: 40.4362474, Longitude: -3.7101179

Row 5355: Address: Calle de Espronceda, Madrid
Latitude: 40.4405573, Longitude: -3.696109

Row 5356: Address: Plaza de Olavide, 12, Madrid
Latitude: 40.4327531, Longitude: -3.7003904

Row 5357: Address: Glorieta de Quevedo, Madrid
Latitude: 40.4334915, Longitude: -3.7040476

Row 5358: Address: ponzano, Madrid
Latitude: 40.4375735, Longitude: -3.6993104

Row 5359: Address: Calle de Max Aub, 4, Madrid
Latitude: 40.4437447, Longitude: -3.7140209

Row 5360: No result found for address: Calle de Jos� Abascal, Madrid

Row 5361: No result found for address: Calle de Cea Berm�dez, 65, Madrid

Row 5362: No result found for address: Calle Hilari�n Eslava, 20, Madrid

Row 5363: Address: Calle de Fernando el Santo, 25, Madrid
Latitude: 40.428132, Longitude: -3.6907537

Row 5364: Address: Calle de Ponzano, 69, Madrid
Latitude: 40.4425741, Longitude: -3.6991028

Row 5365: Address: Calle de Andres Mellado, Madrid
Latitude: 40.4411156, Longitude: -3.7138021

Row 5366: No result found for address: Calle del Maestro �ngel Llorca, Madrid

Row 5367: Address: CEA BERMUDEZ, Madrid
Latitude: 40.4386973, Longitude: -3.708787

Row 5368: No result found for address: Calle de Fern�ndez de la Hoz, 48, Madrid

Row 5369: Address: Calle de Isaac Peral, 42, Madrid
Latitude: 40.438574, Longitude: -3.7176039

Row 5370: Address: Calle de Vallehermoso, 104, Madrid
Latitude: 40.4373551, Longitude: -3.7083991

Row 5371: Address: PONZANO, Madrid
Latitude: 40.4375735, Longitude: -3.6993104

Row 5372: No result found for address: Plaza del Conde del Valle de S�chil, Madrid

Row 5373: Address: rio rosas, 48, Madrid
Latitude: 40.4257471, Longitude: -3.6006842

Row 5374: No result found for address: Calle del Marqu�s del Vasto, Madrid

Row 5375: No result found for address: Calle de Fern�ndez de los R�os, Madrid

Row 5376: Address: Calle de Trafalgar, Madrid
Latitude: 40.4327595, Longitude: -3.7010387

Row 5377: Address: Calle de Carranza, 22, Madrid
Latitude: 40.429627, Longitude: -3.7050514

Row 5378: Address: Avenida de Filipinas, Madrid
Latitude: 40.4405936, Longitude: -3.7086703

Row 5379: Address: Plaza DE CRISTO REY, Madrid
Latitude: 40.4393258, Longitude: -3.7178651

Row 5380: No result found for address: Urb. R�OS ROSAS, Madrid

Row 5381: No result found for address: Calle de Rodr�guez San Pedro, 44, Madrid

Row 5382: No result found for address: Calle de Jos� Abascal, 49, Madrid

Row 5383: No result found for address: Calle de Fern�ndez de los R�os, 32, Madrid

Row 5384: Address: Calle del Cardenal Cisneros, 7, Madrid
Latitude: 40.4807163, Longitude: -3.370434

Row 5385: No result found for address: Calle del Marqu�s del Riscal, 6, Madrid

Row 5386: Address: Calle Sotomayor, 6, Madrid
Latitude: 40.4460121, Longitude: -3.7106769

Row 5387: Address: Calle de Balmes, Madrid
Latitude: 40.435319, Longitude: -3.7001342

Row 5388: No result found for address: Calle de Bret�n de los Herreros, Madrid

Row 5389: No result found for address: Calle de R�os Rosas, 29, Madrid

Row 5390: Address: FEIJOO, Madrid
Latitude: 40.4348742, Longitude: -3.7041701

Row 5391: No result found for address: Calle de Cea Berm�dez, Madrid

Row 5392: Address: Paseo de San Francisco de Sales, Madrid, Madrid
Latitude: 40.4439585, Longitude: -3.7104431

Row 5393: No result found for address: Calle de Garc�a de Paredes, 63, Madrid

Row 5394: No result found for address: Glorieta del General �lvarez de Castro, 3, Madrid

Row 5395: No result found for address: Calle de Joaqu�n Mar�a L�pez, 33, Madrid

Row 5396: Address: Calle de Ponzano, 16, Madrid
Latitude: 40.4379043, Longitude: -3.6992768

Row 5397: No result found for address: Calle de Jos� Abascal, 28, Madrid

Row 5398: Address: Calle Rafael Calvo, Madrid
Latitude: 40.4339847, Longitude: -3.6932076

Row 5399: Address: Calle Santa Engracia, 32, Madrid
Latitude: 40.4315259, Longitude: -3.6970786

Row 5400: No result found for address: Calle Garc�a de Paredes, 64, Madrid

Row 5401: No result found for address: Calle de la Sant�sima Trinidad, Madrid

Row 5402: Address: MONTELEON, Madrid
Latitude: 40.4301209, Longitude: -3.7045927

Row 5403: Address: Calle de Bravo Murillo, 41, Madrid
Latitude: 40.4373673, Longitude: -3.7044476

Row 5404: No result found for address: Calle de Cea Berm�dez, 61, Madrid

Row 5405: No result found for address: Calle de Cea Berm�dez, 68, Madrid

Row 5406: Address: Calle Magallanes, Madrid
Latitude: 40.4321849, Longitude: -3.7051423

Row 5407: Address: Calle BRAVO MURILLO, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 5408: Address: Calle JULIAN ROMEA, Madrid
Latitude: 40.4426776, Longitude: -3.7141707

Row 5409: Address: BRAVO MURILLO, Madrid
Latitude: 40.4513214, Longitude: -3.7033197

Row 5410: No result found for address: Calle del Monte Esquinza, Madrid

Row 5411: Address: Calle de Alenza, 5, Madrid
Latitude: 40.4434019, Longitude: -3.700734

Row 5412: Address: Calle de Vallehermoso, Madrid, Madrid
Latitude: 40.4399709, Longitude: -3.7081772

Row 5413: No result found for address: Calle Hilari�n Eslava, 26, Madrid

Row 5414: Address: Calle de Zurbano, 92, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5415: Address: Calle de Gaztambide, Madrid, Madrid
Latitude: 40.4344864, Longitude: -3.7155481

Row 5416: No result found for address: Calle de Fern�ndez de los R�os, 64, Madrid

Row 5417: Address: Monte Esquinza, Madrid
Latitude: 40.4262994, Longitude: -3.6924711

Row 5418: No result found for address: Calle MONTE ESQUINZA, Madrid

Row 5419: No result found for address: Calle DE MODESTO DE LA FUENTE, Madrid

Row 5420: Address: Calle DE MAX AUB, Madrid
Latitude: 40.4437447, Longitude: -3.7140209

Row 5421: Address: Calle de Zurbano, Madrid, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5422: No result found for address: Jos� Abascal, Madrid

Row 5423: No result found for address: Calle Hilari�n Eslava, Madrid

Row 5424: Address: Calle de Andres Mellado, 42, Madrid
Latitude: 40.4338632, Longitude: -3.7143481

Row 5425: Address: Calle de Isaac Peral, Madrid
Latitude: 40.4358502, Longitude: -3.7182177

Row 5426: Address: Avenida de la Reina Victoria, 5, Madrid
Latitude: 40.44652465, Longitude: -3.704649488031316

Row 5427: Address: Vallehermoso, Madrid
Latitude: 40.4431893, Longitude: -3.7108233

Row 5428: No result found for address: Calle de Gonzalo de C�rdoba, 7, Madrid

Row 5429: Address: Calle de San Bernardo, Madrid
Latitude: 40.4319016, Longitude: -3.7049172

Row 5430: No result found for address: Calle de Fern�ndez de la Hoz, Madrid

Row 5431: Address: Fortuny, Madrid
Latitude: 40.4340892, Longitude: -3.6901349

Row 5432: Address: Calle de Zurbano, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5433: Address: ESCOSURA, Madrid
Latitude: 40.4350994, Longitude: -3.7068436

Row 5434: Address: Calle Fernando Garrido, Madrid
Latitude: 40.4336039, Longitude: -3.7101775

Row 5435: Address: Avenida de la Reina Victoria, 43, Madrid
Latitude: 40.4470775, Longitude: -3.7072987

Row 5436: No result found for address: Calle de Crist�bal Bordi�, 46, Madrid

Row 5437: Address: Calle de Viriato, Madrid
Latitude: 40.4359894, Longitude: -3.7033781

Row 5438: Address: Gaztambide, 32, Madrid
Latitude: 40.4348361, Longitude: -3.7154316

Row 5439: No result found for address: Calle de R�os Rosas, 31, Madrid

Row 5440: Address: Calle zurbano, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5441: Address: Paseo general martinez campos, Madrid
Latitude: 40.434847500000004, Longitude: -3.6940141407125697

Row 5442: Address: Calle Zurbano, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5443: Address: Calle de Arapiles, Madrid
Latitude: 40.4327471, Longitude: -3.7074888

Row 5444: No result found for address: Calle de Guzm�n el Bueno, 38, Madrid

Row 5445: Address: Hilarion Eslava, Madrid
Latitude: 40.4392109, Longitude: -3.7164943

Row 5446: Address: Calle Santa Engracia, 43, Madrid
Latitude: 40.4327234, Longitude: -3.6979662

Row 5447: No result found for address: Calle de Crist�bal Bordi�, Madrid

Row 5448: Address: Calle de Bravo Murillo, 43, Madrid
Latitude: 40.4377345, Longitude: -3.7044284

Row 5449: Address: Gaztambide, Madrid
Latitude: 40.4349358, Longitude: -3.7147092

Row 5450: Address: gaztambide, Madrid
Latitude: 40.4349358, Longitude: -3.7147092

Row 5451: Address: Calle Jose Abascal, Madrid
Latitude: 40.4383553, Longitude: -3.7007985

Row 5452: No result found for address: Urb. Almagro, Madrid

Row 5453: No result found for address: Urb. Mostrar direcci�n aproximada, Madrid

Row 5454: Address: Vallehermoso, 80, Madrid
Latitude: 40.4379991, Longitude: -3.7082304

Row 5455: No result found for address: Calle del Marqu�s del Vasto, 3, Madrid

Row 5456: Address: Calle de Modesto Lafuente, Madrid
Latitude: 40.4366721, Longitude: -3.6964164

Row 5457: No result found for address: Calle de Garc�a Paredes, Madrid

Row 5458: Address: Calle de Carranza, Madrid
Latitude: 40.4292998, Longitude: -3.7036635

Row 5459: Address: Calle Eloy Gonzalo, 19, Madrid
Latitude: 40.4344782, Longitude: -3.7012101

Row 5460: Address: Calle Virtudes, Madrid
Latitude: 40.4375266, Longitude: -3.6986341

Row 5461: Address: santa engracia, 103, Madrid
Latitude: 40.4370549, Longitude: -3.6998354

Row 5462: Address: Calle de Fernando el Santo, Madrid, Madrid
Latitude: 40.428097, Longitude: -3.6920876

Row 5463: No result found for address: Paseo del General Mart�nez Campos, 9, Madrid

Row 5464: No result found for address: Calle R�os Rosas, 54, Madrid

Row 5465: No result found for address: Plaza del Conde del Valle de S�chil s/n, Madrid

Row 5466: No result found for address: Calle Fernando Cat�lico, Madrid, 88, Madrid

Row 5467: No result found for address: Calle de Cea Berm�dez, Madrid, Madrid

Row 5468: No result found for address: Calle de Garc�a de Paredes, Madrid

Row 5469: No result found for address: Calle de Mel�ndez Vald�s, Madrid

Row 5470: Address: Calle de Covarrubias, Madrid
Latitude: 40.4297029, Longitude: -3.6975667

Row 5471: Address: Zurbano, Madrid
Latitude: 40.42794255, Longitude: -3.6940964195305517

Row 5472: Address: jose abascal, Madrid
Latitude: 40.4382044, Longitude: -3.6914101

Row 5473: Address: Calle Vargas, Madrid
Latitude: 40.3539794, Longitude: -3.7145716

Row 5474: No result found for address: Calle de Medell�n, Madrid, 1, Madrid

Row 5475: Address: Calle Sotomayor, Madrid
Latitude: 40.4460121, Longitude: -3.7106769

Row 5476: No result found for address: Calle Manuel Gonz�lez Longoria, Madrid

Row 5477: No result found for address: Calle de Fernando el Cat�lico, 46, Madrid

Row 5478: Address: Calle de Palafox, Madrid
Latitude: 40.4320372, Longitude: -3.7015699

Row 5479: No result found for address: Cea Berm�dez, Madrid

Row 5480: No result found for address: Calle de Fern�ndez de los R�os, 17, Madrid

Row 5481: Address: Calle de Lucio del Valle, Madrid
Latitude: 40.4400394, Longitude: -3.7080753

Row 5482: No result found for address: Paseo San Francisco de Sales, 23, Madrid

Row 5483: No result found for address: Calle Donoso Cort�s, Madrid, Madrid

Row 5484: Address: Calle de Santa Engracia, Madrid, 37, Madrid
Latitude: 40.4317496, Longitude: -3.69754

Row 5485: No result found for address: Calle Hilari�n Eslava, Madrid, Madrid

Row 5486: Address: Calle Modesto Lafuente, Madrid
Latitude: 40.4366721, Longitude: -3.6964164

Row 5487: Address: San Francisco de Sales, Madrid
Latitude: 40.4413601, Longitude: -3.7147227

Row 5488: Address: Calle Palafox , 9, Madrid
Latitude: 40.43089045, Longitude: -3.7012562887052045

Row 5489: Address: Calle Fuencarral, 142, Madrid
Latitude: 40.4218831, Longitude: -3.7009642167024706

Row 5490: Address: fernandez de los rios, 23, Madrid
Latitude: -17.8276087, Longitude: -63.0941898

Row 5491: Address: CEA BERMUDEZ, 10, Madrid
Latitude: 40.4388895, Longitude: -3.7071005

Row 5492: Address: EGUILAZ, 4, Madrid
Latitude: 40.429015199999995, Longitude: -3.700263911642838

Row 5493: Error geocoding address 'Avenida de la Reina Victoria, Madrid, 3, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+de+la+Reina+Victoria%2C+Madrid%2C+3%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 5494: No result found for address: Calle de R�os Rosas, 19, Madrid

Row 5495: Address: Calle de Sagasta, 5, Madrid
Latitude: 40.4289149, Longitude: -3.7010274

Row 5496: Address: Calle del general arrando, Madrid
Latitude: 40.4317271, Longitude: -3.6949452

Row 5497: Address: VALLEHERMOSO, Madrid
Latitude: 40.4431893, Longitude: -3.7108233

Row 5498: No result found for address: Calle gral arrando, Madrid

Row 5499: No result found for address: Calle Juli�n Romea, Madrid

Row 5500: No result found for address: Calle el Espa�oleto, Madrid

Row 5501: Address: Santander, Madrid
Latitude: 7.1529628, Longitude: -73.1334743

Row 5502: Address: Calle de Galileo, Madrid, Madrid
Latitude: 40.4362474, Longitude: -3.7101179

Row 5503: Address: Calle de gaztambide, Madrid
Latitude: 40.4344864, Longitude: -3.7155481

Row 5504: Address: Calle GARCILASO, Madrid
Latitude: 40.4324181, Longitude: -3.700034

Row 5505: No result found for address: Calle de Guzm�n el Bueno, 79, Madrid

Row 5506: Address: Calle de Sandoval, Madrid
Latitude: 40.4301209, Longitude: -3.7045927

Row 5507: No result found for address: Calle Donoso Cort�s, 19, Madrid

Row 5508: Address: Calle de Gaztambide, 53, Madrid
Latitude: 40.4358496, Longitude: -3.7155398

Row 5509: No result found for address: Calle de Montele�n, 52, Madrid

Row 5510: Address: Calle Francisco Ricci, 11, Madrid
Latitude: 40.4311093, Longitude: -3.7118787

Row 5511: No result found for address: Calle de Fernando el Cat�lico, 28, Madrid

Row 5512: Address: Castillo, 6, Madrid
Latitude: -34.9274378, Longitude: -54.9210077

Row 5513: Address: Calle del Castillo, 24, Madrid
Latitude: 40.4343157, Longitude: -3.699285

Row 5514: Address: Calle Robledillo, 6, Madrid
Latitude: 40.4435058, Longitude: -3.6985488

Row 5515: No result found for address: Calle de Fernando el Cat�lico, 10, Madrid

Row 5516: No result found for address: Calle de Jos� Abascal, Madrid, 46, Madrid

Row 5517: No result found for address: Calle de Raimundo Fern�ndez Villaverde, Madrid, Madrid

Row 5518: Address: Garcia de Paredes, 76, Madrid
Latitude: 40.4371559, Longitude: -3.7040819

Row 5519: No result found for address: Calle DE BRET�N DE LOS HERREROS, Madrid

Row 5520: No result found for address: Calle General �lvarez de Castro, Madrid

Row 5521: Address: Calle de Santa Engracia, 158, Madrid
Latitude: 40.4458169, Longitude: -3.7032506

Row 5522: Address: Calle Sotomayor, Madrid, Madrid
Latitude: 40.4460121, Longitude: -3.7106769

Row 5523: No result found for address: Urb. Salamanca Prime, Madrid

Row 5524: Address: Calle Galileo, Madrid
Latitude: 40.4362474, Longitude: -3.7101179

Row 5525: Address: Calle de Palafox, 12, Madrid
Latitude: 40.4320372, Longitude: -3.7015699

Row 5526: Address: Calle de Bravo Murillo, 39, Madrid
Latitude: 40.4369171, Longitude: -3.705329

Row 5527: No result found for address: Calle Donoso Cort�s, 11, Madrid

Row 5528: Address: Calle de Andres Mellado, 9, Madrid
Latitude: 40.431375, Longitude: -3.7146845

Row 5529: Address: GENERAL MARTINEZ CAMPOS, Madrid
Latitude: 40.41780095, Longitude: -3.6809532659136543

Row 5530: Address: Calle de Almagro, 28, Madrid
Latitude: 40.4279563, Longitude: -3.6954449

Row 5531: Address: Alfonso X, Madrid
Latitude: 40.3921853, Longitude: -3.778838007890765

Row 5532: Address: Calle de Alfonso X, Madrid
Latitude: 40.4329209, Longitude: -3.692104

Row 5533: Address: Calle de Fuencarral, 134, Madrid
Latitude: 40.431323899999995, Longitude: -3.7030130936785968

Row 5534: Address: Calle de Espronceda, 8, Madrid
Latitude: 40.4405967, Longitude: -3.6985372

Row 5535: No result found for address: Calle de Fern�ndez de la Hoz, 40, Madrid

Row 5536: Address: Calle de Espronceda, 22, Madrid
Latitude: 40.4405573, Longitude: -3.696109

Row 5537: Address: Calle de Blasco de Garay, 20, Madrid
Latitude: 40.4362414, Longitude: -3.7113374

Row 5538: No result found for address: Calle de Guzm�n el Bueno, 81, Madrid

Row 5539: No result found for address: Calle Montele�n, Madrid

Row 5540: Address: Calle General Ampudia, Madrid
Latitude: 40.4426111, Longitude: -3.7154897

Row 5541: No result found for address: Calle de Rodr�guez San Pedro, 61, Madrid

Row 5542: Address: BRAVO MURILLO/RIOS ROSAS, Madrid
Latitude: 40.4393605, Longitude: -3.704192

Row 5543: Address: Paseo de San Francisco de Sales, 31, Madrid
Latitude: 40.4423353, Longitude: -3.7133434

Row 5544: Address: MOREJON, Madrid
Latitude: 40.4374764, Longitude: -3.6986402

Row 5545: No result found for address: Calle de Fern�ndez de los R�os, 70, Madrid

Row 5546: No result found for address: Calle de Mel�ndez Vald�s, 43, Madrid

Row 5547: No result found for address: Calle de Crist�bal Bordi�, 11, Madrid

Row 5548: Address: Calle de Blasco de Garay, 67, Madrid
Latitude: 40.4383423, Longitude: -3.7112479

Row 5549: Address: Calle de Alburquerque, 29, Madrid
Latitude: 40.4315391, Longitude: -3.6999784

Row 5550: Address: Calle de Gaztambide, 16, Madrid
Latitude: 40.4327025, Longitude: -3.7155757

Row 5551: Address: Calle de Viriato, 27, Madrid
Latitude: 40.4359894, Longitude: -3.7033781

Row 5552: No result found for address: Calle de Rodr�guez San Pedro, 49, Madrid

Row 5553: Address: Calle de Vicente Aleixandre s/n, Madrid
Latitude: 40.4456957, Longitude: -3.7180961

Row 5554: No result found for address: Calle de R�os Rosas, 54, Madrid

Row 5555: Address: JOSE ABASCAL, Madrid
Latitude: 40.4382044, Longitude: -3.6914101

Row 5556: Address: FERNANDO EL CATOLICO, Madrid
Latitude: 40.4341125, Longitude: -3.7184726

Row 5557: Address: Almagro, Madrid
Latitude: 40.4336632, Longitude: -3.6942857

Row 5558: Address: Calle del General Arrando, Madrid
Latitude: 40.4317271, Longitude: -3.6949452

Row 5559: Address: Calle del General Ampudia, Madrid
Latitude: 40.4426111, Longitude: -3.7154897

Row 5560: Address: Calle de Fortuny, 47, Madrid
Latitude: 40.4305842, Longitude: -3.6907454

Row 5561: No result found for address: Calle Mel�ndez Vald�s, Madrid

Row 5562: Address: maria panes, 14, Madrid
Latitude: 40.4445325, Longitude: -3.6958692

Row 5563: Address: Trafalgar, Madrid
Latitude: 40.4330613, Longitude: -3.7010182

Row 5564: No result found for address: Calle de Garc�a de Paredes, 28010, Madrid

Row 5565: No result found for address: Calle de Jos� Abascal, Madrid, Madrid

Row 5566: Address: Calle MAUDES, Madrid
Latitude: 40.4448214, Longitude: -3.6956385

Row 5567: Address: Calle de Almagro, 28010, Madrid
Latitude: 40.4327208, Longitude: -3.6914413

Row 5568: Address: Calle de Alburquerque, Madrid
Latitude: 40.4310839, Longitude: -3.7018618

Row 5569: No result found for address: Calle de Garc�a de Paredes, Madrid, 64, Madrid

Row 5570: No result found for address: Calle Mar�a Panes, Madrid

Row 5571: Address: Calle de Fernando el Santo, Madrid
Latitude: 40.428097, Longitude: -3.6920876

Row 5572: No result found for address: Calle de Garc�a de Paredes, Madrid, Madrid

Row 5573: No result found for address: Calle Jos� Mara��n, 7, Madrid

Row 5574: No result found for address: Calle de Don �lvaro de Baz�n, 13, Madrid

Row 5575: No result found for address: Calle de Cea Berm�dez, 23, Madrid

Row 5576: Address: Calle de Palafox, 19, Madrid
Latitude: 40.4315612, Longitude: -3.701560245253342

Row 5577: Address: Andres Mellado, Madrid
Latitude: 40.4411156, Longitude: -3.7138021

Row 5578: No result found for address: Calle de Guzm�n el Bueno, 91, Madrid

Row 5579: Address: Calle de Santa Engracia, Madrid, Madrid
Latitude: 40.4452676, Longitude: -3.703173

Row 5580: Address: Calle Hartzenbusch, 8, Madrid
Latitude: 40.4302688, Longitude: -3.7021936

Row 5581: No result found for address: Urb. Distrito Chamber�, Madrid

Row 5582: Address: Calle de Fortuny, Madrid
Latitude: 40.4340892, Longitude: -3.6901349

Row 5583: Address: Calle General Alvarez de Castro, 21, Madrid
Latitude: 40.43577295, Longitude: -3.702594245321013

Row 5584: Address: Calle de San Bernardo, 97, Madrid
Latitude: 40.4303735, Longitude: -3.7057437

Row 5585: No result found for address: Calle Donoso Cort�s, 83, Madrid

Row 5586: Address: Calle de Zurbano, 96, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5587: No result found for address: Calle Mar�a Panes, 14, Madrid

Row 5588: No result found for address: Calle de cea berm�dez, 63, Madrid

Row 5589: No result found for address: Calle Marqu�s de Lema, 13, Madrid

Row 5590: No result found for address: Calle de Mar�a de Guzm�n, 29, Madrid

Row 5591: Address: Calle Virtudes, 20, Madrid
Latitude: 40.4377396, Longitude: -3.6985678

Row 5592: No result found for address: Calle de Fernando el Cat�lico, 58, Madrid

Row 5593: No result found for address: Urb. GALILEO, Madrid

Row 5594: No result found for address: Calle Hilari�n Eslava, 47, Madrid

Row 5595: No result found for address: Calle de Bret�n de los Herreros, 59, Madrid

Row 5596: No result found for address: Calle de Mel�ndez Vald�s, 45, Madrid

Row 5597: Address: Calle Magallanes, 19, Madrid
Latitude: 40.4350987, Longitude: -3.7057509

Row 5598: Address: Calle Escosura, 6, Madrid
Latitude: 40.434684, Longitude: -3.7067849

Row 5599: Address: Calle de Espronceda, 16, Madrid
Latitude: 40.4405158, Longitude: -3.6978586

Row 5600: Address: Calle de Espronceda, 14, Madrid
Latitude: 40.4405573, Longitude: -3.696109

Row 5601: Address: Calle de Vallehermoso, 6, Madrid
Latitude: 40.4306015, Longitude: -3.7087835

Row 5602: Address: Calle Gaztambide, 49, Madrid
Latitude: 40.4352129, Longitude: -3.7155863

Row 5603: Address: Avenida de la Reina Victoria, 19, Madrid
Latitude: 40.4467036, Longitude: -3.7072267951852043

Row 5604: Address: Plaza de Cristo Rey, Madrid
Latitude: 40.4393258, Longitude: -3.7178651

Row 5605: Address: Calle de Domenico Scarlatti, 11, Madrid
Latitude: 40.4410253, Longitude: -3.7180384

Row 5606: Address: Paseo de Eduardo Dato, Madrid
Latitude: 40.432407, Longitude: -3.6973722

Row 5607: Address: Calle Blasco de Garay, 50, Madrid
Latitude: 40.4349807, Longitude: -3.7113586

Row 5608: No result found for address: Calle del Marqu�s del Riscal, Madrid, Madrid

Row 5609: No result found for address: Calle de Garc�a de Paredes, 36, Madrid

Row 5610: Address: Calle de Alonso Cano, 46, Madrid
Latitude: 40.4428631, Longitude: -3.6974228

Row 5611: No result found for address: Calle de Guzm�n el Bueno, 68, Madrid

Row 5612: No result found for address: Calle de Guzm�n el Bueno, 14, Madrid

Row 5613: Address: Calle de Galileo, 86, Madrid
Latitude: 40.4373226, Longitude: -3.7099434

Row 5614: No result found for address: Calle del General Ib��ez de Ibero, 5 -B, Madrid

Row 5615: Address: Paseo de San Francisco de Sales, 6, Madrid
Latitude: 40.4399357, Longitude: -3.7162083

Row 5616: No result found for address: Calle de Mel�ndez Vald�s, 54, Madrid

Row 5617: No result found for address: Calle de Joaqu�n Mar�a L�pez, 25, Madrid

Row 5618: No result found for address: Calle de Bret�n de los Herreros, 37, Madrid

Row 5619: Address: Calle Virtudes, 21, Madrid
Latitude: 40.4375266, Longitude: -3.6986341

Row 5620: Address: Calle de Bravo Murillo, 53, Madrid
Latitude: 40.4413327, Longitude: -3.7043048

Row 5621: No result found for address: Calle de mar�a de guzm�n, Madrid

Row 5622: No result found for address: Calle de Miguel �ngel, Madrid

Row 5623: Address: san francisco de sales, Madrid
Latitude: 40.4413601, Longitude: -3.7147227

Row 5624: Address: Calle de Almagro, Madrid
Latitude: 40.4327208, Longitude: -3.6914413

Row 5625: No result found for address: Calle General �lvarez de Castro, 32, Madrid

Row 5626: Address: Calle de Bravo Murillo, 9, Madrid
Latitude: 40.4346655, Longitude: -3.7045161

Row 5627: No result found for address: Calle Donoso Cort�s, 80, Madrid

Row 5628: Address: Calle de Viriato, 38, Madrid
Latitude: 40.4359894, Longitude: -3.7033781

Row 5629: Address: Calle Lucio del Valle, 5, Madrid
Latitude: 40.4400394, Longitude: -3.7080753

Row 5630: Address: Andres Mellado, 76, Madrid
Latitude: 40.437288, Longitude: -3.7141298

Row 5631: Address: Calle Magallanes, 16, Madrid
Latitude: 40.4337013, Longitude: -3.7055031

Row 5632: No result found for address: Calle de Bret�n de los Herreros, 58, Madrid

Row 5633: No result found for address: Calle del General Ib��ez de Ibero, 1, Madrid

Row 5634: No result found for address: Calle de Guzm�n el Bueno, 42, Madrid

Row 5635: Address: Calle Arcipreste de Hita, 6, Madrid
Latitude: 40.4334651, Longitude: -3.7173423

Row 5636: Address: Calle Francisco Ricci, 14, Madrid
Latitude: 40.4311093, Longitude: -3.7118787

Row 5637: No result found for address: Calle de Mel�ndez Vald�s, 64, Madrid

Row 5638: No result found for address: Calle donoso cort�s, 56, Madrid

Row 5639: No result found for address: Calle Feij�o, 11, Madrid

Row 5640: Address: Calle Quesada, 3, Madrid
Latitude: 40.4336889, Longitude: -3.7006339

Row 5641: Address: Calle de Galileo, 25, Madrid
Latitude: 40.4362474, Longitude: -3.7101179

Row 5642: Address: Calle de Vallehermoso, 4, Madrid
Latitude: 40.4304838, Longitude: -3.7087762

Row 5643: No result found for address: Calle Manuel Gonz�lez Longoria, 7, Madrid

Row 5644: Address: Calle Esquilache, 7, Madrid
Latitude: 40.4444913, Longitude: -3.7052401

Row 5645: Address: Calle de Galileo, 70, Madrid
Latitude: 40.43582435, Longitude: -3.7099297192327008

Row 5646: No result found for address: Calle Castillo Pi�eiro, 5, Madrid

Row 5647: No result found for address: Calle Mel�ndez Vald�s, 19, Madrid

Row 5648: Address: Calle de Santa Engracia, 147, Madrid
Latitude: 40.44385045, Longitude: -3.7030692125133724

Row 5649: Address: Calle Rafael Calvo, 28, Madrid
Latitude: 40.4339847, Longitude: -3.6932076

Row 5650: Address: blasco de garay, 8, Madrid
Latitude: 40.4395559, Longitude: -3.711067

Row 5651: Address: Calle de Bravo Murillo, 79, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 5652: No result found for address: Calle de Joaqu�n Mar�a L�pez, 56, Madrid

Row 5653: No result found for address: Calle de Bret�n de los Herreros, 10, Madrid

Row 5654: No result found for address: Calle de Fern�ndez de los Rios, 27, Madrid

Row 5655: No result found for address: Joaqu�n Mar�a Lopez, 24, Madrid

Row 5656: Address: Guzman el Bueno, Madrid
Latitude: 40.4462739, Longitude: -3.7131693

Row 5657: Address: cardenal cisneros, Madrid
Latitude: 40.4397159, Longitude: -3.7273319

Row 5658: Address: Calle Calvo Asensio, Madrid
Latitude: 40.432161, Longitude: -3.7124657

Row 5659: Address: Calle Vallehermoso, 104, Madrid
Latitude: 40.4373551, Longitude: -3.7083991

Row 5660: No result found for address: Calle de Guzm�n el Bueno, 6, Madrid

Row 5661: No result found for address: Calle de R�os Rosas, 49, Madrid

Row 5662: Address: Calle Boix y Morer, 13, Madrid
Latitude: 40.4399584, Longitude: -3.7064428

Row 5663: Address: DONOSO CORTES, Madrid
Latitude: 40.4363044, Longitude: -3.7112364

Row 5664: Address: Calle de Bravo Murillo, 97, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 5665: No result found for address: Calle de El Espa�oleto, 5, Madrid

Row 5666: No result found for address: Mar�a de guzm�n, 56, Madrid

Row 5667: Address: Calle Vargas, 3, Madrid
Latitude: 40.44930635, Longitude: -3.613191574054059

Row 5668: Address: Calle de Alonso Cano, 99, Madrid
Latitude: 40.4428631, Longitude: -3.6974228

Row 5669: Address: Calle del Cardenal Cisneros, 21, Madrid
Latitude: 40.4309274, Longitude: -3.7019771

Row 5670: No result found for address: Plaza del Descubridor Diego de Ord�s, 1, Madrid

Row 5671: Address: Calle de Santa Engracia, 167, Madrid
Latitude: 40.4451019, Longitude: -3.7033133

Row 5672: Address: Calle del Cardenal Cisneros, 80, Madrid
Latitude: 40.4354443, Longitude: -3.7030679

Row 5673: Address: Calle Balmes, 3, Madrid
Latitude: 40.4352949, Longitude: -3.6998453

Row 5674: No result found for address: Plaza del Conde del Valle de S�chil, 8, Madrid

Row 5675: Address: Paseo de San Francisco de Sales, 23, Madrid
Latitude: 40.4417617, Longitude: -3.7142769

Row 5676: Address: Calle de Blasco de Garay, 14, Madrid
Latitude: 40.4362414, Longitude: -3.7113374

Row 5677: No result found for address: Calle de Fern�ndez de los R�os, 86, Madrid

Row 5678: Address: Glorieta de Bilbao, 3, Madrid
Latitude: 40.4293811, Longitude: -3.702145

Row 5679: Address: Calle de la Princesa, 84, Madrid
Latitude: 40.4328728, Longitude: -3.7176768

Row 5680: Address: Calle raimundo lulio, 22, Madrid
Latitude: 40.4328313, Longitude: -3.6983062

Row 5681: No result found for address: Calle de Melqu�ades �lvarez, 9, Madrid

Row 5682: No result found for address: Calle de Bret�n de los Herreros, 8, Madrid

Row 5683: Address: Calle de Gaztambide, 35, Madrid
Latitude: 40.4339936, Longitude: -3.7156686

Row 5684: Address: Calle castillo, Madrid
Latitude: 40.4332455, Longitude: -3.3020684

Row 5685: Address: Calle de Vallehermoso, 52, Madrid
Latitude: 40.4358209, Longitude: -3.7084129

Row 5686: Address: Calle Sagunto, 14, Madrid
Latitude: 40.4337325, Longitude: -3.6994479

Row 5687: No result found for address: Calle Crist�bal bordiu, 30, Madrid

Row 5688: Address: Princesa, Madrid
Latitude: 40.4325651, Longitude: -3.717445

Row 5689: Address: Calle Garcilaso, 5, Madrid
Latitude: 40.4318912, Longitude: -3.6998612

Row 5690: No result found for address: Calle de Crist�bal Bordi�, 13, Madrid

Row 5691: Address: Calle Calvo Asensio, 4, Madrid
Latitude: 40.432161, Longitude: -3.7124657

Row 5692: No result found for address: Calle de Montele�n, 48, Madrid

Row 5693: Address: Calle de Alonso Cano, 77, Madrid
Latitude: 40.4428631, Longitude: -3.6974228

Row 5694: Address: Castillo, Madrid
Latitude: 40.41640165, Longitude: -3.6965831109198684

Row 5695: Address: Calle de Juan de Austria, 26, Madrid
Latitude: 40.43381, Longitude: -3.6998072

Row 5696: Address: Avenida de la Reina Victoria, 17, Madrid
Latitude: 40.446693749999994, Longitude: -3.707016766136759

Row 5697: Address: Calle de Viriato, 38 bis, Madrid
Latitude: 40.4359894, Longitude: -3.7033781

Row 5698: Address: Calle de Andres Mellado, 61, Madrid
Latitude: 40.4369524, Longitude: -3.7143305

Row 5699: No result found for address: Garc�a de Paredes, Madrid

Row 5700: Address: Calle de carranza, 4, Madrid
Latitude: 40.4293019, Longitude: -3.7031526

Row 5701: Address: Calle Escosura, Madrid
Latitude: 40.4350994, Longitude: -3.7068436

Row 5702: Address: Hartzenbusch, Madrid
Latitude: 40.4304175, Longitude: -3.7017533

Row 5703: Address: Garcia de paredes, Madrid
Latitude: 40.43681785, Longitude: -3.6920479392362484

Row 5704: No result found for address: Calle Donoso Cort�s, 70, Madrid

Row 5705: Address: Calle de Gaztambide, 36, Madrid
Latitude: 40.4344864, Longitude: -3.7155481

Row 5706: No result found for address: Calle de Cea Berm�dez, 3, Madrid

Row 5707: Address: Calle de Bravo Murillo, 53 F, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 5708: No result found for address: Calle de Joaqu�n Mar�a L�pez, 44, Madrid

Row 5709: No result found for address: Calle de Bret�n de los Herreros, 56, Madrid

Row 5710: Address: Calle de Zurbano, 59, Madrid
Latitude: 40.4359695, Longitude: -3.6931682

Row 5711: No result found for address: Calle de Garc�a de Paredes, 55, Madrid

Row 5712: Address: Calle de Maudes, 8, Madrid
Latitude: 40.4623911, Longitude: -3.682024505624057

Row 5713: No result found for address: Calle de Fern�ndez de los R�os, 69, Madrid

Row 5714: No result found for address: Calle Mar�a Panes, 9, Madrid

Row 5715: Address: Calle de Bravo Murillo, 39 F, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 5716: Address: Calle de Alberto Aguilera, 8, Madrid
Latitude: 40.4298609, Longitude: -3.7069054

Row 5717: Address: Calle de Santa Engracia, 126, Madrid
Latitude: 40.4415385, Longitude: -3.7013963

Row 5718: No result found for address: Calle de Jos� Abascal, 38, Madrid

Row 5719: No result found for address: Calle de Bret�n de los Herreros, 9, Madrid

Row 5720: No result found for address: Calle de Mel�ndez Vald�s, 25, Madrid

Row 5721: No result found for address: Traves�a Andr�s Mellado, 5, Madrid

Row 5722: Address: Cea Bermudez, Madrid
Latitude: 40.4386973, Longitude: -3.708787

Row 5723: No result found for address: Calle de Fern�ndez de la Hoz, 57, Madrid

Row 5724: Address: Calle de Santa Engracia, 37, Madrid
Latitude: 40.4317496, Longitude: -3.69754

Row 5725: Address: Calle de Covarrubias, 31, Madrid
Latitude: 40.431252549999996, Longitude: -3.698275121610171

Row 5726: Address: Calle de Covarrubias, 35, Madrid
Latitude: 40.431413649999996, Longitude: -3.698436117504155

Row 5727: Address: Calle de Santa Engracia, 109, Madrid
Latitude: 40.4375425, Longitude: -3.7000777

Row 5728: Address: Calle de Isaac Peral, 38, Madrid
Latitude: 40.4380542, Longitude: -3.7176543

Row 5729: No result found for address: Calle de Guzm�n el Bueno, 37, Madrid

Row 5730: No result found for address: Calle de Jord�n, Madrid

Row 5731: Address: Calle de Ponzano, 93, Madrid
Latitude: 40.4455372, Longitude: -3.6988949

Row 5732: No result found for address: Jos� Abascal, 28, Madrid

Row 5733: No result found for address: Calle de R�os Rosas, 48, Madrid

Row 5734: Address: Calle de Lucio del Valle, 19, Madrid
Latitude: 40.4400394, Longitude: -3.7080753

Row 5735: Address: Lucio del Valle, Madrid
Latitude: 40.4229044, Longitude: -3.7016732

Row 5736: No result found for address: Ponce de Le�n, Madrid

Row 5737: No result found for address: Plaza del Descubridor Diego de Ord�s, Madrid

Row 5738: Address: Jose Abascal, Madrid
Latitude: 40.4382044, Longitude: -3.6914101

Row 5739: Address: GARCIA DE PAREDES, Madrid
Latitude: 40.43681785, Longitude: -3.6920479392362484

Row 5740: No result found for address: Calle Garc�a de Paredes, Madrid

Row 5741: Address: Monteleon, Madrid
Latitude: 40.4301209, Longitude: -3.7045927

Row 5742: No result found for address: Calle del Monte Esquinza, Madrid, Madrid

Row 5743: Address: Fernando el catolico, 10, Madrid
Latitude: 40.4341221, Longitude: -3.7075838

Row 5744: Address: Calle abascal, Madrid
Latitude: 40.4380714, Longitude: -3.6918663

Row 5745: Address: Calle DE BRAVO MURILLO, Madrid
Latitude: 40.4655773, Longitude: -3.690205

Row 5746: Address: Calle Joaquin Maria Lopez, Madrid
Latitude: 40.4374379, Longitude: -3.708297

Row 5747: Address: Calle Zurbano, 98, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5748: Address: Calle Santa Feliciana, Madrid
Latitude: 40.4333077, Longitude: -3.6989204

Row 5749: Address: Calle de Andres Mellado, 11, Madrid
Latitude: 40.4315405, Longitude: -3.7146747

Row 5750: Address: gaztambide, 21, Madrid
Latitude: 40.4327008, Longitude: -3.715764

Row 5751: Address: Calle de Hartzenbusch, 28010, Madrid
Latitude: 40.4304175, Longitude: -3.7017533

Row 5752: Address: MEDELLIN, 1, Madrid
Latitude: 6.2490006, Longitude: -75.576945

Row 5753: Address: zurbano, 100, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5754: No result found for address: Calle de Juli�n Romea, Madrid

Row 5755: No result found for address: Fernando el Cat�lico, Madrid

Row 5756: Address: BLASCO DE GARAY, Madrid
Latitude: 40.4362414, Longitude: -3.7113374

Row 5757: Address: Calle Alfonso X, 4, Madrid
Latitude: 40.4329209, Longitude: -3.692104

Row 5758: No result found for address: Calle de garc�a de paredes, 13, Madrid

Row 5759: Address: Calle del Cardenal Cisneros, 86, Madrid
Latitude: 40.4357332, Longitude: -3.7031575

Row 5760: Address: Calle Alburquerque, Madrid
Latitude: 40.4310839, Longitude: -3.7018618

Row 5761: No result found for address: Calle del Marqu�s del Riscal, Madrid

Row 5762: Address: Avenida FILIPINAS, Madrid
Latitude: 40.4405936, Longitude: -3.7086703

Row 5763: Address: Calle Escosura, 21, Madrid
Latitude: 40.4357349, Longitude: -3.7068946

Row 5764: Address: Paseo de San Francisco de Sales, 5, Madrid
Latitude: 40.4400052, Longitude: -3.7168109

Row 5765: Address: Calle de Bravo Murillo, 37, Madrid
Latitude: 40.4369167, Longitude: -3.7044478

Row 5766: Address: Calle de Andres Mellado, 92, Madrid
Latitude: 40.4387062, Longitude: -3.7140401

Row 5767: Address: Calle de Eguilaz, Madrid
Latitude: 40.4293559, Longitude: -3.7005957

Row 5768: No result found for address: Calle Eloy Gonzalo IGLESIA, Madrid

Row 5769: Address: PONCE DE LEON, Madrid
Latitude: 19.0905028, Longitude: -103.8761509

Row 5770: No result found for address: Calle de Garc�a de Paredes, Almagro, Chamber�, Madrid

Row 5771: No result found for address: Calle Mar�a de Guzm�n, 38, Madrid

Row 5772: Address: Calle Breton de los Herreros, 44, Madrid
Latitude: 40.4394564, Longitude: -3.6961963

Row 5773: No result found for address: Calle Manuel Gonz�lez Longoria, 10, Madrid

Row 5774: No result found for address: Calle de Bret�n de los Herreros s/n, Madrid

Row 5775: No result found for address: Glorieta Rub�n Dar�o s/n, Madrid

Row 5776: No result found for address: Calle de Garc�a de Paredes s/n, Madrid

Row 5777: Address: FERNANDEZ DE LOS RIOS, Madrid
Latitude: 40.434998, Longitude: -3.7047127

Row 5778: Address: Avenida DE REINA VICTORIA, 43, Madrid
Latitude: 40.4470775, Longitude: -3.7072987

Row 5779: Address: MONTELEON, 52, Madrid
Latitude: 40.4282205, Longitude: -3.7049688

Row 5780: Address: Juan de Austria, Madrid
Latitude: 40.4319945, Longitude: -3.699598398355813

Row 5781: No result found for address: Calle de Fern�ndez de los R�os, 8, Madrid

Row 5782: No result found for address: Jord�n, 8, Madrid

Row 5783: Address: Calle de Santa Engracia, 163, Madrid
Latitude: 40.444873, Longitude: -3.703236

Row 5784: Address: Calle Francisco de Ricci , 13, Madrid
Latitude: 40.4311093, Longitude: -3.7118787

Row 5785: Address: Calle Medellin, 3, Madrid
Latitude: 40.54806635, Longitude: -3.8905908116063537

Row 5786: Address: Calle de Andres Mellado, 20, Madrid
Latitude: 40.4323769, Longitude: -3.7144265

Row 5787: Address: Calle Eloy Gonzalo, 21, Madrid
Latitude: 40.4345272, Longitude: -3.7010089

Row 5788: Address: SANTA ENGRACIA, Madrid
Latitude: 40.4280227, Longitude: -3.6955996

Row 5789: Address: Plaza de Olavide, Madrid
Latitude: 40.432770950000005, Longitude: -3.7010341317307693

Row 5790: Address: general martinez campos, 39, Madrid
Latitude: 40.4351841, Longitude: -3.6901827

Row 5791: Address: Calle Arcipreste de Hita, Madrid
Latitude: 40.6738201, Longitude: -4.0919325

Row 5792: No result found for address: Calle Medell�n, 3, Madrid

Row 5793: Address: MAUDES, 8, Madrid
Latitude: 40.4623911, Longitude: -3.682024505624057

Row 5794: No result found for address: Calle Rafale Calvo, 18, Madrid

Row 5795: Address: ESCOSURA, 6, Madrid
Latitude: 40.434684, Longitude: -3.7067849

Row 5796: No result found for address: Calle de Guzm�n el Bueno, Madrid, Madrid

Row 5797: Address: RIOS ROSAS, Madrid
Latitude: 40.4425703, Longitude: -3.6976294

Row 5798: Address: Calle de Fuencarral, Madrid
Latitude: 40.4218831, Longitude: -3.7009642167024706

Row 5799: No result found for address: Calle de Cea Berm�dez, 13, Madrid

Row 5800: Address: Calle de Zurbano, 80, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5801: Address: Calle de Arapiles, 1, Madrid
Latitude: 40.4332991, Longitude: -3.7047332

Row 5802: Address: SANDOVAL, Madrid
Latitude: 40.4301209, Longitude: -3.7045927

Row 5803: No result found for address: Calle de Don �lvaro de Baz�n, Madrid

Row 5804: No result found for address: Andr�s Mellado, Madrid

Row 5805: Address: Avenida ISLAS FILIPINAS, Madrid
Latitude: 40.4405936, Longitude: -3.7086703

Row 5806: Address: Calle de Andres Mellado, 50, Madrid
Latitude: 40.4346842, Longitude: -3.7142936

Row 5807: No result found for address: Calle Eduardo Dato, Madrid

Row 5808: Address: Rios Rosas, Madrid
Latitude: 40.4425703, Longitude: -3.6976294

Row 5809: Address: zurbano, Madrid
Latitude: 40.42794255, Longitude: -3.6940964195305517

Row 5810: No result found for address: Calle de Guzm�n el Bueno, 64, Madrid

Row 5811: Address: Calle Santa Engracia, 51, Madrid
Latitude: 40.433236, Longitude: -3.6981917

Row 5812: No result found for address: Calle Espa�oleto, 19, Madrid

Row 5813: Address: General ampudia, Madrid
Latitude: 40.4422215, Longitude: -3.7148933

Row 5814: No result found for address: Calle DE ALBUQUERQUE, Madrid

Row 5815: Address: Fernandez de La Hoz, 48, Madrid
Latitude: 40.4391834, Longitude: -3.6943791

Row 5816: No result found for address: Calle de Crist�bal Bordi�, 53, Madrid

Row 5817: No result found for address: Calle de Garc�a de Paredes, 35, Madrid

Row 5818: Address: Calle Bravo Murillo, 41, Madrid
Latitude: 40.4373673, Longitude: -3.7044476

Row 5819: Address: Cardenal Cisneros, Madrid
Latitude: 40.4397159, Longitude: -3.7273319

Row 5820: No result found for address: R�os Rosas, Madrid

Row 5821: No result found for address: Calle de Juli�n Romea, 7, Madrid

Row 5822: Address: Calle de Eguilaz, 4, Madrid
Latitude: 40.429015199999995, Longitude: -3.700263911642838

Row 5823: Address: Calle de Blasco de Garay, 63, Madrid
Latitude: 40.4378014, Longitude: -3.7112934

Row 5824: Address: Alonso Cano, Madrid
Latitude: 40.4384455, Longitude: -3.6992576

Row 5825: Address: Calle de Alonso Cano, 23, Madrid
Latitude: 40.4371511, Longitude: -3.6980468452775366

Row 5826: No result found for address: Urb. semis�tano con patio, Madrid

Row 5827: Address: RUBEN DARIO, Madrid
Latitude: 40.4330422, Longitude: -3.6896897

Row 5828: No result found for address: Calle de Gonzalo de C�rdoba, Madrid

Row 5829: Address: Calle Eloy Gonzalo, Madrid
Latitude: 40.4338879, Longitude: -3.7030512

Row 5830: Address: Calle Almagro, Madrid
Latitude: 40.4231233, Longitude: -3.7180567

Row 5831: No result found for address: Andr�s Mellado, 106, Madrid

Row 5832: Address: Calle de Almagro, Madrid, Madrid
Latitude: 40.4327208, Longitude: -3.6914413

Row 5833: Address: Calle de Manuel Cortina, Madrid
Latitude: 40.4307503, Longitude: -3.6980463

Row 5834: No result found for address: Calle de Jer�nimo de la Quintana, 8, Madrid

Row 5835: No result found for address: Calle Garc�a de Paredes, 4, Madrid

Row 5836: Address: Calle Modesto Lafuente, 26, Madrid
Latitude: 40.4366721, Longitude: -3.6964164

Row 5837: Address: COVARRUBIAS, Madrid
Latitude: 40.4360431, Longitude: -3.7297422

Row 5838: Address: Calle de Trafalgar, 26, Madrid
Latitude: 40.4334187, Longitude: -3.7011332

Row 5839: Address: Calle Vicente Aleixandre, Madrid
Latitude: 40.1941818, Longitude: -3.6867622

Row 5840: Address: Zurbano, 100, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 5841: Address: Calle de Santa Engracia, 143, Madrid
Latitude: 40.4437198, Longitude: -3.7027149

Row 5842: Address: Calle de Modesto Lafuente, Madrid, Madrid
Latitude: 40.4366721, Longitude: -3.6964164

Row 5843: Address: Calle de Gaztambide, 47, Madrid
Latitude: 40.4350066, Longitude: -3.7155998

Row 5844: No result found for address: Calle de Guzm�n el Bueno, 41, Madrid

Row 5845: Address: Calle de la Princesa, 60, Madrid
Latitude: 40.4310196, Longitude: -3.7163412

Row 5846: Address: Trafalgar, 32, Madrid
Latitude: 40.433699, Longitude: -3.7012541

Row 5847: Address: Calle Blasco de Garay, Madrid
Latitude: 40.4391366, Longitude: -3.3159406

Row 5848: Address: Calle Esquilache, Madrid
Latitude: 40.4444913, Longitude: -3.7052401

Row 5849: Address: Calle de Santa Engracia, 128, Madrid
Latitude: 40.4417046, Longitude: -3.7014683

Row 5850: Address: Calle de Alenza, Madrid
Latitude: 40.4442609, Longitude: -3.7005334

Row 5851: Address: Calle Eloy Gonzalo, 31, Madrid
Latitude: 40.4347846, Longitude: -3.7000078

Row 5852: No result found for address: Calle de Rodr�guez San Pedro, 34, Madrid

Row 5853: Address: Calle RODRIGUEZ SAN PEDRO, Madrid
Latitude: 40.4315404, Longitude: -3.7076843

Row 5854: Address: Calle MOREJON, Madrid
Latitude: 40.4374764, Longitude: -3.6986402

Row 5855: Address: Calle Arcipreste de Hita, 14, Madrid
Latitude: 40.4346031, Longitude: -3.7181467

Row 5856: Address: Paseo de Eduardo Dato, 13, Madrid
Latitude: 40.4329933, Longitude: -3.694087

Row 5857: No result found for address: Calle de Fern�ndez de los R�os, 93, Madrid

Row 5858: No result found for address: Calle de R�os Rosas, 42, Madrid

Row 5859: Address: Calle de Vallehermoso, 28, Madrid
Latitude: 40.4330767, Longitude: -3.7086494

Row 5860: Address: Calle de Sandoval, 6, Madrid
Latitude: 40.4300666, Longitude: -3.7035888

Row 5861: Address: Espronceda, Madrid
Latitude: 40.4396586, Longitude: -3.6985767

Row 5862: Address: Calle Santa Engracia, Madrid
Latitude: 40.4452676, Longitude: -3.703173

Row 5863: No result found for address: Calle de Cea Berm�dez, Madrid, 45, Madrid

Row 5864: No result found for address: Urb. Gaztambide Everyprop.com, Madrid

Row 5865: Address: Calle Espronceda, 32, Madrid
Latitude: 40.2060907, Longitude: -3.5762796

Row 5866: Address: Calle de Modesto Lafuente, 65, Madrid
Latitude: 40.4366721, Longitude: -3.6964164

Row 5867: Address: Calle alonso cano, Madrid
Latitude: 40.4428631, Longitude: -3.6974228

Row 5868: No result found for address: Calle de Medell�n, Madrid

Row 5869: Address: Plaza de Juan Zorrilla, 2, Madrid
Latitude: 40.441837, Longitude: -3.7046641

Row 5870: Address: GUZMAN EL BUENO, Madrid
Latitude: 40.4462739, Longitude: -3.7131693

Row 5871: No result found for address: Urb. Arapiles Everyprop.com, Madrid

Row 5872: No result found for address: Urb. Trafalgar Everyprop.com, Madrid

Row 5873: Address: Calle de Modesto Lafuente, 40, Madrid
Latitude: 40.4403565, Longitude: -3.6960199

Row 5874: Address: Calle de Galileo, 74 B, Madrid
Latitude: 40.4365741, Longitude: -3.7099937

Row 5875: No result found for address: Calle de Guzm�n el Bueno, Madrid, 91, Madrid

Row 5876: No result found for address: Calle de Raimundo Fern�ndez Villaverde, 30, Madrid

Row 5877: Address: Paseo SAN FRANCISCO DE SALES, Madrid
Latitude: 40.4439585, Longitude: -3.7104431

Row 5878: No result found for address: Calle de Joaqu�n Mar�a L�pez, 14, Madrid

Row 5879: Address: Julian Romea, Madrid
Latitude: 40.4426776, Longitude: -3.7141707

Row 5880: Address: Calle RUIZ, Madrid
Latitude: 40.3963511, Longitude: -3.7106515

Row 5881: Address: Calle POETA ANGELA FIGUERA, Madrid
Latitude: 40.4447818, Longitude: -3.7125196

Row 5882: Address: Calle DE JOSE ABASCAL, Madrid
Latitude: 40.4380714, Longitude: -3.6918663

Row 5883: No result found for address: Calle de Mar�a de Guzm�n, 61, Madrid

Row 5884: No result found for address: Raimundo Fern�ndez Villaverde, Madrid

Row 5885: No result found for address: Calle de Garc�a de Paredes, 74, Madrid

Row 5886: Address: Isaac peral, Madrid
Latitude: 40.4358502, Longitude: -3.7182177

Row 5887: Address: San Bernardo, Madrid
Latitude: 40.4297715, Longitude: -3.705761

Row 5888: Address: Calle de Ramiro II, 1, Madrid
Latitude: 40.4433208, Longitude: -3.7050822

Row 5889: Address: Calle de Alberto Aguilera, Madrid
Latitude: 40.4305604, Longitude: -3.7161447

Row 5890: Address: Calle de Juan de Austria, Madrid
Latitude: 40.4330573, Longitude: -3.6995885

Row 5891: Address: Plaza de San Juan de la Cruz, Madrid
Latitude: 40.4416583, Longitude: -3.6949176

Row 5892: Address: Calle de Blasco de Garay, 21, Madrid
Latitude: 40.4362414, Longitude: -3.7113374

Row 5893: No result found for address: Marqu�s de Corbera, Madrid

Row 5894: Address: Calle Luis Ruiz, 84, Madrid
Latitude: 40.4251481, Longitude: -3.6348586991914296

Row 5895: Address: Calle de Arturo Soria, Madrid
Latitude: 40.4718626, Longitude: -3.6674383

Row 5896: No result found for address: Calle de Elfo, Madrid

Row 5897: No result found for address: Calle de Cyesa, Madrid

Row 5898: No result found for address: Mar�a Teresa Saenz de Heredia, Madrid

Row 5899: Address: Berastegui, Madrid
Latitude: 40.4299919, Longitude: -3.6427526

Row 5900: Address: Montejurra, Madrid
Latitude: 40.4250773, Longitude: -3.6550626

Row 5901: No result found for address: GREGORIO BEN�TEZ, Madrid

Row 5902: No result found for address: Calle del Condado de Trevi�o, Madrid

Row 5903: No result found for address: Lorenzo San Nicol�s, Madrid

Row 5904: Address: Calle de Gonzalo de Berceo, Madrid
Latitude: 40.4278723, Longitude: -3.6412575

Row 5905: Address: Calle Pablo Lafargue, Madrid
Latitude: 40.4219553, Longitude: -3.6530741

Row 5906: No result found for address: Instituci�n de la Libre Ense�anza, Madrid

Row 5907: Address: Calle Montejurra, Madrid
Latitude: 40.4243553, Longitude: -3.6541984

Row 5908: Address: Calle Jazmin, Madrid
Latitude: 40.4798479, Longitude: -3.6656994

Row 5909: Address: Calle de Vital Aza, Madrid
Latitude: 40.4311976, Longitude: -3.6439747

Row 5910: Address: arriaga, Madrid
Latitude: 40.4237332, Longitude: -3.6392624

Row 5911: Address: Calle Virgen del Val, Madrid
Latitude: 40.438607, Longitude: -3.6535642

Row 5912: Address: Calle Serrano Galvache, 14, Madrid
Latitude: 40.473072099999996, Longitude: -3.671836106791055

Row 5913: Address: Calle Lorenzo Solano Tendero , 5, Madrid
Latitude: 40.4536887, Longitude: -3.6514059

Row 5914: Address: Calle Campuzano, Madrid
Latitude: 40.4357995, Longitude: -3.6423381

Row 5915: No result found for address: Plaza Anguiano, Madrid

Row 5916: Address: Calle Vicente Muzas, Madrid
Latitude: 40.4592017, Longitude: -3.6603386

Row 5917: Address: Avenida Donostiarra, Madrid
Latitude: 40.4348084, Longitude: -3.6577932

Row 5918: Address: Calle Caleruega, Madrid
Latitude: 40.4771278, Longitude: -3.6692044

Row 5919: No result found for address: Calle Alcal�, Madrid

Row 5920: Address: Calle ELFO, Madrid
Latitude: 40.4331327, Longitude: -3.6565154

Row 5921: Address: elfo, Madrid
Latitude: 40.4331327, Longitude: -3.6565154

Row 5922: Address: Calle Elfo, 65, Madrid
Latitude: 40.4331327, Longitude: -3.6565154

Row 5923: Address: Calle San Clodoaldo, Madrid
Latitude: 40.4280892, Longitude: -3.6507785

Row 5924: Address: LOS URQUIZA, 3, Madrid
Latitude: 40.433784200000005, Longitude: -3.6456819404555794

Row 5925: Address: Calle Postdam, Madrid
Latitude: 40.4143362, Longitude: -3.6248125

Row 5926: No result found for address: Avenida del Marqu�s de Corbera, Madrid

Row 5927: Address: Calle de Gonzalo de Berceo, 78, Madrid
Latitude: 40.42885535, Longitude: -3.6388741830228684

Row 5928: Address: Calle Amos de Escalante s/n, Madrid
Latitude: 40.4353178, Longitude: -3.6419492

Row 5929: Address: Calle De Gutierre de Cetina, Madrid
Latitude: 40.4309628, Longitude: -3.6420497

Row 5930: Address: Calle de Santa Genoveva, Madrid
Latitude: 40.4264214, Longitude: -3.6477797

Row 5931: No result found for address: Calle de Marcelino Roa V�zquez, Madrid

Row 5932: Address: Calle Gandhi, Madrid
Latitude: 40.4237726, Longitude: -3.6363838

Row 5933: Address: Calle Agami, Madrid
Latitude: 40.4406483, Longitude: -3.6419193

Row 5934: Address: Avenida de Badajoz, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 5935: Address: Calle de Mesena, Madrid
Latitude: 40.4653365, Longitude: -3.6619169

Row 5936: Address: Acentejo, Madrid
Latitude: 40.4337619, Longitude: -3.6365713

Row 5937: No result found for address: Avenida de la Instituci�n Libre de Ense�anza, Madrid

Row 5938: No result found for address: Urb. Concepci�n, Madrid

Row 5939: Address: Avenida de Badajoz, Madrid, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 5940: Address: Calle de Alonso Saavedra, 3, Madrid
Latitude: 40.4698457, Longitude: -3.6665993

Row 5941: Address: Luis Ruiz, Madrid
Latitude: 40.4291229, Longitude: -3.6368613

Row 5942: No result found for address: Calle Jos� Silva, Madrid

Row 5943: Address: Calle Pilar Cavero, 6, Madrid
Latitude: 40.4472162, Longitude: -3.6457196

Row 5944: Address: Calle de Vital Aza, 26, Madrid
Latitude: 40.431198050000006, Longitude: -3.6433254533900703

Row 5945: No result found for address: Calle del Jazm�n, 44, Madrid

Row 5946: Address: Calle Arturo Soria, 77, Madrid
Latitude: 40.4821714, Longitude: -3.6658982

Row 5947: No result found for address: Calle Rafael Bergam�n, Madrid

Row 5948: Address: Los urquiza, 7, Madrid
Latitude: 40.433489550000004, Longitude: -3.645524631400473

Row 5949: Address: Calle de Agastia, 71, Madrid
Latitude: 40.4464947, Longitude: -3.6520507

Row 5950: No result found for address: Calle S�nchez D�az, 12, Madrid

Row 5951: No result found for address: Calle Lorenzo Gonz�lez, Madrid

Row 5952: Address: San Gumersindo, Madrid
Latitude: 40.4324318, Longitude: -3.6523778

Row 5953: Address: Calle del Lago Constanza, Madrid
Latitude: 40.4303516, Longitude: -3.6461014

Row 5954: Address: Calle Virgen de los Reyes, Madrid
Latitude: 40.3026227, Longitude: -3.4464188

Row 5955: Address: Calle Cipriano Sancho, Madrid
Latitude: 40.4320578, Longitude: -3.6549845

Row 5956: No result found for address: Calle de Alcal�, Madrid

Row 5957: Address: Calle de Virgen de Lluc, Madrid
Latitude: 40.4349532, Longitude: -3.6514273

Row 5958: Address: Calle Condesa de Venadito, Madrid
Latitude: 40.444125, Longitude: -3.6554106

Row 5959: Address: Donostiarra, Madrid
Latitude: 40.4348749, Longitude: -3.657778

Row 5960: Address: Calle de San Secundino, Madrid
Latitude: 40.4248799, Longitude: -3.6562257

Row 5961: Address: Lago Salado, 9, Madrid
Latitude: 40.4346427, Longitude: -3.6370675239726005

Row 5962: Address: Calle de Torrelaguna, 63, Madrid
Latitude: 40.4431789, Longitude: -3.6542256

Row 5963: Address: Calle de Caleruega, 19, Madrid
Latitude: 40.4781474, Longitude: -3.670454

Row 5964: Address: Calle Virgen de Nuria, 3, Madrid
Latitude: 40.4357788, Longitude: -3.65374

Row 5965: Address: Calle Peloponeso, 16, Madrid
Latitude: 40.4147384, Longitude: -3.6239744

Row 5966: No result found for address: Plaza Ge�logos, 5, Madrid

Row 5967: Address: Calle San Telesforo, 28, Madrid
Latitude: 40.4261171, Longitude: -3.6328185

Row 5968: No result found for address: Calle G�mez de Avellaneda, Madrid

Row 5969: Address: Calle de Siena, Madrid
Latitude: 40.4325825, Longitude: -3.6564063

Row 5970: Address: Calle Buen Gobernador, Madrid
Latitude: 40.2469118, Longitude: -3.313226

Row 5971: Address: Ascao, Madrid
Latitude: 40.4303119, Longitude: -3.6404493

Row 5972: Address: Calle de Ricardo Ortiz, Madrid
Latitude: 40.430365, Longitude: -3.657612

Row 5973: Address: Calle Virgen del Coro, Madrid
Latitude: 40.4337567, Longitude: -3.6584839

Row 5974: Address: Calle de Angel Larra, Madrid
Latitude: 40.4432133, Longitude: -3.6464253

Row 5975: Address: Calle de Villasilos, Madrid
Latitude: 40.4214761, Longitude: -3.6280986

Row 5976: Address: Av. de Trueba, Madrid
Latitude: 40.42822, Longitude: -3.6480059

Row 5977: No result found for address: Calle la Espa�ola, Madrid

Row 5978: No result found for address: Calle de Marcelino �lvarez, Madrid

Row 5979: No result found for address: Calle Manuel Mara��n & Arturo Soria, 176, Madrid

Row 5980: No result found for address: Calle De Fern�ndez Caro, Madrid

Row 5981: No result found for address: Calle de Jos� Arcones Gil, Madrid

Row 5982: No result found for address: Calle Prudencio �lvaro, Madrid

Row 5983: No result found for address: Calle de Federico Guti�rrez, Madrid

Row 5984: No result found for address: Calle Virgen del Casta�ar, Madrid

Row 5985: No result found for address: Calle de Jos� del Hierro, Madrid

Row 5986: Address: HERMANOS MACHADO, Madrid
Latitude: 40.4289853, Longitude: -3.6485585

Row 5987: No result found for address: Calle de Faustina Pe�alver, 22, Madrid

Row 5988: Address: Calle Esteban Collantes, 5, Madrid
Latitude: 40.4307955, Longitude: -3.6430074871240565

Row 5989: Address: Calle de Berastegui, Madrid
Latitude: 40.4299919, Longitude: -3.6427526

Row 5990: Address: Calle de Arturo Soria, Madrid s/n, Madrid
Latitude: 40.4492709, Longitude: -3.6512193

Row 5991: No result found for address: Calle de Mat�as Turri�n, Madrid

Row 5992: No result found for address: Calle de Luis Carlos V�zquez, 14, Madrid

Row 5993: Address: Calle de Centenera, Madrid
Latitude: 40.4340951, Longitude: -3.6410876

Row 5994: Address: DOCTOR VALLEJO, 15, Madrid
Latitude: 40.4410163, Longitude: -3.6472754

Row 5995: Address: Calle de Gonzalo de Berceo s/n, Madrid
Latitude: 40.4278723, Longitude: -3.6412575

Row 5996: Address: EMILIO VARGAS, Madrid
Latitude: 40.4487516, Longitude: -3.6524497

Row 5997: Address: Calle de Ezequiel Solana, Madrid
Latitude: 40.4270441, Longitude: -3.6420774

Row 5998: Address: Calle Virgen de Lourdes, Madrid
Latitude: 40.4354741, Longitude: -3.6555497

Row 5999: Address: Calle Doctor Vallejo, Madrid
Latitude: 40.4417434, Longitude: -3.6482397

Row 6000: Address: Calle Gabasti, Madrid
Latitude: 40.4373427, Longitude: -3.6442027

Row 6001: Address: Calle de Gutierre de Cetina, Madrid
Latitude: 40.4309628, Longitude: -3.6420497

Row 6002: Address: Avenida DE BADAJOZ, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 6003: No result found for address: Calle del Marqu�s de Pico Velasco, 60, Madrid

Row 6004: Address: Calle Virgen del Espino, Madrid
Latitude: 40.4407406, Longitude: -3.6552504

Row 6005: Address: Calle Luis Ruiz, Madrid
Latitude: 40.4290726, Longitude: -3.6370371

Row 6006: Address: Calle AGASTIA, 114, Madrid
Latitude: 40.4464947, Longitude: -3.6520507

Row 6007: Address: Calle de Santurce, Madrid
Latitude: 40.4277233, Longitude: -3.6339538

Row 6008: Address: Plaza de la Ciudad de Salta, Madrid
Latitude: 40.455338, Longitude: -3.6617952

Row 6009: No result found for address: Calle del Condado de Trevi�o, 9, Madrid

Row 6010: Address: Calle de Esteban Mora, Madrid
Latitude: 40.43861, Longitude: -3.6541926

Row 6011: No result found for address: Calle Carlos Hern�ndez, Madrid

Row 6012: Address: Calle San Gumersindo, Madrid
Latitude: 40.4324318, Longitude: -3.6523778

Row 6013: No result found for address: Calle de Mar�a Teresa S�enz de Heredia, Madrid, Madrid

Row 6014: Address: Calle Achuri, Madrid
Latitude: 40.4286709, Longitude: -3.6417802

Row 6015: Address: Calle de Antonio Ponz, 13, Madrid
Latitude: 40.42806565, Longitude: -3.6437702181021168

Row 6016: Address: Calle Virgen de Lourdes, 26, Madrid
Latitude: 40.4360265, Longitude: -3.6560799

Row 6017: Address: Marques de Corbera, Madrid
Latitude: 40.4214424, Longitude: -3.6584537

Row 6018: No result found for address: Calle de Nicol�s Salmer�n, Madrid

Row 6019: Address: Calle Hermanos Machado, 17, Madrid
Latitude: 40.4315695, Longitude: -3.6490366

Row 6020: No result found for address: Calle de Alcal�, 419, Madrid

Row 6021: No result found for address: Calle de Emilio Gastesi Fern�ndez, Madrid

Row 6022: No result found for address: Calle de Francisco Giner de los R�os, Madrid

Row 6023: Address: Calle San Lamberto, Madrid
Latitude: 40.4208708, Longitude: -3.6515004

Row 6024: Address: VIRGEN DEL CORO, Madrid
Latitude: 40.4337567, Longitude: -3.6584839

Row 6025: No result found for address: Calle del Jazm�n, 38, Madrid

Row 6026: Address: Calle Paredes de Nava, Madrid
Latitude: 40.4205314, Longitude: -3.6267986

Row 6027: Address: VIRGEN DEL VAL, Madrid
Latitude: 40.4883284, Longitude: -3.3423621

Row 6028: Address: Pablo Lafargue, Madrid
Latitude: 40.4219553, Longitude: -3.6530741

Row 6029: Address: Calle de Caleruega, Madrid
Latitude: 40.4771278, Longitude: -3.6692044

Row 6030: No result found for address: Calle de Nuestra Se�ora del Villar, Madrid

Row 6031: No result found for address: Calle Gerardo Cord�n, 42, Madrid

Row 6032: No result found for address: Urb. Ventas, Madrid

Row 6033: No result found for address: Calle Mateo Garc�a, Madrid

Row 6034: No result found for address: Calle Manuel Mar�a Iglesias, Madrid

Row 6035: Address: Calle del Poeta Blas de Otero, Madrid
Latitude: 40.4210458, Longitude: -3.6548752

Row 6036: No result found for address: Calle de Alcal�, 275, Madrid

Row 6037: Address: Zigia, Madrid
Latitude: 40.4392959, Longitude: -3.6438384

Row 6038: No result found for address: NUESTRA SE�ORA DEL VILLAR, Madrid

Row 6039: Address: Pasaje de Caleruega, Madrid
Latitude: 40.4809669, Longitude: -3.6725795

Row 6040: Address: Calle de Santa Genoveva, 52, Madrid
Latitude: 40.42282295, Longitude: -3.6502547247371604

Row 6041: Address: Calle Hermanos Machado, 14, Madrid
Latitude: 40.4321633, Longitude: -3.6494302

Row 6042: No result found for address: Calle del Jazm�n, Madrid

Row 6043: Address: Calle Prensa, Madrid
Latitude: 40.4704941, Longitude: -3.6681484

Row 6044: Address: Calle Juan Pascual, Madrid
Latitude: 40.4077133, Longitude: -3.7400515

Row 6045: Address: Calle Sequillo, Madrid
Latitude: 40.4299582, Longitude: -3.63713

Row 6046: Address: Calle de Sambara, 111, Madrid
Latitude: 40.43686795, Longitude: -3.6448757095012256

Row 6047: Address: Calle de las Normas, 4, Madrid
Latitude: 40.4526837, Longitude: -3.6619472

Row 6048: Address: Calle de Carlota O�Neill, Madrid, Madrid
Latitude: 40.4455017, Longitude: -3.6474005

Row 6049: Address: VIRGEN DE LOURDES, Madrid
Latitude: 40.4353, Longitude: -3.6575286

Row 6050: Address: Cuesta San Juan de la, Madrid
Latitude: 40.14292, Longitude: -3.9194859

Row 6051: No result found for address: Calle del Ap�stol Santiago, Madrid

Row 6052: Address: Avenida de San Luis, 95, Madrid
Latitude: 40.478076200000004, Longitude: -3.6719591513056926

Row 6053: Address: Calle DE LUIS RUIZ, Madrid
Latitude: 40.4290726, Longitude: -3.6370371

Row 6054: Address: Pasaje Caleruega, 11, Madrid
Latitude: 40.4809669, Longitude: -3.6725795

Row 6055: Address: Avenida donostiarra, 4, Madrid
Latitude: 40.4348084, Longitude: -3.6577932

Row 6056: Address: Arturo Soria, 320, Madrid
Latitude: 40.4782743, Longitude: -3.6682676

Row 6057: No result found for address: Calle de Marcelino Roa V�zquez, 39, Madrid

Row 6058: Address: Plaza Bami, Madrid
Latitude: 40.430767, Longitude: -3.6546566

Row 6059: No result found for address: Calle de Pedro Antonio de Alarc�n, Madrid

Row 6060: Address: MARCELINO ROA VAZQUEZ, Madrid
Latitude: 40.427814, Longitude: -3.6425237

Row 6061: No result found for address: Calle de Jos� Arcones Gil, 56, Madrid

Row 6062: Address: Calle de San Telesforo, Madrid
Latitude: 40.4261171, Longitude: -3.6328185

Row 6063: Address: Arriaga, Madrid
Latitude: 40.4237332, Longitude: -3.6392624

Row 6064: Address: Calle San Fidel, 7, Madrid
Latitude: 40.426283850000004, Longitude: -3.6426428256494057

Row 6065: Address: Avenida de Badajoz, 13, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 6066: Address: Calle Piquer, 7, Madrid
Latitude: 40.4654888, Longitude: -3.6644619

Row 6067: Address: Calle San Lamberto, 3, Madrid
Latitude: 40.419780349999996, Longitude: -3.6519955188642768

Row 6068: No result found for address: Calle de �ngel Mu�oz, Madrid

Row 6069: Address: Calle Esteban Collantes, Madrid
Latitude: 40.4320719, Longitude: -3.6393997

Row 6070: Address: Calle Julia Balenchana, Madrid
Latitude: 40.4636202, Longitude: -3.6623383

Row 6071: Address: Calle de Pepe Isbert, Madrid
Latitude: 40.4225859, Longitude: -3.6274252

Row 6072: Address: san marcelo, Madrid
Latitude: 40.4273593, Longitude: -3.6562652

Row 6073: No result found for address: Calle de la Virgen del Puig, Madrid

Row 6074: Address: Calle San Fidel, Madrid
Latitude: 40.4273177, Longitude: -3.6401557

Row 6075: Address: Calle de San Emilio, Madrid
Latitude: 40.4261666, Longitude: -3.6570405

Row 6076: Address: LOPEZ DE HOYOS, Madrid
Latitude: 40.4406599, Longitude: -3.6798654

Row 6077: No result found for address: Calle Marqu�s de Altamira, Madrid

Row 6078: Address: Calle Baus�, Madrid
Latitude: 40.4227161, Longitude: -3.6931584

Row 6079: Address: Calle PRENSA, Madrid
Latitude: 40.4704941, Longitude: -3.6681484

Row 6080: No result found for address: Calle de Fernando Gabriel, 7, Madrid

Row 6081: Address: Calle ESTRECHO DE GIBRALTAR, 15, Madrid
Latitude: 40.43685565, Longitude: -3.6415863150799312

Row 6082: No result found for address: Calle Jos� del Hierro, Madrid

Row 6083: Address: Arturo Soria, 319, Madrid
Latitude: 40.47932575, Longitude: -3.669607130462183

Row 6084: Address: Calle de Agastia, 43, Madrid
Latitude: 40.4464947, Longitude: -3.6520507

Row 6085: Address: Calle de Arturo Soria, 50, Madrid
Latitude: 40.4428712, Longitude: -3.6411580779698403

Row 6086: Address: Mateo Garcia, Madrid
Latitude: 40.4293529, Longitude: -3.6525262

Row 6087: Address: ALCALA, Madrid
Latitude: 4.72848925, Longitude: -74.25611802000097

Row 6088: Address: Avenida de Badajoz, 11, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 6089: Address: Calle de Agastia, Madrid
Latitude: 40.4464947, Longitude: -3.6520507

Row 6090: Address: Arturo Soria, Madrid
Latitude: 40.455936, Longitude: -3.6561772

Row 6091: No result found for address: Calle del Jazm�n, 35, Madrid

Row 6092: Address: Calle de Arturo Soria, 201, Madrid
Latitude: 40.4593302, Longitude: -3.6611448199603047

Row 6093: Address: Carolina coronado, Madrid
Latitude: 40.4306695, Longitude: -3.6437282

Row 6094: No result found for address: Calle de Luis Carlos V�zquez, 16, Madrid

Row 6095: Address: Calle Hernandez Rubin, 15, Madrid
Latitude: 40.4491419, Longitude: -3.649315

Row 6096: Address: Calle Carolina Coronado, 29, Madrid
Latitude: 40.431022299999995, Longitude: -3.6433991493205733

Row 6097: No result found for address: Calle de la Virgen del Puig, 11, Madrid

Row 6098: Address: Calle Arturo Soria, Madrid
Latitude: 40.4718626, Longitude: -3.6674383

Row 6099: Address: Calle Sorzano, Madrid
Latitude: 40.4523349, Longitude: -3.6564879

Row 6100: Address: Calle santa irene , 5, Madrid
Latitude: 40.4184738, Longitude: -3.6497019

Row 6101: Address: Plaza la Orotava, Madrid, 10, Madrid
Latitude: 40.4321098, Longitude: -3.6344892

Row 6102: No result found for address: Calle del Marqu�s de Portugalete, 10, Madrid

Row 6103: Address: SAN FIDEL, Madrid
Latitude: 40.4273177, Longitude: -3.6401557

Row 6104: Address: Calle de los Urquiza, Madrid
Latitude: 40.4325113, Longitude: -3.6451761

Row 6105: Address: Calle de Siena, 37, Madrid
Latitude: 40.4325825, Longitude: -3.6564063

Row 6106: Address: Calle de Portugalete, Madrid
Latitude: 40.4453199, Longitude: -3.6461905

Row 6107: Address: Avenida DE SAN LUIS, Madrid
Latitude: 40.471953, Longitude: -3.6531521

Row 6108: Address: Calle de Sambara, 138, Madrid
Latitude: 40.43809995, Longitude: -3.641557575057517

Row 6109: Address: Calle Tajuya, Madrid
Latitude: 40.4312841, Longitude: -3.6352975

Row 6110: Address: Calle de Boldano, 10, Madrid
Latitude: 40.4377729, Longitude: -3.6408040123796255

Row 6111: Address: Calle Lago Constanza, 55, Madrid
Latitude: 40.4303987, Longitude: -3.64590868430328

Row 6112: Address: Calle Prensa, 7, Madrid
Latitude: 40.4704941, Longitude: -3.6681484

Row 6113: No result found for address: Calle Germ�n P�rez Carrasco, Madrid

Row 6114: No result found for address: Calle de Emilio Rubin s/n, Madrid

Row 6115: Address: Calle de Boldano, 4, Madrid
Latitude: 40.437394499999996, Longitude: -3.640345866263693

Row 6116: Address: Calle Virgen de los Reyes, 6, Madrid
Latitude: 40.437731, Longitude: -3.652870867100133

Row 6117: No result found for address: Calle Protasio G�mez, Madrid

Row 6118: Address: Calle JOSE ARCONES GIL, Madrid
Latitude: 40.4345724, Longitude: -3.6384794

Row 6119: Address: Calle NICOLAS SALMERON, Madrid
Latitude: 40.4228296, Longitude: -3.6357088

Row 6120: Address: Calle Madres Plaza de Mayo, 22, Madrid
Latitude: 40.43362655, Longitude: -3.6399809023387633

Row 6121: Address: Esteban Mora, Madrid
Latitude: 40.43861, Longitude: -3.6541926

Row 6122: Address: Amara, Madrid
Latitude: 40.446174, Longitude: -3.6484999

Row 6123: Address: Calle Emiliano Barral, Madrid
Latitude: 40.4505733, Longitude: -3.6607121

Row 6124: Address: Calle Amos de Escalante, Madrid
Latitude: 40.4353178, Longitude: -3.6419492

Row 6125: Address: Calle Virgen del Puig, Madrid
Latitude: 40.4329659, Longitude: -3.6582534

Row 6126: No result found for address: Calle de Arturo Soria, Madrid, 28027, Madrid Madrid, Espa�a, Madrid

Row 6127: No result found for address: Calle Nicol�s Salmer�n, Madrid

Row 6128: Address: Calle Benidorm, Madrid
Latitude: 40.4309191, Longitude: -3.655611

Row 6129: Address: ESTEBAN COLLANTES, Madrid
Latitude: 40.4320719, Longitude: -3.6393997

Row 6130: Address: Sequillo, Madrid
Latitude: 40.4299582, Longitude: -3.63713

Row 6131: Address: Calle Gonzalo de Berceo, Madrid
Latitude: 40.4836394, Longitude: -3.3548428

Row 6132: Address: Madre Antonia Paris, 2, Madrid
Latitude: 40.444139, Longitude: -3.6516847

Row 6133: Address: San Fidel, Madrid
Latitude: 40.4273177, Longitude: -3.6401557

Row 6134: Address: prudencio Alvaro, 41, Madrid
Latitude: 40.43866045, Longitude: -3.644030231380058

Row 6135: No result found for address: institucion libre de ense�anza, Madrid

Row 6136: Address: TORRELAGUNA, Madrid
Latitude: 40.4439735, Longitude: -3.6545309

Row 6137: Address: ARTURO SORIA, Madrid
Latitude: 40.455936, Longitude: -3.6561772

Row 6138: Address: Calle de Virgen de Lluc, 80, Madrid
Latitude: 40.4361915, Longitude: -3.6469903155132393

Row 6139: Address: Calle Montejurra, 36, Madrid
Latitude: 40.4256395, Longitude: -3.6559544911133877

Row 6140: No result found for address: Calle DEL MARQU�S DE PICO VELASCO, Madrid

Row 6141: Address: Calle Virgen del Espino, 2, Madrid
Latitude: 40.4407406, Longitude: -3.6552504

Row 6142: Address: Calle Vicente Espinel, Madrid
Latitude: 40.557051, Longitude: -3.3295898

Row 6143: Address: Emilio Ferrari, Madrid
Latitude: 40.4350955, Longitude: -3.6438224

Row 6144: Address: Achuri, Madrid
Latitude: 40.4081287, Longitude: -3.6980834

Row 6145: Address: Calle de San Secundino, 11, Madrid
Latitude: 40.42475585, Longitude: -3.655520737440037

Row 6146: No result found for address: Urb. JUNTO AL METRO ARTURO SORIA, ADMITE ACTIVIDAD DE NEGOCIO, Madrid

Row 6147: No result found for address: Urb. caribe 2, Madrid

Row 6148: Address: Calle de la Dulzaina, Madrid
Latitude: 40.4808342, Longitude: -3.662545

Row 6149: Address: Esteban Collantes, 35, Madrid
Latitude: 40.43190835, Longitude: -3.640589651761294

Row 6150: No result found for address: Calle de L�pez de Hoyos, 364, Madrid

Row 6151: No result found for address: Calle de Mar�a Teresa S�enz de Heredia, Madrid

Row 6152: Address: Calle Virgen de Lluc, Madrid
Latitude: 40.4349532, Longitude: -3.6514273

Row 6153: No result found for address: Calle de �ngel Gonz�lez Tejedor, Madrid

Row 6154: Address: Virgen de los reyes, Madrid
Latitude: 40.4390981, Longitude: -3.6502633

Row 6155: Address: Calle Ricardo Ortiz, Madrid
Latitude: 40.430365, Longitude: -3.657612

Row 6156: Address: Sambara, Madrid
Latitude: 40.4350724, Longitude: -3.6483777

Row 6157: Address: Calle de Arturo Soria, 331, Madrid
Latitude: 40.460669, Longitude: -3.6623222

Row 6158: Address: Calle LAGO SALADO, Madrid
Latitude: 40.4347704, Longitude: -3.6373604

Row 6159: No result found for address: Calle Gerardo Cord�n, 20, Madrid

Row 6160: Address: Calle San Fidel, 73 -57, Madrid
Latitude: 40.4273177, Longitude: -3.6401557

Row 6161: Address: Madres Plaza de Mayo, Madrid
Latitude: 40.433437, Longitude: -3.6405933

Row 6162: No result found for address: Calle de Nicol�s Salmer�n, 22, Madrid

Row 6163: Address: Calle Virgen del Coro, 13, Madrid
Latitude: 40.4337567, Longitude: -3.6584839

Row 6164: Address: Calle de Boldano, 31, Madrid
Latitude: 40.43932195, Longitude: -3.6425468265956615

Row 6165: Address: asura s/n, Madrid
Latitude: 40.4505104, Longitude: -3.6488295

Row 6166: Address: Calle de Asura s/n, Madrid
Latitude: 40.4505104, Longitude: -3.6488295

Row 6167: Address: Plaza de la Ciudad de Salta, 2, Madrid
Latitude: 40.455338, Longitude: -3.6617952

Row 6168: Address: Calle San Maximiliano, 16, Madrid
Latitude: 40.4236963, Longitude: -3.6551852

Row 6169: Address: Calle de Arturo Baldasano, Madrid
Latitude: 40.4559791, Longitude: -3.6607815

Row 6170: No result found for address: Urb. SOLARIUM COMUNITARIO, Madrid

Row 6171: No result found for address: Urb. Solarium comunitario, Madrid

Row 6172: Address: Calle de los Hermanos de Pablo, Madrid
Latitude: 40.4364388, Longitude: -3.6452897

Row 6173: Address: ESTEBAN MORA, Madrid
Latitude: 40.43861, Longitude: -3.6541926

Row 6174: Address: Calle de Torrelaguna, Madrid
Latitude: 40.4439735, Longitude: -3.6545309

Row 6175: Address: VIRGEN DE LA PROVIDENCIA, Madrid
Latitude: 40.4385156, Longitude: -3.6497736

Row 6176: Address: alcala, Madrid
Latitude: 4.72848925, Longitude: -74.25611802000097

Row 6177: Address: Calle de Emilio Ferrari, Madrid
Latitude: 40.4326257, Longitude: -3.6422903

Row 6178: Address: Calle Francisco Madariaga, Madrid
Latitude: 40.4351634, Longitude: -3.6411613

Row 6179: Address: Calle Virgen de la Pena, Madrid, Madrid
Latitude: 40.4382258, Longitude: -3.6526575

Row 6180: No result found for address: Calle de Jos� Mar�a de Pereda, Madrid

Row 6181: Address: Calle Francisco Villaespesa, Madrid
Latitude: 40.4287253, Longitude: -3.6487353

Row 6182: Address: Calle de Arturo Soria, Madrid, Madrid
Latitude: 40.4718626, Longitude: -3.6674383

Row 6183: No result found for address: Calle joaqu�n arroyo, Madrid

Row 6184: Address: Calle de Gutierre de Cetina, 28, Madrid
Latitude: 40.4309628, Longitude: -3.6420497

Row 6185: No result found for address: Calle de Pedro Antonio de Alarc�n, 24, Madrid

Row 6186: Address: Pedro Antonio de Alarcon, 24, Madrid
Latitude: 40.4266017, Longitude: -3.642623464845605

Row 6187: No result found for address: Mateo Garc�a, Madrid

Row 6188: No result found for address: Calle de Mat�as Turri�n, 6, Madrid

Row 6189: Address: Calle Salvador de Madariaga, 54, Madrid
Latitude: 40.5685717, Longitude: -3.6116533

Row 6190: Address: Calle Yerma, 8 -10, Madrid
Latitude: 40.47543795, Longitude: -3.6715985597948717

Row 6191: Address: Calle San Marcelo, 12, Madrid
Latitude: 40.426764950000006, Longitude: -3.656807888796923

Row 6192: Address: Pasaje Caleruega, 7, Madrid
Latitude: 40.4800576, Longitude: -3.67213

Row 6193: Address: Calle de la Argentina, 2 -4, Madrid
Latitude: 40.4337085, Longitude: -3.6488304

Row 6194: Address: Mesena, 39, Madrid
Latitude: 40.467834499999995, Longitude: -3.6594548638916757

Row 6195: Address: Calle de Pedrezuela, Madrid
Latitude: 40.4284531, Longitude: -3.6535742

Row 6196: Address: gandhi, 67, Madrid
Latitude: 40.4256955, Longitude: -3.6311521

Row 6197: Error geocoding address 'de las ca�as, 3, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=de+las+ca%EF%BF%BDas%2C+3%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 6198: Address: Calle Madres Plaza de Mayo, Madrid
Latitude: 40.433437, Longitude: -3.6405933

Row 6199: Address: Calle DOCTOR VALLEJO, Madrid
Latitude: 40.4417434, Longitude: -3.6482397

Row 6200: Address: Calle FRANCISCO VILLAESPESA, Madrid
Latitude: 40.4287253, Longitude: -3.6487353

Row 6201: No result found for address: Calle Sor Mar�a de �greda, Madrid

Row 6202: No result found for address: Calle ELADIO L�PEZ VILCHES, Madrid

Row 6203: Address: Calle San Maximiliano, Madrid
Latitude: 40.4269011, Longitude: -3.6509559

Row 6204: No result found for address: Avenida del Marqu�s de Corbera, 34, Madrid

Row 6205: Address: Calle Pablo Lafargue, 38, Madrid
Latitude: 40.4217271, Longitude: -3.6525395305342405

Row 6206: Address: Calle Juan de Arolas, 6, Madrid
Latitude: 40.430423000000005, Longitude: -3.647486651097174

Row 6207: Address: Calle Treviana, 6, Madrid
Latitude: 40.4489923, Longitude: -3.6586568

Row 6208: Address: Calle Virgen del Coro, 2, Madrid
Latitude: 40.4337567, Longitude: -3.6584839

Row 6209: Address: Calle Caribe, 4, Madrid
Latitude: 40.4424414, Longitude: -3.6554367

Row 6210: No result found for address: Calle Ram�n Patuel, 23, Madrid

Row 6211: Address: Calle Baus�, 8, Madrid
Latitude: 40.4227161, Longitude: -3.6931584

Row 6212: Address: Calle Llanos de Escudero, 22, Madrid
Latitude: 40.4268108, Longitude: -3.6389341

Row 6213: No result found for address: Calle del Ap�stol Santiago, 59, Madrid

Row 6214: Address: Calle Vicente Muzas, 2, Madrid
Latitude: 40.4592017, Longitude: -3.6603386

Row 6215: Address: Calle de Emilio Ferrari, 29, Madrid
Latitude: 40.4331075, Longitude: -3.64238905869506

Row 6216: Address: Calle Achuri, 3, Madrid
Latitude: 40.4283815, Longitude: -3.6426556151557037

Row 6217: Address: Calle Virgen de los Reyes, 21, Madrid
Latitude: 40.43948195, Longitude: -3.649704197058645

Row 6218: No result found for address: Calle de la Virgen del Puig s/n, Madrid

Row 6219: Address: Calle Paredes de Nava, 28, Madrid
Latitude: 40.4189315, Longitude: -3.6285126

Row 6220: No result found for address: Calle Mariano D�az Alonso, 5, Madrid

Row 6221: No result found for address: Calle de la Virgen del Puig, 9, Madrid

Row 6222: No result found for address: Juan P�rez Zu�iga, 22, Madrid

Row 6223: Address: Calle Amos de Escalante, 4, Madrid
Latitude: 40.4350084, Longitude: -3.642127518666669

Row 6224: Address: Calle Virgen de Lourdes, 38, Madrid
Latitude: 40.4360265, Longitude: -3.6560799

Row 6225: Address: Calle de Caleruega, 18, Madrid
Latitude: 40.4793113, Longitude: -3.6707401

Row 6226: Address: Calle San Nemesio, 8, Madrid
Latitude: 40.4531698, Longitude: -3.6589479

Row 6227: Address: Calle Sorzano, 19, Madrid
Latitude: 40.4523349, Longitude: -3.6564879

Row 6228: Address: Calle de Pepe Isbert, 7, Madrid
Latitude: 40.4225859, Longitude: -3.6274252

Row 6229: No result found for address: Calle de Emilio Gastesi Fern�ndez, 12, Madrid

Row 6230: No result found for address: Calle de Marcelino �lvarez, 21, Madrid

Row 6231: Address: Calle lopez de hoyos, Madrid
Latitude: 40.4698405, Longitude: -3.6514684

Row 6232: Address: Calle Llanos de Escudero, Madrid
Latitude: 40.4268108, Longitude: -3.6389341

Row 6233: No result found for address: Calle Alcalde L�pez Casero, 7, Madrid

Row 6234: Address: Calle de los Urquiza, 30, Madrid
Latitude: 40.432263750000004, Longitude: -3.64520431864464

Row 6235: No result found for address: Calle del Jazm�n, 51, Madrid

Row 6236: No result found for address: Calle M�ximo San Juan, 9, Madrid

Row 6237: Address: Calle Derechos Humanos, 1, Madrid
Latitude: 40.4384285, Longitude: -3.6554332

Row 6238: Address: Calle de Servando Batanero, 3, Madrid
Latitude: 40.4294107, Longitude: -3.6502312626532216

Row 6239: Address: Calle de Arturo Soria, 55, Madrid
Latitude: 40.44401155, Longitude: -3.6445526570739126

Row 6240: Address: Calle de Esteban Mora, 47, Madrid
Latitude: 40.4393732, Longitude: -3.6537331

Row 6241: Address: Calle de Arturo Soria, 310, Madrid
Latitude: 40.47589, Longitude: -3.667924

Row 6242: No result found for address: Calle NICOL�S SALMER�N, Madrid

Row 6243: Address: Torrelaguna, Madrid
Latitude: 40.4439735, Longitude: -3.6545309

Row 6244: Address: VIRGEN DE LOS REYES, Madrid
Latitude: 40.4390981, Longitude: -3.6502633

Row 6245: Address: arturo soria, Madrid
Latitude: 40.455936, Longitude: -3.6561772

Row 6246: Address: Virgen de Lluc, Madrid
Latitude: 40.4375761, Longitude: -3.6444887

Row 6247: Address: Calle de Servando Batanero, Madrid
Latitude: 40.4303047, Longitude: -3.6436609

Row 6248: No result found for address: Calle de Mar�a Teresa S�enz de Heredia, 11, Madrid

Row 6249: Address: Calle Francisco Requena, Madrid
Latitude: 40.426125, Longitude: -3.6538579

Row 6250: Address: Calle de la Vereda del Carmen, Madrid, Madrid
Latitude: 40.4294935, Longitude: -3.6514554

Row 6251: Address: Avenida de Badajoz, 3, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 6252: Address: Calle de Asura, Madrid, Madrid
Latitude: 40.4505104, Longitude: -3.6488295

Row 6253: Address: LORENZO SAN NICOLAS, Madrid
Latitude: -16.5318985, Longitude: -68.2058153

Row 6254: Address: Hermanos Machado, Madrid
Latitude: 40.4289853, Longitude: -3.6485585

Row 6255: Address: Calle de Torrelaguna, 22, Madrid
Latitude: 40.441788200000005, Longitude: -3.6504447194712464

Row 6256: No result found for address: Urb. Arturo Soria - Ciudad Lineal, Madrid

Row 6257: Address: Calle de Centenera, 26, Madrid
Latitude: 40.4343439, Longitude: -3.6400242310536575

Row 6258: Address: Calle de Asura, 111, Madrid
Latitude: 40.4505104, Longitude: -3.6488295

Row 6259: Address: Calle siena, 55, Madrid
Latitude: 40.4325825, Longitude: -3.6564063

Row 6260: No result found for address: Calle de Alcal�, 277, Madrid

Row 6261: No result found for address: Calle de Alcal�, 379, Madrid

Row 6262: Address: Calle antonio calvo, 11, Madrid
Latitude: 40.4368049, Longitude: -3.6563186

Row 6263: Address: Calle Salvador de Madariaga, 8, Madrid
Latitude: 40.5111354, Longitude: -3.3538073826865737

Row 6264: Address: Calle de Ulises, 14, Madrid
Latitude: 40.457409, Longitude: -3.6531912

Row 6265: Address: Calle agastia, 11, Madrid
Latitude: 40.4464947, Longitude: -3.6520507

Row 6266: Address: Calle Lago Salado, 18, Madrid
Latitude: 40.4347704, Longitude: -3.6373604

Row 6267: No result found for address: Calle Bre�a, 6, Madrid

Row 6268: Address: Calle de Virgen de Lluc, 21, Madrid
Latitude: 40.43651635, Longitude: -3.646959544675975

Row 6269: Address: Calle Barlovento, 1, Madrid
Latitude: 40.42620375, Longitude: -3.6316348826875213

Row 6270: Address: Plaza Penablanca, 5, Madrid
Latitude: 40.7259084, Longitude: -3.4746541

Row 6271: Address: Calle de Arturo Soria, 249, Madrid
Latitude: 40.46625785, Longitude: -3.6662639050847243

Row 6272: No result found for address: Calle Rafael Bergam�n, 16, Madrid

Row 6273: No result found for address: Calle de Mat�as Turri�n, 20, Madrid

Row 6274: Address: Calle Virgen del Sagrario, 30, Madrid
Latitude: 40.4360276, Longitude: -3.6492767

Row 6275: No result found for address: Calle de Emilio Gastesi Fern�ndez, 46, Madrid

Row 6276: No result found for address: Calle de Marcelino Roa V�zquez, 10, Madrid

Row 6277: Address: Calle San Maximiliano, 13, Madrid
Latitude: 40.423848050000004, Longitude: -3.6554198229783155

Row 6278: Address: Calle de Torrelaguna, 110, Madrid
Latitude: 40.442503, Longitude: -3.6534025

Row 6279: No result found for address: Calle del Jazm�n, 39, Madrid

Row 6280: Address: Calle Benidorm, 28, Madrid
Latitude: 40.4315377, Longitude: -3.6515555

Row 6281: Address: Calle Emilio Ferrari, 62, Madrid
Latitude: 40.43073, Longitude: -3.6411277269214883

Row 6282: No result found for address: Calle de L�pez de Hoyos, 336, Madrid

Row 6283: Address: Calle jazmin, 37, Madrid
Latitude: 40.476793, Longitude: -3.6679976

Row 6284: Address: Calle Llanos de Escudero, 12, Madrid
Latitude: 40.42610465, Longitude: -3.6399610389335635

Row 6285: No result found for address: Calle del Jazm�n, 41, Madrid

Row 6286: No result found for address: Calle la Espa�ola, 7, Madrid

Row 6287: No result found for address: Calle de Alcal�, 367, Madrid

Row 6288: Address: Calle Hermanos de Pablo, 6, Madrid
Latitude: 40.4381434, Longitude: -3.6466687

Row 6289: No result found for address: Calle de Faustina Pe�alver, 16, Madrid

Row 6290: No result found for address: Calle Alcalde L�pez Casero, 13, Madrid

Row 6291: No result found for address: Calle de Jos� Arcones Gil, 7, Madrid

Row 6292: Address: Calle Peloponeso, 5, Madrid
Latitude: 40.4148381, Longitude: -3.6242019

Row 6293: Address: Plaza Camorritos, 1, Madrid
Latitude: 40.4348857, Longitude: -3.6508368

Row 6294: No result found for address: Calle Mar�a Zambrano, Madrid

Row 6295: No result found for address: Calle los Realejos, Madrid

Row 6296: No result found for address: Calle Ignacio Ellacur�a, 12, Madrid

Row 6297: Address: Calle Bausa, 8, Madrid
Latitude: 40.4699263, Longitude: -3.6686775

Row 6298: Address: arte, 1, Madrid
Latitude: 40.482034, Longitude: -3.6717396

Row 6299: Address: Calle de Zigia, 9, Madrid
Latitude: 40.438917000000004, Longitude: -3.644838014145506

Row 6300: Address: Calle Luis Piernas, 20, Madrid
Latitude: 40.4259939, Longitude: -3.6539518

Row 6301: No result found for address: Calle de Nuestra Se�ora del Villar, 63, Madrid

Row 6302: No result found for address: Calle de Eladio L�pez Vilches, 9, Madrid

Row 6303: Address: Calle de los Collados, 33, Madrid
Latitude: 40.4320977, Longitude: -3.6464775

Row 6304: Address: Calle Madres Plaza de Mayo, 24, Madrid
Latitude: 40.4337302, Longitude: -3.639809675

Row 6305: Address: Calle de los Urquiza, 24, Madrid
Latitude: 40.4325551, Longitude: -3.645602716170506

Row 6306: Address: Calle Esteban Collantes, 21, Madrid
Latitude: 40.4313316, Longitude: -3.6416124391262126

Row 6307: Address: San Secundino, 8, Madrid
Latitude: 40.4250846, Longitude: -3.655469462316875

Row 6308: Address: Plaza de la Ciudad de Salta, 1, Madrid
Latitude: 40.455338, Longitude: -3.6617952

Row 6309: Address: esteban collantes, 4, Madrid
Latitude: 40.430540300000004, Longitude: -3.642689560575482

Row 6310: Address: Calle Acentejo, 3, Madrid
Latitude: 40.4337619, Longitude: -3.6365713

Row 6311: No result found for address: Calle Prudencio �lvaro, 12, Madrid

Row 6312: Address: Calle de san secundino, 4, Madrid
Latitude: 40.42462415, Longitude: -3.6549120379490025

Row 6313: No result found for address: Calle Pedro Antonio de Alarc�n, 11, Madrid

Row 6314: No result found for address: Calle de Pedro Antonio de Alarc�n, 43, Madrid

Row 6315: Address: Calle Emiliano Barral, 6, Madrid
Latitude: 40.4505733, Longitude: -3.6607121

Row 6316: Address: Calle Sorzano, 25, Madrid
Latitude: 40.4523349, Longitude: -3.6564879

Row 6317: Address: Calle de Angel Larra, 7, Madrid
Latitude: 40.4432133, Longitude: -3.6464253

Row 6318: No result found for address: Calle de la Virgen del Puig, 5, Madrid

Row 6319: Address: Calle de Torrelaguna, 11, Madrid
Latitude: 40.4409167, Longitude: -3.6507342584022027

Row 6320: No result found for address: Calle de Alcal�, 270, Madrid

Row 6321: Address: Avenida de Badajoz, 60, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 6322: Address: Plaza de la Ciudad de Salta, 5, Madrid
Latitude: 40.4551964, Longitude: -3.6610259

Row 6323: Address: Calle de San Emilio, 60, Madrid
Latitude: 40.4264388, Longitude: -3.6556092

Row 6324: Address: Calle de Torrelaguna, 65, Madrid
Latitude: 40.4437266, Longitude: -3.6547116

Row 6325: No result found for address: Calle de la Virgen de �frica, 39, Madrid

Row 6326: Address: Calle de Ricardo Ortiz, 118, Madrid
Latitude: 40.4227829, Longitude: -3.6567036

Row 6327: No result found for address: Calle Rafael Bergam�n, 20, Madrid

Row 6328: Address: Calle de Arturo Soria, 235, Madrid
Latitude: 40.4634959, Longitude: -3.6653311

Row 6329: Address: Calle Francisco Villaespesa, 43, Madrid
Latitude: 40.4293352, Longitude: -3.6461478

Row 6330: Address: San juan Bautista s/n, Madrid
Latitude: -33.578214, Longitude: -70.6667914

Row 6331: No result found for address: Plaza Plat�n, 9, Madrid

Row 6332: No result found for address: Calle del Marqu�s de Pico Velasco, 45, Madrid

Row 6333: Address: Calle de Emilio Vargas, 18, Madrid
Latitude: 40.4487516, Longitude: -3.6524497

Row 6334: No result found for address: Calle de Hern�ndez Rubin, 9, Madrid

Row 6335: Address: Calle Francisco Rioja, 25, Madrid
Latitude: 40.43114725, Longitude: -3.637436991513878

Row 6336: No result found for address: Calle Virgen del Casta�ar, 22, Madrid

Row 6337: No result found for address: Calle del Ap�stol Santiago, 12, Madrid

Row 6338: Address: Calle Buen Gobernador, 1, Madrid
Latitude: 40.2469118, Longitude: -3.313226

Row 6339: Address: Avenida de Badajoz, 58, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 6340: No result found for address: Calle de Mar�a Teresa S�enz de Heredia, 24, Madrid

Row 6341: No result found for address: Calle Lorenzo San Nicol�s, 33, Madrid

Row 6342: Address: Calle de Agastia, 108, Madrid
Latitude: 40.4464947, Longitude: -3.6520507

Row 6343: No result found for address: Calle del Jazm�n, 56, Madrid

Row 6344: No result found for address: Avenida de Ram�n y Cajal, 105, Madrid

Row 6345: Address: Calle Doctor Vallejo, 13, Madrid
Latitude: 40.436897450000004, Longitude: -3.643992144656024

Row 6346: Address: Calle Francisco Requena, 15, Madrid
Latitude: 40.42597515, Longitude: -3.6534553512635384

Row 6347: Address: Lago Constanza, Madrid
Latitude: 40.4303516, Longitude: -3.6461014

Row 6348: Address: Calle Aleixandre, 7, Madrid
Latitude: 40.3910198, Longitude: -3.694632

Row 6349: Address: Calle de Arturo Soria, 145, Madrid
Latitude: 40.460669, Longitude: -3.6623222

Row 6350: Address: Calle baus�, 8, Madrid
Latitude: 40.4227161, Longitude: -3.6931584

Row 6351: No result found for address: Avenida Marqu�s de Corbera, 22, Madrid

Row 6352: Address: Calle Arte, 13, Madrid
Latitude: 40.0621712, Longitude: -3.6062861

Row 6353: Address: Calle de Gutierre de Cetina, 30, Madrid
Latitude: 40.432387250000005, Longitude: -3.643370562455833

Row 6354: No result found for address: Mar�a Zambrano, 4, Madrid

Row 6355: Address: Calle de Gonzalo de Berceo, 20, Madrid
Latitude: 40.42717475, Longitude: -3.642526095634587

Row 6356: No result found for address: Calle Alcal�, 295, Madrid

Row 6357: Address: Calle del Lago Constanza, 61, Madrid
Latitude: 40.429760349999995, Longitude: -3.6457687216187797

Row 6358: No result found for address: Calle Germ�n P�rez Carrasco, 24, Madrid

Row 6359: Address: Calle Virgen de Nuria, 17, Madrid
Latitude: 40.6187788, Longitude: -4.0395927

Row 6360: Address: Estrecho de Corea, 5, Madrid
Latitude: 40.439382, Longitude: -3.6477917

Row 6361: No result found for address: Calle la Espa�ola, 5, Madrid

Row 6362: Address: Calle de Ricardo Ortiz, 72, Madrid
Latitude: 40.425853849999996, Longitude: -3.6590197969478053

Row 6363: Address: Calle de Esteban Mora, 26, Madrid
Latitude: 40.43891975, Longitude: -3.6534289022624638

Row 6364: Address: FRANCISCO HUESCA, Madrid
Latitude: 40.425771, Longitude: -3.6542285

Row 6365: Address: Calle ZIGIA, Madrid
Latitude: 40.4392959, Longitude: -3.6438384

Row 6366: No result found for address: Avenida POETA BLAS DE OTERO, Madrid

Row 6367: No result found for address: Calle Hern�ndez de Tejada, Madrid, Madrid

Row 6368: No result found for address: Calle V�zquez de Mella, 29, Madrid

Row 6369: No result found for address: Calle Jos� Arcones Gil, 152, Madrid

Row 6370: No result found for address: Calle de Jos� Arcones Gil, 39, Madrid

Row 6371: Address: ACHURI, Madrid
Latitude: 40.4081287, Longitude: -3.6980834

Row 6372: No result found for address: Calle Gerardo Cord�n, Madrid

Row 6373: Error geocoding address 'Calle de Mar�a Teresa S�enz de Heredia s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Mar%EF%BF%BDa+Teresa+S%EF%BF%BDenz+de+Heredia+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 6374: Address: Calle Condesa de Venadito, 12, Madrid
Latitude: 40.4441401, Longitude: -3.6540413

Row 6375: Address: Calle de Caleruega, 3, Madrid
Latitude: 40.4771278, Longitude: -3.6692044

Row 6376: No result found for address: Calle Rafael Bergam�n, 6, Madrid

Row 6377: Address: Calle de Ricardo Ortiz, 30, Madrid
Latitude: 40.4273898, Longitude: -3.6581614

Row 6378: No result found for address: Calle G�mez de Avellaneda, 23, Madrid

Row 6379: Address: Calle Vicente Espinel, Madrid, 12, Madrid
Latitude: 40.434947300000005, Longitude: -3.641263983985767

Row 6380: No result found for address: Alcal�, Madrid

Row 6381: Address: SAMBARA, Madrid
Latitude: 40.4350724, Longitude: -3.6483777

Row 6382: No result found for address: Calle R�O NERVI�N, Madrid

Row 6383: Address: Calle de Zigia, Madrid
Latitude: 40.4392959, Longitude: -3.6438384

Row 6384: No result found for address: Calle Concejal Julio G�mez, Madrid

Row 6385: No result found for address: LA ESPA�OLA, Madrid

Row 6386: Address: Calle DE ARTURO SORIA, Madrid
Latitude: 40.4718626, Longitude: -3.6674383

Row 6387: No result found for address: Calle GERM�N P�REZ CARRASCO, Madrid

Row 6388: Address: Pasaje CALERUEGA, Madrid
Latitude: 40.4809669, Longitude: -3.6725795

Row 6389: No result found for address: Calle de Nuestra Se�ora del Villar, 4, Madrid

Row 6390: Address: Calle de San Secundino, 9, Madrid
Latitude: 40.424657999999994, Longitude: -3.6554003499999945

Row 6391: Address: Calle Salvador de Madariaga, Madrid
Latitude: 40.5685717, Longitude: -3.6116533

Row 6392: No result found for address: Germ�n P�rez Carrasco, 24, Madrid

Row 6393: Address: Calle Santa Prisca, Madrid
Latitude: 40.4270164, Longitude: -3.6494869

Row 6394: Address: Calle San Lamberto, 18, Madrid
Latitude: 40.42074755, Longitude: -3.650786898199547

Row 6395: No result found for address: PABLO LAGARGUE, Madrid

Row 6396: Address: Calle de Gutierre de Cetina, 87, Madrid
Latitude: 40.4293696, Longitude: -3.640521032900299

Row 6397: Address: Calle San Samuel, 2, Madrid
Latitude: 40.423712699999996, Longitude: -3.6562487467914395

Row 6398: Address: Calle Lago Salado, Madrid
Latitude: 40.4347704, Longitude: -3.6373604

Row 6399: Address: Calle de hermanos machado, Madrid
Latitude: 40.4289853, Longitude: -3.6485585

Row 6400: Address: GERMAN PEREZ CARRASCO, 74, Madrid
Latitude: 40.4370442, Longitude: -3.641745005329283

Row 6401: Address: Virgen de la Fuencisla, Madrid
Latitude: 40.4379776, Longitude: -3.6508883

Row 6402: No result found for address: Calle Condado de Trevi�o, 9, Madrid

Row 6403: No result found for address: Calle Madre Antonia Par�s, 2, Madrid

Row 6404: Address: Calle de Sambara, Madrid
Latitude: 40.4350724, Longitude: -3.6483777

Row 6405: Address: Calle de la Vertiente, 4, Madrid
Latitude: 40.4300231, Longitude: -3.6547147

Row 6406: Address: Vital Aza, Madrid
Latitude: 40.4333714, Longitude: -3.6387528

Row 6407: No result found for address: Calle de Alcal� s/n, Madrid

Row 6408: Address: SAN BALDOMERO, Madrid
Latitude: 40.4239525, Longitude: -3.6383865

Row 6409: Address: Calle Luis Ruiz, 65, Madrid
Latitude: 40.4285789, Longitude: -3.6364536392023954

Row 6410: No result found for address: Calle Rafael Bergam�n, 12, Madrid

Row 6411: No result found for address: Calle Gerardo Cord�n, Madrid, Madrid

Row 6412: Address: Calle treviana, 1, Madrid
Latitude: 40.4486336, Longitude: -3.6591235

Row 6413: Address: Calle Idioma Esperanto, 22, Madrid
Latitude: 40.41820955, Longitude: -3.626520752936737

Row 6414: Address: Calle Elfo, 28, Madrid
Latitude: 40.4331327, Longitude: -3.6565154

Row 6415: Address: Calle de Arturo Soria, 189, Madrid
Latitude: 40.4584272, Longitude: -3.6593212

Row 6416: No result found for address: Calle del Ap�stol Santiago, 54, Madrid

Row 6417: Address: Av. de Badajoz, Madrid
Latitude: 40.4438978, Longitude: -3.649124

Row 6418: Address: CALERUEGA, Madrid
Latitude: 40.480999749999995, Longitude: -3.671263653142506

Row 6419: Address: Calle Villaescusa, Madrid
Latitude: 40.4198894, Longitude: -3.6289556

Row 6420: Address: Calle de Mesena, Madrid, Madrid
Latitude: 40.4653365, Longitude: -3.6619169

Row 6421: Address: Calle Baus�, 19, Madrid
Latitude: 40.4227161, Longitude: -3.6931584

Row 6422: No result found for address: Calle De Fern�ndez Caro, Madrid, Madrid

Row 6423: Address: Calle Buen Gobernador, 20, Madrid
Latitude: 40.2469118, Longitude: -3.313226

Row 6424: Address: MONTEJURRA, 36, Madrid
Latitude: 40.4256395, Longitude: -3.6559544911133877

Row 6425: No result found for address: Calle la Espa�ola, 3, Madrid

Row 6426: Address: Calle Luis Piernas, 2, Madrid
Latitude: 40.425249, Longitude: -3.6550174

Row 6427: Address: Calle de Emilio Ferrari, 20, Madrid
Latitude: 40.4336341, Longitude: -3.643265

Row 6428: No result found for address: Calle Hermanos G�mez, 14, Madrid

Row 6429: Address: Calle Antonio Calvo, 5, Madrid
Latitude: 40.4368049, Longitude: -3.6563186

Row 6430: Address: Calle Pablo Lafargue, 7, Madrid
Latitude: 40.4220167, Longitude: -3.652444600859879

Row 6431: Address: Calle de Ezequiel Solana, 12, Madrid
Latitude: 40.432622550000005, Longitude: -3.6469004443586135

Row 6432: Address: pedro antonio de alarcon, Madrid
Latitude: 40.4275481, Longitude: -3.6408183

Row 6433: No result found for address: Germ�n P�rez Carrasco, Madrid

Row 6434: No result found for address: la espa�ola, 5, Madrid

Row 6435: No result found for address: Traves�a V�zquez de Mella, Madrid

Row 6436: Address: Calle FRANCISCO HUESCA, Madrid
Latitude: 40.425771, Longitude: -3.6542285

Row 6437: No result found for address: Calle P�rez Cid�n, Madrid

Row 6438: Address: Calle Hermanos de Pablo, Madrid
Latitude: 40.4381434, Longitude: -3.6466687

Row 6439: Address: Calle de Asura, Madrid s/n, Madrid
Latitude: 40.451005, Longitude: -3.6492109

Row 6440: No result found for address: Calle LAS CA�AS, Madrid

Row 6441: No result found for address: Plaza Plat�n, Madrid

Row 6442: No result found for address: Jos� del Hierro, Madrid

Row 6443: No result found for address: Calle del R�o Ulla, Madrid

Row 6444: Address: Calle de Arturo Soria, 180, Madrid
Latitude: 40.4568564, Longitude: -3.6570421

Row 6445: Address: Timoteo Domingo, Madrid
Latitude: 40.4329203, Longitude: -3.6446144

Row 6446: Address: Mesena, Madrid
Latitude: 40.467834499999995, Longitude: -3.6594548638916757

Row 6447: No result found for address: Calle Alcalde L�pez Casero, Madrid

Row 6448: No result found for address: Calle de la Virgen de �frica, Madrid

Row 6449: Address: Benidorm, Madrid
Latitude: 40.412282, Longitude: -3.708198

Row 6450: No result found for address: Calle Ram�rez de Arellano, 26, Madrid

Row 6451: No result found for address: Calle de Jos� Arcones Gil, 93, Madrid

Row 6452: Address: Calle de Caleruega, 84, Madrid
Latitude: 40.4771278, Longitude: -3.6692044

Row 6453: Address: san secundino, 3, Madrid
Latitude: 40.42436545, Longitude: -3.6550350520490063

Row 6454: No result found for address: Calle de Mart�nez Villergas, 3, Madrid

Row 6455: Address: Santiago Massarnau, Madrid
Latitude: 40.4307172, Longitude: -3.6590848

Row 6456: No result found for address: ANGEL MU�OZ, Madrid

Row 6457: Address: Calle de Arturo Soria, 324, Madrid
Latitude: 40.4791918, Longitude: -3.6679801

Row 6458: No result found for address: Calle de Nicol�s Salmer�n, 14, Madrid

Row 6459: Address: Calle de Vital Aza, 72 -74, Madrid
Latitude: 40.4311976, Longitude: -3.6439747

Row 6460: Address: Calle Condesa de Venadito, 13, Madrid
Latitude: 40.4436981, Longitude: -3.656342

Row 6461: Address: Diego Ayllon, Madrid
Latitude: 40.4511398, Longitude: -3.6521701

Row 6462: Address: Calle Cipriano Sancho, 11, Madrid
Latitude: 40.4314817, Longitude: -3.6547647

Row 6463: Address: Calle Piquer, Madrid, 7, Madrid
Latitude: 40.4654888, Longitude: -3.6644619

Row 6464: Address: Calle de Serrano Galvache, 42, Madrid
Latitude: 40.4720667, Longitude: -3.6718042

Row 6465: Address: Calle de San Telesforo, Madrid, Madrid
Latitude: 40.4261171, Longitude: -3.6328185

Row 6466: Error geocoding address 'Calle de las ca�as, 3, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+las+ca%EF%BF%BDas%2C+3%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 6467: Error geocoding address 'Calle de Juan Bosc�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Juan+Bosc%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 6468: Address: Calle de Alucas, Madrid
Latitude: 40.4326943, Longitude: -3.6366698

Row 6469: Address: Calle Montejurra, 13, Madrid
Latitude: 40.4251926, Longitude: -3.655399627392282

Row 6470: No result found for address: Calle de Mar�a Teresa S�enz de Heredia, 8, Madrid

Row 6471: Address: san fidel, 17, Madrid
Latitude: 40.426482699999994, Longitude: -3.6422204748707325

Row 6472: Address: Calle de Salas Barbadillo, 70, Madrid
Latitude: 40.42718265, Longitude: -3.644803205040539

Row 6473: No result found for address: Instituci�n Libre de Ense�anza, Madrid

Row 6474: No result found for address: Calle Alcalde L�pez Casero s/n, Madrid

Row 6475: No result found for address: Calle de Elfo, 41, Madrid

Row 6476: Address: ANDRES ANTON, Madrid
Latitude: 40.428361, Longitude: -3.6516687

Row 6477: Address: Calle de Zigia, 29, Madrid
Latitude: 40.4392959, Longitude: -3.6438384

Row 6478: No result found for address: Calle Manuel Mara��n, 4, Madrid

Row 6479: Address: MARIA ZAMBRANO, 7, Madrid
Latitude: 40.5936716, Longitude: -3.9600570355234854

Row 6480: Address: Calle Sambara, Madrid
Latitude: 40.4350724, Longitude: -3.6483777

Row 6481: Address: Calle Virgen del Coro, 9, Madrid
Latitude: 40.4338513, Longitude: -3.6579788

Row 6482: No result found for address: Calle Jos� Mar�a Fern�ndez Lanseros, 11, Madrid

Row 6483: Address: Calle Hermanos Machado, Madrid
Latitude: 40.4322732, Longitude: -3.2968901

Row 6484: Address: Calle de Arturo Soria, 339, Madrid
Latitude: 40.460669, Longitude: -3.6623222

Row 6485: No result found for address: Calle Verdaguer y Garc�a, Madrid

Row 6486: Address: Calle Virgen de Los Reyes, Madrid
Latitude: 40.3026227, Longitude: -3.4464188

Row 6487: No result found for address: CONDADO DE TREVI�O, Madrid

Row 6488: No result found for address: G�mez de Avellaneda, Madrid

Row 6489: Address: Calle de Boldano, 26 bis, Madrid
Latitude: 40.4392848, Longitude: -3.6423878

Row 6490: No result found for address: Calle MARIANO D�AZ ALONSO, Madrid

Row 6491: Address: Calle Altamira, 4, Madrid
Latitude: 40.4284931, Longitude: -3.652728946988787

Row 6492: Address: Calle Astorga s/n, Madrid
Latitude: 40.4825319, Longitude: -3.6315282

Row 6493: No result found for address: Calle �NGEL MU�OZ, Madrid

Row 6494: No result found for address: Calle V�zquez de Mella, Madrid

Row 6495: Address: Calle Gutierre de Cetina, Madrid
Latitude: 40.4309628, Longitude: -3.6420497

Row 6496: Address: Calle Buen Gobernador, 24, Madrid
Latitude: 40.2469118, Longitude: -3.313226

Row 6497: No result found for address: Calle Jos� Mar�a Fern�ndez Lanseros, Madrid

Row 6498: No result found for address: Calle de Jos� Arcones Gil, 11, Madrid

Row 6499: Address: Calle Francisco Madariaga, 27, Madrid
Latitude: 40.43595685, Longitude: -3.64007178690476

Row 6500: Address: BAUSA, 19, Madrid
Latitude: 40.4699263, Longitude: -3.6686775

Row 6501: Address: Calle doctor vallejo, Madrid
Latitude: 40.4417434, Longitude: -3.6482397

Row 6502: No result found for address: Calle Lorenzo San Nicol�s, Madrid

Row 6503: Address: Calle Boldano, Madrid
Latitude: 40.4392848, Longitude: -3.6423878

Row 6504: Address: Marques de Altamira, Madrid
Latitude: 40.4743602, Longitude: -3.6678231

Row 6505: Address: Calle Bausa, 19, Madrid
Latitude: 40.4699263, Longitude: -3.6686775

Row 6506: Address: Calle Ramonet, Madrid
Latitude: 40.4694701, Longitude: -3.6629642

Row 6507: No result found for address: Calle de L�pez de Hoyos, 298, Madrid

Row 6508: Address: Calle San Juan de la Cuesta, 4, Madrid
Latitude: 40.43210165, Longitude: -3.648852846984708

Row 6509: Address: Urb. b, Madrid
Latitude: -0.2460149, Longitude: -79.1543171

Row 6510: Address: Virgen del Portillo, Madrid
Latitude: 40.4393696, Longitude: -3.6462234

Row 6511: No result found for address: Calle de Pedro Antonio de Alarc�n s/n, Madrid

Row 6512: Address: Calle Urquiza s/n, Madrid
Latitude: 40.4325113, Longitude: -3.6451761

Row 6513: No result found for address: Avenida del Marqu�s de Corbera, 14, Madrid

Row 6514: No result found for address: Calle De Fern�ndez Caro, 42, Madrid

Row 6515: No result found for address: Calle de Mar�a Teresa S�enz de Heredia, 25, Madrid

Row 6516: Address: Tirma, 4, Madrid
Latitude: 40.43166435, Longitude: -3.6356998057500007

Row 6517: Address: Alonso Saavedra, Madrid
Latitude: 40.4698457, Longitude: -3.6665993

Row 6518: Address: Poeta Blas de Otero, Madrid
Latitude: 40.4210458, Longitude: -3.6548752

Row 6519: Address: Calle de Arturo Soria, 280, Madrid
Latitude: 40.4723122, Longitude: -3.6672241

Row 6520: Address: Jose Villena, 10, Madrid
Latitude: 40.4313394, Longitude: -3.6558073

Row 6521: No result found for address: Calle De Fern�ndez Caro, 62, Madrid

Row 6522: No result found for address: Calle de �ngel Mu�oz, 22, Madrid

Row 6523: No result found for address: Plaza Ge�logos, 4, Madrid

Row 6524: Address: Calle Estrecho de Corea, 4, Madrid
Latitude: 40.4395211, Longitude: -3.647500784380354

Row 6525: No result found for address: Calle Marqu�s de Portugalete, Madrid

Row 6526: Address: Calle Elfo, Madrid
Latitude: 40.4331327, Longitude: -3.6565154

Row 6527: Address: FRANCISCO REQUENA, Madrid
Latitude: 40.426125, Longitude: -3.6538579

Row 6528: No result found for address: Urb. ARTURO SORIA, Madrid

Row 6529: Address: Calle Pepe Isbert, Madrid
Latitude: 40.4225859, Longitude: -3.6274252

Row 6530: No result found for address: Calle Jos� Mar�a Cavero, Madrid

Row 6531: Address: Calle Emilio Ferrari, Madrid
Latitude: 40.4326257, Longitude: -3.6422903

Row 6532: Address: Calle Garcia Quintanilla, 4, Madrid
Latitude: 40.4446116, Longitude: -3.6423928

Row 6533: Address: vital aza, Madrid
Latitude: 40.4333714, Longitude: -3.6387528

Row 6534: Address: Calle de Timoteo Domingo, 39, Madrid
Latitude: 40.43256195, Longitude: -3.6442333808829677

Row 6535: No result found for address: Calle Emilio Gastesi Fern�ndez, Madrid

Row 6536: Address: Calle Peloponeso, 26, Madrid
Latitude: 40.4148381, Longitude: -3.6242019

Row 6537: No result found for address: Calle Andr�s Ant�n y Jos� Barbastre s/n, Madrid

Row 6538: Address: Calle Montejurra, 34, Madrid
Latitude: 40.425694050000004, Longitude: -3.655774663955574

Row 6539: Address: JOSE ARCONES GIL, Madrid
Latitude: 40.4281773, Longitude: -3.6341643

Row 6540: Address: Calle de Zigia, 53, Madrid
Latitude: 40.44040335, Longitude: -3.641782329553852

Row 6541: No result found for address: Calle de Josefa Valc�rcel, 12, Madrid

Row 6542: Address: Plaza Bami, 15, Madrid
Latitude: 40.430767, Longitude: -3.6546566

Row 6543: No result found for address: Calle de �ngel Mu�oz, 18, Madrid

Row 6544: No result found for address: Urb. Concepcion, Madrid

Row 6545: Address: Calle de Carlota O�Neill, 22, Madrid
Latitude: 40.44281355, Longitude: -3.649488273837212

Row 6546: No result found for address: Calle Rafael Bergam�n, 5, Madrid

Row 6547: Address: Calle de Santa Genoveva, 25, Madrid
Latitude: 40.4243686, Longitude: -3.6496861

Row 6548: Address: Calle de Luis Ruiz, Madrid
Latitude: 40.4290726, Longitude: -3.6370371

Row 6549: Address: Calle de Emilio Vargas, Madrid
Latitude: 40.4487516, Longitude: -3.6524497

Row 6550: No result found for address: Calle de Jos� Barbastre, 7, Madrid

Row 6551: Address: Calle de la Virgen de la Fuencisla, Madrid
Latitude: 40.4379776, Longitude: -3.6508883

Row 6552: No result found for address: Traves�a de las Ca�as, Madrid

Row 6553: No result found for address: Calle de Alcal�, 294, Madrid

Row 6554: Address: Calle Juan de Arolas, Madrid
Latitude: 40.4306027, Longitude: -3.6473333

Row 6555: Address: Calle de Arturo Soria, 214, Madrid
Latitude: 40.4612946, Longitude: -3.6625996

Row 6556: Address: Calle de Alonso Saavedra, 10, Madrid
Latitude: 40.4698457, Longitude: -3.6665993

Row 6557: Address: Calle de Boldano, 41, Madrid
Latitude: 40.4398647, Longitude: -3.6435946757821376

Row 6558: No result found for address: Traves�a JOSE NORIEGA, Madrid

Row 6559: Address: Plaza Virgen del Romero, Madrid
Latitude: 40.4387086, Longitude: -3.651509175774036

Row 6560: Address: Calle de los Misterios, Madrid
Latitude: 40.4394885, Longitude: -3.6405531

Row 6561: Address: Calle San Maximiliano, 10, Madrid
Latitude: 40.4233932, Longitude: -3.6556003

Row 6562: Address: Calle de las Normas, 6, Madrid
Latitude: 40.4526837, Longitude: -3.6619472

Row 6563: Address: Calle de Timoteo Domingo, Madrid
Latitude: 40.4329203, Longitude: -3.6446144

Row 6564: Address: Calle de la Vereda del Carmen, Madrid
Latitude: 40.4294935, Longitude: -3.6514554

Row 6565: Address: Avenida Donostiarra, 6, Madrid
Latitude: 40.4348084, Longitude: -3.6577932

Row 6566: Address: Calle de Boldano, Madrid
Latitude: 40.4392848, Longitude: -3.6423878

Row 6567: No result found for address: Calle FRANCISCO HUESCAS, Madrid

Row 6568: Address: Calle Siena, Madrid
Latitude: 40.4325825, Longitude: -3.6564063

Row 6569: Address: Calle Virgen del Sagrario, 4, Madrid
Latitude: 40.4339732, Longitude: -3.647068314021217

Row 6570: Address: Calle Llanos de Escudero, 18, Madrid
Latitude: 40.4268108, Longitude: -3.6389341

Row 6571: No result found for address: Calle Alcalde L�pez Casero, 10, Madrid

Row 6572: Address: Matamorosa, Madrid
Latitude: 40.4198111, Longitude: -3.6298829

Row 6573: Address: Calle Madres plaza de Mayo, Madrid
Latitude: 40.433437, Longitude: -3.6405933

Row 6574: Address: Calle Siena, 76, Madrid
Latitude: 40.4325825, Longitude: -3.6564063

Row 6575: Address: Calle San Baldomero, Madrid
Latitude: 40.4239525, Longitude: -3.6383865

Row 6576: Address: Calle Julio Danvila, Madrid
Latitude: 40.4719337, Longitude: -3.6647532

Row 6577: No result found for address: Urb. Pinar de Chamart�n, Madrid

Row 6578: Address: Urb. El Viso, Madrid
Latitude: 40.4396312, Longitude: -3.3632455

Row 6579: Address: Calle del Pinar, Madrid, Madrid
Latitude: 40.4384674, Longitude: -3.6876354

Row 6580: Address: Calle Manuel Benedito, Madrid
Latitude: 40.4610163, Longitude: -3.6836958

Row 6581: Address: Avenida de Alfonso XIII, Madrid
Latitude: 40.4602796, Longitude: -3.6763462

Row 6582: Address: Urb. EL VISO, Madrid
Latitude: 40.4396312, Longitude: -3.3632455

Row 6583: No result found for address: Calle del Coraz�n de Mar�a, Madrid

Row 6584: Address: Calle de Luis de Salazar, Madrid
Latitude: 40.4473312, Longitude: -3.6659909

Row 6585: No result found for address: Calle Arquitecto Gaud�, Madrid

Row 6586: No result found for address: Urb. OBRA NUEVA, Madrid

Row 6587: Address: Paseo de la Habana, Madrid
Latitude: 40.4503863, Longitude: -3.6873469

Row 6588: Address: Paseo de la habana, Madrid
Latitude: 40.4503863, Longitude: -3.6873469

Row 6589: No result found for address: Calle Santiago Bernab�u, Madrid

Row 6590: Address: Calle de Pastora Imperio, Madrid
Latitude: 40.4823328, Longitude: -3.6743713

Row 6591: Address: Calle de Gabriel Lobo, Madrid
Latitude: 40.4425761, Longitude: -3.6811011

Row 6592: No result found for address: Calle Jos� L�zaro Galdiano, Madrid

Row 6593: Address: Calle Enrique Jardiel Poncela, Madrid
Latitude: 40.4608654, Longitude: -3.6706528

Row 6594: No result found for address: Calle Alfonso Rodr�guez Santamar�a, Madrid

Row 6595: Address: Alfonso Rodriguez Santamaria, Madrid
Latitude: 40.4497126, Longitude: -3.6850964

Row 6596: Address: Calle Manuel de Falla, Madrid
Latitude: 40.4555347, Longitude: -3.6897247

Row 6597: Address: Calle Luis de Salazar, Madrid
Latitude: 40.4473312, Longitude: -3.6659909

Row 6598: Address: Avenida de Burgos, Madrid
Latitude: 40.4954243, Longitude: -3.6659291

Row 6599: Address: Calle Serrano, Madrid, Madrid
Latitude: 40.4477973, Longitude: -3.6838191

Row 6600: Address: Calle de Puerto Rico, Madrid
Latitude: 40.455113, Longitude: -3.6741403

Row 6601: No result found for address: Urb. Nueva Espa�a Everyprop.com, Madrid

Row 6602: No result found for address: Urb. El Viso Everyprop.com, Madrid

Row 6603: No result found for address: Calle de Joaqu�n Costa, Madrid

Row 6604: Address: Avenida Levante, Madrid
Latitude: 40.4573922, Longitude: -3.6646706

Row 6605: No result found for address: Calle S�nchez Balderas, Madrid

Row 6606: Address: Calle Herreros de Tejada, 20, Madrid
Latitude: 40.4549509, Longitude: -3.6814273

Row 6607: Address: Calle Clara del Rey, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 6608: Address: Plaza Republica Dominicana, Madrid
Latitude: 40.4586053, Longitude: -3.6767867846808953

Row 6609: Address: Calle de Colombia, Madrid
Latitude: 40.4583378, Longitude: -3.668317

Row 6610: No result found for address: Urb. Bueno y tranquilo. Agua incl. en comunidad., Madrid

Row 6611: Address: Calle de Mauricio Legendre, 9, Madrid
Latitude: 40.4695928, Longitude: -3.6868678

Row 6612: Address: Calle de Cartagena, Madrid
Latitude: 40.4391418, Longitude: -3.6733324

Row 6613: Address: Calle Constancia, Madrid
Latitude: 40.4423953, Longitude: -3.6724417

Row 6614: No result found for address: Urb. NUEVA ESPA�A, Madrid

Row 6615: No result found for address: Calle de Felipe Campos, 10, Madrid

Row 6616: Address: Calle Luis Muriel, Madrid
Latitude: 40.4488376, Longitude: -3.6880606

Row 6617: Address: Alberto Alcocer, Madrid
Latitude: 40.4588748, Longitude: -3.6880641

Row 6618: No result found for address: Calle V�ctor de la Serna, Madrid

Row 6619: Address: Calle de Costa Rica, Madrid
Latitude: 40.4585666, Longitude: -3.6777825

Row 6620: Address: Avenida Doctor Arce, Madrid
Latitude: 40.4475129, Longitude: -3.6805283

Row 6621: Address: Doctor Arce, Madrid
Latitude: 40.4461112, Longitude: -3.6821355

Row 6622: No result found for address: Calle del Pr�ncipe de Vergara, 136, Madrid

Row 6623: Address: Urb. VELAZQUEZ, Madrid
Latitude: 40.715384, Longitude: -3.9146559

Row 6624: No result found for address: Vel�zquez, Madrid

Row 6625: Address: Menendez Pidal, Madrid
Latitude: 40.4729116, Longitude: -3.7668168

Row 6626: Address: Calle San Julio, Madrid
Latitude: 40.4421873, Longitude: -3.6805862

Row 6627: Address: Costa Rica, Madrid
Latitude: 9.9850727, Longitude: -84.0879339

Row 6628: Address: Pastora Imperio, 3, Madrid
Latitude: 40.4812713, Longitude: -3.6745372

Row 6629: No result found for address: Avenida de Am�rica, Madrid

Row 6630: Address: Calle de la Hiedra, Madrid, Madrid
Latitude: 40.4713475, Longitude: -3.6818022

Row 6631: Address: Pastora Imperio, Madrid
Latitude: 40.4823328, Longitude: -3.6743713

Row 6632: Address: Calle Clara del Rey, Madrid, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 6633: No result found for address: Calle Santa Mar�a Magdalena, Madrid

Row 6634: Address: Calle Javier Ferrero, 1, Madrid
Latitude: 40.4488284, Longitude: -3.6696386

Row 6635: No result found for address: Calle �ngel de Diego Rold�n, 44, Madrid

Row 6636: No result found for address: Calle del Pr�ncipe de Vergara, Madrid

Row 6637: No result found for address: Calle de Matilde D�ez, Madrid

Row 6638: Address: Calle Canillas, Madrid
Latitude: 40.4418093, Longitude: -3.6752032

Row 6639: Address: Avenida pio xii, Madrid
Latitude: 40.4723951, Longitude: -3.6754702

Row 6640: Address: Calle Rafael Herrera, Madrid
Latitude: 40.4676979, Longitude: -3.685427

Row 6641: Address: Calle Clara del Rey, 11, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 6642: Address: Calle del Padre Francisco Palau y Quer, Madrid
Latitude: 40.4737938, Longitude: -3.6849503

Row 6643: Address: Paseo de la Castellana, 258, Madrid
Latitude: 40.4720763, Longitude: -3.6869305490185473

Row 6644: Address: Avenida Burgos, Madrid
Latitude: 40.4954243, Longitude: -3.6659291

Row 6645: No result found for address: Urb. Prosperidad, Madrid

Row 6646: No result found for address: Plaza DE LA REPUBLICA DE ECUADOR, 8, Madrid

Row 6647: Address: Paseo de la Castellana, 240, Madrid
Latitude: 40.47061575, Longitude: -3.687173980870339

Row 6648: Address: Calle de Santa Hortensia, 52, Madrid
Latitude: 40.4459309, Longitude: -3.6630959

Row 6649: Address: Calle de Marcenado, Madrid
Latitude: 40.4488042, Longitude: -3.6738497

Row 6650: No result found for address: Calle Prieto Ure�a, Madrid

Row 6651: Address: Calle Francisco Vivancos, 6, Madrid
Latitude: 40.4472079, Longitude: -3.6629668

Row 6652: No result found for address: Urb. Chamartin, Madrid

Row 6653: Address: Calle serrano, Madrid
Latitude: 40.4477973, Longitude: -3.6838191

Row 6654: Address: Alfonso XIII, Madrid
Latitude: 40.4482221, Longitude: -3.6678923

Row 6655: No result found for address: Calle Francisco Su�rez, Madrid

Row 6656: Address: Calle de Luis de Salazar, 5, Madrid
Latitude: 40.4475394, Longitude: -3.6667917

Row 6657: Address: Calle Endrinas, Madrid
Latitude: 40.4560416, Longitude: -3.6647998

Row 6658: Address: Calle Rafael Salgado, 3, Madrid
Latitude: 40.4544305, Longitude: -3.6887532

Row 6659: Address: Paseo de la Habana, 144, Madrid
Latitude: 40.4579257, Longitude: -3.6816708

Row 6660: No result found for address: Calle Triana - Chamart�n, Madrid

Row 6661: Address: Francisco Silvela, 124, Madrid
Latitude: 40.44018195, Longitude: -3.6799361544561933

Row 6662: Address: Calle Zabaleta, 61, Madrid
Latitude: 40.4420557, Longitude: -3.6738834

Row 6663: Address: Victor de la Serna, 34, Madrid
Latitude: 40.4564017, Longitude: -3.6717951

Row 6664: Address: RAMON DE SANTILLAN, Madrid
Latitude: 40.4549884, Longitude: -3.6801354

Row 6665: Address: Calle de Canillas, 1, Madrid
Latitude: 40.4400793, Longitude: -3.6784607

Row 6666: Address: Avenida Alberto Alcocer, Madrid
Latitude: 40.4590474, Longitude: -3.6891326

Row 6667: Address: Paseo de la Castellana, 174, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 6668: Address: Colombia, Madrid
Latitude: 4.7333686, Longitude: -74.2629794

Row 6669: Address: Calle de Colombia, 25, Madrid
Latitude: 40.4571341, Longitude: -3.6739424

Row 6670: No result found for address: Avenida de Am�rica, 25, Madrid

Row 6671: Address: Calle Santa Hortensia , 58, Madrid
Latitude: 40.4466911, Longitude: -3.6636376

Row 6672: Address: Calle Segre, Madrid
Latitude: 40.4686855, Longitude: -3.7286445

Row 6673: Address: ramon y cajal, Madrid
Latitude: 40.4881508, Longitude: -3.6949566283869437

Row 6674: Address: Avenida de Alberto de Alcocer, Madrid
Latitude: 40.4590474, Longitude: -3.6891326

Row 6675: No result found for address: Avenida de Am�rica, 17, Madrid

Row 6676: Address: Calle San Julio, 3, Madrid
Latitude: 40.4421873, Longitude: -3.6805862

Row 6677: Address: Calle Alustante, 26, Madrid
Latitude: 40.4424971, Longitude: -3.6710835

Row 6678: Address: Calle Herreros de Tejada, Madrid
Latitude: 40.4534333, Longitude: -3.6815056

Row 6679: Address: Calle de Mauricio Legendre, Madrid
Latitude: 40.4763515, Longitude: -3.6840541

Row 6680: Address: pedriza, Madrid
Latitude: 40.4519305, Longitude: -3.6667927

Row 6681: Address: JILOCA, Madrid
Latitude: 40.4524629, Longitude: -3.6789481

Row 6682: Address: Calle de Enrique Larreta, Madrid
Latitude: 40.4674995, Longitude: -3.6864039

Row 6683: Address: Calle del abedul, Madrid
Latitude: 40.4646197, Longitude: -3.6817575

Row 6684: No result found for address: Avenida de Ram�n y Cajal, Madrid

Row 6685: Address: Calle francisco vivancos, Madrid
Latitude: 40.4472079, Longitude: -3.6629668

Row 6686: No result found for address: Calle alfonso rodr�guez santamar�a, Madrid

Row 6687: No result found for address: Calle prieto ure�a, Madrid

Row 6688: Address: Calle de Manuel Ferrero, Madrid
Latitude: 40.4698645, Longitude: -3.6842656

Row 6689: Address: Calle Buganvilla, Madrid
Latitude: 40.4735349, Longitude: -3.6775564

Row 6690: Address: Avenida de America, Madrid
Latitude: 40.4381379, Longitude: -3.6791166

Row 6691: Address: Paseo DE LA HABANA s/n, Madrid
Latitude: 40.4503863, Longitude: -3.6873469

Row 6692: Address: Paseo DE LA CASTELLANA s/n, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 6693: No result found for address: Calle Coraz�n de Mar�a, Madrid

Row 6694: Address: Calle de Francisco Silvela, Madrid
Latitude: 40.4299196, Longitude: -3.670186

Row 6695: Address: Calle Constancia, 29, Madrid
Latitude: 40.4423953, Longitude: -3.6724417

Row 6696: Address: Calle de Canillas, Madrid
Latitude: 40.4418093, Longitude: -3.6752032

Row 6697: No result found for address: Calle del Torpedero Tucum�n, Madrid

Row 6698: No result found for address: Avenida Alhel�es, Madrid

Row 6699: Address: Calle Profesor Waksman, Madrid
Latitude: 40.4560305, Longitude: -3.688352

Row 6700: No result found for address: Calle del Padre Xifr�, Madrid

Row 6701: Address: CANILLAS, Madrid
Latitude: 40.4618893, Longitude: -3.6433517

Row 6702: Address: Calle de Marceliano Santa Mar�a, Madrid
Latitude: 40.4506647, Longitude: -3.688477

Row 6703: No result found for address: Urb. HISPANOAMERICA, Madrid

Row 6704: No result found for address: Calle Santiago Bernab�u, 14, Madrid

Row 6705: No result found for address: Calle Prieto Ure�a, 5, Madrid

Row 6706: Address: maria francisca, 6, Madrid
Latitude: 40.4442451, Longitude: -3.6786191

Row 6707: Address: Calle Santa Rita, 2, Madrid
Latitude: 40.5969189, Longitude: -4.1397806

Row 6708: Address: Marcenado, Madrid
Latitude: 40.446581, Longitude: -3.6731347

Row 6709: Address: Calle de Pradillo, Madrid
Latitude: 40.450571, Longitude: -3.6674944

Row 6710: Address: Calle Puenteareas, Madrid
Latitude: 40.4430038, Longitude: -3.6702492

Row 6711: Address: Calle Oria, Madrid
Latitude: 40.4440606, Longitude: -3.6331295

Row 6712: Address: Calle de Pastora Imperio, 2, Madrid
Latitude: 40.482845499999996, Longitude: -3.6750175123274165

Row 6713: Address: Calle del Doctor Fleming, Madrid
Latitude: 40.4637387, Longitude: -3.6878099

Row 6714: Address: Calle Tambre, Madrid
Latitude: 40.4474634, Longitude: -3.6869209

Row 6715: Address: costa rica, Madrid
Latitude: 9.9850727, Longitude: -84.0879339

Row 6716: No result found for address: Calle de San Nazario, 12, Madrid

Row 6717: Address: de sil, 9, Madrid
Latitude: 40.2558771, Longitude: -3.7460598

Row 6718: Address: Calle Triana, Madrid
Latitude: 40.4212996, Longitude: -3.6314275

Row 6719: Address: Calle Profesor Waksman, 9, Madrid
Latitude: 40.4560305, Longitude: -3.688352

Row 6720: Address: PADRE DAMIAN, Madrid
Latitude: 40.4554953, Longitude: -3.6870212

Row 6721: Address: Calle del Doctor Fleming, Madrid, 32, Madrid
Latitude: 40.4637387, Longitude: -3.6878099

Row 6722: No result found for address: Calle de Juan Ram�n Jim�nez, 2, Madrid

Row 6723: Address: Principe de Vergara, 260, Madrid
Latitude: 40.4564933, Longitude: -3.6768046

Row 6724: No result found for address: Calle V�ctor Andr�s Belaunde, Madrid, 20, Madrid

Row 6725: Address: Calle Javier Ferrero, Madrid
Latitude: 40.4488284, Longitude: -3.6696386

Row 6726: Address: Doctor Fleming, Madrid
Latitude: 40.4238659, Longitude: -3.5619433

Row 6727: No result found for address: Calle de Bonetero, Madrid

Row 6728: Address: Calle Anzuola, Madrid
Latitude: 40.4429889, Longitude: -3.6710781

Row 6729: Address: Calle Serrano, Madrid
Latitude: 40.4477973, Longitude: -3.6838191

Row 6730: No result found for address: Avenida de P�o XII, Madrid

Row 6731: No result found for address: PRINCIPE DE VERGARA/FRANCISCO SILVELA/AV DE AMERICA/, Madrid

Row 6732: Address: Calle Henri Dunant, 23, Madrid
Latitude: 40.4600371, Longitude: -3.6846823

Row 6733: Address: Calle de Santa Hortensia, Madrid
Latitude: 40.4439985, Longitude: -3.6652949

Row 6734: Address: Calle de Colombia, 45, Madrid
Latitude: 40.4570451, Longitude: -3.6714907

Row 6735: Address: Calle de Pradillo, 6, Madrid
Latitude: 40.4482423, Longitude: -3.6756419

Row 6736: Address: Calle Bolivia, 5, Madrid
Latitude: 40.34489815, Longitude: -3.7809851084035673

Row 6737: Address: Plaza Duque de Pastrana, 7, Madrid
Latitude: 40.4681869, Longitude: -3.6775735

Row 6738: No result found for address: Calle �lvarez de Baena, Madrid, Madrid

Row 6739: Address: Pasaje Collado Villalba, Madrid
Latitude: 40.4391094, Longitude: -3.6769952

Row 6740: Address: Calle de Quintiliano, Madrid
Latitude: 40.4408681, Longitude: -3.6758518

Row 6741: Address: Calle Apolonio Morales, Madrid, Madrid
Latitude: 40.4634191, Longitude: -3.6823276

Row 6742: Address: Triana, Madrid
Latitude: 25.7994358, Longitude: -100.1704849

Row 6743: Address: Calle Alustante, Madrid
Latitude: 40.4424971, Longitude: -3.6710835

Row 6744: Address: Calle Daganzo, 17, Madrid
Latitude: 40.4419137, Longitude: -3.6724382

Row 6745: No result found for address: Calle del Torpedero Tucum�n, 11, Madrid

Row 6746: No result found for address: Calle del Coraz�n de Mar�a, 60, Madrid

Row 6747: Address: chile, 27, Madrid
Latitude: -28.5922887, Longitude: -70.7431689

Row 6748: No result found for address: Calle de Balbina Valverde, Madrid

Row 6749: No result found for address: Calle V�ctor Andr�s Belaunde, Madrid

Row 6750: No result found for address: Rep�blica del Ecuador, Madrid

Row 6751: Address: Paseo de la Habana, 75, Madrid
Latitude: 40.4560236, Longitude: -3.6815528

Row 6752: No result found for address: Glorieta L�pez de Hoyos, 5, Madrid

Row 6753: No result found for address: Calle del Conde de Torralba, Madrid

Row 6754: Address: Calle Mantuano, 34, Madrid
Latitude: 40.44654215, Longitude: -3.6755715066546455

Row 6755: No result found for address: Urb. El Viso Prime, Madrid

Row 6756: Address: Avenida de Burgos, 24, Madrid
Latitude: 40.477794849999995, Longitude: -3.6750164155172063

Row 6757: Address: Calle Clara del Rey , 26, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 6758: Address: Calle Anastasio Aroca, Madrid
Latitude: 40.4412034, Longitude: -3.6733051

Row 6759: Address: Avenida de Burgos, 14, Madrid
Latitude: 40.4746593, Longitude: -3.6752208550955414

Row 6760: Address: Avenida de Burgos, 25, Madrid
Latitude: 40.4752204, Longitude: -3.6763655

Row 6761: No result found for address: Calle del Pr�ncipe de Vergara, 260, Madrid

Row 6762: Address: Urb. el viso, Madrid
Latitude: 40.4396312, Longitude: -3.3632455

Row 6763: No result found for address: Calle de Juan Ram�n Jim�nez, Madrid

Row 6764: Address: Calle de Costa Rica, 7, Madrid
Latitude: 40.458746, Longitude: -3.6758426

Row 6765: Address: Calle Segre, 8, Madrid
Latitude: 40.570571099999995, Longitude: -3.904765244289468

Row 6766: Address: Calle del General Zabala, Madrid
Latitude: 40.4433203, Longitude: -3.6754193

Row 6767: Address: Calle Henri Dunant, Madrid
Latitude: 40.46021, Longitude: -3.68477

Row 6768: Address: Malcampo, Madrid
Latitude: 40.4455503, Longitude: -3.6740588

Row 6769: Address: Paseo DE LA HABANA, Madrid
Latitude: 40.4503863, Longitude: -3.6873469

Row 6770: No result found for address: Pr�ncipe de Vergara, 113, Madrid

Row 6771: Address: Calle Joaquin bau, Madrid
Latitude: 40.4639137, Longitude: -3.6863178

Row 6772: Address: BOLIVIA, Madrid
Latitude: -11.5103807, Longitude: -67.8184773

Row 6773: No result found for address: Calle Rosa Jard�n s/n, Madrid

Row 6774: Address: Principe de Vergara, Madrid
Latitude: 40.4226491, Longitude: -3.6803686

Row 6775: Address: apolonio morales, Madrid
Latitude: 40.4634191, Longitude: -3.6823276

Row 6776: Address: Calle Daganzo, Madrid
Latitude: 40.4421261, Longitude: -3.6720973

Row 6777: Address: Calle de Costa Rica, 19, Madrid
Latitude: 40.4591743, Longitude: -3.6681867

Row 6778: No result found for address: coraz�n de maria, Madrid

Row 6779: Address: Calle la Pedriza, 2, Madrid
Latitude: 40.5770996, Longitude: -3.9248023

Row 6780: Address: Calle Zabaleta, Madrid
Latitude: 40.4420557, Longitude: -3.6738834

Row 6781: Address: Calle Henri Dunant, 21, Madrid
Latitude: 40.46021, Longitude: -3.68477

Row 6782: Address: Calle de Canillas, 31, Madrid
Latitude: 40.4421592, Longitude: -3.6748609

Row 6783: No result found for address: Calle del Pr�ncipe de Vergara, 113, Madrid

Row 6784: Address: Calle de Marcenado, 50, Madrid
Latitude: 40.45045415, Longitude: -3.6736533614105507

Row 6785: Address: Paseo de la habana, 169, Madrid
Latitude: 40.4650872, Longitude: -3.6804768720828527

Row 6786: Address: Paseo de la Habana, 24, Madrid
Latitude: 40.46201895, Longitude: -3.6807931400586247

Row 6787: No result found for address: Calle Francisco Su�rez, 19, Madrid

Row 6788: Address: Calle Esteban Terradas, 8, Madrid
Latitude: 40.46897815, Longitude: -3.684692392604103

Row 6789: No result found for address: Avenida de P�o XII, 94, Madrid

Row 6790: Address: Pasaje Collado Villalba, 2, Madrid
Latitude: 40.4391094, Longitude: -3.6769952

Row 6791: No result found for address: Calle Carlos Caama�o, Madrid

Row 6792: No result found for address: Calle Infanta Mar�a Teresa, 20, Madrid

Row 6793: No result found for address: Calle Coraz�n de Mar�a, 21, Madrid

Row 6794: Address: Calle de Colombia, 46, Madrid
Latitude: 40.4574375, Longitude: -3.668971049999996

Row 6795: Address: Calle Profesor Waksman, 13, Madrid
Latitude: 40.4560801, Longitude: -3.6872603

Row 6796: Address: Calle de Serrano, 213, Madrid
Latitude: 40.4251068, Longitude: -3.68791

Row 6797: Address: Calle del Cinca, 23, Madrid
Latitude: 40.449464500000005, Longitude: -3.6795313890598145

Row 6798: No result found for address: Calle Plater�as, 1, Madrid

Row 6799: No result found for address: Calle de los Ca�dos de la Divisi�n Azul, 1, Madrid

Row 6800: No result found for address: Calle del Pr�ncipe de Vergara, 204 A, Madrid

Row 6801: No result found for address: Calle de L�pez de Hoyos, 134, Madrid

Row 6802: Address: Calle Dracena, 21, Madrid
Latitude: 40.4632335, Longitude: -3.6708678

Row 6803: Address: Calle Cochabamba, 16, Madrid
Latitude: 40.4559164, Longitude: -3.6797694

Row 6804: No result found for address: Calle de Joaqu�n Costa, 61, Madrid

Row 6805: Address: Calle clara del rey, 71, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 6806: Address: Calle de Uruguay, 13, Madrid
Latitude: 40.4554121, Longitude: -3.6744521

Row 6807: Address: Calle Pinilla del Valle, 2 B, Madrid
Latitude: 40.4399946, Longitude: -3.6772982

Row 6808: Address: Calle de Puerto Rico, 8, Madrid
Latitude: 40.4537395, Longitude: -3.6730579

Row 6809: No result found for address: Calle de Matilde Diez, 19, Madrid

Row 6810: Address: Avenida de Concha Espina, 18, Madrid
Latitude: 40.4516733, Longitude: -3.6850617

Row 6811: No result found for address: Plaza de la Rep�blica del Ecuador, Madrid

Row 6812: No result found for address: Calle Infanta Mar�a Teresa, 6, Madrid

Row 6813: Address: Calle de Chile, 14, Madrid
Latitude: 40.4562457, Longitude: -3.6757219

Row 6814: Address: malcampo, 10, Madrid
Latitude: 40.4455503, Longitude: -3.6740588

Row 6815: Address: Calle del Doctor Fleming, 44, Madrid
Latitude: 40.4611179, Longitude: -3.6876972

Row 6816: Address: RAMON Y CAJAL, Madrid
Latitude: 40.4881508, Longitude: -3.6949566283869437

Row 6817: Address: Avenida Pio XII, Madrid
Latitude: 40.4723951, Longitude: -3.6754702

Row 6818: Address: Calle de Francisco Silvela, 88, Madrid
Latitude: 40.4299196, Longitude: -3.670186

Row 6819: Error geocoding address 'Chile 15 s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Chile+15+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 6820: Address: Calle Pedro de Valdivia, Madrid
Latitude: 40.684889, Longitude: -3.9708848

Row 6821: Address: Calle SAN FERNANDO DEL JARAMA, Madrid
Latitude: 40.4395085, Longitude: -3.6759403

Row 6822: No result found for address: Avenida P�O XII, Madrid

Row 6823: No result found for address: Calle de San Ram�n Nonato, 2, Madrid

Row 6824: Address: P�o XII, 75, Madrid
Latitude: 40.4197109, Longitude: -3.7291678

Row 6825: Address: Calle Alustante, 13, Madrid
Latitude: 40.4424971, Longitude: -3.6710835

Row 6826: Address: Calle de Guatemala, Madrid
Latitude: 40.4593826, Longitude: -3.6716386

Row 6827: Address: Calle Mantuano, Madrid
Latitude: 40.4461399, Longitude: -3.6754959

Row 6828: No result found for address: Calle de Juan Ram�n Jim�nez, 8, Madrid

Row 6829: Address: Calle de Vinaroz, 1, Madrid
Latitude: 40.4460123, Longitude: -3.6761917

Row 6830: Address: Calle ANZUOLA, Madrid
Latitude: 40.4429889, Longitude: -3.6710781

Row 6831: Address: Paseo de la castellana s/n, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 6832: Address: Segre, 21, Madrid
Latitude: 40.4507096, Longitude: -3.6834883

Row 6833: No result found for address: Calle Men�ndez Pidal, Madrid

Row 6834: No result found for address: Calle Mar�a Francisca, 6, Madrid

Row 6835: Address: Costa Rica, 28, Madrid
Latitude: 9.9850727, Longitude: -84.0879339

Row 6836: Address: Calle de Luis de Salazar, 4, Madrid
Latitude: 40.4472953, Longitude: -3.6672484

Row 6837: Address: Calle del General Gallegos, 1, Madrid
Latitude: 40.46121405, Longitude: -3.686479353629638

Row 6838: Address: Calle Juan Bautista de Toledo, Madrid
Latitude: 40.0394478, Longitude: -3.6106797

Row 6839: Address: Avenida de Alberto de Alcocer, 12, Madrid
Latitude: 40.4590474, Longitude: -3.6891326

Row 6840: Address: Calle de Juan Hurtado de Mendoza, Madrid
Latitude: 40.4604609, Longitude: -3.6880501

Row 6841: Address: Calle Pio XII, Madrid
Latitude: 40.6310041, Longitude: -4.0033545

Row 6842: Address: Potos�, Madrid
Latitude: 40.4559992, Longitude: -3.6806338

Row 6843: No result found for address: Calle S�nchez Balderas, 4, Madrid

Row 6844: Address: Francisco Giralte, Madrid
Latitude: 40.4405951, Longitude: -3.6782086

Row 6845: Address: san ernesto, Madrid
Latitude: 40.4492729, Longitude: -3.6756684

Row 6846: Address: Calle Mantuano, 33, Madrid
Latitude: 40.4461399, Longitude: -3.6754959

Row 6847: No result found for address: Calle Rosa Jard�n , 16, Madrid

Row 6848: Address: Calle Alustante, 22, Madrid
Latitude: 40.4424971, Longitude: -3.6710835

Row 6849: Address: Avenida DE BURGOS, Madrid
Latitude: 40.4954243, Longitude: -3.6659291

Row 6850: No result found for address: Calle de L�pez de Hoyos, 76, Madrid

Row 6851: No result found for address: Pasaje Valverde de Alcal�, 4, Madrid

Row 6852: Address: Avenida de Alfonso XIII, Madrid, Madrid
Latitude: 40.4602796, Longitude: -3.6763462

Row 6853: Address: Metro Cuzco s/n, Madrid
Latitude: 40.4586399, Longitude: -3.6903384

Row 6854: Address: Calle de Luis Cabrera, Madrid
Latitude: 40.4434547, Longitude: -3.6739052

Row 6855: Address: Calle de Luis Cabrera, 92, Madrid
Latitude: 40.4434547, Longitude: -3.6739052

Row 6856: No result found for address: Calle Potos�, 10, Madrid

Row 6857: No result found for address: Calle del Pr�ncipe de Vergara, 269, Madrid

Row 6858: Address: Calle de Cartagena, 108, Madrid
Latitude: 40.4397437, Longitude: -3.6737117

Row 6859: No result found for address: Calle de L�pez de Hoyos, 138, Madrid

Row 6860: Address: Calle Sauce, 4, Madrid
Latitude: 40.4528369, Longitude: -3.6686286

Row 6861: Address: Calle Pinilla del Valle, 2 A, Madrid
Latitude: 40.4399946, Longitude: -3.6772982

Row 6862: Address: Calle Malcampo, 20, Madrid
Latitude: 40.4455503, Longitude: -3.6740588

Row 6863: No result found for address: Calle del Padre Xifr�, 5, Madrid

Row 6864: No result found for address: Via del Pr�ncipe de Vergara, Madrid

Row 6865: No result found for address: Urb. Colonia de Los M�sicos, Madrid

Row 6866: Address: Calle de Canillas, 36 bajo, Madrid
Latitude: 40.4438754, Longitude: -3.6693273

Row 6867: No result found for address: Calle de Marceliano Santa Mar�a, 6, Madrid

Row 6868: No result found for address: Urb. urbanizaci�n, Madrid

Row 6869: No result found for address: Plaza de la Rep�blica del Ecuador, 7, Madrid

Row 6870: Address: Calle Mauricio Legendre, 45, Madrid
Latitude: 40.4763515, Longitude: -3.6840541

Row 6871: No result found for address: Calle Rodr�guez Mar�n, 55, Madrid

Row 6872: Address: nicaragua, 9, Madrid
Latitude: 40.3370747, Longitude: -3.7680355950464364

Row 6873: Address: Calle Clara del Rey, 59, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 6874: No result found for address: Calle Mart�n Mart�nez, 6, Madrid

Row 6875: No result found for address: Calle de Carmen S�nchez Carrascosa, 7, Madrid

Row 6876: Address: Calle del Doctor Fleming, 32, Madrid
Latitude: 40.4637387, Longitude: -3.6878099

Row 6877: Address: PUERTO RICO, Madrid
Latitude: 18.155059, Longitude: -65.8286654

Row 6878: Address: Calle del Padre Francisco Palau y Quer, 7, Madrid
Latitude: 40.474233, Longitude: -3.6856318

Row 6879: No result found for address: Calle del Pr�ncipe de Vergara, 207, Madrid

Row 6880: No result found for address: Calle L�pez de Hoyos, 146, Madrid

Row 6881: Address: Calle Canillas, 88, Madrid
Latitude: 40.4439427, Longitude: -3.67095

Row 6882: Address: Calle de Enrique Larreta, 7, Madrid
Latitude: 40.4675674, Longitude: -3.6865881

Row 6883: Address: Calle de colombia, 46, Madrid
Latitude: 40.4574375, Longitude: -3.668971049999996

Row 6884: Address: Padre Xifre, Madrid
Latitude: 40.4403363, Longitude: -3.6729921

Row 6885: Address: Calle de Uruguay, Madrid
Latitude: 40.4549206, Longitude: -3.6715262

Row 6886: Address: Calle talavera, 12, Madrid
Latitude: 40.4534197, Longitude: -3.6802098

Row 6887: No result found for address: Calle de Joaqu�n Costa, 55, Madrid

Row 6888: No result found for address: Avenida de P�o XII, 44, Madrid

Row 6889: Address: Calle Zabaleta, 40, Madrid
Latitude: 40.4420557, Longitude: -3.6738834

Row 6890: Address: Calle de Francisco Giralte, 1, Madrid
Latitude: 40.4404403, Longitude: -3.6781319

Row 6891: Address: Calle Clara del Rey, 54, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 6892: Address: Paseo de la Castellana, 284, Madrid
Latitude: 40.47698115, Longitude: -3.685664288047058

Row 6893: Address: Calle Nieremberg, 1, Madrid
Latitude: 40.4465956, Longitude: -3.670892

Row 6894: Address: Calle Javier Ferrero, 20, Madrid
Latitude: 40.4488284, Longitude: -3.6696386

Row 6895: Address: Avenida de Alberto de Alcocer, 22, Madrid
Latitude: 40.4584518, Longitude: -3.6848866

Row 6896: Address: Calle de Canillas, 19, Madrid
Latitude: 40.4438754, Longitude: -3.6693273

Row 6897: Address: Calle de Costa Rica, 18, Madrid
Latitude: 40.4583051, Longitude: -3.6740615

Row 6898: No result found for address: Calle Mart�n Machio, 19, Madrid

Row 6899: Address: Calle Mateo Inurria, 14, Madrid
Latitude: 40.46689885, Longitude: -3.6845779829198473

Row 6900: No result found for address: Calle Juan Ram�n Jim�nez, 8, Madrid

Row 6901: No result found for address: Urb. Calle Costa Rica, Madrid

Row 6902: No result found for address: Calle Potos�, 2, Madrid

Row 6903: Address: Calle Alfonso VIII, Madrid
Latitude: 40.4665394, Longitude: -3.676642

Row 6904: Address: Pasaje Pradillo, 5, Madrid
Latitude: 40.4419286, Longitude: -3.671815

Row 6905: Address: El viso madrid s/n, Madrid
Latitude: 40.4448882, Longitude: -3.6847127

Row 6906: Address: Calle Zabaleta, 11, Madrid
Latitude: 40.4420557, Longitude: -3.6738834

Row 6907: Address: Calle de Mauricio Legendre, 16, Madrid
Latitude: 40.4718061, Longitude: -3.6855991064757383

Row 6908: No result found for address: Calle Francisco Su�rez, 14, Madrid

Row 6909: Address: Calle de Mauricio Legendre, 27, Madrid
Latitude: 40.4721268, Longitude: -3.6862613205604777

Row 6910: No result found for address: Calle de L�pez de Hoyos, 178, Madrid

Row 6911: Address: Paseo de la Castellana, 264, Madrid
Latitude: 40.4724382, Longitude: -3.6866247

Row 6912: Address: Calle de Canillas, 98, Madrid
Latitude: 40.4438362, Longitude: -3.6696299

Row 6913: Address: Paseo de la Habana, 14, Madrid
Latitude: 40.4503863, Longitude: -3.6873469

Row 6914: Address: Calle Esteban Terradas, 5, Madrid
Latitude: 40.4693035, Longitude: -3.685303

Row 6915: Address: Calle de Puerto Rico, 3, Madrid
Latitude: 40.4537395, Longitude: -3.6730579

Row 6916: Address: Calle de Canillas, 88, Madrid
Latitude: 40.4439427, Longitude: -3.67095

Row 6917: Address: Calle Hortensias, 11, Madrid
Latitude: 40.4637865, Longitude: -3.675136

Row 6918: Address: Calle de Pradillo, 34, Madrid
Latitude: 40.4488718, Longitude: -3.6719865

Row 6919: No result found for address: Calle Ram�n de Santill�n, 15, Madrid

Row 6920: Address: Plaza rafael herrera, 9, Madrid
Latitude: 40.4676979, Longitude: -3.685427

Row 6921: No result found for address: Calle del Conde de Torralba, 2, Madrid

Row 6922: No result found for address: Plaza de la Rep�blica Dominicana, 9, Madrid

Row 6923: No result found for address: Calle Santa Mar�a Magdalena, 9, Madrid

Row 6924: Address: Calle de Chile, 25, Madrid
Latitude: 40.4595494, Longitude: -3.6756906

Row 6925: No result found for address: Avenida de Am�rica, 7, Madrid

Row 6926: No result found for address: Calle Vel�zquez, 160, Madrid

Row 6927: No result found for address: Calle del Torpedero Tucum�n, 10, Madrid

Row 6928: Address: Calle Apolonio Morales, 6, Madrid
Latitude: 40.4633485, Longitude: -3.680809282063075

Row 6929: No result found for address: Calle de L�pez de Hoyos, 184, Madrid

Row 6930: Address: Calle Juan Bautista de Toledo, 4, Madrid
Latitude: 40.0394478, Longitude: -3.6106797

Row 6931: Address: Calle de Canillas, 38, Madrid
Latitude: 40.4424673, Longitude: -3.674239

Row 6932: No result found for address: Calle del Pr�ncipe de Vergara, 126, Madrid

Row 6933: Address: Calle de Marcenado, 38, Madrid
Latitude: 40.4479651, Longitude: -3.6735019

Row 6934: No result found for address: Calle de L�pez de Hoyos, 188, Madrid

Row 6935: Address: Calle de Puerto Rico, 40, Madrid
Latitude: 40.4573086, Longitude: -3.6742082

Row 6936: No result found for address: Calle Prieto Ure�a, 20, Madrid

Row 6937: Address: Calle Lerez, Madrid
Latitude: 40.4493463, Longitude: -3.6851259

Row 6938: Address: Calle de la Hiedra, 28, Madrid
Latitude: 40.472892, Longitude: -3.6790187

Row 6939: No result found for address: Calle Padre Indalecio Hern�ndez, 1, Madrid

Row 6940: Address: Calle Clara del Rey, 71, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 6941: Address: Avenida de Burgos, 16 A, Madrid
Latitude: 40.4750605, Longitude: -3.675384

Row 6942: Address: Calle Anzuola, 7, Madrid
Latitude: 40.4429889, Longitude: -3.6710781

Row 6943: Address: Luis Cabrera, Madrid
Latitude: 40.4434547, Longitude: -3.6739052

Row 6944: Address: Paseo de la Habana, 1, Madrid
Latitude: 40.448125, Longitude: -3.690007

Row 6945: No result found for address: Calle del coraz�n de mar�a, 5, Madrid

Row 6946: No result found for address: Calle V�ctor Andr�s Belaunde, 21, Madrid

Row 6947: No result found for address: Calle del Coraz�n de Mar�a, 7, Madrid

Row 6948: Address: Nicaragua, 9, Madrid
Latitude: 40.3370747, Longitude: -3.7680355950464364

Row 6949: Address: Calle Clara del Rey, 33, Madrid
Latitude: 40.4421288, Longitude: -3.6710971

Row 6950: Address: Calle de Luis Cabrera, 29, Madrid
Latitude: 40.4434547, Longitude: -3.6739052

Row 6951: Address: Calle Zabaleta, 30, Madrid
Latitude: 40.4420557, Longitude: -3.6738834

Row 6952: No result found for address: Calle de Agust�n de Fox�, 16 -18, Madrid

Row 6953: No result found for address: Calle de Padre Dami�n, 29, Madrid

Row 6954: Address: Calle de Canillas, 78, Madrid
Latitude: 40.4438531, Longitude: -3.6715173

Row 6955: Address: Calle de Oruro, 10, Madrid
Latitude: 40.4553449, Longitude: -3.6795901

Row 6956: Address: Paseo de la Castellana, 226, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 6957: Address: Calle Enrique Jardiel Poncela, 3, Madrid
Latitude: 40.4607009, Longitude: -3.6691094

Row 6958: Address: Calle de Uruguay, 23, Madrid
Latitude: 40.4555266, Longitude: -3.6732487

Row 6959: No result found for address: Calle del Coraz�n de Mar�a, 39, Madrid

Row 6960: Address: Calle Antonio Zapata, 10, Madrid
Latitude: 40.4455781, Longitude: -3.6709414

Row 6961: No result found for address: Calle del Pr�ncipe de Vergara, 219, Madrid

Row 6962: No result found for address: Calle de L�pez de Hoyos, 78, Madrid

Row 6963: No result found for address: Calle de L�pez de Hoyos, 61, Madrid

Row 6964: No result found for address: Avenida de Ram�n y Cajal, 16, Madrid

Row 6965: Address: Calle jorge manrique, Madrid
Latitude: 40.4435441, Longitude: -3.6893704

Row 6966: Address: Calle Cartagena, 108, Madrid
Latitude: 40.4397437, Longitude: -3.6737117

Row 6967: No result found for address: Urb. CORAZON DE MARIA-ALFONSO XIII, Madrid

Row 6968: No result found for address: Avenida de P�o XII, 97 BIS, Madrid

Row 6969: No result found for address: Calle S�nchez Balderas, 1, Madrid

Row 6970: Address: Paseo de la Castellana, 210, Madrid
Latitude: 40.463196, Longitude: -3.6889356

Row 6971: Address: Calle de la Hiedra, Madrid
Latitude: 40.4713475, Longitude: -3.6818022

Row 6972: No result found for address: Joaqu�n Costa, 15, Madrid

Row 6973: Address: Henri Dunant, Madrid
Latitude: 40.46021, Longitude: -3.68477

Row 6974: Address: Calle de Francisco Silvela, 104, Madrid
Latitude: 40.4386988, Longitude: -3.6784706

Row 6975: Address: Calle Cochabamba, Madrid
Latitude: -17.4020841, Longitude: -66.1562784

Row 6976: No result found for address: Calle Jos� Rodr�guez Pinilla, 17, Madrid

Row 6977: Address: Calle Antonio Zapata, Madrid
Latitude: 40.4455781, Longitude: -3.6709414

Row 6978: No result found for address: Calle del Pr�ncipe de Vergara, 225, Madrid

Row 6979: Address: Calle de Eugenio Salazar, 52, Madrid
Latitude: 40.4476979, Longitude: -3.6753727

Row 6980: No result found for address: Calle de L�pez de Hoyos, 74, Madrid

Row 6981: Address: Eugenio Salazar, 32, Madrid
Latitude: 40.4463563, Longitude: -3.6747088

Row 6982: Address: Calle de Marcenado, 7, Madrid
Latitude: 40.4455763, Longitude: -3.6728728

Row 6983: Address: Avenida de Alberto de Alcocer, 10, Madrid
Latitude: 40.4586452, Longitude: -3.6869821

Row 6984: Address: Colombia s/n, Madrid
Latitude: 4.7333686, Longitude: -74.2629794

Row 6985: No result found for address: Calle del Pr�ncipe de Vergara, 278, Madrid

Row 6986: No result found for address: Calle de Vel�zquez, Madrid, 160, Madrid

Row 6987: Address: Calle Constancia, 33, Madrid
Latitude: 40.4423953, Longitude: -3.6724417

Row 6988: No result found for address: Calle del Pr�ncipe de Vergara, 266, Madrid

Row 6989: Address: sanchez pacheco, 16, Madrid
Latitude: 40.446688, Longitude: -3.6766262

Row 6990: Address: Pasaje Pradillo, 14, Madrid
Latitude: 40.4419286, Longitude: -3.671815

Row 6991: Address: Principe de Vergara, 278, Madrid
Latitude: 40.4594097, Longitude: -3.6764708

Row 6992: Address: Padre Claret, Madrid
Latitude: 40.4524527, Longitude: -3.6655043

Row 6993: Address: Calle del Padre Claret, Madrid
Latitude: 40.4473985, Longitude: -3.6643955

Row 6994: No result found for address: Avenida de P�o XII- Chamart�n, Madrid

Row 6995: Address: Paseo de la habana, 28036, Madrid
Latitude: 40.4664636, Longitude: -3.67923

Row 6996: Address: Calle de Canillas, 74, Madrid
Latitude: 40.4437654, Longitude: -3.6722909

Row 6997: Address: San Telmo, Madrid
Latitude: 40.4633197, Longitude: -3.6767319

Row 6998: No result found for address: Calle Guti�rrez Solana, Madrid

Row 6999: Address: Cartagena, Madrid
Latitude: 40.4393935, Longitude: -3.6717961

Row 7000: Address: Calle de Manuel Caldeiro, Madrid
Latitude: 40.4765262, Longitude: -3.6853335

Row 7001: Address: Calle de Poniente, Madrid, Madrid
Latitude: 40.4699969, Longitude: -3.6819033

Row 7002: No result found for address: Calle del Torpedero Tucum�n, 31, Madrid

Row 7003: No result found for address: Calle N��ez Morgado, Madrid

Row 7004: Address: mantuano, 19, Madrid
Latitude: 40.4461399, Longitude: -3.6754959

Row 7005: Address: CASTELLO, Madrid
Latitude: 40.41640165, Longitude: -3.6965831109198684

Row 7006: No result found for address: Calle S�nchez Pacheco, Madrid

Row 7007: No result found for address: Calle de Cardenal Marcelo Sp�nola, Madrid

Row 7008: Address: costa rica, 11, Madrid
Latitude: 9.9850727, Longitude: -84.0879339

Row 7009: Address: Calle de Colombia, 9, Madrid
Latitude: 40.457235, Longitude: -3.6763717

Row 7010: Address: Calle Mantuano, 25, Madrid
Latitude: 40.4461399, Longitude: -3.6754959

Row 7011: No result found for address: Plaza de la R. Dominicana, Madrid

Row 7012: No result found for address: Calle de L�pez de Hoyos, 66, Madrid

Row 7013: Address: Calle de la Hiedra, 30, Madrid
Latitude: 40.472892, Longitude: -3.6790187

Row 7014: No result found for address: Avenida de Am�rica, 29, Madrid

Row 7015: Address: CORAZON DE MARIA, Madrid
Latitude: 40.4443858, Longitude: -3.6669736

Row 7016: Address: Calle clara del rey, 39, Madrid
Latitude: 40.4426858, Longitude: -3.6701321

Row 7017: No result found for address: Calle de Vel�zquez, Madrid

Row 7018: Address: Calle Apolonio Morales, Madrid
Latitude: 40.4634191, Longitude: -3.6823276

Row 7019: No result found for address: Calle Rodr�guez Mar�n, 84, Madrid

Row 7020: Address: Calle Matilde Diez, Madrid
Latitude: 40.4460892, Longitude: -3.6730435

Row 7021: Address: Calle de Francisco Silvela, Madrid, Madrid
Latitude: 40.4299196, Longitude: -3.670186

Row 7022: Address: Calle Darro, Madrid
Latitude: 40.4502892, Longitude: -3.6858587

Row 7023: No result found for address: Calle del Pr�ncipe de Vergara, 206, Madrid

Row 7024: Address: Calle Alustante, 27, Madrid
Latitude: 40.4424971, Longitude: -3.6710835

Row 7025: Address: Pasaje San Martin de Valdeiglesias, Madrid
Latitude: 40.4405316, Longitude: -3.6768464048396052

Row 7026: Address: Calle de Cartagena, Madrid, Madrid
Latitude: 40.4391418, Longitude: -3.6733324

Row 7027: Address: MAURICIO LEGENDRE, Madrid
Latitude: 40.4763515, Longitude: -3.6840541

Row 7028: Address: Calle de Serrano, Madrid
Latitude: 40.4251068, Longitude: -3.68791

Row 7029: No result found for address: Calle de Mar�a de Molina, Madrid

Row 7030: Address: Urb. ciudad jardin, Madrid
Latitude: 42.03645745, Longitude: -3.755973191946041

Row 7031: Address: Calle Mateo Inurria s/n, Madrid
Latitude: 40.4660763, Longitude: -3.6887915

Row 7032: Address: Paseo de la Castellana s/n, Madrid
Latitude: 40.46653, Longitude: -3.6895641

Row 7033: No result found for address: Plaza de la Rep�blica Argentina s/n, Madrid

Row 7034: Address: Calle de Marcenado, 12, Madrid
Latitude: 40.4488042, Longitude: -3.6738497

Row 7035: No result found for address: Calle Suero de Qui�ones, 30, Madrid

Row 7036: No result found for address: Mart�n Mach�o, Madrid

Row 7037: No result found for address: Avenida de Alberto de Alcocer, 48 -10�-C, Madrid

Row 7038: No result found for address: Calle Panam�, Madrid

Row 7039: No result found for address: Calle del Cardenal Sil�ceo, 21, Madrid

Row 7040: Address: Avenida Burgos, 5, Madrid
Latitude: 40.4880497, Longitude: -3.6726587

Row 7041: No result found for address: Calle del Coraz�n de Mar�a, 7 bis, Madrid

Row 7042: Address: Calle Nieremberg, 14, Madrid
Latitude: 40.4482633, Longitude: -3.6724165

Row 7043: Address: Pedro de Valdivia, Madrid
Latitude: 40.4393375, Longitude: -3.6834703

Row 7044: No result found for address: Avenida de Aster, Madrid

Row 7045: No result found for address: Calle de Padre Dami�n, Madrid

Row 7046: Address: Calle Jiloca, 4, Madrid
Latitude: 40.452581, Longitude: -3.6800108

Row 7047: No result found for address: Calle de Joaqu�n Costa, 53, Madrid

Row 7048: No result found for address: Calle Alfonso Rodr�guez Santamar�a, Madrid, 9, Madrid

Row 7049: No result found for address: Calle del Coraz�n de Mar�a, 62, Madrid

Row 7050: No result found for address: Calle de Felipe Campos, Madrid

Row 7051: No result found for address: Plaza Rep�blica del Ecuador, Madrid

Row 7052: Address: Calle Endrinas, 12, Madrid
Latitude: 40.4560416, Longitude: -3.6647998

Row 7053: No result found for address: Calle del Conde de Torralba s/n, Madrid

Row 7054: Address: MAURICIO LEGENDRE, 45, Madrid
Latitude: 40.4763515, Longitude: -3.6840541

Row 7055: Address: maestro chapi, 23, Madrid
Latitude: 40.4642903, Longitude: -3.6723386

Row 7056: No result found for address: Joaqu�n Costa, 47, Madrid

Row 7057: No result found for address: Calle de los Ca�dos de la Divisi�n Azul, Madrid

Row 7058: Address: Calle Francisco Vivancos, Madrid, Madrid
Latitude: 40.4472079, Longitude: -3.6629668

Row 7059: Address: Calle de Francisco Giralte, Madrid
Latitude: 40.4405951, Longitude: -3.6782086

Row 7060: No result found for address: Calle Infanta Mar�a Teresa, Madrid

Row 7061: Address: Calle Esteban Terradas, Madrid
Latitude: 40.4691913, Longitude: -3.6854001

Row 7062: No result found for address: Calle del Cardenal Sil�ceo, 37, Madrid

Row 7063: No result found for address: Calle Prieto Ure�a, Madrid, Madrid

Row 7064: Address: PRINCIPE DE VERGARA, Madrid
Latitude: 40.4226491, Longitude: -3.6803686

Row 7065: No result found for address: jos� lazaro galiano, Madrid

Row 7066: Address: Calle Canillas, 34, Madrid
Latitude: 40.4421875, Longitude: -3.6745947

Row 7067: Address: Calle de Eugenio Salazar, Madrid
Latitude: 40.4446264, Longitude: -3.6732311

Row 7068: Address: Calle Profesor Waksman, Madrid, Madrid
Latitude: 40.4560305, Longitude: -3.688352

Row 7069: No result found for address: Calle de Agust�n de Fox�, Madrid

Row 7070: Address: Avenida de Alfonso XIII, Madrid, 126, Madrid
Latitude: 40.4602796, Longitude: -3.6763462

Row 7071: No result found for address: Calle V�ctor de la Serna, Madrid, Madrid

Row 7072: Address: Calle rafael salgado, Madrid
Latitude: 40.4542366, Longitude: -3.688938

Row 7073: Address: Calle Padre Claret, Madrid
Latitude: 40.4456043, Longitude: -3.6631161

Row 7074: Address: Av de Burgos, Madrid
Latitude: 40.4954243, Longitude: -3.6659291

Row 7075: Address: Gabriel Lobo, Madrid
Latitude: 40.4425761, Longitude: -3.6811011

Row 7076: Address: Calle San Telmo, Madrid
Latitude: 40.4627196, Longitude: -3.6775806

Row 7077: Address: Calle Nicaragua, Madrid
Latitude: 19.0824474, Longitude: -103.8718374

Row 7078: Address: Calle Guerrero y Mendoza, Madrid
Latitude: 40.4520088, Longitude: -3.6689165

Row 7079: No result found for address: Calle del Pr�ncipe de Vergara, Madrid, Madrid

Row 7080: No result found for address: Paseo del Poeta Manuel del Palacio, Madrid

Row 7081: No result found for address: Calle Suero de Qui�ones, Madrid

Row 7082: Address: Avenida AMERICA, Madrid
Latitude: 40.4381379, Longitude: -3.6791166

Row 7083: Address: Tambre, Madrid
Latitude: 40.4474634, Longitude: -3.6869209

Row 7084: Address: Calle Tercera, Madrid
Latitude: 40.4549517, Longitude: -3.6682418

Row 7085: Address: Poniente, Madrid
Latitude: -38.7348929, Longitude: -72.6235671

Row 7086: Address: Paseo de los Cerezos, 13, Madrid
Latitude: 40.4527707, Longitude: -3.665213

Row 7087: Address: Calle Santa Hortensia, Madrid
Latitude: 40.4439985, Longitude: -3.6652949

Row 7088: Address: Calle triana, Madrid
Latitude: 40.4212996, Longitude: -3.6314275

Row 7089: No result found for address: Calle Men�ndez Pidal s/n, Madrid

Row 7090: Address: Esteban Terradas, Madrid
Latitude: 40.4691913, Longitude: -3.6854001

Row 7091: No result found for address: Calle Joaqu�n Bau, Madrid

Row 7092: Address: Calle de Pradillo, 19, Madrid
Latitude: 40.4487373, Longitude: -3.6741156

Row 7093: Address: PRINCIPE DE VERGARA, 117, Madrid
Latitude: 40.44071455, Longitude: -3.6791984589338833

Row 7094: Address: Ramon de Santillan, Madrid
Latitude: 40.4549884, Longitude: -3.6801354

Row 7095: No result found for address: Pr�ncipe de Vergara, Madrid

Row 7096: Address: Calle Luis Larrainza s/n, Madrid
Latitude: 40.4505479, Longitude: -3.6708382

Row 7097: Address: Calle de Luis de Salazar, 1, Madrid
Latitude: 40.4476291, Longitude: -3.6673696

Row 7098: Address: Calle de Cartagena, 106, Madrid
Latitude: 40.4395761, Longitude: -3.6735972

Row 7099: No result found for address: Calle Coraz�n de Mar�a, 6, Madrid

Row 7100: Address: Calle Clara del Rey, 52, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 7101: Address: Calle de Canillas, 45, Madrid
Latitude: 40.4430697, Longitude: -3.6736997

Row 7102: Address: Calle de Francisco Silvela, 96, Madrid
Latitude: 40.4386074, Longitude: -3.6783524

Row 7103: Address: Calle Anastasio Aroca, 9, Madrid
Latitude: 40.4412034, Longitude: -3.6733051

Row 7104: Address: Avenida de Alfonso XIII, 152, Madrid
Latitude: 40.460398, Longitude: -3.6705735

Row 7105: Address: Calle de Luis de Salazar s/n, Madrid
Latitude: 40.4473312, Longitude: -3.6659909

Row 7106: Address: Encinas, Madrid
Latitude: 40.4606269, Longitude: -3.6745043

Row 7107: Address: Calle de Marcenado, Madrid, Madrid
Latitude: 40.4488042, Longitude: -3.6738497

Row 7108: No result found for address: Urb. Castellana - Viso, Madrid

Row 7109: Address: Paseo de la habana, 15, Madrid
Latitude: 40.4499906, Longitude: -3.6881392

Row 7110: Address: Calle Apolonio Morales, 15, Madrid
Latitude: 40.4639576, Longitude: -3.682972901688717

Row 7111: No result found for address: Avenida de Am�rica, Madrid, Madrid

Row 7112: No result found for address: Avenida de P�o XII, Madrid, Madrid

Row 7113: No result found for address: Calle de Matilde Diez, 5, Madrid

Row 7114: Address: Calle Marceliano Santa Maria, Madrid
Latitude: 40.4506768, Longitude: -3.6886891

Row 7115: Address: Francisco Silvela, Madrid
Latitude: 40.4304915, Longitude: -3.6845578

Row 7116: No result found for address: Calle del Coraz�n de Mar�a, 2, Madrid

Row 7117: Address: Calle de Vinaroz, Madrid
Latitude: 40.4460123, Longitude: -3.6761917

Row 7118: Address: Calle Nieremberg, Madrid
Latitude: 40.4476613, Longitude: -3.6718936

Row 7119: No result found for address: Calle del Pr�ncipe de Vergara, 258, Madrid

Row 7120: No result found for address: Calle N��ez Morgado, 4, Madrid

Row 7121: Address: Avenida de Burgos, 46, Madrid
Latitude: 40.472741, Longitude: -3.6760198

Row 7122: Address: Calle Francisco Goya, 11, Madrid
Latitude: 40.4609736, Longitude: -3.6798809

Row 7123: Address: serrano, 209, Madrid
Latitude: 40.4253869, Longitude: -3.6869007

Row 7124: Address: Calle Francisco Vivancos, Madrid
Latitude: 40.4472079, Longitude: -3.6629668

Row 7125: No result found for address: Calle Agust�n de Rojas, Madrid

Row 7126: Address: Calle de Chile, Madrid
Latitude: 40.4561115, Longitude: -3.6759952

Row 7127: Address: Calle de Canillas, 68, Madrid
Latitude: 40.4436549, Longitude: -3.6727151

Row 7128: Address: Calle Clara del Rey, 75, Madrid
Latitude: 40.4429927, Longitude: -3.669342

Row 7129: No result found for address: Urb. Francisco Suarez, Madrid

Row 7130: No result found for address: Calle del Pr�ncipe de Vergara, 215, Madrid

Row 7131: Address: Pasaje San Martin de Valdeiglesias, 7, Madrid
Latitude: 40.4405316, Longitude: -3.6768464048396052

Row 7132: No result found for address: Avenida P�o XII, Madrid

Row 7133: No result found for address: Pasaje de Do�a Carlota, Madrid

Row 7134: Address: Canillas, Madrid
Latitude: 40.4618893, Longitude: -3.6433517

Row 7135: Address: Calle Felipe Campos, 10, Madrid
Latitude: 40.4425732, Longitude: -3.6794055

Row 7136: No result found for address: Plaza de la Rep�blica del Ecuador, 5, Madrid

Row 7137: Address: Calle Principe de Vergara, Madrid
Latitude: 40.4387636, Longitude: -3.6789562

Row 7138: No result found for address: Padre Dami�n, Madrid

Row 7139: No result found for address: L�pez de Hoyos, Madrid

Row 7140: No result found for address: Jos� Rodr�guez Pinilla, Madrid

Row 7141: Address: Herreros de Tejada, Madrid
Latitude: 40.4534333, Longitude: -3.6815056

Row 7142: No result found for address: Urb. Ciudad Jard�n, Madrid

Row 7143: Address: Calle Francisco Goya, Madrid
Latitude: 40.4609736, Longitude: -3.6798809

Row 7144: Address: Calle Mateo Inurria, Madrid
Latitude: 40.4660763, Longitude: -3.6887915

Row 7145: Address: Concha Espina, Madrid
Latitude: 40.4513295, Longitude: -3.6776079

Row 7146: Address: Calle del Eucalipto, Madrid
Latitude: 40.4549451, Longitude: -3.6639871

Row 7147: No result found for address: Calle de L�pez de Hoyos, 218, Madrid

Row 7148: Address: Segre, Madrid
Latitude: 40.4499551, Longitude: -3.6825492

Row 7149: Address: Calle Grinon, Madrid
Latitude: 40.4385271, Longitude: -3.6779847

Row 7150: Address: Serrano, Madrid
Latitude: 40.4253869, Longitude: -3.6869007

Row 7151: No result found for address: Urb. HISPANOAM�RICA, Madrid

Row 7152: Address: Calle de Carbonero y Sol, Madrid
Latitude: 40.4448935, Longitude: -3.6890736

Row 7153: Address: Puente del Duero, Madrid
Latitude: 40.4453366, Longitude: -3.686076

Row 7154: Address: Calle Urola, Madrid, Madrid
Latitude: 40.4476442, Longitude: -3.6830211

Row 7155: Address: Calle de Santa Hortensia, 45, Madrid
Latitude: 40.4439985, Longitude: -3.6652949

Row 7156: No result found for address: Urb. COCHABAMBA, Madrid

Row 7157: Address: Calle de San Carlos, Madrid
Latitude: 40.410399, Longitude: -3.7016245

Row 7158: Address: Calle del General Ricardos, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7159: Address: Calle san delfin, Madrid
Latitude: 40.3947876, Longitude: -3.7076992

Row 7160: No result found for address: Calle Francisco Pa�no, Madrid

Row 7161: Address: Calle del Chimbo, 4, Madrid
Latitude: 40.3823125, Longitude: -3.7281695

Row 7162: Address: Avenida del Manzanares, 74, Madrid
Latitude: 40.3884483, Longitude: -3.698381330738087

Row 7163: No result found for address: Calle Alci�n, Madrid

Row 7164: Address: Calle de Belzunegui, Madrid
Latitude: 40.3759225, Longitude: -3.7390858

Row 7165: Address: LINARES, Madrid
Latitude: 24.8680428, Longitude: -99.570554

Row 7166: Address: Calle de Antonio de Leyva, Madrid
Latitude: 40.3958261, Longitude: -3.7149565

Row 7167: Address: Avenida de la Peseta, Madrid
Latitude: 40.3627577, Longitude: -3.7481199

Row 7168: Address: Avenida Oporto, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7169: Address: Calle del Parque Eugenia de Montijo, Madrid
Latitude: 40.3792115, Longitude: -3.7529084

Row 7170: Address: Via Lusitana, Madrid
Latitude: 40.3807119, Longitude: -3.7252657

Row 7171: Address: Calle Witerico, Madrid
Latitude: 40.3772401, Longitude: -3.7404667

Row 7172: Address: Calle de Eugenia de Montijo, Madrid
Latitude: 40.3802045, Longitude: -3.745921

Row 7173: No result found for address: Calle Capit�n de Oro, Madrid

Row 7174: Address: Calle Irlanda, Madrid
Latitude: 40.4445889, Longitude: -3.7862981

Row 7175: Address: Calle Fragata, Madrid
Latitude: 40.3940006, Longitude: -3.7359783

Row 7176: Address: Avenida MANZANARES, Madrid
Latitude: 40.3991999, Longitude: -3.7192022

Row 7177: Address: Calle CABO NICOLAS MUR, Madrid
Latitude: 40.3946388, Longitude: -3.7331418

Row 7178: Address: Calle San Olegario, Madrid
Latitude: 40.3696095, Longitude: -3.759682

Row 7179: No result found for address: Calle del Marqu�s de Jura Real, Madrid

Row 7180: Address: Paseo de Santa Maria de la Cabeza, Madrid
Latitude: 40.4017409, Longitude: -3.6985175

Row 7181: Address: Avenida de los Poblados, Madrid
Latitude: 40.3919879, Longitude: -3.7692644

Row 7182: No result found for address: Calle Papagayo, Madrid, Madrid

Row 7183: Address: Calle del Chimbo, Madrid
Latitude: 40.3823125, Longitude: -3.7281695

Row 7184: No result found for address: Camino Viejo de Legan�s, Madrid

Row 7185: Address: Calle Antonio Romero, 13, Madrid
Latitude: 40.3744439, Longitude: -3.7304218

Row 7186: Address: Calle de Alejandro Sanchez, Madrid
Latitude: 40.3912182, Longitude: -3.7272684

Row 7187: Address: Calle Ontanilla, Madrid
Latitude: 40.3740806, Longitude: -3.7292036

Row 7188: Address: Calle San Deogracias, Madrid
Latitude: 40.370858, Longitude: -3.7604487

Row 7189: Address: Calle de la Hermandad, Madrid
Latitude: 40.3828331, Longitude: -3.7280204

Row 7190: No result found for address: Calle Inocencia S�nchez, Madrid

Row 7191: No result found for address: Calle Vicente Mart�n Arias, Madrid

Row 7192: Address: Avenida OPORTO, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7193: Address: Calle Condes de Barcelona, Madrid
Latitude: 40.395286, Longitude: -3.7148029

Row 7194: No result found for address: Calle de Luis G�mez, Madrid

Row 7195: Address: Calle Guabairo, Madrid
Latitude: 40.3866031, Longitude: -3.7454721

Row 7196: Address: Calle de la Laguna, Madrid
Latitude: 40.3929639, Longitude: -3.7426343

Row 7197: Error geocoding address 'Calle Jos� del R�o, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Jos%EF%BF%BD+del+R%EF%BF%BDo%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7198: No result found for address: Calle de Jos� Maria Pem�n, Madrid

Row 7199: Address: Calle Paulina Odiaga s/n, Madrid
Latitude: 40.3941446, Longitude: -3.7249935

Row 7200: Address: EUGENIA DE MONTIJO, 55, Madrid
Latitude: 40.3802045, Longitude: -3.745921

Row 7201: Address: Calle Linares, Madrid
Latitude: 40.3877342, Longitude: -3.7331384

Row 7202: Address: Linares, Madrid
Latitude: 24.8680428, Longitude: -99.570554

Row 7203: Address: Calle del Toboso, Madrid
Latitude: 40.3926858, Longitude: -3.7257475

Row 7204: Address: Alto de San Isidro, Madrid
Latitude: 40.3964643, Longitude: -3.7237731

Row 7205: No result found for address: Calle �ngel Ripoll, Madrid

Row 7206: Address: Calle Sorbe, Madrid
Latitude: 40.3900564, Longitude: -3.7146713

Row 7207: Address: Calle de Saturnino Tejera, Madrid
Latitude: 40.3829268, Longitude: -3.745122

Row 7208: Address: Plaza Carabanchel, Madrid
Latitude: 40.3804838, Longitude: -3.741061225659233

Row 7209: Address: Calle del Obolo, Madrid
Latitude: 40.3707789, Longitude: -3.7412763

Row 7210: No result found for address: Calle de Carrero Juan Ram�n, Madrid

Row 7211: No result found for address: Calle Cabo Nicol�s Mur, Madrid

Row 7212: Address: Calle Doctor Espina, Madrid
Latitude: 40.3885927, Longitude: -3.7283228

Row 7213: No result found for address: Glorieta Marqu�s de Vadillo, Madrid

Row 7214: Address: Via Lusitana, Madrid, Madrid
Latitude: 40.3807119, Longitude: -3.7252657

Row 7215: No result found for address: Iba�ez Mar�n, Madrid

Row 7216: No result found for address: Calle Jabir�, Madrid

Row 7217: Address: Calle Alfaro, Madrid
Latitude: 40.3911607, Longitude: -3.7389613

Row 7218: Address: Avenida de manzanares, Madrid
Latitude: 40.2330674, Longitude: -3.9770949

Row 7219: Address: Calle Patrimonio de la Humanidad, 13, Madrid
Latitude: 40.3609955, Longitude: -3.7586284

Row 7220: Address: Calle Juana Urosa, Madrid
Latitude: 40.3848206, Longitude: -3.7442126

Row 7221: No result found for address: Calle San Delf�n, Madrid

Row 7222: Address: Calle de Jacinto Verdaguer, Madrid
Latitude: 40.3955225, Longitude: -3.7175428

Row 7223: Address: Calle Bandera, 19, Madrid
Latitude: 19.3499916, Longitude: -98.9978646

Row 7224: Address: Calle Bernardina Aranguren, Madrid
Latitude: 40.3886742, Longitude: -3.7413223

Row 7225: Address: Calle de los Timbales, Madrid
Latitude: 40.3703673, Longitude: -3.7674563

Row 7226: Address: Calle Manuel Lamela, Madrid
Latitude: 40.3861843, Longitude: -3.7336723

Row 7227: Address: Calle Julio Domingo, 13, Madrid
Latitude: 40.3862446, Longitude: -3.7216435

Row 7228: Address: Calle Eusebio Mor�n, Madrid
Latitude: 40.3869563, Longitude: -3.7192645

Row 7229: Address: Calle Ademuz, Madrid
Latitude: 40.3845486, Longitude: -3.7324291

Row 7230: No result found for address: Calle Jos� Cabrera, Madrid

Row 7231: Address: Calle Pacorro, 2 -22, Madrid
Latitude: 40.3895228, Longitude: -3.7322521

Row 7232: Address: Paseo Quince de Mayo, 9, Madrid
Latitude: 40.3974633, Longitude: -3.717975713470877

Row 7233: No result found for address: Calle Pedro Yag�e, Madrid

Row 7234: No result found for address: Calle Marquesa de Arg�eso, Madrid

Row 7235: No result found for address: Calle de Matilde Hern�ndez, Madrid

Row 7236: No result found for address: Calle de la Alegr�a, Madrid

Row 7237: No result found for address: Calle San Melit�n, Madrid

Row 7238: No result found for address: Calle Hermanas Alonso Barcel�, Madrid

Row 7239: No result found for address: Calle de los Navalmorales, Madrid

Row 7240: Address: PEPION, 10, Madrid
Latitude: 40.3712492, Longitude: -3.7387736

Row 7241: Address: Calle Castro de Oro, Madrid
Latitude: 40.388778, Longitude: -3.7289458

Row 7242: No result found for address: Calle de Arroyo de Valdecelada, Madrid

Row 7243: Address: Calle Lonja de la Seda, Madrid
Latitude: 40.3657919, Longitude: -3.7576367

Row 7244: Address: Calle Julio Domingo, Madrid
Latitude: 40.3862446, Longitude: -3.7216435

Row 7245: Address: Calle Esteban de Arteaga, Madrid
Latitude: 40.3958772, Longitude: -3.7090948

Row 7246: No result found for address: Calle Juan Jos� Bautista, Madrid

Row 7247: No result found for address: Plaza �gueda Diez, Madrid

Row 7248: Address: Calle de Alejandro Mor�n, Madrid
Latitude: 40.4831195, Longitude: -3.7298216

Row 7249: Address: Calle Alcatraz, Madrid
Latitude: 19.3320524, Longitude: -98.9753929

Row 7250: No result found for address: Calle Atl�tico de Madrid, Madrid

Row 7251: Address: Calle hacienda, Madrid
Latitude: 40.3995738, Longitude: -3.6310173

Row 7252: No result found for address: Calle Sallaberry, Madrid

Row 7253: No result found for address: Calle Eulalia Pa�no, Madrid

Row 7254: Address: Calle Teniente Ochoa Olalla, Madrid
Latitude: 40.3958231, Longitude: -3.7331641

Row 7255: Address: Calle del General Ricardos, 73, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7256: Address: Calle de Eduardo Marquina, Madrid
Latitude: 40.3930472, Longitude: -3.7117764

Row 7257: No result found for address: Calle de Carlos Daban, Madrid

Row 7258: Address: Calle de Salvador Alonso, Madrid
Latitude: 40.3947726, Longitude: -3.7370792

Row 7259: Address: Avenida abrantes, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7260: Address: Calle busaco, Madrid
Latitude: 40.3823662, Longitude: -3.7254421

Row 7261: Address: Calle urogallo, Madrid
Latitude: 40.3901175, Longitude: -3.7226198

Row 7262: Address: tomas meabe, Madrid
Latitude: 40.3952553, Longitude: -3.7151548

Row 7263: Address: Calle Besolla, Madrid
Latitude: 40.3751701, Longitude: -3.7333647

Row 7264: Address: Calle ZAIDA, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7265: Address: Calle isabel ana, Madrid
Latitude: 40.3949579, Longitude: -3.7260566

Row 7266: No result found for address: Calle Doctor Zof�o, Madrid

Row 7267: Address: Paseo del Quince de Mayo, 22, Madrid
Latitude: 40.3982358, Longitude: -3.7190699

Row 7268: Address: ESPINAR, Madrid
Latitude: 40.3867454, Longitude: -3.7448117

Row 7269: Address: Calle Paulina Odiaga, Madrid
Latitude: 40.3941446, Longitude: -3.7249935

Row 7270: Address: Avenida de Carabanchel Alto, Madrid
Latitude: 40.3616995, Longitude: -3.753821

Row 7271: Address: Calle Avecilla, Madrid
Latitude: 40.3886364, Longitude: -3.7362468

Row 7272: No result found for address: Calle Pr�mula, Madrid

Row 7273: Address: Calle Francisco Lizcano, Madrid
Latitude: 40.366869, Longitude: -3.7589878

Row 7274: Address: Paseo del Quince de Mayo, Madrid
Latitude: 40.3989518, Longitude: -3.7215302

Row 7275: Address: Plaza de las Meninas, Madrid
Latitude: 40.37748015, Longitude: -3.7310697145574707

Row 7276: Address: Avenida de la Peseta, 96, Madrid
Latitude: 40.3627577, Longitude: -3.7481199

Row 7277: Address: Calle de Jacinto Verdaguer, 5, Madrid
Latitude: 40.3959514, Longitude: -3.714282543470574

Row 7278: Address: Antonio Leyva, 88, Madrid
Latitude: 40.38603295, Longitude: -3.7176228440211894

Row 7279: Address: Calle Antonio Romero, Madrid
Latitude: 40.3745013, Longitude: -3.7304941

Row 7280: Address: Calle de Salvador Allende, Madrid
Latitude: 40.361068, Longitude: -3.7579469

Row 7281: Address: Calle de Albox, Madrid
Latitude: 40.3735193, Longitude: -3.7421497

Row 7282: Address: Avenida de la Peseta, 57, Madrid
Latitude: 40.3627577, Longitude: -3.7481199

Row 7283: Address: Calle de la Duquesa de Tamames, Madrid
Latitude: 40.3728623, Longitude: -3.749844

Row 7284: Address: antonio rodriguez, Madrid
Latitude: 40.4431256, Longitude: -3.6810974

Row 7285: Address: Calle de la Duquesa de Tamames, 5, Madrid
Latitude: 40.3729979, Longitude: -3.7496499679924247

Row 7286: Address: Calle Antonio Romero, 23, Madrid
Latitude: 40.3744439, Longitude: -3.7304218

Row 7287: No result found for address: Calle Blas�n, 4, Madrid

Row 7288: Address: Plaza Alcalde Brell, Madrid
Latitude: 40.3788521, Longitude: -3.7326218

Row 7289: Address: Calle del Real Madrid, Madrid
Latitude: 40.3758554, Longitude: -3.7409099

Row 7290: Address: Calle de Tucan, Madrid
Latitude: 40.812608, Longitude: -3.7608211

Row 7291: Address: Calle Guacamayo, Madrid
Latitude: 40.3902055, Longitude: -3.7396537

Row 7292: Address: Avenida Carabanchel Alto, Madrid
Latitude: 40.3719581, Longitude: -3.7517618

Row 7293: No result found for address: Calle Matilde Hern�ndez, Madrid

Row 7294: Address: HALCON, Madrid
Latitude: 40.3888817, Longitude: -3.7426901

Row 7295: Address: Calle Antonio Leyva, Madrid
Latitude: 40.3958261, Longitude: -3.7149565

Row 7296: Address: Calle Julio Antonio, 1, Madrid
Latitude: 40.3830951, Longitude: -3.7317284

Row 7297: Address: Calle San Sinesio, Madrid
Latitude: 40.3879204, Longitude: -3.7423422

Row 7298: No result found for address: Calle Inmaculada Concepci�n, Madrid

Row 7299: No result found for address: Calle Jos� Montalvo, Madrid

Row 7300: Address: Camino viejo de leganes, Madrid
Latitude: 40.3802945, Longitude: -3.731465739237537

Row 7301: Address: Calle Santa Saturnina, Madrid
Latitude: 40.3984686, Longitude: -3.7183435

Row 7302: No result found for address: Calle de �lvarez Abell�n, Madrid

Row 7303: Address: Via LUSITANA, Madrid
Latitude: 40.3807119, Longitude: -3.7252657

Row 7304: Address: Calle del Radio, Madrid
Latitude: 40.3923763, Longitude: -3.7230275

Row 7305: Address: Jose Maria Peman, Madrid
Latitude: 40.4153677, Longitude: -3.6906714

Row 7306: Address: JOSE MARIA PEMAN, Madrid
Latitude: 40.4153677, Longitude: -3.6906714

Row 7307: No result found for address: Calle Alf�rez Juan Usera, Madrid

Row 7308: Address: Calle de Zaida, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7309: Address: Calle Jimena, Madrid
Latitude: 40.4729116, Longitude: -3.7668168

Row 7310: No result found for address: Calle de Rodr�guez Vega, Madrid

Row 7311: Address: Calle Miguel Mayor, Madrid
Latitude: 40.3894559, Longitude: -3.7183286

Row 7312: Address: Calle Chindasvinto, Madrid
Latitude: 40.3946608, Longitude: -3.7278646

Row 7313: No result found for address: Camino viejo de legan�s, Madrid

Row 7314: Address: Calle de Azcoitia, Madrid
Latitude: 40.373478, Longitude: -3.754894

Row 7315: Address: Calle Parador del Sol, Madrid
Latitude: 40.3927677, Longitude: -3.7099897

Row 7316: No result found for address: Calle de Rasc�n, 23, Madrid

Row 7317: Address: Calle del Parque Eugenia de Montijo, 18, Madrid
Latitude: 40.3792115, Longitude: -3.7529084

Row 7318: Address: Fernando Delgado, Madrid
Latitude: 40.383883, Longitude: -3.7489925

Row 7319: Address: Calle Armengot, Madrid
Latitude: 40.3855669, Longitude: -3.7424024

Row 7320: Address: Calle Villarcayo, 2, Madrid
Latitude: 40.3831192, Longitude: -3.745798

Row 7321: Address: Calle Miguel Soriano, Madrid
Latitude: 40.3918824, Longitude: -3.7142167

Row 7322: Address: Calle de Tucan, 7, Madrid
Latitude: 40.812608, Longitude: -3.7608211

Row 7323: No result found for address: Calle de Pol�n, 2, Madrid

Row 7324: Address: Calle AZCOITIA, 16, Madrid
Latitude: 40.373478, Longitude: -3.754894

Row 7325: No result found for address: Calle Nuestra Se�ora de la Antigua, Madrid, Madrid

Row 7326: Address: Calle de Luis Domingo, 6, Madrid
Latitude: 40.3826613, Longitude: -3.7272533

Row 7327: No result found for address: Camino Viejo de Legan�s, 227 0, Madrid

Row 7328: Address: Calle del General Ricardos, Madrid, 252, Madrid
Latitude: 40.3974886, Longitude: -3.7161854

Row 7329: Address: jabiru, Madrid
Latitude: 40.3868649, Longitude: -3.740518

Row 7330: Address: DE LA OCA, 12, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 7331: No result found for address: Calle del parque de eugenia de montijo, 18, Madrid

Row 7332: No result found for address: Calle de la Telegraf�a s/n, Madrid

Row 7333: Address: Calle Tordo, Madrid
Latitude: 38.54025, Longitude: -0.1344006

Row 7334: Address: Calle Valle de Oro, Madrid
Latitude: 40.4271882, Longitude: -3.8933478

Row 7335: Address: Luis de Oro, Madrid
Latitude: 40.3648267, Longitude: -3.7464666

Row 7336: Address: Calle OCA, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 7337: Address: Calle Codorniz, Madrid
Latitude: 40.3808933, Longitude: -3.7491978

Row 7338: Address: Calle Vitigudino, Madrid
Latitude: 40.3741377, Longitude: -3.7498058

Row 7339: Address: Calle Ana Albi, Madrid
Latitude: 40.3811157, Longitude: -3.7288806

Row 7340: No result found for address: Calle de Arg�eso, Madrid

Row 7341: Address: Calle Conde de Vistahermosa, Madrid
Latitude: 40.3933831, Longitude: -3.7103311

Row 7342: Address: Calle Pedro Campos, Madrid
Latitude: 40.390534, Longitude: -3.7192323

Row 7343: Address: Calle de la Laguna, 18, Madrid
Latitude: 40.3929639, Longitude: -3.7426343

Row 7344: Address: Calle OCA, 103, Madrid
Latitude: 40.3898196, Longitude: -3.7350972

Row 7345: Address: Calle Conde de Vistahermosa, 32, Madrid
Latitude: 40.3939694, Longitude: -3.7117146

Row 7346: No result found for address: Calle de Joaqu�n Turina, Madrid

Row 7347: Address: Calle Tintas, Madrid
Latitude: 40.3887728, Longitude: -3.740765

Row 7348: Address: Avenida DEL MANZANARES, 168, Madrid
Latitude: 40.3955189, Longitude: -3.7080253

Row 7349: Address: Calle de Belmonte de Tajo, 4, Madrid
Latitude: 40.3925476, Longitude: -3.7197688

Row 7350: No result found for address: Plaza Rendici�n de Breda, Madrid

Row 7351: No result found for address: Calle San Pantale�n, Madrid

Row 7352: Address: Calle Eusebio Blasco, Madrid
Latitude: 40.3975238, Longitude: -3.7172795

Row 7353: Address: Calle Eugenia de Montijo, 13, Madrid
Latitude: 40.4274256, Longitude: -3.5281132

Row 7354: No result found for address: Traves�a De Opa�el, Madrid

Row 7355: Address: Calle de Salvador Alonso, 11, Madrid
Latitude: 40.3947726, Longitude: -3.7370792

Row 7356: Address: Avenida de Abrantes, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7357: Address: Calle Conde de Eleta, Madrid
Latitude: 40.3809245, Longitude: -3.7461593

Row 7358: Address: Roa, Madrid
Latitude: 40.3735824, Longitude: -3.7532513

Row 7359: No result found for address: Calle Cabo Nicol�s Mur, 32, Madrid

Row 7360: Address: Paseo castellanos, 9, Madrid
Latitude: 40.3756075, Longitude: -3.7451941

Row 7361: No result found for address: Calle Mar�a Odiaga, Madrid

Row 7362: Address: Calle Guayaba, Madrid
Latitude: 40.3717008, Longitude: -3.7477213

Row 7363: Address: Aguacate, Madrid
Latitude: 40.367713499999994, Longitude: -3.7412317000263973

Row 7364: Address: TINTAS, 12, Madrid
Latitude: 40.3887728, Longitude: -3.740765

Row 7365: No result found for address: MONSE�OR OSCAR ROMERO, Madrid

Row 7366: Address: VISTA ALEGRE, Madrid
Latitude: 40.3877922, Longitude: -3.7396538

Row 7367: Address: Nicolas Morales, 46, Madrid
Latitude: 40.3908276, Longitude: -3.7313476

Row 7368: No result found for address: Avenida de Nuestra Se�ora de F�tima, Madrid

Row 7369: Address: Calle Algaba, Madrid
Latitude: 40.3925811, Longitude: -3.7387615

Row 7370: Error geocoding address 'Calle Francisco Pa�no s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Francisco+Pa%EF%BF%BDno+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7371: Address: Avenida de Manzanares, 168, Madrid
Latitude: 40.2330674, Longitude: -3.9770949

Row 7372: Address: Calle del Aguacate, 40, Madrid
Latitude: 40.3681122, Longitude: -3.7417559

Row 7373: No result found for address: Calle de V�ctor Manuel III s/n, Madrid

Row 7374: No result found for address: Calle Tom�s Meabe, Madrid

Row 7375: Address: Calle de Aceuchal, Madrid
Latitude: 40.3905901, Longitude: -3.7377913

Row 7376: No result found for address: Avenida de la Emperatriz Isabel, Madrid

Row 7377: Address: general ricardos, 31, Madrid
Latitude: 40.39587, Longitude: -3.7186890432321196

Row 7378: Address: Calle Marina Lavandeira, Madrid
Latitude: 40.3871818, Longitude: -3.7418862

Row 7379: Address: Paseo de San Illan, Madrid
Latitude: 40.4018145, Longitude: -3.7243721

Row 7380: No result found for address: Camino Viejo de Legan�s, 229, Madrid

Row 7381: No result found for address: Calle salda�a, Madrid

Row 7382: Address: Calle Teniente Ochoa Olalla, 7, Madrid
Latitude: 40.3958231, Longitude: -3.7331641

Row 7383: Address: Calle Dobla, 13, Madrid
Latitude: 40.3722437, Longitude: -3.7401764

Row 7384: Address: halcon, 29, Madrid
Latitude: 40.3888817, Longitude: -3.7426901

Row 7385: Address: General Ricardos, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7386: No result found for address: Urb. JUNTO AL METRO SAN FRANCISCO, Madrid

Row 7387: No result found for address: Calle Cabo Nicol�s Mur, 60, Madrid

Row 7388: Address: Aliseda, Madrid
Latitude: 40.3760265, Longitude: -3.7421127

Row 7389: Address: Calle Besolla s/n, Madrid
Latitude: 40.3751701, Longitude: -3.7333647

Row 7390: Address: Joaquin Turina, 32, Madrid
Latitude: 40.3725818, Longitude: -3.7528983

Row 7391: No result found for address: CalleJuan Jos� Bautista, 30, Madrid

Row 7392: Address: Paseo Castellanos, Madrid
Latitude: 40.3756075, Longitude: -3.7451941

Row 7393: Error geocoding address 'Avenida Mar�a Domingo s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Avenida+Mar%EF%BF%BDa+Domingo+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7394: Address: AV OPORTO, 29, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7395: Address: Calle de Urgel, Madrid
Latitude: 40.3931071, Longitude: -3.7260124

Row 7396: Address: ALONDRA, Madrid
Latitude: 40.3873306, Longitude: -3.7350202

Row 7397: No result found for address: Calle Soldado Jos� Mar�a Rey, 22, Madrid

Row 7398: Address: Morenes Arteaga, Madrid
Latitude: 40.3906986, Longitude: -3.7224677

Row 7399: Address: Calle Albares de la Ribera, Madrid
Latitude: 40.3743558, Longitude: -3.7410665

Row 7400: Address: Calle Alondra, Madrid
Latitude: 40.3873306, Longitude: -3.7350202

Row 7401: Address: GENERAL RICARDOS, 30, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7402: Address: Calle General Ricardos, 30, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7403: Address: Calle Carpio y Torta, Madrid
Latitude: 40.3644292, Longitude: -3.7547279

Row 7404: Address: Calle Villarcayo , 5, Madrid
Latitude: 40.3831192, Longitude: -3.745798

Row 7405: No result found for address: Calle Enrique de Oro & Av. del Euro s/n, Madrid

Row 7406: No result found for address: Calle Blas�n , 4, Madrid

Row 7407: No result found for address: Calle San Antol�n, Madrid

Row 7408: Address: Calle Urogallo, 23, Madrid
Latitude: 40.3890208, Longitude: -3.7228477

Row 7409: No result found for address: Urb. vigilancia 24h, Madrid

Row 7410: No result found for address: Calle de Pe�afiel, Madrid

Row 7411: No result found for address: Calle del Arroyo Opa�el, Madrid

Row 7412: Address: PIEDRAHITA, Madrid
Latitude: 40.3770675, Longitude: -3.7412469

Row 7413: Address: Plaza Conde Benavente, Madrid
Latitude: 40.3780458, Longitude: -3.7328536

Row 7414: Address: Calle Baleares, Madrid
Latitude: 40.3935729, Longitude: -3.7131164

Row 7415: Address: Plaza Vulcano, 1, Madrid
Latitude: 40.3776835, Longitude: -3.7325788

Row 7416: Address: Avenida de la Peseta, 92, Madrid
Latitude: 40.3627577, Longitude: -3.7481199

Row 7417: No result found for address: Urb. FRENTE A MADRID R�O Y C.C PLAZA RIO 2, CERCA DEL METRO, Madrid

Row 7418: Address: Calle Peso Hispano, Madrid
Latitude: 40.367035, Longitude: -3.7448806

Row 7419: No result found for address: Calle Blas�n, 23 -17, Madrid

Row 7420: Address: Calle de Carcastillo, 23, Madrid
Latitude: 40.3779432, Longitude: -3.7351837421649563

Row 7421: Address: GUABAIRO, Madrid
Latitude: 40.3858259, Longitude: -3.7458482

Row 7422: Address: Avenida de la Peseta, 42, Madrid
Latitude: 40.3627577, Longitude: -3.7481199

Row 7423: No result found for address: Calle del Marqu�s de Jura Real, 21, Madrid

Row 7424: Address: COOPERACION, Madrid
Latitude: 40.3891375, Longitude: -3.7266951

Row 7425: Address: Calle del Toboso, 108 -116, Madrid
Latitude: 40.3926858, Longitude: -3.7257475

Row 7426: Address: GENERAL RICARDOS, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7427: Address: Calle Hermanos del Moral, 46, Madrid
Latitude: 40.3945948, Longitude: -3.7213297

Row 7428: Address: JOAQUIN TURINA, Madrid
Latitude: 40.3725818, Longitude: -3.7528983

Row 7429: No result found for address: Calle Tuc�n, Madrid

Row 7430: Address: Calle Benito Prieto, 12, Madrid
Latitude: 40.3863069, Longitude: -3.7225506

Row 7431: Address: Calle Castro de Oro, 15, Madrid
Latitude: 40.388778, Longitude: -3.7289458

Row 7432: Address: Calle Algorta, 21, Madrid
Latitude: 40.392137, Longitude: -3.7304309

Row 7433: No result found for address: Calle Marquesa de Arg�eso, Madrid, Madrid

Row 7434: No result found for address: Calle de Antonio Rodr�guez, Madrid

Row 7435: Address: Avenida de los Poblados, 133, Madrid
Latitude: 40.3919879, Longitude: -3.7692644

Row 7436: Address: Paseo Quince de Mayo, Madrid
Latitude: 40.4008245, Longitude: -3.724735

Row 7437: Address: Calle Hacienda, Madrid
Latitude: 40.3995738, Longitude: -3.6310173

Row 7438: Address: General ricardos, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7439: Address: Calle Parra, Madrid
Latitude: 40.3870708, Longitude: -3.7310965

Row 7440: Address: Calle de Jacinto Verdaguer, Madrid, Madrid
Latitude: 40.3955225, Longitude: -3.7175428

Row 7441: Address: Calle Condes de Barcelona, Madrid, Madrid
Latitude: 40.395286, Longitude: -3.7148029

Row 7442: Address: Calle Francisco de Icaza, Madrid, Madrid
Latitude: 40.385503, Longitude: -3.7273272

Row 7443: Address: Calle Pajarera Real, Madrid
Latitude: 40.3817735, Longitude: -3.7408589

Row 7444: Address: Calle gorrion, Madrid
Latitude: 40.3960197, Longitude: -3.7277001

Row 7445: No result found for address: Plaza Rendici�n de Breda, 5, Madrid

Row 7446: Address: Calle Carranque, Madrid
Latitude: 40.3744951, Longitude: -3.7276288

Row 7447: Address: Calle hermandad, Madrid
Latitude: 40.3551004, Longitude: -3.69996

Row 7448: Address: Calle Marina Lavandeira, 19, Madrid
Latitude: 40.3871818, Longitude: -3.7418862

Row 7449: No result found for address: Calle Juan Jos� Bautista, Madrid, 30, Madrid

Row 7450: Address: Calle CARCASTILLO, Madrid
Latitude: 40.3789708, Longitude: -3.7336852

Row 7451: Address: Calle de los Platillos, 5, Madrid
Latitude: 40.3720593, Longitude: -3.7684942

Row 7452: Address: Calle Armengot, 8, Madrid
Latitude: 40.396998800000006, Longitude: -3.71872653554445

Row 7453: No result found for address: Calle de Salda�a, 25, Madrid

Row 7454: Address: Calle Pacorro, 5, Madrid
Latitude: 40.3895228, Longitude: -3.7322521

Row 7455: Address: Calle Witerico, 21, Madrid
Latitude: 40.3772401, Longitude: -3.7404667

Row 7456: No result found for address: Calle Sallaberry, 3, Madrid

Row 7457: Address: Calle Hermanos del Moral, 56, Madrid
Latitude: 40.3945948, Longitude: -3.7213297

Row 7458: Address: Calle Francisco de Icaza, 1, Madrid
Latitude: 40.38572345, Longitude: -3.726775791994805

Row 7459: Address: Calle Cambrijas, 9, Madrid
Latitude: 40.3678304, Longitude: -3.7618123

Row 7460: Address: Calle de los Morales, 29 -35, Madrid
Latitude: 40.3621009, Longitude: -3.7561193

Row 7461: Address: Calle Los Morales, 33, Madrid
Latitude: 40.3621009, Longitude: -3.7561193

Row 7462: Address: Calle de los Morales, 33, Madrid
Latitude: 40.3621009, Longitude: -3.7561193

Row 7463: Address: Calle Mascaraque, 10, Madrid
Latitude: 40.3742747, Longitude: -3.757927

Row 7464: No result found for address: Calle Mar�a Lej�rraga, 10, Madrid

Row 7465: Address: Calle Zarzamora, 3, Madrid
Latitude: 40.373710450000004, Longitude: -3.7468801607974838

Row 7466: No result found for address: Plaza �gueda diez, 5, Madrid

Row 7467: Address: Calle Florencio Sanz, 15, Madrid
Latitude: 40.388002, Longitude: -3.7415334

Row 7468: Address: Avenida del Euro, 23, Madrid
Latitude: 40.36487165, Longitude: -3.745491631041708

Row 7469: Address: Calle Chirivita, 18, Madrid
Latitude: 40.3737766, Longitude: -3.7453255

Row 7470: Address: Calle Alfredo Aleix, 4, Madrid
Latitude: 40.3683989, Longitude: -3.7559212

Row 7471: Address: Calle Campanas, 10, Madrid
Latitude: 40.3736476, Longitude: -3.7695274

Row 7472: No result found for address: Calle de Belzunegui, 66 calle, Madrid

Row 7473: No result found for address: Calle de la Telegraf�a, Madrid

Row 7474: Address: Plaza Aguador, 6, Madrid
Latitude: 40.3771307, Longitude: -3.7342335

Row 7475: Address: Avenida del Euro, Madrid
Latitude: 40.3666383, Longitude: -3.7431357

Row 7476: Address: Via Lusitana, 14, Madrid
Latitude: 40.3807119, Longitude: -3.7252657

Row 7477: No result found for address: Calle de Salda�a, Madrid

Row 7478: Address: Calle Cambrijas, 5, Madrid
Latitude: 40.3678304, Longitude: -3.7618123

Row 7479: Address: Calle Federico Grases, Madrid
Latitude: 40.3765202, Longitude: -3.7454935

Row 7480: No result found for address: Calle de �lvarez Abell�n, 23, Madrid

Row 7481: Address: Calle del Espinar, Madrid
Latitude: 40.3867454, Longitude: -3.7448117

Row 7482: Address: Ronda Don Bosco, 18, Madrid
Latitude: 40.3752557, Longitude: -3.7530532

Row 7483: Address: Calle Ontanilla, 28, Madrid
Latitude: 40.3750704, Longitude: -3.729857

Row 7484: No result found for address: Calle Jos� Garrido, Madrid

Row 7485: No result found for address: Pasaje ESPA�OL, Madrid

Row 7486: Address: Calle Alcatraz, 3, Madrid
Latitude: 19.3320524, Longitude: -98.9753929

Row 7487: Address: Calle Falcinelo, 39, Madrid
Latitude: 40.3825123, Longitude: -3.7324419

Row 7488: Address: vista bella, Madrid
Latitude: 40.3911536, Longitude: -3.7394581

Row 7489: No result found for address: Calle NUESTRA SE�ORA DE FATIMA, Madrid

Row 7490: Address: Calle JACOBINIA, Madrid
Latitude: 40.377113, Longitude: -3.7496873

Row 7491: Address: Calle de el Toboso, Madrid
Latitude: 40.3928917, Longitude: -3.7298818

Row 7492: No result found for address: Calle Tom�s Meabe, Madrid, Madrid

Row 7493: Address: Calle de la Oca, 79, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 7494: Address: La Oca, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 7495: No result found for address: Avenida de Nuestra Se�ora de F�tima, Madrid, Madrid

Row 7496: Address: NAVALMORALES, Madrid
Latitude: 40.3730485, Longitude: -3.7590492

Row 7497: Address: Calle Sous de Plata, 53, Madrid
Latitude: 40.3662237, Longitude: -3.7445918

Row 7498: No result found for address: sallaberry, 3, Madrid

Row 7499: Address: San Sinesio, 2, Madrid
Latitude: 40.3879204, Longitude: -3.7423422

Row 7500: Address: Calle de los Morales, 10, Madrid
Latitude: 40.3621009, Longitude: -3.7561193

Row 7501: Address: Via lusitana, 132, Madrid
Latitude: 40.3742554, Longitude: -3.735493892735038

Row 7502: Address: Calle de la Gaviota, Madrid
Latitude: 40.3886364, Longitude: -3.7362468

Row 7503: Address: Calle de Eugenia de Montijo, 19, Madrid
Latitude: 40.3802045, Longitude: -3.745921

Row 7504: Address: Calle Carlos Heredero, Madrid
Latitude: 40.3815088, Longitude: -3.7323587

Row 7505: Address: Alto Av. Carabanchel, Madrid
Latitude: 40.3616995, Longitude: -3.753821

Row 7506: Address: Calle Francisco Puertas, 4, Madrid
Latitude: 40.394296, Longitude: -3.7391512

Row 7507: Address: Calle Clemente Alonso, Madrid
Latitude: 40.3855718, Longitude: -3.7414699

Row 7508: Address: pinar de san jose, 8, Madrid
Latitude: 40.3476268, Longitude: -3.8047781

Row 7509: Address: Calle de Urgel, 38, Madrid
Latitude: 40.3931071, Longitude: -3.7260124

Row 7510: Address: Antonio Moreno, Madrid
Latitude: 40.3847942, Longitude: -3.7272919

Row 7511: Address: Valle de Oro, Madrid
Latitude: 40.3884546, Longitude: -3.7313101

Row 7512: No result found for address: Calle Mar�a Odiaga, 13, Madrid

Row 7513: Address: Calle Pablo Montesinos, Madrid
Latitude: 40.398148, Longitude: -3.7174862

Row 7514: Address: Calle Paraguaya, Madrid
Latitude: 40.375311, Longitude: -3.7539895

Row 7515: Address: Camino de las Cruces, Madrid
Latitude: 40.3725794, Longitude: -3.7574677

Row 7516: No result found for address: Calle de Antonio L�pez, 43, Madrid

Row 7517: Address: vistabella, 1, Madrid
Latitude: 40.4651454, Longitude: -3.7071272

Row 7518: Address: Calle Clara Campoamor, Madrid
Latitude: 40.663351, Longitude: -3.7816507

Row 7519: Address: Plaza Vulcano, Madrid
Latitude: 40.3769087, Longitude: -3.7336066

Row 7520: Address: Calle Campanas, Madrid, Madrid
Latitude: 40.3736476, Longitude: -3.7695274

Row 7521: No result found for address: Camino Viejo de Legan�s, 227, Madrid

Row 7522: Address: Avenida de Pedro Diez, 4, Madrid
Latitude: 40.3908431, Longitude: -3.7295333

Row 7523: Address: Calle Zarzuela, Madrid
Latitude: 40.3709134, Longitude: -3.7483419

Row 7524: Address: Calle Vista Bella s/n, Madrid
Latitude: 40.5971375, Longitude: -4.1364291

Row 7525: Address: Carcastillo, Madrid
Latitude: 40.377743, Longitude: -3.7376847

Row 7526: Address: Plaza de la Parroquia, Madrid
Latitude: 40.3800516, Longitude: -3.7414121836368155

Row 7527: No result found for address: Nuestra Se�ora de F�tima, Madrid

Row 7528: Error geocoding address 'Plaza DE VALLE DE ORO, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Plaza+DE+VALLE+DE+ORO%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7529: Address: Plaza Meninas, 4, Madrid
Latitude: 40.3770348, Longitude: -3.7307403

Row 7530: Address: Calle Pedro Campos, 4 B, Madrid
Latitude: 40.390534, Longitude: -3.7192323

Row 7531: Address: federico grases, 41, Madrid
Latitude: 40.3765202, Longitude: -3.7454935

Row 7532: Address: Calle de la Gaviota, 21, Madrid
Latitude: 40.3886364, Longitude: -3.7362468

Row 7533: No result found for address: Calle Alcaud�n, Madrid

Row 7534: Address: Calle Alzina, 6, Madrid
Latitude: 40.3683572, Longitude: -3.7561473

Row 7535: No result found for address: Camino Viejo de Legan�s, 142, Madrid

Row 7536: Address: Calle Salvador del Mundo, 7, Madrid
Latitude: 40.3797683, Longitude: -3.7480269

Row 7537: No result found for address: Calle Pinar de San Jos�, 24, Madrid

Row 7538: Address: Calle Castro de Oro, 14, Madrid
Latitude: 40.388778, Longitude: -3.7289458

Row 7539: Address: Calle de Alejandro Sanchez, 100 -A, Madrid
Latitude: 40.3912182, Longitude: -3.7272684

Row 7540: Address: Calle Urogallo, Madrid, Madrid
Latitude: 40.3901175, Longitude: -3.7226198

Row 7541: Address: Calle Alcatraz, 19, Madrid
Latitude: 19.3320524, Longitude: -98.9753929

Row 7542: Address: Calle del Aguacate, Madrid, Madrid
Latitude: 40.3681122, Longitude: -3.7417559

Row 7543: Address: Calle Guayaba, 37, Madrid
Latitude: 40.3717008, Longitude: -3.7477213

Row 7544: Address: Calle Witerico, 17, Madrid
Latitude: 40.3772401, Longitude: -3.7404667

Row 7545: Address: Avenida del Euro, 14, Madrid
Latitude: 40.3666383, Longitude: -3.7431357

Row 7546: Address: Calle Brihuega, 16, Madrid
Latitude: 40.3942702, Longitude: -3.7350775

Row 7547: Address: Calle de Antonio de Leyva, 6, Madrid
Latitude: 40.3861197, Longitude: -3.7172442

Row 7548: No result found for address: Calle de Joaqu�n Turina, 20, Madrid

Row 7549: Address: Calle Comandante Fontanes, Madrid
Latitude: 40.3952653, Longitude: -3.7243843

Row 7550: Address: Calle de Zaida, 46, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7551: Address: Calle Conde de Vistahermosa, 12, Madrid
Latitude: 40.3945465, Longitude: -3.7129223

Row 7552: No result found for address: OPA�EL, Madrid

Row 7553: Address: Calle Federico Grases, 60, Madrid
Latitude: 40.3765202, Longitude: -3.7454935

Row 7554: Address: Calle de Juanita, Madrid
Latitude: 40.3844789, Longitude: -3.7465358

Row 7555: No result found for address: Calle de Avefr�a, Madrid

Row 7556: Address: Calle Antonio Romero, 6, Madrid
Latitude: 40.3744439, Longitude: -3.7304218

Row 7557: Error geocoding address 'Calle R�o de Oro, 3, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+R%EF%BF%BDo+de+Oro%2C+3%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7558: Error geocoding address 'Calle Jos� del R�o, 45, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Jos%EF%BF%BD+del+R%EF%BF%BDo%2C+45%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7559: Address: Calle de la Hermandad, 6, Madrid
Latitude: 40.3828331, Longitude: -3.7280204

Row 7560: Address: Calle de Zaida, 13, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7561: Address: Calle Fernando Mora, 4, Madrid
Latitude: 40.3952638, Longitude: -3.7369162

Row 7562: Address: Calle Teniente Ochoa Olalla, 2, Madrid
Latitude: 40.3958231, Longitude: -3.7331641

Row 7563: Address: Calle Clarinetes, 1, Madrid
Latitude: 40.3728552, Longitude: -3.7644461

Row 7564: Address: Avenida de Abrantes, 54, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7565: No result found for address: Calle Tom�s Meabe, 13, Madrid

Row 7566: Address: Calle Hermandad, 3, Madrid
Latitude: 40.3548451, Longitude: -3.6995041

Row 7567: No result found for address: Calle Rufino Rej�n, 1, Madrid

Row 7568: Address: Calle Catedral de Cuenca, 2, Madrid
Latitude: 40.3713833, Longitude: -3.7623266

Row 7569: No result found for address: Calle San Melit�n, 17, Madrid

Row 7570: No result found for address: Calle Vicenta Jim�nez, 1, Madrid

Row 7571: Address: Calle de Albox, 33, Madrid
Latitude: 40.3735193, Longitude: -3.7421497

Row 7572: Address: Calle Antolina Merino, 7, Madrid
Latitude: 40.3859855, Longitude: -3.7434909

Row 7573: Address: Paseo del Quince de Mayo, 15, Madrid
Latitude: 40.39777, Longitude: -3.71855

Row 7574: Address: Avenida del Manzanares, 166, Madrid
Latitude: 40.3955804, Longitude: -3.7082471

Row 7575: Address: Calle Avecilla, 4, Madrid
Latitude: 40.3886364, Longitude: -3.7362468

Row 7576: Address: Calle de Zaida, 3, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7577: Address: Calle San Sinesio, 3, Madrid
Latitude: 40.3879204, Longitude: -3.7423422

Row 7578: Address: Avenida Oporto, 31, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7579: Address: Paseo Castellanos, 19, Madrid
Latitude: 40.3756075, Longitude: -3.7451941

Row 7580: Address: Calle de Azcoitia, 2, Madrid
Latitude: 40.3750806, Longitude: -3.7540309

Row 7581: Address: Calle Sorbe, 2, Madrid
Latitude: 40.3900763, Longitude: -3.7156708

Row 7582: Address: Calle de Zaida, 59, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7583: Address: Calle Eduardo Rivas, 5, Madrid
Latitude: 40.3908265, Longitude: -3.7146477

Row 7584: Address: Avenida Abrantes, 155, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7585: Address: Avenida del Euro, 68, Madrid
Latitude: 40.3666383, Longitude: -3.7431357

Row 7586: Address: Calle Cintra, 16 y 18, Madrid
Latitude: 40.384622, Longitude: -3.7246073

Row 7587: Address: Calle Cintra, 13, Madrid
Latitude: 40.384622, Longitude: -3.7246073

Row 7588: Address: Camino de las Cruces, 13, Madrid
Latitude: 40.3760911, Longitude: -3.753725

Row 7589: Address: Calle del Espinar, 24 N, Madrid
Latitude: 40.3867454, Longitude: -3.7448117

Row 7590: Address: Calle Alcatraz, 6, Madrid
Latitude: 19.3320524, Longitude: -98.9753929

Row 7591: No result found for address: Calle Alejandro S�nchez, 100 b, Madrid

Row 7592: Address: Calle del chimbo, 4, Madrid
Latitude: 40.3823125, Longitude: -3.7281695

Row 7593: No result found for address: Calle Bin�far, 3, Madrid

Row 7594: Address: Avenida de Oporto, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7595: Address: Avenida Carabanchel Alto, 78, Madrid
Latitude: 40.3616995, Longitude: -3.753821

Row 7596: Address: Calle de Witiza, 15, Madrid
Latitude: 40.3958663, Longitude: -3.729644

Row 7597: Address: Calle Mascaraque, 40, Madrid
Latitude: 40.3742747, Longitude: -3.757927

Row 7598: Address: Calle Dolores Armengot, 30, Madrid
Latitude: 40.3855669, Longitude: -3.7424024

Row 7599: Address: Calle Juana Urosa, 13, Madrid
Latitude: 40.3848206, Longitude: -3.7442126

Row 7600: Address: Calle de Emilia, 5, Madrid
Latitude: 40.3466402, Longitude: -3.7130386

Row 7601: Address: Calle del Mochuelo, 10, Madrid
Latitude: 40.3957877, Longitude: -3.7367309

Row 7602: No result found for address: Plaza de Co�mbra, 3, Madrid

Row 7603: Address: Calle Casuario, 1, Madrid
Latitude: 40.3866127, Longitude: -3.7415313

Row 7604: Address: Avenida del Manzanares, 76, Madrid
Latitude: 40.3884483, Longitude: -3.698381330738087

Row 7605: Address: Calle de Jacinto Verdaguer, 34, Madrid
Latitude: 40.39548625, Longitude: -3.7185663427579083

Row 7606: Address: Avenida de Oporto, 65, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7607: Address: Avenida de los Poblados, 137, Madrid
Latitude: 40.3919879, Longitude: -3.7692644

Row 7608: Address: Calle Guacamayo, 2, Madrid
Latitude: 40.3902055, Longitude: -3.7396537

Row 7609: Address: Calle del Chimbo, 24, Madrid
Latitude: 40.3823125, Longitude: -3.7281695

Row 7610: Address: Calle Paulina Odiaga, 7, Madrid
Latitude: 40.3941446, Longitude: -3.7249935

Row 7611: Address: Calle Witerico, 13, Madrid
Latitude: 40.3772401, Longitude: -3.7404667

Row 7612: Address: Calle del Aguacate, 26, Madrid
Latitude: 40.3681122, Longitude: -3.7417559

Row 7613: No result found for address: Calle San Delf�n, 6, Madrid

Row 7614: No result found for address: Paseo de Santa Mar�a de la Cabeza, 118, Madrid

Row 7615: No result found for address: Plaza Rendici�n de Breda, 10, Madrid

Row 7616: Address: Calle Flautas, 48, Madrid
Latitude: 40.3730686, Longitude: -3.7709541

Row 7617: No result found for address: Calle San Antol�n, 4, Madrid

Row 7618: No result found for address: Calle de Aguilar del R�o, 2, Madrid

Row 7619: Address: Calle de Saturnino Tejera, 17, Madrid
Latitude: 40.3829268, Longitude: -3.745122

Row 7620: Address: Calle Alondra, 52, Madrid
Latitude: 40.388039, Longitude: -3.7400571

Row 7621: No result found for address: Camino Viejo de Legan�s, 144, Madrid

Row 7622: Address: Calle de Salvador Alonso, 12, Madrid
Latitude: 40.3947726, Longitude: -3.7370792

Row 7623: Address: Calle Antonio Romero, 7 9, Madrid
Latitude: 40.3744439, Longitude: -3.7304218

Row 7624: Address: Calle de la Oca, 10 H, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 7625: Address: Calle de Matilde Hernandez, 25, Madrid
Latitude: 40.385302, Longitude: -3.7388411

Row 7626: Address: Calle Clemente Alonso, 8, Madrid
Latitude: 40.3855718, Longitude: -3.7414699

Row 7627: Address: Calle Morales, 10, Madrid
Latitude: 40.4633485, Longitude: -3.680809282063075

Row 7628: Address: Calle Piedrahita, 25, Madrid
Latitude: 40.3770675, Longitude: -3.7412469

Row 7629: Address: Calle peso hispano, 6, Madrid
Latitude: 40.36701845, Longitude: -3.7437846764791383

Row 7630: Address: Calle de Eugenia de Montijo, 55, Madrid
Latitude: 40.3802045, Longitude: -3.745921

Row 7631: Address: Plaza Meninas, 6, Madrid
Latitude: 40.3770348, Longitude: -3.7307403

Row 7632: No result found for address: Calle Euro, 23, Madrid

Row 7633: Address: Urb. 42556-0001, Madrid
Latitude: 40.6172691, Longitude: -4.0054113326017635

Row 7634: No result found for address: Calle de Matilde Hern�ndez, 55, Madrid

Row 7635: No result found for address: Calle del Pinz�n, 17, Madrid

Row 7636: Address: Calle del General Ricardos, 252, Madrid
Latitude: 40.38334555, Longitude: -3.7422687227220433

Row 7637: Address: Calle de los Mineros, 8, Madrid
Latitude: 40.3828331, Longitude: -3.7280204

Row 7638: No result found for address: Calle Doctor Zof�o, 5, Madrid

Row 7639: Address: Calle de Eugenia de Montijo, 33, Madrid
Latitude: 40.3802045, Longitude: -3.745921

Row 7640: Address: Calle San Emeterio, Madrid
Latitude: 40.3869939, Longitude: -3.7414154

Row 7641: No result found for address: Avenida de la Emperatriz Isabel, 3, Madrid

Row 7642: Address: Calle de Zaida, 57, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7643: No result found for address: Traves�a pinz�n, 4, Madrid

Row 7644: Address: Avenida de Abrantes, 64, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7645: Address: Avenida de Abrantes, 93, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7646: Address: Calle de Alejandro Sanchez, 63, Madrid
Latitude: 40.3912182, Longitude: -3.7272684

Row 7647: Error geocoding address 'Virgen de Bel�n, 8, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Virgen+de+Bel%EF%BF%BDn%2C+8%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7648: Address: Calle Dolores Armengot, 27, Madrid
Latitude: 40.3855669, Longitude: -3.7424024

Row 7649: Address: Calle Ramon Serrano, 45, Madrid
Latitude: 40.3841208, Longitude: -3.7444985

Row 7650: Address: Calle Castro de Oro, 57, Madrid
Latitude: 40.388778, Longitude: -3.7289458

Row 7651: No result found for address: Camino Viejo de Legan�s, 91, Madrid

Row 7652: Address: Calle Parador del Sol, 17, Madrid
Latitude: 40.3925976, Longitude: -3.7100791

Row 7653: No result found for address: Calle Blas�n, 14, Madrid

Row 7654: Address: Avenida de Oporto, 66, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7655: Address: Calle de Eugenia de Montijo, 82, Madrid
Latitude: 40.37880655, Longitude: -3.7480138

Row 7656: No result found for address: Avenida Nuestra Se�ora de F�tima, 9, Madrid

Row 7657: Address: Avenida de Abrantes, 95, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7658: No result found for address: Calle de Aguilar del R�o, 9, Madrid

Row 7659: Address: Via Carpetana, 139, Madrid
Latitude: 40.4040809, Longitude: -3.7272471

Row 7660: Address: Calle Falcinelo, 35, Madrid
Latitude: 40.3825123, Longitude: -3.7324419

Row 7661: Address: Calle San David, 10, Madrid
Latitude: 40.7168218, Longitude: -3.9365577

Row 7662: Address: Calle General Ricardos, 31, Madrid
Latitude: 40.39587, Longitude: -3.7186890432321196

Row 7663: Address: Calle Tordesillas, 1, Madrid
Latitude: 40.3664124, Longitude: -3.7597695

Row 7664: Address: Calle Guacamayo, 3, Madrid
Latitude: 40.3902055, Longitude: -3.7396537

Row 7665: Address: Calle General Ricardos, 132, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7666: No result found for address: Calle Luis G�mez, 3, Madrid

Row 7667: Address: Calle Algorta, 31, Madrid
Latitude: 40.392137, Longitude: -3.7304309

Row 7668: Address: Calle Vencejo, 7, Madrid
Latitude: 40.3872197, Longitude: -3.7428278

Row 7669: Address: Calle Zarco Hermanos, 1, Madrid
Latitude: 40.3924416, Longitude: -3.7189952

Row 7670: Error geocoding address 'Calle de Nuestra Se�ora de la Luz, 44, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Nuestra+Se%EF%BF%BDora+de+la+Luz%2C+44%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7671: Address: Calle Redentor, 15, Madrid
Latitude: 40.3723764, Longitude: -3.7556642

Row 7672: Address: Avenida Oporto, 22, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7673: Address: Avenida de Abrantes, 120, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7674: Address: Calle Condesa de Teba, Madrid
Latitude: 40.3736036, Longitude: -3.7588873

Row 7675: No result found for address: Camino Viejo de Legan�s, 181, Madrid

Row 7676: Address: Calle de Eugenia de Montijo, 87, Madrid
Latitude: 40.3752203, Longitude: -3.7507094

Row 7677: Address: Plaza Parroquia, 18, Madrid
Latitude: 40.322747750000005, Longitude: -3.65698550600706

Row 7678: No result found for address: Camino Viejo de Legan�s, 181 B, Madrid

Row 7679: Address: Calle Guitarra, 10, Madrid
Latitude: 40.3717113, Longitude: -3.7528332

Row 7680: No result found for address: Calle Sallaberry, 79, Madrid

Row 7681: Address: Calle de Jacinto Verdaguer, 20, Madrid
Latitude: 40.3955225, Longitude: -3.7175428

Row 7682: Error geocoding address 'Calle la pi�a, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+la+pi%EF%BF%BDa%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7683: Address: Calle del Doctor Urquiola, Madrid
Latitude: 40.3877178, Longitude: -3.7443724

Row 7684: Address: Calle Hermandad, Madrid
Latitude: 40.3551004, Longitude: -3.69996

Row 7685: Address: Calle Atletico de Madrid, Madrid
Latitude: 40.3756938, Longitude: -3.7422328

Row 7686: Address: Albares de la Ribera, Madrid
Latitude: 42.6065551, Longitude: -6.349784

Row 7687: Address: guacamayo, Madrid
Latitude: 40.3902055, Longitude: -3.7396537

Row 7688: Address: Juan Alonso, Madrid
Latitude: 40.3869611, Longitude: -3.746737

Row 7689: No result found for address: Calle Atl�tico de Madrid, 15, Madrid

Row 7690: Address: Calle Condesa de Teba, 2, Madrid
Latitude: 40.3736036, Longitude: -3.7588873

Row 7691: Address: Calle Alba de Tormes, 19, Madrid
Latitude: 40.3790304, Longitude: -3.7426453

Row 7692: Address: Calle San Patricio, Madrid
Latitude: 40.3919972, Longitude: -3.7255621

Row 7693: No result found for address: Calle Mar�a Guerrero, Madrid

Row 7694: Address: Pedro Campos, 8, Madrid
Latitude: 40.390534, Longitude: -3.7192323

Row 7695: No result found for address: nuestra se�ora de fatima, Madrid

Row 7696: No result found for address: Calle del Pinz�n, Madrid

Row 7697: No result found for address: Aguilar del R�o, Madrid

Row 7698: Address: Ronda Don Bosco, Madrid, Madrid
Latitude: 40.3756867, Longitude: -3.7521556

Row 7699: Address: Calle del Aguacate, 38, Madrid
Latitude: 40.3681122, Longitude: -3.7417559

Row 7700: Address: Inglaterra, 1, Madrid
Latitude: 40.3951809, Longitude: -3.723039340318907

Row 7701: Address: Calle del Aguacate, Madrid
Latitude: 40.3681122, Longitude: -3.7417559

Row 7702: No result found for address: Calle del Halc�n, 9, Madrid

Row 7703: No result found for address: Calle de Matilde Hern�ndez, 64, Madrid

Row 7704: Address: Calle Alba de Tormes, 30, Madrid
Latitude: 40.3790304, Longitude: -3.7426453

Row 7705: No result found for address: Calle de �lvarez Abell�n s/n, Madrid

Row 7706: No result found for address: Calle de La Solana de Opa�el, 18, Madrid

Row 7707: Address: Calle de Albox, 2, Madrid
Latitude: 40.3735193, Longitude: -3.7421497

Row 7708: Address: Calle de Belmonte de Tajo, 38, Madrid
Latitude: 40.3925476, Longitude: -3.7197688

Row 7709: Address: Calle de Polvoranca, 15, Madrid
Latitude: 40.3728739, Longitude: -3.7537098

Row 7710: Address: Calle las Flautas, 48, Madrid
Latitude: 40.3730686, Longitude: -3.7709541

Row 7711: Address: Calle Pinar de San Jose, 48, Madrid
Latitude: 40.3640278, Longitude: -3.762588

Row 7712: Address: Calle Mercedes Domingo, 2, Madrid
Latitude: 40.3870484, Longitude: -3.7214303

Row 7713: Address: Calle de la Oca, 64, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 7714: No result found for address: Calle Palau de la M�sica, 5, Madrid

Row 7715: Address: Calle Eduardo Morales, 16, Madrid
Latitude: 40.3872187, Longitude: -3.7375764

Row 7716: Address: Calle de las Flautas, 54, Madrid
Latitude: 40.3730686, Longitude: -3.7709541

Row 7717: Address: Calle Trompas, 24, Madrid
Latitude: 40.372184, Longitude: -3.768636

Row 7718: Address: Calle Abolengo, 13, Madrid
Latitude: 40.3891062, Longitude: -3.7362855

Row 7719: Address: Calle Blas�n, 3, Madrid
Latitude: 40.2928607, Longitude: -3.742234

Row 7720: Address: Paulina Odiaga, 41, Madrid
Latitude: 40.3941446, Longitude: -3.7249935

Row 7721: Address: Avenida de Abrantes, 19, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7722: Address: Calle Belmonte de Tajo, 44, Madrid
Latitude: 40.3925476, Longitude: -3.7197688

Row 7723: No result found for address: del postal, Madrid

Row 7724: Address: Calle del Chimbo, 15, Madrid
Latitude: 40.3823125, Longitude: -3.7281695

Row 7725: Address: Calle de zaida, 13, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7726: Address: Calle valle de oro, 25, Madrid
Latitude: 40.4271882, Longitude: -3.8933478

Row 7727: Address: chimbo, Madrid
Latitude: 40.3823125, Longitude: -3.7281695

Row 7728: Address: RODRIGUEZ VEGA, Madrid
Latitude: 40.3847942, Longitude: -3.7272919

Row 7729: Address: Calle Julio Antonio s/n, Madrid
Latitude: 40.3830951, Longitude: -3.7317284

Row 7730: No result found for address: Esteban Arteaga-antonio l�pez s/n, Madrid

Row 7731: Address: Calle Jacobinia, Madrid
Latitude: 40.377113, Longitude: -3.7496873

Row 7732: No result found for address: Calle de V�ctor Manuel III, Madrid

Row 7733: Address: aguilar del rio, Madrid
Latitude: 40.3702745, Longitude: -3.7595756

Row 7734: No result found for address: Calle de Aguilar del R�o, Madrid

Row 7735: Address: Via Carpetana, 147, Madrid
Latitude: 40.4040809, Longitude: -3.7272471

Row 7736: Address: Calle Maria Odiaga, 13, Madrid
Latitude: 40.3747476, Longitude: -3.7446399

Row 7737: Address: Calle de Belzunegui, 11, Madrid
Latitude: 40.3759225, Longitude: -3.7390858

Row 7738: No result found for address: Calle Pinar de San Jos�, 60, Madrid

Row 7739: Address: Avenida del Manzanares, 148, Madrid
Latitude: 40.396158, Longitude: -3.7101258

Row 7740: Address: Calle urgel, 21, Madrid
Latitude: 40.467475, Longitude: -3.6542237

Row 7741: Address: Calle del Real Madrid, 33, Madrid
Latitude: 40.3758554, Longitude: -3.7409099

Row 7742: No result found for address: Calle Palau de la M�sica, 6, Madrid

Row 7743: Address: Calle Alba de Tormes, 43, Madrid
Latitude: 40.3790304, Longitude: -3.7426453

Row 7744: Address: Via Lusitana, 6, Madrid
Latitude: 40.3807119, Longitude: -3.7252657

Row 7745: Address: Calle Allariz, 8, Madrid
Latitude: 40.3675315, Longitude: -3.7549299

Row 7746: Address: Calle de los Morales, 29 /35, Madrid
Latitude: 40.3621009, Longitude: -3.7561193

Row 7747: Address: Calle de la Forsitia, 6, Madrid
Latitude: 40.3636445, Longitude: -3.7551873

Row 7748: Address: Calle Cuevas de Altamira, 29, Madrid
Latitude: 40.3612522, Longitude: -3.7598499

Row 7749: Address: Avenida Carabanchel Alto, 110, Madrid
Latitude: 40.3616995, Longitude: -3.753821

Row 7750: No result found for address: Calle Francol�n, 6 n, Madrid

Row 7751: No result found for address: Calle Carolina Pa�no, 47, Madrid

Row 7752: No result found for address: Calle de Joaqu�n Turina, 38, Madrid

Row 7753: No result found for address: Calle Alcaud�n, 64, Madrid

Row 7754: Address: Calle Flautas, Madrid
Latitude: 40.3730686, Longitude: -3.7709541

Row 7755: No result found for address: Pasaje de San Clemente, Madrid

Row 7756: Address: Calle Piedrahita, 16, Madrid
Latitude: 40.63653495, Longitude: -4.001617879116215

Row 7757: Address: Calle EDUARDO RIVAS, Madrid
Latitude: 40.3904907, Longitude: -3.7137801

Row 7758: Address: Calle Enrique Moyano, Madrid
Latitude: 40.3908443, Longitude: -3.7138411

Row 7759: Address: Calle San Emeterio, 2, Madrid
Latitude: 40.3869939, Longitude: -3.7414154

Row 7760: Address: Av. de Abrantes, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7761: Address: Calle de Eugenia de Montijo, 59, Madrid
Latitude: 40.3784421, Longitude: -3.7475414

Row 7762: Address: Urb. Madrid, Madrid
Latitude: 40.6315058, Longitude: -3.9984165088347066

Row 7763: Address: RAMON SAINZ, Madrid
Latitude: 40.3868913, Longitude: -3.7371234

Row 7764: No result found for address: Calle de Antonia Lancha, 17, Madrid

Row 7765: Address: Calle Alcatraz, 4, Madrid
Latitude: 19.3320524, Longitude: -98.9753929

Row 7766: Address: Calle General Ricardos, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7767: No result found for address: Av. de la Plaza de Toros, Madrid, 16, Madrid

Row 7768: Address: Avenida Abrantes, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7769: Address: Avenida del Manzanares, Madrid, 76, Madrid
Latitude: 40.3884483, Longitude: -3.698381330738087

Row 7770: Address: poeta rioja, 2, Madrid
Latitude: 40.3776355, Longitude: -3.7336436999999902

Row 7771: Address: Calle de Luis Domingo, Madrid
Latitude: 40.3826613, Longitude: -3.7272533

Row 7772: No result found for address: Calle del Halc�n, Madrid

Row 7773: Address: RASCON, Madrid
Latitude: 40.3936427, Longitude: -3.7266226

Row 7774: Address: VALLE DEL ORO, Madrid
Latitude: 40.3778523, Longitude: -3.691242

Row 7775: Address: Calle de Arlanza, Madrid
Latitude: 40.5075948, Longitude: -3.686046

Row 7776: Address: Calle Castellflorite, 11, Madrid
Latitude: 40.3937539, Longitude: -3.7394473

Row 7777: No result found for address: Callej�n JUAN RAMON, Madrid

Row 7778: Address: Calle de Antolina Merino, 7 -5, Madrid
Latitude: 40.3859855, Longitude: -3.7434909

Row 7779: Address: Calle San Ambrosio, Madrid
Latitude: 40.4046292, Longitude: -3.7247903

Row 7780: Address: Thader, Madrid
Latitude: 40.3742602, Longitude: -3.7434327

Row 7781: Address: SANTA FLORA, Madrid
Latitude: 40.3873032, Longitude: -3.7182215

Row 7782: No result found for address: Calle nuestra se�ora de la soledad, Madrid

Row 7783: No result found for address: Calle �ngel Ripoll, 2, Madrid

Row 7784: Address: Calle de Eugenia de Montijo, 57, Madrid
Latitude: 40.3792236, Longitude: -3.7468195

Row 7785: Address: Calle Vista Bella, Madrid
Latitude: 40.5971375, Longitude: -4.1364291

Row 7786: Address: Calle Ontanilla, 34, Madrid
Latitude: 40.3750704, Longitude: -3.729857

Row 7787: No result found for address: Calle del Halc�n, 37, Madrid

Row 7788: Address: ZAIDA, 13, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7789: Address: HORNERO, 12, Madrid
Latitude: 40.388163, Longitude: -3.720817

Row 7790: Address: Calle Juan Francisco, Madrid
Latitude: 18.4662844, Longitude: -66.1129224

Row 7791: No result found for address: urgell, 38, Madrid

Row 7792: No result found for address: Calle Ram�n Sainz, Madrid

Row 7793: No result found for address: Calle de V�ctor Manuel III, 17, Madrid

Row 7794: No result found for address: Calle de �lvarez Abell�n, 13 -1, Madrid

Row 7795: Address: castro de oro, Madrid
Latitude: 40.3891511, Longitude: -3.7293357

Row 7796: Address: Calle del General Ricardos, 107, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7797: No result found for address: Calle Sallaberry, 57, Madrid

Row 7798: Address: Calle Vicente Quesada, 7, Madrid
Latitude: 40.3971716, Longitude: -3.7308855

Row 7799: No result found for address: Calle Mar�a Jes�s, 4, Madrid

Row 7800: Address: Calle Castelo Branco, Madrid
Latitude: 40.3815733, Longitude: -3.7267594

Row 7801: No result found for address: Avenida Nuestra Se�ora de F�tima s/n, Madrid

Row 7802: Address: Puerta Bonita, 2, Madrid
Latitude: 40.3813279, Longitude: -3.7397504

Row 7803: Address: Calle Jose Maria Peman, Madrid
Latitude: 40.3960235, Longitude: -3.7358743

Row 7804: Address: Calle de Salvador Allende, 34, Madrid
Latitude: 40.3641893, Longitude: -3.757648

Row 7805: No result found for address: Calle Alejandro S�nchez, Madrid

Row 7806: No result found for address: Plaza Barrag�n, 1, Madrid

Row 7807: Address: ANTONIO GONZALEZ PORRAS, 14, Madrid
Latitude: 40.3905603, Longitude: -3.7173835

Row 7808: No result found for address: Plaza RENDICI�N DE BREDA, Madrid

Row 7809: Address: Av. de Oporto, 85, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7810: No result found for address: Calle de Arroyo de Valdecelada, 18, Madrid

Row 7811: Address: Rufino Rejon, Madrid
Latitude: 40.3681899, Longitude: -3.7600859

Row 7812: Error geocoding address 'Calle Fernando D�az de Mendoza, 20, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Fernando+D%EF%BF%BDaz+de+Mendoza%2C+20%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7813: Address: Calle Antonio Romero, 16, Madrid
Latitude: 40.3744439, Longitude: -3.7304218

Row 7814: Address: Calle de Antonio Leyva, Madrid
Latitude: 40.3861197, Longitude: -3.7172442

Row 7815: Address: conde de vistahermosa, 32, Madrid
Latitude: 40.3939694, Longitude: -3.7117146

Row 7816: Address: Calle Zarzamora, Madrid
Latitude: 40.3729927, Longitude: -3.7468169

Row 7817: Address: Calle de Portalegre, Madrid
Latitude: 40.3840944, Longitude: -3.7239362

Row 7818: Address: Calle de Albentosa, Madrid
Latitude: 40.3929844, Longitude: -3.7401693

Row 7819: Address: Calle ALCATRAZ, Madrid
Latitude: 19.3320524, Longitude: -98.9753929

Row 7820: No result found for address: Calle Ping�ino, Madrid

Row 7821: Address: Avenida Oporto, 69, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7822: Address: ADEMUZ, Madrid
Latitude: 40.3845486, Longitude: -3.7324291

Row 7823: Address: Calle PEDRO CAMPOS, 4, Madrid
Latitude: 40.390534, Longitude: -3.7192323

Row 7824: Address: Calle Piedrahita, Madrid
Latitude: 40.3770675, Longitude: -3.7412469

Row 7825: No result found for address: Calle Antonio Rodr�guez, Madrid

Row 7826: Address: Calle Zarapitos, Madrid
Latitude: 40.3778345, Longitude: -3.7428686

Row 7827: Address: Calle de Sigerico, Madrid
Latitude: 40.3942339, Longitude: -3.7301993

Row 7828: No result found for address: RASC�N, Madrid

Row 7829: No result found for address: Avenida nuestra se�ora de fatima, Madrid

Row 7830: Address: Witerico, Madrid
Latitude: 40.3777886, Longitude: -3.7417878

Row 7831: Address: ZAIDA, Madrid
Latitude: 40.4012723, Longitude: -3.7519053

Row 7832: No result found for address: papagayo, Madrid

Row 7833: Address: Calle de las Trompas, 28, Madrid
Latitude: 40.372184, Longitude: -3.768636

Row 7834: No result found for address: Calle de Alejandro Mor�n, 16, Madrid

Row 7835: Address: Maria Odiaga, Madrid
Latitude: 40.3779053, Longitude: -3.7428905

Row 7836: Address: Federico Grases, 52, Madrid
Latitude: 40.3765202, Longitude: -3.7454935

Row 7837: Address: Recesvinto, 105, Madrid
Latitude: 40.3956777, Longitude: -3.7316074

Row 7838: Address: Calle de las Trompas, 10, Madrid
Latitude: 40.372184, Longitude: -3.768636

Row 7839: Address: Av. Abrantes s/n, Madrid
Latitude: 40.3798681, Longitude: -3.7292083

Row 7840: Error geocoding address 'Calle R�o de Oro, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+R%EF%BF%BDo+de+Oro%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7841: No result found for address: Calle Moren�s Arteaga, 13, Madrid

Row 7842: Address: Avenida del Euro, 68 -86, Madrid
Latitude: 40.3666383, Longitude: -3.7431357

Row 7843: No result found for address: Calle Gabriel G�mez, 12, Madrid

Row 7844: Address: Calle Prado Merinero, 16, Madrid
Latitude: 40.3639903, Longitude: -3.754328

Row 7845: Address: Calle de eduardo marquina, 29, Madrid
Latitude: 40.3925537, Longitude: -3.7106425

Row 7846: Address: Plaza Agueda Diez, 5, Madrid
Latitude: 40.3895269, Longitude: -3.7313613

Row 7847: Address: PARQUE EUGENIA DE MONTIJO, 18, Madrid
Latitude: 40.3802045, Longitude: -3.745921

Row 7848: No result found for address: Calle Juan Jos� Bautista, 30, Madrid

Row 7849: Address: Calle Pedro Campos, 4, Madrid
Latitude: 40.390534, Longitude: -3.7192323

Row 7850: Address: Calle Castrojeriz, Madrid
Latitude: 40.3861175, Longitude: -3.7402567

Row 7851: Address: CLARA CAMPOAMOR, Madrid
Latitude: 40.4270452, Longitude: -3.7105666

Row 7852: Address: Calle LA EPOCA, 26, Madrid
Latitude: 40.378213, Longitude: -3.7456652

Row 7853: Address: Calle Vicente Quesada, Madrid
Latitude: 40.3971716, Longitude: -3.7308855

Row 7854: No result found for address: Calle Blas�n, 23, Madrid

Row 7855: No result found for address: Calle Nuestra Se�ora de la Soledad, Madrid

Row 7856: Address: Calle Alborea, Madrid
Latitude: 40.3742097, Longitude: -3.7401996

Row 7857: Address: PIEDRAHITA, 25, Madrid
Latitude: 40.3770675, Longitude: -3.7412469

Row 7858: Address: clara campoamor, Madrid
Latitude: 40.4270452, Longitude: -3.7105666

Row 7859: No result found for address: Calle Eulalia Pa�no, 12, Madrid

Row 7860: No result found for address: Calle del Gorri�n, Madrid

Row 7861: Address: Calle Patrimonio de la Humanidad, 8, Madrid
Latitude: 40.3609955, Longitude: -3.7586284

Row 7862: No result found for address: Calle juan francisco, 1, Madrid

Row 7863: Address: Calle BENITO PRIETO, 12, Madrid
Latitude: 40.3863069, Longitude: -3.7225506

Row 7864: No result found for address: Camino Viejo de Legan�s, 89, Madrid

Row 7865: Address: Calle de las Trompas, 30, Madrid
Latitude: 40.372184, Longitude: -3.768636

Row 7866: Address: Calle Ademuz, 9, Madrid
Latitude: 40.3845486, Longitude: -3.7324291

Row 7867: Address: Calle General Ricardos, Madrid, 30, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7868: Address: Avenida DE LOS POBLADOS, 133, Madrid
Latitude: 40.3919879, Longitude: -3.7692644

Row 7869: No result found for address: Calle de Mercedes Arteaga, 46, Madrid

Row 7870: Address: zaida, 54, Madrid
Latitude: 40.3899434, Longitude: -3.735142

Row 7871: No result found for address: Calle de Antonio L�pez, 68, Madrid

Row 7872: No result found for address: Calle Alcaud�n , 21, Madrid

Row 7873: Address: Calle Jacobeo, Madrid, Madrid
Latitude: 40.3642678, Longitude: -3.7590614

Row 7874: Address: Calle Secoya, 3, Madrid
Latitude: 40.3731216, Longitude: -3.7419212

Row 7875: Address: Avenida Carabanchel Alto, 18, Madrid
Latitude: 40.3616995, Longitude: -3.753821

Row 7876: No result found for address: Calle de F�lix L�pez, Madrid

Row 7877: No result found for address: Calle Soldado Jos� Mar�a Rey s/n, Madrid

Row 7878: Address: Calle Julia Nebot s/n, Madrid
Latitude: 40.3874578, Longitude: -3.7352108

Row 7879: Address: Calle Francisco de Icaza, Madrid
Latitude: 40.385503, Longitude: -3.7273272

Row 7880: Address: Calle de albox, Madrid
Latitude: 40.3735193, Longitude: -3.7421497

Row 7881: Address: Calle de Azcoitia s/n, Madrid
Latitude: 40.373478, Longitude: -3.754894

Row 7882: Address: Plaza COIMBRA, Madrid
Latitude: 40.383041750000004, Longitude: -3.7236942102596076

Row 7883: No result found for address: Camino Viejo de Legan�s, 152, Madrid

Row 7884: Address: MARINA LAVANDEIRA, 15, Madrid
Latitude: 40.3871818, Longitude: -3.7418862

Row 7885: Address: Calle del Progreso, Madrid
Latitude: 40.3681954, Longitude: -3.7542631

Row 7886: Address: Calle del General Ricardos, Madrid, 30, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7887: Address: Calle Conde de Vistahermosa, 9, Madrid
Latitude: 40.3945411, Longitude: -3.7127309

Row 7888: No result found for address: LA SOLANA DE OPA�EL, Madrid

Row 7889: No result found for address: Calle Fernando D�az de Mendoza, Madrid

Row 7890: Address: Paseo de San Illan, 7, Madrid
Latitude: 40.4018145, Longitude: -3.7243721

Row 7891: Address: Avenida Carabanchel Alto s/n, Madrid
Latitude: 40.3616995, Longitude: -3.753821

Row 7892: Address: Calle Blas�n, Madrid
Latitude: 40.379017, Longitude: -3.7730125

Row 7893: Address: Calle la Oca, 103, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 7894: No result found for address: Plaza �gueda Diez, 5, Madrid

Row 7895: No result found for address: Calle de Rasc�n, Madrid

Row 7896: Address: Calle Postal, 11, Madrid
Latitude: 40.396209, Longitude: -3.733741

Row 7897: Address: Postal, 11, Madrid
Latitude: 40.396209, Longitude: -3.733741

Row 7898: Address: Witerico, 9, Madrid
Latitude: 40.3772401, Longitude: -3.7404667

Row 7899: Address: Avenida de los Poblados, 139, Madrid
Latitude: 40.3919879, Longitude: -3.7692644

Row 7900: Address: Calle de la Oca, Madrid
Latitude: 40.3882277, Longitude: -3.7431857

Row 7901: No result found for address: Calle de Orop�ndola, Madrid

Row 7902: Address: doctor zofio, 13, Madrid
Latitude: 40.379209, Longitude: -3.7152846

Row 7903: Address: Calle San David, Madrid
Latitude: 40.7168218, Longitude: -3.9365577

Row 7904: No result found for address: �NADE, Madrid

Row 7905: Address: Calle Conde de Vistahermosa, Madrid, Madrid
Latitude: 40.3933831, Longitude: -3.7103311

Row 7906: No result found for address: Alf�rez Juan Usera, Madrid

Row 7907: Address: Calle Calle Valle de Oro, Madrid
Latitude: 40.3871541, Longitude: -3.7247967

Row 7908: Address: Calle Santiago Cuende, 10, Madrid
Latitude: 40.3832086, Longitude: -3.7310703

Row 7909: No result found for address: Calle de la �poca, 22, Madrid

Row 7910: No result found for address: Calle de Guadalete s/n, Madrid

Row 7911: Address: Calle Witerico, 5, Madrid
Latitude: 40.3772401, Longitude: -3.7404667

Row 7912: No result found for address: Calle de Santa Teresa de Jornet c/v Calle Frambuesa, 7, Madrid

Row 7913: No result found for address: Calle Antonio L�pez, Madrid, Madrid

Row 7914: Address: Calle cuclillo, 7, Madrid
Latitude: 40.3910182, Longitude: -3.7312828

Row 7915: Address: Calle Antonio Vicent, 12, Madrid
Latitude: 40.3956146, Longitude: -3.7129776

Row 7916: Address: inmaculada concepcion, Madrid
Latitude: 40.39298345, Longitude: -3.712113103634313

Row 7917: Address: Calle Alba de Tormes, Madrid, Madrid
Latitude: 40.3790304, Longitude: -3.7426453

Row 7918: Address: witerico, Madrid
Latitude: 40.3777886, Longitude: -3.7417878

Row 7919: Address: carlos daban, Madrid
Latitude: 40.3980682, Longitude: -3.7327128

Row 7920: No result found for address: Calle DEL PING�INO, Madrid

Row 7921: Address: piedrahita, 16, Madrid
Latitude: 40.3770675, Longitude: -3.7412469

Row 7922: No result found for address: Urb. Junto a Colonia de la Prensa, Madrid

Row 7923: Address: Calle Domingo de Alboraya, 4, Madrid
Latitude: 40.3795686, Longitude: -3.7464979

Row 7924: Address: Calle del Pepion, Madrid
Latitude: 40.3712492, Longitude: -3.7387736

Row 7925: No result found for address: Calle Papagayo, Madrid

Row 7926: Address: san clemente, Madrid
Latitude: 40.3815088, Longitude: -3.7323587

Row 7927: Address: Calle Eduardo Rivas, Madrid
Latitude: 40.3904907, Longitude: -3.7137801

Row 7928: Address: Calle Federico Grases, 48, Madrid
Latitude: 40.3765202, Longitude: -3.7454935

Row 7929: Address: Calle Abella, Madrid
Latitude: 40.3707024, Longitude: -3.7531253

Row 7930: Address: Calle CLARINETES, Madrid
Latitude: 40.3728552, Longitude: -3.7644461

Row 7931: No result found for address: Calle Halc�n, Madrid

Row 7932: No result found for address: Calle del Arroyo Opa�el, 11, Madrid

Row 7933: Address: Avenida del Manzanares, 64, Madrid
Latitude: 40.3884483, Longitude: -3.698381330738087

Row 7934: Address: DIARIO DE LA NACION, Madrid
Latitude: 40.3770816, Longitude: -3.7465359

Row 7935: Address: Calle de Luis Claudio, Madrid
Latitude: 40.3710175, Longitude: -3.7608968

Row 7936: Address: Calle de Saturnino Tejera, Madrid, Madrid
Latitude: 40.3829268, Longitude: -3.745122

Row 7937: Address: Calle Humanitarias, Madrid
Latitude: 40.3876672, Longitude: -3.741536

Row 7938: Address: Calle General Ricardos, Madrid, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7939: No result found for address: Paseo de Santa Mar�a de la Cabeza, 128, Madrid

Row 7940: No result found for address: Calle Crist�bal Aguilera, Madrid

Row 7941: Address: joaquin turina, Madrid
Latitude: 40.3725818, Longitude: -3.7528983

Row 7942: Address: general ricardos, Madrid
Latitude: 40.3928817, Longitude: -3.7247187

Row 7943: Address: Pelicano, Madrid
Latitude: 40.3836241, Longitude: -3.7271472

Row 7944: Address: POLAN, 2, Madrid
Latitude: 40.3742805, Longitude: -3.7262465

Row 7945: No result found for address: Calle Catedral de Cuenca, Madrid

Row 7946: No result found for address: Plaza de Anozibar, Madrid

Row 7947: Address: Calle Reinosa, Madrid
Latitude: 40.3786395, Longitude: -3.6160268

Row 7948: No result found for address: Alberca De Z�ncara, Madrid

Row 7949: Address: Paseo de Marcelino Camacho, Madrid
Latitude: 40.3865076, Longitude: -3.7416896

Row 7950: Address: Urgel, Madrid
Latitude: 40.3925341, Longitude: -3.7253613

Row 7951: No result found for address: Calle de Avefr�a s/n, Madrid

Row 7952: No result found for address: Calle Fernando D�az de Mendoza, Madrid, 46, Madrid

Row 7953: No result found for address: Calle Urgell, 30, Madrid

Row 7954: Address: INMACULADA CONCEPCION, Madrid
Latitude: 40.39298345, Longitude: -3.712113103634313

Row 7955: Address: Calle Vicente Bautista, Madrid
Latitude: 40.3972476, Longitude: -3.7334081

Row 7956: Address: Av del Manzanares, Madrid
Latitude: 40.3891065, Longitude: -3.6990711

Row 7957: Address: Calle San Clemente, Madrid
Latitude: 40.3815088, Longitude: -3.7323587

Row 7958: Address: HUMANITARIAS, Madrid
Latitude: 40.388002, Longitude: -3.7415334

Row 7959: Address: Via LUSITANA, 29, Madrid
Latitude: 40.3807119, Longitude: -3.7252657

Row 7960: Address: Calle de la Duquesa de Tamames, 7, Madrid
Latitude: 40.3728149, Longitude: -3.7496025617025923

Row 7961: Address: Avenida de Oporto, Madrid, Madrid
Latitude: 40.3853983, Longitude: -3.7236072

Row 7962: No result found for address: Urb. cerrada con vigilancia 24h, Madrid

Row 7963: Address: Alferez Juan Usera, Madrid
Latitude: 40.3957548, Longitude: -3.7306813

Row 7964: Address: Calle Alfredo Aleix, Madrid
Latitude: 40.3686598, Longitude: -3.754970255113631

Row 7965: No result found for address: Calle Juan Jos� Bautista, Madrid, Madrid

Row 7966: Address: Calle de los Morales, Madrid
Latitude: 40.3607665, Longitude: -3.7642317

Row 7967: No result found for address: Calle L�pez Mezqu�a, Madrid

Row 7968: Address: Calle Tordesillas, Madrid
Latitude: 40.3666505, Longitude: -3.760868

Row 7969: Address: Calle Allariz, Madrid
Latitude: 40.3675315, Longitude: -3.7549299

Row 7970: Address: Calle CONDE DUQUE, Madrid
Latitude: 40.4296965, Longitude: -3.708944

Row 7971: Address: Calle CHURRUCA, Madrid
Latitude: 40.427378, Longitude: -3.7008764

Row 7972: Address: Calle de Argumosa, Madrid
Latitude: 40.4076045, Longitude: -3.6964101

Row 7973: Address: Calle CRUZADA, 1, Madrid
Latitude: 40.4164031, Longitude: -3.7113796

Row 7974: Address: Calle del Barco, 38, Madrid
Latitude: 40.4233857, Longitude: -3.7022224

Row 7975: Address: Calle de Echegaray, Madrid
Latitude: 40.4151516, Longitude: -3.6995745

Row 7976: Address: Calle del Tesoro, Madrid
Latitude: 40.4250416, Longitude: -3.7053819

Row 7977: Address: Calle de Toledo, Madrid
Latitude: 40.4059634, Longitude: -3.7121066

Row 7978: No result found for address: Plaza de San Nicol�s, Madrid

Row 7979: No result found for address: Calle San Cosme y San Dami�n, Madrid

Row 7980: No result found for address: Calle de Mej�a Lequerica, Madrid

Row 7981: Address: Calle del Calvario, Madrid
Latitude: 40.411469, Longitude: -3.702533

Row 7982: Address: Alejandro Sanchez, Madrid
Latitude: 40.3891583, Longitude: -3.7190581

Row 7983: Address: Calle Palma, Madrid
Latitude: 19.3474201, Longitude: -99.0111651

Row 7984: Address: Calle de San Marcos, Madrid
Latitude: 40.4211363, Longitude: -3.6964697

Row 7985: Address: Calle de la Libertad, Madrid
Latitude: 40.4212265, Longitude: -3.6973585

Row 7986: No result found for address: Calle del Esp�ritu Santo, Madrid

Row 7987: Address: Calle de Vergara, Madrid
Latitude: 40.417762, Longitude: -3.7105869

Row 7988: Error geocoding address 'Calle del R�o, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+del+R%EF%BF%BDo%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7989: Address: Calle de las Huertas, Madrid
Latitude: 40.4132746, Longitude: -3.6970259

Row 7990: Address: Espejo, Madrid
Latitude: 40.42537095, Longitude: -3.6910712499999994

Row 7991: Address: Calle de Sagasta, Madrid
Latitude: 40.4282023, Longitude: -3.6980599

Row 7992: No result found for address: Plaza de las Salesas, Madrid, 8, Madrid

Row 7993: Address: Fucar, Madrid
Latitude: 40.4116124, Longitude: -3.695625

Row 7994: Address: Calle de Juanelo, Madrid
Latitude: 40.4111759, Longitude: -3.7060748

Row 7995: Address: Calle de Santa Cruz de Marcenado, Madrid
Latitude: 40.4298295, Longitude: -3.7138812

Row 7996: Error geocoding address 'Calle de la Uni�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Uni%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 7997: Address: Calle de San Vicente Ferrer, Madrid
Latitude: 40.4262002, Longitude: -3.708378

Row 7998: Address: Calle Pelayo, Madrid
Latitude: 40.4250234, Longitude: -3.6967412

Row 7999: Address: Calle de Torija, 4, Madrid
Latitude: 40.4207929, Longitude: -3.7097818

Row 8000: Address: Calle del Ave Mar�a, Madrid
Latitude: 40.6485186, Longitude: -3.7859052

Row 8001: Address: Calle del Conde de Lemos, Madrid
Latitude: 40.4166831, Longitude: -3.7102238

Row 8002: Address: Calle del Oso, Madrid
Latitude: 40.4099584, Longitude: -3.7041963

Row 8003: Address: Ronda de Segovia s/n, Madrid
Latitude: 40.410687, Longitude: -3.7180365

Row 8004: Address: Calle del Conde de Romanones, 10, Madrid
Latitude: 40.4131188, Longitude: -3.7049879

Row 8005: Address: Calle DEL CONDE DUQUE, Madrid
Latitude: 40.4296965, Longitude: -3.708944

Row 8006: Address: Marques de Santa Ana, Madrid
Latitude: 40.4242386, Longitude: -3.7051736

Row 8007: No result found for address: Calle Jes�s del Valle, Madrid

Row 8008: Address: Calle Doctor Mata, Madrid
Latitude: 40.1947727, Longitude: -3.6759613

Row 8009: Address: Calle de la Colegiata, Madrid
Latitude: 40.4131667, Longitude: -3.7069016

Row 8010: Address: Calle de la Escalinata, Madrid, Madrid
Latitude: 40.4174971, Longitude: -3.7093986

Row 8011: Address: Calle DE CARRANZA, Madrid
Latitude: 40.4292998, Longitude: -3.7036635

Row 8012: Address: Calle de Rodas, Madrid
Latitude: 40.496397, Longitude: -3.6909592

Row 8013: Address: Calle de San Pedro Martir, Madrid
Latitude: 40.4117613, Longitude: -3.7036613

Row 8014: Address: Ronda DE VALENCIA, Madrid
Latitude: 40.4051504, Longitude: -3.7019247

Row 8015: Address: Calle del Olmo, Madrid, Madrid
Latitude: 40.4115474, Longitude: -3.7003673

Row 8016: Address: Calle de Atocha, Madrid
Latitude: 40.412549, Longitude: -3.6994409

Row 8017: Address: Calle de Fuencarral, 106, Madrid
Latitude: 40.4283918, Longitude: -3.7020242

Row 8018: No result found for address: Calle Andr�s Borrego, Madrid

Row 8019: Address: Calle de Espoz y Mina, Madrid, Madrid
Latitude: 40.4157908, Longitude: -3.7023154

Row 8020: No result found for address: Calle de Concepci�n Jer�nima, Madrid

Row 8021: Address: Calle de Santa Isabel, Madrid
Latitude: 40.4100796, Longitude: -3.6972608

Row 8022: Address: Plaza de Tirso de Molina, Madrid, Madrid
Latitude: 40.412302499999996, Longitude: -3.7045282415781924

Row 8023: Address: Calle de San Bernardino, 18, Madrid
Latitude: 40.4251465, Longitude: -3.7102944

Row 8024: No result found for address: Calle Mira el R�o Alta, 8, Madrid

Row 8025: Address: Calle de Carlos Arniches, Madrid
Latitude: 40.4079961, Longitude: -3.7084392

Row 8026: Address: Calle de la Escuadra, Madrid
Latitude: 40.4098506, Longitude: -3.6998767

Row 8027: Address: Calle de los Reyes, Madrid
Latitude: 40.4237151, Longitude: -3.7102691

Row 8028: Address: Calle de la Palma, Madrid
Latitude: 40.426757, Longitude: -3.7082559

Row 8029: Address: Calle de Guillermo Rolland, Madrid
Latitude: 40.4207496, Longitude: -3.7110782

Row 8030: Address: Calle del Conde de Romanones, Madrid
Latitude: 40.4134951, Longitude: -3.7047445

Row 8031: Address: Calle del Sombrerete, Madrid
Latitude: 19.3386613, Longitude: -99.0036553

Row 8032: Address: Paseo de Recoletos, Madrid
Latitude: 40.4218837, Longitude: -3.6918609

Row 8033: Address: Calle Bastero, Madrid
Latitude: 40.4087409, Longitude: -3.7095728

Row 8034: Address: Calle de Hortaleza, Madrid
Latitude: 40.4264227, Longitude: -3.6969068

Row 8035: Address: Calle de la Paloma, Madrid
Latitude: 40.4079732, Longitude: -3.7119595

Row 8036: No result found for address: Calle de San Agust�n, Madrid

Row 8037: Address: Calle de los Abades, Madrid
Latitude: 40.4100556, Longitude: -3.7052702

Row 8038: No result found for address: Urb. Fucar, Madrid

Row 8039: Address: Calle del Olmo, Madrid
Latitude: 40.4115474, Longitude: -3.7003673

Row 8040: Address: Calle de San Hermenegildo, Madrid
Latitude: 40.428333, Longitude: -3.7079615

Row 8041: Address: Calle Manzana, Madrid
Latitude: 40.3076423, Longitude: -3.7283387

Row 8042: Address: Calle Echegaray, Madrid
Latitude: 40.4151516, Longitude: -3.6995745

Row 8043: Address: Calle Pozas, Madrid
Latitude: 40.4634545, Longitude: -3.6851246

Row 8044: Address: Calle Pozas, Madrid, Madrid
Latitude: 40.4634545, Longitude: -3.6851246

Row 8045: No result found for address: �guila, Madrid

Row 8046: Address: Costanilla de Santiago, Madrid
Latitude: 40.4163089, Longitude: -3.7088597

Row 8047: Address: Calle del Divino Pastor, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8048: Address: Calle Carmen, Madrid
Latitude: 40.6176396, Longitude: -4.0077525

Row 8049: Address: Calle DIVINO PASTOR, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8050: Address: Calle de Gravina, Madrid
Latitude: 40.4229339, Longitude: -3.6973759

Row 8051: Address: Ronda de Atocha, Madrid
Latitude: 40.4071686, Longitude: -3.6944635

Row 8052: Address: Calle del Amparo, Madrid
Latitude: 40.4057632, Longitude: -3.7000701

Row 8053: Address: Calle del Divino Pastor, 29, Madrid
Latitude: 40.427694, Longitude: -3.7045919

Row 8054: Address: Salud, Madrid
Latitude: 40.4089447, Longitude: -3.6562835

Row 8055: No result found for address: Calle de Lavapi�s, 50, Madrid

Row 8056: Address: Plaza de San Ildefonso, 4, Madrid
Latitude: 40.4241296, Longitude: -3.7022544

Row 8057: Address: Calle Sagasta, 4, Madrid
Latitude: 40.4287315, Longitude: -3.7015421

Row 8058: Address: Calle Gran V�a, Madrid
Latitude: 40.5008722, Longitude: -3.2585761

Row 8059: Address: Calle de la Palma, 60, Madrid
Latitude: 40.4267516, Longitude: -3.7078468

Row 8060: No result found for address: Traves�a del Almendro, 7, Madrid

Row 8061: Address: Calle de los Tres Peces, 30, Madrid
Latitude: 40.410828, Longitude: -3.6990645

Row 8062: No result found for address: Calle de los M�rtires de Alcal�, Madrid

Row 8063: Address: Calle de la Puebla, Madrid
Latitude: 40.422261, Longitude: -3.7036164

Row 8064: Address: Calle del Doctor Fourquet, Madrid
Latitude: 40.407397, Longitude: -3.697861

Row 8065: Address: Calle de Zurita, Madrid
Latitude: 40.4098165, Longitude: -3.6988794

Row 8066: Address: Calle Salitre, Madrid
Latitude: 40.4089325, Longitude: -3.6991944

Row 8067: Address: Calle de Atocha, 112, Madrid
Latitude: 40.409543, Longitude: -3.6935141

Row 8068: No result found for address: Calle de la Sombrerer�a, 5, Madrid

Row 8069: Address: Calle Pelayo, Madrid, 5, Madrid
Latitude: 40.4220699, Longitude: -3.6990437

Row 8070: Address: Calle Duque de Rivas, 8, Madrid
Latitude: 40.3459803, Longitude: -4.0254052

Row 8071: Address: Calle de las Infantas, Madrid
Latitude: 40.4211489, Longitude: -3.7011638

Row 8072: Address: Calle del Molino de Viento, Madrid
Latitude: 40.4238382, Longitude: -3.7030487

Row 8073: Error geocoding address 'Calle de Col�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Col%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8074: Address: Calle del Escorial, Madrid
Latitude: 40.3711088, Longitude: -3.7615323

Row 8075: Address: Pozas, Madrid
Latitude: 40.4634545, Longitude: -3.6851246

Row 8076: No result found for address: Calle de Tetu�n, Madrid, 19, Madrid

Row 8077: No result found for address: Calle de F�car, Madrid

Row 8078: No result found for address: Calle del Pr�ncipe, 11, Madrid

Row 8079: Address: Calle Divino Pastor, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8080: Address: Calle de Tudescos, Madrid
Latitude: 40.4210909, Longitude: -3.7056089

Row 8081: Address: Corredera Alta de San Pablo, Madrid
Latitude: 40.4249468, Longitude: -3.7019986

Row 8082: Address: Calle SEGOVIA, Madrid
Latitude: 40.3938656, Longitude: -3.7746741

Row 8083: Address: Cuesta DE LAS DESCARGAS, Madrid
Latitude: 40.4085614, Longitude: -3.7152745

Row 8084: Address: Calle del Factor, Madrid
Latitude: 40.4159906, Longitude: -3.7125813

Row 8085: Address: Calle de los Cabestreros, 4, Madrid
Latitude: 40.4094457, Longitude: -3.7042911

Row 8086: Address: Calle de Amaniel, 20, Madrid
Latitude: 40.4263224, Longitude: -3.7092674

Row 8087: Address: Calle de la Cava Baja, 30, Madrid
Latitude: 40.4123008, Longitude: -3.7094407

Row 8088: Address: Plaza de Herradores, 7, Madrid
Latitude: 40.4166214, Longitude: -3.7087082

Row 8089: Address: Tudescos, Madrid
Latitude: 40.4215544, Longitude: -3.7055574

Row 8090: No result found for address: Calle �ngel, Madrid

Row 8091: Address: Calle de la Alameda, Madrid
Latitude: 40.410375, Longitude: -3.6938335

Row 8092: Address: Ronda de Segovia, Madrid
Latitude: 40.410687, Longitude: -3.7180365

Row 8093: Address: Calle del Tesoro, 19, Madrid
Latitude: 40.4250309, Longitude: -3.7051519

Row 8094: Address: Plaza de Matute, 7, Madrid
Latitude: 40.4131381, Longitude: -3.699817469057733

Row 8095: Address: Calle de la Luna, 13, Madrid
Latitude: 40.4224554, Longitude: -3.7063302

Row 8096: Address: Calle San Buenaventura, Madrid
Latitude: 40.4112105, Longitude: -3.7146903

Row 8097: No result found for address: Calle del Mes�n de Paredes, 57, Madrid

Row 8098: No result found for address: Calle Hern�n Cort�s, Madrid

Row 8099: Address: Calle del Calvario, 13, Madrid
Latitude: 40.4115044, Longitude: -3.7025053

Row 8100: No result found for address: Plaza marina espa�ola, Madrid

Row 8101: Address: Calle de Cervantes, Madrid
Latitude: 40.414889, Longitude: -3.6945481

Row 8102: Address: Calle del Conde de Lemos, 4, Madrid
Latitude: 40.4166831, Longitude: -3.7102238

Row 8103: Address: Calle de Argumosa, 4, Madrid
Latitude: 40.4082091, Longitude: -3.699896

Row 8104: No result found for address: Calle de Lavapi�s, Madrid

Row 8105: Address: Corredera Alta de San Pablo, 4, Madrid
Latitude: 40.4247044, Longitude: -3.7019871

Row 8106: Address: Calle de la Ballesta, Madrid
Latitude: 40.422211, Longitude: -3.7033428

Row 8107: Address: olivar, Madrid
Latitude: -34.1998414, Longitude: -70.7609225

Row 8108: Address: Calle Ponciano, Madrid
Latitude: 40.4256817, Longitude: -3.7093493

Row 8109: Address: Calle de la Bolsa, 14, Madrid
Latitude: 40.4149608, Longitude: -3.704955

Row 8110: No result found for address: Urb. Sol Everyprop.com, Madrid

Row 8111: Address: Calle cabeza, Madrid
Latitude: 40.4087598, Longitude: -3.65384

Row 8112: Address: Calle Estrella, Madrid
Latitude: 19.3479115, Longitude: -99.0014755

Row 8113: Error geocoding address 'Calle de la Uni�n, 1, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Uni%EF%BF%BDn%2C+1%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8114: No result found for address: Calle de Santo Tom�, Madrid

Row 8115: Address: Calle de carlos arniches, 30, Madrid
Latitude: 40.4071954, Longitude: -3.7082888

Row 8116: Address: Plaza de Santa Ana, Madrid
Latitude: 40.41480405, Longitude: -3.700791305837731

Row 8117: Address: Calle Tesoro, Madrid
Latitude: 40.4250416, Longitude: -3.7053819

Row 8118: Address: Calle del Amparo, Madrid, Madrid
Latitude: 40.4057632, Longitude: -3.7000701

Row 8119: Address: cava baja, Madrid
Latitude: 40.4124833, Longitude: -3.7090651

Row 8120: Address: Calle de Fuencarral, 86, Madrid
Latitude: 40.4268614, Longitude: -3.7012530812963416

Row 8121: Address: Calle de San Vicente Ferrer, 9, Madrid
Latitude: 40.4255556, Longitude: -3.7021949

Row 8122: Address: Plaza del General Vara de Rey, Madrid
Latitude: 40.4095776, Longitude: -3.7081765

Row 8123: Address: Calle de Valencia, Madrid
Latitude: 40.4081752, Longitude: -3.7007407

Row 8124: Address: Calle de Mallorca, Madrid
Latitude: 40.4444395, Longitude: -3.3708994

Row 8125: Address: San Ildefonso, Madrid
Latitude: 40.4237303, Longitude: -3.7024476

Row 8126: Address: Calle de Pelayo, Madrid
Latitude: 40.4250234, Longitude: -3.6967412

Row 8127: Address: Calle Salitre, 48, Madrid
Latitude: 40.4084204, Longitude: -3.6996133

Row 8128: Address: Calle TESORO, Madrid
Latitude: 40.4250416, Longitude: -3.7053819

Row 8129: Address: Calle del Oso, 9, Madrid
Latitude: 40.4097061, Longitude: -3.704704

Row 8130: Address: Calle Trujillos, 7, Madrid
Latitude: 40.418605, Longitude: -3.7075016

Row 8131: Address: Calle del Arenal, 7, Madrid
Latitude: 40.4169707, Longitude: -3.7057948

Row 8132: Address: Plaza de Matute, 4, Madrid
Latitude: 40.4135755, Longitude: -3.6997425

Row 8133: Address: Calle de Lepanto, 4, Madrid
Latitude: 40.5799869, Longitude: -4.1295445

Row 8134: Address: Plaza de Cascorro, Madrid
Latitude: 40.41058425, Longitude: -3.7073209403210505

Row 8135: Address: Calle del Arenal, Madrid
Latitude: 40.4172633, Longitude: -3.7066361

Row 8136: Address: AUGUSTO FIGUEROA, Madrid
Latitude: 40.4221689, Longitude: -3.6977371

Row 8137: Address: Costanilla de San Pedro, Madrid, Madrid
Latitude: 40.4127365, Longitude: -3.7106597

Row 8138: Address: Calle Buenavista, 44, Madrid
Latitude: 40.4092134, Longitude: -3.6999681

Row 8139: No result found for address: Costanilla de los �ngeles, Madrid

Row 8140: No result found for address: Calle de la Ribera de Curtidores, Madrid

Row 8141: Address: Calle del Olivar, Madrid
Latitude: 40.410506, Longitude: -3.7016462

Row 8142: Address: Calle de la Paz, Madrid
Latitude: 40.4152663, Longitude: -3.7041964

Row 8143: Address: CALVARIO, Madrid
Latitude: 40.411469, Longitude: -3.702533

Row 8144: Address: Calle de la Torrecilla del Leal, Madrid, 21, Madrid
Latitude: 40.4103544, Longitude: -3.6993838

Row 8145: Address: Calle Provisiones, Madrid
Latitude: 40.4074974, Longitude: -3.7016734

Row 8146: Address: Plaza Pedro Zerolo, Madrid
Latitude: 40.4208194, Longitude: -3.6998843

Row 8147: Address: Calle de San Justo, Madrid
Latitude: 40.4140398, Longitude: -3.70934

Row 8148: Address: Calle de la Palma, Madrid, Madrid
Latitude: 40.426757, Longitude: -3.7082559

Row 8149: No result found for address: Calle de Isabel la Cat�lica, Madrid

Row 8150: No result found for address: Plazuela de San Gin�s, Madrid

Row 8151: No result found for address: Plaza MORERIA, Madrid

Row 8152: Address: Calle Ventura de la Vega, Madrid
Latitude: 40.4151752, Longitude: -3.6989846

Row 8153: Address: Calle del Doctor Cortezo, Madrid
Latitude: 40.4125262, Longitude: -3.7039528

Row 8154: No result found for address: Calle del Marqu�s Viudo de Pontejos, Madrid

Row 8155: Address: Plaza de la Cebada, Madrid
Latitude: 40.411387, Longitude: -3.7097646

Row 8156: No result found for address: Plaza Santa B�rbara, Madrid, Madrid

Row 8157: Address: Calle de Embajadores, Madrid, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 8158: Address: Calle de San Bernardino, 11, Madrid
Latitude: 40.4253172, Longitude: -3.7108741

Row 8159: No result found for address: Calle de Fray Ceferino Gonz�lez, Madrid

Row 8160: Address: Loreto y Chicote, 9, Madrid
Latitude: 40.4215375, Longitude: -3.7040918

Row 8161: Address: Calle de Leganitos, 37 -1, Madrid
Latitude: 40.4215003, Longitude: -3.710021

Row 8162: Address: Calle de San Ildefonso, Madrid
Latitude: 40.4103178, Longitude: -3.69604

Row 8163: Address: Segovia, 8, Madrid
Latitude: 40.4135782, Longitude: -3.7102688

Row 8164: No result found for address: Plaza de la Morer�a, Madrid

Row 8165: No result found for address: Calle de F�car, 20, Madrid

Row 8166: Address: Calle de San Mateo, Madrid
Latitude: 40.4253651, Longitude: -3.699723

Row 8167: No result found for address: Calle galeria de los robles s/n, Madrid

Row 8168: Error geocoding address 'Calle de la Uni�n, 4, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Uni%EF%BF%BDn%2C+4%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8169: Address: Calle de San Marcos, 18, Madrid
Latitude: 40.4214985, Longitude: -3.6988468

Row 8170: Address: buenavista, Madrid
Latitude: 40.3682912, Longitude: -3.7439776

Row 8171: Address: Calle de San Bernardino, Madrid
Latitude: 40.4251465, Longitude: -3.7102944

Row 8172: Address: Plaza de chueca, Madrid
Latitude: 40.42271305, Longitude: -3.6976090876925602

Row 8173: Address: Calle de Fuencarral, 66, Madrid
Latitude: 40.4243072, Longitude: -3.7005919

Row 8174: Address: Calle de la Flor Baja, Madrid
Latitude: 40.4221553, Longitude: -3.7095234

Row 8175: Address: Calle de Segovia, Madrid
Latitude: 40.4139692, Longitude: -3.7206967

Row 8176: Address: Calle de la Libertad, 26, Madrid
Latitude: 40.4219903, Longitude: -3.6972219

Row 8177: Address: Calle de San Marcos, 28, Madrid
Latitude: 40.4212758, Longitude: -3.6981825

Row 8178: Address: Calle Churruca, Madrid
Latitude: 40.427378, Longitude: -3.7008764

Row 8179: No result found for address: Calle de Tabernillas, Madrid

Row 8180: Address: Calle San Dimas, Madrid
Latitude: 40.4283419, Longitude: -3.7073703

Row 8181: Address: Calle Tudescos, Madrid
Latitude: 40.4210909, Longitude: -3.7056089

Row 8182: No result found for address: Calle de Manuela Malasa�a, Madrid

Row 8183: Address: Calle de Barbieri, Madrid
Latitude: 40.4221689, Longitude: -3.6977371

Row 8184: Address: Calle de Ventura de la Vega, Madrid
Latitude: 40.4151752, Longitude: -3.6989846

Row 8185: Address: Calle Barbieri, 3, Madrid
Latitude: 40.4208093, Longitude: -3.6983517

Row 8186: Address: Calle de Fuencarral, Madrid, Madrid
Latitude: 40.4218831, Longitude: -3.7009642167024706

Row 8187: Address: Abades s/n, Madrid
Latitude: 40.4100556, Longitude: -3.7052702

Row 8188: Address: Manuel Fernandez y gonzalez, Madrid
Latitude: 40.4151894, Longitude: -3.6998462

Row 8189: Address: Plaza de Chueca, Madrid
Latitude: 40.42271305, Longitude: -3.6976090876925602

Row 8190: Address: Calle de las Fuentes, 8, Madrid
Latitude: 40.4171894, Longitude: -3.708626

Row 8191: Address: Calle de San Vicente Ferrer, 74, Madrid
Latitude: 40.426208, Longitude: -3.7080137

Row 8192: Error geocoding address 'Via Gran s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Via+Gran+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8193: Address: Calle de Velarde, 4, Madrid
Latitude: 40.4267573, Longitude: -3.7019776

Row 8194: Address: Calle de Fuencarral, 64, Madrid
Latitude: 40.4242406, Longitude: -3.7005807

Row 8195: No result found for address: Calle del Le�n, Madrid

Row 8196: Error geocoding address 'Calle de San Bernardo s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+San+Bernardo+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8197: Address: CHURRUCA, Madrid
Latitude: 40.4283, Longitude: -3.7012943

Row 8198: Address: MARQUES DE SANTA ANA, Madrid
Latitude: 40.4242386, Longitude: -3.7051736

Row 8199: Address: SAN LORENZO, Madrid
Latitude: 40.4745618, Longitude: -3.6396107

Row 8200: Address: Calle de las Tres Cruces, Madrid
Latitude: 40.4192227, Longitude: -3.7029793

Row 8201: Address: Calle de Larra, 11, Madrid
Latitude: 40.4274131, Longitude: -3.7000906

Row 8202: Address: ACUERDO, Madrid
Latitude: 40.426757, Longitude: -3.7082559

Row 8203: No result found for address: Calle del Lim�n, Madrid

Row 8204: Address: Calle de Loreto y Chicote, 4, Madrid
Latitude: 40.4216761, Longitude: -3.7042608

Row 8205: Address: Calle Carretas, 15, Madrid
Latitude: 40.4159439, Longitude: -3.7031652

Row 8206: Address: Calle del Amparo, 103, Madrid
Latitude: 40.4064344, Longitude: -3.7004149

Row 8207: Address: SAN MARCOS, 18, Madrid
Latitude: 40.2124401, Longitude: -3.5734466

Row 8208: Address: Calle de la Farmacia, Madrid
Latitude: 40.4239401, Longitude: -3.6997382

Row 8209: Address: Calle de las Aguas, Madrid
Latitude: 40.4111055, Longitude: -3.7125112

Row 8210: Address: Corredera Baja de San Pablo, Madrid
Latitude: 40.4225675, Longitude: -3.7037307

Row 8211: Address: Costanilla de los Desamparados, Madrid
Latitude: 40.412763, Longitude: -3.6965433

Row 8212: Address: Calle de la Montera, Madrid
Latitude: 40.4172097, Longitude: -3.7030631

Row 8213: Address: Calle del Amor de Dios, Madrid
Latitude: 40.3003334, Longitude: -4.4469432

Row 8214: Address: Calle FUCAR, Madrid
Latitude: 40.4116124, Longitude: -3.695625

Row 8215: No result found for address: Calle Marqu�s de Santa Ana, Madrid

Row 8216: No result found for address: Calle del le�n, Madrid

Row 8217: Address: Calle Caballero de Gracia, Madrid
Latitude: 40.3808928, Longitude: -3.411003

Row 8218: No result found for address: Traves�a Pozas, Madrid

Row 8219: Address: Calle de Espoz y Mina, Madrid
Latitude: 40.4157908, Longitude: -3.7023154

Row 8220: Address: Calle Mayor, Madrid
Latitude: 40.4165225, Longitude: -3.7049261

Row 8221: No result found for address: Calle de San Joaqu�n, Madrid

Row 8222: Address: Calle de Zorrilla, Madrid, Madrid
Latitude: 40.4168245, Longitude: -3.6959908

Row 8223: Address: Costanilla de San Pedro, Madrid
Latitude: 40.4127365, Longitude: -3.7106597

Row 8224: Address: Calle del Amparo, 9, Madrid
Latitude: 40.4108662, Longitude: -3.7039702

Row 8225: Address: Ronda de Valencia, 8, Madrid
Latitude: 40.4057319, Longitude: -3.7005902

Row 8226: Address: de la esperanza, 10, Madrid
Latitude: 40.4101576, Longitude: -3.7000192

Row 8227: Address: Calle Bernardino, Madrid
Latitude: 40.3660743, Longitude: -3.6016509

Row 8228: Address: Calle de Chinchilla, 4, Madrid
Latitude: 40.4193894, Longitude: -3.7037901

Row 8229: Address: Calle R�o, Madrid
Latitude: 18.5177215, Longitude: -70.0052707

Row 8230: Address: Calle Reloj, Madrid, Madrid
Latitude: 40.4212804, Longitude: -3.7113384

Row 8231: Address: Calle San Pedro, 26, Madrid
Latitude: 40.4109208, Longitude: -3.6950780427739063

Row 8232: No result found for address: Urb. Lavapi�s-Embajadores, Madrid

Row 8233: Address: CORREDERA ALTA DE SAN PABLO, Madrid
Latitude: 40.4249468, Longitude: -3.7019986

Row 8234: Address: Divino Pastor, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8235: Address: Calle Escuadra, Madrid
Latitude: 40.4098506, Longitude: -3.6998767

Row 8236: Address: Calle del Duque de Alba, Madrid
Latitude: 40.4116688, Longitude: -3.7066186

Row 8237: Address: farmacia, Madrid
Latitude: 40.4636384, Longitude: -3.6988565

Row 8238: No result found for address: Calle de San Quint�n, Madrid

Row 8239: Address: POZAS, Madrid
Latitude: 40.4634545, Longitude: -3.6851246

Row 8240: No result found for address: Costanilla de los �ngeles, 16, Madrid

Row 8241: Address: Calle Atocha, 75, Madrid
Latitude: 40.4121381, Longitude: -3.6984418

Row 8242: Address: san bernardino, 15, Madrid
Latitude: 40.4254144, Longitude: -3.7111224

Row 8243: No result found for address: Calle de los Ca�os del Peral, Madrid

Row 8244: No result found for address: Calle de Mej�a Lequerica, 17, Madrid

Row 8245: Address: Calle de Atocha, 74, Madrid
Latitude: 40.4114331, Longitude: -3.6975248

Row 8246: Address: Ronda de Segovia, 17, Madrid
Latitude: 40.410687, Longitude: -3.7180365

Row 8247: Address: Plaza de Santa Cruz, 6, Madrid
Latitude: 40.4153234, Longitude: -3.7056506

Row 8248: No result found for address: Calle de San Bartolom�, Madrid

Row 8249: No result found for address: Calle de Hern�n Cort�s, 10, Madrid

Row 8250: Address: Calle de Embajadores, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 8251: Address: PALMA, 35, Madrid
Latitude: 40.4263461, Longitude: -3.7044576

Row 8252: Address: Calle del Barco, Madrid
Latitude: 40.4220808, Longitude: -3.7026213

Row 8253: Address: Calle de Toledo, 21, Madrid
Latitude: 40.4140638, Longitude: -3.7074015

Row 8254: Address: Calle de la Madera, Madrid
Latitude: 40.4241223, Longitude: -3.7037749

Row 8255: No result found for address: Calle del Lim�n, 32, Madrid

Row 8256: No result found for address: Calle de la Ventosa, 25, Madrid

Row 8257: Address: Calle del Prado, Madrid
Latitude: 40.4149415, Longitude: -3.6984628

Row 8258: Address: Calle de la Cabeza, Madrid
Latitude: 40.4117613, Longitude: -3.7036613

Row 8259: Address: CABEZA, Madrid
Latitude: 40.4028516, Longitude: -3.6968904216777005

Row 8260: Address: Via Gran, Madrid
Latitude: 40.4201795, Longitude: -3.7039144

Row 8261: Address: Calle de San Bernardo, 69, Madrid
Latitude: 40.4269363, Longitude: -3.7066672

Row 8262: Address: Calle de la Reina, Madrid
Latitude: 40.4201171, Longitude: -3.6994087

Row 8263: Address: San Bernardo, 84, Madrid
Latitude: 4.7341166, Longitude: -74.2751967

Row 8264: No result found for address: Calle del Pr�ncipe, Madrid

Row 8265: Address: Calle Pozas, 6, Madrid
Latitude: 40.4246755, Longitude: -3.7065805

Row 8266: Address: san bernardo, 5, Madrid
Latitude: 4.7341166, Longitude: -74.2751967

Row 8267: Address: palma, 76, Madrid
Latitude: 40.4268652, Longitude: -3.7089878

Row 8268: Address: Calle de Velarde, Madrid
Latitude: 40.4266876, Longitude: -3.701702

Row 8269: Address: Calle Velarde, Madrid
Latitude: 40.4266876, Longitude: -3.701702

Row 8270: Address: Plaza Conde de Toreno, Madrid
Latitude: 40.424555, Longitude: -3.709271777088235

Row 8271: Address: Calle MINAS, Madrid
Latitude: 40.8550434, Longitude: -3.5385332

Row 8272: Address: SEGOVIA, Madrid
Latitude: 40.9005583, Longitude: -4.0079148

Row 8273: Address: San Pedro, Madrid
Latitude: 4.7341877, Longitude: -74.2410965

Row 8274: Address: Calle pozas, 28004, Madrid
Latitude: 40.4249535, Longitude: -3.7066244

Row 8275: Address: Calle de la Paz s/n, Madrid
Latitude: -16.4947828, Longitude: -68.1328527

Row 8276: Address: Calle de la Luna, 15, Madrid
Latitude: 40.4225557, Longitude: -3.7064813

Row 8277: Address: angel, 7, Madrid
Latitude: 40.459775949999994, Longitude: -3.712893498158784

Row 8278: No result found for address: Traves�a del Almendro, Madrid, 5, Madrid

Row 8279: Address: San Vicente Ferrer, Madrid
Latitude: 40.4262002, Longitude: -3.708378

Row 8280: No result found for address: MORAT�N, Madrid

Row 8281: No result found for address: Calle de Preciados, Madrid

Row 8282: Address: Plaza de Carlos Cambronero, Madrid
Latitude: 40.42312005, Longitude: -3.704150633853329

Row 8283: Address: Calle Don Felipe, Madrid
Latitude: 40.4244763, Longitude: -3.7025097

Row 8284: Address: piamonte, Madrid
Latitude: 4.72837785, Longitude: -74.25126604020599

Row 8285: No result found for address: Calle de Pu�onrostro, Madrid

Row 8286: Error geocoding address 'Calle del R�o, 6, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+del+R%EF%BF%BDo%2C+6%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8287: Address: Calle de Caravaca, Madrid
Latitude: 40.5722157, Longitude: -3.942673

Row 8288: Address: Calle Factor, Madrid
Latitude: 40.4159906, Longitude: -3.7125813

Row 8289: Address: Calle de la Fe, Madrid
Latitude: 40.4090227, Longitude: -3.7004915

Row 8290: Address: TRUJILLOS, Madrid
Latitude: 40.4186223, Longitude: -3.7070898

Row 8291: Address: Calle DE LA ROSA, Madrid
Latitude: 40.4118092, Longitude: -3.7002354

Row 8292: Address: Bolsa, 14, Madrid
Latitude: 40.41436795, Longitude: -3.707706161111111

Row 8293: No result found for address: Calle de Manuela Malasa�a, 7, Madrid

Row 8294: Address: MOLINO DE VIENTO, 1, Madrid
Latitude: 40.4233519, Longitude: -3.7037847

Row 8295: Address: Plaza de Chueca, 2, Madrid
Latitude: 40.4225394, Longitude: -3.6978673

Row 8296: No result found for address: Calle del Mes�n de Paredes, Madrid

Row 8297: No result found for address: Calle de Luis V�lez de Guevara, 8, Madrid

Row 8298: Address: Calle San Hermenegildo, Madrid
Latitude: 40.820404, Longitude: -3.6250809

Row 8299: Address: SAN BERNARDINO, Madrid
Latitude: 33.9803334, Longitude: -117.7498045

Row 8300: No result found for address: Plaza Santa B�rbara, 6, Madrid

Row 8301: Address: TRES CRUCES, Madrid
Latitude: -34.8921446, Longitude: -56.1841806

Row 8302: Address: SAN BERNARDO, 27, Madrid
Latitude: 4.7341166, Longitude: -74.2751967

Row 8303: Address: Calle de las Infantas, 16, Madrid
Latitude: 40.4207421, Longitude: -3.699896

Row 8304: Address: Calle Salitre, Madrid, 42, Madrid
Latitude: 40.4086938, Longitude: -3.6994508

Row 8305: Address: Calle de Lope de Vega, 33, Madrid
Latitude: 40.4137901, Longitude: -3.6963604064832385

Row 8306: Address: Calle de Augusto Figueroa, Madrid
Latitude: 40.4221689, Longitude: -3.6977371

Row 8307: Address: Calle Fray Ceferino Gonzalez, 17, Madrid
Latitude: 40.4084877, Longitude: -3.706891

Row 8308: Address: Angel, Madrid
Latitude: 40.4693416, Longitude: -3.7017886

Row 8309: Address: Calle Ponciano, 5, Madrid
Latitude: 40.4254795, Longitude: -3.7095929

Row 8310: Address: Victor Hugo, 4, Madrid
Latitude: 50.1630859, Longitude: 3.2595384

Row 8311: Address: Calle de los Tres Peces, 4, Madrid
Latitude: 40.4107089, Longitude: -3.7003282

Row 8312: Address: Calle de Segovia, Madrid, Madrid
Latitude: 40.4139692, Longitude: -3.7206967

Row 8313: No result found for address: Calle del Mediod�a Grande, Madrid

Row 8314: Address: Calle Fuencarral, Madrid
Latitude: 40.4218831, Longitude: -3.7009642167024706

Row 8315: No result found for address: Marqu�s de Santa Ana, Madrid

Row 8316: Address: hortaleza, Madrid
Latitude: 40.4725491, Longitude: -3.6425515

Row 8317: Address: Calle de Calatrava, Madrid
Latitude: 40.4092613, Longitude: -3.7114163

Row 8318: Address: Calle de Hortaleza, Madrid, Madrid
Latitude: 40.4264227, Longitude: -3.6969068

Row 8319: No result found for address: Calle de N��ez de Arce, Madrid

Row 8320: Address: Calle del Carmen, Madrid
Latitude: 40.4183258, Longitude: -3.7042918

Row 8321: Address: Calle de San Vicente Ferrer, 13, Madrid
Latitude: 40.4254851, Longitude: -3.7023880315268576

Row 8322: Address: Magdalena, Madrid
Latitude: 40.41202, Longitude: -3.7017066

Row 8323: Address: Farmacia, Madrid
Latitude: 40.4636384, Longitude: -3.6988565

Row 8324: Address: DIVINO PASTOR, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8325: No result found for address: Calle San Andr�s, Madrid

Row 8326: Address: Ronda de Atocha, 20, Madrid
Latitude: 40.406498, Longitude: -3.6977696

Row 8327: Address: Calle de Mira el Sol, Madrid, 10, Madrid
Latitude: 40.4075478, Longitude: -3.7053176

Row 8328: Address: BOLSA, 14, Madrid
Latitude: 40.41436795, Longitude: -3.707706161111111

Row 8329: Address: Ronda de Segovia, 53, Madrid
Latitude: 40.410687, Longitude: -3.7180365

Row 8330: No result found for address: Plaza del Cord�n, Madrid

Row 8331: Address: Calle Fuencarral , 77, Madrid
Latitude: 40.4251837, Longitude: -3.7013245

Row 8332: Address: Calle Churruca, 14, Madrid
Latitude: 40.427803, Longitude: -3.700835266912144

Row 8333: Address: Corredera Alta de San Pablo, 5, Madrid
Latitude: 40.4247186, Longitude: -3.7021388

Row 8334: Address: San Bernardino, Madrid
Latitude: 33.9803334, Longitude: -117.7498045

Row 8335: Address: Calle de Fuencarral s/n, Madrid
Latitude: 40.4218831, Longitude: -3.7009642167024706

Row 8336: Address: OLIVAR, 8, Madrid
Latitude: 40.393544649999995, Longitude: -3.665524357102593

Row 8337: Address: Calle de Pizarro s/n, Madrid
Latitude: 40.4751984, Longitude: -3.7293053

Row 8338: Address: Calle del Almirante, 11, Madrid
Latitude: 40.422576, Longitude: -3.694493

Row 8339: Address: Calle de la Bola, 4, Madrid
Latitude: 40.4198376, Longitude: -3.7105593

Row 8340: Address: Calle de Juanelo, 17, Madrid
Latitude: 40.4111381, Longitude: -3.70598

Row 8341: Address: Calle del Sombrerete, 6, Madrid
Latitude: 19.3386613, Longitude: -99.0036553

Row 8342: No result found for address: Calle de Ministriles, 3, Madrid

Row 8343: No result found for address: San Barbieri, Madrid

Row 8344: Address: Calle de Atocha, 26, Madrid
Latitude: 40.4135618, Longitude: -3.7020268

Row 8345: Address: Calle Irlandeses, Madrid
Latitude: 40.4096198, Longitude: -3.7103549

Row 8346: Error geocoding address 'Calle de Mira el R�o Baja, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Mira+el+R%EF%BF%BDo+Baja%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8347: No result found for address: Calle Desenga�o, 12, Madrid

Row 8348: No result found for address: Calle de V�ctor Hugo, Madrid

Row 8349: Address: Calle de San Vicente Ferrer, 7, Madrid
Latitude: 40.4254952, Longitude: -3.7020162997199177

Row 8350: Address: De la salud, 15, Madrid
Latitude: 40.4194849, Longitude: -3.7032207

Row 8351: Address: Canalejas-Las Letras, 14, Madrid
Latitude: 40.4166207, Longitude: -3.7004373

Row 8352: Address: Calle de la Primavera, Madrid
Latitude: 40.4098843, Longitude: -3.700399

Row 8353: No result found for address: Traves�a Comadre s/n, Madrid

Row 8354: Error geocoding address 'Calle del Ave Mar�a, 27, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+del+Ave+Mar%EF%BF%BDa%2C+27%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8355: Address: Calle de Augusto Figueroa, 25, Madrid
Latitude: 40.4225571, Longitude: -3.6987479

Row 8356: Address: Calle de Atocha, 70, Madrid
Latitude: 40.4115442, Longitude: -3.6977507

Row 8357: Address: Calle de la Cava Alta, Madrid, Madrid
Latitude: 40.4115776, Longitude: -3.7105054

Row 8358: Address: Calle de Pizarro, 20, Madrid
Latitude: 40.4751984, Longitude: -3.7293053

Row 8359: Address: Calle meson de paredes, 7, Madrid
Latitude: 40.4114753, Longitude: -3.7050612

Row 8360: Address: Gravina, 22, Madrid
Latitude: 40.4225775, Longitude: -3.6961726

Row 8361: Address: Calle de Zorrilla, Madrid
Latitude: 40.4168245, Longitude: -3.6959908

Row 8362: Address: Calle de la Montera, 13, Madrid
Latitude: 40.4178074, Longitude: -3.7028173

Row 8363: Address: Calle de Gravina, 8, Madrid
Latitude: 40.4230781, Longitude: -3.6978888

Row 8364: Address: SAN HERMENEGILDO, Madrid
Latitude: 40.428333, Longitude: -3.7079615

Row 8365: No result found for address: Calle DE F�CAR, Madrid

Row 8366: Address: rollo, Madrid
Latitude: 40.4143511, Longitude: -3.7110022

Row 8367: Address: Calle de los Cabestreros, Madrid
Latitude: 40.40912, Longitude: -3.7049478

Row 8368: No result found for address: Calle San Agust�n, Madrid

Row 8369: No result found for address: Urb. BARBIERI, Madrid

Row 8370: No result found for address: Calle del Mediod�a Grande, 9, Madrid

Row 8371: Address: Calle Cabeza, 38, Madrid
Latitude: 40.3721084, Longitude: -3.6228925944320256

Row 8372: Address: Calle de la Escuadra, 13, Madrid
Latitude: 40.4098391, Longitude: -3.7002368

Row 8373: Address: Calle Farmacia, 5, Madrid
Latitude: 40.4750258, Longitude: -3.7294701

Row 8374: Address: Calle CARNERO, 4, Madrid
Latitude: 40.4082864, Longitude: -3.708467

Row 8375: Address: Calle Minas, Madrid, 22, Madrid
Latitude: 40.3368445, Longitude: -3.8149856

Row 8376: Address: Calle PELAYO, 46, Madrid
Latitude: 40.4236317, Longitude: -3.6978612

Row 8377: Address: augusto figueroa, 33, Madrid
Latitude: 40.4222731, Longitude: -3.6979039

Row 8378: Address: Calle del Conde de Romanones s/n, Madrid
Latitude: 40.4134951, Longitude: -3.7047445

Row 8379: Address: Calle Cruz Verde, 20, Madrid
Latitude: 40.5466635, Longitude: -3.3258621311096563

Row 8380: No result found for address: Calle de Concepci�n Jer�nima, 29, Madrid

Row 8381: Address: Plaza de Chueca, 8, Madrid
Latitude: 40.422776, Longitude: -3.6974201

Row 8382: Address: Casino, 16, Madrid
Latitude: 40.0555003, Longitude: -3.6022626

Row 8383: Address: Calle de Valverde, Madrid
Latitude: 40.4219276, Longitude: -3.7017886

Row 8384: Address: Calle del Humilladero, 4, Madrid
Latitude: 40.2841559, Longitude: -3.7949633

Row 8385: Address: Calle de Pelayo, 5, Madrid
Latitude: 40.4220699, Longitude: -3.6990437

Row 8386: Address: Calle Churruca, 13, Madrid
Latitude: 40.4276521, Longitude: -3.7010453

Row 8387: Address: Calle de Augusto Figueroa, 39, Madrid
Latitude: 40.4221227, Longitude: -3.69715

Row 8388: No result found for address: Calle Bernardo L�pez Garcia, 1 Bis, Madrid

Row 8389: Address: beatriz galindo, 4, Madrid
Latitude: 40.3417823, Longitude: -3.5318297

Row 8390: Address: Calle Divino Pastor, Madrid, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8391: Address: Calle de Sagasta, Madrid, Madrid
Latitude: 40.4282023, Longitude: -3.6980599

Row 8392: No result found for address: Traves�a de los Cabestreros, Madrid

Row 8393: No result found for address: Plaza del �ngel, 3, Madrid

Row 8394: Address: MADRID, Madrid
Latitude: 44.750147, Longitude: -75.130874

Row 8395: Address: Plaza de Tirso de Molina, 13, Madrid
Latitude: 40.4122362, Longitude: -3.705422

Row 8396: Address: Calle de San Ildefonso, 24, Madrid
Latitude: 40.4102304, Longitude: -3.6959404

Row 8397: Address: Calle de Toledo, 60, Madrid
Latitude: 40.4101861, Longitude: -3.7094036

Row 8398: Address: Calle Cedaceros, 3, Madrid
Latitude: 40.4180047, Longitude: -3.6985594

Row 8399: No result found for address: Calle del Marqu�s de la Ensenada, 16, Madrid

Row 8400: Address: Calle de la Amnistia, Madrid
Latitude: 40.4171089, Longitude: -3.7112662

Row 8401: Address: San Andres, Madrid
Latitude: 40.3455389, Longitude: -3.7109697

Row 8402: Address: Calle del Conde de Xiquena, Madrid
Latitude: 40.4230425, Longitude: -3.6941324

Row 8403: Address: Calle de san justo, Madrid
Latitude: 40.4140398, Longitude: -3.70934

Row 8404: Address: Calle Valencia, Madrid
Latitude: 39.164236, Longitude: -0.2448832

Row 8405: Address: Calle CONDE DE ROMANONES, Madrid
Latitude: 40.4134951, Longitude: -3.7047445

Row 8406: Address: Calle de Hortaleza, 61, Madrid
Latitude: 40.4235711, Longitude: -3.6988002

Row 8407: Address: Plaza de los Carros, 3, Madrid
Latitude: 40.4117325, Longitude: -3.7115989

Row 8408: Address: caballero de gracia, Madrid
Latitude: 40.4184331, Longitude: -3.7033076

Row 8409: Address: Calle Santa Brigida, 15, Madrid
Latitude: 40.4245153, Longitude: -3.6998664

Row 8410: Address: Calle de la Palma, 21, Madrid
Latitude: 40.4262089, Longitude: -3.7031717

Row 8411: No result found for address: Calle Concepci�n Arenal, Madrid

Row 8412: Address: cava alta s/n, Madrid
Latitude: 40.4115776, Longitude: -3.7105054

Row 8413: Address: Calle Pozas, 12, Madrid
Latitude: 40.4250395, Longitude: -3.7065909

Row 8414: Address: manzana, 15, Madrid
Latitude: 40.4239539, Longitude: -3.7084474

Row 8415: Address: Calle del Molino de Viento, 5, Madrid
Latitude: 40.4230793, Longitude: -3.7037754082149013

Row 8416: Address: Moratin, Madrid
Latitude: 40.4126283, Longitude: -3.6948867

Row 8417: Address: Calle de Sagasta, 30, Madrid
Latitude: 40.4277715, Longitude: -3.6969583

Row 8418: Address: Calle de Pelayo, 46, Madrid
Latitude: 40.4236317, Longitude: -3.6978612

Row 8419: Address: Calle Farmacia, 7, Madrid
Latitude: 40.4740678, Longitude: -3.7220396

Row 8420: Address: Calle de los Mancebos, 10, Madrid
Latitude: 40.4121236, Longitude: -3.7124334

Row 8421: Address: flor baja, Madrid
Latitude: 40.4221553, Longitude: -3.7095234

Row 8422: Address: Calle de Argensola, 25, Madrid
Latitude: 40.42644505, Longitude: -3.6942926381985908

Row 8423: Address: Calle del Amparo, 83, Madrid
Latitude: 40.4074901, Longitude: -3.7011437

Row 8424: Address: Calle de la Huerta del Bayo, 5, Madrid
Latitude: 40.4081011, Longitude: -3.7050991

Row 8425: Address: Cava de San Miguel, Madrid
Latitude: 40.415573, Longitude: -3.7089064

Row 8426: Address: Calle Miguel Moya, 4, Madrid
Latitude: 40.4207578, Longitude: -3.7054942

Row 8427: Address: Ronda de Segovia, 25, Madrid
Latitude: 40.4109537, Longitude: -3.7178626

Row 8428: No result found for address: Calle de Santa Polonia, 8, Madrid

Row 8429: Address: Calle de la Palma, 76, Madrid
Latitude: 40.4268652, Longitude: -3.7089878

Row 8430: No result found for address: Calle San Cosme y San Dami�n, 12, Madrid

Row 8431: Address: Calle de la Luna, 26, Madrid
Latitude: 40.4226844, Longitude: -3.7065695

Row 8432: Address: Costanilla de los Desamparados, 14, Madrid
Latitude: 40.412763, Longitude: -3.6965433

Row 8433: Address: Calle del Conde Duque, 1, Madrid
Latitude: 40.4296965, Longitude: -3.708944

Row 8434: Address: Calle de Alberto Aguilera, 5, Madrid
Latitude: 40.4296555, Longitude: -3.7079366

Row 8435: Address: Cava de San Miguel, 10, Madrid
Latitude: 40.415573, Longitude: -3.7089064

Row 8436: Address: Calle Velarde, 3, Madrid
Latitude: 40.4267123, Longitude: -3.7023662

Row 8437: Address: marques de cubas, Madrid
Latitude: 40.4187547, Longitude: -3.6956531

Row 8438: No result found for address: Calle Marqu�s de Cubas, Madrid

Row 8439: Address: Calle Minas, Madrid
Latitude: 40.8550434, Longitude: -3.5385332

Row 8440: No result found for address: Calle Jes�s y Mar�a, Madrid

Row 8441: No result found for address: Plaza de espa�a, Madrid

Row 8442: Address: Calle Provisiones, 8, Madrid
Latitude: 40.4074475, Longitude: -3.7018559

Row 8443: Address: Calle Casto Plasencia, 17 -1, Madrid
Latitude: 40.4242386, Longitude: -3.7051736

Row 8444: No result found for address: Calle del Pr�ncipe, 16, Madrid

Row 8445: Address: Calle Toledo, 87, Madrid
Latitude: 40.6472664, Longitude: -3.4048931

Row 8446: Address: Argumosa, 8, Madrid
Latitude: 40.4081359, Longitude: -3.6994368

Row 8447: Address: Calle de la Torrecilla del Leal, Madrid
Latitude: 40.4107338, Longitude: -3.6994554

Row 8448: Address: Calle del Pez s/n, Madrid
Latitude: 40.4237699, Longitude: -3.7053919

Row 8449: Address: Cuesta de Santo Domingo, Madrid
Latitude: 40.419772, Longitude: -3.7087228

Row 8450: Address: Calle de Mira el Sol, Madrid
Latitude: 40.4077309, Longitude: -3.7047875

Row 8451: Address: Calle de Valencia, 28, Madrid
Latitude: 40.4065457, Longitude: -3.6998662

Row 8452: Error geocoding address 'Gran V�a de San Francisco, 9, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Gran+V%EF%BF%BDa+de+San+Francisco%2C+9%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8453: No result found for address: Calle de Morat�n, 4, Madrid

Row 8454: Address: Calle del Gobernador, 11, Madrid
Latitude: 40.411774750000006, Longitude: -3.695937567550655

Row 8455: Address: Bailen, Madrid
Latitude: 40.4202132, Longitude: -3.7128154

Row 8456: No result found for address: Luis de G�ngora, Madrid

Row 8457: Address: Calle del Barquillo, Madrid
Latitude: 40.4218555, Longitude: -3.6956546

Row 8458: Address: primavera, Madrid
Latitude: -33.5769244, Longitude: -70.6727635

Row 8459: Address: Calle Don Felipe, 11, Madrid
Latitude: 40.4244763, Longitude: -3.7025097

Row 8460: Address: Calle del Almirante, Madrid
Latitude: 40.4224424, Longitude: -3.6918723

Row 8461: Address: Noblejas, Madrid
Latitude: 40.4286476, Longitude: -3.6328626

Row 8462: Address: Calle de Don Pedro, Madrid
Latitude: 40.4117556, Longitude: -3.7135648

Row 8463: Address: Calle de las Infantas, Madrid, Madrid
Latitude: 40.4211489, Longitude: -3.7011638

Row 8464: Address: Calle Velarde, Madrid, Madrid
Latitude: 40.4266876, Longitude: -3.701702

Row 8465: Address: Costanilla de Santiago s/n, Madrid
Latitude: 40.4163089, Longitude: -3.7088597

Row 8466: Address: Calle de Argumosa, 10, Madrid
Latitude: 40.4081135, Longitude: -3.6992934

Row 8467: Address: Calle de Santa Ana, Madrid
Latitude: 40.409488, Longitude: -3.7089421

Row 8468: Address: Doctor Fourquet, Madrid
Latitude: 40.4122031, Longitude: -3.6937533

Row 8469: Address: Calle Infantas, Madrid
Latitude: 40.4211489, Longitude: -3.7011638

Row 8470: Address: Calle del Sacramento, Madrid
Latitude: 40.4149664, Longitude: -3.7124095

Row 8471: Address: SANCHEZ BUSTILLO, Madrid
Latitude: 40.4090442, Longitude: -3.6937824

Row 8472: Address: Calle de la Colegiata, Madrid, Madrid
Latitude: 40.4131667, Longitude: -3.7069016

Row 8473: Address: Calle del Humilladero, 15, Madrid
Latitude: 40.2842375, Longitude: -3.7960996

Row 8474: No result found for address: Plaza de la Morer�a, 2, Madrid

Row 8475: Address: Atocha, 21, Madrid
Latitude: 40.4140522, Longitude: -3.7030404

Row 8476: Address: BARBIERI, Madrid
Latitude: 40.4221689, Longitude: -3.6977371

Row 8477: Address: de la esperanza, Madrid
Latitude: 4.8416535, Longitude: -74.19360224606713

Row 8478: Address: Calle de Tudescos, 28004, Madrid
Latitude: 40.4210909, Longitude: -3.7056089

Row 8479: Address: Calle Divino Pastor, 28004, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8480: No result found for address: Calle de Morat�n, Madrid

Row 8481: Address: corredera alta de san pablo, Madrid
Latitude: 40.4249468, Longitude: -3.7019986

Row 8482: No result found for address: Calle Bail�n, Madrid

Row 8483: No result found for address: Calle Jes�s del Valle, 5, Madrid

Row 8484: Address: Calle de los Estudios, Madrid
Latitude: 40.41201, Longitude: -3.7073245

Row 8485: Error geocoding address 'Calle de San Mill�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+San+Mill%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8486: No result found for address: Calle de Jes�s y Mar�a, Madrid

Row 8487: Address: Jesus y Maria, Madrid
Latitude: 40.4121225, Longitude: -3.7045599

Row 8488: Address: Calle de Zorrilla, 29, Madrid
Latitude: 40.4168245, Longitude: -3.6959908

Row 8489: Address: Calle de la Palma, 63, Madrid
Latitude: 40.4266848, Longitude: -3.7078705

Row 8490: Address: Belen, 6, Madrid
Latitude: -27.6428165, Longitude: -65.0379796

Row 8491: Address: Calle Tirso de Molina, 18, Madrid
Latitude: 40.5494389, Longitude: -4.01067382329287

Row 8492: No result found for address: Calle �ngel, Madrid, 8, Madrid

Row 8493: No result found for address: Calle de V�ctor Hugo, Madrid, Madrid

Row 8494: Address: Plaza de San Miguel, Madrid
Latitude: 40.4157141, Longitude: -3.7094527

Row 8495: Address: CHURRUCA, 2, Madrid
Latitude: 40.4266697, Longitude: -3.7005414

Row 8496: Address: Buenavista, Madrid
Latitude: 40.3682912, Longitude: -3.7439776

Row 8497: Address: De la salud, Madrid
Latitude: 40.47510805, Longitude: -3.6453373024626146

Row 8498: Address: Calle Apodaca, Madrid
Latitude: 40.4272966, Longitude: -3.7007403

Row 8499: Address: Calle de las Hileras, Madrid
Latitude: 40.4179792, Longitude: -3.7074056

Row 8500: Address: Calle del prado, Madrid
Latitude: 40.4149415, Longitude: -3.6984628

Row 8501: No result found for address: Plaza de la Marina Espa�ola, Madrid

Row 8502: No result found for address: Calle Carrranza, 15, Madrid

Row 8503: Address: Calle de Lope de Vega, Madrid
Latitude: 40.4136312, Longitude: -3.6956241

Row 8504: No result found for address: Calle Jes�s del Valle, 31, Madrid

Row 8505: Address: MALLORCA, 9, Madrid
Latitude: 40.4067441, Longitude: -3.697856

Row 8506: Address: HUERTA DEL BAYO, 7, Madrid
Latitude: 40.4079422, Longitude: -3.7053891

Row 8507: No result found for address: Calle de Santa Br�gida, 2, Madrid

Row 8508: Address: Calle de Fuencarral, 70, Madrid
Latitude: 40.4246837, Longitude: -3.7006094

Row 8509: Address: Plaza de Ramales s/n, Madrid
Latitude: 40.4169533, Longitude: -3.7116180001053642

Row 8510: Address: Cava de San Miguel, Madrid, 6, Madrid
Latitude: 40.415573, Longitude: -3.7089064

Row 8511: No result found for address: Calle de Santa Luc�a, Madrid

Row 8512: Address: Calle de Ruiz, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8513: Address: Calle Toledo, Madrid
Latitude: 40.0839926, Longitude: -3.8758915

Row 8514: Address: Calle de la Luna, Madrid
Latitude: 40.4221425, Longitude: -3.7057814

Row 8515: Address: Ventura de la Vega, Madrid
Latitude: 40.4151752, Longitude: -3.6989846

Row 8516: No result found for address: churuca, 14, Madrid

Row 8517: Address: Calle de las Huertas s/n, Madrid
Latitude: 40.4134769, Longitude: -3.6981655

Row 8518: Address: Calle de Hortaleza, 80, Madrid
Latitude: 40.4235816, Longitude: -3.69864

Row 8519: Address: Calle del Divino Pastor, 18, Madrid
Latitude: 40.4276412, Longitude: -3.7039488

Row 8520: Address: Calle Olivar, 9, Madrid
Latitude: 40.411163, Longitude: -3.7016845

Row 8521: Address: Calle del Espino, Madrid
Latitude: 40.4068143, Longitude: -3.7012518

Row 8522: No result found for address: Ca�os del Peral, 7, Madrid

Row 8523: Address: Calle de la Flor Alta, Madrid
Latitude: 40.4216253, Longitude: -3.7077519

Row 8524: Address: Calle Piamonte, Madrid, Madrid
Latitude: 40.4230961, Longitude: -3.6955759

Row 8525: Address: Calle Salitre, Madrid, Madrid
Latitude: 40.4089325, Longitude: -3.6991944

Row 8526: Address: Calle de la Bola, Madrid
Latitude: 40.4203757, Longitude: -3.7098169

Row 8527: Address: Calle Encomienda, Madrid, Madrid
Latitude: 40.3958626, Longitude: -3.6328219

Row 8528: Address: Calle de San Nicolas, Madrid
Latitude: 40.4157829, Longitude: -3.7120621

Row 8529: Address: Calle de Santiago, Madrid
Latitude: 40.4165395, Longitude: -3.7106447

Row 8530: Address: Calle reloj, Madrid
Latitude: 40.4212804, Longitude: -3.7113384

Row 8531: Address: Calle del Tesoro, 21, Madrid
Latitude: 40.4250084, Longitude: -3.7054377

Row 8532: No result found for address: churr, 14, Madrid

Row 8533: Address: TRUJILLOS, 7, Madrid
Latitude: 40.418605, Longitude: -3.7075016

Row 8534: Address: Huertas, Madrid
Latitude: 40.4132746, Longitude: -3.6970259

Row 8535: Address: Corredera Baja de San Pablo, 5, Madrid
Latitude: 40.4217995, Longitude: -3.7047144

Row 8536: Address: Calle de las Maldonadas, 5, Madrid
Latitude: 40.41082215, Longitude: -3.7079720654041832

Row 8537: Address: Calle ESCALINATA, Madrid
Latitude: 40.4174971, Longitude: -3.7093986

Row 8538: Address: Calle san ildefonso, Madrid
Latitude: 40.36893, Longitude: -3.6239053

Row 8539: Address: Calle de San Ildefonso, Madrid, Madrid
Latitude: 40.4103178, Longitude: -3.69604

Row 8540: Address: HORTALEZA, Madrid
Latitude: 40.4725491, Longitude: -3.6425515

Row 8541: Address: Calle Salitre, 18, Madrid
Latitude: 40.4097158, Longitude: -3.6982699

Row 8542: Address: orellana, Madrid
Latitude: 40.4255055, Longitude: -3.6922109

Row 8543: Address: CONDE DUQUE, 44, Madrid
Latitude: 40.4292041, Longitude: -3.7091078

Row 8544: Address: Calle de la Esperanza, Madrid
Latitude: 40.4102, Longitude: -3.7003718

Row 8545: Address: Gravina, Madrid
Latitude: 40.4229339, Longitude: -3.6973759

Row 8546: Address: Ronda de Valencia, Madrid
Latitude: 40.4051504, Longitude: -3.7019247

Row 8547: Address: San Cayetano, Madrid
Latitude: 40.4342635, Longitude: -3.670183907527707

Row 8548: No result found for address: Pasadizo de San Gin�s, Madrid

Row 8549: Address: Costanilla de san pedro, Madrid
Latitude: 40.4127365, Longitude: -3.7106597

Row 8550: No result found for address: Calle de Santa Br�gida, Madrid

Row 8551: No result found for address: Calle de Fray Ceferino Gonz�lez, 9, Madrid

Row 8552: Address: CARLOS ARNICHES, Madrid
Latitude: 40.4079961, Longitude: -3.7084392

Row 8553: Address: Calle CADIZ, Madrid
Latitude: 36.7144918, Longitude: -6.0849238

Row 8554: Address: Calle de la Puebla, Madrid, Madrid
Latitude: 40.422261, Longitude: -3.7036164

Row 8555: No result found for address: Calle del Mes�n de Paredes, Madrid, Madrid

Row 8556: Address: Ronda valencia, Madrid
Latitude: 40.4051504, Longitude: -3.7019247

Row 8557: Address: salitre, Madrid
Latitude: 40.4089325, Longitude: -3.6991944

Row 8558: Address: Amparo, Madrid
Latitude: 40.4044667, Longitude: -3.6435336

Row 8559: Address: PELAYO, Madrid
Latitude: 40.3933939, Longitude: -3.7152121

Row 8560: Address: San Marcos, Madrid
Latitude: 40.4330671, Longitude: -3.7126238

Row 8561: Address: Calle Churruca s/n, Madrid
Latitude: 40.427378, Longitude: -3.7008764

Row 8562: Address: San Roque, 16, Madrid
Latitude: 40.7001974, Longitude: -3.5208253

Row 8563: Error geocoding address 'Calle de Pe�a de Francia, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Pe%EF%BF%BDa+de+Francia%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8564: Address: Calle de San Lorenzo, Madrid
Latitude: 40.4252599, Longitude: -3.6994346

Row 8565: Address: Calle Amor de Dios, Madrid
Latitude: 40.413157, Longitude: -3.6982733

Row 8566: Address: san lorenzo, Madrid
Latitude: 40.4745618, Longitude: -3.6396107

Row 8567: Address: Calle de Embajadores, 45, Madrid
Latitude: 40.4070716, Longitude: -3.7036514

Row 8568: Address: San Gregorio, Madrid
Latitude: 4.7710305, Longitude: -74.2625063

Row 8569: Address: Calle Libertad, Madrid
Latitude: 23.7852442, Longitude: -97.7553687

Row 8570: Address: Paseo DE RECOLETOS s/n, Madrid
Latitude: 40.4218837, Longitude: -3.6918609

Row 8571: Address: Calle Leganitos, 27, Madrid
Latitude: 40.4218999, Longitude: -3.7103685

Row 8572: Address: Calle de la Bolsa, Madrid
Latitude: 40.4149608, Longitude: -3.704955

Row 8573: Address: Calle de los Madrazo, Madrid
Latitude: 40.4176158, Longitude: -3.6970974

Row 8574: Address: Calle de San Vicente Ferrer, 12, Madrid
Latitude: 40.4262002, Longitude: -3.708378

Row 8575: Address: Calle de Gravina, 17, Madrid
Latitude: 40.4228629, Longitude: -3.6970058

Row 8576: Error geocoding address 'Calle de la Palma s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+la+Palma+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8577: Address: Calle de las Aguas, 10, Madrid
Latitude: 40.4108513, Longitude: -3.7122907

Row 8578: No result found for address: Calle �guila, Madrid

Row 8579: Address: SOMBRERERIA, Madrid
Latitude: 40.4079244, Longitude: -3.6981888

Row 8580: Address: Barbieri, Madrid
Latitude: 40.4221689, Longitude: -3.6977371

Row 8581: Address: Calle de Embajadores, Madrid, 19, Madrid
Latitude: 40.4092063, Longitude: -3.7054547

Row 8582: Address: Calle Jerte, 6, Madrid
Latitude: 40.4110811, Longitude: -3.7151424

Row 8583: Address: Calle de Fuencarral, 92, Madrid
Latitude: 40.4273089, Longitude: -3.701582

Row 8584: Address: Calle de Embajadores, 50, Madrid
Latitude: 40.4082602, Longitude: -3.7047196

Row 8585: Address: Calle Carretas, Madrid
Latitude: 40.41563055, Longitude: -3.703230222540091

Row 8586: Address: Plaza de Tirso de Molina, Madrid
Latitude: 40.412302499999996, Longitude: -3.7045282415781924

Row 8587: Address: Calle de Jacometrezo, Madrid
Latitude: 40.4202326, Longitude: -3.7079508

Row 8588: Address: SOMBRERERIA, 24, Madrid
Latitude: 40.4078575, Longitude: -3.6982919

Row 8589: Address: san marcos, Madrid
Latitude: 40.4330671, Longitude: -3.7126238

Row 8590: Address: Amparo s/n, Madrid
Latitude: 40.4090377, Longitude: -3.7025752

Row 8591: No result found for address: Calle del Marqu�s de Cubas, Madrid, 25, Madrid

Row 8592: Address: Calle de Santa Isabel, 6, Madrid
Latitude: 40.4120472, Longitude: -3.6995768

Row 8593: No result found for address: Calle de Bernardo L�pez Garc�a, Madrid

Row 8594: No result found for address: ca�izares, 12, Madrid

Row 8595: Address: Calle Lope de Vega, Madrid
Latitude: 40.1442517, Longitude: -3.9175918

Row 8596: Address: Urb. Centro, Madrid
Latitude: -0.2302875, Longitude: -78.4403253

Row 8597: No result found for address: P�rez Gald�s, Madrid

Row 8598: Address: Calle de Fernanflor, 6, Madrid
Latitude: 40.4159462, Longitude: -3.6963845

Row 8599: Address: Paseo de Recoletos, 21, Madrid
Latitude: 40.4222882, Longitude: -3.6922994

Row 8600: Address: Via GRAN, Madrid
Latitude: 40.4201795, Longitude: -3.7039144

Row 8601: Address: salud, Madrid
Latitude: 40.4089447, Longitude: -3.6562835

Row 8602: Address: Calle de San Bernardo, 84, Madrid
Latitude: 40.4286082, Longitude: -3.7059251

Row 8603: Address: Calle de Fuencarral, 35, Madrid
Latitude: 40.4223624, Longitude: -3.7009367

Row 8604: Address: Santa Isabel, Madrid
Latitude: 40.4104968, Longitude: -3.6979978

Row 8605: Address: angel, 9, Madrid
Latitude: 40.431243, Longitude: -3.6565018

Row 8606: Address: Calle de Ventura de la Vega, 13, Madrid
Latitude: 40.4153709, Longitude: -3.6989014

Row 8607: Address: Calle de la Cava Alta, Madrid
Latitude: 40.4115776, Longitude: -3.7105054

Row 8608: Address: Calle de las Veneras, 7, Madrid
Latitude: 40.4194578, Longitude: -3.7076176

Row 8609: Address: Calle del Olivar, 18, Madrid
Latitude: 40.4110516, Longitude: -3.7017856

Row 8610: No result found for address: Calle de Preciados, 35, Madrid

Row 8611: Address: Calle de Regueros, Madrid
Latitude: 40.4250011, Longitude: -3.6959572

Row 8612: Address: Calle de Barcelona, Madrid
Latitude: 40.4157539, Longitude: -3.7025982

Row 8613: No result found for address: Calle de los Relatores, Madrid

Row 8614: Address: Calle de Augusto Figueroa, 14, Madrid
Latitude: 40.4226403, Longitude: -3.6991855

Row 8615: Address: Costanilla de Santiago, 2, Madrid
Latitude: 40.4163296, Longitude: -3.7089582

Row 8616: Address: Calle Churruca, 16, Madrid
Latitude: 40.427378, Longitude: -3.7008764

Row 8617: Address: Calle del Olmo, 3, Madrid
Latitude: 40.4115535, Longitude: -3.7014102

Row 8618: Address: Calle de Echegaray, 10, Madrid
Latitude: 40.4156501, Longitude: -3.6997733230792287

Row 8619: Address: San Nicolas, Madrid
Latitude: 40.3630183, Longitude: -3.7745721323726538

Row 8620: Address: Calle de Vergara, 1, Madrid
Latitude: 40.4178118, Longitude: -3.7101474

Row 8621: Address: Calle del Sacramento, 10, Madrid
Latitude: 40.4148831, Longitude: -3.7116431

Row 8622: Address: Calle de Fernando VI, 19, Madrid
Latitude: 40.4259731, Longitude: -3.6971958

Row 8623: No result found for address: Calle Santa B�rbara, Madrid

Row 8624: Address: Plaza de Santo Domingo, 7, Madrid
Latitude: 40.420003699999995, Longitude: -3.7086054878361954

Row 8625: Address: Mallorca, 4, Madrid
Latitude: 40.4070908, Longitude: -3.6979907

Row 8626: Address: Calle MAYOR, Madrid
Latitude: 40.4165225, Longitude: -3.7049261

Row 8627: No result found for address: Calle del Mediod�a Chica, Madrid

Row 8628: Address: Costanilla de Capuchinos, Madrid
Latitude: 40.4214738, Longitude: -3.6995676

Row 8629: Address: Calle de las Navas de Tolosa, Madrid
Latitude: 40.4191818, Longitude: -3.7067834

Row 8630: Address: Calle del Reloj, Madrid
Latitude: 40.4212804, Longitude: -3.7113384

Row 8631: Address: Calle ATOCHA, Madrid
Latitude: 40.412549, Longitude: -3.6994409

Row 8632: Address: Calle Justiniano, Madrid
Latitude: 40.4263548, Longitude: -3.6947913

Row 8633: Address: Calle de la Farmacia, 7, Madrid
Latitude: 40.4239401, Longitude: -3.6997382

Row 8634: Address: Calle de la Magdalena, Madrid
Latitude: 40.4123509, Longitude: -3.6992796

Row 8635: No result found for address: Costanilla de los �ngeles, 15, Madrid

Row 8636: No result found for address: Calle B�rbara de Braganza, 12, Madrid

Row 8637: Address: Calle de la Rosa, Madrid
Latitude: 40.4118092, Longitude: -3.7002354

Row 8638: Address: Carrera de San Francisco, Madrid
Latitude: 40.4106812, Longitude: -3.713626

Row 8639: Address: Plaza Mostenses, 9, Madrid
Latitude: 40.423521449999996, Longitude: -3.708837932608691

Row 8640: Address: argensola, Madrid
Latitude: 40.4261113, Longitude: -3.6942911

Row 8641: No result found for address: Calle de Marqu�s de Santa Ana, Madrid

Row 8642: Address: Calle CALATRAVA, Madrid
Latitude: 40.410339, Longitude: -3.7136056

Row 8643: Address: Plaza de Jacinto Benavente, 1, Madrid
Latitude: 40.4144807, Longitude: -3.7035436244656923

Row 8644: No result found for address: Calle de �guila, Madrid

Row 8645: Address: Calle LAVAPIES, Madrid
Latitude: 40.4096391, Longitude: -3.7022064

Row 8646: Address: Plaza DE LAVAPIES, Madrid
Latitude: 40.40876035, Longitude: -3.7011310653563037

Row 8647: Address: Calle SAN BERNARDINO, Madrid
Latitude: 40.4251465, Longitude: -3.7102944

Row 8648: Address: Puerta de Toledo, Madrid
Latitude: 40.4070507, Longitude: -3.7110664

Row 8649: Address: Calle Espejo, Madrid, Madrid
Latitude: 40.4170555, Longitude: -3.7096894

Row 8650: Address: Calle Doctor Piga, Madrid
Latitude: 40.4087317, Longitude: -3.6988318

Row 8651: Address: Calle de Trujillos, Madrid
Latitude: 40.4186701, Longitude: -3.7074364

Row 8652: No result found for address: DESENGA�O, 22, Madrid

Row 8653: Address: Calle de Hortaleza, 82, Madrid
Latitude: 40.4236111, Longitude: -3.6986273

Row 8654: Address: amparo, 58, Madrid
Latitude: 40.40848, Longitude: -3.7021275

Row 8655: Address: JUANELO, Madrid
Latitude: 40.4111759, Longitude: -3.7060748

Row 8656: Address: Calle del Humilladero, Madrid
Latitude: 40.2841051, Longitude: -3.7951522

Row 8657: Address: Calle de la Cruzada, 1, Madrid
Latitude: 40.4164031, Longitude: -3.7113796

Row 8658: Address: Calle de Postas, 16, Madrid
Latitude: 40.4159201, Longitude: -3.7060222

Row 8659: No result found for address: Traves�a de las Pozas, Madrid

Row 8660: No result found for address: Calle N��ez de Arce, 15, Madrid

Row 8661: Address: Calle del Espejo, 12, Madrid
Latitude: 40.4172021, Longitude: -3.7096856

Row 8662: Address: Aguas, Madrid
Latitude: 40.41832855, Longitude: -3.712088037162162

Row 8663: Address: Calle San Leonardo, Madrid
Latitude: 40.4244525, Longitude: -3.711575

Row 8664: No result found for address: Calle de Mu�oz Torrero, Madrid

Row 8665: Error geocoding address 'Via Gran V�a, 68, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Via+Gran+V%EF%BF%BDa%2C+68%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8666: Address: sombrereria, Madrid
Latitude: 40.4079244, Longitude: -3.6981888

Row 8667: Address: Calle de la Salud, Madrid
Latitude: 40.4186955, Longitude: -3.7038743

Row 8668: Address: Calle de la Huerta del Bayo, Madrid
Latitude: 40.407907, Longitude: -3.7055174

Row 8669: Address: Calle de Leganitos, Madrid
Latitude: 40.4215003, Longitude: -3.710021

Row 8670: No result found for address: Calle de Calder�n de la Barca, Madrid

Row 8671: Address: Calle Bailen, Madrid
Latitude: 40.4202132, Longitude: -3.7128154

Row 8672: Address: Calle Hortaleza, Madrid
Latitude: 40.4264227, Longitude: -3.6969068

Row 8673: Address: Infante, Madrid
Latitude: 40.43296665, Longitude: -3.7221978798764246

Row 8674: Address: Calle Angel, Madrid
Latitude: 40.3773443, Longitude: -4.2151397

Row 8675: Address: Calle Segovia, Madrid
Latitude: 40.3938656, Longitude: -3.7746741

Row 8676: No result found for address: Calle del Desenga�o, Madrid

Row 8677: No result found for address: Calle de Jes�s, Madrid

Row 8678: Address: DOCTOR PIGA, Madrid
Latitude: 40.4122031, Longitude: -3.6937533

Row 8679: No result found for address: Calle de San Andr�s, Madrid

Row 8680: Address: Calle de San Bernardo, 86, Madrid
Latitude: 40.42873, Longitude: -3.7058961

Row 8681: Address: Pizarro, 19, Madrid
Latitude: 40.4235673, Longitude: -3.7055848

Row 8682: Address: Calle de Atocha, 75, Madrid
Latitude: 40.4121381, Longitude: -3.6984418

Row 8683: No result found for address: Costanilla de San Andr�s, Madrid

Row 8684: Address: segovia, 7, Madrid
Latitude: 40.4055119, Longitude: -3.7187689677961173

Row 8685: Address: Calle Embajadores, Madrid
Latitude: 40.4033967, Longitude: -3.7011978

Row 8686: Address: Calle Humilladero, Madrid
Latitude: 40.410879, Longitude: -3.7104454

Row 8687: Address: Calle Rodas, Madrid
Latitude: 40.4081825, Longitude: -3.7061259

Row 8688: Address: Calle del Duque de Rivas, Madrid
Latitude: 40.413865, Longitude: -3.7064128

Row 8689: Address: Calle de San Lucas, 11, Madrid
Latitude: 40.4237457, Longitude: -3.6961938

Row 8690: No result found for address: Carrera de San Jer�nimo, Madrid

Row 8691: Address: Calle de Barbieri, 20, Madrid
Latitude: 40.4216979, Longitude: -3.6978841

Row 8692: Address: Calle de las Navas de Tolosa, 9, Madrid
Latitude: 40.4190184, Longitude: -3.707335

Row 8693: Address: Calle angel, Madrid
Latitude: 40.3773443, Longitude: -4.2151397

Row 8694: No result found for address: Calle de la Sombrerer�a, Madrid

Row 8695: No result found for address: Calle de Bail�n, Madrid

Row 8696: No result found for address: Calle de Almad�n, Madrid

Row 8697: Error geocoding address 'Calle de Santa Mar�a, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Santa+Mar%EF%BF%BDa%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8698: Address: Calle Cava Baja, Madrid
Latitude: 40.4124833, Longitude: -3.7090651

Row 8699: Address: MEJIA LEQUERICA, Madrid
Latitude: 40.4282596, Longitude: -3.6993899

Row 8700: Address: Calle Jerte, Madrid
Latitude: 40.411181, Longitude: -3.7147628

Row 8701: Address: escuadra, Madrid
Latitude: 40.4098506, Longitude: -3.6998767

Row 8702: Address: Plaza de la Paja, Madrid
Latitude: 40.4129726, Longitude: -3.7115924640117006

Row 8703: Address: Calle de las Dos Hermanas, Madrid
Latitude: 40.4104088, Longitude: -3.7056826

Row 8704: Address: NAVAS DE LA TOLOSA, Madrid
Latitude: 38.2809974, Longitude: -3.5937502

Row 8705: Address: SAN BUENAVENTURA, Madrid
Latitude: 40.4112105, Longitude: -3.7146903

Row 8706: Address: Calle de Tarifa, Madrid
Latitude: 40.3845833, Longitude: -3.7318032

Row 8707: Address: Calle Duque de Sesto, Madrid
Latitude: 40.422289, Longitude: -3.6720291

Row 8708: Address: Calle de Ayala, Madrid
Latitude: 40.4277595, Longitude: -3.6849943

Row 8709: No result found for address: Calle Antonia Ruiz Soro 8 , 10, Madrid

Row 8710: No result found for address: Calle del General Pardi�as, Madrid

Row 8711: No result found for address: general pardi�as, Madrid

Row 8712: Address: Calle de Ayala, 94, Madrid
Latitude: 40.4272926, Longitude: -3.676563

Row 8713: Address: Calle de Hermosilla, Madrid
Latitude: 40.4258689, Longitude: -3.6744396

Row 8714: Address: Calle de la Fuente del Berro, Madrid
Latitude: 40.423814, Longitude: -3.6710036

Row 8715: Address: Calle Cartagena, 50, Madrid
Latitude: 40.4389753, Longitude: -3.6733207

Row 8716: Address: Calle Bristol, Madrid
Latitude: 40.4408729, Longitude: -3.6624901

Row 8717: No result found for address: Calle del Conde de Pe�alver, Madrid, 56, Madrid

Row 8718: Error geocoding address 'Calle Diego de Le�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Diego+de+Le%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8719: Address: Calle Juan de la Hoz, Madrid
Latitude: 40.4370993, Longitude: -3.6743713

Row 8720: No result found for address: Calle del General D�az Porlier, Madrid

Row 8721: Address: Calle de Jorge Juan, Madrid
Latitude: 40.4232939, Longitude: -3.6742588

Row 8722: No result found for address: Avenida de Am�rica, 10, Madrid

Row 8723: Address: Calle Jorge Juan, 93, Madrid
Latitude: 40.5417321, Longitude: -3.6258958

Row 8724: Address: Urb. Castellana, Madrid
Latitude: 40.31149, Longitude: -4.4327813

Row 8725: Address: Francisco Silvela, 65, Madrid
Latitude: 40.4351247, Longitude: -3.6753474

Row 8726: Address: Calle Rafael Juan y Seva, Madrid
Latitude: 40.4264727, Longitude: -3.6659393

Row 8727: No result found for address: Calle de N��ez de Balboa, Madrid

Row 8728: No result found for address: Calle de Alcal�, 68, Madrid

Row 8729: No result found for address: Urb. Colonia Fuente del Berro-Iturbe, Madrid

Row 8730: No result found for address: Calle de los M�rtires concepcionistas, Madrid

Row 8731: Address: Calle de Juan Bravo, Madrid
Latitude: 40.4326961, Longitude: -3.679469

Row 8732: No result found for address: N��ez de Balboa, Madrid

Row 8733: Address: Calle CARDENAL BELLUGA, Madrid
Latitude: 40.4323636, Longitude: -3.6656948

Row 8734: No result found for address: Calle N��ez de Balboa, Madrid

Row 8735: Address: Calle de Castell�, Madrid, Madrid
Latitude: 40.4554593, Longitude: -3.701146

Row 8736: Address: Ayala, Madrid
Latitude: 40.4272924, Longitude: -3.6727454

Row 8737: Address: Calle de Ayala s/n, Madrid
Latitude: 40.4271552, Longitude: -3.6725269

Row 8738: Address: Urb. Salamanca, Madrid
Latitude: 40.9484966, Longitude: -5.5775126

Row 8739: Address: Juan Bravo, Madrid
Latitude: 40.4322135, Longitude: -3.6721673

Row 8740: Address: Calle de Castell�, Madrid
Latitude: 40.4554593, Longitude: -3.701146

Row 8741: Address: Calle de Serrano, 28001, Madrid
Latitude: 40.4251068, Longitude: -3.68791

Row 8742: Address: Fuente del Berro, Madrid
Latitude: 40.424977, Longitude: -3.6636998

Row 8743: No result found for address: Calle Almer�a, Madrid

Row 8744: Address: Calle de Claudio Coello, Madrid, Madrid
Latitude: 40.4316586, Longitude: -3.6857006

Row 8745: Address: Calle de Francisco Silvela, 56, Madrid
Latitude: 40.4350836, Longitude: -3.6746889

Row 8746: No result found for address: Calle Vel�zquez, Madrid

Row 8747: Address: Calle de Bolonia, Madrid, Madrid
Latitude: 40.2388447, Longitude: -3.7590501

Row 8748: No result found for address: general pardi�as, 44, Madrid

Row 8749: No result found for address: Urb. Antonio Acu�a, Madrid

Row 8750: Address: Plaza de Basilea, Madrid
Latitude: 40.4381921, Longitude: -3.662074

Row 8751: No result found for address: Calle General Ora�, Madrid

Row 8752: Address: Avenida DE BONN, Madrid
Latitude: 40.43843, Longitude: -3.6615619

Row 8753: No result found for address: Calle del Marqu�s de Mond�jar, Madrid

Row 8754: Address: Calle Antonia Ruiz Soro, 5, Madrid
Latitude: 40.4387509, Longitude: -3.6652062

Row 8755: No result found for address: Paseo Marqu�s de Zafra, 28, Madrid

Row 8756: Address: Calle de Maldonado, Madrid
Latitude: 40.4334787, Longitude: -3.673326

Row 8757: Address: Calle Brescia, 4, Madrid
Latitude: 40.4363128, Longitude: -3.6639511

Row 8758: Address: Avenida de Bruselas, 47, Madrid
Latitude: 40.4379681, Longitude: -3.6637966678484366

Row 8759: Address: Avenida de los Toreros, 65, Madrid
Latitude: 40.4335737, Longitude: -3.662947

Row 8760: Address: Calle Antonia Ruiz Soro, 35, Madrid
Latitude: 40.4387509, Longitude: -3.6652062

Row 8761: Address: Calle de Padilla, 51, Madrid
Latitude: 40.4309733, Longitude: -3.6713967

Row 8762: No result found for address: Calle del Conde de Pe�alver, 42, Madrid

Row 8763: Address: Calle de Claudio Coello, Madrid
Latitude: 40.4316586, Longitude: -3.6857006

Row 8764: No result found for address: Calle de Vel�zquez, 45, Madrid

Row 8765: No result found for address: Calle del General Ora�, Madrid

Row 8766: Address: Avenida DE BRUSELAS, Madrid
Latitude: 40.4430593, Longitude: -3.6640601

Row 8767: No result found for address: Calle de Jos� Ortega y Gasset, Madrid

Row 8768: Address: Calle de Ayala, 158, Madrid
Latitude: 40.4269288, Longitude: -3.6690886

Row 8769: No result found for address: Calle del General Pardi�as, Madrid, Madrid

Row 8770: Address: Calle CASTELLO, Madrid
Latitude: 40.4360059, Longitude: -3.6806273

Row 8771: No result found for address: Calle del General Pardi�as, 48, Madrid

Row 8772: No result found for address: Calle de n��ez de balboa, Madrid

Row 8773: Address: Calle Francisco Silvela, Madrid
Latitude: 40.4386988, Longitude: -3.6784706

Row 8774: Address: Calle Ardemans, Madrid
Latitude: 40.4343757, Longitude: -3.672117

Row 8775: Address: Calle de Lagasca, Madrid
Latitude: 40.437842, Longitude: -3.6841723

Row 8776: Address: castell�, Madrid
Latitude: 40.41640165, Longitude: -3.6965831109198684

Row 8777: Address: Calle Cardenal Belluga, 6, Madrid
Latitude: 40.4305076, Longitude: -3.664993039190551

Row 8778: Address: Calle Espartinas, 8, Madrid
Latitude: 40.4242641, Longitude: -3.6791717

Row 8779: Address: Calle de Goya, 121, Madrid
Latitude: 40.424713, Longitude: -3.6714052

Row 8780: No result found for address: Calle de Don Ram�n de la Cruz, Madrid

Row 8781: Address: Calle de O'Donnell, 63, Madrid
Latitude: 40.4213719, Longitude: -3.6692224

Row 8782: No result found for address: Avenida de Am�rica, 46, Madrid

Row 8783: Error geocoding address 'Calle de Diego de Le�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Diego+de+Le%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8784: Address: Calle de Montesa, 43, Madrid
Latitude: 40.4304813, Longitude: -3.6721296

Row 8785: Address: Calle de Francisco Silvela, 70, Madrid
Latitude: 40.4299196, Longitude: -3.670186

Row 8786: Address: Calle de Francisco Silvela, 83, Madrid
Latitude: 40.4368483, Longitude: -3.6771321

Row 8787: No result found for address: Avenida de Camilo Jos� Cela, Madrid

Row 8788: Address: Calle de Ayala, 20, Madrid
Latitude: 40.4277822, Longitude: -3.6869908

Row 8789: Address: Avenida de Bonn, 13, Madrid
Latitude: 40.4394797, Longitude: -3.6639933

Row 8790: Address: Calle Monte de Piedad, 1, Madrid
Latitude: 40.4344413, Longitude: -3.6622653

Row 8791: No result found for address: Calle de Vel�zquez, 118, Madrid

Row 8792: No result found for address: Calle del General D�az Porlier, 26, Madrid

Row 8793: No result found for address: Avenida de Am�rica, 42, Madrid

Row 8794: Address: Avenida de Bonn, 6, Madrid
Latitude: 40.43843, Longitude: -3.6615619

Row 8795: No result found for address: Calle del Pr�ncipe de Vergara, 57, Madrid

Row 8796: Address: Calle Rufino Blanco, 20, Madrid
Latitude: 40.4268457, Longitude: -3.665798094124984

Row 8797: Address: Calle de Lagasca, Madrid, Madrid
Latitude: 40.437842, Longitude: -3.6841723

Row 8798: Error geocoding address 'Calle del Jard�n de San Federico s/n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+del+Jard%EF%BF%BDn+de+San+Federico+s%2Fn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8799: Address: Calle del Doctor Esquerdo, 41, Madrid
Latitude: 40.4240413, Longitude: -3.6684782

Row 8800: Address: VELAZQUEZ, Madrid
Latitude: 40.4251769, Longitude: -3.682539

Row 8801: Address: Calle de Cartagena, 48, Madrid
Latitude: 40.4389753, Longitude: -3.6733207

Row 8802: No result found for address: Calle Nuestra Se�ora de Guadalupe, 11, Madrid

Row 8803: No result found for address: Agust�n Dur�n, 16, Madrid

Row 8804: Address: Av. de los Toreros, Madrid
Latitude: 40.431498, Longitude: -3.661564

Row 8805: Address: Velazquez, Madrid
Latitude: 40.4251769, Longitude: -3.682539

Row 8806: No result found for address: Calle general pardi�as, Madrid

Row 8807: Address: Calle de Londres, Madrid
Latitude: 40.4316319, Longitude: -3.6672399

Row 8808: No result found for address: Calle del General Pardi�as, 78, Madrid

Row 8809: Address: ARDEMANS, 50, Madrid
Latitude: 40.4355873, Longitude: -3.6737211

Row 8810: Address: Calle de Castell�, 116, Madrid
Latitude: 40.4554593, Longitude: -3.701146

Row 8811: No result found for address: Calle del General Pardi�as, 34, Madrid

Row 8812: No result found for address: Calle de Roberto Domingo, 1, Madrid

Row 8813: No result found for address: Paseo del Marqu�s de Zafra, 3, Madrid

Row 8814: No result found for address: Calle del Conde de Pe�alver, Madrid

Row 8815: Address: Calle de Montesa, Madrid, 34, Madrid
Latitude: 40.4302782, Longitude: -3.6720591

Row 8816: No result found for address: General Pardi�as, 103, Madrid

Row 8817: Address: Calle de Lagasca, 132, Madrid
Latitude: 40.436564, Longitude: -3.6841944

Row 8818: No result found for address: Calle del Conde de Pe�alver, 6, Madrid

Row 8819: No result found for address: Calle Jes�s M�ndez, Madrid

Row 8820: Address: castello, Madrid
Latitude: 40.41640165, Longitude: -3.6965831109198684

Row 8821: No result found for address: Calle de Vel�zquez s/n, Madrid

Row 8822: No result found for address: Calle del General Pardi�as, 103, Madrid

Row 8823: No result found for address: Calle del Pilar de Zaragoza, Madrid

Row 8824: No result found for address: Paseo Marqu�s de Zafra s/n, Madrid

Row 8825: Address: Calle de Claudio Coello s/n, Madrid
Latitude: 40.4316586, Longitude: -3.6857006

Row 8826: No result found for address: Calle de Agustina de Arag�n s/n, Madrid

Row 8827: Address: Maria de Molina, 30, Madrid
Latitude: 40.4374733, Longitude: -3.6785947

Row 8828: No result found for address: Nuestra Se�ora de Guadalupe, Madrid

Row 8829: Address: Calle Pedro Heredia, 5, Madrid
Latitude: 40.4285127, Longitude: -3.666080424916826

Row 8830: Error geocoding address 'Calle de Don Ram�n de la Cruz, 48, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Don+Ram%EF%BF%BDn+de+la+Cruz%2C+48%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8831: Address: Calle de Goya, Madrid
Latitude: 40.4248616, Longitude: -3.6772376

Row 8832: No result found for address: General Pardi�as, Madrid

Row 8833: No result found for address: Calle ALC�NTARA, Madrid

Row 8834: No result found for address: Calle de Alc�ntara, Madrid

Row 8835: Address: Calle de O'Donnell, 15, Madrid
Latitude: 40.4218328, Longitude: -3.6790218

Row 8836: No result found for address: Calle de Mart�nez Izquierdo, 86, Madrid

Row 8837: Address: Calle Jorge Juan, 53, Madrid
Latitude: 40.5417321, Longitude: -3.6258958

Row 8838: Address: Iriarte, Madrid
Latitude: 40.4372029, Longitude: -3.6718458

Row 8839: Address: Calle de Ayala, 154, Madrid
Latitude: 40.4269567, Longitude: -3.6696296

Row 8840: No result found for address: GENERAL PARDI�AS, Madrid

Row 8841: Address: Calle de Padilla, 4, Madrid
Latitude: 40.4316265, Longitude: -3.686338

Row 8842: Address: Avenida de los Toreros, Madrid
Latitude: 40.431498, Longitude: -3.661564

Row 8843: Address: Calle Rafaela Bonilla, 4, Madrid
Latitude: 40.4337773, Longitude: -3.6673545

Row 8844: No result found for address: Calle de N��ez de Balboa, 42, Madrid

Row 8845: Address: Calle Duque de Sesto, 34, Madrid
Latitude: 40.4224265, Longitude: -3.6761609

Row 8846: Address: Calle de Francisco Silvela, 69, Madrid
Latitude: 40.4354045, Longitude: -3.675635

Row 8847: No result found for address: Calle de N��ez de Balboa, 117, Madrid

Row 8848: Address: Calle de Elvira, 22, Madrid
Latitude: 40.4051446, Longitude: -3.6614684

Row 8849: No result found for address: Calle de Agust�n Dur�n, 16, Madrid

Row 8850: Address: Calle Iriarte, Madrid, 5, Madrid
Latitude: 40.4364502, Longitude: -3.6708904

Row 8851: Address: Calle Ayala, 21, Madrid
Latitude: 40.4278652, Longitude: -3.6854889

Row 8852: No result found for address: Calle de Espartinas, Madrid

Row 8853: Address: Calle de Lagasca, 136, Madrid
Latitude: 40.4368161, Longitude: -3.6841767

Row 8854: No result found for address: Calle de Boc�ngel, Madrid, 42, Madrid

Row 8855: Address: Calle Francisco Navacerrada, Madrid, Madrid
Latitude: 40.4312735, Longitude: -3.667291

Row 8856: Address: Avenida Felipe II, 30, Madrid
Latitude: 40.4242, Longitude: -3.6766693

Row 8857: Address: Calle Rafael Juan y Seva, 6, Madrid
Latitude: 40.42648755, Longitude: -3.6656572104737917

Row 8858: Address: Calle Rufino Blanco, Madrid
Latitude: 40.4274206, Longitude: -3.6660664

Row 8859: Address: Plaza de Manuel Becerra, Madrid
Latitude: 40.4284004, Longitude: -3.6688918

Row 8860: No result found for address: Calle del Pilar de Zaragoza, 98, Madrid

Row 8861: Address: Calle ALCALA, Madrid
Latitude: 40.4206967, Longitude: -3.6851451

Row 8862: Error geocoding address 'Calle de Don Ram�n de la Cruz, Madrid, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Don+Ram%EF%BF%BDn+de+la+Cruz%2C+Madrid%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8863: Address: Alcala, Madrid
Latitude: 4.72848925, Longitude: -74.25611802000097

Row 8864: No result found for address: Calle Marqu�s de Monteagudo, Madrid, Madrid

Row 8865: No result found for address: Calle de jos� ortega y gasset, Madrid

Row 8866: No result found for address: Calle de Fern�n Gonzalez, 21, Madrid

Row 8867: Address: Hermosilla, 70, Madrid
Latitude: 40.4260143, Longitude: -3.6788003

Row 8868: No result found for address: Calle del General Pardi�as, 13, Madrid

Row 8869: Address: Ferrer del Rio, 5, Madrid
Latitude: 40.4341554, Longitude: -3.6725002

Row 8870: No result found for address: Calle del Pr�ncipe de Vergara, 25, Madrid

Row 8871: Address: Avenida de Bruselas, Madrid
Latitude: 40.4430593, Longitude: -3.6640601

Row 8872: No result found for address: Calle de Brescia, 7, Madrid

Row 8873: Address: Calle de Padilla, Madrid
Latitude: 40.4309733, Longitude: -3.6713967

Row 8874: Address: Calle francisco Silvela, 80, Madrid
Latitude: 40.4299196, Longitude: -3.670186

Row 8875: No result found for address: Nu�ez de Balboa, 12, Madrid

Row 8876: No result found for address: Calle del Pr�ncipe de Vergara, 44, Madrid

Row 8877: Address: Francisco Silvela, 26, Madrid
Latitude: 40.4299196, Longitude: -3.670186

Row 8878: No result found for address: N��ez de Balboa, 108, Madrid

Row 8879: No result found for address: Calle de Mart�nez Izquierdo, Madrid

Row 8880: Address: Calle de la Povedilla, Madrid
Latitude: 40.4237082, Longitude: -3.6690009

Row 8881: Address: Calle Claudio Coello, Madrid
Latitude: 40.4316586, Longitude: -3.6857006

Row 8882: No result found for address: Calle General Ora� , 67, Madrid

Row 8883: Address: Bocangel, 42, Madrid
Latitude: 40.42573435, Longitude: -3.6630995079415865

Row 8884: Address: Calle de Francisco Navacerrada, Madrid
Latitude: 40.4312735, Longitude: -3.667291

Row 8885: No result found for address: Calle Agust�n Dur�n, Madrid, Madrid

Row 8886: No result found for address: Calle de Mercedes F�rmica, Madrid

Row 8887: Address: Calle Francisca Moreno, Madrid
Latitude: 40.4239371, Longitude: -3.677952

Row 8888: Address: Calle Goya, Madrid
Latitude: 40.4248616, Longitude: -3.6772376

Row 8889: No result found for address: Calle de Boc�ngel, Madrid

Row 8890: Address: Calle Francisco Navacerrada, Madrid
Latitude: 40.5496351, Longitude: -3.6294232

Row 8891: Address: Castellana-Salamanca, Madrid
Latitude: 40.4333241, Longitude: -3.6841316

Row 8892: Address: Calle de Juan Bravo, 59, Madrid
Latitude: 40.4325206, Longitude: -3.6744861

Row 8893: Address: general diaz porlier, Madrid
Latitude: 40.4247914, Longitude: -3.6774966

Row 8894: No result found for address: Calle de Sancho D�vila, Madrid

Row 8895: Address: Calle Pedro Heredia s/n, Madrid
Latitude: 40.429098, Longitude: -3.6645347

Row 8896: Address: Goya, Madrid
Latitude: 40.4246991, Longitude: -3.6762001

Row 8897: Address: Calle de Villanueva, Madrid
Latitude: 40.4221724, Longitude: -3.6815935

Row 8898: Address: Avenida de los Toreros, 4, Madrid
Latitude: 40.4931059, Longitude: -3.8753143

Row 8899: Address: DOCTOR ESQUERDO, Madrid
Latitude: 40.4276531, Longitude: -3.6691922

Row 8900: No result found for address: Calle de Agustina de Arag�n, Madrid

Row 8901: Address: Calle de Castell�, 117, Madrid
Latitude: 40.4554593, Longitude: -3.701146

Row 8902: No result found for address: alcal�, Madrid

Row 8903: Address: General diaz porlier, Madrid
Latitude: 40.4247914, Longitude: -3.6774966

Row 8904: No result found for address: nu�ez de balboa, Madrid

Row 8905: No result found for address: Calle M�RTIRES CONCEPCIONISTA, Madrid

Row 8906: Address: CONDE DE ARANDA, Madrid
Latitude: 40.4217567, Longitude: -3.6870813

Row 8907: No result found for address: conde de pe�alver, Madrid

Row 8908: Address: Lagasca, Madrid
Latitude: 40.4285118, Longitude: -3.6849147

Row 8909: No result found for address: Calle Ferrer del R�o, Madrid

Row 8910: Address: Berna, Madrid
Latitude: 40.4448239, Longitude: -3.7911196

Row 8911: No result found for address: Calle de Alc�ntara, 23, Madrid

Row 8912: No result found for address: Calle de N��ez de Balboa, 92, Madrid

Row 8913: Error geocoding address 'Calle Don Ram�n de la Cruz, 96, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Don+Ram%EF%BF%BDn+de+la+Cruz%2C+96%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8914: No result found for address: Calle de Alcal�, 189, Madrid

Row 8915: No result found for address: Calle de Agust�n Dur�n, 8, Madrid

Row 8916: Address: Calle BRISTOL, Madrid
Latitude: 40.4408729, Longitude: -3.6624901

Row 8917: Address: Principe De Vergara, Madrid, Madrid
Latitude: 40.4226491, Longitude: -3.6803686

Row 8918: No result found for address: Calle Alejnadro Gonzalez, Madrid

Row 8919: Address: JOSE ORTEGA Y GASSET, Madrid
Latitude: 40.429637, Longitude: -3.670285

Row 8920: Address: Calle de Jorge Juan, 124, Madrid
Latitude: 40.422651450000004, Longitude: -3.6656258164790834

Row 8921: Address: Porvenir, 16, Madrid
Latitude: 40.4246263, Longitude: -3.6662207

Row 8922: Address: Avenida de Bonn, Madrid
Latitude: 40.43843, Longitude: -3.6615619

Row 8923: No result found for address: Calle Alcal�, 141, Madrid

Row 8924: Address: Montesa, Madrid
Latitude: 40.4305846, Longitude: -3.6722055

Row 8925: Address: Avenida de Baviera, Madrid
Latitude: 40.4428966, Longitude: -3.6611896

Row 8926: No result found for address: CONDE PE�ALVER, Madrid

Row 8927: Address: Calle de Francisco Navacerrada, 10, Madrid
Latitude: 40.4312735, Longitude: -3.667291

Row 8928: Address: Calle de Ayala, Madrid, Madrid
Latitude: 40.4277595, Longitude: -3.6849943

Row 8929: Address: SANCHO DAVILA, Madrid
Latitude: 40.4275042, Longitude: -3.6620205

Row 8930: Address: Calle Lagasca, Madrid, 53, Madrid
Latitude: 40.423112, Longitude: -3.6856074

Row 8931: Address: Calle Recoletos, 8, Madrid
Latitude: 40.4278629, Longitude: -3.6884411

Row 8932: Address: Calle Fuente del Berro, 31, Madrid
Latitude: 40.4257433, Longitude: -3.670837

Row 8933: Address: Avenida de Baviera, Madrid, Madrid
Latitude: 40.4428966, Longitude: -3.6611896

Row 8934: Address: Calle general diaz porlier, Madrid
Latitude: 40.432648, Longitude: -3.6765918

Row 8935: Address: Calle castello, Madrid
Latitude: 40.4360059, Longitude: -3.6806273

Row 8936: No result found for address: Calle de vel�zquez, Madrid

Row 8937: Address: Avenida Bruselas, 70, Madrid
Latitude: 40.4418904, Longitude: -3.6630491

Row 8938: Address: Calle de Francisco Silvela, 5, Madrid
Latitude: 40.428833, Longitude: -3.669716

Row 8939: No result found for address: Calle Narv�ez, Madrid, Madrid

Row 8940: No result found for address: Calle Vel�zquez, Madrid, Madrid

Row 8941: Address: Calle de villanueva, Madrid
Latitude: 40.4221724, Longitude: -3.6815935

Row 8942: No result found for address: Calle de N��ez de Balboa, 35, Madrid

Row 8943: Address: Calle de Juan Bravo, Madrid, 10, Madrid
Latitude: 40.4326961, Longitude: -3.679469

Row 8944: No result found for address: Urb. Guindalera, Madrid

Row 8945: Address: Calle Conde de Aranda, Madrid
Latitude: 40.4217567, Longitude: -3.6870813

Row 8946: Address: CASTELL�, Madrid
Latitude: 40.41640165, Longitude: -3.6965831109198684

Row 8947: Address: Calle del Vizconde de Matamala, Madrid
Latitude: 40.4253037, Longitude: -3.661169

Row 8948: No result found for address: Calle de Alcal�, 119, Madrid

Row 8949: No result found for address: Calle Alcal�, Madrid, 98, Madrid

Row 8950: No result found for address: Paseo Marques de Zafra 52, 58, Madrid

Row 8951: No result found for address: Calle del Pintor Moreno Carbonero, 3, Madrid

Row 8952: No result found for address: Calle M�jico , 5, Madrid

Row 8953: No result found for address: Calle del General D�az Porlier, Madrid, 32, Madrid

Row 8954: Address: Calle Iriarte, Madrid
Latitude: 40.4372029, Longitude: -3.6718458

Row 8955: No result found for address: Calle de Alcal�, 182, Madrid

Row 8956: Address: Iriarte, 20, Madrid
Latitude: 40.4370376, Longitude: -3.6715596

Row 8957: Address: Calle Antonio Toledano, Madrid
Latitude: 40.4232603, Longitude: -3.6668718

Row 8958: No result found for address: Calle de Jos� Ortega y Gasset, 64, Madrid

Row 8959: Error geocoding address 'Calle de Castell�, 9, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Castell%EF%BF%BD%2C+9%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8960: No result found for address: Avenida de Am�rica, 20, Madrid

Row 8961: No result found for address: Urb. Castellana Everyprop.com, Madrid

Row 8962: Address: Plaza basilea, Madrid
Latitude: 40.4381921, Longitude: -3.662074

Row 8963: No result found for address: Calle Nuestra Se�ora de Guadalupe, 16, Madrid

Row 8964: No result found for address: Calle de Sancho D�vila, 6, Madrid

Row 8965: No result found for address: Calle de los Pe�ascales, Madrid

Row 8966: Address: Calle de Castell�, 98, Madrid
Latitude: 40.4554593, Longitude: -3.701146

Row 8967: No result found for address: General Pardi�as, 70, Madrid

Row 8968: Address: Calle de Claudio Coello, 128, Madrid
Latitude: 40.4373298, Longitude: -3.6851369

Row 8969: No result found for address: Calle de M�iquez, 6, Madrid

Row 8970: No result found for address: Calle de Alcal�, 191, Madrid

Row 8971: No result found for address: Urb. Fuente del Berro Everyprop.com, Madrid

Row 8972: Address: Calle del Conde de Aranda, Madrid
Latitude: 40.4217567, Longitude: -3.6870813

Row 8973: Address: Calle Bocangel, Madrid
Latitude: 40.425086, Longitude: -3.6632944

Row 8974: Address: Calle Naciones, Madrid
Latitude: 40.4266994, Longitude: -3.6738522

Row 8975: Address: Calle Ardemans, 27, Madrid
Latitude: 40.4344762, Longitude: -3.6724295

Row 8976: Address: Calle Florestan Aguilar, Madrid
Latitude: 40.4308288, Longitude: -3.6673849

Row 8977: Address: Calle de O'Donnell, 49, Madrid
Latitude: 40.4215445, Longitude: -3.6735303

Row 8978: Address: Calle Francisco Santos, Madrid
Latitude: 40.5999655, Longitude: -3.9884737

Row 8979: No result found for address: Calle luis d�az cobena, Madrid

Row 8980: Address: Calle de Ayala, 67, Madrid
Latitude: 40.4274462, Longitude: -3.6766517

Row 8981: Address: HERMOSILLA, Madrid
Latitude: 40.4258689, Longitude: -3.6744396

Row 8982: Address: Calle Cardenal Belluga, Madrid
Latitude: 40.4323636, Longitude: -3.6656948

Row 8983: Address: Calle de Bolonia, Madrid
Latitude: 40.2388447, Longitude: -3.7590501

Row 8984: Address: Calle de Bristol, Madrid
Latitude: 40.4396406, Longitude: -3.6622365

Row 8985: Address: Calle Camilo Jose Cela, 1, Madrid
Latitude: 40.4967926, Longitude: -3.3623462

Row 8986: No result found for address: Sancho D�vila, 6, Madrid

Row 8987: No result found for address: Calle de Berl�n, Madrid

Row 8988: Address: Calle Jorge Juan, Madrid
Latitude: 40.5417321, Longitude: -3.6258958

Row 8989: Address: Calle Pilar de Zaragoza, 18, Madrid
Latitude: 40.6629508, Longitude: -3.7768215

Row 8990: Error geocoding address 'Calle de Don Ram�n de la Cruz, 71, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Don+Ram%EF%BF%BDn+de+la+Cruz%2C+71%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 8991: Address: Calle de Hermosilla, 66, Madrid
Latitude: 40.42603, Longitude: -3.679195

Row 8992: No result found for address: Calle Pr�ncipe de Vergara, 76, Madrid

Row 8993: Address: Calle de Recoletos, Madrid
Latitude: 40.4223687, Longitude: -3.691274

Row 8994: Address: Calle Biarritz, Madrid
Latitude: 40.4358493, Longitude: -3.6640548

Row 8995: Address: Calle Ayala, Madrid
Latitude: 40.402026, Longitude: -3.6519548

Row 8996: Address: Bocangel, Madrid
Latitude: 40.425086, Longitude: -3.6632944

Row 8997: No result found for address: Paseo Marqu�s de Zafra, 52 -64, Madrid

Row 8998: Address: Avenida de Brasilia, Madrid
Latitude: 40.4406773, Longitude: -3.6609344

Row 8999: Address: Velazquez, 55, Madrid
Latitude: 40.4383333, Longitude: -3.682474

Row 9000: No result found for address: Urb. Goya Everyprop.com, Madrid

Row 9001: No result found for address: Calle General Pardi�as, Madrid

Row 9002: No result found for address: Urb. Recoletos, Madrid

Row 9003: No result found for address: Calle del Conde de Vilches, Madrid

Row 9004: No result found for address: Calle Nuestra Se�ora de Guadalupe, Madrid

Row 9005: Address: Calle de Villanueva, 2, Madrid
Latitude: 40.4227772, Longitude: -3.6897814

Row 9006: Address: Avenida Felipe II, Madrid
Latitude: 40.4242, Longitude: -3.6766693

Row 9007: No result found for address: Calle de las M�rtires Concepcionistas, Madrid

Row 9008: Address: Calle Columela, Madrid
Latitude: 40.4211459, Longitude: -3.6871766

Row 9009: No result found for address: Calle Urb. Recoletos, Madrid

Row 9010: Error geocoding address 'Calle de Jos� Pic�n, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Jos%EF%BF%BD+Pic%EF%BF%BDn%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 9011: Address: hermosilla, Madrid
Latitude: 40.4258689, Longitude: -3.6744396

Row 9012: Address: ayala, Madrid
Latitude: 40.4272924, Longitude: -3.6727454

Row 9013: Address: Plaza de Manuel Becerra, Madrid, Madrid
Latitude: 40.4284004, Longitude: -3.6688918

Row 9014: Address: Calle de Juan Bravo, Madrid, Madrid
Latitude: 40.4326961, Longitude: -3.679469

Row 9015: No result found for address: Calle Ruiz Perell�, Madrid

Row 9016: No result found for address: Calle de Alcal�, 135, Madrid

Row 9017: No result found for address: Mar�a de molina, Madrid

Row 9018: Address: Calle Lagasca, Madrid
Latitude: 40.437842, Longitude: -3.6841723

Row 9019: Error geocoding address 'Calle de Diego de Le�n, Madrid, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+Diego+de+Le%EF%BF%BDn%2C+Madrid%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 9020: Address: Calle del Pinar, Madrid
Latitude: 40.4384674, Longitude: -3.6876354

Row 9021: Address: Calle Alcala, Madrid
Latitude: 40.4206967, Longitude: -3.6851451

Row 9022: No result found for address: Calle del F�sforo, Madrid

Row 9023: No result found for address: Plaza de la Beata Mar�a Ana de Jes�s, Madrid

Row 9024: Address: Paseo de la Chopera, Madrid
Latitude: 40.3948477, Longitude: -3.7002131

Row 9025: Address: ALONSO CARBONELL, Madrid
Latitude: 40.39522, Longitude: -3.6965183

Row 9026: Address: Calle Alonso Carbonell, Madrid
Latitude: 40.39522, Longitude: -3.6965183

Row 9027: No result found for address: Calle M�rmol, Madrid

Row 9028: No result found for address: Calle de Mart�n de Vargas, Madrid

Row 9029: Address: Calle del Labrador, Madrid
Latitude: 40.4020912, Longitude: -3.7013935

Row 9030: Address: Paseo de las Delicias, Madrid
Latitude: 40.4041408, Longitude: -3.693571

Row 9031: Address: Calle Ancora, Madrid
Latitude: 40.4028312, Longitude: -3.6901696

Row 9032: No result found for address: Paseo de Santa Mar�a de la Cabeza, 12, Madrid

Row 9033: Address: Calle Puerto de la Cruz Verde, 44, Madrid
Latitude: 40.3860781, Longitude: -3.6857698

Row 9034: Address: Calle de Jaime el Conquistador, Madrid
Latitude: 40.3972609, Longitude: -3.698016

Row 9035: No result found for address: Calle de Sodio, Madrid

Row 9036: Address: Paseo de las Acacias, Madrid
Latitude: 40.4043996, Longitude: -3.7049169

Row 9037: Address: Calle de Tarragona, Madrid
Latitude: 40.4015845, Longitude: -3.6961837

Row 9038: No result found for address: Calle Estrella Den�bola, Madrid

Row 9039: Address: Calle de Vizcaya, Madrid
Latitude: 40.404675, Longitude: -3.6936523

Row 9040: No result found for address: Calle de las Pe�uelas, Madrid

Row 9041: Address: Calle Delicias, Madrid
Latitude: 18.638249, Longitude: -91.817105

Row 9042: No result found for address: Calle de Juli�n Rabanedo, Madrid

Row 9043: Address: Calle Embajadores, 86, Madrid
Latitude: 40.4033823, Longitude: -3.7015255

Row 9044: No result found for address: Paseo de los Pontones esq. Paseo Imperial s/n, Madrid

Row 9045: No result found for address: Paseo de las Yeser�as, Madrid

Row 9046: No result found for address: Calle de Fray Luis de Le�n, Madrid

Row 9047: Address: Ronda de Toledo, Madrid
Latitude: 40.4051662, Longitude: -3.7034324

Row 9048: Address: Calle de las Delicias, Madrid
Latitude: 40.4040412, Longitude: -3.6916876

Row 9049: Address: Fernando Poo, Madrid
Latitude: 40.3973524, Longitude: -3.6998001

Row 9050: Address: Antracita, Madrid
Latitude: 40.3926206, Longitude: -3.687037

Row 9051: No result found for address: Calle del Teniente Coronel Nore�a, 35, Madrid

Row 9052: Address: Naves, Madrid
Latitude: 40.3981787, Longitude: -3.7062581

Row 9053: No result found for address: Calle de Mart�n de Vargas, 18, Madrid

Row 9054: Address: Calle de C�ceres, Madrid
Latitude: 40.4417436, Longitude: -3.4727109

Row 9055: Address: Calle de Juan de Mariana, Madrid
Latitude: 40.3986281, Longitude: -3.6857367

Row 9056: No result found for address: Paseo de los Melanc�licos, 4, Madrid

Row 9057: Address: Calle de Juan de Mariana, 10, Madrid
Latitude: 40.3986281, Longitude: -3.6857367

Row 9058: No result found for address: Paseo de Juan Antonio Vallejo-N�jera Botas, Madrid

Row 9059: Address: Calle EROS, Madrid
Latitude: 40.394482, Longitude: -3.6809519

Row 9060: Address: Calle de Santocildes, Madrid
Latitude: 40.4051701, Longitude: -3.7043649

Row 9061: Address: Calle de Embajadores, 262, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 9062: Address: Calle de Canarias, Madrid
Latitude: 40.4018072, Longitude: -3.6923476

Row 9063: Address: Calle del Ferrocarril, Madrid
Latitude: 40.4009442, Longitude: -3.698832

Row 9064: Address: Calle de C�ceres, 51, Madrid
Latitude: 40.4417436, Longitude: -3.4727109

Row 9065: Address: Paseo de la Esperanza, Madrid
Latitude: 40.4025452, Longitude: -3.7055521

Row 9066: No result found for address: Paseo del Doctor Vallejo - N�jera, Madrid

Row 9067: Address: Calle del General Lacy, Madrid
Latitude: 40.4018267, Longitude: -3.6908841

Row 9068: Address: Calle Estrella Denebola, 21, Madrid
Latitude: 40.3956723, Longitude: -3.6850248

Row 9069: Address: Calle EMBAJADORES, Madrid
Latitude: 40.4033967, Longitude: -3.7011978

Row 9070: Address: Paseo DE LAS DELICIAS, Madrid
Latitude: 40.4041408, Longitude: -3.693571

Row 9071: Address: Calle de Linneo, Madrid
Latitude: 40.4120405, Longitude: -3.7205356

Row 9072: Address: Calle Amaltea, 10, Madrid
Latitude: 40.3947989, Longitude: -3.6825502

Row 9073: Address: Calle ALONSO DEL BARCO, Madrid
Latitude: 40.4041793, Longitude: -3.7009484

Row 9074: No result found for address: Pe�uelas, Madrid

Row 9075: Address: Paseo Imperial, Madrid
Latitude: 40.402901, Longitude: -3.715504

Row 9076: No result found for address: Calle Divino Vall�s, 31, Madrid

Row 9077: Address: Calle de Embajadores, 201, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 9078: Address: Calle Fernando Poo, Madrid
Latitude: 40.3973524, Longitude: -3.6998001

Row 9079: Address: Calle tortosa, Madrid
Latitude: 40.4061986, Longitude: -3.6931769

Row 9080: Address: tarragona, 38, Madrid
Latitude: 40.40134, Longitude: -3.6944873965178573

Row 9081: No result found for address: Calle de Sebasti�n Elcano, Madrid

Row 9082: Address: Calle de Melilla, 8, Madrid
Latitude: 40.4004662, Longitude: -3.7089406

Row 9083: Address: Calle Rafael de Riego, Madrid
Latitude: 40.4041214, Longitude: -3.6921341

Row 9084: Address: Calle AGUILON, Madrid
Latitude: 40.3973032, Longitude: -3.7010057

Row 9085: Address: Calle del Divino Vall�s, Madrid
Latitude: 40.4691395, Longitude: -3.7001487

Row 9086: Address: Calle Nereida, 8, Madrid
Latitude: 40.3924463, Longitude: -3.680348

Row 9087: Address: Calle Manuel Aleixandre, Madrid
Latitude: 40.3910198, Longitude: -3.694632

Row 9088: No result found for address: Calle de Bol�var, Madrid

Row 9089: Address: Calle del General Palanca, 3, Madrid
Latitude: 40.3996857, Longitude: -3.7000223

Row 9090: Address: Paseo Santa Maria de la Cabeza, Madrid
Latitude: 40.4017409, Longitude: -3.6985175

Row 9091: Address: Calle San Epifanio, 7, Madrid
Latitude: 40.40121005, Longitude: -3.717624371101233

Row 9092: Address: Calle BOLIVAR, Madrid
Latitude: 40.3913, Longitude: -3.6946025

Row 9093: Address: Calle de Arganda, Madrid
Latitude: 40.3974369, Longitude: -3.7043486

Row 9094: Address: Calle Eros, Madrid, 18, Madrid
Latitude: 40.3922769, Longitude: -3.6793574024687783

Row 9095: Address: Avenida DEL PLANETARIO, Madrid
Latitude: 40.3930263, Longitude: -3.6838488

Row 9096: No result found for address: Calle Bernardino Obreg�n, Madrid

Row 9097: No result found for address: Calle de Sangarc�a, Madrid

Row 9098: Address: Jaime El Conquistador, Madrid
Latitude: 40.3957595, Longitude: -3.6984007

Row 9099: No result found for address: Calle Jos� Antonio de Armona, Madrid

Row 9100: No result found for address: Paseo de las Yeser�as, 31, Madrid

Row 9101: Address: aguilon, 7, Madrid
Latitude: 40.3976135, Longitude: -3.7014055

Row 9102: Address: Calle San Epifanio, 9, Madrid
Latitude: 40.4019693, Longitude: -3.7188002

Row 9103: Address: Calle de Juan Duque, Madrid
Latitude: 40.4115907, Longitude: -3.7187424

Row 9104: Address: Paseo DE LAS ACACIAS, Madrid
Latitude: 40.4043996, Longitude: -3.7049169

Row 9105: Address: Calle de la Batalla del Salado, Madrid
Latitude: 40.4020104, Longitude: -3.6960311

Row 9106: Address: Parroco Julio Morate, Madrid
Latitude: 40.3972361, Longitude: -3.6980578

Row 9107: No result found for address: Paseo de las Yeser�as, Madrid, Madrid

Row 9108: No result found for address: Calle P�rroco Eusebio Cuenca, Madrid

Row 9109: Address: Calle de Canarias, 37, Madrid
Latitude: 40.4019069, Longitude: -3.691522102027645

Row 9110: Address: Calle Eros, 7, Madrid
Latitude: 40.394482, Longitude: -3.6809519

Row 9111: No result found for address: Calle de Tom�s Bret�n, 18, Madrid

Row 9112: Address: DELICIAS, Madrid
Latitude: 40.3967843, Longitude: -3.6900384

Row 9113: Address: Linneo, Madrid
Latitude: 40.411250100000004, Longitude: -3.689886782777093

Row 9114: No result found for address: Calle de Miguel Arredondo, Madrid, Madrid

Row 9115: Address: Calle Puerto de la Cruz Verde, Madrid
Latitude: 40.3856572, Longitude: -3.68618

Row 9116: No result found for address: Tomas Bret�n, Madrid

Row 9117: Address: Calle del Tejo, Madrid
Latitude: 40.3961287, Longitude: -3.6793039

Row 9118: Address: Calle Puerto de la Cruz Verde, Madrid, Madrid
Latitude: 40.3856572, Longitude: -3.68618

Row 9119: Address: Ronda de Toledo, 20, Madrid
Latitude: 40.4051662, Longitude: -3.7034324

Row 9120: Address: Calle del Plomo, Madrid
Latitude: 40.3918959, Longitude: -3.6895285

Row 9121: Address: Paseo DELICIAS, Madrid
Latitude: 40.4041408, Longitude: -3.693571

Row 9122: Address: Calle Rafael de Riego, 10, Madrid
Latitude: 40.405490799999995, Longitude: -3.69225761900666

Row 9123: No result found for address: Glorieta Santa Mar�a de la Cabeza, Madrid

Row 9124: Address: Calle DE LAS NEBULOSAS, Madrid
Latitude: 40.3954914, Longitude: -3.685797

Row 9125: No result found for address: Calle Mendez �lvaro, 37, Madrid

Row 9126: Address: Calle de Embajadores, 106 -108, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 9127: Address: de la cabeza, Madrid
Latitude: 40.4028516, Longitude: -3.6968904216777005

Row 9128: Address: Calle Fernando Poo, 29, Madrid
Latitude: 40.39625145, Longitude: -3.6997477735975224

Row 9129: Address: Paseo de las Acacias, 49, Madrid
Latitude: 40.4022265, Longitude: -3.710800203037451

Row 9130: Address: Calle de Linneo, 31, Madrid
Latitude: 40.410333050000006, Longitude: -3.720330982817366

Row 9131: Address: Paseo de la Virgen del Puerto, 51, Madrid
Latitude: 40.4144746, Longitude: -3.7208695

Row 9132: Address: Calle de Segovia, 71, Madrid
Latitude: 40.4137358, Longitude: -3.7199646

Row 9133: Address: Calle Pizarra, Madrid
Latitude: 40.4097407, Longitude: -3.7205889

Row 9134: Address: Calle de Murcia, Madrid
Latitude: 40.4052502, Longitude: -3.6932767

Row 9135: Address: Calle de Valdelasierra, 11, Madrid
Latitude: 40.3977974, Longitude: -3.7055999

Row 9136: Address: Paseo de la Esperanza, Madrid, Madrid
Latitude: 40.4025452, Longitude: -3.7055521

Row 9137: Address: Ciudad Real, Madrid
Latitude: 40.3998487, Longitude: -3.6941923

Row 9138: Address: Calle Arquitectura, Madrid
Latitude: 40.3995999, Longitude: -3.7024133

Row 9139: Address: Calle Eros, 18, Madrid
Latitude: 40.3922769, Longitude: -3.6793574024687783

Row 9140: Address: ramirez prado, 13, Madrid
Latitude: 40.3994273, Longitude: -3.6896341

Row 9141: Address: Calle del general palanca, Madrid
Latitude: 40.3995708, Longitude: -3.6994528

Row 9142: Address: Paseo Imperial, 50, Madrid
Latitude: 40.402901, Longitude: -3.715504

Row 9143: Address: Calle Ferrocarril, Madrid
Latitude: 40.4740719, Longitude: -3.8380654

Row 9144: No result found for address: Calle Marqu�s de la Valdavia, 1, Madrid

Row 9145: Error geocoding address 'Calle Puerto de la Cruz Verde, 44 D, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Puerto+de+la+Cruz+Verde%2C+44+D%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 9146: No result found for address: Calle de Juana Do�a, 14, Madrid

Row 9147: Address: ALEJANDRO FERRANT, Madrid
Latitude: 40.39514, Longitude: -3.6940428

Row 9148: No result found for address: Plaza Beata Mar�a Ana de Jes�s, Madrid

Row 9149: Address: Calle del General Palanca, Madrid
Latitude: 40.3995708, Longitude: -3.6994528

Row 9150: Address: Jaime el Conquistador, Madrid
Latitude: 40.3957595, Longitude: -3.6984007

Row 9151: Address: Calle Embajadores, 226, Madrid
Latitude: 40.4033967, Longitude: -3.7011978

Row 9152: No result found for address: Calle M�ndez �lvaro esq. Calle Alamedilla s/n, Madrid

Row 9153: No result found for address: Paseo de Santa Mar�a de la Cabeza, 92, Madrid

Row 9154: No result found for address: Calle Tom�s Bret�n, 32, Madrid

Row 9155: No result found for address: Calle Gil Im�n, 5, Madrid

Row 9156: Address: Avenida del Planetario, 36, Madrid
Latitude: 40.3874917, Longitude: -3.689634070281779

Row 9157: No result found for address: Calle de Bol�var, 24, Madrid

Row 9158: Address: Calle MANZANARES, Madrid
Latitude: 40.4307839, Longitude: -3.7348786

Row 9159: No result found for address: Calle de Carvajales, Madrid

Row 9160: No result found for address: Calle TERESA L�PEZ VALCARCEL, Madrid

Row 9161: No result found for address: Calle Comandante Ben�tez, Madrid

Row 9162: No result found for address: Sebasti�n Elcano, 11, Madrid

Row 9163: No result found for address: Calle Mart�n de Vargas, 36, Madrid

Row 9164: Address: PUERTO DE LA CRUZ VERDE, 44, Madrid
Latitude: 40.5590182, Longitude: -4.1968241

Row 9165: Address: Calle de Toledo, 132, Madrid
Latitude: 40.4051197, Longitude: -3.7129059716956516

Row 9166: Address: Calle SAN ANASTASIO, Madrid
Latitude: 40.3970539, Longitude: -3.7034869

Row 9167: Address: Calle CIRCON, Madrid
Latitude: 40.3959436, Longitude: -3.6898151

Row 9168: No result found for address: Teniente coronel Nore�a, 39, Madrid

Row 9169: Address: Calle EMBAJADORES, 218, Madrid
Latitude: 40.389912949999996, Longitude: -3.6924512762984634

Row 9170: Address: General Palanca, 32, Madrid
Latitude: 40.3992285, Longitude: -3.6957584

Row 9171: Address: Paseo de la Virgen del Puerto, 37, Madrid
Latitude: 40.4144746, Longitude: -3.7208695

Row 9172: Address: PIZARRA, 3, Madrid
Latitude: 40.4097403, Longitude: -3.7204643

Row 9173: No result found for address: Calle de Tom�s Bret�n, 55, Madrid

Row 9174: Address: Calle ARGANDA, Madrid
Latitude: 40.3974369, Longitude: -3.7043486

Row 9175: Address: Ferrocarril, Madrid
Latitude: 40.4005244, Longitude: -3.6962584

Row 9176: Address: Calle General Lacy, Madrid
Latitude: 40.4018267, Longitude: -3.6908841

Row 9177: Address: Calle PUERTO DE LA CRUZ VERDE, 44, Madrid
Latitude: 40.3860781, Longitude: -3.6857698

Row 9178: Address: Paseo de la Virgen del Puerto, 61, Madrid
Latitude: 40.4051386, Longitude: -3.7219804

Row 9179: Address: Embajadores, Madrid
Latitude: 40.4094839, Longitude: -3.7034609

Row 9180: Address: Calle Amaltea, 22 -26, Madrid
Latitude: 40.3947989, Longitude: -3.6825502

Row 9181: No result found for address: Calle de Fray Luis de Le�n, 10, Madrid

Row 9182: Address: Calle tomas breton, 55, Madrid
Latitude: 40.3973187, Longitude: -3.6917326

Row 9183: Address: Tarragona, 8, Madrid
Latitude: 40.4016182, Longitude: -3.6975942

Row 9184: Address: Ercilla, Madrid
Latitude: 40.4010136, Longitude: -3.7014619

Row 9185: No result found for address: Calle del Teniente Coronel Nore�a, Madrid

Row 9186: Address: BOLIVAR, 15, Madrid
Latitude: 9.1936493, Longitude: -74.7478016

Row 9187: Address: Calle de Canarias, 27, Madrid
Latitude: 40.4019561, Longitude: -3.6927347

Row 9188: Address: Calle del Rodio, 4 C, Madrid
Latitude: 40.3914741, Longitude: -3.689451

Row 9189: No result found for address: Calle P�rroco Eusebio Cuenca, 34, Madrid

Row 9190: No result found for address: Calle Maestro Arb�s, Madrid

Row 9191: Address: Calle Segovia, 61, Madrid
Latitude: 40.3944049, Longitude: -3.773976

Row 9192: Address: Calle Embajadores, 208, Madrid
Latitude: 40.39063675, Longitude: -3.692953642844964

Row 9193: Address: antracita, 10, Madrid
Latitude: 40.3901461, Longitude: -3.6902288

Row 9194: Address: Embajadores, 186, Madrid
Latitude: 40.3931425, Longitude: -3.6942438

Row 9195: Address: Calle del General Palanca, 32, Madrid
Latitude: 40.3992285, Longitude: -3.6957584

Row 9196: Address: Calle de Canarias, 41, Madrid
Latitude: 40.4018072, Longitude: -3.6923476

Row 9197: Address: Calle San Epifanio, Madrid, Madrid
Latitude: 40.4019693, Longitude: -3.7188002

Row 9198: Address: Calle Moratines, 8, Madrid
Latitude: 40.4036976, Longitude: -3.702339218632451

Row 9199: Address: Plaza Luca de Tena, Madrid
Latitude: 40.4018918, Longitude: -3.693851203795852

Row 9200: Address: Calle Eros, Madrid
Latitude: 40.394482, Longitude: -3.6809519

Row 9201: Address: BERNARDINO OBREGON, Madrid
Latitude: 40.4044047, Longitude: -3.7002102

Row 9202: No result found for address: Calle de Bol�var, 17, Madrid

Row 9203: Address: Calle del bronce, Madrid
Latitude: 40.3922852, Longitude: -3.6883554

Row 9204: Address: Calle Alejandro Ferrant, 9, Madrid
Latitude: 40.3952885, Longitude: -3.693271658784285

Row 9205: Address: Calle de la Antracita, Madrid
Latitude: 40.3926206, Longitude: -3.687037

Row 9206: Address: Calle de Rafael de Riego, Madrid
Latitude: 40.4041214, Longitude: -3.6921341

Row 9207: Address: Arquitectura, Madrid
Latitude: 40.4402099, Longitude: -3.731005325138155

Row 9208: No result found for address: Plaza BEATA MAR�A ANA DE JES�S, Madrid

Row 9209: Address: Calle CARVAJALES, Madrid
Latitude: 40.3999769, Longitude: -3.7018363

Row 9210: No result found for address: Paseo DE SANTA MAR�A DE LA CABEZA, Madrid

Row 9211: Address: Paseo del Molino, Madrid, Madrid
Latitude: 40.3899302, Longitude: -3.6929973

Row 9212: No result found for address: Glorieta de las Pir�mides, Madrid

Row 9213: Address: Calle de Ercilla, 32, Madrid
Latitude: 40.40182145, Longitude: -3.7023057424584396

Row 9214: Address: Calle de Tarragona, 38, Madrid
Latitude: 40.40134, Longitude: -3.6944873965178573

Row 9215: Address: Calle del Hierro, 6, Madrid
Latitude: 40.3893486, Longitude: -3.6903193

Row 9216: Address: Ronda de Atocha, 15, Madrid
Latitude: 40.4071686, Longitude: -3.6944635

Row 9217: Address: Calle de Juan Duque, 16, Madrid
Latitude: 40.4115907, Longitude: -3.7187424

Row 9218: Address: Calle ferrocarril, Madrid
Latitude: 40.4740719, Longitude: -3.8380654

Row 9219: Address: Calle de Juan Duque, 42, Madrid
Latitude: 40.4115907, Longitude: -3.7187424

Row 9220: Address: Calle LINNEO, Madrid
Latitude: 40.4120405, Longitude: -3.7205356

Row 9221: Address: Calle Nereida, 4, Madrid
Latitude: 40.3924463, Longitude: -3.680348

Row 9222: No result found for address: Calle de Sodio, 2, Madrid

Row 9223: No result found for address: Calle del Teniente Coronel Nore�a, 47 B, Madrid

Row 9224: Address: Calle Ancora, 10, Madrid
Latitude: 40.40272205, Longitude: -3.6924770538133247

Row 9225: No result found for address: Paseo de Juan Antonio Vallejo-N�jera Botas, 41, Madrid

Row 9226: Address: Calle del Gas�metro, 12, Madrid
Latitude: 40.3469612, Longitude: -3.8020184

Row 9227: Address: Plaza Luca de Tena, 8, Madrid
Latitude: 40.4013794, Longitude: -3.6935389

Row 9228: Address: Calle de la Antracita, 15, Madrid
Latitude: 40.3926206, Longitude: -3.687037

Row 9229: Address: Calle del Plomo, 3 A, Madrid
Latitude: 40.3918959, Longitude: -3.6895285

Row 9230: Address: Calle de Embajadores, 147, Madrid
Latitude: 40.39654995, Longitude: -3.695974807592064

Row 9231: Address: Paseo de las Delicias, 93, Madrid
Latitude: 40.3956003, Longitude: -3.6943798

Row 9232: Address: Calle de Canarias, 23, Madrid
Latitude: 40.4020306, Longitude: -3.6930178190458487

Row 9233: No result found for address: Calle de Cobos de Segovia, 7 , atico, Madrid

Row 9234: Address: Paseo de las Delicias, 104, Madrid
Latitude: 40.3960883, Longitude: -3.694810569421729

Row 9235: Address: Calle de la Antracita, 3, Madrid
Latitude: 40.3926206, Longitude: -3.687037

Row 9236: Address: Calle Arquitectura, 15, Madrid
Latitude: 40.39910395, Longitude: -3.7017920450874437

Row 9237: Address: Calle Aldea del Fresno, 25, Madrid
Latitude: 40.3950181, Longitude: -3.6991693353176816

Row 9238: Address: Calle Embajadores, 183, Madrid
Latitude: 40.4033967, Longitude: -3.7011978

Row 9239: Address: Calle del Labrador, 21, Madrid
Latitude: 40.400376800000004, Longitude: -3.7037186285630916

Row 9240: No result found for address: Calle de Mart�n de Vargas, 10, Madrid

Row 9241: Address: Calle Segovia, 43, Madrid
Latitude: 40.4136755, Longitude: -3.7172076

Row 9242: Address: Calle de la Batalla del Salado, 55, Madrid
Latitude: 40.3974156, Longitude: -3.6964577

Row 9243: Address: Calle del Ferrocarril, 41, Madrid
Latitude: 40.4008239, Longitude: -3.698253

Row 9244: Address: Paseo de las Acacias, 11, Madrid
Latitude: 40.4047936, Longitude: -3.7032415

Row 9245: Address: Calle de las Penuelas, 34, Madrid
Latitude: 40.4018483, Longitude: -3.703153

Row 9246: Address: Paseo de los Olmos, Madrid
Latitude: 40.406286, Longitude: -3.7113204

Row 9247: Address: ACACIAS, Madrid
Latitude: 40.4040749, Longitude: -3.7059572

Row 9248: Address: Calle Villoslada, 14, Madrid
Latitude: 40.4058383, Longitude: -3.7157891

Row 9249: Address: Calle Aldea del Fresno, 29, Madrid
Latitude: 40.3950852, Longitude: -3.699996661634825

Row 9250: Address: Ronda de segovia, 18, Madrid
Latitude: 40.410687, Longitude: -3.7180365

Row 9251: Address: Calle de Enrique Trompeta, 4, Madrid
Latitude: 40.3927551, Longitude: -3.695507094457831

Row 9252: Address: Calle de Jaime el Conquistador, 34, Madrid
Latitude: 40.3960289, Longitude: -3.698423

Row 9253: Address: Calle Aldea del Fresno, Madrid
Latitude: 40.3963582, Longitude: -3.6964975

Row 9254: Address: Calle de Linneo, 20, Madrid
Latitude: 40.4120405, Longitude: -3.7205356

Row 9255: Address: Calle de Embajadores, 105, Madrid
Latitude: 40.399253099999996, Longitude: -3.697964325994688

Row 9256: Address: Calle de Jaime el Conquistador, 2, Madrid
Latitude: 40.398528150000004, Longitude: -3.698221775118607

Row 9257: Address: Calle de Linneo, 9, Madrid
Latitude: 40.4120405, Longitude: -3.7205356

Row 9258: Address: Calle Delicias, 13, Madrid
Latitude: 40.3924852, Longitude: -3.691470942857273

Row 9259: Address: Calle Delicias, 21, Madrid
Latitude: 40.4043067, Longitude: -3.6928155944835312

Row 9260: Address: Calle Moratines, 3, Madrid
Latitude: 40.403634, Longitude: -3.701978606368959

Row 9261: Address: Calle Juan de Vera, 3, Madrid
Latitude: 40.3961103, Longitude: -3.6928381

Row 9262: No result found for address: ramirez prado 13, 1, Madrid

Row 9263: Address: Calle del General Lacy, 36, Madrid
Latitude: 40.4020498, Longitude: -3.691301335034679

Row 9264: Address: Las Naves, 9, Madrid
Latitude: 40.3987204, Longitude: -3.707576211724784

Row 9265: Address: Calle de Embajadores, 96, Madrid
Latitude: 40.4026763, Longitude: -3.7009335

Row 9266: Address: Calle de Embajadores, 90, Madrid
Latitude: 40.4030611, Longitude: -3.7013296664145914

Row 9267: Address: Calle de Ercilla, 51, Madrid
Latitude: 40.4014409, Longitude: -3.7017583

Row 9268: Address: miguel arredondo, 8, Madrid
Latitude: 40.3949468, Longitude: -3.6956159

Row 9269: Address: Calle Santa Casilda, 4, Madrid
Latitude: 40.4051046, Longitude: -3.7131633458199347

Row 9270: Address: Calle Juan de Vera, 4, Madrid
Latitude: 40.3961103, Longitude: -3.6928381

Row 9271: Address: Calle Juan de Vera, Madrid
Latitude: 40.3961103, Longitude: -3.6928381

Row 9272: No result found for address: Calle de Bol�var, 15, Madrid

Row 9273: Address: Calle de las Nebulosas, 16, Madrid
Latitude: 40.3954914, Longitude: -3.685797

Row 9274: No result found for address: Calle de San Alejandro, 8 . 4B EXT, Madrid

Row 9275: Address: Paseo Chopera, 15, Madrid
Latitude: 40.3964625, Longitude: -3.7009849812761964

Row 9276: Address: Calle Manuel Aleixandre, 12, Madrid
Latitude: 40.39114205, Longitude: -3.693597370170454

Row 9277: Address: Calle del Ferrocarril, 22, Madrid
Latitude: 40.401094, Longitude: -3.6964126

Row 9278: No result found for address: Paseo de Santa Mar�a de la Cabeza, 37, Madrid

Row 9279: Address: Calle La Ceiba, 3, Madrid
Latitude: 40.403191, Longitude: -3.706922

Row 9280: No result found for address: Calle de Sebasti�n Elcano, 16, Madrid

Row 9281: Address: Calle de embajadores, 168, Madrid
Latitude: 40.3957157, Longitude: -3.6960173

Row 9282: No result found for address: Plaza de Rutilio Gacis, 5, Madrid

Row 9283: No result found for address: Paseo de los Melanc�licos, 7 D, Madrid

Row 9284: Address: Calle de Murcia, 8, Madrid
Latitude: 40.405175650000004, Longitude: -3.694452807709405

Row 9285: Address: Plaza General Maroto, 5, Madrid
Latitude: 40.39334625, Longitude: -3.697773415299927

Row 9286: Address: Paseo de la Virgen del Puerto, 45, Madrid
Latitude: 40.4092148, Longitude: -3.7210487

Row 9287: Address: Calle del Cobre, 1, Madrid
Latitude: 40.394531799999996, Longitude: -3.6891255770766738

Row 9288: Address: Calle de Embajadores, 150, Madrid
Latitude: 40.39692895, Longitude: -3.6969727380371267

Row 9289: Address: Calle de Juan Duque, 29, Madrid
Latitude: 40.4115907, Longitude: -3.7187424

Row 9290: Address: Calle de Ricardo Damas, 13, Madrid
Latitude: 40.3857953, Longitude: -3.6909709

Row 9291: Address: Calle de Bustamante, 3, Madrid
Latitude: 40.40100065, Longitude: -3.6932939185032896

Row 9292: No result found for address: Calle Jos� Miguel Gordoa, 4, Madrid

Row 9293: Address: Calle de C�ceres, 43, Madrid
Latitude: 40.1810547, Longitude: -3.6867865

Row 9294: No result found for address: Calle Aguil�n, 9, Madrid

Row 9295: Address: Calle ercilla, 52, Madrid
Latitude: 40.3999988, Longitude: -3.7009192605474492

Row 9296: No result found for address: Glorieta de las Pir�mides, 6, Madrid

Row 9297: Address: Calle Nereida, 2, Madrid
Latitude: 40.3918734, Longitude: -3.6809955519619058

Row 9298: No result found for address: Jos� Mar�a Roquero, 6, Madrid

Row 9299: No result found for address: Calle Sebasti�n Elcano, 15, Madrid

Row 9300: No result found for address: Calle Maestro Arb�s, 33, Madrid

Row 9301: Address: Calle de Segovia, 65, Madrid
Latitude: 40.4137301, Longitude: -3.7192714

Row 9302: Address: Calle Embajadores, 74, Madrid
Latitude: 40.4043334, Longitude: -3.7022372

Row 9303: Address: Calle de Rafael de Riego, 33, Madrid
Latitude: 40.40209595, Longitude: -3.6919726608056167

Row 9304: No result found for address: Plaza Beata Mar�a Ana de Jes�s, 1, Madrid

Row 9305: Address: Calle de Embajadores, 57, Madrid
Latitude: 40.4045173, Longitude: -3.701887

Row 9306: Address: Paseo de las Acacias, 6, Madrid
Latitude: 40.4045866, Longitude: -3.7049609624463526

Row 9307: Address: Calle del Bronce, 23, Madrid
Latitude: 40.3922852, Longitude: -3.6883554

Row 9308: Address: Avenida del Planetario, 1, Madrid
Latitude: 40.3945066, Longitude: -3.6807510380304933

Row 9309: Address: Calle de Arganda, 4, Madrid
Latitude: 40.399398, Longitude: -3.7086186

Row 9310: Address: Calle del Plomo, 3, Madrid
Latitude: 40.3942558, Longitude: -3.6909938

Row 9311: Address: Calle Hierro, 6 -B, Madrid
Latitude: 40.3903339, Longitude: -3.690449

Row 9312: Address: Calle Mazarredo, 12, Madrid
Latitude: 40.4129505, Longitude: -3.7183855

Row 9313: Address: Ronda de Segovia, 50, Madrid
Latitude: 40.4070259, Longitude: -3.7132075

Row 9314: Address: Calle Guillermo de Osma, 2, Madrid
Latitude: 40.394311099999996, Longitude: -3.695488729635442

Row 9315: Address: Calle de Embajadores, 128, Madrid
Latitude: 40.399159100000006, Longitude: -3.698489849286333

Row 9316: Address: Calle del Ferrocarril, 7, Madrid
Latitude: 40.4006364, Longitude: -3.6950282

Row 9317: Address: Calle de Arganda, 26, Madrid
Latitude: 40.4007429, Longitude: -3.7067749

Row 9318: Address: Paseo de las Acacias, 30, Madrid
Latitude: 40.4032971, Longitude: -3.7094026

Row 9319: Address: Calle del General Lacy, 40, Madrid
Latitude: 40.401617099999996, Longitude: -3.691197882751941

Row 9320: Address: Paseo Chopera, 3, Madrid
Latitude: 40.3966714, Longitude: -3.7021457

Row 9321: Address: Calle de Bustamante, 1, Madrid
Latitude: 40.4008175, Longitude: -3.6939594

Row 9322: Address: joaquin costa, Madrid
Latitude: 40.4055243, Longitude: -3.7145655

Row 9323: Address: Calle de Aguilon, 9, Madrid
Latitude: 40.39810895, Longitude: -3.7011318012857144

Row 9324: Address: Calle de Moratines, 11, Madrid
Latitude: 40.403142349999996, Longitude: -3.702608392891478

Row 9325: Address: Paseo de las Delicias, 19, Madrid
Latitude: 40.40507, Longitude: -3.6932835

Row 9326: Address: Paseo de las Delicias, 123, Madrid
Latitude: 40.392844, Longitude: -3.694532831641408

Row 9327: No result found for address: Calle de Embajadores, 198 DUPLICADO, Madrid

Row 9328: Address: Canarias, 31, Madrid
Latitude: 40.4019734, Longitude: -3.692154817640984

Row 9329: Address: Jaime El Conquistador, 31, Madrid
Latitude: 40.39472105, Longitude: -3.6981316481717554

Row 9330: Address: carvajales, 21, Madrid
Latitude: 40.3991243, Longitude: -3.7028667127992394

Row 9331: Address: Paseo de la Chopera, 1, Madrid
Latitude: 40.3966816, Longitude: -3.7023334

Row 9332: Address: Ronda de Valencia, 7, Madrid
Latitude: 40.4052551, Longitude: -3.7012188

Row 9333: No result found for address: Calle de Eugenio Sell�s, Madrid

Row 9334: No result found for address: Calle Estrella Den�bola, 18, Madrid

Row 9335: Address: Calle de las Delicias, 23, Madrid
Latitude: 40.4042968, Longitude: -3.6926435133559337

Row 9336: Address: Paseo de las Delicias, 63 F, Madrid
Latitude: 40.4041408, Longitude: -3.693571

Row 9337: Address: Paseo del Molino, 8, Madrid
Latitude: 40.3899302, Longitude: -3.6929973

Row 9338: No result found for address: Calle Jos� Mar�a Roquero, 6, Madrid

Row 9339: Address: Calle de Embajadores, 158, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 9340: No result found for address: Calle de Carmen Cobe�a, 3, Madrid

Row 9341: No result found for address: Calle de Mart�n de Vargas, 31, Madrid

Row 9342: Address: Calle de Toledo, 124, Madrid
Latitude: 40.40571825, Longitude: -3.712617916782843

Row 9343: Address: Calle de Tarragona, 12, Madrid
Latitude: 40.4014843, Longitude: -3.6972153012520046

Row 9344: Address: Calle de Embajadores, 177, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 9345: No result found for address: Calle de Fray Luis de Le�n, 3, Madrid

Row 9346: No result found for address: Calle Puerto de Miravete 10 s/n, Madrid

Row 9347: Address: Paseo de las acacias, Madrid
Latitude: 40.4043996, Longitude: -3.7049169

Row 9348: No result found for address: Calle del Teniente Coronel Nore�a, 39, Madrid

Row 9349: No result found for address: Calle de las Pe�uelas, 13, Madrid

Row 9350: Address: Calle de Linneo, 29, Madrid
Latitude: 40.4120405, Longitude: -3.7205356

Row 9351: Address: Calle Guillermo de Osma, 3, Madrid
Latitude: 40.393864050000005, Longitude: -3.6955305754145495

Row 9352: No result found for address: Calle de Torres Miranda, 2, Madrid

Row 9353: No result found for address: Calle Comandante Ben�tez, 3, Madrid

Row 9354: No result found for address: TENIENTE CORONEL NORE�A, Madrid

Row 9355: No result found for address: Calle de Caraba�a, Madrid

Row 9356: No result found for address: Calle de San Alejandro, Madrid

Row 9357: Address: Calle Eros, 14, Madrid
Latitude: 40.3926024, Longitude: -3.679943203490438

Row 9358: No result found for address: Plaza de las Pe�uelas, 10, Madrid

Row 9359: Address: Paseo de las Delicias, 8, Madrid
Latitude: 40.4064248, Longitude: -3.6934899

Row 9360: Address: caceres, Madrid
Latitude: 7.7558974, Longitude: -75.2518601

Row 9361: Address: Paseo de las Delicias, 65, Madrid
Latitude: 40.3986548, Longitude: -3.6940308

Row 9362: No result found for address: Calle de Carmen Cobe�a, Madrid

Row 9363: Address: Calle Laurel, 2, Madrid
Latitude: 19.328223, Longitude: -98.97731

Row 9364: Address: Paseo Imperial, 39, Madrid
Latitude: 40.402901, Longitude: -3.715504

Row 9365: Address: PARROCO EUSEBIO CUENCA, 34, Madrid
Latitude: 40.3960606, Longitude: -3.6893543

Row 9366: Address: GENERAL PALANCA, 32, Madrid
Latitude: 40.3992285, Longitude: -3.6957584

Row 9367: Address: Calle Manzanares, 1, Madrid
Latitude: 40.412889199999995, Longitude: -3.7180115357081545

Row 9368: Address: Calle de Melilla, Madrid
Latitude: 40.4009921, Longitude: -3.7098949

Row 9369: Address: Calle de Juan Duque, 28, Madrid
Latitude: 40.4115907, Longitude: -3.7187424

Row 9370: No result found for address: Calle Andr�s de Urdaneta, 7, Madrid

Row 9371: No result found for address: Calle de M�ndez �lvaro, 64, Madrid

Row 9372: Address: Calle de Enrique Trompeta, Madrid
Latitude: 40.3925913, Longitude: -3.6956853

Row 9373: No result found for address: Glorieta Santa Mar�a de la Cabeza, Madrid, Madrid

Row 9374: Address: Calle de Embajadores, 159, Madrid
Latitude: 40.39569725, Longitude: -3.695369384201573

Row 9375: No result found for address: Calle Mart�n Soler, 7, Madrid

Row 9376: Address: Calle Leonor de la Vega, 3, Madrid
Latitude: 40.4067002, Longitude: -3.7146108

Row 9377: Address: Paseo de las Delicias, 55, Madrid
Latitude: 40.4012164, Longitude: -3.6937307

Row 9378: Address: Calle Aldea del Fresno, 24, Madrid
Latitude: 40.39535225, Longitude: -3.699067832163591

Row 9379: Address: Calle de Embajadores, 274, Madrid
Latitude: 40.385508, Longitude: -3.6892025

Row 9380: No result found for address: Calle de Mart�n Soler, 8, Madrid

Row 9381: Address: GENERAL LACY, Madrid
Latitude: 40.4018267, Longitude: -3.6908841

Row 9382: Address: Calle de la Batalla del Salado, 33, Madrid
Latitude: 40.4001982, Longitude: -3.6961489

Row 9383: Address: Calle San Anastasio, 2, Madrid
Latitude: 40.3972818, Longitude: -3.703003

Row 9384: Address: Carvajales, 11, Madrid
Latitude: 40.399648049999996, Longitude: -3.702105319444445

Row 9385: Address: Calle de Tortosa, 3, Madrid
Latitude: 40.406364100000005, Longitude: -3.692715471086384

Row 9386: No result found for address: Calle de Sodio, 19, Madrid

Row 9387: Address: Calle del Hierro, 19, Madrid
Latitude: 40.43966505, Longitude: -3.6458757868506195

Row 9388: Address: Calle de Linneo, Madrid, Madrid
Latitude: 40.4120405, Longitude: -3.7205356

Row 9389: Address: Calle de Manzanares, Madrid, Madrid
Latitude: 40.412837, Longitude: -3.7194574

Row 9390: Address: Calle Tarragona, 12, Madrid
Latitude: 40.4014843, Longitude: -3.6972153012520046

Row 9391: Address: Calle de Melilla, 3, Madrid
Latitude: 40.4004662, Longitude: -3.7089406

Row 9392: Address: Calle de Cobos de Segovia, 7, Madrid
Latitude: 40.4055119, Longitude: -3.7187689677961173

Row 9393: Address: Calle de C�ceres, 53, Madrid
Latitude: 40.4417436, Longitude: -3.4727109

Row 9394: No result found for address: Calle Jos� Antonio Zapata, 14, Madrid

Row 9395: Address: Calle Ancora, 22, Madrid
Latitude: 40.40264845, Longitude: -3.6911918420362424

Row 9396: No result found for address: Calle Marqu�s de la Valdavia, 7, Madrid

Row 9397: Address: Calle del General Lacy, 18, Madrid
Latitude: 40.4036337, Longitude: -3.6909081

Row 9398: Address: Calle de Embajadores, 220, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 9399: Address: Calle de Embajadores, 214, Madrid
Latitude: 40.3903164, Longitude: -3.692667118427228

Row 9400: No result found for address: Calle Estrella Den�bola, 18 , PISO 4�, Madrid

Row 9401: Address: Calle Alejandro Ferrant, 3, Madrid
Latitude: 40.3953191, Longitude: -3.6938976954301213

Row 9402: No result found for address: Calle de Miguel Arredondo, Madrid

Row 9403: No result found for address: Paseo de Santa Mar�a de la Cabeza, Madrid, Madrid

Row 9404: Address: andres de urdaneta, Madrid
Latitude: 40.3894855, Longitude: -3.6935582

Row 9405: No result found for address: Calle de Carvajales, 9, Madrid

Row 9406: Address: Calle Moratines, 19, Madrid
Latitude: 40.4018633, Longitude: -3.7048511

Row 9407: Address: Paseo de las Delicias, 99, Madrid
Latitude: 40.3950124, Longitude: -3.6944495

Row 9408: Error geocoding address 'Calle Puerto de la Cruz Verde, 40, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+Puerto+de+la+Cruz+Verde%2C+40%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 9409: No result found for address: Glorieta de la Puerta de Toledo, Madrid

Row 9410: No result found for address: Urb. JUNTO A MADRID R�O Y EL METRO PUERTA DE TOLEDO, Madrid

Row 9411: Address: Paseo de las Delicias, 28, Madrid
Latitude: 40.4048964, Longitude: -3.693661

Row 9412: Address: Calle de Bustamante, Madrid
Latitude: 40.4005489, Longitude: -3.6882811

Row 9413: No result found for address: Calle de Mart�n de Vargas, Madrid, 31, Madrid

Row 9414: Address: Calle de Alejandro Saint Aubin, 6, Madrid
Latitude: 40.393235149999995, Longitude: -3.6971201103640086

Row 9415: Address: Calle de Embajadores s/n, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 9416: Address: Paseo de las Delicias, 10, Madrid
Latitude: 40.4063302, Longitude: -3.6935001

Row 9417: Address: Calle del Hierro, 4, Madrid
Latitude: 40.5618126, Longitude: -3.4975225

Row 9418: Address: Ronda de atocha, 15, Madrid
Latitude: 40.4071686, Longitude: -3.6944635

Row 9419: Address: Ronda de Toledo, Madrid, 28, Madrid
Latitude: 40.4053498, Longitude: -3.7054749

Row 9420: Address: Calle de Arganda, 39, Madrid
Latitude: 40.3974003, Longitude: -3.704081526250632

Row 9421: No result found for address: Paseo de Juan Antonio Vallejo-N�jera Botas, 49, Madrid

Row 9422: No result found for address: Calle Gil Im�n, Madrid

Row 9423: Address: Paseo de las Delicias, 87, Madrid
Latitude: 40.3960839, Longitude: -3.6943225

Row 9424: Address: Calle Delicias, 36, Madrid
Latitude: 40.403882550000006, Longitude: -3.691164313825997

Row 9425: Address: Calle Algete, 4 -10, Madrid
Latitude: 40.3885648, Longitude: -3.6943853

Row 9426: Address: mendez alvaro, 39, Madrid
Latitude: 40.3992393, Longitude: -3.683830034486295

Row 9427: No result found for address: Calle del Divino Vall�s, 29, Madrid

Row 9428: Address: Calle de Valdelasierra, Madrid, Madrid
Latitude: 40.3977974, Longitude: -3.7055999

Row 9429: Address: Avenida DE MANZANARES, Madrid
Latitude: 40.2330674, Longitude: -3.9770949

Row 9430: Address: Arganda, 36, Madrid
Latitude: 40.39980635, Longitude: -3.7064925518695304

Row 9431: No result found for address: Calle Marqu�s de la Valdavia, Madrid

Row 9432: Address: Calle C�ceres, Madrid
Latitude: 40.4417436, Longitude: -3.4727109

Row 9433: Address: Calle de Tarragona, 34, Madrid
Latitude: 40.401351899999995, Longitude: -3.6948019298148154

Row 9434: No result found for address: Calle de Torres Miranda, Madrid

Row 9435: No result found for address: Calle de M�ndez �lvaro, Madrid

Row 9436: Address: Calle Moratines s/n, Madrid
Latitude: 40.4018633, Longitude: -3.7048511

Row 9437: Address: Paseo de la Esperanza, 53, Madrid
Latitude: 40.39858715, Longitude: -3.702343871000007

Row 9438: Address: Calle de las Nebulosas, 2, Madrid
Latitude: 40.3942937, Longitude: -3.6841845

Row 9439: Address: Calle de Embajadores, 226, Madrid
Latitude: 40.387124, Longitude: -3.6904706

Row 9440: Address: Caceres, 4, Madrid
Latitude: 7.7558974, Longitude: -75.2518601

Row 9441: No result found for address: Paseo de los Melanc�licos, 25, Madrid

Row 9442: Address: Ronda DE TOLEDO, Madrid
Latitude: 40.4051662, Longitude: -3.7034324

Row 9443: No result found for address: Paseo Melanc�licos, Madrid

Row 9444: No result found for address: Calle de Aguil�n, Madrid

Row 9445: Address: Calle de las Nebulosas, Madrid
Latitude: 40.3954914, Longitude: -3.685797

Row 9446: No result found for address: Calle M�ndez �lvaro s/n, Madrid

Row 9447: Address: Paseo Melancolicos, Madrid
Latitude: 40.404238, Longitude: -3.7204925

Row 9448: Address: Delicias, 85, Madrid
Latitude: 40.3967843, Longitude: -3.6900384

Row 9449: No result found for address: Plaza de la Beata Mar�a Ana de Jes�s, Madrid, Madrid

Row 9450: Address: Paseo de los Olmos, Madrid, Madrid
Latitude: 40.406286, Longitude: -3.7113204

Row 9451: Address: Calle San Anastasio, Madrid
Latitude: 40.3970539, Longitude: -3.7034869

Row 9452: No result found for address: Calle del Divino Vall�s, 4, Madrid

Row 9453: Address: Calle de Melilla, 12, Madrid
Latitude: 40.4004662, Longitude: -3.7089406

Row 9454: No result found for address: Calle de Tom�s Bret�n, Madrid

Row 9455: Address: Calle Ciudad Real, Madrid
Latitude: 40.6623374, Longitude: -4.0538128

Row 9456: Address: MARTIN DE VARGAS, Madrid
Latitude: 40.4012763, Longitude: -3.7007841

Row 9457: Address: Calle DE LINNEO, Madrid
Latitude: 40.4120405, Longitude: -3.7205356

Row 9458: Address: JUAN DUQUE, Madrid
Latitude: 40.4115907, Longitude: -3.7187424

Row 9459: Address: Paseo de los Olmos, 10, Madrid
Latitude: 40.4052748, Longitude: -3.7111947

Row 9460: Address: Calle Nogales, Madrid
Latitude: 19.342636, Longitude: -99.0015941

Row 9461: Address: Ronda DE SEGOVIA, Madrid
Latitude: 40.410687, Longitude: -3.7180365

Row 9462: Address: Calle Torres Miranda, Madrid, Madrid
Latitude: 40.3977905, Longitude: -3.7002397

Row 9463: Address: CIUDAD REAL, Madrid
Latitude: 40.3998487, Longitude: -3.6941923

Row 9464: Address: Calle CANARIAS, Madrid
Latitude: 28.3354088, Longitude: -16.4198589

Row 9465: Address: Calle Divino Valles, Madrid
Latitude: 40.3964771, Longitude: -3.6983231

Row 9466: Address: Calle Aldea del Fresno, 7, Madrid
Latitude: 40.395917600000004, Longitude: -3.6971231290115947

Row 9467: No result found for address: Calle de Tom�s Borr�s, Madrid

Row 9468: Address: Calle Eros, 10, Madrid
Latitude: 40.3926024, Longitude: -3.679943203490438

Row 9469: Address: Calle Alejandro Saint Aubin, Madrid
Latitude: 40.39154475, Longitude: -3.6976624790022883

Row 9470: Address: Calle de Ercilla, Madrid
Latitude: 40.4010136, Longitude: -3.7014619

Row 9471: Address: CACERES, Madrid
Latitude: 7.7558974, Longitude: -75.2518601

Row 9472: Address: Calle de Santa Casilda, 6, Madrid
Latitude: 40.405151849999996, Longitude: -3.7133280426902724

Row 9473: Address: Calle Alonso del Barco, 16, Madrid
Latitude: 40.4041793, Longitude: -3.7009484

Row 9474: Address: Calle de Juan Duque, 45, Madrid
Latitude: 40.4092187, Longitude: -3.7194480784505224

Row 9475: No result found for address: Calle Puerto de B�jar, Madrid

Row 9476: Address: Plaza BEATA MARIA ANA DE JESUS, Madrid
Latitude: 40.3938768, Longitude: -3.694451

Row 9477: Address: Calle ALDEA DEL FRESNO, Madrid
Latitude: 40.3963582, Longitude: -3.6964975

Row 9478: Address: Paseo de las Delicias, 139, Madrid
Latitude: 40.3920567, Longitude: -3.6946390450983797

Row 9479: Address: Calle Fernando Poo, 12, Madrid
Latitude: 40.3987568, Longitude: -3.6996535

Row 9480: No result found for address: Calle Jos� Miguel Gordoa, Madrid

Row 9481: Address: Calle de Murcia, 20, Madrid
Latitude: 40.40498395, Longitude: -3.6924555688034184

Row 9482: Address: Calle de Embajadores, 84, Madrid
Latitude: 40.4034541, Longitude: -3.7015849

Row 9483: Address: Calle Soria, Madrid
Latitude: 40.4047357, Longitude: -3.7056296

Row 9484: Address: Calle de C�ceres, 48, Madrid
Latitude: 40.1810547, Longitude: -3.6867865

Row 9485: Address: Pasaje ANCORA, Madrid
Latitude: 40.4025909, Longitude: -3.6901823

Row 9486: Address: Calle RAFAEL DE RIEGO, Madrid
Latitude: 40.4041214, Longitude: -3.6921341

Row 9487: No result found for address: Calle del Teniente Coronel Nore�a, 53, Madrid

Row 9488: Address: Paseo de la Virgen del Puerto, Madrid
Latitude: 40.4144746, Longitude: -3.7208695

Row 9489: Address: Calle del Cobre, Madrid
Latitude: 40.3939269, Longitude: -3.6892986

Row 9490: Address: Pizarra, Madrid
Latitude: 40.4097407, Longitude: -3.7205889

Row 9491: Address: Calle TARRAGONA, Madrid
Latitude: 40.4015845, Longitude: -3.6961837

Row 9492: Address: Calle del Bronce, Madrid, Madrid
Latitude: 40.3922852, Longitude: -3.6883554

Row 9493: Address: Calle DEL PLOMO, 3, Madrid
Latitude: 40.3942558, Longitude: -3.6909938

Row 9494: Address: Calle Guillermo de Osma, Madrid
Latitude: 40.3937873, Longitude: -3.6982427

Row 9495: Address: Calle manzanares, Madrid
Latitude: 40.4307839, Longitude: -3.7348786

Row 9496: Address: Calle Manzanares, Madrid
Latitude: 40.4307839, Longitude: -3.7348786

Row 9497: Address: Calle del Laurel, Madrid
Latitude: 40.4021465, Longitude: -3.7042202

Row 9498: No result found for address: Calle Estrella Den�bola, 19, Madrid

Row 9499: Address: ARGANDA, 4, Madrid
Latitude: 40.3827439, Longitude: -3.6336036

Row 9500: Address: Toledo, Madrid
Latitude: -32.9490564, Longitude: -68.8644664

Row 9501: Address: Calle Mazarredo, Madrid
Latitude: 40.4129505, Longitude: -3.7183855

Row 9502: Address: Calle Alonso del Barco, Madrid
Latitude: 40.4041793, Longitude: -3.7009484

Row 9503: Address: Calle C�ceres, Madrid, Madrid
Latitude: 40.4417436, Longitude: -3.4727109

Row 9504: Address: Paseo del Molino, Madrid
Latitude: 40.3899302, Longitude: -3.6929973

Row 9505: Address: Calle del Puerto de Pozazal, Madrid
Latitude: 40.3799082, Longitude: -3.6326013

Row 9506: Address: Plaza Norte, Madrid
Latitude: 40.4734098, Longitude: -3.6945573

Row 9507: Address: Calle del Doctor Tolosa Latour, Madrid
Latitude: 40.3725183, Longitude: -3.7029058

Row 9508: Address: Calle DEVA, Madrid
Latitude: 40.3699081, Longitude: -3.7152388

Row 9509: Address: Adora, Madrid
Latitude: 40.3692823, Longitude: -3.6885725

Row 9510: Address: Calle Conde de Vallellano, Madrid
Latitude: 40.462419, Longitude: -3.69826

Row 9511: No result found for address: Calle Pingarr�n, Madrid

Row 9512: Address: Calle Reguera de Tomateros, Madrid
Latitude: 40.3712426, Longitude: -3.6581785

Row 9513: Address: Calle de Candilejas, 68, Madrid
Latitude: 40.3816664, Longitude: -3.6647175

Row 9514: No result found for address: Calle los Y�benes, 35, Madrid

Row 9515: Address: pericles, Madrid
Latitude: 40.4091579, Longitude: -3.730652

Row 9516: Address: Calle Villaviciosa, 19, Madrid
Latitude: 40.313259599999995, Longitude: -3.7944547106758826

Row 9517: No result found for address: Av. de Las �guilas, Madrid

Row 9518: No result found for address: Calle Mag�n Calvo, Madrid

Row 9519: Address: Calle Artesa de Segre, Madrid
Latitude: 40.4686855, Longitude: -3.7286445

Row 9520: Address: Ronda de Sobradiel, 6 A, Madrid
Latitude: 40.4521776, Longitude: -3.638807

Row 9521: Address: Calle Zurbano, 52, Madrid
Latitude: 40.4393922, Longitude: -3.6927652

Row 9522: Address: Calle BOIX Y MORER, Madrid
Latitude: 40.4399584, Longitude: -3.7064428

Row 9523: Address: CRUZADA, 1, Madrid
Latitude: 40.4164031, Longitude: -3.7113796

Row 9524: Address: Calle del Caballero de Gracia, Madrid
Latitude: 40.4192495, Longitude: -3.6995839

Row 9525: Address: Calle PRINCIPE, Madrid
Latitude: 40.4940857, Longitude: -3.6572784

Row 9526: Address: circon, Madrid
Latitude: 40.3959436, Longitude: -3.6898151

Row 9527: No result found for address: CARABA�A, Madrid

Row 9528: Address: Calle del Litio, 3, Madrid
Latitude: 40.389691, Longitude: -3.689171

Row 9529: Address: Batalla del Salado, Madrid
Latitude: 40.4020104, Longitude: -3.6960311

Row 9530: Address: delicias, Madrid
Latitude: 40.3967843, Longitude: -3.6900384

Row 9531: Address: Calle de Ercilla, Madrid, Madrid
Latitude: 40.4010136, Longitude: -3.7014619

Row 9532: Address: Calle Canal de Suez, Madrid
Latitude: 40.4708681, Longitude: -3.5810866

Row 9533: Address: Calle Galera, Madrid
Latitude: 40.4542001, Longitude: -3.5898999

Row 9534: No result found for address: Calle de G�minis, 19, Madrid

Row 9535: Address: Plata, Madrid
Latitude: -34.4741575, Longitude: -54.3047136

Row 9536: Error geocoding address 'Calle de S�hara, 50, Madrid': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Calle+de+S%EF%BF%BDhara%2C+50%2C+Madrid&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Row 9537: Address: Calle Selma Lagerloff, Madrid
Latitude: 40.3544635, Longitude: -3.6875942

Row 9538: Address: puebla de sanabria, Madrid
Latitude: 40.3514626, Longitude: -3.7106466

Row 9539: Address: Avenida de los rosales, Madrid
Latitude: 40.3685331, Longitude: -3.6937483

Row 9540: Address: Calle Acebes, Madrid
Latitude: 40.3472688, Longitude: -3.705089

Row 9541: Address: Calle Doroteo Laborda, Madrid
Latitude: 40.3429049, Longitude: -3.7142098

Row 9542: Address: DOCTOR CRIADO, 6, Madrid
Latitude: 40.3479526, Longitude: -3.7049099

Row 9543: No result found for address: Calle G�mez Acebo, 10, Madrid

Row 9544: No result found for address: el prat, Madrid

Row 9545: No result found for address: Calle de San Filem�n, Madrid

Row 9546: Address: PINILLAS, Madrid
Latitude: 40.3978214, Longitude: -3.6174028

Row 9547: Address: GRAN VIA DEL ESTE, Madrid
Latitude: 40.4036016, Longitude: -3.595547

Row 9548: Address: Calle Francisco Fatou, Madrid
Latitude: 40.3825737, Longitude: -3.6213418

Row 9549: No result found for address: Calle Entrepe�as, Madrid

Row 9550: Address: Calle Arroyo, 24, Madrid
Latitude: 40.9651076, Longitude: -3.7175308

Row 9551: Address: Calle Cestona, Madrid
Latitude: 40.3726216, Longitude: -3.7137554

Row 9552: Address: Calle Mirasierra, Madrid
Latitude: 40.3896572, Longitude: -3.705661

Row 9553: No result found for address: Calle Jos� Bielsa, Madrid

Row 9554: Address: Plaza Movimiento Ciudadano, Madrid
Latitude: 40.370644, Longitude: -3.7077879492844676

Row 9555: No result found for address: Calle Perpetua D�az, 11, Madrid

Row 9556: Address: Calle Mariano Vela, 45, Madrid
Latitude: 40.3857303, Longitude: -3.7109802

Row 9557: Address: HERNANI, Madrid
Latitude: 40.447676, Longitude: -3.6969654

Row 9558: Address: Calle de O'Donnell, 18, Madrid
Latitude: 40.4214468, Longitude: -3.677028

Row 9559: Address: Encomienda de Palacios, Madrid
Latitude: 40.3981445, Longitude: -3.6377436

Row 9560: Address: Calle de la Encomienda de Palacios, 102, Madrid
Latitude: 40.3994297, Longitude: -3.643914979478479

Row 9561: No result found for address: Calle JOS� BERGAM�N, Madrid

Row 9562: No result found for address: Calle ARROYO FONTORRON, Madrid

Row 9563: Address: PICO DE LOS ARTILLEROS, Madrid
Latitude: 40.4061358, Longitude: -3.6395173

Row 9564: Address: Calle ARROYO FONTARRON, Madrid
Latitude: 40.3986252, Longitude: -3.6461807

Row 9565: No result found for address: Calle Jose Bergam�n, Madrid

Row 9566: Address: Calle Arroyo Fontarron, Madrid
Latitude: 40.3986252, Longitude: -3.6461807

Row 9567: Address: Calle de la Hacienda de Pavones, Madrid, Madrid
Latitude: 40.3995738, Longitude: -3.6310173

Row 9568: Address: Calle del Arroyo de la Media Legua, 50, Madrid
Latitude: 40.4137152, Longitude: -3.6525093

Row 9569: No result found for address: Calle M�rida, 62, Madrid

Row 9570: Address: Camino DE LOS VINATEROS, Madrid
Latitude: 40.3213766, Longitude: -3.6299102

Row 9571: Address: MARROQUINA, Madrid
Latitude: 40.4107193, Longitude: -3.6405684

Row 9572: Address: Avenida de Buenos Aires, 93, Madrid
Latitude: 40.3803645, Longitude: -3.6525771

Row 9573: Address: Calle de los Robles, Madrid
Latitude: 40.3994325, Longitude: -3.3607386

Row 9574: Address: SAN JORGE, Madrid
Latitude: 40.464044, Longitude: -3.6961654

Row 9575: No result found for address: Calle Carde�a, 4, Madrid

Row 9576: Address: Calle Bustos, Madrid
Latitude: 40.3971066, Longitude: -3.6669196

Row 9577: Address: Calle de Callejo, Madrid
Latitude: 40.388841, Longitude: -3.6693038

Row 9578: Address: Calle Daimiel, Madrid
Latitude: 40.4087362, Longitude: -3.7236181

Row 9579: Address: Calle Fuenteovejuna, Madrid
Latitude: 40.409705, Longitude: -3.7275845

Row 9580: Address: Calle San Conrado, Madrid
Latitude: 40.4059183, Longitude: -3.7236544

Row 9581: Address: Avenida Padre Piquer, Madrid
Latitude: 40.3950213, Longitude: -3.7685336

Row 9582: Address: Calle de Latina, 13, Madrid
Latitude: 40.4011838, Longitude: -3.7503658

Row 9583: Address: Paseo de Extremadura, 140, Madrid
Latitude: 40.3802309, Longitude: -3.7892829

Row 9584: No result found for address: Calle de la Huerta de Casta�eda, Madrid

Row 9585: Address: oca�a, Madrid
Latitude: 40.3897177, Longitude: -3.7346149

Row 9586: Address: Paseo de la Ermita del Santo, 53, Madrid
Latitude: 40.3993698, Longitude: -3.7331506

Row 9587: No result found for address: Calle de Do�a Menc�a, 11, Madrid

Row 9588: Address: Calle Vidauba, Madrid
Latitude: 40.3833328, Longitude: -3.7637814

Row 9589: Address: Calle de Aramis, Madrid
Latitude: 40.4084176, Longitude: -3.7301657

Row 9590: No result found for address: Urb. Camino del Barrial, Madrid

Row 9591: Address: Calle Aldea Real, Madrid
Latitude: 40.4695603, Longitude: -3.7347572

Row 9592: Address: Calle Aldea Real, Madrid, 3, Madrid
Latitude: 40.4695603, Longitude: -3.7347572

Row 9593: No result found for address: Calle de Jos� Bastos, Madrid, Madrid

Row 9594: No result found for address: Urb. DIPLOM�TICOS, Madrid

Row 9595: No result found for address: Calle de Villagarc�a, Madrid

Row 9596: Address: Urb. MIRASIERRA, Madrid
Latitude: 40.6332973, Longitude: -4.0067609

Row 9597: Address: Calle Cambrils, Madrid
Latitude: 40.4862836, Longitude: -3.7106458

Row 9598: No result found for address: Calle Pe�a del Sol, Madrid

Row 9599: Address: Calle Cambrils, 53, Madrid
Latitude: 40.4862836, Longitude: -3.7106458

Row 9600: Address: Isabel Colbrand, Madrid, Madrid
Latitude: 40.5141876, Longitude: -3.6712861

Row 9601: Address: ULISES, Madrid
Latitude: 40.4560519, Longitude: -3.6561286

Row 9602: Address: Avenida de Carondelet, Madrid
Latitude: 40.4506496, Longitude: -3.6441845

Row 9603: Address: Calle MARIA PANES, Madrid
Latitude: 40.4445325, Longitude: -3.6958692

Row 9604: Address: Calle ALONSO CANO, Madrid
Latitude: 40.4428631, Longitude: -3.6974228

Row 9605: No result found for address: Calle de Cea Berm�dez, 20, Madrid

Row 9606: No result found for address: MANUEL MAR�A IGLESIAS, Madrid

Row 9607: Address: Calle de Luis Ruiz, 84, Madrid
Latitude: 40.4251481, Longitude: -3.6348586991914296

Row 9608: No result found for address: Calle de Josefa Valc�rcel, Madrid

Row 9609: Address: Calle del Poeta Blas de Otero, 81, Madrid
Latitude: 40.42286405, Longitude: -3.6516894798244124

Row 9610: Address: Calle CALERUEGA, Madrid
Latitude: 40.4771278, Longitude: -3.6692044

Row 9611: Address: Calle de Servando Batanero, 11, Madrid
Latitude: 40.42946285, Longitude: -3.6498231362381848

Row 9612: Address: Calle Ascao, 35, Madrid
Latitude: 40.430754, Longitude: -3.6398782

Row 9613: Address: Lorenzo Gonzalez, Madrid
Latitude: 40.431655, Longitude: -3.6491455

Row 9614: Address: San Fidel, 10, Madrid
Latitude: 40.42626185, Longitude: -3.642216775588942

Row 9615: No result found for address: Calle Nuestra Se�ora del Villar, 67, Madrid

Row 9616: No result found for address: Calle G�mez de Avellaneda, 44, Madrid

Row 9617: No result found for address: Calle Nuestra Se�ora del Villar, 5, Madrid

Row 9618: No result found for address: BRET�N DE LOS HERREROS, 9, Madrid

Row 9619: No result found for address: Calle Uni�n, 1, Madrid

Row 9620: Address: Calle de la Madera s/n, Madrid
Latitude: 40.4251449, Longitude: -3.7027971

Row 9621: Address: Calle de Pelayo, 26, Madrid
Latitude: 40.4227916, Longitude: -3.6984293

Row 9622: Address: Calle Isabel la Catolica, Madrid
Latitude: 40.6184884, Longitude: -3.4002397

Row 9623: Address: Paseo del Prado, 14, Madrid
Latitude: 40.4142049, Longitude: -3.6942365

Row 9624: No result found for address: Calle de C�diz, Madrid

Row 9625: No result found for address: Calle de Morat�n, Madrid, Madrid

Row 9626: Address: fuencarral, 22, Madrid
Latitude: 40.422019, Longitude: -3.7008756

Row 9627: Address: Calle de Bailen, Madrid
Latitude: 40.4202132, Longitude: -3.7128154

Row 9628: Address: Calle ALBERTO AGUILERA, Madrid
Latitude: 40.4305604, Longitude: -3.7161447

Row 9629: Address: Calle Santiago, Madrid
Latitude: 40.1427735, Longitude: -3.4238219

Row 9630: Address: Cuesta de las Descargas, Madrid
Latitude: 40.4085614, Longitude: -3.7152745

Row 9631: No result found for address: Calle DE PADRE DAMIAN, Madrid

Row 9632: Address: castellon de la plana, Madrid
Latitude: 39.9881419, Longitude: -0.0331236

Row 9633: Address: Belalcazar, Madrid
Latitude: 40.4439154, Longitude: -3.689793

Row 9634: Address: Calle Mateo Inurria, 8, Madrid
Latitude: 40.466600799999995, Longitude: -3.6851562220762757

Row 9635: Address: Calle maria de molina, Madrid
Latitude: 40.4374733, Longitude: -3.6785947

Row 9636: Address: Glorieta Embajadores, Madrid
Latitude: 40.4048383, Longitude: -3.702243

Row 9637: No result found for address: Calle del Gas�metro, Madrid, Madrid

Row 9638: Address: Calle atocha, Madrid
Latitude: 40.412549, Longitude: -3.6994409

Row 9639: Address: Calle Moratines, Madrid, Madrid
Latitude: 40.4018633, Longitude: -3.7048511

Row 9640: No result found for address: Calle Jos� Mar�a Roquero, Madrid

Row 9641: Address: Calle del Bronce, Madrid
Latitude: 40.3922852, Longitude: -3.6883554

Row 9642: Address: Calle del Divino Vall�s, Madrid, Madrid
Latitude: 40.4691395, Longitude: -3.7001487

Row 9643: Address: Paseo IMPERIAL, Madrid
Latitude: 40.402901, Longitude: -3.715504

Row 9644: No result found for address: Calle de Juana Do�a, 18, Madrid

Row 9645: No result found for address: Calle Teresa L�pez Valc�rcel, Madrid

Row 9646: Address: Paseo de la Alameda de Osuna, Madrid
Latitude: 40.4544086, Longitude: -3.5982056

Row 9647: No result found for address: Calle Bah�a de Alicante, 56, Madrid

Row 9648: Address: Calle Benito Monfort, Madrid
Latitude: 40.4570645, Longitude: -3.5939093

Row 9649: Address: Calle Gale�n, Madrid
Latitude: 40.4282205, Longitude: -3.7049688

Row 9650: Address: Calle Arroyomolino, Madrid
Latitude: 40.4747196, Longitude: -3.5833813

Row 9651: Address: Calle Canoa, Madrid
Latitude: 40.4524456, Longitude: -3.5905392

Row 9652: No result found for address: Calle Bergant�n, Madrid

Row 9653: No result found for address: Calle de Bah�a de Cartagena, Madrid

Row 9654: No result found for address: Calle Tim�n, Madrid

Row 9655: No result found for address: Calle de G�minis, Madrid

Row 9656: Address: Calle Canoa, Madrid, Madrid
Latitude: 40.4524456, Longitude: -3.5905392

Row 9657: Address: Calle de Algemesi, Madrid
Latitude: 40.4725069, Longitude: -3.58182

Row 9658: Address: Calle Noray, Madrid
Latitude: 40.4517092, Longitude: -3.5956566

Row 9659: Address: Calle de La Rioja, Madrid
Latitude: 40.4546963, Longitude: -3.5924089

Row 9660: No result found for address: Calle Tint�n y Mil�, Madrid

Row 9661: Address: Calle del Zodiaco, Madrid
Latitude: 40.4756044, Longitude: -3.5772067

Row 9662: Address: Calle Siroco, Madrid
Latitude: 40.4752625, Longitude: -3.597899

Row 9663: No result found for address: Calle J�piter, Madrid

Row 9664: No result found for address: Calle Bah�a de Almer�a, Madrid

Row 9665: No result found for address: Calle Bah�a de Alicante, Madrid

Row 9666: No result found for address: Urb. Campo de las Naciones - Corralejos, Madrid

Row 9667: Address: Calle Burriana, 12, Madrid
Latitude: 40.4647826, Longitude: -3.586485

Row 9668: Address is missing (NaN)

Row 9669: Address is missing (NaN)

Row 9670: Address is missing (NaN)

Row 9671: Address is missing (NaN)

Row 9672: Address is missing (NaN)

Row 9673: Address is missing (NaN)

Row 9674: Address is missing (NaN)

Row 9675: Address is missing (NaN)

Row 9676: Address is missing (NaN)

Row 9677: Address is missing (NaN)

Row 9678: Address is missing (NaN)

Row 9679: Address is missing (NaN)

Row 9680: Address is missing (NaN)

Row 9681: Address is missing (NaN)

Row 9682: Address is missing (NaN)

Row 9683: Address is missing (NaN)

Row 9684: Address is missing (NaN)

Row 9685: Address is missing (NaN)

Row 9686: Address is missing (NaN)

Row 9687: Address is missing (NaN)

Row 9688: Address is missing (NaN)

Row 9689: Address is missing (NaN)

Row 9690: Address is missing (NaN)

Row 9691: Address is missing (NaN)

Row 9692: Address is missing (NaN)

Row 9693: Address is missing (NaN)

Row 9694: Address is missing (NaN)

Row 9695: Address is missing (NaN)

Row 9696: Address is missing (NaN)

Row 9697: Address is missing (NaN)

Row 9698: Address is missing (NaN)

Row 9699: Address is missing (NaN)

Row 9700: Address is missing (NaN)

Row 9701: Address is missing (NaN)

Row 9702: Address is missing (NaN)

Row 9703: Address is missing (NaN)

Row 9704: Address is missing (NaN)

Row 9705: Address is missing (NaN)

Row 9706: Address is missing (NaN)

Row 9707: Address is missing (NaN)

Row 9708: Address is missing (NaN)

Row 9709: Address is missing (NaN)

Row 9710: Address is missing (NaN)

Row 9711: Address is missing (NaN)

Row 9712: Address is missing (NaN)

Row 9713: Address is missing (NaN)

Row 9714: Address is missing (NaN)

Row 9715: Address is missing (NaN)

Row 9716: Address is missing (NaN)

Row 9717: Address is missing (NaN)

Row 9718: Address is missing (NaN)

Row 9719: Address is missing (NaN)

Row 9720: Address is missing (NaN)

Row 9721: Address is missing (NaN)

Row 9722: Address is missing (NaN)

Row 9723: Address is missing (NaN)

Row 9724: Address is missing (NaN)

Row 9725: Address is missing (NaN)

Row 9726: Address is missing (NaN)

Row 9727: Address is missing (NaN)

Row 9728: Address is missing (NaN)

Row 9729: Address is missing (NaN)

Row 9730: Address is missing (NaN)

Row 9731: Address is missing (NaN)

Row 9732: Address is missing (NaN)

Row 9733: Address is missing (NaN)

Row 9734: Address is missing (NaN)

Row 9735: Address is missing (NaN)

Row 9736: Address is missing (NaN)

Row 9737: Address is missing (NaN)

Row 9738: Address is missing (NaN)

Row 9739: Address is missing (NaN)

Row 9740: Address is missing (NaN)

Row 9741: Address is missing (NaN)

Row 9742: Address is missing (NaN)

Row 9743: Address is missing (NaN)

Row 9744: Address is missing (NaN)

Row 9745: Address is missing (NaN)

Row 9746: Address is missing (NaN)

Row 9747: Address is missing (NaN)

Row 9748: Address is missing (NaN)

Row 9749: Address is missing (NaN)

Row 9750: Address is missing (NaN)

Row 9751: Address is missing (NaN)

Row 9752: Address is missing (NaN)

Row 9753: Address is missing (NaN)

Row 9754: Address is missing (NaN)

Row 9755: Address is missing (NaN)

Row 9756: Address is missing (NaN)

Row 9757: Address is missing (NaN)

Row 9758: Address is missing (NaN)

Row 9759: Address is missing (NaN)

Row 9760: Address is missing (NaN)

Row 9761: Address is missing (NaN)

Row 9762: Address is missing (NaN)

Row 9763: Address is missing (NaN)

Row 9764: Address is missing (NaN)

Row 9765: Address is missing (NaN)

Row 9766: Address is missing (NaN)

Row 9767: Address is missing (NaN)

Row 9768: Address is missing (NaN)

Row 9769: Address is missing (NaN)

Row 9770: Address is missing (NaN)

Row 9771: Address is missing (NaN)

Row 9772: Address is missing (NaN)

Row 9773: Address is missing (NaN)

Row 9774: Address is missing (NaN)

Row 9775: Address is missing (NaN)

Row 9776: Address is missing (NaN)

Row 9777: Address is missing (NaN)

Row 9778: Address is missing (NaN)

Row 9779: Address is missing (NaN)

Row 9780: Address is missing (NaN)

Row 9781: Address is missing (NaN)

Row 9782: Address is missing (NaN)

Row 9783: Address is missing (NaN)

Row 9784: Address is missing (NaN)

Row 9785: Address is missing (NaN)

Row 9786: Address is missing (NaN)

Row 9787: Address is missing (NaN)

Row 9788: Address is missing (NaN)

Row 9789: Address is missing (NaN)

Row 9790: Address is missing (NaN)

Row 9791: Address is missing (NaN)

Row 9792: Address is missing (NaN)

Row 9793: Address is missing (NaN)

Row 9794: Address is missing (NaN)

Row 9795: Address is missing (NaN)

Row 9796: Address is missing (NaN)

Row 9797: Address is missing (NaN)

Row 9798: Address is missing (NaN)

Row 9799: Address is missing (NaN)

Row 9800: Address is missing (NaN)

Row 9801: Address is missing (NaN)

Row 9802: Address is missing (NaN)

Row 9803: Address is missing (NaN)

Row 9804: Address is missing (NaN)

Row 9805: Address is missing (NaN)

Row 9806: Address is missing (NaN)

Row 9807: Address is missing (NaN)

Row 9808: Address is missing (NaN)

Row 9809: Address is missing (NaN)

Row 9810: Address is missing (NaN)

Row 9811: Address is missing (NaN)

Row 9812: Address is missing (NaN)

Row 9813: Address is missing (NaN)

Row 9814: Address is missing (NaN)

Row 9815: Address is missing (NaN)

Row 9816: Address is missing (NaN)

Row 9817: Address is missing (NaN)

Row 9818: Address is missing (NaN)

Row 9819: Address is missing (NaN)

Row 9820: Address is missing (NaN)

Row 9821: Address is missing (NaN)

Row 9822: Address is missing (NaN)

Row 9823: Address is missing (NaN)

Row 9824: Address is missing (NaN)

Row 9825: Address is missing (NaN)

Row 9826: Address is missing (NaN)

Row 9827: Address is missing (NaN)

Row 9828: Address is missing (NaN)

Row 9829: Address is missing (NaN)

Row 9830: Address is missing (NaN)

Row 9831: Address is missing (NaN)

Row 9832: Address is missing (NaN)

Row 9833: Address is missing (NaN)

Row 9834: Address is missing (NaN)

Row 9835: Address is missing (NaN)

Row 9836: Address is missing (NaN)

Row 9837: Address is missing (NaN)

Row 9838: Address is missing (NaN)

Row 9839: Address is missing (NaN)

Row 9840: Address is missing (NaN)

Row 9841: Address is missing (NaN)

Row 9842: Address is missing (NaN)

Row 9843: Address is missing (NaN)

Row 9844: Address is missing (NaN)

Row 9845: Address is missing (NaN)

Row 9846: Address is missing (NaN)

Row 9847: Address is missing (NaN)

Row 9848: Address is missing (NaN)

Row 9849: Address is missing (NaN)

Row 9850: Address is missing (NaN)

Row 9851: Address is missing (NaN)

Row 9852: Address is missing (NaN)

Row 9853: Address is missing (NaN)

Row 9854: Address is missing (NaN)

Row 9855: Address is missing (NaN)

Row 9856: Address is missing (NaN)

Row 9857: Address is missing (NaN)

Row 9858: Address is missing (NaN)

Row 9859: Address is missing (NaN)

Row 9860: Address is missing (NaN)

Row 9861: Address is missing (NaN)

Row 9862: Address is missing (NaN)

Row 9863: Address is missing (NaN)

Row 9864: Address is missing (NaN)

Row 9865: Address is missing (NaN)

Row 9866: Address is missing (NaN)

Row 9867: Address is missing (NaN)

Row 9868: Address is missing (NaN)

Row 9869: Address is missing (NaN)

Row 9870: Address is missing (NaN)

Row 9871: Address is missing (NaN)

Row 9872: Address is missing (NaN)

Row 9873: Address is missing (NaN)

Row 9874: Address is missing (NaN)

Row 9875: Address is missing (NaN)

Row 9876: Address is missing (NaN)

Row 9877: Address is missing (NaN)

Row 9878: Address is missing (NaN)

Row 9879: Address is missing (NaN)

Row 9880: Address is missing (NaN)

Row 9881: Address is missing (NaN)

Row 9882: Address is missing (NaN)

Row 9883: Address is missing (NaN)

Row 9884: Address is missing (NaN)

Row 9885: Address is missing (NaN)

Row 9886: Address is missing (NaN)

Row 9887: Address is missing (NaN)

Row 9888: Address is missing (NaN)

Row 9889: Address is missing (NaN)

Row 9890: Address is missing (NaN)

Row 9891: Address is missing (NaN)

Row 9892: Address is missing (NaN)

Row 9893: Address is missing (NaN)

Row 9894: Address is missing (NaN)

Row 9895: Address is missing (NaN)

Row 9896: Address is missing (NaN)

Row 9897: Address is missing (NaN)

Row 9898: Address is missing (NaN)

Row 9899: Address is missing (NaN)

Row 9900: Address is missing (NaN)

Row 9901: Address is missing (NaN)

Row 9902: Address is missing (NaN)

Row 9903: Address is missing (NaN)

Row 9904: Address is missing (NaN)

Row 9905: Address is missing (NaN)

Row 9906: Address is missing (NaN)

Row 9907: Address is missing (NaN)

Row 9908: Address is missing (NaN)

Row 9909: Address is missing (NaN)

Row 9910: Address is missing (NaN)

Row 9911: Address is missing (NaN)

Row 9912: Address is missing (NaN)

Row 9913: Address is missing (NaN)

Row 9914: Address is missing (NaN)

Row 9915: Address is missing (NaN)

Row 9916: Address is missing (NaN)

Row 9917: Address is missing (NaN)

Row 9918: Address is missing (NaN)

Row 9919: Address is missing (NaN)

Row 9920: Address is missing (NaN)

Row 9921: Address is missing (NaN)

Row 9922: Address is missing (NaN)

Row 9923: Address is missing (NaN)

Row 9924: Address is missing (NaN)

Row 9925: Address is missing (NaN)

Row 9926: Address is missing (NaN)

Row 9927: Address is missing (NaN)

Row 9928: Address is missing (NaN)

Row 9929: Address is missing (NaN)

Row 9930: Address is missing (NaN)

Row 9931: Address is missing (NaN)

Row 9932: Address is missing (NaN)

Row 9933: Address is missing (NaN)

Row 9934: Address is missing (NaN)

Row 9935: Address is missing (NaN)

Row 9936: Address is missing (NaN)

Row 9937: Address is missing (NaN)

Row 9938: Address is missing (NaN)

Row 9939: Address is missing (NaN)

Row 9940: Address is missing (NaN)

Row 9941: Address is missing (NaN)

Row 9942: Address is missing (NaN)

Row 9943: Address is missing (NaN)

Row 9944: Address is missing (NaN)

Row 9945: Address is missing (NaN)

Row 9946: Address is missing (NaN)

Row 9947: Address is missing (NaN)

Row 9948: Address is missing (NaN)

Row 9949: Address is missing (NaN)

Row 9950: Address is missing (NaN)

Row 9951: Address is missing (NaN)

Row 9952: Address is missing (NaN)

Row 9953: Address is missing (NaN)

Row 9954: Address is missing (NaN)

Row 9955: Address is missing (NaN)

Row 9956: Address is missing (NaN)

Row 9957: Address is missing (NaN)

Row 9958: Address is missing (NaN)

Row 9959: Address is missing (NaN)

Row 9960: Address is missing (NaN)

Row 9961: Address is missing (NaN)

Row 9962: Address is missing (NaN)

Row 9963: Address is missing (NaN)

Row 9964: Address is missing (NaN)

Row 9965: Address is missing (NaN)

Row 9966: Address is missing (NaN)

Row 9967: Address is missing (NaN)

Row 9968: Address is missing (NaN)

Row 9969: Address is missing (NaN)

Row 9970: Address is missing (NaN)

Row 9971: Address is missing (NaN)

Row 9972: Address is missing (NaN)

Row 9973: Address is missing (NaN)

Row 9974: Address is missing (NaN)

Row 9975: Address is missing (NaN)

Row 9976: Address is missing (NaN)

Row 9977: Address is missing (NaN)

Row 9978: Address is missing (NaN)

Row 9979: Address is missing (NaN)

Row 9980: Address is missing (NaN)

Row 9981: Address is missing (NaN)

Row 9982: Address is missing (NaN)

Row 9983: Address is missing (NaN)

Row 9984: Address is missing (NaN)

Row 9985: Address is missing (NaN)

Row 9986: Address is missing (NaN)

Row 9987: Address is missing (NaN)

Row 9988: Address is missing (NaN)

Row 9989: Address is missing (NaN)

Row 9990: Address is missing (NaN)

Row 9991: Address is missing (NaN)

Row 9992: Address is missing (NaN)

Row 9993: Address is missing (NaN)

Row 9994: Address is missing (NaN)

Row 9995: Address is missing (NaN)

Row 9996: Address is missing (NaN)

Row 9997: Address is missing (NaN)

Row 9998: Address is missing (NaN)

Row 9999: Address is missing (NaN)

Row 10000: Address is missing (NaN)

Row 10001: Address is missing (NaN)

Row 10002: Address is missing (NaN)

Row 10003: Address is missing (NaN)

Row 10004: Address is missing (NaN)

Row 10005: Address is missing (NaN)

Row 10006: Address is missing (NaN)

Row 10007: Address is missing (NaN)

Row 10008: Address is missing (NaN)

Row 10009: Address is missing (NaN)

Row 10010: Address is missing (NaN)

Row 10011: Address is missing (NaN)

Row 10012: Address is missing (NaN)

Row 10013: Address is missing (NaN)

Row 10014: Address is missing (NaN)

Row 10015: Address is missing (NaN)

Row 10016: Address is missing (NaN)

Row 10017: Address is missing (NaN)

Row 10018: Address is missing (NaN)

Row 10019: Address is missing (NaN)

Row 10020: Address is missing (NaN)

Row 10021: Address is missing (NaN)

Row 10022: Address is missing (NaN)

Row 10023: Address is missing (NaN)

Row 10024: Address is missing (NaN)

Row 10025: Address is missing (NaN)

Row 10026: Address is missing (NaN)

Row 10027: Address is missing (NaN)

Row 10028: Address is missing (NaN)

Row 10029: Address is missing (NaN)

Row 10030: Address is missing (NaN)

Row 10031: Address is missing (NaN)

Row 10032: Address is missing (NaN)

Row 10033: Address is missing (NaN)

Row 10034: Address is missing (NaN)

Row 10035: Address is missing (NaN)

Row 10036: Address is missing (NaN)

Row 10037: Address is missing (NaN)

Row 10038: Address is missing (NaN)

Row 10039: Address is missing (NaN)

Row 10040: Address is missing (NaN)

Row 10041: Address is missing (NaN)

Row 10042: Address is missing (NaN)

Row 10043: Address is missing (NaN)

Row 10044: Address is missing (NaN)

Row 10045: Address is missing (NaN)

Row 10046: Address is missing (NaN)

Row 10047: Address is missing (NaN)

Row 10048: Address is missing (NaN)

Row 10049: Address is missing (NaN)

Row 10050: Address is missing (NaN)

Row 10051: Address is missing (NaN)

Row 10052: Address is missing (NaN)

Row 10053: Address is missing (NaN)

Row 10054: Address is missing (NaN)

Row 10055: Address is missing (NaN)

Row 10056: Address is missing (NaN)

Row 10057: Address is missing (NaN)

Row 10058: Address is missing (NaN)

Row 10059: Address is missing (NaN)

Row 10060: Address is missing (NaN)

Row 10061: Address is missing (NaN)

Row 10062: Address is missing (NaN)

Row 10063: Address is missing (NaN)

Row 10064: Address is missing (NaN)

Row 10065: Address is missing (NaN)

Row 10066: Address is missing (NaN)

Row 10067: Address is missing (NaN)

Row 10068: Address is missing (NaN)

Row 10069: Address is missing (NaN)

Row 10070: Address is missing (NaN)

Row 10071: Address is missing (NaN)

Row 10072: Address is missing (NaN)

Row 10073: Address is missing (NaN)

Row 10074: Address is missing (NaN)

Row 10075: Address is missing (NaN)

Row 10076: Address is missing (NaN)

Row 10077: Address is missing (NaN)

Row 10078: Address is missing (NaN)

Row 10079: Address is missing (NaN)

Row 10080: Address is missing (NaN)

Row 10081: Address is missing (NaN)

Row 10082: Address is missing (NaN)

Row 10083: Address is missing (NaN)

Row 10084: Address is missing (NaN)

Row 10085: Address is missing (NaN)

Row 10086: Address is missing (NaN)

Row 10087: Address is missing (NaN)

Row 10088: Address is missing (NaN)

Row 10089: Address is missing (NaN)

Row 10090: Address is missing (NaN)

Row 10091: Address is missing (NaN)

Row 10092: Address is missing (NaN)

Row 10093: Address is missing (NaN)

Row 10094: Address is missing (NaN)

Row 10095: Address is missing (NaN)

Row 10096: Address is missing (NaN)

Row 10097: Address is missing (NaN)

Row 10098: Address is missing (NaN)

Row 10099: Address is missing (NaN)

Row 10100: Address is missing (NaN)

Row 10101: Address is missing (NaN)

Row 10102: Address is missing (NaN)

Row 10103: Address is missing (NaN)

Row 10104: Address is missing (NaN)

Row 10105: Address is missing (NaN)

Row 10106: Address is missing (NaN)

Row 10107: Address is missing (NaN)

Row 10108: Address is missing (NaN)

Row 10109: Address is missing (NaN)

Row 10110: Address is missing (NaN)

Row 10111: Address is missing (NaN)

Row 10112: Address is missing (NaN)

Row 10113: Address is missing (NaN)

Row 10114: Address is missing (NaN)

Row 10115: Address is missing (NaN)

Row 10116: Address is missing (NaN)

Row 10117: Address is missing (NaN)

Row 10118: Address is missing (NaN)

Row 10119: Address is missing (NaN)

Row 10120: Address is missing (NaN)

Row 10121: Address is missing (NaN)

Row 10122: Address is missing (NaN)

Row 10123: Address is missing (NaN)

Row 10124: Address is missing (NaN)

Row 10125: Address is missing (NaN)

Row 10126: Address is missing (NaN)

Row 10127: Address is missing (NaN)

Row 10128: Address is missing (NaN)

Row 10129: Address is missing (NaN)

Row 10130: Address is missing (NaN)

Row 10131: Address is missing (NaN)

Row 10132: Address is missing (NaN)

Row 10133: Address is missing (NaN)

Row 10134: Address is missing (NaN)

Row 10135: Address is missing (NaN)

Row 10136: Address is missing (NaN)

Row 10137: Address is missing (NaN)

Row 10138: Address is missing (NaN)

Row 10139: Address is missing (NaN)

Row 10140: Address is missing (NaN)

Row 10141: Address is missing (NaN)

Row 10142: Address is missing (NaN)

Row 10143: Address is missing (NaN)

Row 10144: Address is missing (NaN)

Row 10145: Address is missing (NaN)

Row 10146: Address is missing (NaN)

Row 10147: Address is missing (NaN)

Row 10148: Address is missing (NaN)

Row 10149: Address is missing (NaN)

Row 10150: Address is missing (NaN)

Row 10151: Address is missing (NaN)

Row 10152: Address is missing (NaN)

Row 10153: Address is missing (NaN)

Row 10154: Address is missing (NaN)

Row 10155: Address is missing (NaN)

Row 10156: Address is missing (NaN)

Row 10157: Address is missing (NaN)

Row 10158: Address is missing (NaN)

Row 10159: Address is missing (NaN)

Row 10160: Address is missing (NaN)

Row 10161: Address is missing (NaN)

Row 10162: Address is missing (NaN)

Row 10163: Address is missing (NaN)

Row 10164: Address is missing (NaN)

Row 10165: Address is missing (NaN)

Row 10166: Address is missing (NaN)

Row 10167: Address is missing (NaN)

Row 10168: Address is missing (NaN)

Row 10169: Address is missing (NaN)

Row 10170: Address is missing (NaN)

Row 10171: Address is missing (NaN)

Row 10172: Address is missing (NaN)

Row 10173: Address is missing (NaN)

Row 10174: Address is missing (NaN)

Row 10175: Address is missing (NaN)

Row 10176: Address is missing (NaN)

Row 10177: Address is missing (NaN)

Row 10178: Address is missing (NaN)

Row 10179: Address is missing (NaN)

Row 10180: Address is missing (NaN)

Row 10181: Address is missing (NaN)

Row 10182: Address is missing (NaN)

Row 10183: Address is missing (NaN)

Row 10184: Address is missing (NaN)

Row 10185: Address is missing (NaN)

Row 10186: Address is missing (NaN)

Row 10187: Address is missing (NaN)

Row 10188: Address is missing (NaN)

Row 10189: Address is missing (NaN)

Row 10190: Address is missing (NaN)

Row 10191: Address is missing (NaN)

Row 10192: Address is missing (NaN)

Row 10193: Address is missing (NaN)

Row 10194: Address is missing (NaN)

Row 10195: Address is missing (NaN)

Row 10196: Address is missing (NaN)

Row 10197: Address is missing (NaN)

Row 10198: Address is missing (NaN)

Row 10199: Address is missing (NaN)

Row 10200: Address is missing (NaN)

Row 10201: Address is missing (NaN)

Row 10202: Address is missing (NaN)

Row 10203: Address is missing (NaN)

Row 10204: Address is missing (NaN)

Row 10205: Address is missing (NaN)

Row 10206: Address is missing (NaN)

Row 10207: Address is missing (NaN)

Row 10208: Address is missing (NaN)

Row 10209: Address is missing (NaN)

Row 10210: Address is missing (NaN)

Row 10211: Address is missing (NaN)

Row 10212: Address is missing (NaN)

Row 10213: Address is missing (NaN)

Row 10214: Address is missing (NaN)

Row 10215: Address is missing (NaN)

Row 10216: Address is missing (NaN)

Row 10217: Address is missing (NaN)

Row 10218: Address is missing (NaN)

Row 10219: Address is missing (NaN)

Row 10220: Address is missing (NaN)

Row 10221: Address is missing (NaN)

Row 10222: Address is missing (NaN)

Row 10223: Address is missing (NaN)

Row 10224: Address is missing (NaN)

Row 10225: Address is missing (NaN)

Row 10226: Address is missing (NaN)

Row 10227: Address is missing (NaN)

Row 10228: Address is missing (NaN)

Row 10229: Address is missing (NaN)

Row 10230: Address is missing (NaN)

Row 10231: Address is missing (NaN)

Row 10232: Address is missing (NaN)

Row 10233: Address is missing (NaN)

Row 10234: Address is missing (NaN)

Row 10235: Address is missing (NaN)

Row 10236: Address is missing (NaN)

Row 10237: Address is missing (NaN)

Row 10238: Address is missing (NaN)

Row 10239: Address is missing (NaN)

Row 10240: Address is missing (NaN)

Row 10241: Address is missing (NaN)

Row 10242: Address is missing (NaN)

Row 10243: Address is missing (NaN)

Row 10244: Address is missing (NaN)

Row 10245: Address is missing (NaN)

Row 10246: Address is missing (NaN)

Row 10247: Address is missing (NaN)

Row 10248: Address is missing (NaN)

Row 10249: Address is missing (NaN)

Row 10250: Address is missing (NaN)

Row 10251: Address is missing (NaN)

Row 10252: Address is missing (NaN)

Row 10253: Address is missing (NaN)

Row 10254: Address is missing (NaN)

Row 10255: Address is missing (NaN)

Row 10256: Address is missing (NaN)

Row 10257: Address is missing (NaN)

Row 10258: Address is missing (NaN)

Row 10259: Address is missing (NaN)

Row 10260: Address is missing (NaN)

Row 10261: Address is missing (NaN)

Row 10262: Address is missing (NaN)

Row 10263: Address is missing (NaN)

Row 10264: Address is missing (NaN)

Row 10265: Address is missing (NaN)

Row 10266: Address is missing (NaN)

Row 10267: Address is missing (NaN)

Row 10268: Address is missing (NaN)

Row 10269: Address is missing (NaN)

Row 10270: Address is missing (NaN)

Row 10271: Address is missing (NaN)

Row 10272: Address is missing (NaN)

Row 10273: Address is missing (NaN)

Row 10274: Address is missing (NaN)

Row 10275: Address is missing (NaN)

Row 10276: Address is missing (NaN)

Row 10277: Address is missing (NaN)

Row 10278: Address is missing (NaN)

Row 10279: Address is missing (NaN)

Row 10280: Address is missing (NaN)

Row 10281: Address is missing (NaN)

Row 10282: Address is missing (NaN)

Row 10283: Address is missing (NaN)

Row 10284: Address is missing (NaN)

Row 10285: Address is missing (NaN)

Row 10286: Address is missing (NaN)

Row 10287: Address is missing (NaN)

Row 10288: Address is missing (NaN)

Row 10289: Address is missing (NaN)

Row 10290: Address is missing (NaN)

Row 10291: Address is missing (NaN)

Row 10292: Address is missing (NaN)

Row 10293: Address is missing (NaN)

Row 10294: Address is missing (NaN)

Row 10295: Address is missing (NaN)

Row 10296: Address is missing (NaN)

Row 10297: Address is missing (NaN)

Row 10298: Address is missing (NaN)

Row 10299: Address is missing (NaN)

Row 10300: Address is missing (NaN)

Row 10301: Address is missing (NaN)

Row 10302: Address is missing (NaN)

Row 10303: Address is missing (NaN)

Row 10304: Address is missing (NaN)

Row 10305: Address is missing (NaN)

Row 10306: Address is missing (NaN)

Row 10307: Address is missing (NaN)

Row 10308: Address is missing (NaN)

Row 10309: Address is missing (NaN)

Row 10310: Address is missing (NaN)

Row 10311: Address is missing (NaN)

Row 10312: Address is missing (NaN)

Row 10313: Address is missing (NaN)

Row 10314: Address is missing (NaN)

Row 10315: Address is missing (NaN)

Row 10316: Address is missing (NaN)

Row 10317: Address is missing (NaN)

Row 10318: Address is missing (NaN)

Row 10319: Address is missing (NaN)

Row 10320: Address is missing (NaN)

Row 10321: Address is missing (NaN)

Row 10322: Address is missing (NaN)

Row 10323: Address is missing (NaN)

Row 10324: Address is missing (NaN)

Row 10325: Address is missing (NaN)

Row 10326: Address is missing (NaN)

Row 10327: Address is missing (NaN)

Row 10328: Address is missing (NaN)

Row 10329: Address is missing (NaN)

Row 10330: Address is missing (NaN)

Row 10331: Address is missing (NaN)

Row 10332: Address is missing (NaN)

Row 10333: Address is missing (NaN)

Row 10334: Address is missing (NaN)

Row 10335: Address is missing (NaN)

Row 10336: Address is missing (NaN)

Row 10337: Address is missing (NaN)

Row 10338: Address is missing (NaN)

Row 10339: Address is missing (NaN)

Row 10340: Address is missing (NaN)

Row 10341: Address is missing (NaN)

Row 10342: Address is missing (NaN)

Row 10343: Address is missing (NaN)

Row 10344: Address is missing (NaN)

Row 10345: Address is missing (NaN)

Row 10346: Address is missing (NaN)

Row 10347: Address is missing (NaN)

Row 10348: Address is missing (NaN)

Row 10349: Address is missing (NaN)

Row 10350: Address is missing (NaN)

Row 10351: Address is missing (NaN)

Row 10352: Address is missing (NaN)

Row 10353: Address is missing (NaN)

Row 10354: Address is missing (NaN)

Row 10355: Address is missing (NaN)

Row 10356: Address is missing (NaN)

Row 10357: Address is missing (NaN)

Row 10358: Address is missing (NaN)

Row 10359: Address is missing (NaN)

Row 10360: Address is missing (NaN)

Row 10361: Address is missing (NaN)

Row 10362: Address is missing (NaN)

Row 10363: Address is missing (NaN)

Row 10364: Address is missing (NaN)

Row 10365: Address is missing (NaN)

Row 10366: Address is missing (NaN)

Row 10367: Address is missing (NaN)

Row 10368: Address is missing (NaN)

Row 10369: Address is missing (NaN)

Row 10370: Address is missing (NaN)

Row 10371: Address is missing (NaN)

Row 10372: Address is missing (NaN)

Row 10373: Address is missing (NaN)

Row 10374: Address is missing (NaN)

Row 10375: Address is missing (NaN)

Row 10376: Address is missing (NaN)

Row 10377: Address is missing (NaN)

Row 10378: Address is missing (NaN)

Row 10379: Address is missing (NaN)

Row 10380: Address is missing (NaN)

Row 10381: Address is missing (NaN)

Row 10382: Address is missing (NaN)

Row 10383: Address is missing (NaN)

Row 10384: Address is missing (NaN)

Row 10385: Address is missing (NaN)

Row 10386: Address is missing (NaN)

Row 10387: Address is missing (NaN)

Row 10388: Address is missing (NaN)

Row 10389: Address is missing (NaN)

Row 10390: Address is missing (NaN)

Row 10391: Address is missing (NaN)

Row 10392: Address is missing (NaN)

Row 10393: Address is missing (NaN)

Row 10394: Address is missing (NaN)

Row 10395: Address is missing (NaN)

Row 10396: Address is missing (NaN)

Row 10397: Address is missing (NaN)

Row 10398: Address is missing (NaN)

Row 10399: Address is missing (NaN)

Row 10400: Address is missing (NaN)

Row 10401: Address is missing (NaN)

Row 10402: Address is missing (NaN)

Row 10403: Address is missing (NaN)

Row 10404: Address is missing (NaN)

Row 10405: Address is missing (NaN)

Row 10406: Address is missing (NaN)

Row 10407: Address is missing (NaN)

Row 10408: Address is missing (NaN)

Row 10409: Address is missing (NaN)

Row 10410: Address is missing (NaN)

Row 10411: Address is missing (NaN)

Row 10412: Address is missing (NaN)

Row 10413: Address is missing (NaN)

Row 10414: Address is missing (NaN)

Row 10415: Address is missing (NaN)

Row 10416: Address is missing (NaN)

Row 10417: Address is missing (NaN)

Row 10418: Address is missing (NaN)

Row 10419: Address is missing (NaN)

Row 10420: Address is missing (NaN)

Row 10421: Address is missing (NaN)

Row 10422: Address is missing (NaN)

Row 10423: Address is missing (NaN)

Row 10424: Address is missing (NaN)

Row 10425: Address is missing (NaN)

Row 10426: Address is missing (NaN)

Row 10427: Address is missing (NaN)

Row 10428: Address is missing (NaN)

Row 10429: Address is missing (NaN)

Row 10430: Address is missing (NaN)

Row 10431: Address is missing (NaN)

Row 10432: Address is missing (NaN)

Row 10433: Address is missing (NaN)

Row 10434: Address is missing (NaN)

Row 10435: Address is missing (NaN)

Row 10436: Address is missing (NaN)

Row 10437: Address is missing (NaN)

Row 10438: Address is missing (NaN)

Row 10439: Address is missing (NaN)

Row 10440: Address is missing (NaN)

Row 10441: Address is missing (NaN)

Row 10442: Address is missing (NaN)

Row 10443: Address is missing (NaN)

Row 10444: Address is missing (NaN)

Row 10445: Address is missing (NaN)

Row 10446: Address is missing (NaN)

Row 10447: Address is missing (NaN)

Row 10448: Address is missing (NaN)

Row 10449: Address is missing (NaN)

Row 10450: Address is missing (NaN)

Row 10451: Address is missing (NaN)

Row 10452: Address is missing (NaN)

Row 10453: Address is missing (NaN)

Row 10454: Address is missing (NaN)

Row 10455: Address is missing (NaN)

Row 10456: Address is missing (NaN)

Row 10457: Address is missing (NaN)

Row 10458: Address is missing (NaN)

Row 10459: Address is missing (NaN)

Row 10460: Address is missing (NaN)

Row 10461: Address is missing (NaN)

Row 10462: Address is missing (NaN)

Row 10463: Address is missing (NaN)

Row 10464: Address is missing (NaN)

Row 10465: Address is missing (NaN)

Row 10466: Address is missing (NaN)

Row 10467: Address is missing (NaN)

Row 10468: Address is missing (NaN)

Row 10469: Address is missing (NaN)

Row 10470: Address is missing (NaN)

Row 10471: Address is missing (NaN)

Row 10472: Address is missing (NaN)

Row 10473: Address is missing (NaN)

Row 10474: Address is missing (NaN)

Row 10475: Address is missing (NaN)

Row 10476: Address is missing (NaN)

Row 10477: Address is missing (NaN)

Row 10478: Address is missing (NaN)

Row 10479: Address is missing (NaN)

Row 10480: Address is missing (NaN)

Row 10481: Address is missing (NaN)

Row 10482: Address is missing (NaN)

Row 10483: Address is missing (NaN)

Row 10484: Address is missing (NaN)

Row 10485: Address is missing (NaN)

Row 10486: Address is missing (NaN)

Row 10487: Address is missing (NaN)

Row 10488: Address is missing (NaN)

Row 10489: Address is missing (NaN)

Row 10490: Address is missing (NaN)

Row 10491: Address is missing (NaN)

Row 10492: Address is missing (NaN)

Row 10493: Address is missing (NaN)

Row 10494: Address is missing (NaN)

Row 10495: Address is missing (NaN)

Row 10496: Address is missing (NaN)

Row 10497: Address is missing (NaN)

Row 10498: Address is missing (NaN)

Row 10499: Address is missing (NaN)

Row 10500: Address is missing (NaN)

Row 10501: Address is missing (NaN)

Row 10502: Address is missing (NaN)

Row 10503: Address is missing (NaN)

Row 10504: Address is missing (NaN)

Row 10505: Address is missing (NaN)

Row 10506: Address is missing (NaN)

Row 10507: Address is missing (NaN)

Row 10508: Address is missing (NaN)

Row 10509: Address is missing (NaN)

Row 10510: Address is missing (NaN)

Row 10511: Address is missing (NaN)

Row 10512: Address is missing (NaN)

Row 10513: Address is missing (NaN)

Row 10514: Address is missing (NaN)

Row 10515: Address is missing (NaN)

Row 10516: Address is missing (NaN)

Row 10517: Address is missing (NaN)

Row 10518: Address is missing (NaN)

Row 10519: Address is missing (NaN)

Row 10520: Address is missing (NaN)

Row 10521: Address is missing (NaN)

Row 10522: Address is missing (NaN)

Row 10523: Address is missing (NaN)

Row 10524: Address is missing (NaN)

Row 10525: Address is missing (NaN)

Row 10526: Address is missing (NaN)

Row 10527: Address is missing (NaN)

Row 10528: Address is missing (NaN)

Row 10529: Address is missing (NaN)

Row 10530: Address is missing (NaN)

Row 10531: Address is missing (NaN)

Row 10532: Address is missing (NaN)

Row 10533: Address is missing (NaN)

Row 10534: Address is missing (NaN)

Row 10535: Address is missing (NaN)

Row 10536: Address is missing (NaN)

Row 10537: Address is missing (NaN)

Row 10538: Address is missing (NaN)

Row 10539: Address is missing (NaN)

Row 10540: Address is missing (NaN)

Row 10541: Address is missing (NaN)

Row 10542: Address is missing (NaN)

Row 10543: Address is missing (NaN)

Row 10544: Address is missing (NaN)

Row 10545: Address is missing (NaN)

Row 10546: Address is missing (NaN)

Row 10547: Address is missing (NaN)

Row 10548: Address is missing (NaN)

Row 10549: Address is missing (NaN)

Row 10550: Address is missing (NaN)

Row 10551: Address is missing (NaN)

Row 10552: Address is missing (NaN)

Row 10553: Address is missing (NaN)

Row 10554: Address is missing (NaN)

Row 10555: Address is missing (NaN)

Row 10556: Address is missing (NaN)

Row 10557: Address is missing (NaN)

Row 10558: Address is missing (NaN)

Row 10559: Address is missing (NaN)

Row 10560: Address is missing (NaN)

Row 10561: Address is missing (NaN)

Row 10562: Address is missing (NaN)

Row 10563: Address is missing (NaN)

Row 10564: Address is missing (NaN)

Row 10565: Address is missing (NaN)

Row 10566: Address is missing (NaN)

Row 10567: Address is missing (NaN)

Row 10568: Address is missing (NaN)

Row 10569: Address is missing (NaN)

Row 10570: Address is missing (NaN)

Row 10571: Address is missing (NaN)

Row 10572: Address is missing (NaN)

Row 10573: Address is missing (NaN)

Row 10574: Address is missing (NaN)

Row 10575: Address is missing (NaN)

Row 10576: Address is missing (NaN)

Row 10577: Address is missing (NaN)

Row 10578: Address is missing (NaN)

Row 10579: Address is missing (NaN)

Row 10580: Address is missing (NaN)

Row 10581: Address is missing (NaN)

Row 10582: Address is missing (NaN)

Row 10583: Address is missing (NaN)

Row 10584: Address is missing (NaN)

Row 10585: Address is missing (NaN)

Row 10586: Address is missing (NaN)

Row 10587: Address is missing (NaN)

Row 10588: Address is missing (NaN)

Row 10589: Address is missing (NaN)

Row 10590: Address is missing (NaN)

Row 10591: Address is missing (NaN)

Row 10592: Address is missing (NaN)

Row 10593: Address is missing (NaN)

Row 10594: Address is missing (NaN)

Row 10595: Address is missing (NaN)

Row 10596: Address is missing (NaN)

Row 10597: Address is missing (NaN)

Row 10598: Address is missing (NaN)

Row 10599: Address is missing (NaN)

Row 10600: Address is missing (NaN)

Row 10601: Address is missing (NaN)

Row 10602: Address is missing (NaN)

Row 10603: Address is missing (NaN)

Row 10604: Address is missing (NaN)

Row 10605: Address is missing (NaN)

Row 10606: Address is missing (NaN)

Row 10607: Address is missing (NaN)

Row 10608: Address is missing (NaN)

Row 10609: Address is missing (NaN)

Row 10610: Address is missing (NaN)

Row 10611: Address is missing (NaN)

Row 10612: Address is missing (NaN)

Row 10613: Address is missing (NaN)

Row 10614: Address is missing (NaN)

Row 10615: Address is missing (NaN)

Row 10616: Address is missing (NaN)

Row 10617: Address is missing (NaN)

Row 10618: Address is missing (NaN)

Row 10619: Address is missing (NaN)

Row 10620: Address is missing (NaN)

Row 10621: Address is missing (NaN)

Row 10622: Address is missing (NaN)

Row 10623: Address is missing (NaN)

Row 10624: Address is missing (NaN)

Row 10625: Address is missing (NaN)

Row 10626: Address is missing (NaN)

Row 10627: Address is missing (NaN)

Row 10628: Address is missing (NaN)

Row 10629: Address is missing (NaN)

Row 10630: Address is missing (NaN)

Row 10631: Address is missing (NaN)

Row 10632: Address is missing (NaN)

Row 10633: Address is missing (NaN)

Row 10634: Address is missing (NaN)

Row 10635: Address is missing (NaN)

Row 10636: Address is missing (NaN)

Row 10637: Address is missing (NaN)

Row 10638: Address is missing (NaN)

Row 10639: Address is missing (NaN)

Row 10640: Address is missing (NaN)

Row 10641: Address is missing (NaN)

Row 10642: Address is missing (NaN)

Row 10643: Address is missing (NaN)

Row 10644: Address is missing (NaN)

Row 10645: Address is missing (NaN)

Row 10646: Address is missing (NaN)

Row 10647: Address is missing (NaN)

Row 10648: Address is missing (NaN)

Row 10649: Address is missing (NaN)

Row 10650: Address is missing (NaN)

Row 10651: Address is missing (NaN)

Row 10652: Address is missing (NaN)

Row 10653: Address is missing (NaN)

Row 10654: Address is missing (NaN)

Row 10655: Address is missing (NaN)

Row 10656: Address is missing (NaN)

Row 10657: Address is missing (NaN)

Row 10658: Address is missing (NaN)

Row 10659: Address is missing (NaN)

Row 10660: Address is missing (NaN)

Row 10661: Address is missing (NaN)

Row 10662: Address is missing (NaN)

Row 10663: Address is missing (NaN)

Row 10664: Address is missing (NaN)

Row 10665: Address is missing (NaN)

Row 10666: Address is missing (NaN)

Row 10667: Address is missing (NaN)

Row 10668: Address is missing (NaN)

Row 10669: Address is missing (NaN)

Row 10670: Address is missing (NaN)

Row 10671: Address is missing (NaN)

Row 10672: Address is missing (NaN)

Row 10673: Address is missing (NaN)

Row 10674: Address is missing (NaN)

Row 10675: Address is missing (NaN)

Row 10676: Address is missing (NaN)

Row 10677: Address is missing (NaN)

Row 10678: Address is missing (NaN)

Row 10679: Address is missing (NaN)

Row 10680: Address is missing (NaN)

Row 10681: Address is missing (NaN)

Row 10682: Address is missing (NaN)

Row 10683: Address is missing (NaN)

Row 10684: Address is missing (NaN)

Row 10685: Address is missing (NaN)

Row 10686: Address is missing (NaN)

Row 10687: Address is missing (NaN)

Row 10688: Address is missing (NaN)

Row 10689: Address is missing (NaN)

Row 10690: Address is missing (NaN)

Row 10691: Address is missing (NaN)

Row 10692: Address is missing (NaN)

Row 10693: Address is missing (NaN)

Row 10694: Address is missing (NaN)

Row 10695: Address is missing (NaN)

Row 10696: Address is missing (NaN)

Row 10697: Address is missing (NaN)

Row 10698: Address is missing (NaN)

Row 10699: Address is missing (NaN)

Row 10700: Address is missing (NaN)

Row 10701: Address is missing (NaN)

Row 10702: Address is missing (NaN)

Row 10703: Address is missing (NaN)

Row 10704: Address is missing (NaN)

Row 10705: Address is missing (NaN)

Row 10706: Address is missing (NaN)

Row 10707: Address is missing (NaN)

Row 10708: Address is missing (NaN)

Row 10709: Address is missing (NaN)

Row 10710: Address is missing (NaN)

Row 10711: Address is missing (NaN)

Row 10712: Address is missing (NaN)

Row 10713: Address is missing (NaN)

Row 10714: Address is missing (NaN)

Row 10715: Address is missing (NaN)

Row 10716: Address is missing (NaN)

Row 10717: Address is missing (NaN)

Row 10718: Address is missing (NaN)

Row 10719: Address is missing (NaN)

Row 10720: Address is missing (NaN)

Row 10721: Address is missing (NaN)

Row 10722: Address is missing (NaN)

Row 10723: Address is missing (NaN)

Row 10724: Address is missing (NaN)

Row 10725: Address is missing (NaN)

Row 10726: Address is missing (NaN)

Row 10727: Address is missing (NaN)

Row 10728: Address is missing (NaN)

Row 10729: Address is missing (NaN)

Row 10730: Address is missing (NaN)

Row 10731: Address is missing (NaN)

Row 10732: Address is missing (NaN)

Row 10733: Address is missing (NaN)

Row 10734: Address is missing (NaN)

Row 10735: Address is missing (NaN)

Row 10736: Address is missing (NaN)

Row 10737: Address is missing (NaN)

Row 10738: Address is missing (NaN)

Row 10739: Address is missing (NaN)

Row 10740: Address is missing (NaN)

Row 10741: Address is missing (NaN)

Row 10742: Address is missing (NaN)

Row 10743: Address is missing (NaN)

Row 10744: Address is missing (NaN)

Row 10745: Address is missing (NaN)

Row 10746: Address is missing (NaN)

Row 10747: Address is missing (NaN)

Row 10748: Address is missing (NaN)

Row 10749: Address is missing (NaN)

Row 10750: Address is missing (NaN)

Row 10751: Address is missing (NaN)

Row 10752: Address is missing (NaN)

Row 10753: Address is missing (NaN)

Row 10754: Address is missing (NaN)

Row 10755: Address is missing (NaN)

Row 10756: Address is missing (NaN)

Row 10757: Address is missing (NaN)

Row 10758: Address is missing (NaN)

Row 10759: Address is missing (NaN)

Row 10760: Address is missing (NaN)

Row 10761: Address is missing (NaN)

Row 10762: Address is missing (NaN)

Row 10763: Address is missing (NaN)

Row 10764: Address is missing (NaN)

Row 10765: Address is missing (NaN)

Row 10766: Address is missing (NaN)

Row 10767: Address is missing (NaN)

Row 10768: Address is missing (NaN)

Row 10769: Address is missing (NaN)

Row 10770: Address is missing (NaN)

Row 10771: Address is missing (NaN)

Row 10772: Address is missing (NaN)

Row 10773: Address is missing (NaN)

Row 10774: Address is missing (NaN)

Row 10775: Address is missing (NaN)

Row 10776: Address is missing (NaN)

Row 10777: Address is missing (NaN)

Row 10778: Address is missing (NaN)

Row 10779: Address is missing (NaN)

Row 10780: Address is missing (NaN)

Row 10781: Address is missing (NaN)

Row 10782: Address is missing (NaN)

Row 10783: Address is missing (NaN)

Row 10784: Address is missing (NaN)

Row 10785: Address is missing (NaN)

Row 10786: Address is missing (NaN)

Row 10787: Address is missing (NaN)

Row 10788: Address is missing (NaN)

Row 10789: Address is missing (NaN)

Row 10790: Address is missing (NaN)

Row 10791: Address is missing (NaN)

Row 10792: Address is missing (NaN)

Row 10793: Address is missing (NaN)

Row 10794: Address is missing (NaN)

Row 10795: Address is missing (NaN)

Row 10796: Address is missing (NaN)

Row 10797: Address is missing (NaN)

Row 10798: Address is missing (NaN)

Row 10799: Address is missing (NaN)

Row 10800: Address is missing (NaN)

Row 10801: Address is missing (NaN)

Row 10802: Address is missing (NaN)

Row 10803: Address is missing (NaN)

Row 10804: Address is missing (NaN)

Row 10805: Address is missing (NaN)

Row 10806: Address is missing (NaN)

Row 10807: Address is missing (NaN)

Row 10808: Address is missing (NaN)

Row 10809: Address is missing (NaN)

Row 10810: Address is missing (NaN)

Row 10811: Address is missing (NaN)

Row 10812: Address is missing (NaN)

Row 10813: Address is missing (NaN)

Row 10814: Address is missing (NaN)

Row 10815: Address is missing (NaN)

Row 10816: Address is missing (NaN)

Row 10817: Address is missing (NaN)

Row 10818: Address is missing (NaN)

Row 10819: Address is missing (NaN)

Row 10820: Address is missing (NaN)

Row 10821: Address is missing (NaN)

Row 10822: Address is missing (NaN)

Row 10823: Address is missing (NaN)

Row 10824: Address is missing (NaN)

Row 10825: Address is missing (NaN)

Row 10826: Address is missing (NaN)

Row 10827: Address is missing (NaN)

Row 10828: Address is missing (NaN)

Row 10829: Address is missing (NaN)

Row 10830: Address is missing (NaN)

Row 10831: Address is missing (NaN)

Row 10832: Address is missing (NaN)

Row 10833: Address is missing (NaN)

Row 10834: Address is missing (NaN)

Row 10835: Address is missing (NaN)

Row 10836: Address is missing (NaN)

Row 10837: Address is missing (NaN)

Row 10838: Address is missing (NaN)

Row 10839: Address is missing (NaN)

Row 10840: Address is missing (NaN)

Row 10841: Address is missing (NaN)

Row 10842: Address is missing (NaN)

Row 10843: Address is missing (NaN)

Row 10844: Address is missing (NaN)

Row 10845: Address is missing (NaN)

Row 10846: Address is missing (NaN)

Row 10847: Address is missing (NaN)

Row 10848: Address is missing (NaN)

Row 10849: Address is missing (NaN)

Row 10850: Address is missing (NaN)

Row 10851: Address is missing (NaN)

Row 10852: Address is missing (NaN)

Row 10853: Address is missing (NaN)

Row 10854: Address is missing (NaN)

Row 10855: Address is missing (NaN)

Row 10856: Address is missing (NaN)

Row 10857: Address is missing (NaN)

Row 10858: Address is missing (NaN)

Row 10859: Address is missing (NaN)

Row 10860: Address is missing (NaN)

Row 10861: Address is missing (NaN)

Row 10862: Address is missing (NaN)

Row 10863: Address is missing (NaN)

Row 10864: Address is missing (NaN)

Row 10865: Address is missing (NaN)

Row 10866: Address is missing (NaN)

Row 10867: Address is missing (NaN)

Row 10868: Address is missing (NaN)

Row 10869: Address is missing (NaN)

Row 10870: Address is missing (NaN)

Row 10871: Address is missing (NaN)

Row 10872: Address is missing (NaN)

Row 10873: Address is missing (NaN)

Row 10874: Address is missing (NaN)

Row 10875: Address is missing (NaN)

Row 10876: Address is missing (NaN)

Row 10877: Address is missing (NaN)

Row 10878: Address is missing (NaN)

Row 10879: Address is missing (NaN)

Row 10880: Address is missing (NaN)

Row 10881: Address is missing (NaN)

Row 10882: Address is missing (NaN)

Row 10883: Address is missing (NaN)

Row 10884: Address is missing (NaN)

Row 10885: Address is missing (NaN)

Row 10886: Address is missing (NaN)

Row 10887: Address is missing (NaN)

Row 10888: Address is missing (NaN)

Row 10889: Address is missing (NaN)

Row 10890: Address is missing (NaN)

Row 10891: Address is missing (NaN)

Row 10892: Address is missing (NaN)

Row 10893: Address is missing (NaN)

Row 10894: Address is missing (NaN)

Row 10895: Address is missing (NaN)

Row 10896: Address is missing (NaN)

Row 10897: Address is missing (NaN)

Row 10898: Address is missing (NaN)

Row 10899: Address is missing (NaN)

Row 10900: Address is missing (NaN)

Row 10901: Address is missing (NaN)

Row 10902: Address is missing (NaN)

Row 10903: Address is missing (NaN)

Row 10904: Address is missing (NaN)

Row 10905: Address is missing (NaN)

Row 10906: Address is missing (NaN)

Row 10907: Address is missing (NaN)

Row 10908: Address is missing (NaN)

Row 10909: Address is missing (NaN)

Row 10910: Address is missing (NaN)

Row 10911: Address is missing (NaN)

Row 10912: Address is missing (NaN)

Row 10913: Address is missing (NaN)

Row 10914: Address is missing (NaN)

Row 10915: Address is missing (NaN)

Row 10916: Address is missing (NaN)

Row 10917: Address is missing (NaN)

Row 10918: Address is missing (NaN)

Row 10919: Address is missing (NaN)

Row 10920: Address is missing (NaN)

Row 10921: Address is missing (NaN)

Row 10922: Address is missing (NaN)

Row 10923: Address is missing (NaN)

Row 10924: Address is missing (NaN)

Row 10925: Address is missing (NaN)

Row 10926: Address is missing (NaN)

Row 10927: Address is missing (NaN)

Row 10928: Address is missing (NaN)

Row 10929: Address is missing (NaN)

Row 10930: Address is missing (NaN)

Row 10931: Address is missing (NaN)

Row 10932: Address is missing (NaN)

Row 10933: Address is missing (NaN)

Row 10934: Address is missing (NaN)

Row 10935: Address is missing (NaN)

Row 10936: Address is missing (NaN)

Row 10937: Address is missing (NaN)

Row 10938: Address is missing (NaN)

Row 10939: Address is missing (NaN)

Row 10940: Address is missing (NaN)

Row 10941: Address is missing (NaN)

Row 10942: Address is missing (NaN)

Row 10943: Address is missing (NaN)

Row 10944: Address is missing (NaN)

Row 10945: Address is missing (NaN)

Row 10946: Address is missing (NaN)

Row 10947: Address is missing (NaN)

Row 10948: Address is missing (NaN)

Row 10949: Address is missing (NaN)

Row 10950: Address is missing (NaN)

Row 10951: Address is missing (NaN)

Row 10952: Address is missing (NaN)

Row 10953: Address is missing (NaN)

Row 10954: Address is missing (NaN)

Row 10955: Address is missing (NaN)

Row 10956: Address is missing (NaN)

Row 10957: Address is missing (NaN)

Row 10958: Address is missing (NaN)

Row 10959: Address is missing (NaN)

Row 10960: Address is missing (NaN)

Row 10961: Address is missing (NaN)

Row 10962: Address is missing (NaN)

Row 10963: Address is missing (NaN)

Row 10964: Address is missing (NaN)

Row 10965: Address is missing (NaN)

Row 10966: Address is missing (NaN)

Row 10967: Address is missing (NaN)

Row 10968: Address is missing (NaN)

Row 10969: Address is missing (NaN)

Row 10970: Address is missing (NaN)

Row 10971: Address is missing (NaN)

Row 10972: Address is missing (NaN)

Row 10973: Address is missing (NaN)

Row 10974: Address is missing (NaN)

Row 10975: Address is missing (NaN)

Row 10976: Address is missing (NaN)

Row 10977: Address is missing (NaN)

Row 10978: Address is missing (NaN)

Row 10979: Address is missing (NaN)

Row 10980: Address is missing (NaN)

Row 10981: Address is missing (NaN)

Row 10982: Address is missing (NaN)

Row 10983: Address is missing (NaN)

Row 10984: Address is missing (NaN)

Row 10985: Address is missing (NaN)

Row 10986: Address is missing (NaN)

Row 10987: Address is missing (NaN)

Row 10988: Address is missing (NaN)

Row 10989: Address is missing (NaN)

Row 10990: Address is missing (NaN)

Row 10991: Address is missing (NaN)

Row 10992: Address is missing (NaN)

Row 10993: Address is missing (NaN)

Row 10994: Address is missing (NaN)

Row 10995: Address is missing (NaN)

Row 10996: Address is missing (NaN)

Row 10997: Address is missing (NaN)

Row 10998: Address is missing (NaN)

Row 10999: Address is missing (NaN)

Row 11000: Address is missing (NaN)

Row 11001: Address is missing (NaN)

Row 11002: Address is missing (NaN)

Row 11003: Address is missing (NaN)

Row 11004: Address is missing (NaN)

Row 11005: Address is missing (NaN)

Row 11006: Address is missing (NaN)

Row 11007: Address is missing (NaN)

Row 11008: Address is missing (NaN)

Row 11009: Address is missing (NaN)

Row 11010: Address is missing (NaN)

Row 11011: Address is missing (NaN)

Row 11012: Address is missing (NaN)

Row 11013: Address is missing (NaN)

Row 11014: Address is missing (NaN)

Row 11015: Address is missing (NaN)

Row 11016: Address is missing (NaN)

Row 11017: Address is missing (NaN)

Row 11018: Address is missing (NaN)

Row 11019: Address is missing (NaN)

Row 11020: Address is missing (NaN)

Row 11021: Address is missing (NaN)

Row 11022: Address is missing (NaN)

Row 11023: Address is missing (NaN)

Row 11024: Address is missing (NaN)

Row 11025: Address is missing (NaN)

Row 11026: Address is missing (NaN)

Row 11027: Address is missing (NaN)

Row 11028: Address is missing (NaN)

Row 11029: Address is missing (NaN)

Row 11030: Address is missing (NaN)

Row 11031: Address is missing (NaN)

Row 11032: Address is missing (NaN)

Row 11033: Address is missing (NaN)

Row 11034: Address is missing (NaN)

Row 11035: Address is missing (NaN)

Row 11036: Address is missing (NaN)

Row 11037: Address is missing (NaN)

Row 11038: Address is missing (NaN)

Row 11039: Address is missing (NaN)

Row 11040: Address is missing (NaN)

Row 11041: Address is missing (NaN)

Row 11042: Address is missing (NaN)

Row 11043: Address is missing (NaN)

Row 11044: Address is missing (NaN)

Row 11045: Address is missing (NaN)

Row 11046: Address is missing (NaN)

Row 11047: Address is missing (NaN)

Row 11048: Address is missing (NaN)

Row 11049: Address is missing (NaN)

Row 11050: Address is missing (NaN)

Row 11051: Address is missing (NaN)

Row 11052: Address is missing (NaN)

Row 11053: Address is missing (NaN)

Row 11054: Address is missing (NaN)

Row 11055: Address is missing (NaN)

Row 11056: Address is missing (NaN)

Row 11057: Address is missing (NaN)

Row 11058: Address is missing (NaN)

Row 11059: Address is missing (NaN)

Row 11060: Address is missing (NaN)

Row 11061: Address is missing (NaN)

Row 11062: Address is missing (NaN)

Row 11063: Address is missing (NaN)

Row 11064: Address is missing (NaN)

Row 11065: Address is missing (NaN)

Row 11066: Address is missing (NaN)

Row 11067: Address is missing (NaN)

Row 11068: Address is missing (NaN)

Row 11069: Address is missing (NaN)

Row 11070: Address is missing (NaN)

Row 11071: Address is missing (NaN)

Row 11072: Address is missing (NaN)

Row 11073: Address is missing (NaN)

Row 11074: Address is missing (NaN)

Row 11075: Address is missing (NaN)

Row 11076: Address is missing (NaN)

Row 11077: Address is missing (NaN)

Row 11078: Address is missing (NaN)

Row 11079: Address is missing (NaN)

Row 11080: Address is missing (NaN)

Row 11081: Address is missing (NaN)

Row 11082: Address is missing (NaN)

Row 11083: Address is missing (NaN)

Row 11084: Address is missing (NaN)

Row 11085: Address is missing (NaN)

Row 11086: Address is missing (NaN)

Row 11087: Address is missing (NaN)

Row 11088: Address is missing (NaN)

Row 11089: Address is missing (NaN)

Row 11090: Address is missing (NaN)

Row 11091: Address is missing (NaN)

Row 11092: Address is missing (NaN)

Row 11093: Address is missing (NaN)

Row 11094: Address is missing (NaN)

Row 11095: Address is missing (NaN)

Row 11096: Address is missing (NaN)

Row 11097: Address is missing (NaN)

Row 11098: Address is missing (NaN)

Row 11099: Address is missing (NaN)

Row 11100: Address is missing (NaN)

Row 11101: Address is missing (NaN)

Row 11102: Address is missing (NaN)

Row 11103: Address is missing (NaN)

Row 11104: Address is missing (NaN)

Row 11105: Address is missing (NaN)

Row 11106: Address is missing (NaN)

Row 11107: Address is missing (NaN)

Row 11108: Address is missing (NaN)

Row 11109: Address is missing (NaN)

Row 11110: Address is missing (NaN)

Row 11111: Address is missing (NaN)

Row 11112: Address is missing (NaN)

Row 11113: Address is missing (NaN)

Row 11114: Address is missing (NaN)

Row 11115: Address is missing (NaN)

Row 11116: Address is missing (NaN)

Row 11117: Address is missing (NaN)

Row 11118: Address is missing (NaN)

Row 11119: Address is missing (NaN)

Row 11120: Address is missing (NaN)

Row 11121: Address is missing (NaN)

Row 11122: Address is missing (NaN)

Row 11123: Address is missing (NaN)

Row 11124: Address is missing (NaN)

Row 11125: Address is missing (NaN)

Row 11126: Address is missing (NaN)

Row 11127: Address is missing (NaN)

Row 11128: Address is missing (NaN)

Row 11129: Address is missing (NaN)

Row 11130: Address is missing (NaN)

Row 11131: Address is missing (NaN)

Row 11132: Address is missing (NaN)

Row 11133: Address is missing (NaN)

Row 11134: Address is missing (NaN)

Row 11135: Address is missing (NaN)

Row 11136: Address is missing (NaN)

Row 11137: Address is missing (NaN)

Row 11138: Address is missing (NaN)

Row 11139: Address is missing (NaN)

Row 11140: Address is missing (NaN)

Row 11141: Address is missing (NaN)

Row 11142: Address is missing (NaN)

Row 11143: Address is missing (NaN)

Row 11144: Address is missing (NaN)

Row 11145: Address is missing (NaN)

Row 11146: Address is missing (NaN)

Row 11147: Address is missing (NaN)

Row 11148: Address is missing (NaN)

Row 11149: Address is missing (NaN)

Row 11150: Address is missing (NaN)

Row 11151: Address is missing (NaN)

Row 11152: Address is missing (NaN)

Row 11153: Address is missing (NaN)

Row 11154: Address is missing (NaN)

Row 11155: Address is missing (NaN)

Row 11156: Address is missing (NaN)

Row 11157: Address is missing (NaN)

Row 11158: Address is missing (NaN)

Row 11159: Address is missing (NaN)

Row 11160: Address is missing (NaN)

Row 11161: Address is missing (NaN)

Row 11162: Address is missing (NaN)

Row 11163: Address is missing (NaN)

Row 11164: Address is missing (NaN)

Row 11165: Address is missing (NaN)

Row 11166: Address is missing (NaN)

Row 11167: Address is missing (NaN)

Row 11168: Address is missing (NaN)

Row 11169: Address is missing (NaN)

Row 11170: Address is missing (NaN)

Row 11171: Address is missing (NaN)

Row 11172: Address is missing (NaN)

Row 11173: Address is missing (NaN)

Row 11174: Address is missing (NaN)

Row 11175: Address is missing (NaN)

Row 11176: Address is missing (NaN)

Row 11177: Address is missing (NaN)

Row 11178: Address is missing (NaN)

Row 11179: Address is missing (NaN)

Row 11180: Address is missing (NaN)

Row 11181: Address is missing (NaN)

Row 11182: Address is missing (NaN)

Row 11183: Address is missing (NaN)

Row 11184: Address is missing (NaN)

Row 11185: Address is missing (NaN)

Row 11186: Address is missing (NaN)

Row 11187: Address is missing (NaN)

Row 11188: Address is missing (NaN)

Row 11189: Address is missing (NaN)

Row 11190: Address is missing (NaN)

Row 11191: Address is missing (NaN)

Row 11192: Address is missing (NaN)

Row 11193: Address is missing (NaN)

Row 11194: Address is missing (NaN)

Row 11195: Address is missing (NaN)

Row 11196: Address is missing (NaN)

Row 11197: Address is missing (NaN)

Row 11198: Address is missing (NaN)

Row 11199: Address is missing (NaN)

Row 11200: Address is missing (NaN)

Row 11201: Address is missing (NaN)

Row 11202: Address is missing (NaN)

Row 11203: Address is missing (NaN)

Row 11204: Address is missing (NaN)

Row 11205: Address is missing (NaN)

Row 11206: Address is missing (NaN)

Row 11207: Address is missing (NaN)

Row 11208: Address is missing (NaN)

Row 11209: Address is missing (NaN)

Row 11210: Address is missing (NaN)

Row 11211: Address is missing (NaN)

Row 11212: Address is missing (NaN)

Row 11213: Address is missing (NaN)

Row 11214: Address is missing (NaN)

Row 11215: Address is missing (NaN)

Row 11216: Address is missing (NaN)

Row 11217: Address is missing (NaN)

Row 11218: Address is missing (NaN)

Row 11219: Address is missing (NaN)

Row 11220: Address is missing (NaN)

Row 11221: Address is missing (NaN)

Row 11222: Address is missing (NaN)

Row 11223: Address is missing (NaN)

Row 11224: Address is missing (NaN)

Row 11225: Address is missing (NaN)

Row 11226: Address is missing (NaN)

Row 11227: Address is missing (NaN)

Row 11228: Address is missing (NaN)

Row 11229: Address is missing (NaN)

Row 11230: Address is missing (NaN)

Row 11231: Address is missing (NaN)

Row 11232: Address is missing (NaN)

Row 11233: Address is missing (NaN)

Row 11234: Address is missing (NaN)

Row 11235: Address is missing (NaN)

Row 11236: Address is missing (NaN)

Row 11237: Address is missing (NaN)

Row 11238: Address is missing (NaN)

Row 11239: Address is missing (NaN)

Row 11240: Address is missing (NaN)

Row 11241: Address is missing (NaN)

Row 11242: Address is missing (NaN)

Row 11243: Address is missing (NaN)

Row 11244: Address is missing (NaN)

Row 11245: Address is missing (NaN)

Row 11246: Address is missing (NaN)

Row 11247: Address is missing (NaN)

Row 11248: Address is missing (NaN)

Row 11249: Address is missing (NaN)

Row 11250: Address is missing (NaN)

Row 11251: Address is missing (NaN)

Row 11252: Address is missing (NaN)

Row 11253: Address is missing (NaN)

Row 11254: Address is missing (NaN)

Row 11255: Address is missing (NaN)

Row 11256: Address is missing (NaN)

Row 11257: Address is missing (NaN)

Row 11258: Address is missing (NaN)

Row 11259: Address is missing (NaN)

Row 11260: Address is missing (NaN)

Row 11261: Address is missing (NaN)

Row 11262: Address is missing (NaN)

Row 11263: Address is missing (NaN)

Row 11264: Address is missing (NaN)

Row 11265: Address is missing (NaN)

Row 11266: Address is missing (NaN)

Row 11267: Address is missing (NaN)

Row 11268: Address is missing (NaN)

Row 11269: Address is missing (NaN)

Row 11270: Address is missing (NaN)

Row 11271: Address is missing (NaN)

Row 11272: Address is missing (NaN)

Row 11273: Address is missing (NaN)

Row 11274: Address is missing (NaN)

Row 11275: Address is missing (NaN)

Row 11276: Address is missing (NaN)

Row 11277: Address is missing (NaN)

Row 11278: Address is missing (NaN)

Row 11279: Address is missing (NaN)

Row 11280: Address is missing (NaN)

Row 11281: Address is missing (NaN)

Row 11282: Address is missing (NaN)

Row 11283: Address is missing (NaN)

Row 11284: Address is missing (NaN)

Row 11285: Address is missing (NaN)

Row 11286: Address is missing (NaN)

Row 11287: Address is missing (NaN)

Row 11288: Address is missing (NaN)

Row 11289: Address is missing (NaN)

Row 11290: Address is missing (NaN)

Row 11291: Address is missing (NaN)

Row 11292: Address is missing (NaN)

Row 11293: Address is missing (NaN)

Row 11294: Address is missing (NaN)

Row 11295: Address is missing (NaN)

Row 11296: Address is missing (NaN)

Row 11297: Address is missing (NaN)

Row 11298: Address is missing (NaN)

Row 11299: Address is missing (NaN)

Row 11300: Address is missing (NaN)

Row 11301: Address is missing (NaN)

Row 11302: Address is missing (NaN)

Row 11303: Address is missing (NaN)

Row 11304: Address is missing (NaN)

Row 11305: Address is missing (NaN)

Row 11306: Address is missing (NaN)

Row 11307: Address is missing (NaN)

Row 11308: Address is missing (NaN)

Row 11309: Address is missing (NaN)

Row 11310: Address is missing (NaN)

Row 11311: Address is missing (NaN)

Row 11312: Address is missing (NaN)

Row 11313: Address is missing (NaN)

Row 11314: Address is missing (NaN)

Row 11315: Address is missing (NaN)

Row 11316: Address is missing (NaN)

Row 11317: Address is missing (NaN)

Row 11318: Address is missing (NaN)

Row 11319: Address is missing (NaN)

Row 11320: Address is missing (NaN)

Row 11321: Address is missing (NaN)

Row 11322: Address is missing (NaN)

Row 11323: Address is missing (NaN)

Row 11324: Address is missing (NaN)

Row 11325: Address is missing (NaN)

Row 11326: Address is missing (NaN)

Row 11327: Address is missing (NaN)

Row 11328: Address is missing (NaN)

Row 11329: Address is missing (NaN)

Row 11330: Address is missing (NaN)

Row 11331: Address is missing (NaN)

Row 11332: Address is missing (NaN)

Row 11333: Address is missing (NaN)

Row 11334: Address is missing (NaN)

Row 11335: Address is missing (NaN)

Row 11336: Address is missing (NaN)

Row 11337: Address is missing (NaN)

Row 11338: Address is missing (NaN)

Row 11339: Address is missing (NaN)

Row 11340: Address is missing (NaN)

Row 11341: Address is missing (NaN)

Row 11342: Address is missing (NaN)

Row 11343: Address is missing (NaN)

Row 11344: Address is missing (NaN)

Row 11345: Address is missing (NaN)

Row 11346: Address is missing (NaN)

Row 11347: Address is missing (NaN)

Row 11348: Address is missing (NaN)

Row 11349: Address is missing (NaN)

Row 11350: Address is missing (NaN)

Row 11351: Address is missing (NaN)

Row 11352: Address is missing (NaN)

Row 11353: Address is missing (NaN)

Row 11354: Address is missing (NaN)

Row 11355: Address is missing (NaN)

Row 11356: Address is missing (NaN)

Row 11357: Address is missing (NaN)

Row 11358: Address is missing (NaN)

Row 11359: Address is missing (NaN)

Row 11360: Address is missing (NaN)

Row 11361: Address is missing (NaN)

Row 11362: Address is missing (NaN)

Row 11363: Address is missing (NaN)

Row 11364: Address is missing (NaN)

Row 11365: Address is missing (NaN)

Row 11366: Address is missing (NaN)

Row 11367: Address is missing (NaN)

Row 11368: Address is missing (NaN)

Row 11369: Address is missing (NaN)

Row 11370: Address is missing (NaN)

Row 11371: Address is missing (NaN)

Row 11372: Address is missing (NaN)

Row 11373: Address is missing (NaN)

Row 11374: Address is missing (NaN)

Row 11375: Address is missing (NaN)

Row 11376: Address is missing (NaN)

Row 11377: Address is missing (NaN)

Row 11378: Address is missing (NaN)

Row 11379: Address is missing (NaN)

Row 11380: Address is missing (NaN)

Row 11381: Address is missing (NaN)

Row 11382: Address is missing (NaN)

Row 11383: Address is missing (NaN)

Row 11384: Address is missing (NaN)

Row 11385: Address is missing (NaN)

Row 11386: Address is missing (NaN)

Row 11387: Address is missing (NaN)

Row 11388: Address is missing (NaN)

Row 11389: Address is missing (NaN)

Row 11390: Address is missing (NaN)

Row 11391: Address is missing (NaN)

Row 11392: Address is missing (NaN)

Row 11393: Address is missing (NaN)

Row 11394: Address is missing (NaN)

Row 11395: Address is missing (NaN)

Row 11396: Address is missing (NaN)

Row 11397: Address is missing (NaN)

Row 11398: Address is missing (NaN)

Row 11399: Address is missing (NaN)

Row 11400: Address is missing (NaN)

Row 11401: Address is missing (NaN)

Row 11402: Address is missing (NaN)

Row 11403: Address is missing (NaN)

Row 11404: Address is missing (NaN)

Row 11405: Address is missing (NaN)

Row 11406: Address is missing (NaN)

Row 11407: Address is missing (NaN)

Row 11408: Address is missing (NaN)

Row 11409: Address is missing (NaN)

Row 11410: Address is missing (NaN)

Row 11411: Address is missing (NaN)

Row 11412: Address is missing (NaN)

Row 11413: Address is missing (NaN)

Row 11414: Address is missing (NaN)

Row 11415: Address is missing (NaN)

Row 11416: Address is missing (NaN)

Row 11417: Address is missing (NaN)

Row 11418: Address is missing (NaN)

Row 11419: Address is missing (NaN)

Row 11420: Address is missing (NaN)

Row 11421: Address is missing (NaN)

Row 11422: Address is missing (NaN)

Row 11423: Address is missing (NaN)

Row 11424: Address is missing (NaN)

Row 11425: Address is missing (NaN)

Row 11426: Address is missing (NaN)

Row 11427: Address is missing (NaN)

Row 11428: Address is missing (NaN)

Row 11429: Address is missing (NaN)

Row 11430: Address is missing (NaN)

Row 11431: Address is missing (NaN)

Row 11432: Address is missing (NaN)

Row 11433: Address is missing (NaN)

Row 11434: Address is missing (NaN)

Row 11435: Address is missing (NaN)

Row 11436: Address is missing (NaN)

Row 11437: Address is missing (NaN)

Row 11438: Address is missing (NaN)

Row 11439: Address is missing (NaN)

Row 11440: Address is missing (NaN)

Row 11441: Address is missing (NaN)

Row 11442: Address is missing (NaN)

Row 11443: Address is missing (NaN)

Row 11444: Address is missing (NaN)

Row 11445: Address is missing (NaN)

Row 11446: Address is missing (NaN)

Row 11447: Address is missing (NaN)

Row 11448: Address is missing (NaN)

Row 11449: Address is missing (NaN)

Row 11450: Address is missing (NaN)

Row 11451: Address is missing (NaN)

Row 11452: Address is missing (NaN)

Row 11453: Address is missing (NaN)

Row 11454: Address is missing (NaN)

Row 11455: Address is missing (NaN)

Row 11456: Address is missing (NaN)

Row 11457: Address is missing (NaN)

Row 11458: Address is missing (NaN)

Row 11459: Address is missing (NaN)

Row 11460: Address is missing (NaN)

Row 11461: Address is missing (NaN)

Row 11462: Address is missing (NaN)

Row 11463: Address is missing (NaN)

Row 11464: Address is missing (NaN)

Row 11465: Address is missing (NaN)

Row 11466: Address is missing (NaN)

Row 11467: Address is missing (NaN)

Row 11468: Address is missing (NaN)

Row 11469: Address is missing (NaN)

Row 11470: Address is missing (NaN)

Row 11471: Address is missing (NaN)

Row 11472: Address is missing (NaN)

Row 11473: Address is missing (NaN)

Row 11474: Address is missing (NaN)

Row 11475: Address is missing (NaN)

Row 11476: Address is missing (NaN)

Row 11477: Address is missing (NaN)

Row 11478: Address is missing (NaN)

Row 11479: Address is missing (NaN)

Row 11480: Address is missing (NaN)

Row 11481: Address is missing (NaN)

Row 11482: Address is missing (NaN)

Row 11483: Address is missing (NaN)

Row 11484: Address is missing (NaN)

Row 11485: Address is missing (NaN)

Row 11486: Address is missing (NaN)

Row 11487: Address is missing (NaN)

Row 11488: Address is missing (NaN)

Row 11489: Address is missing (NaN)

Row 11490: Address is missing (NaN)

Row 11491: Address is missing (NaN)

Row 11492: Address is missing (NaN)

Row 11493: Address is missing (NaN)

Row 11494: Address is missing (NaN)

Row 11495: Address is missing (NaN)

Row 11496: Address is missing (NaN)

Row 11497: Address is missing (NaN)

Row 11498: Address is missing (NaN)

Row 11499: Address is missing (NaN)

Row 11500: Address is missing (NaN)

Row 11501: Address is missing (NaN)

Row 11502: Address is missing (NaN)

Row 11503: Address is missing (NaN)

Row 11504: Address is missing (NaN)

Row 11505: Address is missing (NaN)

Row 11506: Address is missing (NaN)

Row 11507: Address is missing (NaN)

Row 11508: Address is missing (NaN)

Row 11509: Address is missing (NaN)

Row 11510: Address is missing (NaN)

Row 11511: Address is missing (NaN)

Row 11512: Address is missing (NaN)

Row 11513: Address is missing (NaN)

Row 11514: Address is missing (NaN)

Row 11515: Address is missing (NaN)

Row 11516: Address is missing (NaN)

Row 11517: Address is missing (NaN)

Row 11518: Address is missing (NaN)

Row 11519: Address is missing (NaN)

Row 11520: Address is missing (NaN)

Row 11521: Address is missing (NaN)

Row 11522: Address is missing (NaN)

Row 11523: Address is missing (NaN)

Row 11524: Address is missing (NaN)

Row 11525: Address is missing (NaN)

Row 11526: Address is missing (NaN)

Row 11527: Address is missing (NaN)

Row 11528: Address is missing (NaN)

Row 11529: Address is missing (NaN)

Row 11530: Address is missing (NaN)

Row 11531: Address is missing (NaN)

Row 11532: Address is missing (NaN)

Row 11533: Address is missing (NaN)

Row 11534: Address is missing (NaN)

Row 11535: Address is missing (NaN)

Row 11536: Address is missing (NaN)

Row 11537: Address is missing (NaN)

Row 11538: Address is missing (NaN)

Row 11539: Address is missing (NaN)

Row 11540: Address is missing (NaN)

Row 11541: Address is missing (NaN)

Row 11542: Address is missing (NaN)

Row 11543: Address is missing (NaN)

Row 11544: Address is missing (NaN)

Row 11545: Address is missing (NaN)

Row 11546: Address is missing (NaN)

Row 11547: Address is missing (NaN)

Row 11548: Address is missing (NaN)

Row 11549: Address is missing (NaN)

Row 11550: Address is missing (NaN)

Row 11551: Address is missing (NaN)

Row 11552: Address is missing (NaN)

Row 11553: Address is missing (NaN)

Row 11554: Address is missing (NaN)

Row 11555: Address is missing (NaN)

Row 11556: Address is missing (NaN)

Row 11557: Address is missing (NaN)

Row 11558: Address is missing (NaN)

Row 11559: Address is missing (NaN)

Row 11560: Address is missing (NaN)

Row 11561: Address is missing (NaN)

Row 11562: Address is missing (NaN)

Row 11563: Address is missing (NaN)

Row 11564: Address is missing (NaN)

Row 11565: Address is missing (NaN)

Row 11566: Address is missing (NaN)

Row 11567: Address is missing (NaN)

Row 11568: Address is missing (NaN)

Row 11569: Address is missing (NaN)

Row 11570: Address is missing (NaN)

Row 11571: Address is missing (NaN)

Row 11572: Address is missing (NaN)

Row 11573: Address is missing (NaN)

Row 11574: Address is missing (NaN)

Row 11575: Address is missing (NaN)

Row 11576: Address is missing (NaN)

Row 11577: Address is missing (NaN)

Row 11578: Address is missing (NaN)

Row 11579: Address is missing (NaN)

Row 11580: Address is missing (NaN)

Row 11581: Address is missing (NaN)

Row 11582: Address is missing (NaN)

Row 11583: Address is missing (NaN)

Row 11584: Address is missing (NaN)

Row 11585: Address is missing (NaN)

Row 11586: Address is missing (NaN)

Row 11587: Address is missing (NaN)

Row 11588: Address is missing (NaN)

Row 11589: Address is missing (NaN)

Row 11590: Address is missing (NaN)

Row 11591: Address is missing (NaN)

Row 11592: Address is missing (NaN)

Row 11593: Address is missing (NaN)

Row 11594: Address is missing (NaN)

Row 11595: Address is missing (NaN)

Row 11596: Address is missing (NaN)

Row 11597: Address is missing (NaN)

Row 11598: Address is missing (NaN)

Row 11599: Address is missing (NaN)

Row 11600: Address is missing (NaN)

Row 11601: Address is missing (NaN)

Row 11602: Address is missing (NaN)

Row 11603: Address is missing (NaN)

Row 11604: Address is missing (NaN)

Row 11605: Address is missing (NaN)

Row 11606: Address is missing (NaN)

Row 11607: Address is missing (NaN)

Row 11608: Address is missing (NaN)

Row 11609: Address is missing (NaN)

Row 11610: Address is missing (NaN)

Row 11611: Address is missing (NaN)

Row 11612: Address is missing (NaN)

Row 11613: Address is missing (NaN)

Row 11614: Address is missing (NaN)

Row 11615: Address is missing (NaN)

Row 11616: Address is missing (NaN)

Row 11617: Address is missing (NaN)

Row 11618: Address is missing (NaN)

Row 11619: Address is missing (NaN)

Row 11620: Address is missing (NaN)

Row 11621: Address is missing (NaN)

Row 11622: Address is missing (NaN)

Row 11623: Address is missing (NaN)

Row 11624: Address is missing (NaN)

Row 11625: Address is missing (NaN)

Row 11626: Address is missing (NaN)

Row 11627: Address is missing (NaN)

Row 11628: Address is missing (NaN)

Row 11629: Address is missing (NaN)

Row 11630: Address is missing (NaN)

Row 11631: Address is missing (NaN)

Row 11632: Address is missing (NaN)

Row 11633: Address is missing (NaN)

Row 11634: Address is missing (NaN)

Row 11635: Address is missing (NaN)

Row 11636: Address is missing (NaN)

Row 11637: Address is missing (NaN)

Row 11638: Address is missing (NaN)

Row 11639: Address is missing (NaN)

Row 11640: Address is missing (NaN)

Row 11641: Address is missing (NaN)

Row 11642: Address is missing (NaN)

Row 11643: Address is missing (NaN)

Row 11644: Address is missing (NaN)

Row 11645: Address is missing (NaN)

Row 11646: Address is missing (NaN)

Row 11647: Address is missing (NaN)

Row 11648: Address is missing (NaN)

Row 11649: Address is missing (NaN)

Row 11650: Address is missing (NaN)

Row 11651: Address is missing (NaN)

Row 11652: Address is missing (NaN)

Row 11653: Address is missing (NaN)

Row 11654: Address is missing (NaN)

Row 11655: Address is missing (NaN)

Row 11656: Address is missing (NaN)

Row 11657: Address is missing (NaN)

Row 11658: Address is missing (NaN)

Row 11659: Address is missing (NaN)

Row 11660: Address is missing (NaN)

Row 11661: Address is missing (NaN)

Row 11662: Address is missing (NaN)

Row 11663: Address is missing (NaN)

Row 11664: Address is missing (NaN)

Row 11665: Address is missing (NaN)

Row 11666: Address is missing (NaN)

Row 11667: Address is missing (NaN)

Row 11668: Address is missing (NaN)

Row 11669: Address is missing (NaN)

Row 11670: Address is missing (NaN)

Row 11671: Address is missing (NaN)

Row 11672: Address is missing (NaN)

Row 11673: Address is missing (NaN)

Row 11674: Address is missing (NaN)

Row 11675: Address is missing (NaN)

Row 11676: Address is missing (NaN)

Row 11677: Address is missing (NaN)

Row 11678: Address is missing (NaN)

Row 11679: Address is missing (NaN)

Row 11680: Address is missing (NaN)

Row 11681: Address is missing (NaN)

Row 11682: Address is missing (NaN)

Row 11683: Address is missing (NaN)

Row 11684: Address is missing (NaN)

Row 11685: Address is missing (NaN)

Row 11686: Address is missing (NaN)

Row 11687: Address is missing (NaN)

Row 11688: Address is missing (NaN)

Row 11689: Address is missing (NaN)

Row 11690: Address is missing (NaN)

Row 11691: Address is missing (NaN)

Row 11692: Address is missing (NaN)

Row 11693: Address is missing (NaN)

Row 11694: Address is missing (NaN)

Row 11695: Address is missing (NaN)

Row 11696: Address is missing (NaN)

Row 11697: Address is missing (NaN)

Row 11698: Address is missing (NaN)

Row 11699: Address is missing (NaN)

Row 11700: Address is missing (NaN)

Row 11701: Address is missing (NaN)

Row 11702: Address is missing (NaN)

Row 11703: Address is missing (NaN)

Row 11704: Address is missing (NaN)

Row 11705: Address is missing (NaN)

Row 11706: Address is missing (NaN)

Row 11707: Address is missing (NaN)

Row 11708: Address is missing (NaN)

Row 11709: Address is missing (NaN)

Row 11710: Address is missing (NaN)

Row 11711: Address is missing (NaN)

Row 11712: Address is missing (NaN)

Row 11713: Address is missing (NaN)

Row 11714: Address is missing (NaN)

Row 11715: Address is missing (NaN)

Row 11716: Address is missing (NaN)

Row 11717: Address is missing (NaN)

Row 11718: Address is missing (NaN)

Row 11719: Address is missing (NaN)

Row 11720: Address is missing (NaN)

Row 11721: Address is missing (NaN)

Row 11722: Address is missing (NaN)

Row 11723: Address is missing (NaN)

Row 11724: Address is missing (NaN)

Row 11725: Address is missing (NaN)

Row 11726: Address is missing (NaN)

Row 11727: Address is missing (NaN)

Row 11728: Address is missing (NaN)

Row 11729: Address is missing (NaN)

Row 11730: Address is missing (NaN)

Row 11731: Address is missing (NaN)

Row 11732: Address is missing (NaN)

Row 11733: Address is missing (NaN)

Row 11734: Address is missing (NaN)

Row 11735: Address is missing (NaN)

Row 11736: Address is missing (NaN)

Row 11737: Address is missing (NaN)

Row 11738: Address is missing (NaN)

Row 11739: Address is missing (NaN)

Row 11740: Address is missing (NaN)

Row 11741: Address is missing (NaN)

Row 11742: Address is missing (NaN)

Row 11743: Address is missing (NaN)

Row 11744: Address is missing (NaN)

Row 11745: Address is missing (NaN)

Row 11746: Address is missing (NaN)

Row 11747: Address is missing (NaN)

Row 11748: Address is missing (NaN)

Row 11749: Address is missing (NaN)

Row 11750: Address is missing (NaN)

Row 11751: Address is missing (NaN)

Row 11752: Address is missing (NaN)

Row 11753: Address is missing (NaN)

Row 11754: Address is missing (NaN)

Row 11755: Address is missing (NaN)

Row 11756: Address is missing (NaN)

Row 11757: Address is missing (NaN)

Row 11758: Address is missing (NaN)

Row 11759: Address is missing (NaN)

Row 11760: Address is missing (NaN)

Row 11761: Address is missing (NaN)

Row 11762: Address is missing (NaN)

Row 11763: Address is missing (NaN)

Row 11764: Address is missing (NaN)

Row 11765: Address is missing (NaN)

Row 11766: Address is missing (NaN)

Row 11767: Address is missing (NaN)

Row 11768: Address is missing (NaN)

Row 11769: Address is missing (NaN)

Row 11770: Address is missing (NaN)

Row 11771: Address is missing (NaN)

Row 11772: Address is missing (NaN)

Row 11773: Address is missing (NaN)

Row 11774: Address is missing (NaN)

Row 11775: Address is missing (NaN)

Row 11776: Address is missing (NaN)

Row 11777: Address is missing (NaN)

Row 11778: Address is missing (NaN)

Row 11779: Address is missing (NaN)

Row 11780: Address is missing (NaN)

Row 11781: Address is missing (NaN)

Row 11782: Address is missing (NaN)

Row 11783: Address is missing (NaN)

Row 11784: Address is missing (NaN)

Row 11785: Address is missing (NaN)

Row 11786: Address is missing (NaN)

Row 11787: Address is missing (NaN)

Row 11788: Address is missing (NaN)

Row 11789: Address is missing (NaN)

Row 11790: Address is missing (NaN)

Row 11791: Address is missing (NaN)

Row 11792: Address is missing (NaN)

Row 11793: Address is missing (NaN)

Row 11794: Address is missing (NaN)

Row 11795: Address is missing (NaN)

Row 11796: Address is missing (NaN)

Row 11797: Address is missing (NaN)

Row 11798: Address is missing (NaN)

Row 11799: Address is missing (NaN)

Row 11800: Address is missing (NaN)

Row 11801: Address is missing (NaN)

Row 11802: Address is missing (NaN)

Row 11803: Address is missing (NaN)

Row 11804: Address is missing (NaN)

Row 11805: Address is missing (NaN)

Row 11806: Address is missing (NaN)

Row 11807: Address is missing (NaN)

Row 11808: Address is missing (NaN)

Row 11809: Address is missing (NaN)

Row 11810: Address is missing (NaN)

Row 11811: Address is missing (NaN)

Row 11812: Address is missing (NaN)

Row 11813: Address is missing (NaN)

Row 11814: Address is missing (NaN)

Row 11815: Address is missing (NaN)

Row 11816: Address is missing (NaN)

Row 11817: Address is missing (NaN)

Row 11818: Address is missing (NaN)

Row 11819: Address is missing (NaN)

Row 11820: Address is missing (NaN)

Row 11821: Address is missing (NaN)

Row 11822: Address is missing (NaN)

Row 11823: Address is missing (NaN)

Row 11824: Address is missing (NaN)

Row 11825: Address is missing (NaN)

Row 11826: Address is missing (NaN)

Row 11827: Address is missing (NaN)

Row 11828: Address is missing (NaN)

Row 11829: Address is missing (NaN)

Row 11830: Address is missing (NaN)

Row 11831: Address is missing (NaN)

Row 11832: Address is missing (NaN)

Row 11833: Address is missing (NaN)

Row 11834: Address is missing (NaN)

Row 11835: Address is missing (NaN)

Row 11836: Address is missing (NaN)

Row 11837: Address is missing (NaN)

Row 11838: Address is missing (NaN)

Row 11839: Address is missing (NaN)

Row 11840: Address is missing (NaN)

Row 11841: Address is missing (NaN)

Row 11842: Address is missing (NaN)

Row 11843: Address is missing (NaN)

Row 11844: Address is missing (NaN)

Row 11845: Address is missing (NaN)

Row 11846: Address is missing (NaN)

Row 11847: Address is missing (NaN)

Row 11848: Address is missing (NaN)

Row 11849: Address is missing (NaN)

Row 11850: Address is missing (NaN)

Row 11851: Address is missing (NaN)

Row 11852: Address is missing (NaN)

Row 11853: Address is missing (NaN)

Row 11854: Address is missing (NaN)

Row 11855: Address is missing (NaN)

Row 11856: Address is missing (NaN)

Row 11857: Address is missing (NaN)

Row 11858: Address is missing (NaN)

Row 11859: Address is missing (NaN)

Row 11860: Address is missing (NaN)

Row 11861: Address is missing (NaN)

Row 11862: Address is missing (NaN)

Row 11863: Address is missing (NaN)

Row 11864: Address is missing (NaN)

Row 11865: Address is missing (NaN)

Row 11866: Address is missing (NaN)

Row 11867: Address is missing (NaN)

Row 11868: Address is missing (NaN)

Row 11869: Address is missing (NaN)

Row 11870: Address is missing (NaN)

Row 11871: Address is missing (NaN)

Row 11872: Address is missing (NaN)

Row 11873: Address is missing (NaN)

Row 11874: Address is missing (NaN)

Row 11875: Address is missing (NaN)

Row 11876: Address is missing (NaN)

Row 11877: Address is missing (NaN)

Row 11878: Address is missing (NaN)

Row 11879: Address is missing (NaN)

Row 11880: Address is missing (NaN)

Row 11881: Address is missing (NaN)

Row 11882: Address is missing (NaN)

Row 11883: Address is missing (NaN)

Row 11884: Address is missing (NaN)

Row 11885: Address is missing (NaN)

Row 11886: Address is missing (NaN)

Row 11887: Address is missing (NaN)

Row 11888: Address is missing (NaN)

Row 11889: Address is missing (NaN)

Row 11890: Address is missing (NaN)

Row 11891: Address is missing (NaN)

Row 11892: Address is missing (NaN)

Row 11893: Address is missing (NaN)

Row 11894: Address is missing (NaN)

Row 11895: Address is missing (NaN)

Row 11896: Address is missing (NaN)

Row 11897: Address is missing (NaN)

Row 11898: Address is missing (NaN)

Row 11899: Address is missing (NaN)

Row 11900: Address is missing (NaN)

Row 11901: Address is missing (NaN)

Row 11902: Address is missing (NaN)

Row 11903: Address is missing (NaN)

Row 11904: Address is missing (NaN)

Row 11905: Address is missing (NaN)

Row 11906: Address is missing (NaN)

Row 11907: Address is missing (NaN)

Row 11908: Address is missing (NaN)

Row 11909: Address is missing (NaN)

Row 11910: Address is missing (NaN)

Row 11911: Address is missing (NaN)

Row 11912: Address is missing (NaN)

Row 11913: Address is missing (NaN)

Row 11914: Address is missing (NaN)

Row 11915: Address is missing (NaN)

Row 11916: Address is missing (NaN)

Row 11917: Address is missing (NaN)

Row 11918: Address is missing (NaN)

Row 11919: Address is missing (NaN)

Row 11920: Address is missing (NaN)

Row 11921: Address is missing (NaN)

Row 11922: Address is missing (NaN)

Row 11923: Address is missing (NaN)

Row 11924: Address is missing (NaN)

Row 11925: Address is missing (NaN)

Row 11926: Address is missing (NaN)

Row 11927: Address is missing (NaN)

Row 11928: Address is missing (NaN)

Row 11929: Address is missing (NaN)

Row 11930: Address is missing (NaN)

Row 11931: Address is missing (NaN)

Row 11932: Address is missing (NaN)

Row 11933: Address is missing (NaN)

Row 11934: Address is missing (NaN)

Row 11935: Address is missing (NaN)

Row 11936: Address is missing (NaN)

Row 11937: Address is missing (NaN)

Row 11938: Address is missing (NaN)

Row 11939: Address is missing (NaN)

Row 11940: Address is missing (NaN)

Row 11941: Address is missing (NaN)

Row 11942: Address is missing (NaN)

Row 11943: Address is missing (NaN)

Row 11944: Address is missing (NaN)

Row 11945: Address is missing (NaN)

Row 11946: Address is missing (NaN)

Row 11947: Address is missing (NaN)

Row 11948: Address is missing (NaN)

Row 11949: Address is missing (NaN)

Row 11950: Address is missing (NaN)

Row 11951: Address is missing (NaN)

Row 11952: Address is missing (NaN)

Row 11953: Address is missing (NaN)

Row 11954: Address is missing (NaN)

Row 11955: Address is missing (NaN)

Row 11956: Address is missing (NaN)

Row 11957: Address is missing (NaN)

Row 11958: Address is missing (NaN)

Row 11959: Address is missing (NaN)

Row 11960: Address is missing (NaN)

Row 11961: Address is missing (NaN)

Row 11962: Address is missing (NaN)

Row 11963: Address is missing (NaN)

Row 11964: Address is missing (NaN)

Row 11965: Address is missing (NaN)

Row 11966: Address is missing (NaN)

Row 11967: Address is missing (NaN)

Row 11968: Address is missing (NaN)

Row 11969: Address is missing (NaN)

Row 11970: Address is missing (NaN)

Row 11971: Address is missing (NaN)

Row 11972: Address is missing (NaN)

Row 11973: Address is missing (NaN)

Row 11974: Address is missing (NaN)

Row 11975: Address is missing (NaN)

Row 11976: Address is missing (NaN)

Row 11977: Address is missing (NaN)

Row 11978: Address is missing (NaN)

Row 11979: Address is missing (NaN)

Row 11980: Address is missing (NaN)

Row 11981: Address is missing (NaN)

Row 11982: Address is missing (NaN)

Row 11983: Address is missing (NaN)

Row 11984: Address is missing (NaN)

Row 11985: Address is missing (NaN)

Row 11986: Address is missing (NaN)

Row 11987: Address is missing (NaN)

Row 11988: Address is missing (NaN)

Row 11989: Address is missing (NaN)

Row 11990: Address is missing (NaN)

Row 11991: Address is missing (NaN)

Row 11992: Address is missing (NaN)

Row 11993: Address is missing (NaN)

Row 11994: Address is missing (NaN)

Row 11995: Address is missing (NaN)

Row 11996: Address is missing (NaN)

Row 11997: Address is missing (NaN)

Row 11998: Address is missing (NaN)

Row 11999: Address is missing (NaN)

Row 12000: Address is missing (NaN)

Row 12001: Address is missing (NaN)

Row 12002: Address is missing (NaN)

Row 12003: Address is missing (NaN)

Row 12004: Address is missing (NaN)

Row 12005: Address is missing (NaN)

Row 12006: Address is missing (NaN)

Row 12007: Address is missing (NaN)

Row 12008: Address is missing (NaN)

Row 12009: Address is missing (NaN)

Row 12010: Address is missing (NaN)

Row 12011: Address is missing (NaN)

Row 12012: Address is missing (NaN)

Row 12013: Address is missing (NaN)

Row 12014: Address is missing (NaN)

Row 12015: Address is missing (NaN)

Row 12016: Address is missing (NaN)

Row 12017: Address is missing (NaN)

Row 12018: Address is missing (NaN)

Row 12019: Address is missing (NaN)

Row 12020: Address is missing (NaN)

Row 12021: Address is missing (NaN)

Row 12022: Address is missing (NaN)

Row 12023: Address is missing (NaN)

Row 12024: Address is missing (NaN)

Row 12025: Address is missing (NaN)

Row 12026: Address is missing (NaN)

Row 12027: Address is missing (NaN)

Row 12028: Address is missing (NaN)

Row 12029: Address is missing (NaN)

Row 12030: Address is missing (NaN)

Row 12031: Address is missing (NaN)

Row 12032: Address is missing (NaN)

Row 12033: Address is missing (NaN)

Row 12034: Address is missing (NaN)

Row 12035: Address is missing (NaN)

Row 12036: Address is missing (NaN)

Row 12037: Address is missing (NaN)

Row 12038: Address is missing (NaN)

Row 12039: Address is missing (NaN)

Row 12040: Address is missing (NaN)

Row 12041: Address is missing (NaN)

Row 12042: Address is missing (NaN)

Row 12043: Address is missing (NaN)

Row 12044: Address is missing (NaN)

Row 12045: Address is missing (NaN)

Row 12046: Address is missing (NaN)

Row 12047: Address is missing (NaN)

Row 12048: Address is missing (NaN)

Row 12049: Address is missing (NaN)

Row 12050: Address is missing (NaN)

Row 12051: Address is missing (NaN)

Row 12052: Address is missing (NaN)

Row 12053: Address is missing (NaN)

Row 12054: Address is missing (NaN)

Row 12055: Address is missing (NaN)

Row 12056: Address is missing (NaN)

Row 12057: Address is missing (NaN)

Row 12058: Address is missing (NaN)

Row 12059: Address is missing (NaN)

Row 12060: Address is missing (NaN)

Row 12061: Address is missing (NaN)

Row 12062: Address is missing (NaN)

Row 12063: Address is missing (NaN)

Row 12064: Address is missing (NaN)

Row 12065: Address is missing (NaN)

Row 12066: Address is missing (NaN)

Row 12067: Address is missing (NaN)

Row 12068: Address is missing (NaN)

Row 12069: Address is missing (NaN)

Row 12070: Address is missing (NaN)

Row 12071: Address is missing (NaN)

Row 12072: Address is missing (NaN)

Row 12073: Address is missing (NaN)

Row 12074: Address is missing (NaN)

Row 12075: Address is missing (NaN)

Row 12076: Address is missing (NaN)

Row 12077: Address is missing (NaN)

Row 12078: Address is missing (NaN)

Row 12079: Address is missing (NaN)

Row 12080: Address is missing (NaN)

Row 12081: Address is missing (NaN)

Row 12082: Address is missing (NaN)

Row 12083: Address is missing (NaN)

Row 12084: Address is missing (NaN)

Row 12085: Address is missing (NaN)

Row 12086: Address is missing (NaN)

Row 12087: Address is missing (NaN)

Row 12088: Address is missing (NaN)

Row 12089: Address is missing (NaN)

Row 12090: Address is missing (NaN)

Row 12091: Address is missing (NaN)

Row 12092: Address is missing (NaN)

Row 12093: Address is missing (NaN)

Row 12094: Address is missing (NaN)

Row 12095: Address is missing (NaN)

Row 12096: Address is missing (NaN)

Row 12097: Address is missing (NaN)

Row 12098: Address is missing (NaN)

Row 12099: Address is missing (NaN)

Row 12100: Address is missing (NaN)

Row 12101: Address is missing (NaN)

Row 12102: Address is missing (NaN)

Row 12103: Address is missing (NaN)

Row 12104: Address is missing (NaN)

Row 12105: Address is missing (NaN)

Row 12106: Address is missing (NaN)

Row 12107: Address is missing (NaN)

Row 12108: Address is missing (NaN)

Row 12109: Address is missing (NaN)

Row 12110: Address is missing (NaN)

Row 12111: Address is missing (NaN)

Row 12112: Address is missing (NaN)

Row 12113: Address is missing (NaN)

Row 12114: Address is missing (NaN)

Row 12115: Address is missing (NaN)

Row 12116: Address is missing (NaN)

Row 12117: Address is missing (NaN)

Row 12118: Address is missing (NaN)

Row 12119: Address is missing (NaN)

Row 12120: Address is missing (NaN)

Row 12121: Address is missing (NaN)

Row 12122: Address is missing (NaN)

Row 12123: Address is missing (NaN)

Row 12124: Address is missing (NaN)

Row 12125: Address is missing (NaN)

Row 12126: Address is missing (NaN)

Row 12127: Address is missing (NaN)

Row 12128: Address is missing (NaN)

Row 12129: Address is missing (NaN)

Row 12130: Address is missing (NaN)

Row 12131: Address is missing (NaN)

Row 12132: Address is missing (NaN)

Row 12133: Address is missing (NaN)

Row 12134: Address is missing (NaN)

Row 12135: Address is missing (NaN)

Row 12136: Address is missing (NaN)

Row 12137: Address is missing (NaN)

Row 12138: Address is missing (NaN)

Row 12139: Address is missing (NaN)

Row 12140: Address is missing (NaN)

Row 12141: Address is missing (NaN)

Row 12142: Address is missing (NaN)

Row 12143: Address is missing (NaN)

Row 12144: Address is missing (NaN)

Row 12145: Address is missing (NaN)

Row 12146: Address is missing (NaN)

Row 12147: Address is missing (NaN)

Row 12148: Address is missing (NaN)

Row 12149: Address is missing (NaN)

Row 12150: Address is missing (NaN)

Row 12151: Address is missing (NaN)

Row 12152: Address is missing (NaN)

Row 12153: Address is missing (NaN)

Row 12154: Address is missing (NaN)

Row 12155: Address is missing (NaN)

Row 12156: Address is missing (NaN)

Row 12157: Address is missing (NaN)

Row 12158: Address is missing (NaN)

Row 12159: Address is missing (NaN)

Row 12160: Address is missing (NaN)

Row 12161: Address is missing (NaN)

Row 12162: Address is missing (NaN)

Row 12163: Address is missing (NaN)

Row 12164: Address is missing (NaN)

Row 12165: Address is missing (NaN)

Row 12166: Address is missing (NaN)

Row 12167: Address is missing (NaN)

Row 12168: Address is missing (NaN)

Row 12169: Address is missing (NaN)

Row 12170: Address is missing (NaN)

Row 12171: Address is missing (NaN)

Row 12172: Address is missing (NaN)

Row 12173: Address is missing (NaN)

Row 12174: Address is missing (NaN)

Row 12175: Address is missing (NaN)

Row 12176: Address is missing (NaN)

Row 12177: Address is missing (NaN)

Row 12178: Address is missing (NaN)

Row 12179: Address is missing (NaN)

Row 12180: Address is missing (NaN)

Row 12181: Address is missing (NaN)

Row 12182: Address is missing (NaN)

Row 12183: Address is missing (NaN)

Row 12184: Address is missing (NaN)

Row 12185: Address is missing (NaN)

Row 12186: Address is missing (NaN)

Row 12187: Address is missing (NaN)

Row 12188: Address is missing (NaN)

Row 12189: Address is missing (NaN)

Row 12190: Address is missing (NaN)

Row 12191: Address is missing (NaN)

Row 12192: Address is missing (NaN)

Row 12193: Address is missing (NaN)

Row 12194: Address is missing (NaN)

Row 12195: Address is missing (NaN)

Row 12196: Address is missing (NaN)

Row 12197: Address is missing (NaN)

Row 12198: Address is missing (NaN)

Row 12199: Address is missing (NaN)

Row 12200: Address is missing (NaN)

Row 12201: Address is missing (NaN)

Row 12202: Address is missing (NaN)

Row 12203: Address is missing (NaN)

Row 12204: Address is missing (NaN)

Row 12205: Address is missing (NaN)

Row 12206: Address is missing (NaN)

Row 12207: Address is missing (NaN)

Row 12208: Address is missing (NaN)

Row 12209: Address is missing (NaN)

Row 12210: Address is missing (NaN)

Row 12211: Address is missing (NaN)

Row 12212: Address is missing (NaN)

Row 12213: Address is missing (NaN)

Row 12214: Address is missing (NaN)

Row 12215: Address is missing (NaN)

Row 12216: Address is missing (NaN)

Row 12217: Address is missing (NaN)

Row 12218: Address is missing (NaN)

Row 12219: Address is missing (NaN)

Row 12220: Address is missing (NaN)

Row 12221: Address is missing (NaN)

Row 12222: Address is missing (NaN)

Row 12223: Address is missing (NaN)

Row 12224: Address is missing (NaN)

Row 12225: Address is missing (NaN)

Row 12226: Address is missing (NaN)

Row 12227: Address is missing (NaN)

Row 12228: Address is missing (NaN)

Row 12229: Address is missing (NaN)

Row 12230: Address is missing (NaN)

Row 12231: Address is missing (NaN)

Row 12232: Address is missing (NaN)

Row 12233: Address is missing (NaN)

Row 12234: Address is missing (NaN)

Row 12235: Address is missing (NaN)

Row 12236: Address is missing (NaN)

Row 12237: Address is missing (NaN)

Row 12238: Address is missing (NaN)

Row 12239: Address is missing (NaN)

Row 12240: Address is missing (NaN)

Row 12241: Address is missing (NaN)

Row 12242: Address is missing (NaN)

Row 12243: Address is missing (NaN)

Row 12244: Address is missing (NaN)

Row 12245: Address is missing (NaN)

Row 12246: Address is missing (NaN)

Row 12247: Address is missing (NaN)

Row 12248: Address is missing (NaN)

Row 12249: Address is missing (NaN)

Row 12250: Address is missing (NaN)

Row 12251: Address is missing (NaN)

Row 12252: Address is missing (NaN)

Row 12253: Address is missing (NaN)

Row 12254: Address is missing (NaN)

Row 12255: Address is missing (NaN)

Row 12256: Address is missing (NaN)

Row 12257: Address is missing (NaN)

Row 12258: Address is missing (NaN)

Row 12259: Address is missing (NaN)

Row 12260: Address is missing (NaN)

Row 12261: Address is missing (NaN)

Row 12262: Address is missing (NaN)

Row 12263: Address is missing (NaN)

Row 12264: Address is missing (NaN)

Row 12265: Address is missing (NaN)

Row 12266: Address is missing (NaN)

Row 12267: Address is missing (NaN)

Row 12268: Address is missing (NaN)

Row 12269: Address is missing (NaN)

Row 12270: Address is missing (NaN)

Row 12271: Address is missing (NaN)

Row 12272: Address is missing (NaN)

Row 12273: Address is missing (NaN)

Row 12274: Address is missing (NaN)

Row 12275: Address is missing (NaN)

Row 12276: Address is missing (NaN)

Row 12277: Address is missing (NaN)

Row 12278: Address is missing (NaN)

Row 12279: Address is missing (NaN)

Row 12280: Address is missing (NaN)

Row 12281: Address is missing (NaN)

Row 12282: Address is missing (NaN)

Row 12283: Address is missing (NaN)

Row 12284: Address is missing (NaN)

Row 12285: Address is missing (NaN)

Row 12286: Address is missing (NaN)

Row 12287: Address is missing (NaN)

Row 12288: Address is missing (NaN)

Row 12289: Address is missing (NaN)

Row 12290: Address is missing (NaN)

Row 12291: Address is missing (NaN)

Row 12292: Address is missing (NaN)

Row 12293: Address is missing (NaN)

Row 12294: Address is missing (NaN)

Row 12295: Address is missing (NaN)

Row 12296: Address is missing (NaN)

Row 12297: Address is missing (NaN)

Row 12298: Address is missing (NaN)

Row 12299: Address is missing (NaN)

Row 12300: Address is missing (NaN)

Row 12301: Address is missing (NaN)

Row 12302: Address is missing (NaN)

Row 12303: Address is missing (NaN)

Row 12304: Address is missing (NaN)

Row 12305: Address is missing (NaN)

Row 12306: Address is missing (NaN)

Row 12307: Address is missing (NaN)

Row 12308: Address is missing (NaN)

Row 12309: Address is missing (NaN)

Row 12310: Address is missing (NaN)

Row 12311: Address is missing (NaN)

Row 12312: Address is missing (NaN)

Row 12313: Address is missing (NaN)

Row 12314: Address is missing (NaN)

Row 12315: Address is missing (NaN)

Row 12316: Address is missing (NaN)

Row 12317: Address is missing (NaN)

Row 12318: Address is missing (NaN)

Row 12319: Address is missing (NaN)

Row 12320: Address is missing (NaN)

Row 12321: Address is missing (NaN)

Row 12322: Address is missing (NaN)

Row 12323: Address is missing (NaN)

Row 12324: Address is missing (NaN)

Row 12325: Address is missing (NaN)

Row 12326: Address is missing (NaN)

Row 12327: Address is missing (NaN)

Row 12328: Address is missing (NaN)

Row 12329: Address is missing (NaN)

Row 12330: Address is missing (NaN)

Row 12331: Address is missing (NaN)

Row 12332: Address is missing (NaN)

Row 12333: Address is missing (NaN)

Row 12334: Address is missing (NaN)

Row 12335: Address is missing (NaN)

Row 12336: Address is missing (NaN)

Row 12337: Address is missing (NaN)

Row 12338: Address is missing (NaN)

Row 12339: Address is missing (NaN)

Row 12340: Address is missing (NaN)

Row 12341: Address is missing (NaN)

Row 12342: Address is missing (NaN)

Row 12343: Address is missing (NaN)

Row 12344: Address is missing (NaN)

Row 12345: Address is missing (NaN)

Row 12346: Address is missing (NaN)

Row 12347: Address is missing (NaN)

Row 12348: Address is missing (NaN)

Row 12349: Address is missing (NaN)

Row 12350: Address is missing (NaN)

Row 12351: Address is missing (NaN)

Row 12352: Address is missing (NaN)

Row 12353: Address is missing (NaN)

Row 12354: Address is missing (NaN)

Row 12355: Address is missing (NaN)

Row 12356: Address is missing (NaN)

Row 12357: Address is missing (NaN)

Row 12358: Address is missing (NaN)

Row 12359: Address is missing (NaN)

Row 12360: Address is missing (NaN)

Row 12361: Address is missing (NaN)

Row 12362: Address is missing (NaN)

Row 12363: Address is missing (NaN)

Row 12364: Address is missing (NaN)

Row 12365: Address is missing (NaN)

Row 12366: Address is missing (NaN)

Row 12367: Address is missing (NaN)

Row 12368: Address is missing (NaN)

Row 12369: Address is missing (NaN)

Row 12370: Address is missing (NaN)

Row 12371: Address is missing (NaN)

Row 12372: Address is missing (NaN)

Row 12373: Address is missing (NaN)

Row 12374: Address is missing (NaN)

Row 12375: Address is missing (NaN)

Row 12376: Address is missing (NaN)

Row 12377: Address is missing (NaN)

Row 12378: Address is missing (NaN)

Row 12379: Address is missing (NaN)

Row 12380: Address is missing (NaN)

Row 12381: Address is missing (NaN)

Row 12382: Address is missing (NaN)

Row 12383: Address is missing (NaN)

Row 12384: Address is missing (NaN)

Row 12385: Address is missing (NaN)

Row 12386: Address is missing (NaN)

Row 12387: Address is missing (NaN)

Row 12388: Address is missing (NaN)

Row 12389: Address is missing (NaN)

Row 12390: Address is missing (NaN)

Row 12391: Address is missing (NaN)

Row 12392: Address is missing (NaN)

Row 12393: Address is missing (NaN)

Row 12394: Address is missing (NaN)

Row 12395: Address is missing (NaN)

Row 12396: Address is missing (NaN)

Row 12397: Address is missing (NaN)

Row 12398: Address is missing (NaN)

Row 12399: Address is missing (NaN)

Row 12400: Address is missing (NaN)

Row 12401: Address is missing (NaN)

Row 12402: Address is missing (NaN)

Row 12403: Address is missing (NaN)

Row 12404: Address is missing (NaN)

Row 12405: Address is missing (NaN)

Row 12406: Address is missing (NaN)

Row 12407: Address is missing (NaN)

Row 12408: Address is missing (NaN)

Row 12409: Address is missing (NaN)

Row 12410: Address is missing (NaN)

Row 12411: Address is missing (NaN)

Row 12412: Address is missing (NaN)

Row 12413: Address is missing (NaN)

Row 12414: Address is missing (NaN)

Row 12415: Address is missing (NaN)

Row 12416: Address is missing (NaN)

Row 12417: Address is missing (NaN)

Row 12418: Address is missing (NaN)

Row 12419: Address is missing (NaN)

Row 12420: Address is missing (NaN)

Row 12421: Address is missing (NaN)

Row 12422: Address is missing (NaN)

Row 12423: Address is missing (NaN)

Row 12424: Address is missing (NaN)

Row 12425: Address is missing (NaN)

Row 12426: Address is missing (NaN)

Row 12427: Address is missing (NaN)

Row 12428: Address is missing (NaN)

Row 12429: Address is missing (NaN)

Row 12430: Address is missing (NaN)

Row 12431: Address is missing (NaN)

Row 12432: Address is missing (NaN)

Row 12433: Address is missing (NaN)

Row 12434: Address is missing (NaN)

Row 12435: Address is missing (NaN)

Row 12436: Address is missing (NaN)

Row 12437: Address is missing (NaN)

Row 12438: Address is missing (NaN)

Row 12439: Address is missing (NaN)

Row 12440: Address is missing (NaN)

Row 12441: Address is missing (NaN)

Row 12442: Address is missing (NaN)

Row 12443: Address is missing (NaN)

Row 12444: Address is missing (NaN)

Row 12445: Address is missing (NaN)

Row 12446: Address is missing (NaN)

Row 12447: Address is missing (NaN)

Row 12448: Address is missing (NaN)

Row 12449: Address is missing (NaN)

Row 12450: Address is missing (NaN)

Row 12451: Address is missing (NaN)

Row 12452: Address is missing (NaN)

Row 12453: Address is missing (NaN)

Row 12454: Address is missing (NaN)

Row 12455: Address is missing (NaN)

Row 12456: Address is missing (NaN)

Row 12457: Address is missing (NaN)

Row 12458: Address is missing (NaN)

Row 12459: Address is missing (NaN)

Row 12460: Address is missing (NaN)

Row 12461: Address is missing (NaN)

Row 12462: Address is missing (NaN)

Row 12463: Address is missing (NaN)

Row 12464: Address is missing (NaN)

Row 12465: Address is missing (NaN)

Row 12466: Address is missing (NaN)

Row 12467: Address is missing (NaN)

Row 12468: Address is missing (NaN)

Row 12469: Address is missing (NaN)

Row 12470: Address is missing (NaN)

Row 12471: Address is missing (NaN)

Row 12472: Address is missing (NaN)

Row 12473: Address is missing (NaN)

Row 12474: Address is missing (NaN)

Row 12475: Address is missing (NaN)

Row 12476: Address is missing (NaN)

Row 12477: Address is missing (NaN)

Row 12478: Address is missing (NaN)

Row 12479: Address is missing (NaN)

Row 12480: Address is missing (NaN)

Row 12481: Address is missing (NaN)

Row 12482: Address is missing (NaN)

Row 12483: Address is missing (NaN)

Row 12484: Address is missing (NaN)

Row 12485: Address is missing (NaN)

Row 12486: Address is missing (NaN)

Row 12487: Address is missing (NaN)

Row 12488: Address is missing (NaN)

Row 12489: Address is missing (NaN)

Row 12490: Address is missing (NaN)

Row 12491: Address is missing (NaN)

Row 12492: Address is missing (NaN)

Row 12493: Address is missing (NaN)

Row 12494: Address is missing (NaN)

Row 12495: Address is missing (NaN)

Row 12496: Address is missing (NaN)

Row 12497: Address is missing (NaN)

Row 12498: Address is missing (NaN)

Row 12499: Address is missing (NaN)

Row 12500: Address is missing (NaN)

Row 12501: Address is missing (NaN)

Row 12502: Address is missing (NaN)

Row 12503: Address is missing (NaN)

Row 12504: Address is missing (NaN)

Row 12505: Address is missing (NaN)

Row 12506: Address is missing (NaN)

Row 12507: Address is missing (NaN)

Row 12508: Address is missing (NaN)

Row 12509: Address is missing (NaN)

Row 12510: Address is missing (NaN)

Row 12511: Address is missing (NaN)

Row 12512: Address is missing (NaN)

Row 12513: Address is missing (NaN)

Row 12514: Address is missing (NaN)

Row 12515: Address is missing (NaN)

Row 12516: Address is missing (NaN)

Row 12517: Address is missing (NaN)

Row 12518: Address is missing (NaN)

Row 12519: Address is missing (NaN)

Row 12520: Address is missing (NaN)

Row 12521: Address is missing (NaN)

Row 12522: Address is missing (NaN)

Row 12523: Address is missing (NaN)

Row 12524: Address is missing (NaN)

Row 12525: Address is missing (NaN)

Row 12526: Address is missing (NaN)

Row 12527: Address is missing (NaN)

Row 12528: Address is missing (NaN)

Row 12529: Address is missing (NaN)

Row 12530: Address is missing (NaN)

Row 12531: Address is missing (NaN)

Row 12532: Address is missing (NaN)

Row 12533: Address is missing (NaN)

Row 12534: Address is missing (NaN)

Row 12535: Address is missing (NaN)

Row 12536: Address is missing (NaN)

Row 12537: Address is missing (NaN)

Row 12538: Address is missing (NaN)

Row 12539: Address is missing (NaN)

Row 12540: Address is missing (NaN)

Row 12541: Address is missing (NaN)

Row 12542: Address is missing (NaN)

Row 12543: Address is missing (NaN)

Row 12544: Address is missing (NaN)

Row 12545: Address is missing (NaN)

Row 12546: Address is missing (NaN)

Row 12547: Address is missing (NaN)

Row 12548: Address is missing (NaN)

Row 12549: Address is missing (NaN)

Row 12550: Address is missing (NaN)

Row 12551: Address is missing (NaN)

Row 12552: Address is missing (NaN)

Row 12553: Address is missing (NaN)

Row 12554: Address is missing (NaN)

Row 12555: Address is missing (NaN)

Row 12556: Address is missing (NaN)

Row 12557: Address is missing (NaN)

Row 12558: Address is missing (NaN)

Row 12559: Address is missing (NaN)

Row 12560: Address is missing (NaN)

Row 12561: Address is missing (NaN)

Row 12562: Address is missing (NaN)

Row 12563: Address is missing (NaN)

Row 12564: Address is missing (NaN)

Row 12565: Address is missing (NaN)

Row 12566: Address is missing (NaN)

Row 12567: Address is missing (NaN)

Row 12568: Address is missing (NaN)

Row 12569: Address is missing (NaN)

Row 12570: Address is missing (NaN)

Row 12571: Address is missing (NaN)

Row 12572: Address is missing (NaN)

Row 12573: Address is missing (NaN)

Row 12574: Address is missing (NaN)

Row 12575: Address is missing (NaN)

Row 12576: Address is missing (NaN)

Row 12577: Address is missing (NaN)

Row 12578: Address is missing (NaN)

Row 12579: Address is missing (NaN)

Row 12580: Address is missing (NaN)

Row 12581: Address is missing (NaN)

Row 12582: Address is missing (NaN)

Row 12583: Address is missing (NaN)

Row 12584: Address is missing (NaN)

Row 12585: Address is missing (NaN)

Row 12586: Address is missing (NaN)

Row 12587: Address is missing (NaN)

Row 12588: Address is missing (NaN)

Row 12589: Address is missing (NaN)

Row 12590: Address is missing (NaN)

Row 12591: Address is missing (NaN)

Row 12592: Address is missing (NaN)

Row 12593: Address is missing (NaN)

Row 12594: Address is missing (NaN)

Row 12595: Address is missing (NaN)

Row 12596: Address is missing (NaN)

Row 12597: Address is missing (NaN)

Row 12598: Address is missing (NaN)

Row 12599: Address is missing (NaN)

Row 12600: Address is missing (NaN)

Row 12601: Address is missing (NaN)

Row 12602: Address is missing (NaN)

Row 12603: Address is missing (NaN)

Row 12604: Address is missing (NaN)

Row 12605: Address is missing (NaN)

Row 12606: Address is missing (NaN)

Row 12607: Address is missing (NaN)

Row 12608: Address is missing (NaN)

Row 12609: Address is missing (NaN)

Row 12610: Address is missing (NaN)

Row 12611: Address is missing (NaN)

Row 12612: Address is missing (NaN)

Row 12613: Address is missing (NaN)

Row 12614: Address is missing (NaN)

Row 12615: Address is missing (NaN)

Row 12616: Address is missing (NaN)

Row 12617: Address is missing (NaN)

Row 12618: Address is missing (NaN)

Row 12619: Address is missing (NaN)

Row 12620: Address is missing (NaN)

Row 12621: Address is missing (NaN)

Row 12622: Address is missing (NaN)

Row 12623: Address is missing (NaN)

Row 12624: Address is missing (NaN)

Row 12625: Address is missing (NaN)

Row 12626: Address is missing (NaN)

Row 12627: Address is missing (NaN)

Row 12628: Address is missing (NaN)

Row 12629: Address is missing (NaN)

Row 12630: Address is missing (NaN)

Row 12631: Address is missing (NaN)

Row 12632: Address is missing (NaN)

Row 12633: Address is missing (NaN)

Row 12634: Address is missing (NaN)

Row 12635: Address is missing (NaN)

Row 12636: Address is missing (NaN)

Row 12637: Address is missing (NaN)

Row 12638: Address is missing (NaN)

Row 12639: Address is missing (NaN)

Row 12640: Address is missing (NaN)

Row 12641: Address is missing (NaN)

Row 12642: Address is missing (NaN)

Row 12643: Address is missing (NaN)

Row 12644: Address is missing (NaN)

Row 12645: Address is missing (NaN)

Row 12646: Address is missing (NaN)

Row 12647: Address is missing (NaN)

Row 12648: Address is missing (NaN)

Row 12649: Address is missing (NaN)

Row 12650: Address is missing (NaN)

Row 12651: Address is missing (NaN)

Row 12652: Address is missing (NaN)

Row 12653: Address is missing (NaN)

Row 12654: Address is missing (NaN)

Row 12655: Address is missing (NaN)

Row 12656: Address is missing (NaN)

Row 12657: Address is missing (NaN)

Row 12658: Address is missing (NaN)

Row 12659: Address is missing (NaN)

Row 12660: Address is missing (NaN)

Row 12661: Address is missing (NaN)

Row 12662: Address is missing (NaN)

Row 12663: Address is missing (NaN)

Row 12664: Address is missing (NaN)

Row 12665: Address is missing (NaN)

Row 12666: Address is missing (NaN)

Row 12667: Address is missing (NaN)

Row 12668: Address is missing (NaN)

Row 12669: Address is missing (NaN)

Row 12670: Address is missing (NaN)

Row 12671: Address is missing (NaN)

Row 12672: Address is missing (NaN)

Row 12673: Address is missing (NaN)

Row 12674: Address is missing (NaN)

Row 12675: Address is missing (NaN)

Row 12676: Address is missing (NaN)

Row 12677: Address is missing (NaN)

Row 12678: Address is missing (NaN)

Row 12679: Address is missing (NaN)

Row 12680: Address is missing (NaN)

Row 12681: Address is missing (NaN)

Row 12682: Address is missing (NaN)

Row 12683: Address is missing (NaN)

Row 12684: Address is missing (NaN)

Row 12685: Address is missing (NaN)

Row 12686: Address is missing (NaN)

Row 12687: Address is missing (NaN)

Row 12688: Address is missing (NaN)

Row 12689: Address is missing (NaN)

Row 12690: Address is missing (NaN)

Row 12691: Address is missing (NaN)

Row 12692: Address is missing (NaN)

Row 12693: Address is missing (NaN)

Row 12694: Address is missing (NaN)

Row 12695: Address is missing (NaN)

Row 12696: Address is missing (NaN)

Row 12697: Address is missing (NaN)

Row 12698: Address is missing (NaN)

Row 12699: Address is missing (NaN)

Row 12700: Address is missing (NaN)

Row 12701: Address is missing (NaN)

Row 12702: Address is missing (NaN)

Row 12703: Address is missing (NaN)

Row 12704: Address is missing (NaN)

Row 12705: Address is missing (NaN)

Row 12706: Address is missing (NaN)

Row 12707: Address is missing (NaN)

Row 12708: Address is missing (NaN)

Row 12709: Address is missing (NaN)

Row 12710: Address is missing (NaN)

Row 12711: Address is missing (NaN)

Row 12712: Address is missing (NaN)

Row 12713: Address is missing (NaN)

Row 12714: Address is missing (NaN)

Row 12715: Address is missing (NaN)

Row 12716: Address is missing (NaN)

Row 12717: Address is missing (NaN)

Row 12718: Address is missing (NaN)

Row 12719: Address is missing (NaN)

Row 12720: Address is missing (NaN)

Row 12721: Address is missing (NaN)

Row 12722: Address is missing (NaN)

Row 12723: Address is missing (NaN)

Row 12724: Address is missing (NaN)

Row 12725: Address is missing (NaN)

Row 12726: Address is missing (NaN)

Row 12727: Address is missing (NaN)

Row 12728: Address is missing (NaN)

Row 12729: Address is missing (NaN)

Row 12730: Address is missing (NaN)

Row 12731: Address is missing (NaN)

Row 12732: Address is missing (NaN)

Row 12733: Address is missing (NaN)

Row 12734: Address is missing (NaN)

Row 12735: Address is missing (NaN)

Row 12736: Address is missing (NaN)

Row 12737: Address is missing (NaN)

Row 12738: Address is missing (NaN)

Row 12739: Address is missing (NaN)

Row 12740: Address is missing (NaN)

Row 12741: Address is missing (NaN)

Row 12742: Address is missing (NaN)

Row 12743: Address is missing (NaN)

Row 12744: Address is missing (NaN)

Row 12745: Address is missing (NaN)

Row 12746: Address is missing (NaN)

Row 12747: Address is missing (NaN)

Row 12748: Address is missing (NaN)

Row 12749: Address is missing (NaN)

Row 12750: Address is missing (NaN)

Row 12751: Address is missing (NaN)

Row 12752: Address is missing (NaN)

Row 12753: Address is missing (NaN)

Row 12754: Address is missing (NaN)

Row 12755: Address is missing (NaN)

Row 12756: Address is missing (NaN)

Row 12757: Address is missing (NaN)

Row 12758: Address is missing (NaN)

Row 12759: Address is missing (NaN)

Row 12760: Address is missing (NaN)

Row 12761: Address is missing (NaN)

Row 12762: Address is missing (NaN)

Row 12763: Address is missing (NaN)

Row 12764: Address is missing (NaN)

Row 12765: Address is missing (NaN)

Row 12766: Address is missing (NaN)

Row 12767: Address is missing (NaN)

Row 12768: Address is missing (NaN)

Row 12769: Address is missing (NaN)

Row 12770: Address is missing (NaN)

Row 12771: Address is missing (NaN)

Row 12772: Address is missing (NaN)

Row 12773: Address is missing (NaN)

Row 12774: Address is missing (NaN)

Row 12775: Address is missing (NaN)

Row 12776: Address is missing (NaN)

Row 12777: Address is missing (NaN)

Row 12778: Address is missing (NaN)

Row 12779: Address is missing (NaN)

Row 12780: Address is missing (NaN)

Row 12781: Address is missing (NaN)

Row 12782: Address is missing (NaN)

Row 12783: Address is missing (NaN)

Row 12784: Address is missing (NaN)

Row 12785: Address is missing (NaN)

Row 12786: Address is missing (NaN)

Row 12787: Address is missing (NaN)

Row 12788: Address is missing (NaN)

Row 12789: Address is missing (NaN)

Row 12790: Address is missing (NaN)

Row 12791: Address is missing (NaN)

Row 12792: Address is missing (NaN)

Row 12793: Address is missing (NaN)

Row 12794: Address is missing (NaN)

Row 12795: Address is missing (NaN)

Row 12796: Address is missing (NaN)

Row 12797: Address is missing (NaN)

Row 12798: Address is missing (NaN)

Row 12799: Address is missing (NaN)

Row 12800: Address is missing (NaN)

Row 12801: Address is missing (NaN)

Row 12802: Address is missing (NaN)

Row 12803: Address is missing (NaN)

Row 12804: Address is missing (NaN)

Row 12805: Address is missing (NaN)

Row 12806: Address is missing (NaN)

Row 12807: Address is missing (NaN)

Row 12808: Address is missing (NaN)

Row 12809: Address is missing (NaN)

Row 12810: Address is missing (NaN)

Row 12811: Address is missing (NaN)

Row 12812: Address is missing (NaN)

Row 12813: Address is missing (NaN)

Row 12814: Address is missing (NaN)

Row 12815: Address is missing (NaN)

Row 12816: Address is missing (NaN)

Row 12817: Address is missing (NaN)

Row 12818: Address is missing (NaN)

Row 12819: Address is missing (NaN)

Row 12820: Address is missing (NaN)

Row 12821: Address is missing (NaN)

Row 12822: Address is missing (NaN)

Row 12823: Address is missing (NaN)

Row 12824: Address is missing (NaN)

Row 12825: Address is missing (NaN)

Row 12826: Address is missing (NaN)

Row 12827: Address is missing (NaN)

Row 12828: Address is missing (NaN)

Row 12829: Address is missing (NaN)

Row 12830: Address is missing (NaN)

Row 12831: Address is missing (NaN)

Row 12832: Address is missing (NaN)

Row 12833: Address is missing (NaN)

Row 12834: Address is missing (NaN)

Row 12835: Address is missing (NaN)

Row 12836: Address is missing (NaN)

Row 12837: Address is missing (NaN)

Row 12838: Address is missing (NaN)

Row 12839: Address is missing (NaN)

Row 12840: Address is missing (NaN)

Row 12841: Address is missing (NaN)

Row 12842: Address is missing (NaN)

Row 12843: Address is missing (NaN)

Row 12844: Address is missing (NaN)

Row 12845: Address is missing (NaN)

Row 12846: Address is missing (NaN)

Row 12847: Address is missing (NaN)

Row 12848: Address is missing (NaN)

Row 12849: Address is missing (NaN)

Row 12850: Address is missing (NaN)

Row 12851: Address is missing (NaN)

Row 12852: Address is missing (NaN)

Row 12853: Address is missing (NaN)

Row 12854: Address is missing (NaN)

Row 12855: Address is missing (NaN)

Row 12856: Address is missing (NaN)

Row 12857: Address is missing (NaN)

Row 12858: Address is missing (NaN)

Row 12859: Address is missing (NaN)

Row 12860: Address is missing (NaN)

Row 12861: Address is missing (NaN)

Row 12862: Address is missing (NaN)

Row 12863: Address is missing (NaN)

Row 12864: Address is missing (NaN)

Row 12865: Address is missing (NaN)

Row 12866: Address is missing (NaN)

Row 12867: Address is missing (NaN)

Row 12868: Address is missing (NaN)

Row 12869: Address is missing (NaN)

Row 12870: Address is missing (NaN)

Row 12871: Address is missing (NaN)

Row 12872: Address is missing (NaN)

Row 12873: Address is missing (NaN)

Row 12874: Address is missing (NaN)

Row 12875: Address is missing (NaN)

Row 12876: Address is missing (NaN)

Row 12877: Address is missing (NaN)

Row 12878: Address is missing (NaN)

Row 12879: Address is missing (NaN)

Row 12880: Address is missing (NaN)

Row 12881: Address is missing (NaN)

Row 12882: Address is missing (NaN)

Row 12883: Address is missing (NaN)

Row 12884: Address is missing (NaN)

Row 12885: Address is missing (NaN)

Row 12886: Address is missing (NaN)

Row 12887: Address is missing (NaN)

Row 12888: Address is missing (NaN)

Row 12889: Address is missing (NaN)

Row 12890: Address is missing (NaN)

Row 12891: Address is missing (NaN)

Row 12892: Address is missing (NaN)

Row 12893: Address is missing (NaN)

Row 12894: Address is missing (NaN)

Row 12895: Address is missing (NaN)

Row 12896: Address is missing (NaN)

Row 12897: Address is missing (NaN)

Row 12898: Address is missing (NaN)

Row 12899: Address is missing (NaN)

Row 12900: Address is missing (NaN)

Row 12901: Address is missing (NaN)

Row 12902: Address is missing (NaN)

Row 12903: Address is missing (NaN)

Row 12904: Address is missing (NaN)

Row 12905: Address is missing (NaN)

Row 12906: Address is missing (NaN)

Row 12907: Address is missing (NaN)

Row 12908: Address is missing (NaN)

Row 12909: Address is missing (NaN)

Row 12910: Address is missing (NaN)

Row 12911: Address is missing (NaN)

Row 12912: Address is missing (NaN)

Row 12913: Address is missing (NaN)

Row 12914: Address is missing (NaN)

Row 12915: Address is missing (NaN)

Row 12916: Address is missing (NaN)

Row 12917: Address is missing (NaN)

Row 12918: Address is missing (NaN)

Row 12919: Address is missing (NaN)

Row 12920: Address is missing (NaN)

Row 12921: Address is missing (NaN)

Row 12922: Address is missing (NaN)

Row 12923: Address is missing (NaN)

Row 12924: Address is missing (NaN)

Row 12925: Address is missing (NaN)

Row 12926: Address is missing (NaN)

Row 12927: Address is missing (NaN)

Row 12928: Address is missing (NaN)

Row 12929: Address is missing (NaN)

Row 12930: Address is missing (NaN)

Row 12931: Address is missing (NaN)

Row 12932: Address is missing (NaN)

Row 12933: Address is missing (NaN)

Row 12934: Address is missing (NaN)

Row 12935: Address is missing (NaN)

Row 12936: Address is missing (NaN)

Row 12937: Address is missing (NaN)

Row 12938: Address is missing (NaN)

Row 12939: Address is missing (NaN)

Row 12940: Address is missing (NaN)

Row 12941: Address is missing (NaN)

Row 12942: Address is missing (NaN)

Row 12943: Address is missing (NaN)

Row 12944: Address is missing (NaN)

Row 12945: Address is missing (NaN)

Row 12946: Address is missing (NaN)

Row 12947: Address is missing (NaN)

Row 12948: Address is missing (NaN)

Row 12949: Address is missing (NaN)

Row 12950: Address is missing (NaN)

Row 12951: Address is missing (NaN)

Row 12952: Address is missing (NaN)

Row 12953: Address is missing (NaN)

Row 12954: Address is missing (NaN)

Row 12955: Address is missing (NaN)

Row 12956: Address is missing (NaN)

Row 12957: Address is missing (NaN)

Row 12958: Address is missing (NaN)

Row 12959: Address is missing (NaN)

Row 12960: Address is missing (NaN)

Row 12961: Address is missing (NaN)

Row 12962: Address is missing (NaN)

Row 12963: Address is missing (NaN)

Row 12964: Address is missing (NaN)

Row 12965: Address is missing (NaN)

Row 12966: Address is missing (NaN)

Row 12967: Address is missing (NaN)

Row 12968: Address is missing (NaN)

Row 12969: Address is missing (NaN)

Row 12970: Address is missing (NaN)

Row 12971: Address is missing (NaN)

Row 12972: Address is missing (NaN)

Row 12973: Address is missing (NaN)

Row 12974: Address is missing (NaN)

Row 12975: Address is missing (NaN)

Row 12976: Address is missing (NaN)

Row 12977: Address is missing (NaN)

Row 12978: Address is missing (NaN)

Row 12979: Address is missing (NaN)

Row 12980: Address is missing (NaN)

Row 12981: Address is missing (NaN)

Row 12982: Address is missing (NaN)

Row 12983: Address is missing (NaN)

Row 12984: Address is missing (NaN)

Row 12985: Address is missing (NaN)

Row 12986: Address is missing (NaN)

Row 12987: Address is missing (NaN)

Row 12988: Address is missing (NaN)

Row 12989: Address is missing (NaN)

Row 12990: Address is missing (NaN)

Row 12991: Address is missing (NaN)

Row 12992: Address is missing (NaN)

Row 12993: Address is missing (NaN)

Row 12994: Address is missing (NaN)

Row 12995: Address is missing (NaN)

Row 12996: Address is missing (NaN)

Row 12997: Address is missing (NaN)

Row 12998: Address is missing (NaN)

Row 12999: Address is missing (NaN)

Row 13000: Address is missing (NaN)

Row 13001: Address is missing (NaN)

Row 13002: Address is missing (NaN)

Row 13003: Address is missing (NaN)

Row 13004: Address is missing (NaN)

Row 13005: Address is missing (NaN)

Row 13006: Address is missing (NaN)

Row 13007: Address is missing (NaN)

Row 13008: Address is missing (NaN)

Row 13009: Address is missing (NaN)

Row 13010: Address is missing (NaN)

Row 13011: Address is missing (NaN)

Row 13012: Address is missing (NaN)

Row 13013: Address is missing (NaN)

Row 13014: Address is missing (NaN)

Row 13015: Address is missing (NaN)

Row 13016: Address is missing (NaN)

Row 13017: Address is missing (NaN)

Row 13018: Address is missing (NaN)

Row 13019: Address is missing (NaN)

Row 13020: Address is missing (NaN)

Row 13021: Address is missing (NaN)

Row 13022: Address is missing (NaN)

Row 13023: Address is missing (NaN)

Row 13024: Address is missing (NaN)

Row 13025: Address is missing (NaN)

Row 13026: Address is missing (NaN)

Row 13027: Address is missing (NaN)

Row 13028: Address is missing (NaN)

Row 13029: Address is missing (NaN)

Row 13030: Address is missing (NaN)

Row 13031: Address is missing (NaN)

Row 13032: Address is missing (NaN)

Row 13033: Address is missing (NaN)

Row 13034: Address is missing (NaN)

Row 13035: Address is missing (NaN)

Row 13036: Address is missing (NaN)

Row 13037: Address is missing (NaN)

Row 13038: Address is missing (NaN)

Row 13039: Address is missing (NaN)

Row 13040: Address is missing (NaN)

Row 13041: Address is missing (NaN)

Row 13042: Address is missing (NaN)

Row 13043: Address is missing (NaN)

Row 13044: Address is missing (NaN)

Row 13045: Address is missing (NaN)

Row 13046: Address is missing (NaN)

Row 13047: Address is missing (NaN)

Row 13048: Address is missing (NaN)

Row 13049: Address is missing (NaN)

Row 13050: Address is missing (NaN)

Row 13051: Address is missing (NaN)

Row 13052: Address is missing (NaN)

Row 13053: Address is missing (NaN)

Row 13054: Address is missing (NaN)

Row 13055: Address is missing (NaN)

Row 13056: Address is missing (NaN)

Row 13057: Address is missing (NaN)

Row 13058: Address is missing (NaN)

Row 13059: Address is missing (NaN)

Row 13060: Address is missing (NaN)

Row 13061: Address is missing (NaN)

Row 13062: Address is missing (NaN)

Row 13063: Address is missing (NaN)

Row 13064: Address is missing (NaN)

Row 13065: Address is missing (NaN)

Row 13066: Address is missing (NaN)

Row 13067: Address is missing (NaN)

Row 13068: Address is missing (NaN)

Row 13069: Address is missing (NaN)

Row 13070: Address is missing (NaN)

Row 13071: Address is missing (NaN)

Row 13072: Address is missing (NaN)

Row 13073: Address is missing (NaN)

Row 13074: Address is missing (NaN)

Row 13075: Address is missing (NaN)

Row 13076: Address is missing (NaN)

Row 13077: Address is missing (NaN)

Row 13078: Address is missing (NaN)

Row 13079: Address is missing (NaN)

Row 13080: Address is missing (NaN)

Row 13081: Address is missing (NaN)

Row 13082: Address is missing (NaN)

Row 13083: Address is missing (NaN)

Row 13084: Address is missing (NaN)

Row 13085: Address is missing (NaN)

Row 13086: Address is missing (NaN)

Row 13087: Address is missing (NaN)

Row 13088: Address is missing (NaN)

Row 13089: Address is missing (NaN)

Row 13090: Address is missing (NaN)

Row 13091: Address is missing (NaN)

Row 13092: Address is missing (NaN)

Row 13093: Address is missing (NaN)

Row 13094: Address is missing (NaN)

Row 13095: Address is missing (NaN)

Row 13096: Address is missing (NaN)

Row 13097: Address is missing (NaN)

Row 13098: Address is missing (NaN)

Row 13099: Address is missing (NaN)

Row 13100: Address is missing (NaN)

Row 13101: Address is missing (NaN)

Row 13102: Address is missing (NaN)

Row 13103: Address is missing (NaN)

Row 13104: Address is missing (NaN)

Row 13105: Address is missing (NaN)

Row 13106: Address is missing (NaN)

Row 13107: Address is missing (NaN)

Row 13108: Address is missing (NaN)

Row 13109: Address is missing (NaN)

Row 13110: Address is missing (NaN)

Row 13111: Address is missing (NaN)

Row 13112: Address is missing (NaN)

Row 13113: Address is missing (NaN)

Row 13114: Address is missing (NaN)

Row 13115: Address is missing (NaN)

Row 13116: Address is missing (NaN)

Row 13117: Address is missing (NaN)

Row 13118: Address is missing (NaN)

Row 13119: Address is missing (NaN)

Row 13120: Address is missing (NaN)

Row 13121: Address is missing (NaN)

Row 13122: Address is missing (NaN)

Row 13123: Address is missing (NaN)

Row 13124: Address is missing (NaN)

Row 13125: Address is missing (NaN)

Row 13126: Address is missing (NaN)

Row 13127: Address is missing (NaN)

Row 13128: Address is missing (NaN)

Row 13129: Address is missing (NaN)

Row 13130: Address is missing (NaN)

Row 13131: Address is missing (NaN)

Row 13132: Address is missing (NaN)

Row 13133: Address is missing (NaN)

Row 13134: Address is missing (NaN)

Row 13135: Address is missing (NaN)

Row 13136: Address is missing (NaN)

Row 13137: Address is missing (NaN)

Row 13138: Address is missing (NaN)

Row 13139: Address is missing (NaN)

Row 13140: Address is missing (NaN)

Row 13141: Address is missing (NaN)

Row 13142: Address is missing (NaN)

Row 13143: Address is missing (NaN)

Row 13144: Address is missing (NaN)

Row 13145: Address is missing (NaN)

Row 13146: Address is missing (NaN)

Row 13147: Address is missing (NaN)

Row 13148: Address is missing (NaN)

Row 13149: Address is missing (NaN)

Row 13150: Address is missing (NaN)

Row 13151: Address is missing (NaN)

Row 13152: Address is missing (NaN)

Row 13153: Address is missing (NaN)

Row 13154: Address is missing (NaN)

Row 13155: Address is missing (NaN)

Row 13156: Address is missing (NaN)

Row 13157: Address is missing (NaN)

Row 13158: Address is missing (NaN)

Row 13159: Address is missing (NaN)

Row 13160: Address is missing (NaN)

Row 13161: Address is missing (NaN)

Row 13162: Address is missing (NaN)

Row 13163: Address is missing (NaN)

Row 13164: Address is missing (NaN)

Row 13165: Address is missing (NaN)

Row 13166: Address is missing (NaN)

Row 13167: Address is missing (NaN)

Row 13168: Address is missing (NaN)

Row 13169: Address is missing (NaN)

Row 13170: Address is missing (NaN)

Row 13171: Address is missing (NaN)

Row 13172: Address is missing (NaN)

Row 13173: Address is missing (NaN)

Row 13174: Address is missing (NaN)

Row 13175: Address is missing (NaN)

Row 13176: Address is missing (NaN)

Row 13177: Address is missing (NaN)

Row 13178: Address is missing (NaN)

Row 13179: Address is missing (NaN)

Row 13180: Address is missing (NaN)

Row 13181: Address is missing (NaN)

Row 13182: Address is missing (NaN)

Row 13183: Address is missing (NaN)

Row 13184: Address is missing (NaN)

Row 13185: Address is missing (NaN)

Row 13186: Address is missing (NaN)

Row 13187: Address is missing (NaN)

Row 13188: Address is missing (NaN)

Row 13189: Address is missing (NaN)

Row 13190: Address is missing (NaN)

Row 13191: Address is missing (NaN)

Row 13192: Address is missing (NaN)

Row 13193: Address is missing (NaN)

Row 13194: Address is missing (NaN)

Row 13195: Address is missing (NaN)

Row 13196: Address is missing (NaN)

Row 13197: Address is missing (NaN)

Row 13198: Address is missing (NaN)

Row 13199: Address is missing (NaN)

Row 13200: Address is missing (NaN)

Row 13201: Address is missing (NaN)

Row 13202: Address is missing (NaN)

Row 13203: Address is missing (NaN)

Row 13204: Address is missing (NaN)

Row 13205: Address is missing (NaN)

Row 13206: Address is missing (NaN)

Row 13207: Address is missing (NaN)

Row 13208: Address is missing (NaN)

Row 13209: Address is missing (NaN)

Row 13210: Address is missing (NaN)

Row 13211: Address is missing (NaN)

Row 13212: Address is missing (NaN)

Row 13213: Address is missing (NaN)

Row 13214: Address is missing (NaN)

Row 13215: Address is missing (NaN)

Row 13216: Address is missing (NaN)

Row 13217: Address is missing (NaN)

Row 13218: Address is missing (NaN)

Row 13219: Address is missing (NaN)

Row 13220: Address is missing (NaN)

Row 13221: Address is missing (NaN)

Row 13222: Address is missing (NaN)

Row 13223: Address is missing (NaN)

Row 13224: Address is missing (NaN)

Row 13225: Address is missing (NaN)

Row 13226: Address is missing (NaN)

Row 13227: Address is missing (NaN)

Row 13228: Address is missing (NaN)

Row 13229: Address is missing (NaN)

Row 13230: Address is missing (NaN)

Row 13231: Address is missing (NaN)

Row 13232: Address is missing (NaN)

Row 13233: Address is missing (NaN)

Row 13234: Address is missing (NaN)

Row 13235: Address is missing (NaN)

Row 13236: Address is missing (NaN)

Row 13237: Address is missing (NaN)

Row 13238: Address is missing (NaN)

Row 13239: Address is missing (NaN)

Row 13240: Address is missing (NaN)

Row 13241: Address is missing (NaN)

Row 13242: Address is missing (NaN)

Row 13243: Address is missing (NaN)

Row 13244: Address is missing (NaN)

Row 13245: Address is missing (NaN)

Row 13246: Address is missing (NaN)

Row 13247: Address is missing (NaN)

Row 13248: Address is missing (NaN)

Row 13249: Address is missing (NaN)

Row 13250: Address is missing (NaN)

Row 13251: Address is missing (NaN)

Row 13252: Address is missing (NaN)

Row 13253: Address is missing (NaN)

Row 13254: Address is missing (NaN)

Row 13255: Address is missing (NaN)

Row 13256: Address is missing (NaN)

Row 13257: Address is missing (NaN)

Row 13258: Address is missing (NaN)

Row 13259: Address is missing (NaN)

Row 13260: Address is missing (NaN)

Row 13261: Address is missing (NaN)

Row 13262: Address is missing (NaN)

Row 13263: Address is missing (NaN)

Row 13264: Address is missing (NaN)

Row 13265: Address is missing (NaN)

Row 13266: Address is missing (NaN)

Row 13267: Address is missing (NaN)

Row 13268: Address is missing (NaN)

Row 13269: Address is missing (NaN)

Row 13270: Address is missing (NaN)

Row 13271: Address is missing (NaN)

Row 13272: Address is missing (NaN)

Row 13273: Address is missing (NaN)

Row 13274: Address is missing (NaN)

Row 13275: Address is missing (NaN)

Row 13276: Address is missing (NaN)

Row 13277: Address is missing (NaN)

Row 13278: Address is missing (NaN)

Row 13279: Address is missing (NaN)

Row 13280: Address is missing (NaN)

Row 13281: Address is missing (NaN)

Row 13282: Address is missing (NaN)

Row 13283: Address is missing (NaN)

Row 13284: Address is missing (NaN)

Row 13285: Address is missing (NaN)

Row 13286: Address is missing (NaN)

Row 13287: Address is missing (NaN)

Row 13288: Address is missing (NaN)

Row 13289: Address is missing (NaN)

Row 13290: Address is missing (NaN)

Row 13291: Address is missing (NaN)

Row 13292: Address is missing (NaN)

Row 13293: Address is missing (NaN)

Row 13294: Address is missing (NaN)

Row 13295: Address is missing (NaN)

Row 13296: Address is missing (NaN)

Row 13297: Address is missing (NaN)

Row 13298: Address is missing (NaN)

Row 13299: Address is missing (NaN)

Row 13300: Address is missing (NaN)

Row 13301: Address is missing (NaN)

Row 13302: Address is missing (NaN)

Row 13303: Address is missing (NaN)

Row 13304: Address is missing (NaN)

Row 13305: Address is missing (NaN)

Row 13306: Address is missing (NaN)

Row 13307: Address is missing (NaN)

Row 13308: Address is missing (NaN)

Row 13309: Address is missing (NaN)

Row 13310: Address is missing (NaN)

Row 13311: Address is missing (NaN)

Row 13312: Address is missing (NaN)

Row 13313: Address is missing (NaN)

Row 13314: Address is missing (NaN)

Row 13315: Address is missing (NaN)

Row 13316: Address is missing (NaN)

Row 13317: Address is missing (NaN)

Row 13318: Address is missing (NaN)

Row 13319: Address is missing (NaN)

Row 13320: Address is missing (NaN)

Row 13321: Address is missing (NaN)

Row 13322: Address is missing (NaN)

Row 13323: Address is missing (NaN)

Row 13324: Address is missing (NaN)

Row 13325: Address is missing (NaN)

Row 13326: Address is missing (NaN)

Row 13327: Address is missing (NaN)

Row 13328: Address is missing (NaN)

Row 13329: Address is missing (NaN)

Row 13330: Address is missing (NaN)

Row 13331: Address is missing (NaN)

Row 13332: Address is missing (NaN)

Row 13333: Address is missing (NaN)

Row 13334: Address is missing (NaN)

Row 13335: Address is missing (NaN)

Row 13336: Address is missing (NaN)

Row 13337: Address is missing (NaN)

Row 13338: Address is missing (NaN)

Row 13339: Address is missing (NaN)

Row 13340: Address is missing (NaN)

Row 13341: Address is missing (NaN)

Row 13342: Address is missing (NaN)

Row 13343: Address is missing (NaN)

Row 13344: Address is missing (NaN)

Row 13345: Address is missing (NaN)

Row 13346: Address is missing (NaN)

Row 13347: Address is missing (NaN)

Row 13348: Address is missing (NaN)

Row 13349: Address is missing (NaN)

Row 13350: Address is missing (NaN)

Row 13351: Address is missing (NaN)

Row 13352: Address is missing (NaN)

Row 13353: Address is missing (NaN)

Row 13354: Address is missing (NaN)

Row 13355: Address is missing (NaN)

Row 13356: Address is missing (NaN)

Row 13357: Address is missing (NaN)

Row 13358: Address is missing (NaN)

Row 13359: Address is missing (NaN)

Row 13360: Address is missing (NaN)

Row 13361: Address is missing (NaN)

Row 13362: Address is missing (NaN)

Row 13363: Address is missing (NaN)

Row 13364: Address is missing (NaN)

Row 13365: Address is missing (NaN)

Row 13366: Address is missing (NaN)

Row 13367: Address is missing (NaN)

Row 13368: Address is missing (NaN)

Row 13369: Address is missing (NaN)

Row 13370: Address is missing (NaN)

Row 13371: Address is missing (NaN)

Row 13372: Address is missing (NaN)

Row 13373: Address is missing (NaN)

Row 13374: Address is missing (NaN)

Row 13375: Address is missing (NaN)

Row 13376: Address is missing (NaN)

Row 13377: Address is missing (NaN)

Row 13378: Address is missing (NaN)

Row 13379: Address is missing (NaN)

Row 13380: Address is missing (NaN)

Row 13381: Address is missing (NaN)

Row 13382: Address is missing (NaN)

Row 13383: Address is missing (NaN)

Row 13384: Address is missing (NaN)

Row 13385: Address is missing (NaN)

Row 13386: Address is missing (NaN)

Row 13387: Address is missing (NaN)

Row 13388: Address is missing (NaN)

Row 13389: Address is missing (NaN)

Row 13390: Address is missing (NaN)

Row 13391: Address is missing (NaN)

Row 13392: Address is missing (NaN)

Row 13393: Address is missing (NaN)

Row 13394: Address is missing (NaN)

Row 13395: Address is missing (NaN)

Row 13396: Address is missing (NaN)

Row 13397: Address is missing (NaN)

Row 13398: Address is missing (NaN)

Row 13399: Address is missing (NaN)

Row 13400: Address is missing (NaN)

Row 13401: Address is missing (NaN)

Row 13402: Address is missing (NaN)

Row 13403: Address is missing (NaN)

Row 13404: Address is missing (NaN)

Row 13405: Address is missing (NaN)

Row 13406: Address is missing (NaN)

Row 13407: Address is missing (NaN)

Row 13408: Address is missing (NaN)

Row 13409: Address is missing (NaN)

Row 13410: Address is missing (NaN)

Row 13411: Address is missing (NaN)

Row 13412: Address is missing (NaN)

Row 13413: Address is missing (NaN)

Row 13414: Address is missing (NaN)

Row 13415: Address is missing (NaN)

Row 13416: Address is missing (NaN)

Row 13417: Address is missing (NaN)

Row 13418: Address is missing (NaN)

Row 13419: Address is missing (NaN)

Row 13420: Address is missing (NaN)

Row 13421: Address is missing (NaN)

Row 13422: Address is missing (NaN)

Row 13423: Address is missing (NaN)

Row 13424: Address is missing (NaN)

Row 13425: Address is missing (NaN)

Row 13426: Address is missing (NaN)

Row 13427: Address is missing (NaN)

Row 13428: Address is missing (NaN)

Row 13429: Address is missing (NaN)

Row 13430: Address is missing (NaN)

Row 13431: Address is missing (NaN)

Row 13432: Address is missing (NaN)

Row 13433: Address is missing (NaN)

Row 13434: Address is missing (NaN)

Row 13435: Address is missing (NaN)

Row 13436: Address is missing (NaN)

Row 13437: Address is missing (NaN)

Row 13438: Address is missing (NaN)

Row 13439: Address is missing (NaN)

Row 13440: Address is missing (NaN)

Row 13441: Address is missing (NaN)

Row 13442: Address is missing (NaN)

Row 13443: Address is missing (NaN)

Row 13444: Address is missing (NaN)

Row 13445: Address is missing (NaN)

Row 13446: Address is missing (NaN)

Row 13447: Address is missing (NaN)

Row 13448: Address is missing (NaN)

Row 13449: Address is missing (NaN)

Row 13450: Address is missing (NaN)

Row 13451: Address is missing (NaN)

Row 13452: Address is missing (NaN)

Row 13453: Address is missing (NaN)

Row 13454: Address is missing (NaN)

Row 13455: Address is missing (NaN)

Row 13456: Address is missing (NaN)

Row 13457: Address is missing (NaN)

Row 13458: Address is missing (NaN)

Row 13459: Address is missing (NaN)

Row 13460: Address is missing (NaN)

Row 13461: Address is missing (NaN)

Row 13462: Address is missing (NaN)

Row 13463: Address is missing (NaN)

Row 13464: Address is missing (NaN)

Row 13465: Address is missing (NaN)

Row 13466: Address is missing (NaN)

Row 13467: Address is missing (NaN)

Row 13468: Address is missing (NaN)

Row 13469: Address is missing (NaN)

Row 13470: Address is missing (NaN)

Row 13471: Address is missing (NaN)

Row 13472: Address is missing (NaN)

Row 13473: Address is missing (NaN)

Row 13474: Address is missing (NaN)

Row 13475: Address is missing (NaN)

Row 13476: Address is missing (NaN)

Row 13477: Address is missing (NaN)

Row 13478: Address is missing (NaN)

Row 13479: Address is missing (NaN)

Row 13480: Address is missing (NaN)

Row 13481: Address is missing (NaN)

Row 13482: Address is missing (NaN)

Row 13483: Address is missing (NaN)

Row 13484: Address is missing (NaN)

Row 13485: Address is missing (NaN)

Row 13486: Address is missing (NaN)

Row 13487: Address is missing (NaN)

Row 13488: Address is missing (NaN)

Row 13489: Address is missing (NaN)

Row 13490: Address is missing (NaN)

Row 13491: Address is missing (NaN)

Row 13492: Address is missing (NaN)

Row 13493: Address is missing (NaN)

Row 13494: Address is missing (NaN)

Row 13495: Address is missing (NaN)

Row 13496: Address is missing (NaN)

Row 13497: Address is missing (NaN)

Row 13498: Address is missing (NaN)

Row 13499: Address is missing (NaN)

Row 13500: Address is missing (NaN)

Row 13501: Address is missing (NaN)

Row 13502: Address is missing (NaN)

Row 13503: Address is missing (NaN)

Row 13504: Address is missing (NaN)

Row 13505: Address is missing (NaN)

Row 13506: Address is missing (NaN)

Row 13507: Address is missing (NaN)

Row 13508: Address is missing (NaN)

Row 13509: Address is missing (NaN)

Row 13510: Address is missing (NaN)

Row 13511: Address is missing (NaN)

Row 13512: Address is missing (NaN)

Row 13513: Address is missing (NaN)

Row 13514: Address is missing (NaN)

Row 13515: Address is missing (NaN)

Row 13516: Address is missing (NaN)

Row 13517: Address is missing (NaN)

Row 13518: Address is missing (NaN)

Row 13519: Address is missing (NaN)

Row 13520: Address is missing (NaN)

Row 13521: Address is missing (NaN)

Row 13522: Address is missing (NaN)

Row 13523: Address is missing (NaN)

Row 13524: Address is missing (NaN)

Row 13525: Address is missing (NaN)

Row 13526: Address is missing (NaN)

Row 13527: Address is missing (NaN)

Row 13528: Address is missing (NaN)

Row 13529: Address is missing (NaN)

Row 13530: Address is missing (NaN)

Row 13531: Address is missing (NaN)

Row 13532: Address is missing (NaN)

Row 13533: Address is missing (NaN)

Row 13534: Address is missing (NaN)

Row 13535: Address is missing (NaN)

Row 13536: Address is missing (NaN)

Row 13537: Address is missing (NaN)

Row 13538: Address is missing (NaN)

Row 13539: Address is missing (NaN)

Row 13540: Address is missing (NaN)

Row 13541: Address is missing (NaN)

Row 13542: Address is missing (NaN)

Row 13543: Address is missing (NaN)

Row 13544: Address is missing (NaN)

Row 13545: Address is missing (NaN)

Row 13546: Address is missing (NaN)

Row 13547: Address is missing (NaN)

Row 13548: Address is missing (NaN)

Row 13549: Address is missing (NaN)

Row 13550: Address is missing (NaN)

Row 13551: Address is missing (NaN)

Row 13552: Address is missing (NaN)

Row 13553: Address is missing (NaN)

Row 13554: Address is missing (NaN)

Row 13555: Address is missing (NaN)

Row 13556: Address is missing (NaN)

Row 13557: Address is missing (NaN)

Row 13558: Address is missing (NaN)

Row 13559: Address is missing (NaN)

Row 13560: Address is missing (NaN)

Row 13561: Address is missing (NaN)

Row 13562: Address is missing (NaN)

Row 13563: Address is missing (NaN)

Row 13564: Address is missing (NaN)

Row 13565: Address is missing (NaN)

Row 13566: Address is missing (NaN)

Row 13567: Address is missing (NaN)

Row 13568: Address is missing (NaN)

Row 13569: Address is missing (NaN)

Row 13570: Address is missing (NaN)

Row 13571: Address is missing (NaN)

Row 13572: Address is missing (NaN)

Row 13573: Address is missing (NaN)

Row 13574: Address is missing (NaN)

Row 13575: Address is missing (NaN)

Row 13576: Address is missing (NaN)

Row 13577: Address is missing (NaN)

Row 13578: Address is missing (NaN)

Row 13579: Address is missing (NaN)

Row 13580: Address is missing (NaN)

Row 13581: Address is missing (NaN)

Row 13582: Address is missing (NaN)

Row 13583: Address is missing (NaN)

Row 13584: Address is missing (NaN)

Row 13585: Address is missing (NaN)

Row 13586: Address is missing (NaN)

Row 13587: Address is missing (NaN)

Row 13588: Address is missing (NaN)

Row 13589: Address is missing (NaN)

Row 13590: Address is missing (NaN)

Row 13591: Address is missing (NaN)

Row 13592: Address is missing (NaN)

Row 13593: Address is missing (NaN)

Row 13594: Address is missing (NaN)

Row 13595: Address is missing (NaN)

Row 13596: Address is missing (NaN)

Row 13597: Address is missing (NaN)

Row 13598: Address is missing (NaN)

Row 13599: Address is missing (NaN)

Row 13600: Address is missing (NaN)

Row 13601: Address is missing (NaN)

Row 13602: Address is missing (NaN)

Row 13603: Address is missing (NaN)

Row 13604: Address is missing (NaN)

Row 13605: Address is missing (NaN)

Row 13606: Address is missing (NaN)

Row 13607: Address is missing (NaN)

Row 13608: Address is missing (NaN)

Row 13609: Address is missing (NaN)

Row 13610: Address is missing (NaN)

Row 13611: Address is missing (NaN)

Row 13612: Address is missing (NaN)

Row 13613: Address is missing (NaN)

Row 13614: Address is missing (NaN)

Row 13615: Address is missing (NaN)

Row 13616: Address is missing (NaN)

Row 13617: Address is missing (NaN)

Row 13618: Address is missing (NaN)

Row 13619: Address is missing (NaN)

Row 13620: Address is missing (NaN)

Row 13621: Address is missing (NaN)

Row 13622: Address is missing (NaN)

Row 13623: Address is missing (NaN)

Row 13624: Address is missing (NaN)

Row 13625: Address is missing (NaN)

Row 13626: Address is missing (NaN)

Row 13627: Address is missing (NaN)

Row 13628: Address is missing (NaN)

Row 13629: Address is missing (NaN)

Row 13630: Address is missing (NaN)

Row 13631: Address is missing (NaN)

Row 13632: Address is missing (NaN)

Row 13633: Address is missing (NaN)

Row 13634: Address is missing (NaN)

Row 13635: Address is missing (NaN)

Row 13636: Address is missing (NaN)

Row 13637: Address is missing (NaN)

Row 13638: Address is missing (NaN)

Row 13639: Address is missing (NaN)

Row 13640: Address is missing (NaN)

Row 13641: Address is missing (NaN)

Row 13642: Address is missing (NaN)

Row 13643: Address is missing (NaN)

Row 13644: Address is missing (NaN)

Row 13645: Address is missing (NaN)

Row 13646: Address is missing (NaN)

Row 13647: Address is missing (NaN)

Row 13648: Address is missing (NaN)

Row 13649: Address is missing (NaN)

Row 13650: Address is missing (NaN)

Row 13651: Address is missing (NaN)

Row 13652: Address is missing (NaN)

Row 13653: Address is missing (NaN)

Row 13654: Address is missing (NaN)

Row 13655: Address is missing (NaN)

Row 13656: Address is missing (NaN)

Row 13657: Address is missing (NaN)

Row 13658: Address is missing (NaN)

Row 13659: Address is missing (NaN)

Row 13660: Address is missing (NaN)

Row 13661: Address is missing (NaN)

Row 13662: Address is missing (NaN)

Row 13663: Address is missing (NaN)

Row 13664: Address is missing (NaN)

Row 13665: Address is missing (NaN)

Row 13666: Address is missing (NaN)

Row 13667: Address is missing (NaN)

Row 13668: Address is missing (NaN)

Row 13669: Address is missing (NaN)

Row 13670: Address is missing (NaN)

Row 13671: Address is missing (NaN)

Row 13672: Address is missing (NaN)

Row 13673: Address is missing (NaN)

Row 13674: Address is missing (NaN)

Row 13675: Address is missing (NaN)

Row 13676: Address is missing (NaN)

Row 13677: Address is missing (NaN)

Row 13678: Address is missing (NaN)

Row 13679: Address is missing (NaN)

Row 13680: Address is missing (NaN)

Row 13681: Address is missing (NaN)

Row 13682: Address is missing (NaN)

Row 13683: Address is missing (NaN)

Row 13684: Address is missing (NaN)

Row 13685: Address is missing (NaN)

Row 13686: Address is missing (NaN)

Row 13687: Address is missing (NaN)

Row 13688: Address is missing (NaN)

Row 13689: Address is missing (NaN)

Row 13690: Address is missing (NaN)

Row 13691: Address is missing (NaN)

Row 13692: Address is missing (NaN)

Row 13693: Address is missing (NaN)

Row 13694: Address is missing (NaN)

Row 13695: Address is missing (NaN)

Row 13696: Address is missing (NaN)

Row 13697: Address is missing (NaN)

Row 13698: Address is missing (NaN)

Row 13699: Address is missing (NaN)

Row 13700: Address is missing (NaN)

Row 13701: Address is missing (NaN)

Row 13702: Address is missing (NaN)

Row 13703: Address is missing (NaN)

Row 13704: Address is missing (NaN)

Row 13705: Address is missing (NaN)

Row 13706: Address is missing (NaN)

Row 13707: Address is missing (NaN)

Row 13708: Address is missing (NaN)

Row 13709: Address is missing (NaN)

Row 13710: Address is missing (NaN)

Row 13711: Address is missing (NaN)

Row 13712: Address is missing (NaN)

Row 13713: Address is missing (NaN)

Row 13714: Address is missing (NaN)

Row 13715: Address is missing (NaN)

Row 13716: Address is missing (NaN)

Row 13717: Address is missing (NaN)

Row 13718: Address is missing (NaN)

Row 13719: Address is missing (NaN)

Row 13720: Address is missing (NaN)

Row 13721: Address is missing (NaN)

Row 13722: Address is missing (NaN)

Row 13723: Address is missing (NaN)

Row 13724: Address is missing (NaN)

Row 13725: Address is missing (NaN)

Row 13726: Address is missing (NaN)

Row 13727: Address is missing (NaN)

Row 13728: Address is missing (NaN)

Row 13729: Address is missing (NaN)

Row 13730: Address is missing (NaN)

Row 13731: Address is missing (NaN)

Row 13732: Address is missing (NaN)

Row 13733: Address is missing (NaN)

Row 13734: Address is missing (NaN)

Row 13735: Address is missing (NaN)

Row 13736: Address is missing (NaN)

Row 13737: Address is missing (NaN)

Row 13738: Address is missing (NaN)

Row 13739: Address is missing (NaN)

Row 13740: Address is missing (NaN)

Row 13741: Address is missing (NaN)

Row 13742: Address is missing (NaN)

Row 13743: Address is missing (NaN)

Row 13744: Address is missing (NaN)

Row 13745: Address is missing (NaN)

Row 13746: Address is missing (NaN)

Row 13747: Address is missing (NaN)

Row 13748: Address is missing (NaN)

Row 13749: Address is missing (NaN)

Row 13750: Address is missing (NaN)

Row 13751: Address is missing (NaN)

Row 13752: Address is missing (NaN)

Row 13753: Address is missing (NaN)

Row 13754: Address is missing (NaN)

Row 13755: Address is missing (NaN)

Row 13756: Address is missing (NaN)

Row 13757: Address is missing (NaN)

Row 13758: Address is missing (NaN)

Row 13759: Address is missing (NaN)

Row 13760: Address is missing (NaN)

Row 13761: Address is missing (NaN)

Row 13762: Address is missing (NaN)

Row 13763: Address is missing (NaN)

Row 13764: Address is missing (NaN)

Row 13765: Address is missing (NaN)

Row 13766: Address is missing (NaN)

Row 13767: Address is missing (NaN)

Row 13768: Address is missing (NaN)

Row 13769: Address is missing (NaN)

Row 13770: Address is missing (NaN)

Row 13771: Address is missing (NaN)

Row 13772: Address is missing (NaN)

Row 13773: Address is missing (NaN)

Row 13774: Address is missing (NaN)

Row 13775: Address is missing (NaN)

Row 13776: Address is missing (NaN)

Row 13777: Address is missing (NaN)

Row 13778: Address is missing (NaN)

Row 13779: Address is missing (NaN)

Row 13780: Address is missing (NaN)

Row 13781: Address is missing (NaN)

Row 13782: Address is missing (NaN)

Row 13783: Address is missing (NaN)

Row 13784: Address is missing (NaN)

Row 13785: Address is missing (NaN)

Row 13786: Address is missing (NaN)

Row 13787: Address is missing (NaN)

Row 13788: Address is missing (NaN)

Row 13789: Address is missing (NaN)

Row 13790: Address is missing (NaN)

Row 13791: Address is missing (NaN)

Row 13792: Address is missing (NaN)

Row 13793: Address is missing (NaN)

Row 13794: Address is missing (NaN)

Row 13795: Address is missing (NaN)

Row 13796: Address is missing (NaN)

Row 13797: Address is missing (NaN)

Row 13798: Address is missing (NaN)

Row 13799: Address is missing (NaN)

Row 13800: Address is missing (NaN)

Row 13801: Address is missing (NaN)

Row 13802: Address is missing (NaN)

Row 13803: Address is missing (NaN)

Row 13804: Address is missing (NaN)

Row 13805: Address is missing (NaN)

Row 13806: Address is missing (NaN)

Row 13807: Address is missing (NaN)

Row 13808: Address is missing (NaN)

Row 13809: Address is missing (NaN)

Row 13810: Address is missing (NaN)

Row 13811: Address is missing (NaN)

Row 13812: Address is missing (NaN)

Row 13813: Address is missing (NaN)

Row 13814: Address is missing (NaN)

Row 13815: Address is missing (NaN)

Row 13816: Address is missing (NaN)

Row 13817: Address is missing (NaN)

Row 13818: Address is missing (NaN)

Row 13819: Address is missing (NaN)

Row 13820: Address is missing (NaN)

Row 13821: Address is missing (NaN)

Row 13822: Address is missing (NaN)

Row 13823: Address is missing (NaN)

Row 13824: Address is missing (NaN)

Row 13825: Address is missing (NaN)

Row 13826: Address is missing (NaN)

Row 13827: Address is missing (NaN)

Row 13828: Address is missing (NaN)

Row 13829: Address is missing (NaN)

Row 13830: Address is missing (NaN)

Row 13831: Address is missing (NaN)

Row 13832: Address is missing (NaN)

Row 13833: Address is missing (NaN)

Row 13834: Address is missing (NaN)

Row 13835: Address is missing (NaN)

Row 13836: Address is missing (NaN)

Row 13837: Address is missing (NaN)

Row 13838: Address is missing (NaN)

Row 13839: Address is missing (NaN)

Row 13840: Address is missing (NaN)

Row 13841: Address is missing (NaN)

Row 13842: Address is missing (NaN)

Row 13843: Address is missing (NaN)

Row 13844: Address is missing (NaN)

Row 13845: Address is missing (NaN)

Row 13846: Address is missing (NaN)

Row 13847: Address is missing (NaN)

Row 13848: Address is missing (NaN)

Row 13849: Address is missing (NaN)

Row 13850: Address is missing (NaN)

Row 13851: Address is missing (NaN)

Row 13852: Address is missing (NaN)

Row 13853: Address is missing (NaN)

Row 13854: Address is missing (NaN)

Row 13855: Address is missing (NaN)

Row 13856: Address is missing (NaN)

Row 13857: Address is missing (NaN)

Row 13858: Address is missing (NaN)

Row 13859: Address is missing (NaN)

Row 13860: Address is missing (NaN)

Row 13861: Address is missing (NaN)

Row 13862: Address is missing (NaN)

Row 13863: Address is missing (NaN)

Row 13864: Address is missing (NaN)

Row 13865: Address is missing (NaN)

Row 13866: Address is missing (NaN)

Row 13867: Address is missing (NaN)

Row 13868: Address is missing (NaN)

Row 13869: Address is missing (NaN)

Row 13870: Address is missing (NaN)

Row 13871: Address is missing (NaN)

Row 13872: Address is missing (NaN)

Row 13873: Address is missing (NaN)

Row 13874: Address is missing (NaN)

Row 13875: Address is missing (NaN)

Row 13876: Address is missing (NaN)

Row 13877: Address is missing (NaN)

Row 13878: Address is missing (NaN)

Row 13879: Address is missing (NaN)

Row 13880: Address is missing (NaN)

Row 13881: Address is missing (NaN)

Row 13882: Address is missing (NaN)

Row 13883: Address is missing (NaN)

Row 13884: Address is missing (NaN)

Row 13885: Address is missing (NaN)

Row 13886: Address is missing (NaN)

Row 13887: Address is missing (NaN)

Row 13888: Address is missing (NaN)

Row 13889: Address is missing (NaN)

Row 13890: Address is missing (NaN)

Row 13891: Address is missing (NaN)

Row 13892: Address is missing (NaN)

Row 13893: Address is missing (NaN)

Row 13894: Address is missing (NaN)

Row 13895: Address is missing (NaN)

Row 13896: Address is missing (NaN)

Row 13897: Address is missing (NaN)

Row 13898: Address is missing (NaN)

Row 13899: Address is missing (NaN)

Row 13900: Address is missing (NaN)

Row 13901: Address is missing (NaN)

Row 13902: Address is missing (NaN)

Row 13903: Address is missing (NaN)

Row 13904: Address is missing (NaN)

Row 13905: Address is missing (NaN)

Row 13906: Address is missing (NaN)

Row 13907: Address is missing (NaN)

Row 13908: Address is missing (NaN)

Row 13909: Address is missing (NaN)

Row 13910: Address is missing (NaN)

Row 13911: Address is missing (NaN)

Row 13912: Address is missing (NaN)

Row 13913: Address is missing (NaN)

Row 13914: Address is missing (NaN)

Row 13915: Address is missing (NaN)

Row 13916: Address is missing (NaN)

Row 13917: Address is missing (NaN)

Row 13918: Address is missing (NaN)

Row 13919: Address is missing (NaN)

Row 13920: Address is missing (NaN)

Row 13921: Address is missing (NaN)

Row 13922: Address is missing (NaN)

Row 13923: Address is missing (NaN)

Row 13924: Address is missing (NaN)

Row 13925: Address is missing (NaN)

Row 13926: Address is missing (NaN)

Row 13927: Address is missing (NaN)

Row 13928: Address is missing (NaN)

Row 13929: Address is missing (NaN)

Row 13930: Address is missing (NaN)

Row 13931: Address is missing (NaN)

Row 13932: Address is missing (NaN)

Row 13933: Address is missing (NaN)

Row 13934: Address is missing (NaN)

Row 13935: Address is missing (NaN)

Row 13936: Address is missing (NaN)

Row 13937: Address is missing (NaN)

Row 13938: Address is missing (NaN)

Row 13939: Address is missing (NaN)

Row 13940: Address is missing (NaN)

Row 13941: Address is missing (NaN)

Row 13942: Address is missing (NaN)

Row 13943: Address is missing (NaN)

Row 13944: Address is missing (NaN)

Row 13945: Address is missing (NaN)

Row 13946: Address is missing (NaN)

Row 13947: Address is missing (NaN)

Row 13948: Address is missing (NaN)

Row 13949: Address is missing (NaN)

Row 13950: Address is missing (NaN)

Row 13951: Address is missing (NaN)

Row 13952: Address is missing (NaN)

Row 13953: Address is missing (NaN)

Row 13954: Address is missing (NaN)

Row 13955: Address is missing (NaN)

Row 13956: Address is missing (NaN)

Row 13957: Address is missing (NaN)

Row 13958: Address is missing (NaN)

Row 13959: Address is missing (NaN)

Row 13960: Address is missing (NaN)

Row 13961: Address is missing (NaN)

Row 13962: Address is missing (NaN)

Row 13963: Address is missing (NaN)

Row 13964: Address is missing (NaN)

Row 13965: Address is missing (NaN)

Row 13966: Address is missing (NaN)

Row 13967: Address is missing (NaN)

Row 13968: Address is missing (NaN)

Row 13969: Address is missing (NaN)

Row 13970: Address is missing (NaN)

Row 13971: Address is missing (NaN)

Row 13972: Address is missing (NaN)

Row 13973: Address is missing (NaN)

Row 13974: Address is missing (NaN)

Row 13975: Address is missing (NaN)

Row 13976: Address is missing (NaN)

Row 13977: Address is missing (NaN)

Row 13978: Address is missing (NaN)

Row 13979: Address is missing (NaN)

Row 13980: Address is missing (NaN)

Row 13981: Address is missing (NaN)

Row 13982: Address is missing (NaN)

Row 13983: Address is missing (NaN)

Row 13984: Address is missing (NaN)

Row 13985: Address is missing (NaN)

Row 13986: Address is missing (NaN)

Row 13987: Address is missing (NaN)

Row 13988: Address is missing (NaN)

Row 13989: Address is missing (NaN)

Row 13990: Address is missing (NaN)

Row 13991: Address is missing (NaN)

Row 13992: Address is missing (NaN)

Row 13993: Address is missing (NaN)

Row 13994: Address is missing (NaN)

Row 13995: Address is missing (NaN)

Row 13996: Address is missing (NaN)

Row 13997: Address is missing (NaN)

Row 13998: Address is missing (NaN)

Row 13999: Address is missing (NaN)

Row 14000: Address is missing (NaN)

Row 14001: Address is missing (NaN)

Row 14002: Address is missing (NaN)

Row 14003: Address is missing (NaN)

Row 14004: Address is missing (NaN)

Row 14005: Address is missing (NaN)

Row 14006: Address is missing (NaN)

Row 14007: Address is missing (NaN)

Row 14008: Address is missing (NaN)

Row 14009: Address is missing (NaN)

Row 14010: Address is missing (NaN)

Row 14011: Address is missing (NaN)

Row 14012: Address is missing (NaN)

Row 14013: Address is missing (NaN)

Row 14014: Address is missing (NaN)

Row 14015: Address is missing (NaN)

Row 14016: Address is missing (NaN)

Row 14017: Address is missing (NaN)

Row 14018: Address is missing (NaN)

Row 14019: Address is missing (NaN)

Row 14020: Address is missing (NaN)

Row 14021: Address is missing (NaN)

Row 14022: Address is missing (NaN)

Row 14023: Address is missing (NaN)

Row 14024: Address is missing (NaN)

Row 14025: Address is missing (NaN)

Row 14026: Address is missing (NaN)

Row 14027: Address is missing (NaN)

Row 14028: Address is missing (NaN)

Row 14029: Address is missing (NaN)

Row 14030: Address is missing (NaN)

Row 14031: Address is missing (NaN)

Row 14032: Address is missing (NaN)

Row 14033: Address is missing (NaN)

Row 14034: Address is missing (NaN)

Row 14035: Address is missing (NaN)

Row 14036: Address is missing (NaN)

Row 14037: Address is missing (NaN)

Row 14038: Address is missing (NaN)

Row 14039: Address is missing (NaN)

Row 14040: Address is missing (NaN)

Row 14041: Address is missing (NaN)

Row 14042: Address is missing (NaN)

Row 14043: Address is missing (NaN)

Row 14044: Address is missing (NaN)

Row 14045: Address is missing (NaN)

Row 14046: Address is missing (NaN)

Row 14047: Address is missing (NaN)

Row 14048: Address is missing (NaN)

Row 14049: Address is missing (NaN)

Row 14050: Address is missing (NaN)

Row 14051: Address is missing (NaN)

Row 14052: Address is missing (NaN)

Row 14053: Address is missing (NaN)

Row 14054: Address is missing (NaN)

Row 14055: Address is missing (NaN)

Row 14056: Address is missing (NaN)

Row 14057: Address is missing (NaN)

Row 14058: Address is missing (NaN)

Row 14059: Address is missing (NaN)

Row 14060: Address is missing (NaN)

Row 14061: Address is missing (NaN)

Row 14062: Address is missing (NaN)

Row 14063: Address is missing (NaN)

Row 14064: Address is missing (NaN)

Row 14065: Address is missing (NaN)

Row 14066: Address is missing (NaN)

Row 14067: Address is missing (NaN)

Row 14068: Address is missing (NaN)

Row 14069: Address is missing (NaN)

Row 14070: Address is missing (NaN)

Row 14071: Address is missing (NaN)

Row 14072: Address is missing (NaN)

Row 14073: Address is missing (NaN)

Row 14074: Address is missing (NaN)

Row 14075: Address is missing (NaN)

Row 14076: Address is missing (NaN)

Row 14077: Address is missing (NaN)

Row 14078: Address is missing (NaN)

Row 14079: Address is missing (NaN)

Row 14080: Address is missing (NaN)

Row 14081: Address is missing (NaN)

Row 14082: Address is missing (NaN)

Row 14083: Address is missing (NaN)

Row 14084: Address is missing (NaN)

Row 14085: Address is missing (NaN)

Row 14086: Address is missing (NaN)

Row 14087: Address is missing (NaN)

Row 14088: Address is missing (NaN)

Row 14089: Address is missing (NaN)

Row 14090: Address is missing (NaN)

Row 14091: Address is missing (NaN)

Row 14092: Address is missing (NaN)

Row 14093: Address is missing (NaN)

Row 14094: Address is missing (NaN)

Row 14095: Address is missing (NaN)

Row 14096: Address is missing (NaN)

Row 14097: Address is missing (NaN)

Row 14098: Address is missing (NaN)

Row 14099: Address is missing (NaN)

Row 14100: Address is missing (NaN)

Row 14101: Address is missing (NaN)

Row 14102: Address is missing (NaN)

Row 14103: Address is missing (NaN)

Row 14104: Address is missing (NaN)

Row 14105: Address is missing (NaN)

Row 14106: Address is missing (NaN)

Row 14107: Address is missing (NaN)

Row 14108: Address is missing (NaN)

Row 14109: Address is missing (NaN)

Row 14110: Address is missing (NaN)

Row 14111: Address is missing (NaN)

Row 14112: Address is missing (NaN)

Row 14113: Address is missing (NaN)

Row 14114: Address is missing (NaN)

Row 14115: Address is missing (NaN)

Row 14116: Address is missing (NaN)

Row 14117: Address is missing (NaN)

Row 14118: Address is missing (NaN)

Row 14119: Address is missing (NaN)

Row 14120: Address is missing (NaN)

Row 14121: Address is missing (NaN)

Row 14122: Address is missing (NaN)

Row 14123: Address is missing (NaN)

Row 14124: Address is missing (NaN)

Row 14125: Address is missing (NaN)

Row 14126: Address is missing (NaN)

Row 14127: Address is missing (NaN)

Row 14128: Address is missing (NaN)

Row 14129: Address is missing (NaN)

Row 14130: Address is missing (NaN)

Row 14131: Address is missing (NaN)

Row 14132: Address is missing (NaN)

Row 14133: Address is missing (NaN)

Row 14134: Address is missing (NaN)

Row 14135: Address is missing (NaN)

Row 14136: Address is missing (NaN)

Row 14137: Address is missing (NaN)

Row 14138: Address is missing (NaN)

Row 14139: Address is missing (NaN)

Row 14140: Address is missing (NaN)

Row 14141: Address is missing (NaN)

Row 14142: Address is missing (NaN)

Row 14143: Address is missing (NaN)

Row 14144: Address is missing (NaN)

Row 14145: Address is missing (NaN)

Row 14146: Address is missing (NaN)

Row 14147: Address is missing (NaN)

Row 14148: Address is missing (NaN)

Row 14149: Address is missing (NaN)

Row 14150: Address is missing (NaN)

Row 14151: Address is missing (NaN)

Row 14152: Address is missing (NaN)

Row 14153: Address is missing (NaN)

Row 14154: Address is missing (NaN)

Row 14155: Address is missing (NaN)

Row 14156: Address is missing (NaN)

Row 14157: Address is missing (NaN)

Row 14158: Address is missing (NaN)

Row 14159: Address is missing (NaN)

Row 14160: Address is missing (NaN)

Row 14161: Address is missing (NaN)

Row 14162: Address is missing (NaN)

Row 14163: Address is missing (NaN)

Row 14164: Address is missing (NaN)

Row 14165: Address is missing (NaN)

Row 14166: Address is missing (NaN)

Row 14167: Address is missing (NaN)

Row 14168: Address is missing (NaN)

Row 14169: Address is missing (NaN)

Row 14170: Address is missing (NaN)

Row 14171: Address is missing (NaN)

Row 14172: Address is missing (NaN)

Row 14173: Address is missing (NaN)

Row 14174: Address is missing (NaN)

Row 14175: Address is missing (NaN)

Row 14176: Address is missing (NaN)

Row 14177: Address is missing (NaN)

Row 14178: Address is missing (NaN)

Row 14179: Address is missing (NaN)

Row 14180: Address is missing (NaN)

Row 14181: Address is missing (NaN)

Row 14182: Address is missing (NaN)

Row 14183: Address is missing (NaN)

Row 14184: Address is missing (NaN)

Row 14185: Address is missing (NaN)

Row 14186: Address is missing (NaN)

Row 14187: Address is missing (NaN)

Row 14188: Address is missing (NaN)

Row 14189: Address is missing (NaN)

Row 14190: Address is missing (NaN)

Row 14191: Address is missing (NaN)

Row 14192: Address is missing (NaN)

Row 14193: Address is missing (NaN)

Row 14194: Address is missing (NaN)

Row 14195: Address is missing (NaN)

Row 14196: Address is missing (NaN)

Row 14197: Address is missing (NaN)

Row 14198: Address is missing (NaN)

Row 14199: Address is missing (NaN)

Row 14200: Address is missing (NaN)

Row 14201: Address is missing (NaN)

Row 14202: Address is missing (NaN)

Row 14203: Address is missing (NaN)

Row 14204: Address is missing (NaN)

Row 14205: Address is missing (NaN)

Row 14206: Address is missing (NaN)

Row 14207: Address is missing (NaN)

Row 14208: Address is missing (NaN)

Row 14209: Address is missing (NaN)

Row 14210: Address is missing (NaN)

Row 14211: Address is missing (NaN)

Row 14212: Address is missing (NaN)

Row 14213: Address is missing (NaN)

Row 14214: Address is missing (NaN)

Row 14215: Address is missing (NaN)

Row 14216: Address is missing (NaN)

Row 14217: Address is missing (NaN)

Row 14218: Address is missing (NaN)

Row 14219: Address is missing (NaN)

Row 14220: Address is missing (NaN)

Row 14221: Address is missing (NaN)

Row 14222: Address is missing (NaN)

Row 14223: Address is missing (NaN)

Row 14224: Address is missing (NaN)

Row 14225: Address is missing (NaN)

Row 14226: Address is missing (NaN)

Row 14227: Address is missing (NaN)

Row 14228: Address is missing (NaN)

Row 14229: Address is missing (NaN)

Row 14230: Address is missing (NaN)

Row 14231: Address is missing (NaN)

Row 14232: Address is missing (NaN)

Row 14233: Address is missing (NaN)

Row 14234: Address is missing (NaN)

Row 14235: Address is missing (NaN)

Row 14236: Address is missing (NaN)

Row 14237: Address is missing (NaN)

Row 14238: Address is missing (NaN)

Row 14239: Address is missing (NaN)

Row 14240: Address is missing (NaN)

Row 14241: Address is missing (NaN)

Row 14242: Address is missing (NaN)

Row 14243: Address is missing (NaN)

Row 14244: Address is missing (NaN)

Row 14245: Address is missing (NaN)

Row 14246: Address is missing (NaN)

Row 14247: Address is missing (NaN)

Row 14248: Address is missing (NaN)

Row 14249: Address is missing (NaN)

Row 14250: Address is missing (NaN)

Row 14251: Address is missing (NaN)

Row 14252: Address is missing (NaN)

Row 14253: Address is missing (NaN)

Row 14254: Address is missing (NaN)

Row 14255: Address is missing (NaN)

Row 14256: Address is missing (NaN)

Row 14257: Address is missing (NaN)

Row 14258: Address is missing (NaN)

Row 14259: Address is missing (NaN)

Row 14260: Address is missing (NaN)

Row 14261: Address is missing (NaN)

Row 14262: Address is missing (NaN)

Row 14263: Address is missing (NaN)

Row 14264: Address is missing (NaN)

Row 14265: Address is missing (NaN)

Row 14266: Address is missing (NaN)

Row 14267: Address is missing (NaN)

Row 14268: Address is missing (NaN)

Row 14269: Address is missing (NaN)

Row 14270: Address is missing (NaN)

Row 14271: Address is missing (NaN)

Row 14272: Address is missing (NaN)

Row 14273: Address is missing (NaN)

Row 14274: Address is missing (NaN)

Row 14275: Address is missing (NaN)

Row 14276: Address is missing (NaN)

Row 14277: Address is missing (NaN)

Row 14278: Address is missing (NaN)

Row 14279: Address is missing (NaN)

Row 14280: Address is missing (NaN)

Row 14281: Address is missing (NaN)

Row 14282: Address is missing (NaN)

Row 14283: Address is missing (NaN)

Row 14284: Address is missing (NaN)

Row 14285: Address is missing (NaN)

Row 14286: Address is missing (NaN)

Row 14287: Address is missing (NaN)

Row 14288: Address is missing (NaN)

Row 14289: Address is missing (NaN)

Row 14290: Address is missing (NaN)

Row 14291: Address is missing (NaN)

Row 14292: Address is missing (NaN)

Row 14293: Address is missing (NaN)

Row 14294: Address is missing (NaN)

Row 14295: Address is missing (NaN)

Row 14296: Address is missing (NaN)

Row 14297: Address is missing (NaN)

Row 14298: Address is missing (NaN)

Row 14299: Address is missing (NaN)

Row 14300: Address is missing (NaN)

Row 14301: Address is missing (NaN)

Row 14302: Address is missing (NaN)

Row 14303: Address is missing (NaN)

Row 14304: Address is missing (NaN)

Row 14305: Address is missing (NaN)

Row 14306: Address is missing (NaN)

Row 14307: Address is missing (NaN)

Row 14308: Address is missing (NaN)

Row 14309: Address is missing (NaN)

Row 14310: Address is missing (NaN)

Row 14311: Address is missing (NaN)

Row 14312: Address is missing (NaN)

Row 14313: Address is missing (NaN)

Row 14314: Address is missing (NaN)

Row 14315: Address is missing (NaN)

Row 14316: Address is missing (NaN)

Row 14317: Address is missing (NaN)

Row 14318: Address is missing (NaN)

Row 14319: Address is missing (NaN)

Row 14320: Address is missing (NaN)

Row 14321: Address is missing (NaN)

Row 14322: Address is missing (NaN)

Row 14323: Address is missing (NaN)

Row 14324: Address is missing (NaN)

Row 14325: Address is missing (NaN)

Row 14326: Address is missing (NaN)

Row 14327: Address is missing (NaN)

Row 14328: Address is missing (NaN)

Row 14329: Address is missing (NaN)

Row 14330: Address is missing (NaN)

Row 14331: Address is missing (NaN)

Row 14332: Address is missing (NaN)

Row 14333: Address is missing (NaN)

Row 14334: Address is missing (NaN)

Row 14335: Address is missing (NaN)

Row 14336: Address is missing (NaN)

Row 14337: Address is missing (NaN)

Row 14338: Address is missing (NaN)

Row 14339: Address is missing (NaN)

Row 14340: Address is missing (NaN)

Row 14341: Address is missing (NaN)

Row 14342: Address is missing (NaN)

Row 14343: Address is missing (NaN)

Row 14344: Address is missing (NaN)

Row 14345: Address is missing (NaN)

Row 14346: Address is missing (NaN)

Row 14347: Address is missing (NaN)

Row 14348: Address is missing (NaN)

Row 14349: Address is missing (NaN)

Row 14350: Address is missing (NaN)

Row 14351: Address is missing (NaN)

Row 14352: Address is missing (NaN)

Row 14353: Address is missing (NaN)

Row 14354: Address is missing (NaN)

Row 14355: Address is missing (NaN)

Row 14356: Address is missing (NaN)

Row 14357: Address is missing (NaN)

Row 14358: Address is missing (NaN)

Row 14359: Address is missing (NaN)

Row 14360: Address is missing (NaN)

Row 14361: Address is missing (NaN)

Row 14362: Address is missing (NaN)

Row 14363: Address is missing (NaN)

Row 14364: Address is missing (NaN)

Row 14365: Address is missing (NaN)

Row 14366: Address is missing (NaN)

Row 14367: Address is missing (NaN)

Row 14368: Address is missing (NaN)

Row 14369: Address is missing (NaN)

Row 14370: Address is missing (NaN)

Row 14371: Address is missing (NaN)

Row 14372: Address is missing (NaN)

Row 14373: Address is missing (NaN)

Row 14374: Address is missing (NaN)

Row 14375: Address is missing (NaN)

Row 14376: Address is missing (NaN)

Row 14377: Address is missing (NaN)

Row 14378: Address is missing (NaN)

Row 14379: Address is missing (NaN)

Row 14380: Address is missing (NaN)

Row 14381: Address is missing (NaN)

Row 14382: Address is missing (NaN)

Row 14383: Address is missing (NaN)

Row 14384: Address is missing (NaN)

Row 14385: Address is missing (NaN)

Row 14386: Address is missing (NaN)

Row 14387: Address is missing (NaN)

Row 14388: Address is missing (NaN)

Row 14389: Address is missing (NaN)

Row 14390: Address is missing (NaN)

Row 14391: Address is missing (NaN)

Row 14392: Address is missing (NaN)

Row 14393: Address is missing (NaN)

Row 14394: Address is missing (NaN)

Row 14395: Address is missing (NaN)

Row 14396: Address is missing (NaN)

Row 14397: Address is missing (NaN)

Row 14398: Address is missing (NaN)

Row 14399: Address is missing (NaN)

Row 14400: Address is missing (NaN)

Row 14401: Address is missing (NaN)

Row 14402: Address is missing (NaN)

Row 14403: Address is missing (NaN)

Row 14404: Address is missing (NaN)

Row 14405: Address is missing (NaN)

Row 14406: Address is missing (NaN)

Row 14407: Address is missing (NaN)

Row 14408: Address is missing (NaN)

Row 14409: Address is missing (NaN)

Row 14410: Address is missing (NaN)

Row 14411: Address is missing (NaN)

Row 14412: Address is missing (NaN)

Row 14413: Address is missing (NaN)

Row 14414: Address is missing (NaN)

Row 14415: Address is missing (NaN)

Row 14416: Address is missing (NaN)

Row 14417: Address is missing (NaN)

Row 14418: Address is missing (NaN)

Row 14419: Address is missing (NaN)

Row 14420: Address is missing (NaN)

Row 14421: Address is missing (NaN)

Row 14422: Address is missing (NaN)

Row 14423: Address is missing (NaN)

Row 14424: Address is missing (NaN)

Row 14425: Address is missing (NaN)

Row 14426: Address is missing (NaN)

Row 14427: Address is missing (NaN)

Row 14428: Address is missing (NaN)

Row 14429: Address is missing (NaN)

Row 14430: Address is missing (NaN)

Row 14431: Address is missing (NaN)

Row 14432: Address is missing (NaN)

Row 14433: Address is missing (NaN)

Row 14434: Address is missing (NaN)

Row 14435: Address is missing (NaN)

Row 14436: Address is missing (NaN)

Row 14437: Address is missing (NaN)

Row 14438: Address is missing (NaN)

Row 14439: Address is missing (NaN)

Row 14440: Address is missing (NaN)

Row 14441: Address is missing (NaN)

Row 14442: Address is missing (NaN)

Row 14443: Address is missing (NaN)

Row 14444: Address is missing (NaN)

Row 14445: Address is missing (NaN)

Row 14446: Address is missing (NaN)

Row 14447: Address is missing (NaN)

Row 14448: Address is missing (NaN)

Row 14449: Address is missing (NaN)

Row 14450: Address is missing (NaN)

Row 14451: Address is missing (NaN)

Row 14452: Address is missing (NaN)

Row 14453: Address is missing (NaN)

Row 14454: Address is missing (NaN)

Row 14455: Address is missing (NaN)

Row 14456: Address is missing (NaN)

Row 14457: Address is missing (NaN)

Row 14458: Address is missing (NaN)

Row 14459: Address is missing (NaN)

Row 14460: Address is missing (NaN)

Row 14461: Address is missing (NaN)

Row 14462: Address is missing (NaN)

Row 14463: Address is missing (NaN)

Row 14464: Address is missing (NaN)

Row 14465: Address is missing (NaN)

Row 14466: Address is missing (NaN)

Row 14467: Address is missing (NaN)

Row 14468: Address is missing (NaN)

Row 14469: Address is missing (NaN)

Row 14470: Address is missing (NaN)

Row 14471: Address is missing (NaN)

Row 14472: Address is missing (NaN)

Row 14473: Address is missing (NaN)

Row 14474: Address is missing (NaN)

Row 14475: Address is missing (NaN)

Row 14476: Address is missing (NaN)

Row 14477: Address is missing (NaN)

Row 14478: Address is missing (NaN)

Row 14479: Address is missing (NaN)

Row 14480: Address is missing (NaN)

Row 14481: Address is missing (NaN)

Row 14482: Address is missing (NaN)

Row 14483: Address is missing (NaN)

Row 14484: Address is missing (NaN)

Row 14485: Address is missing (NaN)

Row 14486: Address is missing (NaN)

Row 14487: Address is missing (NaN)

Row 14488: Address is missing (NaN)

Row 14489: Address is missing (NaN)

Row 14490: Address is missing (NaN)

Row 14491: Address is missing (NaN)

Row 14492: Address is missing (NaN)

Row 14493: Address is missing (NaN)

Row 14494: Address is missing (NaN)

Row 14495: Address is missing (NaN)

Row 14496: Address is missing (NaN)

Row 14497: Address is missing (NaN)

Row 14498: Address is missing (NaN)

Row 14499: Address is missing (NaN)

Row 14500: Address is missing (NaN)

Row 14501: Address is missing (NaN)

Row 14502: Address is missing (NaN)

Row 14503: Address is missing (NaN)

Row 14504: Address is missing (NaN)

Row 14505: Address is missing (NaN)

Row 14506: Address is missing (NaN)

Row 14507: Address is missing (NaN)

Row 14508: Address is missing (NaN)

Row 14509: Address is missing (NaN)

Row 14510: Address is missing (NaN)

Row 14511: Address is missing (NaN)

Row 14512: Address is missing (NaN)

Row 14513: Address is missing (NaN)

Row 14514: Address is missing (NaN)

Row 14515: Address is missing (NaN)

Row 14516: Address is missing (NaN)

Row 14517: Address is missing (NaN)

Row 14518: Address is missing (NaN)

Row 14519: Address is missing (NaN)

Row 14520: Address is missing (NaN)

Row 14521: Address is missing (NaN)

Row 14522: Address is missing (NaN)

Row 14523: Address is missing (NaN)

Row 14524: Address is missing (NaN)

Row 14525: Address is missing (NaN)

Row 14526: Address is missing (NaN)

Row 14527: Address is missing (NaN)

Row 14528: Address is missing (NaN)

Row 14529: Address is missing (NaN)

Row 14530: Address is missing (NaN)

Row 14531: Address is missing (NaN)

Row 14532: Address is missing (NaN)

Row 14533: Address is missing (NaN)

Row 14534: Address is missing (NaN)

Row 14535: Address is missing (NaN)

Row 14536: Address is missing (NaN)

Row 14537: Address is missing (NaN)

Row 14538: Address is missing (NaN)

Row 14539: Address is missing (NaN)

Row 14540: Address is missing (NaN)

Row 14541: Address is missing (NaN)

Row 14542: Address is missing (NaN)

Row 14543: Address is missing (NaN)

Row 14544: Address is missing (NaN)

Row 14545: Address is missing (NaN)

Row 14546: Address is missing (NaN)

Row 14547: Address is missing (NaN)

Row 14548: Address is missing (NaN)

Row 14549: Address is missing (NaN)

Row 14550: Address is missing (NaN)

Row 14551: Address is missing (NaN)

Row 14552: Address is missing (NaN)

Row 14553: Address is missing (NaN)

Row 14554: Address is missing (NaN)

Row 14555: Address is missing (NaN)

Row 14556: Address is missing (NaN)

Row 14557: Address is missing (NaN)

Row 14558: Address is missing (NaN)

Row 14559: Address is missing (NaN)

Row 14560: Address is missing (NaN)

Row 14561: Address is missing (NaN)

Row 14562: Address is missing (NaN)

Row 14563: Address is missing (NaN)

Row 14564: Address is missing (NaN)

Row 14565: Address is missing (NaN)

Row 14566: Address is missing (NaN)

Row 14567: Address is missing (NaN)

Row 14568: Address is missing (NaN)

Row 14569: Address is missing (NaN)

Row 14570: Address is missing (NaN)

Row 14571: Address is missing (NaN)

Row 14572: Address is missing (NaN)

Row 14573: Address is missing (NaN)

Row 14574: Address is missing (NaN)

Row 14575: Address is missing (NaN)

Row 14576: Address is missing (NaN)

Row 14577: Address is missing (NaN)

Row 14578: Address is missing (NaN)

Row 14579: Address is missing (NaN)

Row 14580: Address is missing (NaN)

Row 14581: Address is missing (NaN)

Row 14582: Address is missing (NaN)

Row 14583: Address is missing (NaN)

Row 14584: Address is missing (NaN)

Row 14585: Address is missing (NaN)

Row 14586: Address is missing (NaN)

Row 14587: Address is missing (NaN)

Row 14588: Address is missing (NaN)

Row 14589: Address is missing (NaN)

Row 14590: Address is missing (NaN)

Row 14591: Address is missing (NaN)

Row 14592: Address is missing (NaN)

Row 14593: Address is missing (NaN)

Row 14594: Address is missing (NaN)

Row 14595: Address is missing (NaN)

Row 14596: Address is missing (NaN)

Row 14597: Address is missing (NaN)

Row 14598: Address is missing (NaN)

Row 14599: Address is missing (NaN)

Row 14600: Address is missing (NaN)

Row 14601: Address is missing (NaN)

Row 14602: Address is missing (NaN)

Row 14603: Address is missing (NaN)

Row 14604: Address is missing (NaN)

Row 14605: Address is missing (NaN)

Row 14606: Address is missing (NaN)

Row 14607: Address is missing (NaN)

Row 14608: Address is missing (NaN)

Row 14609: Address is missing (NaN)

Row 14610: Address is missing (NaN)

Row 14611: Address is missing (NaN)

Row 14612: Address is missing (NaN)

Row 14613: Address is missing (NaN)

Row 14614: Address is missing (NaN)

Row 14615: Address is missing (NaN)

Row 14616: Address is missing (NaN)

Row 14617: Address is missing (NaN)

Row 14618: Address is missing (NaN)

Row 14619: Address is missing (NaN)

Row 14620: Address is missing (NaN)

Row 14621: Address is missing (NaN)

Row 14622: Address is missing (NaN)

Row 14623: Address is missing (NaN)

Row 14624: Address is missing (NaN)

Row 14625: Address is missing (NaN)

Row 14626: Address is missing (NaN)

Row 14627: Address is missing (NaN)

Row 14628: Address is missing (NaN)

Row 14629: Address is missing (NaN)

Row 14630: Address is missing (NaN)

Row 14631: Address is missing (NaN)

Row 14632: Address is missing (NaN)

Row 14633: Address is missing (NaN)

Row 14634: Address is missing (NaN)

Row 14635: Address is missing (NaN)

Row 14636: Address is missing (NaN)

Row 14637: Address is missing (NaN)

Row 14638: Address is missing (NaN)

Row 14639: Address is missing (NaN)

Row 14640: Address is missing (NaN)

Row 14641: Address is missing (NaN)

Row 14642: Address is missing (NaN)

Row 14643: Address is missing (NaN)

Row 14644: Address is missing (NaN)

Row 14645: Address is missing (NaN)

Row 14646: Address is missing (NaN)

Row 14647: Address is missing (NaN)

Row 14648: Address is missing (NaN)

Row 14649: Address is missing (NaN)

Row 14650: Address is missing (NaN)

Row 14651: Address is missing (NaN)

Row 14652: Address is missing (NaN)

Row 14653: Address is missing (NaN)

Row 14654: Address is missing (NaN)

Row 14655: Address is missing (NaN)

Row 14656: Address is missing (NaN)

Row 14657: Address is missing (NaN)

Row 14658: Address is missing (NaN)

Row 14659: Address is missing (NaN)

Row 14660: Address is missing (NaN)

Row 14661: Address is missing (NaN)

Row 14662: Address is missing (NaN)

Row 14663: Address is missing (NaN)

Row 14664: Address is missing (NaN)

Row 14665: Address is missing (NaN)

Row 14666: Address is missing (NaN)

Row 14667: Address is missing (NaN)

Row 14668: Address is missing (NaN)

Row 14669: Address is missing (NaN)

Row 14670: Address is missing (NaN)

Row 14671: Address is missing (NaN)

Row 14672: Address is missing (NaN)

Row 14673: Address is missing (NaN)

Row 14674: Address is missing (NaN)

Row 14675: Address is missing (NaN)

Row 14676: Address is missing (NaN)

Row 14677: Address is missing (NaN)

Row 14678: Address is missing (NaN)

Row 14679: Address is missing (NaN)

Row 14680: Address is missing (NaN)

Row 14681: Address is missing (NaN)

Row 14682: Address is missing (NaN)

Row 14683: Address is missing (NaN)

Row 14684: Address is missing (NaN)

Row 14685: Address is missing (NaN)

Row 14686: Address is missing (NaN)

Row 14687: Address is missing (NaN)

Row 14688: Address is missing (NaN)

Row 14689: Address is missing (NaN)

Row 14690: Address is missing (NaN)

Row 14691: Address is missing (NaN)

Row 14692: Address is missing (NaN)

Row 14693: Address is missing (NaN)

Row 14694: Address is missing (NaN)

Row 14695: Address is missing (NaN)

Row 14696: Address is missing (NaN)

Row 14697: Address is missing (NaN)

Row 14698: Address is missing (NaN)

Row 14699: Address is missing (NaN)

Row 14700: Address is missing (NaN)

Row 14701: Address is missing (NaN)

Row 14702: Address is missing (NaN)

Row 14703: Address is missing (NaN)

Row 14704: Address is missing (NaN)

Row 14705: Address is missing (NaN)

Row 14706: Address is missing (NaN)

Row 14707: Address is missing (NaN)

Row 14708: Address is missing (NaN)

Row 14709: Address is missing (NaN)

Row 14710: Address is missing (NaN)

Row 14711: Address is missing (NaN)

Row 14712: Address is missing (NaN)

Row 14713: Address is missing (NaN)

Row 14714: Address is missing (NaN)

Row 14715: Address is missing (NaN)

Row 14716: Address is missing (NaN)

Row 14717: Address is missing (NaN)

Row 14718: Address is missing (NaN)

Row 14719: Address is missing (NaN)

Row 14720: Address is missing (NaN)

Row 14721: Address is missing (NaN)

Row 14722: Address is missing (NaN)

Row 14723: Address is missing (NaN)

Row 14724: Address is missing (NaN)

Row 14725: Address is missing (NaN)

Row 14726: Address is missing (NaN)

Row 14727: Address is missing (NaN)

Row 14728: Address is missing (NaN)

Row 14729: Address is missing (NaN)

Row 14730: Address is missing (NaN)

Row 14731: Address is missing (NaN)

Row 14732: Address is missing (NaN)

Row 14733: Address is missing (NaN)

Row 14734: Address is missing (NaN)

Row 14735: Address is missing (NaN)

Row 14736: Address is missing (NaN)

Row 14737: Address is missing (NaN)

Row 14738: Address is missing (NaN)

Row 14739: Address is missing (NaN)

Row 14740: Address is missing (NaN)

Row 14741: Address is missing (NaN)

Row 14742: Address is missing (NaN)

Row 14743: Address is missing (NaN)

Row 14744: Address is missing (NaN)

Row 14745: Address is missing (NaN)

Row 14746: Address is missing (NaN)

Row 14747: Address is missing (NaN)

Row 14748: Address is missing (NaN)

Row 14749: Address is missing (NaN)

Row 14750: Address is missing (NaN)

Row 14751: Address is missing (NaN)

Row 14752: Address is missing (NaN)

Row 14753: Address is missing (NaN)

Row 14754: Address is missing (NaN)

Row 14755: Address is missing (NaN)

Row 14756: Address is missing (NaN)

Row 14757: Address is missing (NaN)

Row 14758: Address is missing (NaN)

Row 14759: Address is missing (NaN)

Row 14760: Address is missing (NaN)

Row 14761: Address is missing (NaN)

Row 14762: Address is missing (NaN)

Row 14763: Address is missing (NaN)

Row 14764: Address is missing (NaN)

Row 14765: Address is missing (NaN)

Row 14766: Address is missing (NaN)

Row 14767: Address is missing (NaN)

Row 14768: Address is missing (NaN)

Row 14769: Address is missing (NaN)

Row 14770: Address is missing (NaN)

Row 14771: Address is missing (NaN)

Row 14772: Address is missing (NaN)

Row 14773: Address is missing (NaN)

Row 14774: Address is missing (NaN)

Row 14775: Address is missing (NaN)

Row 14776: Address is missing (NaN)

Row 14777: Address is missing (NaN)

Row 14778: Address is missing (NaN)

Row 14779: Address is missing (NaN)

Row 14780: Address is missing (NaN)

Row 14781: Address is missing (NaN)

Row 14782: Address is missing (NaN)

Row 14783: Address is missing (NaN)

Row 14784: Address is missing (NaN)

Row 14785: Address is missing (NaN)

Row 14786: Address is missing (NaN)

Row 14787: Address is missing (NaN)

Row 14788: Address is missing (NaN)

Row 14789: Address is missing (NaN)

Row 14790: Address is missing (NaN)

Row 14791: Address is missing (NaN)

Row 14792: Address is missing (NaN)

Row 14793: Address is missing (NaN)

Row 14794: Address is missing (NaN)

Row 14795: Address is missing (NaN)

Row 14796: Address is missing (NaN)

Row 14797: Address is missing (NaN)

Row 14798: Address is missing (NaN)

Row 14799: Address is missing (NaN)

Row 14800: Address is missing (NaN)

Row 14801: Address is missing (NaN)

Row 14802: Address is missing (NaN)

Row 14803: Address is missing (NaN)

Row 14804: Address is missing (NaN)

Row 14805: Address is missing (NaN)

Row 14806: Address is missing (NaN)

Row 14807: Address is missing (NaN)

Row 14808: Address is missing (NaN)

Row 14809: Address is missing (NaN)

Row 14810: Address is missing (NaN)

Row 14811: Address is missing (NaN)

Row 14812: Address is missing (NaN)

Row 14813: Address is missing (NaN)

Row 14814: Address is missing (NaN)

Row 14815: Address is missing (NaN)

Row 14816: Address is missing (NaN)

Row 14817: Address is missing (NaN)

Row 14818: Address is missing (NaN)

Row 14819: Address is missing (NaN)

Row 14820: Address is missing (NaN)

Row 14821: Address is missing (NaN)

Row 14822: Address is missing (NaN)

Row 14823: Address is missing (NaN)

Row 14824: Address is missing (NaN)

Row 14825: Address is missing (NaN)

Row 14826: Address is missing (NaN)

Row 14827: Address is missing (NaN)

Row 14828: Address is missing (NaN)

Row 14829: Address is missing (NaN)

Row 14830: Address is missing (NaN)

Row 14831: Address is missing (NaN)

Row 14832: Address is missing (NaN)

Row 14833: Address is missing (NaN)

Row 14834: Address is missing (NaN)

Row 14835: Address is missing (NaN)

Row 14836: Address is missing (NaN)

Row 14837: Address is missing (NaN)

Row 14838: Address is missing (NaN)

Row 14839: Address is missing (NaN)

Row 14840: Address is missing (NaN)

Row 14841: Address is missing (NaN)

Row 14842: Address is missing (NaN)

Row 14843: Address is missing (NaN)

Row 14844: Address is missing (NaN)

Row 14845: Address is missing (NaN)

Row 14846: Address is missing (NaN)

Row 14847: Address is missing (NaN)

Row 14848: Address is missing (NaN)

Row 14849: Address is missing (NaN)

Row 14850: Address is missing (NaN)

Row 14851: Address is missing (NaN)

Row 14852: Address is missing (NaN)

Row 14853: Address is missing (NaN)

Row 14854: Address is missing (NaN)

Row 14855: Address is missing (NaN)

Row 14856: Address is missing (NaN)

Row 14857: Address is missing (NaN)

Row 14858: Address is missing (NaN)

Row 14859: Address is missing (NaN)

Row 14860: Address is missing (NaN)

Row 14861: Address is missing (NaN)

Row 14862: Address is missing (NaN)

Row 14863: Address is missing (NaN)

Row 14864: Address is missing (NaN)

Row 14865: Address is missing (NaN)

Row 14866: Address is missing (NaN)

Row 14867: Address is missing (NaN)

Row 14868: Address is missing (NaN)

Row 14869: Address is missing (NaN)

Row 14870: Address is missing (NaN)

Row 14871: Address is missing (NaN)

Row 14872: Address is missing (NaN)

Row 14873: Address is missing (NaN)

Row 14874: Address is missing (NaN)

Row 14875: Address is missing (NaN)

Row 14876: Address is missing (NaN)

Row 14877: Address is missing (NaN)

Row 14878: Address is missing (NaN)

Row 14879: Address is missing (NaN)

Row 14880: Address is missing (NaN)

Row 14881: Address is missing (NaN)

Row 14882: Address is missing (NaN)

Row 14883: Address is missing (NaN)

Row 14884: Address is missing (NaN)

Row 14885: Address is missing (NaN)

Row 14886: Address is missing (NaN)

Row 14887: Address is missing (NaN)

Row 14888: Address is missing (NaN)

Row 14889: Address is missing (NaN)

Row 14890: Address is missing (NaN)

Row 14891: Address is missing (NaN)

Row 14892: Address is missing (NaN)

Row 14893: Address is missing (NaN)

Row 14894: Address is missing (NaN)

Row 14895: Address is missing (NaN)

Row 14896: Address is missing (NaN)

Row 14897: Address is missing (NaN)

Row 14898: Address is missing (NaN)

Row 14899: Address is missing (NaN)

Row 14900: Address is missing (NaN)

Row 14901: Address is missing (NaN)

Row 14902: Address is missing (NaN)

Row 14903: Address is missing (NaN)

Row 14904: Address is missing (NaN)

Row 14905: Address is missing (NaN)

Row 14906: Address is missing (NaN)

Row 14907: Address is missing (NaN)

Row 14908: Address is missing (NaN)

Row 14909: Address is missing (NaN)

Row 14910: Address is missing (NaN)

Row 14911: Address is missing (NaN)

Row 14912: Address is missing (NaN)

Row 14913: Address is missing (NaN)

Row 14914: Address is missing (NaN)

Row 14915: Address is missing (NaN)

Row 14916: Address is missing (NaN)

Row 14917: Address is missing (NaN)

Row 14918: Address is missing (NaN)

Row 14919: Address is missing (NaN)

Row 14920: Address is missing (NaN)

Row 14921: Address is missing (NaN)

Row 14922: Address is missing (NaN)

Row 14923: Address is missing (NaN)

Row 14924: Address is missing (NaN)

Row 14925: Address is missing (NaN)

Row 14926: Address is missing (NaN)

Row 14927: Address is missing (NaN)

Row 14928: Address is missing (NaN)

Row 14929: Address is missing (NaN)

Row 14930: Address is missing (NaN)

Row 14931: Address is missing (NaN)

Row 14932: Address is missing (NaN)

Row 14933: Address is missing (NaN)

Row 14934: Address is missing (NaN)

Row 14935: Address is missing (NaN)

Row 14936: Address is missing (NaN)

Row 14937: Address is missing (NaN)

Row 14938: Address is missing (NaN)

Row 14939: Address is missing (NaN)

Row 14940: Address is missing (NaN)

Row 14941: Address is missing (NaN)

Row 14942: Address is missing (NaN)

Row 14943: Address is missing (NaN)

Row 14944: Address is missing (NaN)

Row 14945: Address is missing (NaN)

Row 14946: Address is missing (NaN)

Row 14947: Address is missing (NaN)

Row 14948: Address is missing (NaN)

Row 14949: Address is missing (NaN)

Row 14950: Address is missing (NaN)

Row 14951: Address is missing (NaN)

Row 14952: Address is missing (NaN)

Row 14953: Address is missing (NaN)

Row 14954: Address is missing (NaN)

Row 14955: Address is missing (NaN)

Row 14956: Address is missing (NaN)

Row 14957: Address is missing (NaN)

Row 14958: Address is missing (NaN)

Row 14959: Address is missing (NaN)

Row 14960: Address is missing (NaN)

Row 14961: Address is missing (NaN)

Row 14962: Address is missing (NaN)

Row 14963: Address is missing (NaN)

Row 14964: Address is missing (NaN)

Row 14965: Address is missing (NaN)

Row 14966: Address is missing (NaN)

Row 14967: Address is missing (NaN)

Row 14968: Address is missing (NaN)

Row 14969: Address is missing (NaN)

Row 14970: Address is missing (NaN)

Row 14971: Address is missing (NaN)

Row 14972: Address is missing (NaN)

Row 14973: Address is missing (NaN)

Row 14974: Address is missing (NaN)

Row 14975: Address is missing (NaN)

Row 14976: Address is missing (NaN)

Row 14977: Address is missing (NaN)

Row 14978: Address is missing (NaN)

Row 14979: Address is missing (NaN)

Row 14980: Address is missing (NaN)

Row 14981: Address is missing (NaN)

Row 14982: Address is missing (NaN)

Row 14983: Address is missing (NaN)

Row 14984: Address is missing (NaN)

Row 14985: Address is missing (NaN)

Row 14986: Address is missing (NaN)

Row 14987: Address is missing (NaN)

Row 14988: Address is missing (NaN)

Row 14989: Address is missing (NaN)

Row 14990: Address is missing (NaN)

Row 14991: Address is missing (NaN)

Row 14992: Address is missing (NaN)

Row 14993: Address is missing (NaN)

Row 14994: Address is missing (NaN)

Row 14995: Address is missing (NaN)

Row 14996: Address is missing (NaN)

Row 14997: Address is missing (NaN)

Row 14998: Address is missing (NaN)

Row 14999: Address is missing (NaN)

Row 15000: Address is missing (NaN)

Row 15001: Address is missing (NaN)

Row 15002: Address is missing (NaN)

Row 15003: Address is missing (NaN)

Row 15004: Address is missing (NaN)

Row 15005: Address is missing (NaN)

Row 15006: Address is missing (NaN)

Row 15007: Address is missing (NaN)

Row 15008: Address is missing (NaN)

Row 15009: Address is missing (NaN)

Row 15010: Address is missing (NaN)

Row 15011: Address is missing (NaN)

Row 15012: Address is missing (NaN)

Row 15013: Address is missing (NaN)

Row 15014: Address is missing (NaN)

Row 15015: Address is missing (NaN)

Row 15016: Address is missing (NaN)

Row 15017: Address is missing (NaN)

Row 15018: Address is missing (NaN)

Row 15019: Address is missing (NaN)

Row 15020: Address is missing (NaN)

Row 15021: Address is missing (NaN)

Row 15022: Address is missing (NaN)

Row 15023: Address is missing (NaN)

Row 15024: Address is missing (NaN)

Row 15025: Address is missing (NaN)

Row 15026: Address is missing (NaN)

Row 15027: Address is missing (NaN)

Row 15028: Address is missing (NaN)

Row 15029: Address is missing (NaN)

Row 15030: Address is missing (NaN)

Row 15031: Address is missing (NaN)

Row 15032: Address is missing (NaN)

Row 15033: Address is missing (NaN)

Row 15034: Address is missing (NaN)

Row 15035: Address is missing (NaN)

Row 15036: Address is missing (NaN)

Row 15037: Address is missing (NaN)

Row 15038: Address is missing (NaN)

Row 15039: Address is missing (NaN)

Row 15040: Address is missing (NaN)

Row 15041: Address is missing (NaN)

Row 15042: Address is missing (NaN)

Row 15043: Address is missing (NaN)

Row 15044: Address is missing (NaN)

Row 15045: Address is missing (NaN)

Row 15046: Address is missing (NaN)

Row 15047: Address is missing (NaN)

Row 15048: Address is missing (NaN)

Row 15049: Address is missing (NaN)

Row 15050: Address is missing (NaN)

Row 15051: Address is missing (NaN)

Row 15052: Address is missing (NaN)

Row 15053: Address is missing (NaN)

Row 15054: Address is missing (NaN)

Row 15055: Address is missing (NaN)

Row 15056: Address is missing (NaN)

Row 15057: Address is missing (NaN)

Row 15058: Address is missing (NaN)

Row 15059: Address is missing (NaN)

Row 15060: Address is missing (NaN)

Row 15061: Address is missing (NaN)

Row 15062: Address is missing (NaN)

Row 15063: Address is missing (NaN)

Row 15064: Address is missing (NaN)

Row 15065: Address is missing (NaN)

Row 15066: Address is missing (NaN)

Row 15067: Address is missing (NaN)

Row 15068: Address is missing (NaN)

Row 15069: Address is missing (NaN)

Row 15070: Address is missing (NaN)

Row 15071: Address is missing (NaN)

Row 15072: Address is missing (NaN)

Row 15073: Address is missing (NaN)

Row 15074: Address is missing (NaN)

Row 15075: Address is missing (NaN)

Row 15076: Address is missing (NaN)

Row 15077: Address is missing (NaN)

Row 15078: Address is missing (NaN)

Row 15079: Address is missing (NaN)

Row 15080: Address is missing (NaN)

Row 15081: Address is missing (NaN)

Row 15082: Address is missing (NaN)

Row 15083: Address is missing (NaN)

Row 15084: Address is missing (NaN)

Row 15085: Address is missing (NaN)

Row 15086: Address is missing (NaN)

Row 15087: Address is missing (NaN)

Row 15088: Address is missing (NaN)

Row 15089: Address is missing (NaN)

Row 15090: Address is missing (NaN)

Row 15091: Address is missing (NaN)

Row 15092: Address is missing (NaN)

Row 15093: Address is missing (NaN)

Row 15094: Address is missing (NaN)

Row 15095: Address is missing (NaN)

Row 15096: Address is missing (NaN)

Row 15097: Address is missing (NaN)

Row 15098: Address is missing (NaN)

Row 15099: Address is missing (NaN)

Row 15100: Address is missing (NaN)

Row 15101: Address is missing (NaN)

Row 15102: Address is missing (NaN)

Row 15103: Address is missing (NaN)

Row 15104: Address is missing (NaN)

Row 15105: Address is missing (NaN)

Row 15106: Address is missing (NaN)

Row 15107: Address is missing (NaN)

Row 15108: Address is missing (NaN)

Row 15109: Address is missing (NaN)

Row 15110: Address is missing (NaN)

Row 15111: Address is missing (NaN)

Row 15112: Address is missing (NaN)

Row 15113: Address is missing (NaN)

Row 15114: Address is missing (NaN)

Row 15115: Address is missing (NaN)

Row 15116: Address is missing (NaN)

Row 15117: Address is missing (NaN)

Row 15118: Address is missing (NaN)

Row 15119: Address is missing (NaN)

Row 15120: Address is missing (NaN)

Row 15121: Address is missing (NaN)

Row 15122: Address is missing (NaN)

Row 15123: Address is missing (NaN)

Row 15124: Address is missing (NaN)

Row 15125: Address is missing (NaN)

Row 15126: Address is missing (NaN)

Row 15127: Address is missing (NaN)

Row 15128: Address is missing (NaN)

Row 15129: Address is missing (NaN)

Row 15130: Address is missing (NaN)

Row 15131: Address is missing (NaN)

Row 15132: Address is missing (NaN)

Row 15133: Address is missing (NaN)

Row 15134: Address is missing (NaN)

Row 15135: Address is missing (NaN)

Row 15136: Address is missing (NaN)

Row 15137: Address is missing (NaN)

Row 15138: Address is missing (NaN)

Row 15139: Address is missing (NaN)

Row 15140: Address is missing (NaN)

Row 15141: Address is missing (NaN)

Row 15142: Address is missing (NaN)

Row 15143: Address is missing (NaN)

Row 15144: Address is missing (NaN)

Row 15145: Address is missing (NaN)

Row 15146: Address is missing (NaN)

Row 15147: Address is missing (NaN)

Row 15148: Address is missing (NaN)

Row 15149: Address is missing (NaN)

Row 15150: Address is missing (NaN)

Row 15151: Address is missing (NaN)

Row 15152: Address is missing (NaN)

Row 15153: Address is missing (NaN)

Row 15154: Address is missing (NaN)

Row 15155: Address is missing (NaN)

Row 15156: Address is missing (NaN)

Row 15157: Address is missing (NaN)

Row 15158: Address is missing (NaN)

Row 15159: Address is missing (NaN)

Row 15160: Address is missing (NaN)

Row 15161: Address is missing (NaN)

Row 15162: Address is missing (NaN)

Row 15163: Address is missing (NaN)

Row 15164: Address is missing (NaN)

Row 15165: Address is missing (NaN)

Row 15166: Address is missing (NaN)

Row 15167: Address is missing (NaN)

Row 15168: Address is missing (NaN)

Row 15169: Address is missing (NaN)

Row 15170: Address is missing (NaN)

Row 15171: Address is missing (NaN)

Row 15172: Address is missing (NaN)

Row 15173: Address is missing (NaN)

Row 15174: Address is missing (NaN)

Row 15175: Address is missing (NaN)

Row 15176: Address is missing (NaN)

Row 15177: Address is missing (NaN)

Row 15178: Address is missing (NaN)

Row 15179: Address is missing (NaN)

Row 15180: Address is missing (NaN)

Row 15181: Address is missing (NaN)

Row 15182: Address is missing (NaN)

Row 15183: Address is missing (NaN)

Row 15184: Address is missing (NaN)

Row 15185: Address is missing (NaN)

Row 15186: Address is missing (NaN)

Row 15187: Address is missing (NaN)

Row 15188: Address is missing (NaN)

Row 15189: Address is missing (NaN)

Row 15190: Address is missing (NaN)

Row 15191: Address is missing (NaN)

Row 15192: Address is missing (NaN)

Row 15193: Address is missing (NaN)

Row 15194: Address is missing (NaN)

Row 15195: Address is missing (NaN)

Row 15196: Address is missing (NaN)

Row 15197: Address is missing (NaN)

Row 15198: Address is missing (NaN)

Row 15199: Address is missing (NaN)

Row 15200: Address is missing (NaN)

Row 15201: Address is missing (NaN)

Row 15202: Address is missing (NaN)

Row 15203: Address is missing (NaN)

Row 15204: Address is missing (NaN)

Row 15205: Address is missing (NaN)

Row 15206: Address is missing (NaN)

Row 15207: Address is missing (NaN)

Row 15208: Address is missing (NaN)

Row 15209: Address is missing (NaN)

Row 15210: Address is missing (NaN)

Row 15211: Address is missing (NaN)

Row 15212: Address is missing (NaN)

Row 15213: Address is missing (NaN)

Row 15214: Address is missing (NaN)

Row 15215: Address is missing (NaN)

Row 15216: Address is missing (NaN)

Row 15217: Address is missing (NaN)

Row 15218: Address is missing (NaN)

Row 15219: Address is missing (NaN)

Row 15220: Address is missing (NaN)

Row 15221: Address is missing (NaN)

Row 15222: Address is missing (NaN)

Row 15223: Address is missing (NaN)

Row 15224: Address is missing (NaN)

Row 15225: Address is missing (NaN)

Row 15226: Address is missing (NaN)

Row 15227: Address is missing (NaN)

Row 15228: Address is missing (NaN)

Row 15229: Address is missing (NaN)

Row 15230: Address is missing (NaN)

Row 15231: Address is missing (NaN)

Row 15232: Address is missing (NaN)

Row 15233: Address is missing (NaN)

Row 15234: Address is missing (NaN)

Row 15235: Address is missing (NaN)

Row 15236: Address is missing (NaN)

Row 15237: Address is missing (NaN)

Row 15238: Address is missing (NaN)

Row 15239: Address is missing (NaN)

Row 15240: Address is missing (NaN)

Row 15241: Address is missing (NaN)

Row 15242: Address is missing (NaN)

Row 15243: Address is missing (NaN)

Row 15244: Address is missing (NaN)

Row 15245: Address is missing (NaN)

Row 15246: Address is missing (NaN)

Row 15247: Address is missing (NaN)

Row 15248: Address is missing (NaN)

Row 15249: Address is missing (NaN)

Row 15250: Address is missing (NaN)

Row 15251: Address is missing (NaN)

Row 15252: Address is missing (NaN)

Row 15253: Address is missing (NaN)

Row 15254: Address is missing (NaN)

Row 15255: Address is missing (NaN)

Row 15256: Address is missing (NaN)

Row 15257: Address is missing (NaN)

Row 15258: Address is missing (NaN)

Row 15259: Address is missing (NaN)

Row 15260: Address is missing (NaN)

Row 15261: Address is missing (NaN)

Row 15262: Address is missing (NaN)

Row 15263: Address is missing (NaN)

Row 15264: Address is missing (NaN)

Row 15265: Address is missing (NaN)

Row 15266: Address is missing (NaN)

Row 15267: Address is missing (NaN)

Row 15268: Address is missing (NaN)

Row 15269: Address is missing (NaN)

Row 15270: Address is missing (NaN)

Row 15271: Address is missing (NaN)

Row 15272: Address is missing (NaN)

Row 15273: Address is missing (NaN)

Row 15274: Address is missing (NaN)

Row 15275: Address is missing (NaN)

Row 15276: Address is missing (NaN)

Row 15277: Address is missing (NaN)

Row 15278: Address is missing (NaN)

Row 15279: Address is missing (NaN)

Row 15280: Address is missing (NaN)

Row 15281: Address is missing (NaN)

Row 15282: Address is missing (NaN)

Row 15283: Address is missing (NaN)

Row 15284: Address is missing (NaN)

Row 15285: Address is missing (NaN)

Row 15286: Address is missing (NaN)

Row 15287: Address is missing (NaN)

Row 15288: Address is missing (NaN)

Row 15289: Address is missing (NaN)

Row 15290: Address is missing (NaN)

Row 15291: Address is missing (NaN)

Row 15292: Address is missing (NaN)

Row 15293: Address is missing (NaN)

Row 15294: Address is missing (NaN)

Row 15295: Address is missing (NaN)

Row 15296: Address is missing (NaN)

Row 15297: Address is missing (NaN)

Row 15298: Address is missing (NaN)

Row 15299: Address is missing (NaN)

Row 15300: Address is missing (NaN)

Row 15301: Address is missing (NaN)

Row 15302: Address is missing (NaN)

Row 15303: Address is missing (NaN)

Row 15304: Address is missing (NaN)

Row 15305: Address is missing (NaN)

Row 15306: Address is missing (NaN)

Row 15307: Address is missing (NaN)

Row 15308: Address is missing (NaN)

Row 15309: Address is missing (NaN)

Row 15310: Address is missing (NaN)

Row 15311: Address is missing (NaN)

Row 15312: Address is missing (NaN)

Row 15313: Address is missing (NaN)

Row 15314: Address is missing (NaN)

Row 15315: Address is missing (NaN)

Row 15316: Address is missing (NaN)

Row 15317: Address is missing (NaN)

Row 15318: Address is missing (NaN)

Row 15319: Address is missing (NaN)

Row 15320: Address is missing (NaN)

Row 15321: Address is missing (NaN)

Row 15322: Address is missing (NaN)

Row 15323: Address is missing (NaN)

Row 15324: Address is missing (NaN)

Row 15325: Address is missing (NaN)

Row 15326: Address is missing (NaN)

Row 15327: Address is missing (NaN)

Row 15328: Address is missing (NaN)

Row 15329: Address is missing (NaN)

Row 15330: Address is missing (NaN)

Row 15331: Address is missing (NaN)

Row 15332: Address is missing (NaN)

Row 15333: Address is missing (NaN)

Row 15334: Address is missing (NaN)

Row 15335: Address is missing (NaN)

Row 15336: Address is missing (NaN)

Row 15337: Address is missing (NaN)

Row 15338: Address is missing (NaN)

Row 15339: Address is missing (NaN)

Row 15340: Address is missing (NaN)

Row 15341: Address is missing (NaN)

Row 15342: Address is missing (NaN)

Row 15343: Address is missing (NaN)

Row 15344: Address is missing (NaN)

Row 15345: Address is missing (NaN)

Row 15346: Address is missing (NaN)

Row 15347: Address is missing (NaN)

Row 15348: Address is missing (NaN)

Row 15349: Address is missing (NaN)

Row 15350: Address is missing (NaN)

Row 15351: Address is missing (NaN)

Row 15352: Address is missing (NaN)

Row 15353: Address is missing (NaN)

Row 15354: Address is missing (NaN)

Row 15355: Address is missing (NaN)

Row 15356: Address is missing (NaN)

Row 15357: Address is missing (NaN)

Row 15358: Address is missing (NaN)

Row 15359: Address is missing (NaN)

Row 15360: Address is missing (NaN)

Row 15361: Address is missing (NaN)

Row 15362: Address is missing (NaN)

Row 15363: Address is missing (NaN)

Row 15364: Address is missing (NaN)

Row 15365: Address is missing (NaN)

Row 15366: Address is missing (NaN)

Row 15367: Address is missing (NaN)

Row 15368: Address is missing (NaN)

Row 15369: Address is missing (NaN)

Row 15370: Address is missing (NaN)

Row 15371: Address is missing (NaN)

Row 15372: Address is missing (NaN)

Row 15373: Address is missing (NaN)

Row 15374: Address is missing (NaN)

Row 15375: Address is missing (NaN)

Row 15376: Address is missing (NaN)

Row 15377: Address is missing (NaN)

Row 15378: Address is missing (NaN)

Row 15379: Address is missing (NaN)

Row 15380: Address is missing (NaN)

Row 15381: Address is missing (NaN)

Row 15382: Address is missing (NaN)

Row 15383: Address is missing (NaN)

Row 15384: Address is missing (NaN)

Row 15385: Address is missing (NaN)

Row 15386: Address is missing (NaN)

Row 15387: Address is missing (NaN)

Row 15388: Address is missing (NaN)

Row 15389: Address is missing (NaN)

Row 15390: Address is missing (NaN)

Row 15391: Address is missing (NaN)

Row 15392: Address is missing (NaN)

Row 15393: Address is missing (NaN)

Row 15394: Address is missing (NaN)

Row 15395: Address is missing (NaN)

Row 15396: Address is missing (NaN)

Row 15397: Address is missing (NaN)

Row 15398: Address is missing (NaN)

Row 15399: Address is missing (NaN)

Row 15400: Address is missing (NaN)

Row 15401: Address is missing (NaN)

Row 15402: Address is missing (NaN)

Row 15403: Address is missing (NaN)

Row 15404: Address is missing (NaN)

Row 15405: Address is missing (NaN)

Row 15406: Address is missing (NaN)

Row 15407: Address is missing (NaN)

Row 15408: Address is missing (NaN)

Row 15409: Address is missing (NaN)

Row 15410: Address is missing (NaN)

Row 15411: Address is missing (NaN)

Row 15412: Address is missing (NaN)

Row 15413: Address is missing (NaN)

Row 15414: Address is missing (NaN)

Row 15415: Address is missing (NaN)

Row 15416: Address is missing (NaN)

Row 15417: Address is missing (NaN)

Row 15418: Address is missing (NaN)

Row 15419: Address is missing (NaN)

Row 15420: Address is missing (NaN)

Row 15421: Address is missing (NaN)

Row 15422: Address is missing (NaN)

Row 15423: Address is missing (NaN)

Row 15424: Address is missing (NaN)

Row 15425: Address is missing (NaN)

Row 15426: Address is missing (NaN)

Row 15427: Address is missing (NaN)

Row 15428: Address is missing (NaN)

Row 15429: Address is missing (NaN)

Row 15430: Address is missing (NaN)

Row 15431: Address is missing (NaN)

Row 15432: Address is missing (NaN)

Row 15433: Address is missing (NaN)

Row 15434: Address is missing (NaN)

Row 15435: Address is missing (NaN)

Row 15436: Address is missing (NaN)

Row 15437: Address is missing (NaN)

Row 15438: Address is missing (NaN)

Row 15439: Address is missing (NaN)

Row 15440: Address is missing (NaN)

Row 15441: Address is missing (NaN)

Row 15442: Address is missing (NaN)

Row 15443: Address is missing (NaN)

Row 15444: Address is missing (NaN)

Row 15445: Address is missing (NaN)

Row 15446: Address is missing (NaN)

Row 15447: Address is missing (NaN)

Row 15448: Address is missing (NaN)

Row 15449: Address is missing (NaN)

Row 15450: Address is missing (NaN)

Row 15451: Address is missing (NaN)

Row 15452: Address is missing (NaN)

Row 15453: Address is missing (NaN)

Row 15454: Address is missing (NaN)

Row 15455: Address is missing (NaN)

Row 15456: Address is missing (NaN)

Row 15457: Address is missing (NaN)

Row 15458: Address is missing (NaN)

Row 15459: Address is missing (NaN)

Row 15460: Address is missing (NaN)

Row 15461: Address is missing (NaN)

Row 15462: Address is missing (NaN)

Row 15463: Address is missing (NaN)

Row 15464: Address is missing (NaN)

Row 15465: Address is missing (NaN)

Row 15466: Address is missing (NaN)

Row 15467: Address is missing (NaN)

Row 15468: Address is missing (NaN)

Row 15469: Address is missing (NaN)

Row 15470: Address is missing (NaN)

Row 15471: Address is missing (NaN)

Row 15472: Address is missing (NaN)

Row 15473: Address is missing (NaN)

Row 15474: Address is missing (NaN)

Row 15475: Address is missing (NaN)

Row 15476: Address is missing (NaN)

Row 15477: Address is missing (NaN)

Row 15478: Address is missing (NaN)

Row 15479: Address is missing (NaN)

Row 15480: Address is missing (NaN)

Row 15481: Address is missing (NaN)

Row 15482: Address is missing (NaN)

Row 15483: Address is missing (NaN)

Row 15484: Address is missing (NaN)

Row 15485: Address is missing (NaN)

Row 15486: Address is missing (NaN)

Row 15487: Address is missing (NaN)

Row 15488: Address is missing (NaN)

Row 15489: Address is missing (NaN)

Row 15490: Address is missing (NaN)

Row 15491: Address is missing (NaN)

Row 15492: Address is missing (NaN)

Row 15493: Address is missing (NaN)

Row 15494: Address is missing (NaN)

Row 15495: Address is missing (NaN)

Row 15496: Address is missing (NaN)

Row 15497: Address is missing (NaN)

Row 15498: Address is missing (NaN)

Row 15499: Address is missing (NaN)

Row 15500: Address is missing (NaN)

Row 15501: Address is missing (NaN)

Row 15502: Address is missing (NaN)

Row 15503: Address is missing (NaN)

Row 15504: Address is missing (NaN)

Row 15505: Address is missing (NaN)

Row 15506: Address is missing (NaN)

Row 15507: Address is missing (NaN)

Row 15508: Address is missing (NaN)

Row 15509: Address is missing (NaN)

Row 15510: Address is missing (NaN)

Row 15511: Address is missing (NaN)

Row 15512: Address is missing (NaN)

Row 15513: Address is missing (NaN)

Row 15514: Address is missing (NaN)

Row 15515: Address is missing (NaN)

Row 15516: Address is missing (NaN)

Row 15517: Address is missing (NaN)

Row 15518: Address is missing (NaN)

Row 15519: Address is missing (NaN)

Row 15520: Address is missing (NaN)

Row 15521: Address is missing (NaN)

Row 15522: Address is missing (NaN)

Row 15523: Address is missing (NaN)

Row 15524: Address is missing (NaN)

Row 15525: Address is missing (NaN)

Row 15526: Address is missing (NaN)

Row 15527: Address is missing (NaN)

Row 15528: Address is missing (NaN)

Row 15529: Address is missing (NaN)

Row 15530: Address is missing (NaN)

Row 15531: Address is missing (NaN)

Row 15532: Address is missing (NaN)

Row 15533: Address is missing (NaN)

Row 15534: Address is missing (NaN)

Row 15535: Address is missing (NaN)

Row 15536: Address is missing (NaN)

Row 15537: Address is missing (NaN)

Row 15538: Address is missing (NaN)

Row 15539: Address is missing (NaN)

Row 15540: Address is missing (NaN)

Row 15541: Address is missing (NaN)

Row 15542: Address is missing (NaN)

Row 15543: Address is missing (NaN)

Row 15544: Address is missing (NaN)

Row 15545: Address is missing (NaN)

Row 15546: Address is missing (NaN)

Row 15547: Address is missing (NaN)

Row 15548: Address is missing (NaN)

Row 15549: Address is missing (NaN)

Row 15550: Address is missing (NaN)

Row 15551: Address is missing (NaN)

Row 15552: Address is missing (NaN)

Row 15553: Address is missing (NaN)

Row 15554: Address is missing (NaN)

Row 15555: Address is missing (NaN)

Row 15556: Address is missing (NaN)

Row 15557: Address is missing (NaN)

Row 15558: Address is missing (NaN)

Row 15559: Address is missing (NaN)

Row 15560: Address is missing (NaN)

Row 15561: Address is missing (NaN)

Row 15562: Address is missing (NaN)

Row 15563: Address is missing (NaN)

Row 15564: Address is missing (NaN)

Row 15565: Address is missing (NaN)

Row 15566: Address is missing (NaN)

Row 15567: Address is missing (NaN)

Row 15568: Address is missing (NaN)

Row 15569: Address is missing (NaN)

Row 15570: Address is missing (NaN)

Row 15571: Address is missing (NaN)

Row 15572: Address is missing (NaN)

Row 15573: Address is missing (NaN)

Row 15574: Address is missing (NaN)

Row 15575: Address is missing (NaN)

Row 15576: Address is missing (NaN)

Row 15577: Address is missing (NaN)

Row 15578: Address is missing (NaN)

Row 15579: Address is missing (NaN)

Row 15580: Address is missing (NaN)

Row 15581: Address is missing (NaN)

Row 15582: Address is missing (NaN)

Row 15583: Address is missing (NaN)

Row 15584: Address is missing (NaN)

Row 15585: Address is missing (NaN)

Row 15586: Address is missing (NaN)

Row 15587: Address is missing (NaN)

Row 15588: Address is missing (NaN)

Row 15589: Address is missing (NaN)

Row 15590: Address is missing (NaN)

Row 15591: Address is missing (NaN)

Row 15592: Address is missing (NaN)

Row 15593: Address is missing (NaN)

Row 15594: Address is missing (NaN)

Row 15595: Address is missing (NaN)

Row 15596: Address is missing (NaN)

Row 15597: Address is missing (NaN)

Row 15598: Address is missing (NaN)

Row 15599: Address is missing (NaN)

Row 15600: Address is missing (NaN)

Row 15601: Address is missing (NaN)

Row 15602: Address is missing (NaN)

Row 15603: Address is missing (NaN)

Row 15604: Address is missing (NaN)

Row 15605: Address is missing (NaN)

Row 15606: Address is missing (NaN)

Row 15607: Address is missing (NaN)

Row 15608: Address is missing (NaN)

Row 15609: Address is missing (NaN)

Row 15610: Address is missing (NaN)

Row 15611: Address is missing (NaN)

Row 15612: Address is missing (NaN)

Row 15613: Address is missing (NaN)

Row 15614: Address is missing (NaN)

Row 15615: Address is missing (NaN)

Row 15616: Address is missing (NaN)

Row 15617: Address is missing (NaN)

Row 15618: Address is missing (NaN)

Row 15619: Address is missing (NaN)

Row 15620: Address is missing (NaN)

Row 15621: Address is missing (NaN)

Row 15622: Address is missing (NaN)

Row 15623: Address is missing (NaN)

Row 15624: Address is missing (NaN)

Row 15625: Address is missing (NaN)

Row 15626: Address is missing (NaN)

Row 15627: Address is missing (NaN)

Row 15628: Address is missing (NaN)

Row 15629: Address is missing (NaN)

Row 15630: Address is missing (NaN)

Row 15631: Address is missing (NaN)

Row 15632: Address is missing (NaN)

Row 15633: Address is missing (NaN)

Row 15634: Address is missing (NaN)

Row 15635: Address is missing (NaN)

Row 15636: Address is missing (NaN)

Row 15637: Address is missing (NaN)

Row 15638: Address is missing (NaN)

Row 15639: Address is missing (NaN)

Row 15640: Address is missing (NaN)

Row 15641: Address is missing (NaN)

Row 15642: Address is missing (NaN)

Row 15643: Address is missing (NaN)

Row 15644: Address is missing (NaN)

Row 15645: Address is missing (NaN)

Row 15646: Address is missing (NaN)

Row 15647: Address is missing (NaN)

Row 15648: Address is missing (NaN)

Row 15649: Address is missing (NaN)

Row 15650: Address is missing (NaN)

Row 15651: Address is missing (NaN)

Row 15652: Address is missing (NaN)

Row 15653: Address is missing (NaN)

Row 15654: Address is missing (NaN)

Row 15655: Address is missing (NaN)

Row 15656: Address is missing (NaN)

Row 15657: Address is missing (NaN)

Row 15658: Address is missing (NaN)

Row 15659: Address is missing (NaN)

Row 15660: Address is missing (NaN)

Row 15661: Address is missing (NaN)

Row 15662: Address is missing (NaN)

Row 15663: Address is missing (NaN)

Row 15664: Address is missing (NaN)

Row 15665: Address is missing (NaN)

Row 15666: Address is missing (NaN)

Row 15667: Address is missing (NaN)

Row 15668: Address is missing (NaN)

Row 15669: Address is missing (NaN)

Row 15670: Address is missing (NaN)

Row 15671: Address is missing (NaN)

Row 15672: Address is missing (NaN)

Row 15673: Address is missing (NaN)

Row 15674: Address is missing (NaN)

Row 15675: Address is missing (NaN)

Row 15676: Address is missing (NaN)

Row 15677: Address is missing (NaN)

Row 15678: Address is missing (NaN)

Row 15679: Address is missing (NaN)

Row 15680: Address is missing (NaN)

Row 15681: Address is missing (NaN)

Row 15682: Address is missing (NaN)

Row 15683: Address is missing (NaN)

Row 15684: Address is missing (NaN)

Row 15685: Address is missing (NaN)

Row 15686: Address is missing (NaN)

Row 15687: Address is missing (NaN)

Row 15688: Address is missing (NaN)

Row 15689: Address is missing (NaN)

Row 15690: Address is missing (NaN)

Row 15691: Address is missing (NaN)

Row 15692: Address is missing (NaN)

Row 15693: Address is missing (NaN)

Row 15694: Address is missing (NaN)

Row 15695: Address is missing (NaN)

Row 15696: Address is missing (NaN)

Row 15697: Address is missing (NaN)

Row 15698: Address is missing (NaN)

Row 15699: Address is missing (NaN)

Row 15700: Address is missing (NaN)

Row 15701: Address is missing (NaN)

Row 15702: Address is missing (NaN)

Row 15703: Address is missing (NaN)

Row 15704: Address is missing (NaN)

Row 15705: Address is missing (NaN)

Row 15706: Address is missing (NaN)

Row 15707: Address is missing (NaN)

Row 15708: Address is missing (NaN)

Row 15709: Address is missing (NaN)

Row 15710: Address is missing (NaN)

Row 15711: Address is missing (NaN)

Row 15712: Address is missing (NaN)

Row 15713: Address is missing (NaN)

Row 15714: Address is missing (NaN)

Row 15715: Address is missing (NaN)

Row 15716: Address is missing (NaN)

Row 15717: Address is missing (NaN)

Row 15718: Address is missing (NaN)

Row 15719: Address is missing (NaN)

Row 15720: Address is missing (NaN)

Row 15721: Address is missing (NaN)

Row 15722: Address is missing (NaN)

Row 15723: Address is missing (NaN)

Row 15724: Address is missing (NaN)

Row 15725: Address is missing (NaN)

Row 15726: Address is missing (NaN)

Row 15727: Address is missing (NaN)

Row 15728: Address is missing (NaN)

Row 15729: Address is missing (NaN)

Row 15730: Address is missing (NaN)

Row 15731: Address is missing (NaN)

Row 15732: Address is missing (NaN)

Row 15733: Address is missing (NaN)

Row 15734: Address is missing (NaN)

Row 15735: Address is missing (NaN)

Row 15736: Address is missing (NaN)

Row 15737: Address is missing (NaN)

Row 15738: Address is missing (NaN)

Row 15739: Address is missing (NaN)

Row 15740: Address is missing (NaN)

Row 15741: Address is missing (NaN)

Row 15742: Address is missing (NaN)

Row 15743: Address is missing (NaN)

Row 15744: Address is missing (NaN)

Row 15745: Address is missing (NaN)

Row 15746: Address is missing (NaN)

Row 15747: Address is missing (NaN)

Row 15748: Address is missing (NaN)

Row 15749: Address is missing (NaN)

Row 15750: Address is missing (NaN)

Row 15751: Address is missing (NaN)

Row 15752: Address is missing (NaN)

Row 15753: Address is missing (NaN)

Row 15754: Address is missing (NaN)

Row 15755: Address is missing (NaN)

Row 15756: Address is missing (NaN)

Row 15757: Address is missing (NaN)

Row 15758: Address is missing (NaN)

Row 15759: Address is missing (NaN)

Row 15760: Address is missing (NaN)

Row 15761: Address is missing (NaN)

Row 15762: Address is missing (NaN)

Row 15763: Address is missing (NaN)

Row 15764: Address is missing (NaN)

Row 15765: Address is missing (NaN)

Row 15766: Address is missing (NaN)

Row 15767: Address is missing (NaN)

Row 15768: Address is missing (NaN)

Row 15769: Address is missing (NaN)

Row 15770: Address is missing (NaN)

Row 15771: Address is missing (NaN)

Row 15772: Address is missing (NaN)

Row 15773: Address is missing (NaN)

Row 15774: Address is missing (NaN)

Row 15775: Address is missing (NaN)

Row 15776: Address is missing (NaN)

Row 15777: Address is missing (NaN)

Row 15778: Address is missing (NaN)

Row 15779: Address is missing (NaN)

Row 15780: Address is missing (NaN)

Row 15781: Address is missing (NaN)

Row 15782: Address is missing (NaN)

Row 15783: Address is missing (NaN)

Row 15784: Address is missing (NaN)

Row 15785: Address is missing (NaN)

Row 15786: Address is missing (NaN)

Row 15787: Address is missing (NaN)

Row 15788: Address is missing (NaN)

Row 15789: Address is missing (NaN)

Row 15790: Address is missing (NaN)

Row 15791: Address is missing (NaN)

Row 15792: Address is missing (NaN)

Row 15793: Address is missing (NaN)

Row 15794: Address is missing (NaN)

Row 15795: Address is missing (NaN)

Row 15796: Address is missing (NaN)

Row 15797: Address is missing (NaN)

Row 15798: Address is missing (NaN)

Row 15799: Address is missing (NaN)

Row 15800: Address is missing (NaN)

Row 15801: Address is missing (NaN)

Row 15802: Address is missing (NaN)

Row 15803: Address is missing (NaN)

Row 15804: Address is missing (NaN)

Row 15805: Address is missing (NaN)

Row 15806: Address is missing (NaN)

Row 15807: Address is missing (NaN)

Row 15808: Address is missing (NaN)

Row 15809: Address is missing (NaN)

Row 15810: Address is missing (NaN)

Row 15811: Address is missing (NaN)

Row 15812: Address is missing (NaN)

Row 15813: Address is missing (NaN)

Row 15814: Address is missing (NaN)

Row 15815: Address is missing (NaN)

Row 15816: Address is missing (NaN)

Row 15817: Address is missing (NaN)

Row 15818: Address is missing (NaN)

Row 15819: Address is missing (NaN)

Row 15820: Address is missing (NaN)

Row 15821: Address is missing (NaN)

Row 15822: Address is missing (NaN)

Row 15823: Address is missing (NaN)

Row 15824: Address is missing (NaN)

Row 15825: Address is missing (NaN)

Row 15826: Address is missing (NaN)

Row 15827: Address is missing (NaN)

Row 15828: Address is missing (NaN)

Row 15829: Address is missing (NaN)

Row 15830: Address is missing (NaN)

Row 15831: Address is missing (NaN)

Row 15832: Address is missing (NaN)

Row 15833: Address is missing (NaN)

Row 15834: Address is missing (NaN)

Row 15835: Address is missing (NaN)

Row 15836: Address is missing (NaN)

Row 15837: Address is missing (NaN)

Row 15838: Address is missing (NaN)

Row 15839: Address is missing (NaN)

Row 15840: Address is missing (NaN)

Row 15841: Address is missing (NaN)

Row 15842: Address is missing (NaN)

Row 15843: Address is missing (NaN)

Row 15844: Address is missing (NaN)

Row 15845: Address is missing (NaN)

Row 15846: Address is missing (NaN)

Row 15847: Address is missing (NaN)

Row 15848: Address is missing (NaN)

Row 15849: Address is missing (NaN)

Row 15850: Address is missing (NaN)

Row 15851: Address is missing (NaN)

Row 15852: Address is missing (NaN)

Row 15853: Address is missing (NaN)

Row 15854: Address is missing (NaN)

Row 15855: Address is missing (NaN)

Row 15856: Address is missing (NaN)

Row 15857: Address is missing (NaN)

Row 15858: Address is missing (NaN)

Row 15859: Address is missing (NaN)

Row 15860: Address is missing (NaN)

Row 15861: Address is missing (NaN)

Row 15862: Address is missing (NaN)

Row 15863: Address is missing (NaN)

Row 15864: Address is missing (NaN)

Row 15865: Address is missing (NaN)

Row 15866: Address is missing (NaN)

Row 15867: Address is missing (NaN)

Row 15868: Address is missing (NaN)

Row 15869: Address is missing (NaN)

Row 15870: Address is missing (NaN)

Row 15871: Address is missing (NaN)

Row 15872: Address is missing (NaN)

Row 15873: Address is missing (NaN)

Row 15874: Address is missing (NaN)

Row 15875: Address is missing (NaN)

Row 15876: Address is missing (NaN)

Row 15877: Address is missing (NaN)

Row 15878: Address is missing (NaN)

Row 15879: Address is missing (NaN)

Row 15880: Address is missing (NaN)

Row 15881: Address is missing (NaN)

Row 15882: Address is missing (NaN)

Row 15883: Address is missing (NaN)

Row 15884: Address is missing (NaN)

Row 15885: Address is missing (NaN)

Row 15886: Address is missing (NaN)

Row 15887: Address is missing (NaN)

Row 15888: Address is missing (NaN)

Row 15889: Address is missing (NaN)

Row 15890: Address is missing (NaN)

Row 15891: Address is missing (NaN)

Row 15892: Address is missing (NaN)

Row 15893: Address is missing (NaN)

Row 15894: Address is missing (NaN)

Row 15895: Address is missing (NaN)

Row 15896: Address is missing (NaN)

Row 15897: Address is missing (NaN)

Row 15898: Address is missing (NaN)

Row 15899: Address is missing (NaN)

Row 15900: Address is missing (NaN)

Row 15901: Address is missing (NaN)

Row 15902: Address is missing (NaN)

Row 15903: Address is missing (NaN)

Row 15904: Address is missing (NaN)

Row 15905: Address is missing (NaN)

Row 15906: Address is missing (NaN)

Row 15907: Address is missing (NaN)

Row 15908: Address is missing (NaN)

Row 15909: Address is missing (NaN)

Row 15910: Address is missing (NaN)

Row 15911: Address is missing (NaN)

Row 15912: Address is missing (NaN)

Row 15913: Address is missing (NaN)

Row 15914: Address is missing (NaN)

Row 15915: Address is missing (NaN)

Row 15916: Address is missing (NaN)

Row 15917: Address is missing (NaN)

Row 15918: Address is missing (NaN)

Row 15919: Address is missing (NaN)

Row 15920: Address is missing (NaN)

Row 15921: Address is missing (NaN)

Row 15922: Address is missing (NaN)

Row 15923: Address is missing (NaN)

Row 15924: Address is missing (NaN)

Row 15925: Address is missing (NaN)

Row 15926: Address is missing (NaN)

Row 15927: Address is missing (NaN)

Row 15928: Address is missing (NaN)

Row 15929: Address is missing (NaN)

Row 15930: Address is missing (NaN)

Row 15931: Address is missing (NaN)

Row 15932: Address is missing (NaN)

Row 15933: Address is missing (NaN)

Row 15934: Address is missing (NaN)

Row 15935: Address is missing (NaN)

Row 15936: Address is missing (NaN)

Row 15937: Address is missing (NaN)

Row 15938: Address is missing (NaN)

Row 15939: Address is missing (NaN)

Row 15940: Address is missing (NaN)

Row 15941: Address is missing (NaN)

Row 15942: Address is missing (NaN)

Row 15943: Address is missing (NaN)

Row 15944: Address is missing (NaN)

Row 15945: Address is missing (NaN)

Row 15946: Address is missing (NaN)

Row 15947: Address is missing (NaN)

Row 15948: Address is missing (NaN)

Row 15949: Address is missing (NaN)

Row 15950: Address is missing (NaN)

Row 15951: Address is missing (NaN)

Row 15952: Address is missing (NaN)

Row 15953: Address is missing (NaN)

Row 15954: Address is missing (NaN)

Row 15955: Address is missing (NaN)

Row 15956: Address is missing (NaN)

Row 15957: Address is missing (NaN)

Row 15958: Address is missing (NaN)

Row 15959: Address is missing (NaN)

Row 15960: Address is missing (NaN)

Row 15961: Address is missing (NaN)

Row 15962: Address is missing (NaN)

Row 15963: Address is missing (NaN)

Row 15964: Address is missing (NaN)

Row 15965: Address is missing (NaN)

Row 15966: Address is missing (NaN)

Row 15967: Address is missing (NaN)

Row 15968: Address is missing (NaN)

Row 15969: Address is missing (NaN)

Row 15970: Address is missing (NaN)

Row 15971: Address is missing (NaN)

Row 15972: Address is missing (NaN)

Row 15973: Address is missing (NaN)

Row 15974: Address is missing (NaN)

Row 15975: Address is missing (NaN)

Row 15976: Address is missing (NaN)

Row 15977: Address is missing (NaN)

Row 15978: Address is missing (NaN)

Row 15979: Address is missing (NaN)

Row 15980: Address is missing (NaN)

Row 15981: Address is missing (NaN)

Row 15982: Address is missing (NaN)

Row 15983: Address is missing (NaN)

Row 15984: Address is missing (NaN)

Row 15985: Address is missing (NaN)

Row 15986: Address is missing (NaN)

Row 15987: Address is missing (NaN)

Row 15988: Address is missing (NaN)

Row 15989: Address is missing (NaN)

Row 15990: Address is missing (NaN)

Row 15991: Address is missing (NaN)

Row 15992: Address is missing (NaN)

Row 15993: Address is missing (NaN)

Row 15994: Address is missing (NaN)

Row 15995: Address is missing (NaN)

Row 15996: Address is missing (NaN)

Row 15997: Address is missing (NaN)

Row 15998: Address is missing (NaN)

Row 15999: Address is missing (NaN)

Row 16000: Address is missing (NaN)

Row 16001: Address is missing (NaN)

Row 16002: Address is missing (NaN)

Row 16003: Address is missing (NaN)

Row 16004: Address is missing (NaN)

Row 16005: Address is missing (NaN)

Row 16006: Address is missing (NaN)

Row 16007: Address is missing (NaN)

Row 16008: Address is missing (NaN)

Row 16009: Address is missing (NaN)

Row 16010: Address is missing (NaN)

Row 16011: Address is missing (NaN)

Row 16012: Address is missing (NaN)

Row 16013: Address is missing (NaN)

Row 16014: Address is missing (NaN)

Row 16015: Address is missing (NaN)

Row 16016: Address is missing (NaN)

Row 16017: Address is missing (NaN)

Row 16018: Address is missing (NaN)

Row 16019: Address is missing (NaN)

Row 16020: Address is missing (NaN)

Row 16021: Address is missing (NaN)

Row 16022: Address is missing (NaN)

Row 16023: Address is missing (NaN)

Row 16024: Address is missing (NaN)

Row 16025: Address is missing (NaN)

Row 16026: Address is missing (NaN)

Row 16027: Address is missing (NaN)

Row 16028: Address is missing (NaN)

Row 16029: Address is missing (NaN)

Row 16030: Address is missing (NaN)

Row 16031: Address is missing (NaN)

Row 16032: Address is missing (NaN)

Row 16033: Address is missing (NaN)

Row 16034: Address is missing (NaN)

Row 16035: Address is missing (NaN)

Row 16036: Address is missing (NaN)

Row 16037: Address is missing (NaN)

Row 16038: Address is missing (NaN)

Row 16039: Address is missing (NaN)

Row 16040: Address is missing (NaN)

Row 16041: Address is missing (NaN)

Row 16042: Address is missing (NaN)

Row 16043: Address is missing (NaN)

Row 16044: Address is missing (NaN)

Row 16045: Address is missing (NaN)

Row 16046: Address is missing (NaN)

Row 16047: Address is missing (NaN)

Row 16048: Address is missing (NaN)

Row 16049: Address is missing (NaN)

Row 16050: Address is missing (NaN)

Row 16051: Address is missing (NaN)

Row 16052: Address is missing (NaN)

Row 16053: Address is missing (NaN)

Row 16054: Address is missing (NaN)

Row 16055: Address is missing (NaN)

Row 16056: Address is missing (NaN)

Row 16057: Address is missing (NaN)

Row 16058: Address is missing (NaN)

Row 16059: Address is missing (NaN)

Row 16060: Address is missing (NaN)

Row 16061: Address is missing (NaN)

Row 16062: Address is missing (NaN)

Row 16063: Address is missing (NaN)

Row 16064: Address is missing (NaN)

Row 16065: Address is missing (NaN)

Row 16066: Address is missing (NaN)

Row 16067: Address is missing (NaN)

Row 16068: Address is missing (NaN)

Row 16069: Address is missing (NaN)

Row 16070: Address is missing (NaN)

Row 16071: Address is missing (NaN)

Row 16072: Address is missing (NaN)

Row 16073: Address is missing (NaN)

Row 16074: Address is missing (NaN)

Row 16075: Address is missing (NaN)

Row 16076: Address is missing (NaN)

Row 16077: Address is missing (NaN)

Row 16078: Address is missing (NaN)

Row 16079: Address is missing (NaN)

Row 16080: Address is missing (NaN)

Row 16081: Address is missing (NaN)

Row 16082: Address is missing (NaN)

Row 16083: Address is missing (NaN)

Row 16084: Address is missing (NaN)

Row 16085: Address is missing (NaN)

Row 16086: Address is missing (NaN)

Row 16087: Address is missing (NaN)

Row 16088: Address is missing (NaN)

Row 16089: Address is missing (NaN)

Row 16090: Address is missing (NaN)

Row 16091: Address is missing (NaN)

Row 16092: Address is missing (NaN)

Row 16093: Address is missing (NaN)

Row 16094: Address is missing (NaN)

Row 16095: Address is missing (NaN)

Row 16096: Address is missing (NaN)

Row 16097: Address is missing (NaN)

Row 16098: Address is missing (NaN)

Row 16099: Address is missing (NaN)

Row 16100: Address is missing (NaN)

Row 16101: Address is missing (NaN)

Row 16102: Address is missing (NaN)

Row 16103: Address is missing (NaN)

Row 16104: Address is missing (NaN)

Row 16105: Address is missing (NaN)

Row 16106: Address is missing (NaN)

Row 16107: Address is missing (NaN)

Row 16108: Address is missing (NaN)

Row 16109: Address is missing (NaN)

Row 16110: Address is missing (NaN)

Row 16111: Address is missing (NaN)

Row 16112: Address is missing (NaN)

Row 16113: Address is missing (NaN)

Row 16114: Address is missing (NaN)

Row 16115: Address is missing (NaN)

Row 16116: Address is missing (NaN)

Row 16117: Address is missing (NaN)

Row 16118: Address is missing (NaN)

Row 16119: Address is missing (NaN)

Row 16120: Address is missing (NaN)

Row 16121: Address is missing (NaN)

Row 16122: Address is missing (NaN)

Row 16123: Address is missing (NaN)

Row 16124: Address is missing (NaN)

Row 16125: Address is missing (NaN)

Row 16126: Address is missing (NaN)

Row 16127: Address is missing (NaN)

Row 16128: Address is missing (NaN)

Row 16129: Address is missing (NaN)

Row 16130: Address is missing (NaN)

Row 16131: Address is missing (NaN)

Row 16132: Address is missing (NaN)

Row 16133: Address is missing (NaN)

Row 16134: Address is missing (NaN)

Row 16135: Address is missing (NaN)

Row 16136: Address is missing (NaN)

Row 16137: Address is missing (NaN)

Row 16138: Address is missing (NaN)

Row 16139: Address is missing (NaN)

Row 16140: Address is missing (NaN)

Row 16141: Address is missing (NaN)

Row 16142: Address is missing (NaN)

Row 16143: Address is missing (NaN)

Row 16144: Address is missing (NaN)

Row 16145: Address is missing (NaN)

Row 16146: Address is missing (NaN)

Row 16147: Address is missing (NaN)

Row 16148: Address is missing (NaN)

Row 16149: Address is missing (NaN)

Row 16150: Address is missing (NaN)

Row 16151: Address is missing (NaN)

Row 16152: Address is missing (NaN)

Row 16153: Address is missing (NaN)

Row 16154: Address is missing (NaN)

Row 16155: Address is missing (NaN)

Row 16156: Address is missing (NaN)

Row 16157: Address is missing (NaN)

Row 16158: Address is missing (NaN)

Row 16159: Address is missing (NaN)

Row 16160: Address is missing (NaN)

Row 16161: Address is missing (NaN)

Row 16162: Address is missing (NaN)

Row 16163: Address is missing (NaN)

Row 16164: Address is missing (NaN)

Row 16165: Address is missing (NaN)

Row 16166: Address is missing (NaN)

Row 16167: Address is missing (NaN)

Row 16168: Address is missing (NaN)

Row 16169: Address is missing (NaN)

Row 16170: Address is missing (NaN)

Row 16171: Address is missing (NaN)

Row 16172: Address is missing (NaN)

Row 16173: Address is missing (NaN)

Row 16174: Address is missing (NaN)

Row 16175: Address is missing (NaN)

Row 16176: Address is missing (NaN)

Row 16177: Address is missing (NaN)

Row 16178: Address is missing (NaN)

Row 16179: Address is missing (NaN)

Row 16180: Address is missing (NaN)

Row 16181: Address is missing (NaN)

Row 16182: Address is missing (NaN)

Row 16183: Address is missing (NaN)

Row 16184: Address is missing (NaN)

Row 16185: Address is missing (NaN)

Row 16186: Address is missing (NaN)

Row 16187: Address is missing (NaN)

Row 16188: Address is missing (NaN)

Row 16189: Address is missing (NaN)

Row 16190: Address is missing (NaN)

Row 16191: Address is missing (NaN)

Row 16192: Address is missing (NaN)

Row 16193: Address is missing (NaN)

Row 16194: Address is missing (NaN)

Row 16195: Address is missing (NaN)

Row 16196: Address is missing (NaN)

Row 16197: Address is missing (NaN)

Row 16198: Address is missing (NaN)

Row 16199: Address is missing (NaN)

Row 16200: Address is missing (NaN)

Row 16201: Address is missing (NaN)

Row 16202: Address is missing (NaN)

Row 16203: Address is missing (NaN)

Row 16204: Address is missing (NaN)

Row 16205: Address is missing (NaN)

Row 16206: Address is missing (NaN)

Row 16207: Address is missing (NaN)

Row 16208: Address is missing (NaN)

Row 16209: Address is missing (NaN)

Row 16210: Address is missing (NaN)

Row 16211: Address is missing (NaN)

Row 16212: Address is missing (NaN)

Row 16213: Address is missing (NaN)

Row 16214: Address is missing (NaN)

Row 16215: Address is missing (NaN)

Row 16216: Address is missing (NaN)

Row 16217: Address is missing (NaN)

Row 16218: Address is missing (NaN)

Row 16219: Address is missing (NaN)

Row 16220: Address is missing (NaN)

Row 16221: Address is missing (NaN)

Row 16222: Address is missing (NaN)

Row 16223: Address is missing (NaN)

Row 16224: Address is missing (NaN)

Row 16225: Address is missing (NaN)

Row 16226: Address is missing (NaN)

Row 16227: Address is missing (NaN)

Row 16228: Address is missing (NaN)

Row 16229: Address is missing (NaN)

Row 16230: Address is missing (NaN)

Row 16231: Address is missing (NaN)

Row 16232: Address is missing (NaN)

Row 16233: Address is missing (NaN)

Row 16234: Address is missing (NaN)

Row 16235: Address is missing (NaN)

Row 16236: Address is missing (NaN)

Row 16237: Address is missing (NaN)

Row 16238: Address is missing (NaN)

Row 16239: Address is missing (NaN)

Row 16240: Address is missing (NaN)

Row 16241: Address is missing (NaN)

Row 16242: Address is missing (NaN)

Row 16243: Address is missing (NaN)

Row 16244: Address is missing (NaN)

Row 16245: Address is missing (NaN)

Row 16246: Address is missing (NaN)

Row 16247: Address is missing (NaN)

Row 16248: Address is missing (NaN)

Row 16249: Address is missing (NaN)

Row 16250: Address is missing (NaN)

Row 16251: Address is missing (NaN)

Row 16252: Address is missing (NaN)

Row 16253: Address is missing (NaN)

Row 16254: Address is missing (NaN)

Row 16255: Address is missing (NaN)

Row 16256: Address is missing (NaN)

Row 16257: Address is missing (NaN)

Row 16258: Address is missing (NaN)

Row 16259: Address is missing (NaN)

Row 16260: Address is missing (NaN)

Row 16261: Address is missing (NaN)

Row 16262: Address is missing (NaN)

Row 16263: Address is missing (NaN)

Row 16264: Address is missing (NaN)

Row 16265: Address is missing (NaN)

Row 16266: Address is missing (NaN)

Row 16267: Address is missing (NaN)

Row 16268: Address is missing (NaN)

Row 16269: Address is missing (NaN)

Row 16270: Address is missing (NaN)

Row 16271: Address is missing (NaN)

Row 16272: Address is missing (NaN)

Row 16273: Address is missing (NaN)

Row 16274: Address is missing (NaN)

Row 16275: Address is missing (NaN)

Row 16276: Address is missing (NaN)

Row 16277: Address is missing (NaN)

Row 16278: Address is missing (NaN)

Row 16279: Address is missing (NaN)

Row 16280: Address is missing (NaN)

Row 16281: Address is missing (NaN)

Row 16282: Address is missing (NaN)

Row 16283: Address is missing (NaN)

Row 16284: Address is missing (NaN)

Row 16285: Address is missing (NaN)

Row 16286: Address is missing (NaN)

Row 16287: Address is missing (NaN)

Row 16288: Address is missing (NaN)

Row 16289: Address is missing (NaN)

Row 16290: Address is missing (NaN)

Row 16291: Address is missing (NaN)

Row 16292: Address is missing (NaN)

Row 16293: Address is missing (NaN)

Row 16294: Address is missing (NaN)

Row 16295: Address is missing (NaN)

Row 16296: Address is missing (NaN)

Row 16297: Address is missing (NaN)

Row 16298: Address is missing (NaN)

Row 16299: Address is missing (NaN)

Row 16300: Address is missing (NaN)

Row 16301: Address is missing (NaN)

Row 16302: Address is missing (NaN)

Row 16303: Address is missing (NaN)

Row 16304: Address is missing (NaN)

Row 16305: Address is missing (NaN)

Row 16306: Address is missing (NaN)

Row 16307: Address is missing (NaN)

Row 16308: Address is missing (NaN)

Row 16309: Address is missing (NaN)

Row 16310: Address is missing (NaN)

Row 16311: Address is missing (NaN)

Row 16312: Address is missing (NaN)

Row 16313: Address is missing (NaN)

Row 16314: Address is missing (NaN)

Row 16315: Address is missing (NaN)

Row 16316: Address is missing (NaN)

Row 16317: Address is missing (NaN)

Row 16318: Address is missing (NaN)

Row 16319: Address is missing (NaN)

Row 16320: Address is missing (NaN)

Row 16321: Address is missing (NaN)

Row 16322: Address is missing (NaN)

Row 16323: Address is missing (NaN)

Row 16324: Address is missing (NaN)

Row 16325: Address is missing (NaN)

Row 16326: Address is missing (NaN)

Row 16327: Address is missing (NaN)

Row 16328: Address is missing (NaN)

Row 16329: Address is missing (NaN)

Row 16330: Address is missing (NaN)

Row 16331: Address is missing (NaN)

Row 16332: Address is missing (NaN)

Row 16333: Address is missing (NaN)

Row 16334: Address is missing (NaN)

Row 16335: Address is missing (NaN)

Row 16336: Address is missing (NaN)

Row 16337: Address is missing (NaN)

Row 16338: Address is missing (NaN)

Row 16339: Address is missing (NaN)

Row 16340: Address is missing (NaN)

Row 16341: Address is missing (NaN)

Row 16342: Address is missing (NaN)

Row 16343: Address is missing (NaN)

Row 16344: Address is missing (NaN)

Row 16345: Address is missing (NaN)

Row 16346: Address is missing (NaN)

Row 16347: Address is missing (NaN)

Row 16348: Address is missing (NaN)

Row 16349: Address is missing (NaN)

Row 16350: Address is missing (NaN)

Row 16351: Address is missing (NaN)

Row 16352: Address is missing (NaN)

Row 16353: Address is missing (NaN)

Row 16354: Address is missing (NaN)

Row 16355: Address is missing (NaN)

Row 16356: Address is missing (NaN)

Row 16357: Address is missing (NaN)

Row 16358: Address is missing (NaN)

Row 16359: Address is missing (NaN)

Row 16360: Address is missing (NaN)

Row 16361: Address is missing (NaN)

Row 16362: Address is missing (NaN)

Row 16363: Address is missing (NaN)

Row 16364: Address is missing (NaN)

Row 16365: Address is missing (NaN)

Row 16366: Address is missing (NaN)

Row 16367: Address is missing (NaN)

Row 16368: Address is missing (NaN)

Row 16369: Address is missing (NaN)

Row 16370: Address is missing (NaN)

Row 16371: Address is missing (NaN)

Row 16372: Address is missing (NaN)

Row 16373: Address is missing (NaN)

Row 16374: Address is missing (NaN)

Row 16375: Address is missing (NaN)

Row 16376: Address is missing (NaN)

Row 16377: Address is missing (NaN)

Row 16378: Address is missing (NaN)

Row 16379: Address is missing (NaN)

Row 16380: Address is missing (NaN)

Row 16381: Address is missing (NaN)

Row 16382: Address is missing (NaN)

Row 16383: Address is missing (NaN)

Row 16384: Address is missing (NaN)

Row 16385: Address is missing (NaN)

Row 16386: Address is missing (NaN)

Row 16387: Address is missing (NaN)

Row 16388: Address is missing (NaN)

Row 16389: Address is missing (NaN)

Row 16390: Address is missing (NaN)

Row 16391: Address is missing (NaN)

Row 16392: Address is missing (NaN)

Row 16393: Address is missing (NaN)

Row 16394: Address is missing (NaN)

Row 16395: Address is missing (NaN)

Row 16396: Address is missing (NaN)

Row 16397: Address is missing (NaN)

Row 16398: Address is missing (NaN)

Row 16399: Address is missing (NaN)

Row 16400: Address is missing (NaN)

Row 16401: Address is missing (NaN)

Row 16402: Address is missing (NaN)

Row 16403: Address is missing (NaN)

Row 16404: Address is missing (NaN)

Row 16405: Address is missing (NaN)

Row 16406: Address is missing (NaN)

Row 16407: Address is missing (NaN)

Row 16408: Address is missing (NaN)

Row 16409: Address is missing (NaN)

Row 16410: Address is missing (NaN)

Row 16411: Address is missing (NaN)

Row 16412: Address is missing (NaN)

Row 16413: Address is missing (NaN)

Row 16414: Address is missing (NaN)

Row 16415: Address is missing (NaN)

Row 16416: Address is missing (NaN)

Row 16417: Address is missing (NaN)

Row 16418: Address is missing (NaN)

Row 16419: Address is missing (NaN)

Row 16420: Address is missing (NaN)

Row 16421: Address is missing (NaN)

Row 16422: Address is missing (NaN)

Row 16423: Address is missing (NaN)

Row 16424: Address is missing (NaN)

Row 16425: Address is missing (NaN)

Row 16426: Address is missing (NaN)

Row 16427: Address is missing (NaN)

Row 16428: Address is missing (NaN)

Row 16429: Address is missing (NaN)

Row 16430: Address is missing (NaN)

Row 16431: Address is missing (NaN)

Row 16432: Address is missing (NaN)

Row 16433: Address is missing (NaN)

Row 16434: Address is missing (NaN)

Row 16435: Address is missing (NaN)

Row 16436: Address is missing (NaN)

Row 16437: Address is missing (NaN)

Row 16438: Address is missing (NaN)

Row 16439: Address is missing (NaN)

Row 16440: Address is missing (NaN)

Row 16441: Address is missing (NaN)

Row 16442: Address is missing (NaN)

Row 16443: Address is missing (NaN)

Row 16444: Address is missing (NaN)

Row 16445: Address is missing (NaN)

Row 16446: Address is missing (NaN)

Row 16447: Address is missing (NaN)

Row 16448: Address is missing (NaN)

Row 16449: Address is missing (NaN)

Row 16450: Address is missing (NaN)

Row 16451: Address is missing (NaN)

Row 16452: Address is missing (NaN)

Row 16453: Address is missing (NaN)

Row 16454: Address is missing (NaN)

Row 16455: Address is missing (NaN)

Row 16456: Address is missing (NaN)

Row 16457: Address is missing (NaN)

Row 16458: Address is missing (NaN)

Row 16459: Address is missing (NaN)

Row 16460: Address is missing (NaN)

Row 16461: Address is missing (NaN)

Row 16462: Address is missing (NaN)

Row 16463: Address is missing (NaN)

Row 16464: Address is missing (NaN)

Row 16465: Address is missing (NaN)

Row 16466: Address is missing (NaN)

Row 16467: Address is missing (NaN)

Row 16468: Address is missing (NaN)

Row 16469: Address is missing (NaN)

Row 16470: Address is missing (NaN)

Row 16471: Address is missing (NaN)

Row 16472: Address is missing (NaN)

Row 16473: Address is missing (NaN)

Row 16474: Address is missing (NaN)

Row 16475: Address is missing (NaN)

Row 16476: Address is missing (NaN)

Row 16477: Address is missing (NaN)

Row 16478: Address is missing (NaN)

Row 16479: Address is missing (NaN)

Row 16480: Address is missing (NaN)

Row 16481: Address is missing (NaN)

Row 16482: Address is missing (NaN)

Row 16483: Address is missing (NaN)

Row 16484: Address is missing (NaN)

Row 16485: Address is missing (NaN)

Row 16486: Address is missing (NaN)

Row 16487: Address is missing (NaN)

Row 16488: Address is missing (NaN)

Row 16489: Address is missing (NaN)

Row 16490: Address is missing (NaN)

Row 16491: Address is missing (NaN)

Row 16492: Address is missing (NaN)

Row 16493: Address is missing (NaN)

Row 16494: Address is missing (NaN)

Row 16495: Address is missing (NaN)

Row 16496: Address is missing (NaN)

Row 16497: Address is missing (NaN)

Row 16498: Address is missing (NaN)

Row 16499: Address is missing (NaN)

Row 16500: Address is missing (NaN)

Row 16501: Address is missing (NaN)

Row 16502: Address is missing (NaN)

Row 16503: Address is missing (NaN)

Row 16504: Address is missing (NaN)

Row 16505: Address is missing (NaN)

Row 16506: Address is missing (NaN)

Row 16507: Address is missing (NaN)

Row 16508: Address is missing (NaN)

Row 16509: Address is missing (NaN)

Row 16510: Address is missing (NaN)

Row 16511: Address is missing (NaN)

Row 16512: Address is missing (NaN)

Row 16513: Address is missing (NaN)

Row 16514: Address is missing (NaN)

Row 16515: Address is missing (NaN)

Row 16516: Address is missing (NaN)

Row 16517: Address is missing (NaN)

Row 16518: Address is missing (NaN)

Row 16519: Address is missing (NaN)

Row 16520: Address is missing (NaN)

Row 16521: Address is missing (NaN)

Row 16522: Address is missing (NaN)

Row 16523: Address is missing (NaN)

Row 16524: Address is missing (NaN)

Row 16525: Address is missing (NaN)

Row 16526: Address is missing (NaN)

Row 16527: Address is missing (NaN)

Row 16528: Address is missing (NaN)

Row 16529: Address is missing (NaN)

Row 16530: Address is missing (NaN)

Row 16531: Address is missing (NaN)

Row 16532: Address is missing (NaN)

Row 16533: Address is missing (NaN)

Row 16534: Address is missing (NaN)

Row 16535: Address is missing (NaN)

Row 16536: Address is missing (NaN)

Row 16537: Address is missing (NaN)

Row 16538: Address is missing (NaN)

Row 16539: Address is missing (NaN)

Row 16540: Address is missing (NaN)

Row 16541: Address is missing (NaN)

Row 16542: Address is missing (NaN)

Row 16543: Address is missing (NaN)

Row 16544: Address is missing (NaN)

Row 16545: Address is missing (NaN)

Row 16546: Address is missing (NaN)

Row 16547: Address is missing (NaN)

Row 16548: Address is missing (NaN)

Row 16549: Address is missing (NaN)

Row 16550: Address is missing (NaN)

Row 16551: Address is missing (NaN)

Row 16552: Address is missing (NaN)

Row 16553: Address is missing (NaN)

Row 16554: Address is missing (NaN)

Row 16555: Address is missing (NaN)

Row 16556: Address is missing (NaN)

Row 16557: Address is missing (NaN)

Row 16558: Address is missing (NaN)

Row 16559: Address is missing (NaN)

Row 16560: Address is missing (NaN)

Row 16561: Address is missing (NaN)

Row 16562: Address is missing (NaN)

Row 16563: Address is missing (NaN)

Row 16564: Address is missing (NaN)

Row 16565: Address is missing (NaN)

Row 16566: Address is missing (NaN)

Row 16567: Address is missing (NaN)

Row 16568: Address is missing (NaN)

Row 16569: Address is missing (NaN)

Row 16570: Address is missing (NaN)

Row 16571: Address is missing (NaN)

Row 16572: Address is missing (NaN)

Row 16573: Address is missing (NaN)

Row 16574: Address is missing (NaN)

Row 16575: Address is missing (NaN)

Row 16576: Address is missing (NaN)

Row 16577: Address is missing (NaN)

Row 16578: Address is missing (NaN)

Row 16579: Address is missing (NaN)

Row 16580: Address is missing (NaN)

Row 16581: Address is missing (NaN)

Row 16582: Address is missing (NaN)

Row 16583: Address is missing (NaN)

Row 16584: Address is missing (NaN)

Row 16585: Address is missing (NaN)

Row 16586: Address is missing (NaN)

Row 16587: Address is missing (NaN)

Row 16588: Address is missing (NaN)

Row 16589: Address is missing (NaN)

Row 16590: Address is missing (NaN)

Row 16591: Address is missing (NaN)

Row 16592: Address is missing (NaN)

Row 16593: Address is missing (NaN)

Row 16594: Address is missing (NaN)

Row 16595: Address is missing (NaN)

Row 16596: Address is missing (NaN)

Row 16597: Address is missing (NaN)

Row 16598: Address is missing (NaN)

Row 16599: Address is missing (NaN)

Row 16600: Address is missing (NaN)

Row 16601: Address is missing (NaN)

Row 16602: Address is missing (NaN)

Row 16603: Address is missing (NaN)

Row 16604: Address is missing (NaN)

Row 16605: Address is missing (NaN)

Row 16606: Address is missing (NaN)

Row 16607: Address is missing (NaN)

Row 16608: Address is missing (NaN)

Row 16609: Address is missing (NaN)

Row 16610: Address is missing (NaN)

Row 16611: Address is missing (NaN)

Row 16612: Address is missing (NaN)

Row 16613: Address is missing (NaN)

Row 16614: Address is missing (NaN)

Row 16615: Address is missing (NaN)

Row 16616: Address is missing (NaN)

Row 16617: Address is missing (NaN)

Row 16618: Address is missing (NaN)

Row 16619: Address is missing (NaN)

Row 16620: Address is missing (NaN)

Row 16621: Address is missing (NaN)

Row 16622: Address is missing (NaN)

Row 16623: Address is missing (NaN)

Row 16624: Address is missing (NaN)

Row 16625: Address is missing (NaN)

Row 16626: Address is missing (NaN)

Row 16627: Address is missing (NaN)

Row 16628: Address is missing (NaN)

Row 16629: Address is missing (NaN)

Row 16630: Address is missing (NaN)

Row 16631: Address is missing (NaN)

Row 16632: Address is missing (NaN)

Row 16633: Address is missing (NaN)

Row 16634: Address is missing (NaN)

Row 16635: Address is missing (NaN)

Row 16636: Address is missing (NaN)

Row 16637: Address is missing (NaN)

Row 16638: Address is missing (NaN)

Row 16639: Address is missing (NaN)

Row 16640: Address is missing (NaN)

Row 16641: Address is missing (NaN)

Row 16642: Address is missing (NaN)

Row 16643: Address is missing (NaN)

Row 16644: Address is missing (NaN)

Row 16645: Address is missing (NaN)

Row 16646: Address is missing (NaN)

Row 16647: Address is missing (NaN)

Row 16648: Address is missing (NaN)

Row 16649: Address is missing (NaN)

Row 16650: Address is missing (NaN)

Row 16651: Address is missing (NaN)

Row 16652: Address is missing (NaN)

Row 16653: Address is missing (NaN)

Row 16654: Address is missing (NaN)

Row 16655: Address is missing (NaN)

Row 16656: Address is missing (NaN)

Row 16657: Address is missing (NaN)

Row 16658: Address is missing (NaN)

Row 16659: Address is missing (NaN)

Row 16660: Address is missing (NaN)

Row 16661: Address is missing (NaN)

Row 16662: Address is missing (NaN)

Row 16663: Address is missing (NaN)

Row 16664: Address is missing (NaN)

Row 16665: Address is missing (NaN)

Row 16666: Address is missing (NaN)

Row 16667: Address is missing (NaN)

Row 16668: Address is missing (NaN)

Row 16669: Address is missing (NaN)

Row 16670: Address is missing (NaN)

Row 16671: Address is missing (NaN)

Row 16672: Address is missing (NaN)

Row 16673: Address is missing (NaN)

Row 16674: Address is missing (NaN)

Row 16675: Address is missing (NaN)

Row 16676: Address is missing (NaN)

Row 16677: Address is missing (NaN)

Row 16678: Address is missing (NaN)

Row 16679: Address is missing (NaN)

Row 16680: Address is missing (NaN)

Row 16681: Address is missing (NaN)

Row 16682: Address is missing (NaN)

Row 16683: Address is missing (NaN)

Row 16684: Address is missing (NaN)

Row 16685: Address is missing (NaN)

Row 16686: Address is missing (NaN)

Row 16687: Address is missing (NaN)

Row 16688: Address is missing (NaN)

Row 16689: Address is missing (NaN)

Row 16690: Address is missing (NaN)

Row 16691: Address is missing (NaN)

Row 16692: Address is missing (NaN)

Row 16693: Address is missing (NaN)

Row 16694: Address is missing (NaN)

Row 16695: Address is missing (NaN)

Row 16696: Address is missing (NaN)

Row 16697: Address is missing (NaN)

Row 16698: Address is missing (NaN)

Row 16699: Address is missing (NaN)

Row 16700: Address is missing (NaN)

Row 16701: Address is missing (NaN)

Row 16702: Address is missing (NaN)

Row 16703: Address is missing (NaN)

Row 16704: Address is missing (NaN)

Row 16705: Address is missing (NaN)

Row 16706: Address is missing (NaN)

Row 16707: Address is missing (NaN)

Row 16708: Address is missing (NaN)

Row 16709: Address is missing (NaN)

Row 16710: Address is missing (NaN)

Row 16711: Address is missing (NaN)

Row 16712: Address is missing (NaN)

Row 16713: Address is missing (NaN)

Row 16714: Address is missing (NaN)

Row 16715: Address is missing (NaN)

Row 16716: Address is missing (NaN)

Row 16717: Address is missing (NaN)

Row 16718: Address is missing (NaN)

Row 16719: Address is missing (NaN)

Row 16720: Address is missing (NaN)

Row 16721: Address is missing (NaN)

Row 16722: Address is missing (NaN)

Row 16723: Address is missing (NaN)

Row 16724: Address is missing (NaN)

Row 16725: Address is missing (NaN)

Row 16726: Address is missing (NaN)

Row 16727: Address is missing (NaN)

Row 16728: Address is missing (NaN)

Row 16729: Address is missing (NaN)

Row 16730: Address is missing (NaN)

Row 16731: Address is missing (NaN)

Row 16732: Address is missing (NaN)

Row 16733: Address is missing (NaN)

Row 16734: Address is missing (NaN)

Row 16735: Address is missing (NaN)

Row 16736: Address is missing (NaN)

Row 16737: Address is missing (NaN)

Row 16738: Address is missing (NaN)

Row 16739: Address is missing (NaN)

Row 16740: Address is missing (NaN)

Row 16741: Address is missing (NaN)

Row 16742: Address is missing (NaN)

Row 16743: Address is missing (NaN)

Row 16744: Address is missing (NaN)

Row 16745: Address is missing (NaN)

Row 16746: Address is missing (NaN)

Row 16747: Address is missing (NaN)

Row 16748: Address is missing (NaN)

Row 16749: Address is missing (NaN)

Row 16750: Address is missing (NaN)

Row 16751: Address is missing (NaN)

Row 16752: Address is missing (NaN)

Row 16753: Address is missing (NaN)

Row 16754: Address is missing (NaN)

Row 16755: Address is missing (NaN)

Row 16756: Address is missing (NaN)

Row 16757: Address is missing (NaN)

Row 16758: Address is missing (NaN)

Row 16759: Address is missing (NaN)

Row 16760: Address is missing (NaN)

Row 16761: Address is missing (NaN)

Row 16762: Address is missing (NaN)

Row 16763: Address is missing (NaN)

Row 16764: Address is missing (NaN)

Row 16765: Address is missing (NaN)

Row 16766: Address is missing (NaN)

Row 16767: Address is missing (NaN)

Row 16768: Address is missing (NaN)

Row 16769: Address is missing (NaN)

Row 16770: Address is missing (NaN)

Row 16771: Address is missing (NaN)

Row 16772: Address is missing (NaN)

Row 16773: Address is missing (NaN)

Row 16774: Address is missing (NaN)

Row 16775: Address is missing (NaN)

Row 16776: Address is missing (NaN)

Row 16777: Address is missing (NaN)

Row 16778: Address is missing (NaN)

Row 16779: Address is missing (NaN)

Row 16780: Address is missing (NaN)

Row 16781: Address is missing (NaN)

Row 16782: Address is missing (NaN)

Row 16783: Address is missing (NaN)

Row 16784: Address is missing (NaN)

Row 16785: Address is missing (NaN)

Row 16786: Address is missing (NaN)

Row 16787: Address is missing (NaN)

Row 16788: Address is missing (NaN)

Row 16789: Address is missing (NaN)

Row 16790: Address is missing (NaN)

Row 16791: Address is missing (NaN)

Row 16792: Address is missing (NaN)

Row 16793: Address is missing (NaN)

Row 16794: Address is missing (NaN)

Row 16795: Address is missing (NaN)

Row 16796: Address is missing (NaN)

Row 16797: Address is missing (NaN)

Row 16798: Address is missing (NaN)

Row 16799: Address is missing (NaN)

Row 16800: Address is missing (NaN)

Row 16801: Address is missing (NaN)

Row 16802: Address is missing (NaN)

Row 16803: Address is missing (NaN)

Row 16804: Address is missing (NaN)

Row 16805: Address is missing (NaN)

Row 16806: Address is missing (NaN)

Row 16807: Address is missing (NaN)

Row 16808: Address is missing (NaN)

Row 16809: Address is missing (NaN)

Row 16810: Address is missing (NaN)

Row 16811: Address is missing (NaN)

Row 16812: Address is missing (NaN)

Row 16813: Address is missing (NaN)

Row 16814: Address is missing (NaN)

Row 16815: Address is missing (NaN)

Row 16816: Address is missing (NaN)

Row 16817: Address is missing (NaN)

Row 16818: Address is missing (NaN)

Row 16819: Address is missing (NaN)

Row 16820: Address is missing (NaN)

Row 16821: Address is missing (NaN)

Row 16822: Address is missing (NaN)

Row 16823: Address is missing (NaN)

Row 16824: Address is missing (NaN)

Row 16825: Address is missing (NaN)

Row 16826: Address is missing (NaN)

Row 16827: Address is missing (NaN)

Row 16828: Address is missing (NaN)

Row 16829: Address is missing (NaN)

Row 16830: Address is missing (NaN)

Row 16831: Address is missing (NaN)

Row 16832: Address is missing (NaN)

Row 16833: Address is missing (NaN)

Row 16834: Address is missing (NaN)

Row 16835: Address is missing (NaN)

Row 16836: Address is missing (NaN)

Row 16837: Address is missing (NaN)

Row 16838: Address is missing (NaN)

Row 16839: Address is missing (NaN)

Row 16840: Address is missing (NaN)

Row 16841: Address is missing (NaN)

Row 16842: Address is missing (NaN)

Row 16843: Address is missing (NaN)

Row 16844: Address is missing (NaN)

Row 16845: Address is missing (NaN)

Row 16846: Address is missing (NaN)

Row 16847: Address is missing (NaN)

Row 16848: Address is missing (NaN)

Row 16849: Address is missing (NaN)

Row 16850: Address is missing (NaN)

Row 16851: Address is missing (NaN)

Row 16852: Address is missing (NaN)

Row 16853: Address is missing (NaN)

Row 16854: Address is missing (NaN)

Row 16855: Address is missing (NaN)

Row 16856: Address is missing (NaN)

Row 16857: Address is missing (NaN)

Row 16858: Address is missing (NaN)

Row 16859: Address is missing (NaN)

Row 16860: Address is missing (NaN)

Row 16861: Address is missing (NaN)

Row 16862: Address is missing (NaN)

Row 16863: Address is missing (NaN)

Row 16864: Address is missing (NaN)

Row 16865: Address is missing (NaN)

Row 16866: Address is missing (NaN)

Row 16867: Address is missing (NaN)

Row 16868: Address is missing (NaN)

Row 16869: Address is missing (NaN)

Row 16870: Address is missing (NaN)

Row 16871: Address is missing (NaN)

Row 16872: Address is missing (NaN)

Row 16873: Address is missing (NaN)

Row 16874: Address is missing (NaN)

Row 16875: Address is missing (NaN)

Row 16876: Address is missing (NaN)

Row 16877: Address is missing (NaN)

Row 16878: Address is missing (NaN)

Row 16879: Address is missing (NaN)

Row 16880: Address is missing (NaN)

Row 16881: Address is missing (NaN)

Row 16882: Address is missing (NaN)

Row 16883: Address is missing (NaN)

Row 16884: Address is missing (NaN)

Row 16885: Address is missing (NaN)

Row 16886: Address is missing (NaN)

Row 16887: Address is missing (NaN)

Row 16888: Address is missing (NaN)

Row 16889: Address is missing (NaN)

Row 16890: Address is missing (NaN)

Row 16891: Address is missing (NaN)

Row 16892: Address is missing (NaN)

Row 16893: Address is missing (NaN)

Row 16894: Address is missing (NaN)

Row 16895: Address is missing (NaN)

Row 16896: Address is missing (NaN)

Row 16897: Address is missing (NaN)

Row 16898: Address is missing (NaN)

Row 16899: Address is missing (NaN)

Row 16900: Address is missing (NaN)

Row 16901: Address is missing (NaN)

Row 16902: Address is missing (NaN)

Row 16903: Address is missing (NaN)

Row 16904: Address is missing (NaN)

Row 16905: Address is missing (NaN)

Row 16906: Address is missing (NaN)

Row 16907: Address is missing (NaN)

Row 16908: Address is missing (NaN)

Row 16909: Address is missing (NaN)

Row 16910: Address is missing (NaN)

Row 16911: Address is missing (NaN)

Row 16912: Address is missing (NaN)

Row 16913: Address is missing (NaN)

Row 16914: Address is missing (NaN)

Row 16915: Address is missing (NaN)

Row 16916: Address is missing (NaN)

Row 16917: Address is missing (NaN)

Row 16918: Address is missing (NaN)

Row 16919: Address is missing (NaN)

Row 16920: Address is missing (NaN)

Row 16921: Address is missing (NaN)

Row 16922: Address is missing (NaN)

Row 16923: Address is missing (NaN)

Row 16924: Address is missing (NaN)

Row 16925: Address is missing (NaN)

Row 16926: Address is missing (NaN)

Row 16927: Address is missing (NaN)

Row 16928: Address is missing (NaN)

Row 16929: Address is missing (NaN)

Row 16930: Address is missing (NaN)

Row 16931: Address is missing (NaN)

Row 16932: Address is missing (NaN)

Row 16933: Address is missing (NaN)

Row 16934: Address is missing (NaN)

Row 16935: Address is missing (NaN)

Row 16936: Address is missing (NaN)

Row 16937: Address is missing (NaN)

Row 16938: Address is missing (NaN)

Row 16939: Address is missing (NaN)

Row 16940: Address is missing (NaN)

Row 16941: Address is missing (NaN)

Row 16942: Address is missing (NaN)

Row 16943: Address is missing (NaN)

Row 16944: Address is missing (NaN)

Row 16945: Address is missing (NaN)

Row 16946: Address is missing (NaN)

Row 16947: Address is missing (NaN)

Row 16948: Address is missing (NaN)

Row 16949: Address is missing (NaN)

Row 16950: Address is missing (NaN)

Row 16951: Address is missing (NaN)

Row 16952: Address is missing (NaN)

Row 16953: Address is missing (NaN)

Row 16954: Address is missing (NaN)

Row 16955: Address is missing (NaN)

Row 16956: Address is missing (NaN)

Row 16957: Address is missing (NaN)

Row 16958: Address is missing (NaN)

Row 16959: Address is missing (NaN)

Row 16960: Address is missing (NaN)

Row 16961: Address is missing (NaN)

Row 16962: Address is missing (NaN)

Row 16963: Address is missing (NaN)

Row 16964: Address is missing (NaN)

Row 16965: Address is missing (NaN)

Row 16966: Address is missing (NaN)

Row 16967: Address is missing (NaN)

Row 16968: Address is missing (NaN)

Row 16969: Address is missing (NaN)

Row 16970: Address is missing (NaN)

Row 16971: Address is missing (NaN)

Row 16972: Address is missing (NaN)

Row 16973: Address is missing (NaN)

Row 16974: Address is missing (NaN)

Row 16975: Address is missing (NaN)

Row 16976: Address is missing (NaN)

Row 16977: Address is missing (NaN)

Row 16978: Address is missing (NaN)

Row 16979: Address is missing (NaN)

Row 16980: Address is missing (NaN)

Row 16981: Address is missing (NaN)

Row 16982: Address is missing (NaN)

Row 16983: Address is missing (NaN)

Row 16984: Address is missing (NaN)

Row 16985: Address is missing (NaN)

Row 16986: Address is missing (NaN)

Row 16987: Address is missing (NaN)

Row 16988: Address is missing (NaN)

Row 16989: Address is missing (NaN)

Row 16990: Address is missing (NaN)

Row 16991: Address is missing (NaN)

Row 16992: Address is missing (NaN)

Row 16993: Address is missing (NaN)

Row 16994: Address is missing (NaN)

Row 16995: Address is missing (NaN)

Row 16996: Address is missing (NaN)

Row 16997: Address is missing (NaN)

Row 16998: Address is missing (NaN)

Row 16999: Address is missing (NaN)

Row 17000: Address is missing (NaN)

Row 17001: Address is missing (NaN)

Row 17002: Address is missing (NaN)

Row 17003: Address is missing (NaN)

Row 17004: Address is missing (NaN)

Row 17005: Address is missing (NaN)

Row 17006: Address is missing (NaN)

Row 17007: Address is missing (NaN)

Row 17008: Address is missing (NaN)

Row 17009: Address is missing (NaN)

Row 17010: Address is missing (NaN)

Row 17011: Address is missing (NaN)

Row 17012: Address is missing (NaN)

Row 17013: Address is missing (NaN)

Row 17014: Address is missing (NaN)

Row 17015: Address is missing (NaN)

Row 17016: Address is missing (NaN)

Row 17017: Address is missing (NaN)

Row 17018: Address is missing (NaN)

Row 17019: Address is missing (NaN)

Row 17020: Address is missing (NaN)

Row 17021: Address is missing (NaN)

Row 17022: Address is missing (NaN)

Row 17023: Address is missing (NaN)

Row 17024: Address is missing (NaN)

Row 17025: Address is missing (NaN)

Row 17026: Address is missing (NaN)

Row 17027: Address is missing (NaN)

Row 17028: Address is missing (NaN)

Row 17029: Address is missing (NaN)

Row 17030: Address is missing (NaN)

Row 17031: Address is missing (NaN)

Row 17032: Address is missing (NaN)

Row 17033: Address is missing (NaN)

Row 17034: Address is missing (NaN)

Row 17035: Address is missing (NaN)

Row 17036: Address is missing (NaN)

Row 17037: Address is missing (NaN)

Row 17038: Address is missing (NaN)

Row 17039: Address is missing (NaN)

Row 17040: Address is missing (NaN)

Row 17041: Address is missing (NaN)

Row 17042: Address is missing (NaN)

Row 17043: Address is missing (NaN)

Row 17044: Address is missing (NaN)

Row 17045: Address is missing (NaN)

Row 17046: Address is missing (NaN)

Row 17047: Address is missing (NaN)

Row 17048: Address is missing (NaN)

Row 17049: Address is missing (NaN)

Row 17050: Address is missing (NaN)

Row 17051: Address is missing (NaN)

Row 17052: Address is missing (NaN)

Row 17053: Address is missing (NaN)

Row 17054: Address is missing (NaN)

Row 17055: Address is missing (NaN)

Row 17056: Address is missing (NaN)

Row 17057: Address is missing (NaN)

Row 17058: Address is missing (NaN)

Row 17059: Address is missing (NaN)

Row 17060: Address is missing (NaN)

Row 17061: Address is missing (NaN)

Row 17062: Address is missing (NaN)

Row 17063: Address is missing (NaN)

Row 17064: Address is missing (NaN)

Row 17065: Address is missing (NaN)

Row 17066: Address is missing (NaN)

Row 17067: Address is missing (NaN)

Row 17068: Address is missing (NaN)

Row 17069: Address is missing (NaN)

Row 17070: Address is missing (NaN)

Row 17071: Address is missing (NaN)

Row 17072: Address is missing (NaN)

Row 17073: Address is missing (NaN)

Row 17074: Address is missing (NaN)

Row 17075: Address is missing (NaN)

Row 17076: Address is missing (NaN)

Row 17077: Address is missing (NaN)

Row 17078: Address is missing (NaN)

Row 17079: Address is missing (NaN)

Row 17080: Address is missing (NaN)

Row 17081: Address is missing (NaN)

Row 17082: Address is missing (NaN)

Row 17083: Address is missing (NaN)

Row 17084: Address is missing (NaN)

Row 17085: Address is missing (NaN)

Row 17086: Address is missing (NaN)

Row 17087: Address is missing (NaN)

Row 17088: Address is missing (NaN)

Row 17089: Address is missing (NaN)

Row 17090: Address is missing (NaN)

Row 17091: Address is missing (NaN)

Row 17092: Address is missing (NaN)

Row 17093: Address is missing (NaN)

Row 17094: Address is missing (NaN)

Row 17095: Address is missing (NaN)

Row 17096: Address is missing (NaN)

Row 17097: Address is missing (NaN)

Row 17098: Address is missing (NaN)

Row 17099: Address is missing (NaN)

Row 17100: Address is missing (NaN)

Row 17101: Address is missing (NaN)

Row 17102: Address is missing (NaN)

Row 17103: Address is missing (NaN)

Row 17104: Address is missing (NaN)

Row 17105: Address is missing (NaN)

Row 17106: Address is missing (NaN)

Row 17107: Address is missing (NaN)

Row 17108: Address is missing (NaN)

Row 17109: Address is missing (NaN)

Row 17110: Address is missing (NaN)

Row 17111: Address is missing (NaN)

Row 17112: Address is missing (NaN)

Row 17113: Address is missing (NaN)

Row 17114: Address is missing (NaN)

Row 17115: Address is missing (NaN)

Row 17116: Address is missing (NaN)

Row 17117: Address is missing (NaN)

Row 17118: Address is missing (NaN)

Row 17119: Address is missing (NaN)

Row 17120: Address is missing (NaN)

Row 17121: Address is missing (NaN)

Row 17122: Address is missing (NaN)

Row 17123: Address is missing (NaN)

Row 17124: Address is missing (NaN)

Row 17125: Address is missing (NaN)

Row 17126: Address is missing (NaN)

Row 17127: Address is missing (NaN)

Row 17128: Address is missing (NaN)

Row 17129: Address is missing (NaN)

Row 17130: Address is missing (NaN)

Row 17131: Address is missing (NaN)

Row 17132: Address is missing (NaN)

Row 17133: Address is missing (NaN)

Row 17134: Address is missing (NaN)

Row 17135: Address is missing (NaN)

Row 17136: Address is missing (NaN)

Row 17137: Address is missing (NaN)

Row 17138: Address is missing (NaN)

Row 17139: Address is missing (NaN)

Row 17140: Address is missing (NaN)

Row 17141: Address is missing (NaN)

Row 17142: Address is missing (NaN)

Row 17143: Address is missing (NaN)

Row 17144: Address is missing (NaN)

Row 17145: Address is missing (NaN)

Row 17146: Address is missing (NaN)

Row 17147: Address is missing (NaN)

Row 17148: Address is missing (NaN)

Row 17149: Address is missing (NaN)

Row 17150: Address is missing (NaN)

Row 17151: Address is missing (NaN)

Row 17152: Address is missing (NaN)

Row 17153: Address is missing (NaN)

Row 17154: Address is missing (NaN)

Row 17155: Address is missing (NaN)

Row 17156: Address is missing (NaN)

Row 17157: Address is missing (NaN)

Row 17158: Address is missing (NaN)

Row 17159: Address is missing (NaN)

Row 17160: Address is missing (NaN)

Row 17161: Address is missing (NaN)

Row 17162: Address is missing (NaN)

Row 17163: Address is missing (NaN)

Row 17164: Address is missing (NaN)

Row 17165: Address is missing (NaN)

Row 17166: Address is missing (NaN)

Row 17167: Address is missing (NaN)

Row 17168: Address is missing (NaN)

Row 17169: Address is missing (NaN)

Row 17170: Address is missing (NaN)

Row 17171: Address is missing (NaN)

Row 17172: Address is missing (NaN)

Row 17173: Address is missing (NaN)

Row 17174: Address is missing (NaN)

Row 17175: Address is missing (NaN)

Row 17176: Address is missing (NaN)

Row 17177: Address is missing (NaN)

Row 17178: Address is missing (NaN)

Row 17179: Address is missing (NaN)

Row 17180: Address is missing (NaN)

Row 17181: Address is missing (NaN)

Row 17182: Address is missing (NaN)

Row 17183: Address is missing (NaN)

Row 17184: Address is missing (NaN)

Row 17185: Address is missing (NaN)

Row 17186: Address is missing (NaN)

Row 17187: Address is missing (NaN)

Row 17188: Address is missing (NaN)

Row 17189: Address is missing (NaN)

Row 17190: Address is missing (NaN)

Row 17191: Address is missing (NaN)

Row 17192: Address is missing (NaN)

Row 17193: Address is missing (NaN)

Row 17194: Address is missing (NaN)

Row 17195: Address is missing (NaN)

Row 17196: Address is missing (NaN)

Row 17197: Address is missing (NaN)

Row 17198: Address is missing (NaN)

Row 17199: Address is missing (NaN)

Row 17200: Address is missing (NaN)

Row 17201: Address is missing (NaN)

Row 17202: Address is missing (NaN)

Row 17203: Address is missing (NaN)

Row 17204: Address is missing (NaN)

Row 17205: Address is missing (NaN)

Row 17206: Address is missing (NaN)

Row 17207: Address is missing (NaN)

Row 17208: Address is missing (NaN)

Row 17209: Address is missing (NaN)

Row 17210: Address is missing (NaN)

Row 17211: Address is missing (NaN)

Row 17212: Address is missing (NaN)

Row 17213: Address is missing (NaN)

Row 17214: Address is missing (NaN)

Row 17215: Address is missing (NaN)

Row 17216: Address is missing (NaN)

Row 17217: Address is missing (NaN)

Row 17218: Address is missing (NaN)

Row 17219: Address is missing (NaN)

Row 17220: Address is missing (NaN)

Row 17221: Address is missing (NaN)

Row 17222: Address is missing (NaN)

Row 17223: Address is missing (NaN)

Row 17224: Address is missing (NaN)

Row 17225: Address is missing (NaN)

Row 17226: Address is missing (NaN)

Row 17227: Address is missing (NaN)

Row 17228: Address is missing (NaN)

Row 17229: Address is missing (NaN)

Row 17230: Address is missing (NaN)

Row 17231: Address is missing (NaN)

Row 17232: Address is missing (NaN)

Row 17233: Address is missing (NaN)

Row 17234: Address is missing (NaN)

Row 17235: Address is missing (NaN)

Row 17236: Address is missing (NaN)

Row 17237: Address is missing (NaN)

Row 17238: Address is missing (NaN)

Row 17239: Address is missing (NaN)

Row 17240: Address is missing (NaN)

Row 17241: Address is missing (NaN)

Row 17242: Address is missing (NaN)

Row 17243: Address is missing (NaN)

Row 17244: Address is missing (NaN)

Row 17245: Address is missing (NaN)

Row 17246: Address is missing (NaN)

Row 17247: Address is missing (NaN)

Row 17248: Address is missing (NaN)

Row 17249: Address is missing (NaN)

Row 17250: Address is missing (NaN)

Row 17251: Address is missing (NaN)

Row 17252: Address is missing (NaN)

Row 17253: Address is missing (NaN)

Row 17254: Address is missing (NaN)

Row 17255: Address is missing (NaN)

Row 17256: Address is missing (NaN)

Row 17257: Address is missing (NaN)

Row 17258: Address is missing (NaN)

Row 17259: Address is missing (NaN)

Row 17260: Address is missing (NaN)

Row 17261: Address is missing (NaN)

Row 17262: Address is missing (NaN)

Row 17263: Address is missing (NaN)

Row 17264: Address is missing (NaN)

Row 17265: Address is missing (NaN)

Row 17266: Address is missing (NaN)

Row 17267: Address is missing (NaN)

Row 17268: Address is missing (NaN)

Row 17269: Address is missing (NaN)

Row 17270: Address is missing (NaN)

Row 17271: Address is missing (NaN)

Row 17272: Address is missing (NaN)

Row 17273: Address is missing (NaN)

Row 17274: Address is missing (NaN)

Row 17275: Address is missing (NaN)

Row 17276: Address is missing (NaN)

Row 17277: Address is missing (NaN)

Row 17278: Address is missing (NaN)

Row 17279: Address is missing (NaN)

Row 17280: Address is missing (NaN)

Row 17281: Address is missing (NaN)

Row 17282: Address is missing (NaN)

Row 17283: Address is missing (NaN)

Row 17284: Address is missing (NaN)

Row 17285: Address is missing (NaN)

Row 17286: Address is missing (NaN)

Row 17287: Address is missing (NaN)

Row 17288: Address is missing (NaN)

Row 17289: Address is missing (NaN)

Row 17290: Address is missing (NaN)

Row 17291: Address is missing (NaN)

Row 17292: Address is missing (NaN)

Row 17293: Address is missing (NaN)

Row 17294: Address is missing (NaN)

Row 17295: Address is missing (NaN)

Row 17296: Address is missing (NaN)

Row 17297: Address is missing (NaN)

Row 17298: Address is missing (NaN)

Row 17299: Address is missing (NaN)

Row 17300: Address is missing (NaN)

Row 17301: Address is missing (NaN)

Row 17302: Address is missing (NaN)

Row 17303: Address is missing (NaN)

Row 17304: Address is missing (NaN)

Row 17305: Address is missing (NaN)

Row 17306: Address is missing (NaN)

Row 17307: Address is missing (NaN)

Row 17308: Address is missing (NaN)

Row 17309: Address is missing (NaN)

Row 17310: Address is missing (NaN)

Row 17311: Address is missing (NaN)

Row 17312: Address is missing (NaN)

Row 17313: Address is missing (NaN)

Row 17314: Address is missing (NaN)

Row 17315: Address is missing (NaN)

Row 17316: Address is missing (NaN)

Row 17317: Address is missing (NaN)

Row 17318: Address is missing (NaN)

Row 17319: Address is missing (NaN)

Row 17320: Address is missing (NaN)

Row 17321: Address is missing (NaN)

Row 17322: Address is missing (NaN)

Row 17323: Address is missing (NaN)

Row 17324: Address is missing (NaN)

Row 17325: Address is missing (NaN)

Row 17326: Address is missing (NaN)

Row 17327: Address is missing (NaN)

Row 17328: Address is missing (NaN)

Row 17329: Address is missing (NaN)

Row 17330: Address is missing (NaN)

Row 17331: Address is missing (NaN)

Row 17332: Address is missing (NaN)

Row 17333: Address is missing (NaN)

Row 17334: Address is missing (NaN)

Row 17335: Address is missing (NaN)

Row 17336: Address is missing (NaN)

Row 17337: Address is missing (NaN)

Row 17338: Address is missing (NaN)

Row 17339: Address is missing (NaN)

Row 17340: Address is missing (NaN)

Row 17341: Address is missing (NaN)

Row 17342: Address is missing (NaN)

Row 17343: Address is missing (NaN)

Row 17344: Address is missing (NaN)

Row 17345: Address is missing (NaN)

Row 17346: Address is missing (NaN)

Row 17347: Address is missing (NaN)

Row 17348: Address is missing (NaN)

Row 17349: Address is missing (NaN)

Row 17350: Address is missing (NaN)

Row 17351: Address is missing (NaN)

Row 17352: Address is missing (NaN)

Row 17353: Address is missing (NaN)

Row 17354: Address is missing (NaN)

Row 17355: Address is missing (NaN)

Row 17356: Address is missing (NaN)

Row 17357: Address is missing (NaN)

Row 17358: Address is missing (NaN)

Row 17359: Address is missing (NaN)

Row 17360: Address is missing (NaN)

Row 17361: Address is missing (NaN)

Row 17362: Address is missing (NaN)

Row 17363: Address is missing (NaN)

Row 17364: Address is missing (NaN)

Row 17365: Address is missing (NaN)

Row 17366: Address is missing (NaN)

Row 17367: Address is missing (NaN)

Row 17368: Address is missing (NaN)

Row 17369: Address is missing (NaN)

Row 17370: Address is missing (NaN)

Row 17371: Address is missing (NaN)

Row 17372: Address is missing (NaN)

Row 17373: Address is missing (NaN)

Row 17374: Address is missing (NaN)

Row 17375: Address is missing (NaN)

Row 17376: Address is missing (NaN)

Row 17377: Address is missing (NaN)

Row 17378: Address is missing (NaN)

Row 17379: Address is missing (NaN)

Row 17380: Address is missing (NaN)

Row 17381: Address is missing (NaN)

Row 17382: Address is missing (NaN)

Row 17383: Address is missing (NaN)

Row 17384: Address is missing (NaN)

Row 17385: Address is missing (NaN)

Row 17386: Address is missing (NaN)

Row 17387: Address is missing (NaN)

Row 17388: Address is missing (NaN)

Row 17389: Address is missing (NaN)

Row 17390: Address is missing (NaN)

Row 17391: Address is missing (NaN)

Row 17392: Address is missing (NaN)

Row 17393: Address is missing (NaN)

Row 17394: Address is missing (NaN)

Row 17395: Address is missing (NaN)

Row 17396: Address is missing (NaN)

Row 17397: Address is missing (NaN)

Row 17398: Address is missing (NaN)

Row 17399: Address is missing (NaN)

Row 17400: Address is missing (NaN)

Row 17401: Address is missing (NaN)

Row 17402: Address is missing (NaN)

Row 17403: Address is missing (NaN)

Row 17404: Address is missing (NaN)

Row 17405: Address is missing (NaN)

Row 17406: Address is missing (NaN)

Row 17407: Address is missing (NaN)

Row 17408: Address is missing (NaN)

Row 17409: Address is missing (NaN)

Row 17410: Address is missing (NaN)

Row 17411: Address is missing (NaN)

Row 17412: Address is missing (NaN)

Row 17413: Address is missing (NaN)

Row 17414: Address is missing (NaN)

Row 17415: Address is missing (NaN)

Row 17416: Address is missing (NaN)

Row 17417: Address is missing (NaN)

Row 17418: Address is missing (NaN)

Row 17419: Address is missing (NaN)

Row 17420: Address is missing (NaN)

Row 17421: Address is missing (NaN)

Row 17422: Address is missing (NaN)

Row 17423: Address is missing (NaN)

Row 17424: Address is missing (NaN)

Row 17425: Address is missing (NaN)

Row 17426: Address is missing (NaN)

Row 17427: Address is missing (NaN)

Row 17428: Address is missing (NaN)

Row 17429: Address is missing (NaN)

Row 17430: Address is missing (NaN)

Row 17431: Address is missing (NaN)

Row 17432: Address is missing (NaN)

Row 17433: Address is missing (NaN)

Row 17434: Address is missing (NaN)

Row 17435: Address is missing (NaN)

Row 17436: Address is missing (NaN)

Row 17437: Address is missing (NaN)

Row 17438: Address is missing (NaN)

Row 17439: Address is missing (NaN)

Row 17440: Address is missing (NaN)

Row 17441: Address is missing (NaN)

Row 17442: Address is missing (NaN)

Row 17443: Address is missing (NaN)

Row 17444: Address is missing (NaN)

Row 17445: Address is missing (NaN)

Row 17446: Address is missing (NaN)

Row 17447: Address is missing (NaN)

Row 17448: Address is missing (NaN)

Row 17449: Address is missing (NaN)

Row 17450: Address is missing (NaN)

Row 17451: Address is missing (NaN)

Row 17452: Address is missing (NaN)

Row 17453: Address is missing (NaN)

Row 17454: Address is missing (NaN)

Row 17455: Address is missing (NaN)

Row 17456: Address is missing (NaN)

Row 17457: Address is missing (NaN)

Row 17458: Address is missing (NaN)

Row 17459: Address is missing (NaN)

Row 17460: Address is missing (NaN)

Row 17461: Address is missing (NaN)

Row 17462: Address is missing (NaN)

Row 17463: Address is missing (NaN)

Row 17464: Address is missing (NaN)

Row 17465: Address is missing (NaN)

Row 17466: Address is missing (NaN)

Row 17467: Address is missing (NaN)

Row 17468: Address is missing (NaN)

Row 17469: Address is missing (NaN)

Row 17470: Address is missing (NaN)

Row 17471: Address is missing (NaN)

Row 17472: Address is missing (NaN)

Row 17473: Address is missing (NaN)

Row 17474: Address is missing (NaN)

Row 17475: Address is missing (NaN)

Row 17476: Address is missing (NaN)

Row 17477: Address is missing (NaN)

Row 17478: Address is missing (NaN)

Row 17479: Address is missing (NaN)

Row 17480: Address is missing (NaN)

Row 17481: Address is missing (NaN)

Row 17482: Address is missing (NaN)

Row 17483: Address is missing (NaN)

Row 17484: Address is missing (NaN)

Row 17485: Address is missing (NaN)

Row 17486: Address is missing (NaN)

Row 17487: Address is missing (NaN)

Row 17488: Address is missing (NaN)

Row 17489: Address is missing (NaN)

Row 17490: Address is missing (NaN)

Row 17491: Address is missing (NaN)

Row 17492: Address is missing (NaN)

Row 17493: Address is missing (NaN)

Row 17494: Address is missing (NaN)

Row 17495: Address is missing (NaN)

Row 17496: Address is missing (NaN)

Row 17497: Address is missing (NaN)

Row 17498: Address is missing (NaN)

Row 17499: Address is missing (NaN)

Row 17500: Address is missing (NaN)

Row 17501: Address is missing (NaN)

Row 17502: Address is missing (NaN)

Row 17503: Address is missing (NaN)

Row 17504: Address is missing (NaN)

Row 17505: Address is missing (NaN)

Row 17506: Address is missing (NaN)

Row 17507: Address is missing (NaN)

Row 17508: Address is missing (NaN)

Row 17509: Address is missing (NaN)

Row 17510: Address is missing (NaN)

Row 17511: Address is missing (NaN)

Row 17512: Address is missing (NaN)

Row 17513: Address is missing (NaN)

Row 17514: Address is missing (NaN)

Row 17515: Address is missing (NaN)

Row 17516: Address is missing (NaN)

Row 17517: Address is missing (NaN)

Row 17518: Address is missing (NaN)

Row 17519: Address is missing (NaN)

Row 17520: Address is missing (NaN)

Row 17521: Address is missing (NaN)

Row 17522: Address is missing (NaN)

Row 17523: Address is missing (NaN)

Row 17524: Address is missing (NaN)

Row 17525: Address is missing (NaN)

Row 17526: Address is missing (NaN)

Row 17527: Address is missing (NaN)

Row 17528: Address is missing (NaN)

Row 17529: Address is missing (NaN)

Row 17530: Address is missing (NaN)

Row 17531: Address is missing (NaN)

Row 17532: Address is missing (NaN)

Row 17533: Address is missing (NaN)

Row 17534: Address is missing (NaN)

Row 17535: Address is missing (NaN)

Row 17536: Address is missing (NaN)

Row 17537: Address is missing (NaN)

Row 17538: Address is missing (NaN)

Row 17539: Address is missing (NaN)

Row 17540: Address is missing (NaN)

Row 17541: Address is missing (NaN)

Row 17542: Address is missing (NaN)

Row 17543: Address is missing (NaN)

Row 17544: Address is missing (NaN)

Row 17545: Address is missing (NaN)

Row 17546: Address is missing (NaN)

Row 17547: Address is missing (NaN)

Row 17548: Address is missing (NaN)

Row 17549: Address is missing (NaN)

Row 17550: Address is missing (NaN)

Row 17551: Address is missing (NaN)

Row 17552: Address is missing (NaN)

Row 17553: Address is missing (NaN)

Row 17554: Address is missing (NaN)

Row 17555: Address is missing (NaN)

Row 17556: Address is missing (NaN)

Row 17557: Address is missing (NaN)

Row 17558: Address is missing (NaN)

Row 17559: Address is missing (NaN)

Row 17560: Address is missing (NaN)

Row 17561: Address is missing (NaN)

Row 17562: Address is missing (NaN)

Row 17563: Address is missing (NaN)

Row 17564: Address is missing (NaN)

Row 17565: Address is missing (NaN)

Row 17566: Address is missing (NaN)

Row 17567: Address is missing (NaN)

Row 17568: Address is missing (NaN)

Row 17569: Address is missing (NaN)

Row 17570: Address is missing (NaN)

Row 17571: Address is missing (NaN)

Row 17572: Address is missing (NaN)

Row 17573: Address is missing (NaN)

Row 17574: Address is missing (NaN)

Row 17575: Address is missing (NaN)

Row 17576: Address is missing (NaN)

Row 17577: Address is missing (NaN)

Row 17578: Address is missing (NaN)

Row 17579: Address is missing (NaN)

Row 17580: Address is missing (NaN)

Row 17581: Address is missing (NaN)

Row 17582: Address is missing (NaN)

Row 17583: Address is missing (NaN)

Row 17584: Address is missing (NaN)

Row 17585: Address is missing (NaN)

Row 17586: Address is missing (NaN)

Row 17587: Address is missing (NaN)

Row 17588: Address is missing (NaN)

Row 17589: Address is missing (NaN)

Row 17590: Address is missing (NaN)

Row 17591: Address is missing (NaN)

Row 17592: Address is missing (NaN)

Row 17593: Address is missing (NaN)

Row 17594: Address is missing (NaN)

Row 17595: Address is missing (NaN)

Row 17596: Address is missing (NaN)

Row 17597: Address is missing (NaN)

Row 17598: Address is missing (NaN)

Row 17599: Address is missing (NaN)

Row 17600: Address is missing (NaN)

Row 17601: Address is missing (NaN)

Row 17602: Address is missing (NaN)

Row 17603: Address is missing (NaN)

Row 17604: Address is missing (NaN)

Row 17605: Address is missing (NaN)

Row 17606: Address is missing (NaN)

Row 17607: Address is missing (NaN)

Row 17608: Address is missing (NaN)

Row 17609: Address is missing (NaN)

Row 17610: Address is missing (NaN)

Row 17611: Address is missing (NaN)

Row 17612: Address is missing (NaN)

Row 17613: Address is missing (NaN)

Row 17614: Address is missing (NaN)

Row 17615: Address is missing (NaN)

Row 17616: Address is missing (NaN)

Row 17617: Address is missing (NaN)

Row 17618: Address is missing (NaN)

Row 17619: Address is missing (NaN)

Row 17620: Address is missing (NaN)

Row 17621: Address is missing (NaN)

Row 17622: Address is missing (NaN)

Row 17623: Address is missing (NaN)

Row 17624: Address is missing (NaN)

Row 17625: Address is missing (NaN)

Row 17626: Address is missing (NaN)

Row 17627: Address is missing (NaN)

Row 17628: Address is missing (NaN)

Row 17629: Address is missing (NaN)

Row 17630: Address is missing (NaN)

Row 17631: Address is missing (NaN)

Row 17632: Address is missing (NaN)

Row 17633: Address is missing (NaN)

Row 17634: Address is missing (NaN)

Row 17635: Address is missing (NaN)

Row 17636: Address is missing (NaN)

Row 17637: Address is missing (NaN)

Row 17638: Address is missing (NaN)

Row 17639: Address is missing (NaN)

Row 17640: Address is missing (NaN)

Row 17641: Address is missing (NaN)

Row 17642: Address is missing (NaN)

Row 17643: Address is missing (NaN)

Row 17644: Address is missing (NaN)

Row 17645: Address is missing (NaN)

Row 17646: Address is missing (NaN)

Row 17647: Address is missing (NaN)

Row 17648: Address is missing (NaN)

Row 17649: Address is missing (NaN)

Row 17650: Address is missing (NaN)

Row 17651: Address is missing (NaN)

Row 17652: Address is missing (NaN)

Row 17653: Address is missing (NaN)

Row 17654: Address is missing (NaN)

Row 17655: Address is missing (NaN)

Row 17656: Address is missing (NaN)

Row 17657: Address is missing (NaN)

Row 17658: Address is missing (NaN)

Row 17659: Address is missing (NaN)

Row 17660: Address is missing (NaN)

Row 17661: Address is missing (NaN)

Row 17662: Address is missing (NaN)

Row 17663: Address is missing (NaN)

Row 17664: Address is missing (NaN)

Row 17665: Address is missing (NaN)

Row 17666: Address is missing (NaN)

Row 17667: Address is missing (NaN)

Row 17668: Address is missing (NaN)

Row 17669: Address is missing (NaN)

Row 17670: Address is missing (NaN)

Row 17671: Address is missing (NaN)

Row 17672: Address is missing (NaN)

Row 17673: Address is missing (NaN)

Row 17674: Address is missing (NaN)

Row 17675: Address is missing (NaN)

Row 17676: Address is missing (NaN)

Row 17677: Address is missing (NaN)

Row 17678: Address is missing (NaN)

Row 17679: Address is missing (NaN)

Row 17680: Address is missing (NaN)

Row 17681: Address is missing (NaN)

Row 17682: Address is missing (NaN)

Row 17683: Address is missing (NaN)

Row 17684: Address is missing (NaN)

Row 17685: Address is missing (NaN)

Row 17686: Address is missing (NaN)

Row 17687: Address is missing (NaN)

Row 17688: Address is missing (NaN)

Row 17689: Address is missing (NaN)

Row 17690: Address is missing (NaN)

Row 17691: Address is missing (NaN)

Row 17692: Address is missing (NaN)

Row 17693: Address is missing (NaN)

Row 17694: Address is missing (NaN)

Row 17695: Address is missing (NaN)

Row 17696: Address is missing (NaN)

Row 17697: Address is missing (NaN)

Row 17698: Address is missing (NaN)

Row 17699: Address is missing (NaN)

Row 17700: Address is missing (NaN)

Row 17701: Address is missing (NaN)

Row 17702: Address is missing (NaN)

Row 17703: Address is missing (NaN)

Row 17704: Address is missing (NaN)

Row 17705: Address is missing (NaN)

Row 17706: Address is missing (NaN)

Row 17707: Address is missing (NaN)

Row 17708: Address is missing (NaN)

Row 17709: Address is missing (NaN)

Row 17710: Address is missing (NaN)

Row 17711: Address is missing (NaN)

Row 17712: Address is missing (NaN)

Row 17713: Address is missing (NaN)

Row 17714: Address is missing (NaN)

Row 17715: Address is missing (NaN)

Row 17716: Address is missing (NaN)

Row 17717: Address is missing (NaN)

Row 17718: Address is missing (NaN)

Row 17719: Address is missing (NaN)

Row 17720: Address is missing (NaN)

Row 17721: Address is missing (NaN)

Row 17722: Address is missing (NaN)

Row 17723: Address is missing (NaN)

Row 17724: Address is missing (NaN)

Row 17725: Address is missing (NaN)

Row 17726: Address is missing (NaN)

Row 17727: Address is missing (NaN)

Row 17728: Address is missing (NaN)

Row 17729: Address is missing (NaN)

Row 17730: Address is missing (NaN)

Row 17731: Address is missing (NaN)

Row 17732: Address is missing (NaN)

Row 17733: Address is missing (NaN)

Row 17734: Address is missing (NaN)

Row 17735: Address is missing (NaN)

Row 17736: Address is missing (NaN)

Row 17737: Address is missing (NaN)

Row 17738: Address is missing (NaN)

Row 17739: Address is missing (NaN)

Row 17740: Address is missing (NaN)

Row 17741: Address is missing (NaN)

Row 17742: Address is missing (NaN)

Row 17743: Address is missing (NaN)

Row 17744: Address is missing (NaN)

Row 17745: Address is missing (NaN)

Row 17746: Address is missing (NaN)

Row 17747: Address is missing (NaN)

Row 17748: Address is missing (NaN)

Row 17749: Address is missing (NaN)

Row 17750: Address is missing (NaN)

Row 17751: Address is missing (NaN)

Row 17752: Address is missing (NaN)

Row 17753: Address is missing (NaN)

Row 17754: Address is missing (NaN)

Row 17755: Address is missing (NaN)

Row 17756: Address is missing (NaN)

Row 17757: Address is missing (NaN)

Row 17758: Address is missing (NaN)

Row 17759: Address is missing (NaN)

Row 17760: Address is missing (NaN)

Row 17761: Address is missing (NaN)

Row 17762: Address is missing (NaN)

Row 17763: Address is missing (NaN)

Row 17764: Address is missing (NaN)

Row 17765: Address is missing (NaN)

Row 17766: Address is missing (NaN)

Row 17767: Address is missing (NaN)

Row 17768: Address is missing (NaN)

Row 17769: Address is missing (NaN)

Row 17770: Address is missing (NaN)

Row 17771: Address is missing (NaN)

Row 17772: Address is missing (NaN)

Row 17773: Address is missing (NaN)

Row 17774: Address is missing (NaN)

Row 17775: Address is missing (NaN)

Row 17776: Address is missing (NaN)

Row 17777: Address is missing (NaN)

Row 17778: Address is missing (NaN)

Row 17779: Address is missing (NaN)

Row 17780: Address is missing (NaN)

Row 17781: Address is missing (NaN)

Row 17782: Address is missing (NaN)

Row 17783: Address is missing (NaN)

Row 17784: Address is missing (NaN)

Row 17785: Address is missing (NaN)

Row 17786: Address is missing (NaN)

Row 17787: Address is missing (NaN)

Row 17788: Address is missing (NaN)

Row 17789: Address is missing (NaN)

Row 17790: Address is missing (NaN)

Row 17791: Address is missing (NaN)

Row 17792: Address is missing (NaN)

Row 17793: Address is missing (NaN)

Row 17794: Address is missing (NaN)

Row 17795: Address is missing (NaN)

Row 17796: Address is missing (NaN)

Row 17797: Address is missing (NaN)

Row 17798: Address is missing (NaN)

Row 17799: Address is missing (NaN)

Row 17800: Address is missing (NaN)

Row 17801: Address is missing (NaN)

Row 17802: Address is missing (NaN)

Row 17803: Address is missing (NaN)

Row 17804: Address is missing (NaN)

Row 17805: Address is missing (NaN)

Row 17806: Address is missing (NaN)

Row 17807: Address is missing (NaN)

Row 17808: Address is missing (NaN)

Row 17809: Address is missing (NaN)

Row 17810: Address is missing (NaN)

Row 17811: Address is missing (NaN)

Row 17812: Address is missing (NaN)

Row 17813: Address is missing (NaN)

Row 17814: Address is missing (NaN)

Row 17815: Address is missing (NaN)

Row 17816: Address is missing (NaN)

Row 17817: Address is missing (NaN)

Row 17818: Address is missing (NaN)

Row 17819: Address is missing (NaN)

Row 17820: Address is missing (NaN)

Row 17821: Address is missing (NaN)

Row 17822: Address is missing (NaN)

Row 17823: Address is missing (NaN)

Row 17824: Address is missing (NaN)

Row 17825: Address is missing (NaN)

Row 17826: Address is missing (NaN)

Row 17827: Address is missing (NaN)

Row 17828: Address is missing (NaN)

Row 17829: Address is missing (NaN)

Row 17830: Address is missing (NaN)

Row 17831: Address is missing (NaN)

Row 17832: Address is missing (NaN)

Row 17833: Address is missing (NaN)

Row 17834: Address is missing (NaN)

Row 17835: Address is missing (NaN)

Row 17836: Address is missing (NaN)

Row 17837: Address is missing (NaN)

Row 17838: Address is missing (NaN)

Row 17839: Address is missing (NaN)

Row 17840: Address is missing (NaN)

Row 17841: Address is missing (NaN)

Row 17842: Address is missing (NaN)

Row 17843: Address is missing (NaN)

Row 17844: Address is missing (NaN)

Row 17845: Address is missing (NaN)

Row 17846: Address is missing (NaN)

Row 17847: Address is missing (NaN)

Row 17848: Address is missing (NaN)

Row 17849: Address is missing (NaN)

Row 17850: Address is missing (NaN)

Row 17851: Address is missing (NaN)

Row 17852: Address is missing (NaN)

Row 17853: Address is missing (NaN)

Row 17854: Address is missing (NaN)

Row 17855: Address is missing (NaN)

Row 17856: Address is missing (NaN)

Row 17857: Address is missing (NaN)

Row 17858: Address is missing (NaN)

Row 17859: Address is missing (NaN)

Row 17860: Address is missing (NaN)

Row 17861: Address is missing (NaN)

Row 17862: Address is missing (NaN)

Row 17863: Address is missing (NaN)

Row 17864: Address is missing (NaN)

Row 17865: Address is missing (NaN)

Row 17866: Address is missing (NaN)

Row 17867: Address is missing (NaN)

Row 17868: Address is missing (NaN)

Row 17869: Address is missing (NaN)

Row 17870: Address is missing (NaN)

Row 17871: Address is missing (NaN)

Row 17872: Address is missing (NaN)

Row 17873: Address is missing (NaN)

Row 17874: Address is missing (NaN)

Row 17875: Address is missing (NaN)

Row 17876: Address is missing (NaN)

Row 17877: Address is missing (NaN)

Row 17878: Address is missing (NaN)

Row 17879: Address is missing (NaN)

Row 17880: Address is missing (NaN)

Row 17881: Address is missing (NaN)

Row 17882: Address is missing (NaN)

Row 17883: Address is missing (NaN)

Row 17884: Address is missing (NaN)

Row 17885: Address is missing (NaN)

Row 17886: Address is missing (NaN)

Row 17887: Address is missing (NaN)

Row 17888: Address is missing (NaN)

Row 17889: Address is missing (NaN)

Row 17890: Address is missing (NaN)

Row 17891: Address is missing (NaN)

Row 17892: Address is missing (NaN)

Row 17893: Address is missing (NaN)

Row 17894: Address is missing (NaN)

Row 17895: Address is missing (NaN)

Row 17896: Address is missing (NaN)

Row 17897: Address is missing (NaN)

Row 17898: Address is missing (NaN)

Row 17899: Address is missing (NaN)

Row 17900: Address is missing (NaN)

Row 17901: Address is missing (NaN)

Row 17902: Address is missing (NaN)

Row 17903: Address is missing (NaN)

Row 17904: Address is missing (NaN)

Row 17905: Address is missing (NaN)

Row 17906: Address is missing (NaN)

Row 17907: Address is missing (NaN)

Row 17908: Address is missing (NaN)

Row 17909: Address is missing (NaN)

Row 17910: Address is missing (NaN)

Row 17911: Address is missing (NaN)

Row 17912: Address is missing (NaN)

Row 17913: Address is missing (NaN)

Row 17914: Address is missing (NaN)

Row 17915: Address is missing (NaN)

Row 17916: Address is missing (NaN)

Row 17917: Address is missing (NaN)

Row 17918: Address is missing (NaN)

Row 17919: Address is missing (NaN)

Row 17920: Address is missing (NaN)

Row 17921: Address is missing (NaN)

Row 17922: Address is missing (NaN)

Row 17923: Address is missing (NaN)

Row 17924: Address is missing (NaN)

Row 17925: Address is missing (NaN)

Row 17926: Address is missing (NaN)

Row 17927: Address is missing (NaN)

Row 17928: Address is missing (NaN)

Row 17929: Address is missing (NaN)

Row 17930: Address is missing (NaN)

Row 17931: Address is missing (NaN)

Row 17932: Address is missing (NaN)

Row 17933: Address is missing (NaN)

Row 17934: Address is missing (NaN)

Row 17935: Address is missing (NaN)

Row 17936: Address is missing (NaN)

Row 17937: Address is missing (NaN)

Row 17938: Address is missing (NaN)

Row 17939: Address is missing (NaN)

Row 17940: Address is missing (NaN)

Row 17941: Address is missing (NaN)

Row 17942: Address is missing (NaN)

Row 17943: Address is missing (NaN)

Row 17944: Address is missing (NaN)

Row 17945: Address is missing (NaN)

Row 17946: Address is missing (NaN)

Row 17947: Address is missing (NaN)

Row 17948: Address is missing (NaN)

Row 17949: Address is missing (NaN)

Row 17950: Address is missing (NaN)

Row 17951: Address is missing (NaN)

Row 17952: Address is missing (NaN)

Row 17953: Address is missing (NaN)

Row 17954: Address is missing (NaN)

Row 17955: Address is missing (NaN)

Row 17956: Address is missing (NaN)

Row 17957: Address is missing (NaN)

Row 17958: Address is missing (NaN)

Row 17959: Address is missing (NaN)

Row 17960: Address is missing (NaN)

Row 17961: Address is missing (NaN)

Row 17962: Address is missing (NaN)

Row 17963: Address is missing (NaN)

Row 17964: Address is missing (NaN)

Row 17965: Address is missing (NaN)

Row 17966: Address is missing (NaN)

Row 17967: Address is missing (NaN)

Row 17968: Address is missing (NaN)

Row 17969: Address is missing (NaN)

Row 17970: Address is missing (NaN)

Row 17971: Address is missing (NaN)

Row 17972: Address is missing (NaN)

Row 17973: Address is missing (NaN)

Row 17974: Address is missing (NaN)

Row 17975: Address is missing (NaN)

Row 17976: Address is missing (NaN)

Row 17977: Address is missing (NaN)

Row 17978: Address is missing (NaN)

Row 17979: Address is missing (NaN)

Row 17980: Address is missing (NaN)

Row 17981: Address is missing (NaN)

Row 17982: Address is missing (NaN)

Row 17983: Address is missing (NaN)

Row 17984: Address is missing (NaN)

Row 17985: Address is missing (NaN)

Row 17986: Address is missing (NaN)

Row 17987: Address is missing (NaN)

Row 17988: Address is missing (NaN)

Row 17989: Address is missing (NaN)

Row 17990: Address is missing (NaN)

Row 17991: Address is missing (NaN)

Row 17992: Address is missing (NaN)

Row 17993: Address is missing (NaN)

Row 17994: Address is missing (NaN)

Row 17995: Address is missing (NaN)

Row 17996: Address is missing (NaN)

Row 17997: Address is missing (NaN)

Row 17998: Address is missing (NaN)

Row 17999: Address is missing (NaN)

Row 18000: Address is missing (NaN)

Row 18001: Address is missing (NaN)

Row 18002: Address is missing (NaN)

Row 18003: Address is missing (NaN)

Row 18004: Address is missing (NaN)

Row 18005: Address is missing (NaN)

Row 18006: Address is missing (NaN)

Row 18007: Address is missing (NaN)

Row 18008: Address is missing (NaN)

Row 18009: Address is missing (NaN)

Row 18010: Address is missing (NaN)

Row 18011: Address is missing (NaN)

Row 18012: Address is missing (NaN)

Row 18013: Address is missing (NaN)

Row 18014: Address is missing (NaN)

Row 18015: Address is missing (NaN)

Row 18016: Address is missing (NaN)

Row 18017: Address is missing (NaN)

Row 18018: Address is missing (NaN)

Row 18019: Address is missing (NaN)

Row 18020: Address is missing (NaN)

Row 18021: Address is missing (NaN)

Row 18022: Address is missing (NaN)

Row 18023: Address is missing (NaN)

Row 18024: Address is missing (NaN)

Row 18025: Address is missing (NaN)

Row 18026: Address is missing (NaN)

Row 18027: Address is missing (NaN)

Row 18028: Address is missing (NaN)

Row 18029: Address is missing (NaN)

Row 18030: Address is missing (NaN)

Row 18031: Address is missing (NaN)

Row 18032: Address is missing (NaN)

Row 18033: Address is missing (NaN)

Row 18034: Address is missing (NaN)

Row 18035: Address is missing (NaN)

Row 18036: Address is missing (NaN)

Row 18037: Address is missing (NaN)

Row 18038: Address is missing (NaN)

Row 18039: Address is missing (NaN)

Row 18040: Address is missing (NaN)

Row 18041: Address is missing (NaN)

Row 18042: Address is missing (NaN)

Row 18043: Address is missing (NaN)

Row 18044: Address is missing (NaN)

Row 18045: Address is missing (NaN)

Row 18046: Address is missing (NaN)

Row 18047: Address is missing (NaN)

Row 18048: Address is missing (NaN)

Row 18049: Address is missing (NaN)

Row 18050: Address is missing (NaN)

Row 18051: Address is missing (NaN)

Row 18052: Address is missing (NaN)

Row 18053: Address is missing (NaN)

Row 18054: Address is missing (NaN)

Row 18055: Address is missing (NaN)

Row 18056: Address is missing (NaN)

Row 18057: Address is missing (NaN)

Row 18058: Address is missing (NaN)

Row 18059: Address is missing (NaN)

Row 18060: Address is missing (NaN)

Row 18061: Address is missing (NaN)

Row 18062: Address is missing (NaN)

Row 18063: Address is missing (NaN)

Row 18064: Address is missing (NaN)

Row 18065: Address is missing (NaN)

Row 18066: Address is missing (NaN)

Row 18067: Address is missing (NaN)

Row 18068: Address is missing (NaN)

Row 18069: Address is missing (NaN)

Row 18070: Address is missing (NaN)

Row 18071: Address is missing (NaN)

Row 18072: Address is missing (NaN)

Row 18073: Address is missing (NaN)

Row 18074: Address is missing (NaN)

Row 18075: Address is missing (NaN)

Row 18076: Address is missing (NaN)

Row 18077: Address is missing (NaN)

Row 18078: Address is missing (NaN)

Row 18079: Address is missing (NaN)

Row 18080: Address is missing (NaN)

Row 18081: Address is missing (NaN)

Row 18082: Address is missing (NaN)

Row 18083: Address is missing (NaN)

Row 18084: Address is missing (NaN)

Row 18085: Address is missing (NaN)

Row 18086: Address is missing (NaN)

Row 18087: Address is missing (NaN)

Row 18088: Address is missing (NaN)

Row 18089: Address is missing (NaN)

Row 18090: Address is missing (NaN)

Row 18091: Address is missing (NaN)

Row 18092: Address is missing (NaN)

Row 18093: Address is missing (NaN)

Row 18094: Address is missing (NaN)

Row 18095: Address is missing (NaN)

Row 18096: Address is missing (NaN)

Row 18097: Address is missing (NaN)

Row 18098: Address is missing (NaN)

Row 18099: Address is missing (NaN)

Row 18100: Address is missing (NaN)

Row 18101: Address is missing (NaN)

Row 18102: Address is missing (NaN)

Row 18103: Address is missing (NaN)

Row 18104: Address is missing (NaN)

Row 18105: Address is missing (NaN)

Row 18106: Address is missing (NaN)

Row 18107: Address is missing (NaN)

Row 18108: Address is missing (NaN)

Row 18109: Address is missing (NaN)

Row 18110: Address is missing (NaN)

Row 18111: Address is missing (NaN)

Row 18112: Address is missing (NaN)

Row 18113: Address is missing (NaN)

Row 18114: Address is missing (NaN)

Row 18115: Address is missing (NaN)

Row 18116: Address is missing (NaN)

Row 18117: Address is missing (NaN)

Row 18118: Address is missing (NaN)

Row 18119: Address is missing (NaN)

Row 18120: Address is missing (NaN)

Row 18121: Address is missing (NaN)

Row 18122: Address is missing (NaN)

Row 18123: Address is missing (NaN)

Row 18124: Address is missing (NaN)

Row 18125: Address is missing (NaN)

Row 18126: Address is missing (NaN)

Row 18127: Address is missing (NaN)

Row 18128: Address is missing (NaN)

Row 18129: Address is missing (NaN)

Row 18130: Address is missing (NaN)

Row 18131: Address is missing (NaN)

Row 18132: Address is missing (NaN)

Row 18133: Address is missing (NaN)

Row 18134: Address is missing (NaN)

Row 18135: Address is missing (NaN)

Row 18136: Address is missing (NaN)

Row 18137: Address is missing (NaN)

Row 18138: Address is missing (NaN)

Row 18139: Address is missing (NaN)

Row 18140: Address is missing (NaN)

Row 18141: Address is missing (NaN)

Row 18142: Address is missing (NaN)

Row 18143: Address is missing (NaN)

Row 18144: Address is missing (NaN)

Row 18145: Address is missing (NaN)

Row 18146: Address is missing (NaN)

Row 18147: Address is missing (NaN)

Row 18148: Address is missing (NaN)

Row 18149: Address is missing (NaN)

Row 18150: Address is missing (NaN)

Row 18151: Address is missing (NaN)

Row 18152: Address is missing (NaN)

Row 18153: Address is missing (NaN)

Row 18154: Address is missing (NaN)

Row 18155: Address is missing (NaN)

Row 18156: Address is missing (NaN)

Row 18157: Address is missing (NaN)

Row 18158: Address is missing (NaN)

Row 18159: Address is missing (NaN)

Row 18160: Address is missing (NaN)

Row 18161: Address is missing (NaN)

Row 18162: Address is missing (NaN)

Row 18163: Address is missing (NaN)

Row 18164: Address is missing (NaN)

Row 18165: Address is missing (NaN)

Row 18166: Address is missing (NaN)

Row 18167: Address is missing (NaN)

Row 18168: Address is missing (NaN)

Row 18169: Address is missing (NaN)

Row 18170: Address is missing (NaN)

Row 18171: Address is missing (NaN)

Row 18172: Address is missing (NaN)

Row 18173: Address is missing (NaN)

Row 18174: Address is missing (NaN)

Row 18175: Address is missing (NaN)

Row 18176: Address is missing (NaN)

Row 18177: Address is missing (NaN)

Row 18178: Address is missing (NaN)

Row 18179: Address is missing (NaN)

Row 18180: Address is missing (NaN)

Row 18181: Address is missing (NaN)

Row 18182: Address is missing (NaN)

Row 18183: Address is missing (NaN)

Row 18184: Address is missing (NaN)

Row 18185: Address is missing (NaN)

Row 18186: Address is missing (NaN)

Row 18187: Address is missing (NaN)

Row 18188: Address is missing (NaN)

Row 18189: Address is missing (NaN)

Row 18190: Address is missing (NaN)

Row 18191: Address is missing (NaN)

Row 18192: Address is missing (NaN)

Row 18193: Address is missing (NaN)

Row 18194: Address is missing (NaN)

Row 18195: Address is missing (NaN)

Row 18196: Address is missing (NaN)

Row 18197: Address is missing (NaN)

Row 18198: Address is missing (NaN)

Row 18199: Address is missing (NaN)

Row 18200: Address is missing (NaN)

Row 18201: Address is missing (NaN)

Row 18202: Address is missing (NaN)

Row 18203: Address is missing (NaN)

Row 18204: Address is missing (NaN)

Row 18205: Address is missing (NaN)

Row 18206: Address is missing (NaN)

Row 18207: Address is missing (NaN)

Row 18208: Address is missing (NaN)

Row 18209: Address is missing (NaN)

Row 18210: Address is missing (NaN)

Row 18211: Address is missing (NaN)

Row 18212: Address is missing (NaN)

Row 18213: Address is missing (NaN)

Row 18214: Address is missing (NaN)

Row 18215: Address is missing (NaN)

Row 18216: Address is missing (NaN)

Row 18217: Address is missing (NaN)

Row 18218: Address is missing (NaN)

Row 18219: Address is missing (NaN)

Row 18220: Address is missing (NaN)

Row 18221: Address is missing (NaN)

Row 18222: Address is missing (NaN)

Row 18223: Address is missing (NaN)

Row 18224: Address is missing (NaN)

Row 18225: Address is missing (NaN)

Row 18226: Address is missing (NaN)

Row 18227: Address is missing (NaN)

Row 18228: Address is missing (NaN)

Row 18229: Address is missing (NaN)

Row 18230: Address is missing (NaN)

Row 18231: Address is missing (NaN)

Row 18232: Address is missing (NaN)

Row 18233: Address is missing (NaN)

Row 18234: Address is missing (NaN)

Row 18235: Address is missing (NaN)

Row 18236: Address is missing (NaN)

Row 18237: Address is missing (NaN)

Row 18238: Address is missing (NaN)

Row 18239: Address is missing (NaN)

Row 18240: Address is missing (NaN)

Row 18241: Address is missing (NaN)

Row 18242: Address is missing (NaN)

Row 18243: Address is missing (NaN)

Row 18244: Address is missing (NaN)

Row 18245: Address is missing (NaN)

Row 18246: Address is missing (NaN)

Row 18247: Address is missing (NaN)

Row 18248: Address is missing (NaN)

Row 18249: Address is missing (NaN)

Row 18250: Address is missing (NaN)

Row 18251: Address is missing (NaN)

Row 18252: Address is missing (NaN)

Row 18253: Address is missing (NaN)

Row 18254: Address is missing (NaN)

Row 18255: Address is missing (NaN)

Row 18256: Address is missing (NaN)

Row 18257: Address is missing (NaN)

Row 18258: Address is missing (NaN)

Row 18259: Address is missing (NaN)

Row 18260: Address is missing (NaN)

Row 18261: Address is missing (NaN)

Row 18262: Address is missing (NaN)

Row 18263: Address is missing (NaN)

Row 18264: Address is missing (NaN)

Row 18265: Address is missing (NaN)

Row 18266: Address is missing (NaN)

Row 18267: Address is missing (NaN)

Row 18268: Address is missing (NaN)

Row 18269: Address is missing (NaN)

Row 18270: Address is missing (NaN)

Row 18271: Address is missing (NaN)

Row 18272: Address is missing (NaN)

Row 18273: Address is missing (NaN)

Row 18274: Address is missing (NaN)

Row 18275: Address is missing (NaN)

Row 18276: Address is missing (NaN)

Row 18277: Address is missing (NaN)

Row 18278: Address is missing (NaN)

Row 18279: Address is missing (NaN)

Row 18280: Address is missing (NaN)

Row 18281: Address is missing (NaN)

Row 18282: Address is missing (NaN)

Row 18283: Address is missing (NaN)

Row 18284: Address is missing (NaN)

Row 18285: Address is missing (NaN)

Row 18286: Address is missing (NaN)

Row 18287: Address is missing (NaN)

Row 18288: Address is missing (NaN)

Row 18289: Address is missing (NaN)

Row 18290: Address is missing (NaN)

Row 18291: Address is missing (NaN)

Row 18292: Address is missing (NaN)

Row 18293: Address is missing (NaN)

Row 18294: Address is missing (NaN)

Row 18295: Address is missing (NaN)

Row 18296: Address is missing (NaN)

Row 18297: Address is missing (NaN)

Row 18298: Address is missing (NaN)

Row 18299: Address is missing (NaN)

Row 18300: Address is missing (NaN)

Row 18301: Address is missing (NaN)

Row 18302: Address is missing (NaN)

Row 18303: Address is missing (NaN)

Row 18304: Address is missing (NaN)

Row 18305: Address is missing (NaN)

Row 18306: Address is missing (NaN)

Row 18307: Address is missing (NaN)

Row 18308: Address is missing (NaN)

Row 18309: Address is missing (NaN)

Row 18310: Address is missing (NaN)

Row 18311: Address is missing (NaN)

Row 18312: Address is missing (NaN)

Row 18313: Address is missing (NaN)

Row 18314: Address is missing (NaN)

Row 18315: Address is missing (NaN)

Row 18316: Address is missing (NaN)

Row 18317: Address is missing (NaN)

Row 18318: Address is missing (NaN)

Row 18319: Address is missing (NaN)

Row 18320: Address is missing (NaN)

Row 18321: Address is missing (NaN)

Row 18322: Address is missing (NaN)

Row 18323: Address is missing (NaN)

Row 18324: Address is missing (NaN)

Row 18325: Address is missing (NaN)

Row 18326: Address is missing (NaN)

Row 18327: Address is missing (NaN)

Row 18328: Address is missing (NaN)

Row 18329: Address is missing (NaN)

Row 18330: Address is missing (NaN)

Row 18331: Address is missing (NaN)

Row 18332: Address is missing (NaN)

Row 18333: Address is missing (NaN)

Row 18334: Address is missing (NaN)

Row 18335: Address is missing (NaN)

Row 18336: Address is missing (NaN)

Row 18337: Address is missing (NaN)

Row 18338: Address is missing (NaN)

Row 18339: Address is missing (NaN)

Row 18340: Address is missing (NaN)

Row 18341: Address is missing (NaN)

Row 18342: Address is missing (NaN)

Row 18343: Address is missing (NaN)

Row 18344: Address is missing (NaN)

Row 18345: Address is missing (NaN)

Row 18346: Address is missing (NaN)

Row 18347: Address is missing (NaN)

Row 18348: Address is missing (NaN)

Row 18349: Address is missing (NaN)

Row 18350: Address is missing (NaN)

Row 18351: Address is missing (NaN)

Row 18352: Address is missing (NaN)

Row 18353: Address is missing (NaN)

Row 18354: Address is missing (NaN)

Row 18355: Address is missing (NaN)

Row 18356: Address is missing (NaN)

Row 18357: Address is missing (NaN)

Row 18358: Address is missing (NaN)

Row 18359: Address is missing (NaN)

Row 18360: Address is missing (NaN)

Row 18361: Address is missing (NaN)

Row 18362: Address is missing (NaN)

Row 18363: Address is missing (NaN)

Row 18364: Address is missing (NaN)

Row 18365: Address is missing (NaN)

Row 18366: Address is missing (NaN)

Row 18367: Address is missing (NaN)

Row 18368: Address is missing (NaN)

Row 18369: Address is missing (NaN)

Row 18370: Address is missing (NaN)

Row 18371: Address is missing (NaN)

Row 18372: Address is missing (NaN)

Row 18373: Address is missing (NaN)

Row 18374: Address is missing (NaN)

Row 18375: Address is missing (NaN)

Row 18376: Address is missing (NaN)

Row 18377: Address is missing (NaN)

Row 18378: Address is missing (NaN)

Row 18379: Address is missing (NaN)

Row 18380: Address is missing (NaN)

Row 18381: Address is missing (NaN)

Row 18382: Address is missing (NaN)

Row 18383: Address is missing (NaN)

Row 18384: Address is missing (NaN)

Row 18385: Address is missing (NaN)

Row 18386: Address is missing (NaN)

Row 18387: Address is missing (NaN)

Row 18388: Address is missing (NaN)

Row 18389: Address is missing (NaN)

Row 18390: Address is missing (NaN)

Row 18391: Address is missing (NaN)

Row 18392: Address is missing (NaN)

Row 18393: Address is missing (NaN)

Row 18394: Address is missing (NaN)

Row 18395: Address is missing (NaN)

Row 18396: Address is missing (NaN)

Row 18397: Address is missing (NaN)

Row 18398: Address is missing (NaN)

Row 18399: Address is missing (NaN)

Row 18400: Address is missing (NaN)

Row 18401: Address is missing (NaN)

Row 18402: Address is missing (NaN)

Row 18403: Address is missing (NaN)

Row 18404: Address is missing (NaN)

Row 18405: Address is missing (NaN)

Row 18406: Address is missing (NaN)

Row 18407: Address is missing (NaN)

Row 18408: Address is missing (NaN)

Row 18409: Address is missing (NaN)

Row 18410: Address is missing (NaN)

Row 18411: Address is missing (NaN)

Row 18412: Address is missing (NaN)

Row 18413: Address is missing (NaN)

Row 18414: Address is missing (NaN)

Row 18415: Address is missing (NaN)

Row 18416: Address is missing (NaN)

Row 18417: Address is missing (NaN)

Row 18418: Address is missing (NaN)

Row 18419: Address is missing (NaN)

Row 18420: Address is missing (NaN)

Row 18421: Address is missing (NaN)

Row 18422: Address is missing (NaN)

Row 18423: Address is missing (NaN)

Row 18424: Address is missing (NaN)

Row 18425: Address is missing (NaN)

Row 18426: Address is missing (NaN)

Row 18427: Address is missing (NaN)

Row 18428: Address is missing (NaN)

Row 18429: Address is missing (NaN)

Row 18430: Address is missing (NaN)

Row 18431: Address is missing (NaN)

Row 18432: Address is missing (NaN)

Row 18433: Address is missing (NaN)

Row 18434: Address is missing (NaN)

Row 18435: Address is missing (NaN)

Row 18436: Address is missing (NaN)

Row 18437: Address is missing (NaN)

Row 18438: Address is missing (NaN)

Row 18439: Address is missing (NaN)

Row 18440: Address is missing (NaN)

Row 18441: Address is missing (NaN)

Row 18442: Address is missing (NaN)

Row 18443: Address is missing (NaN)

Row 18444: Address is missing (NaN)

Row 18445: Address is missing (NaN)

Row 18446: Address is missing (NaN)

Row 18447: Address is missing (NaN)

Row 18448: Address is missing (NaN)

Row 18449: Address is missing (NaN)

Row 18450: Address is missing (NaN)

Row 18451: Address is missing (NaN)

Row 18452: Address is missing (NaN)

Row 18453: Address is missing (NaN)

Row 18454: Address is missing (NaN)

Row 18455: Address is missing (NaN)

Row 18456: Address is missing (NaN)

Row 18457: Address is missing (NaN)

Row 18458: Address is missing (NaN)

Row 18459: Address is missing (NaN)

Row 18460: Address is missing (NaN)

Row 18461: Address is missing (NaN)

Row 18462: Address is missing (NaN)

Row 18463: Address is missing (NaN)

Row 18464: Address is missing (NaN)

Row 18465: Address is missing (NaN)

Row 18466: Address is missing (NaN)

Row 18467: Address is missing (NaN)

Row 18468: Address is missing (NaN)

Row 18469: Address is missing (NaN)

Row 18470: Address is missing (NaN)

Row 18471: Address is missing (NaN)

Row 18472: Address is missing (NaN)

Row 18473: Address is missing (NaN)

Row 18474: Address is missing (NaN)

Row 18475: Address is missing (NaN)

Row 18476: Address is missing (NaN)

Row 18477: Address is missing (NaN)

Row 18478: Address is missing (NaN)

Row 18479: Address is missing (NaN)

Row 18480: Address is missing (NaN)

Row 18481: Address is missing (NaN)

Row 18482: Address is missing (NaN)

Row 18483: Address is missing (NaN)

Row 18484: Address is missing (NaN)

Row 18485: Address is missing (NaN)

Row 18486: Address is missing (NaN)

Row 18487: Address is missing (NaN)

Row 18488: Address is missing (NaN)

Row 18489: Address is missing (NaN)

Row 18490: Address is missing (NaN)

Row 18491: Address is missing (NaN)

Row 18492: Address is missing (NaN)

Row 18493: Address is missing (NaN)

Row 18494: Address is missing (NaN)

Row 18495: Address is missing (NaN)

Row 18496: Address is missing (NaN)

Row 18497: Address is missing (NaN)

Row 18498: Address is missing (NaN)

Row 18499: Address is missing (NaN)

Row 18500: Address is missing (NaN)

Row 18501: Address is missing (NaN)

Row 18502: Address is missing (NaN)

Row 18503: Address is missing (NaN)

Row 18504: Address is missing (NaN)

Row 18505: Address is missing (NaN)

Row 18506: Address is missing (NaN)

Row 18507: Address is missing (NaN)

Row 18508: Address is missing (NaN)

Row 18509: Address is missing (NaN)

Row 18510: Address is missing (NaN)

Row 18511: Address is missing (NaN)

Row 18512: Address is missing (NaN)

Row 18513: Address is missing (NaN)

Row 18514: Address is missing (NaN)

Row 18515: Address is missing (NaN)

Row 18516: Address is missing (NaN)

Row 18517: Address is missing (NaN)

Row 18518: Address is missing (NaN)

Row 18519: Address is missing (NaN)

Row 18520: Address is missing (NaN)

Row 18521: Address is missing (NaN)

Row 18522: Address is missing (NaN)

Row 18523: Address is missing (NaN)

Row 18524: Address is missing (NaN)

Row 18525: Address is missing (NaN)

Row 18526: Address is missing (NaN)

Row 18527: Address is missing (NaN)

Row 18528: Address is missing (NaN)

Row 18529: Address is missing (NaN)

Row 18530: Address is missing (NaN)

Row 18531: Address is missing (NaN)

Row 18532: Address is missing (NaN)

Row 18533: Address is missing (NaN)

Row 18534: Address is missing (NaN)

Row 18535: Address is missing (NaN)

Row 18536: Address is missing (NaN)

Row 18537: Address is missing (NaN)

Row 18538: Address is missing (NaN)

Row 18539: Address is missing (NaN)

Row 18540: Address is missing (NaN)

Row 18541: Address is missing (NaN)

Row 18542: Address is missing (NaN)

Row 18543: Address is missing (NaN)

Row 18544: Address is missing (NaN)

Row 18545: Address is missing (NaN)

Row 18546: Address is missing (NaN)

Row 18547: Address is missing (NaN)

Row 18548: Address is missing (NaN)

Row 18549: Address is missing (NaN)

Row 18550: Address is missing (NaN)

Row 18551: Address is missing (NaN)

Row 18552: Address is missing (NaN)

Row 18553: Address is missing (NaN)

Row 18554: Address is missing (NaN)

Row 18555: Address is missing (NaN)

Row 18556: Address is missing (NaN)

Row 18557: Address is missing (NaN)

Row 18558: Address is missing (NaN)

Row 18559: Address is missing (NaN)

Row 18560: Address is missing (NaN)

Row 18561: Address is missing (NaN)

Row 18562: Address is missing (NaN)

Row 18563: Address is missing (NaN)

Row 18564: Address is missing (NaN)

Row 18565: Address is missing (NaN)

Row 18566: Address is missing (NaN)

Row 18567: Address is missing (NaN)

Row 18568: Address is missing (NaN)

Row 18569: Address is missing (NaN)

Row 18570: Address is missing (NaN)

Row 18571: Address is missing (NaN)

Row 18572: Address is missing (NaN)

Row 18573: Address is missing (NaN)

Row 18574: Address is missing (NaN)

Row 18575: Address is missing (NaN)

Row 18576: Address is missing (NaN)

Row 18577: Address is missing (NaN)

Row 18578: Address is missing (NaN)

Row 18579: Address is missing (NaN)

Row 18580: Address is missing (NaN)

Row 18581: Address is missing (NaN)

Row 18582: Address is missing (NaN)

Row 18583: Address is missing (NaN)

Row 18584: Address is missing (NaN)

Row 18585: Address is missing (NaN)

Row 18586: Address is missing (NaN)

Row 18587: Address is missing (NaN)

Row 18588: Address is missing (NaN)

Row 18589: Address is missing (NaN)

Row 18590: Address is missing (NaN)

Row 18591: Address is missing (NaN)

Row 18592: Address is missing (NaN)

Row 18593: Address is missing (NaN)

Row 18594: Address is missing (NaN)

Row 18595: Address is missing (NaN)

Row 18596: Address is missing (NaN)

Row 18597: Address is missing (NaN)

Row 18598: Address is missing (NaN)

Row 18599: Address is missing (NaN)

Row 18600: Address is missing (NaN)

Row 18601: Address is missing (NaN)

Row 18602: Address is missing (NaN)

Row 18603: Address is missing (NaN)

Row 18604: Address is missing (NaN)

Row 18605: Address is missing (NaN)

Row 18606: Address is missing (NaN)

Row 18607: Address is missing (NaN)

Row 18608: Address is missing (NaN)

Row 18609: Address is missing (NaN)

Row 18610: Address is missing (NaN)

Row 18611: Address is missing (NaN)

Row 18612: Address is missing (NaN)

Row 18613: Address is missing (NaN)

Row 18614: Address is missing (NaN)

Row 18615: Address is missing (NaN)

Row 18616: Address is missing (NaN)

Row 18617: Address is missing (NaN)

Row 18618: Address is missing (NaN)

Row 18619: Address is missing (NaN)

Row 18620: Address is missing (NaN)

Row 18621: Address is missing (NaN)

Row 18622: Address is missing (NaN)

Row 18623: Address is missing (NaN)

Row 18624: Address is missing (NaN)

Row 18625: Address is missing (NaN)

Row 18626: Address is missing (NaN)

Row 18627: Address is missing (NaN)

Row 18628: Address is missing (NaN)

Row 18629: Address is missing (NaN)

Row 18630: Address is missing (NaN)

Row 18631: Address is missing (NaN)

Row 18632: Address is missing (NaN)

Row 18633: Address is missing (NaN)

Row 18634: Address is missing (NaN)

Row 18635: Address is missing (NaN)

Row 18636: Address is missing (NaN)

Row 18637: Address is missing (NaN)

Row 18638: Address is missing (NaN)

Row 18639: Address is missing (NaN)

Row 18640: Address is missing (NaN)

Row 18641: Address is missing (NaN)

Row 18642: Address is missing (NaN)

Row 18643: Address is missing (NaN)

Row 18644: Address is missing (NaN)

Row 18645: Address is missing (NaN)

Row 18646: Address is missing (NaN)

Row 18647: Address is missing (NaN)

Row 18648: Address is missing (NaN)

Row 18649: Address is missing (NaN)

Row 18650: Address is missing (NaN)

Row 18651: Address is missing (NaN)

Row 18652: Address is missing (NaN)

Row 18653: Address is missing (NaN)

Row 18654: Address is missing (NaN)

Row 18655: Address is missing (NaN)

Row 18656: Address is missing (NaN)

Row 18657: Address is missing (NaN)

Row 18658: Address is missing (NaN)

Row 18659: Address is missing (NaN)

Row 18660: Address is missing (NaN)

Row 18661: Address is missing (NaN)

Row 18662: Address is missing (NaN)

Row 18663: Address is missing (NaN)

Row 18664: Address is missing (NaN)

Row 18665: Address is missing (NaN)

Row 18666: Address is missing (NaN)

Row 18667: Address is missing (NaN)

Row 18668: Address is missing (NaN)

Row 18669: Address is missing (NaN)

Row 18670: Address is missing (NaN)

Row 18671: Address is missing (NaN)

Row 18672: Address is missing (NaN)

Row 18673: Address is missing (NaN)

Row 18674: Address is missing (NaN)

Row 18675: Address is missing (NaN)

Row 18676: Address is missing (NaN)

Row 18677: Address is missing (NaN)

Row 18678: Address is missing (NaN)

Row 18679: Address is missing (NaN)

Row 18680: Address is missing (NaN)

Row 18681: Address is missing (NaN)

Row 18682: Address is missing (NaN)

Row 18683: Address is missing (NaN)

Row 18684: Address is missing (NaN)

Row 18685: Address is missing (NaN)

Row 18686: Address is missing (NaN)

Row 18687: Address is missing (NaN)

Row 18688: Address is missing (NaN)

Row 18689: Address is missing (NaN)

Row 18690: Address is missing (NaN)

Row 18691: Address is missing (NaN)

Row 18692: Address is missing (NaN)

Row 18693: Address is missing (NaN)

Row 18694: Address is missing (NaN)

Row 18695: Address is missing (NaN)

Row 18696: Address is missing (NaN)

Row 18697: Address is missing (NaN)

Row 18698: Address is missing (NaN)

Row 18699: Address is missing (NaN)

Row 18700: Address is missing (NaN)

Row 18701: Address is missing (NaN)

Row 18702: Address is missing (NaN)

Row 18703: Address is missing (NaN)

Row 18704: Address is missing (NaN)

Row 18705: Address is missing (NaN)

Row 18706: Address is missing (NaN)

Row 18707: Address is missing (NaN)

Row 18708: Address is missing (NaN)

Row 18709: Address is missing (NaN)

Row 18710: Address is missing (NaN)

Row 18711: Address is missing (NaN)

Row 18712: Address is missing (NaN)

Row 18713: Address is missing (NaN)

Row 18714: Address is missing (NaN)

Row 18715: Address is missing (NaN)

Row 18716: Address is missing (NaN)

Row 18717: Address is missing (NaN)

Row 18718: Address is missing (NaN)

Row 18719: Address is missing (NaN)

Row 18720: Address is missing (NaN)

Row 18721: Address is missing (NaN)

Row 18722: Address is missing (NaN)

Row 18723: Address is missing (NaN)

Row 18724: Address is missing (NaN)

Row 18725: Address is missing (NaN)

Row 18726: Address is missing (NaN)

Row 18727: Address is missing (NaN)

Row 18728: Address is missing (NaN)

Row 18729: Address is missing (NaN)

Row 18730: Address is missing (NaN)

Row 18731: Address is missing (NaN)

Row 18732: Address is missing (NaN)

Row 18733: Address is missing (NaN)

Row 18734: Address is missing (NaN)

Row 18735: Address is missing (NaN)

Row 18736: Address is missing (NaN)

Row 18737: Address is missing (NaN)

Row 18738: Address is missing (NaN)

Row 18739: Address is missing (NaN)

Row 18740: Address is missing (NaN)

Row 18741: Address is missing (NaN)

Row 18742: Address is missing (NaN)

Row 18743: Address is missing (NaN)

Row 18744: Address is missing (NaN)

Row 18745: Address is missing (NaN)

Row 18746: Address is missing (NaN)

Row 18747: Address is missing (NaN)

Row 18748: Address is missing (NaN)

Row 18749: Address is missing (NaN)

Row 18750: Address is missing (NaN)

Row 18751: Address is missing (NaN)

Row 18752: Address is missing (NaN)

Row 18753: Address is missing (NaN)

Row 18754: Address is missing (NaN)

Row 18755: Address is missing (NaN)

Row 18756: Address is missing (NaN)

Row 18757: Address is missing (NaN)

Row 18758: Address is missing (NaN)

Row 18759: Address is missing (NaN)

Row 18760: Address is missing (NaN)

Row 18761: Address is missing (NaN)

Row 18762: Address is missing (NaN)

Row 18763: Address is missing (NaN)

Row 18764: Address is missing (NaN)

Row 18765: Address is missing (NaN)

Row 18766: Address is missing (NaN)

Row 18767: Address is missing (NaN)

Row 18768: Address is missing (NaN)

Row 18769: Address is missing (NaN)

Row 18770: Address is missing (NaN)

Row 18771: Address is missing (NaN)

Row 18772: Address is missing (NaN)

Row 18773: Address is missing (NaN)

Row 18774: Address is missing (NaN)

Row 18775: Address is missing (NaN)

Row 18776: Address is missing (NaN)

Row 18777: Address is missing (NaN)

Row 18778: Address is missing (NaN)

Row 18779: Address is missing (NaN)

Row 18780: Address is missing (NaN)

Row 18781: Address is missing (NaN)

Row 18782: Address is missing (NaN)

Row 18783: Address is missing (NaN)

Row 18784: Address is missing (NaN)

Row 18785: Address is missing (NaN)

Row 18786: Address is missing (NaN)

Row 18787: Address is missing (NaN)

Row 18788: Address is missing (NaN)

Row 18789: Address is missing (NaN)

Row 18790: Address is missing (NaN)

Row 18791: Address is missing (NaN)

Row 18792: Address is missing (NaN)

Row 18793: Address is missing (NaN)

Row 18794: Address is missing (NaN)

Row 18795: Address is missing (NaN)

Row 18796: Address is missing (NaN)

Row 18797: Address is missing (NaN)

Row 18798: Address is missing (NaN)

Row 18799: Address is missing (NaN)

Row 18800: Address is missing (NaN)

Row 18801: Address is missing (NaN)

Row 18802: Address is missing (NaN)

Row 18803: Address is missing (NaN)

Row 18804: Address is missing (NaN)

Row 18805: Address is missing (NaN)

Row 18806: Address is missing (NaN)

Row 18807: Address is missing (NaN)

Row 18808: Address is missing (NaN)

Row 18809: Address is missing (NaN)

Row 18810: Address is missing (NaN)

Row 18811: Address is missing (NaN)

Row 18812: Address is missing (NaN)

Row 18813: Address is missing (NaN)

Row 18814: Address is missing (NaN)

Row 18815: Address is missing (NaN)

Row 18816: Address is missing (NaN)

Row 18817: Address is missing (NaN)

Row 18818: Address is missing (NaN)

Row 18819: Address is missing (NaN)

Row 18820: Address is missing (NaN)

Row 18821: Address is missing (NaN)

Row 18822: Address is missing (NaN)

Row 18823: Address is missing (NaN)

Row 18824: Address is missing (NaN)

Row 18825: Address is missing (NaN)

Row 18826: Address is missing (NaN)

Row 18827: Address is missing (NaN)

Row 18828: Address is missing (NaN)

Row 18829: Address is missing (NaN)

Row 18830: Address is missing (NaN)

Row 18831: Address is missing (NaN)

Row 18832: Address is missing (NaN)

Row 18833: Address is missing (NaN)

Row 18834: Address is missing (NaN)

Row 18835: Address is missing (NaN)

Row 18836: Address is missing (NaN)

Row 18837: Address is missing (NaN)

Row 18838: Address is missing (NaN)

Row 18839: Address is missing (NaN)

Row 18840: Address is missing (NaN)

Row 18841: Address is missing (NaN)

Row 18842: Address is missing (NaN)

Row 18843: Address is missing (NaN)

Row 18844: Address is missing (NaN)

Row 18845: Address is missing (NaN)

Row 18846: Address is missing (NaN)

Row 18847: Address is missing (NaN)

Row 18848: Address is missing (NaN)

Row 18849: Address is missing (NaN)

Row 18850: Address is missing (NaN)

Row 18851: Address is missing (NaN)

Row 18852: Address is missing (NaN)

Row 18853: Address is missing (NaN)

Row 18854: Address is missing (NaN)

Row 18855: Address is missing (NaN)

Row 18856: Address is missing (NaN)

Row 18857: Address is missing (NaN)

Row 18858: Address is missing (NaN)

Row 18859: Address is missing (NaN)

Row 18860: Address is missing (NaN)

Row 18861: Address is missing (NaN)

Row 18862: Address is missing (NaN)

Row 18863: Address is missing (NaN)

Row 18864: Address is missing (NaN)

Row 18865: Address is missing (NaN)

Row 18866: Address is missing (NaN)

Row 18867: Address is missing (NaN)

Row 18868: Address is missing (NaN)

Row 18869: Address is missing (NaN)

Row 18870: Address is missing (NaN)

Row 18871: Address is missing (NaN)

Row 18872: Address is missing (NaN)

Row 18873: Address is missing (NaN)

Row 18874: Address is missing (NaN)

Row 18875: Address is missing (NaN)

Row 18876: Address is missing (NaN)

Row 18877: Address is missing (NaN)

Row 18878: Address is missing (NaN)

Row 18879: Address is missing (NaN)

Row 18880: Address is missing (NaN)

Row 18881: Address is missing (NaN)

Row 18882: Address is missing (NaN)

Row 18883: Address is missing (NaN)

Row 18884: Address is missing (NaN)

Row 18885: Address is missing (NaN)

Row 18886: Address is missing (NaN)

Row 18887: Address is missing (NaN)

Row 18888: Address is missing (NaN)

Row 18889: Address is missing (NaN)

Row 18890: Address is missing (NaN)

Row 18891: Address is missing (NaN)

Row 18892: Address is missing (NaN)

Row 18893: Address is missing (NaN)

Row 18894: Address is missing (NaN)

Row 18895: Address is missing (NaN)

Row 18896: Address is missing (NaN)

Row 18897: Address is missing (NaN)

Row 18898: Address is missing (NaN)

Row 18899: Address is missing (NaN)

Row 18900: Address is missing (NaN)

Row 18901: Address is missing (NaN)

Row 18902: Address is missing (NaN)

Row 18903: Address is missing (NaN)

Row 18904: Address is missing (NaN)

Row 18905: Address is missing (NaN)

Row 18906: Address is missing (NaN)

Row 18907: Address is missing (NaN)

Row 18908: Address is missing (NaN)

Row 18909: Address is missing (NaN)

Row 18910: Address is missing (NaN)

Row 18911: Address is missing (NaN)

Row 18912: Address is missing (NaN)

Row 18913: Address is missing (NaN)

Row 18914: Address is missing (NaN)

Row 18915: Address is missing (NaN)

Row 18916: Address is missing (NaN)

Row 18917: Address is missing (NaN)

Row 18918: Address is missing (NaN)

Row 18919: Address is missing (NaN)

Row 18920: Address is missing (NaN)

Row 18921: Address is missing (NaN)

Row 18922: Address is missing (NaN)

Row 18923: Address is missing (NaN)

Row 18924: Address is missing (NaN)

Row 18925: Address is missing (NaN)

Row 18926: Address is missing (NaN)

Row 18927: Address is missing (NaN)

Row 18928: Address is missing (NaN)

Row 18929: Address is missing (NaN)

Row 18930: Address is missing (NaN)

Row 18931: Address is missing (NaN)

Row 18932: Address is missing (NaN)

Row 18933: Address is missing (NaN)

Row 18934: Address is missing (NaN)

Row 18935: Address is missing (NaN)

Row 18936: Address is missing (NaN)

Row 18937: Address is missing (NaN)

Row 18938: Address is missing (NaN)

Row 18939: Address is missing (NaN)

Row 18940: Address is missing (NaN)

Row 18941: Address is missing (NaN)

Row 18942: Address is missing (NaN)

Row 18943: Address is missing (NaN)

Row 18944: Address is missing (NaN)

Row 18945: Address is missing (NaN)

Row 18946: Address is missing (NaN)

Row 18947: Address is missing (NaN)

Row 18948: Address is missing (NaN)

Row 18949: Address is missing (NaN)

Row 18950: Address is missing (NaN)

Row 18951: Address is missing (NaN)

Row 18952: Address is missing (NaN)

Row 18953: Address is missing (NaN)

Row 18954: Address is missing (NaN)

Row 18955: Address is missing (NaN)

Row 18956: Address is missing (NaN)

Row 18957: Address is missing (NaN)

Row 18958: Address is missing (NaN)

Row 18959: Address is missing (NaN)

Row 18960: Address is missing (NaN)

Row 18961: Address is missing (NaN)

Row 18962: Address is missing (NaN)

Row 18963: Address is missing (NaN)

Row 18964: Address is missing (NaN)

Row 18965: Address is missing (NaN)

Row 18966: Address is missing (NaN)

Row 18967: Address is missing (NaN)

Row 18968: Address is missing (NaN)

Row 18969: Address is missing (NaN)

Row 18970: Address is missing (NaN)

Row 18971: Address is missing (NaN)

Row 18972: Address is missing (NaN)

Row 18973: Address is missing (NaN)

Row 18974: Address is missing (NaN)

Row 18975: Address is missing (NaN)

Row 18976: Address is missing (NaN)

Row 18977: Address is missing (NaN)

Row 18978: Address is missing (NaN)

Row 18979: Address is missing (NaN)

Row 18980: Address is missing (NaN)

Row 18981: Address is missing (NaN)

Row 18982: Address is missing (NaN)

Row 18983: Address is missing (NaN)

Row 18984: Address is missing (NaN)

Row 18985: Address is missing (NaN)

Row 18986: Address is missing (NaN)

Row 18987: Address is missing (NaN)

Row 18988: Address is missing (NaN)

Row 18989: Address is missing (NaN)

Row 18990: Address is missing (NaN)

Row 18991: Address is missing (NaN)

Row 18992: Address is missing (NaN)

Row 18993: Address is missing (NaN)

Row 18994: Address is missing (NaN)

Row 18995: Address is missing (NaN)

Row 18996: Address is missing (NaN)

Row 18997: Address is missing (NaN)

Row 18998: Address is missing (NaN)

Row 18999: Address is missing (NaN)

Row 19000: Address is missing (NaN)

Row 19001: Address is missing (NaN)

Row 19002: Address is missing (NaN)

Row 19003: Address is missing (NaN)

Row 19004: Address is missing (NaN)

Row 19005: Address is missing (NaN)

Row 19006: Address is missing (NaN)

Row 19007: Address is missing (NaN)

Row 19008: Address is missing (NaN)

Row 19009: Address is missing (NaN)

Row 19010: Address is missing (NaN)

Row 19011: Address is missing (NaN)

Row 19012: Address is missing (NaN)

Row 19013: Address is missing (NaN)

Row 19014: Address is missing (NaN)

Row 19015: Address is missing (NaN)

Row 19016: Address is missing (NaN)

Row 19017: Address is missing (NaN)

Row 19018: Address is missing (NaN)

Row 19019: Address is missing (NaN)

Row 19020: Address is missing (NaN)

Row 19021: Address is missing (NaN)

Row 19022: Address is missing (NaN)

Row 19023: Address is missing (NaN)

Row 19024: Address is missing (NaN)

Row 19025: Address is missing (NaN)

Row 19026: Address is missing (NaN)

Row 19027: Address is missing (NaN)

Row 19028: Address is missing (NaN)

Row 19029: Address is missing (NaN)

Row 19030: Address is missing (NaN)

Row 19031: Address is missing (NaN)

Row 19032: Address is missing (NaN)

Row 19033: Address is missing (NaN)

Row 19034: Address is missing (NaN)

Row 19035: Address is missing (NaN)

Row 19036: Address is missing (NaN)

Row 19037: Address is missing (NaN)

Row 19038: Address is missing (NaN)

Row 19039: Address is missing (NaN)

Row 19040: Address is missing (NaN)

Row 19041: Address is missing (NaN)

Row 19042: Address is missing (NaN)

Row 19043: Address is missing (NaN)

Row 19044: Address is missing (NaN)

Row 19045: Address is missing (NaN)

Row 19046: Address is missing (NaN)

Row 19047: Address is missing (NaN)

Row 19048: Address is missing (NaN)

Row 19049: Address is missing (NaN)

Row 19050: Address is missing (NaN)

Row 19051: Address is missing (NaN)

Row 19052: Address is missing (NaN)

Row 19053: Address is missing (NaN)

Row 19054: Address is missing (NaN)

Row 19055: Address is missing (NaN)

Row 19056: Address is missing (NaN)

Row 19057: Address is missing (NaN)

Row 19058: Address is missing (NaN)

Row 19059: Address is missing (NaN)

Row 19060: Address is missing (NaN)

Row 19061: Address is missing (NaN)

Row 19062: Address is missing (NaN)

Row 19063: Address is missing (NaN)

Row 19064: Address is missing (NaN)

Row 19065: Address is missing (NaN)

Row 19066: Address is missing (NaN)

Row 19067: Address is missing (NaN)

Row 19068: Address is missing (NaN)

Row 19069: Address is missing (NaN)

Row 19070: Address is missing (NaN)

Row 19071: Address is missing (NaN)

Row 19072: Address is missing (NaN)

Row 19073: Address is missing (NaN)

Row 19074: Address is missing (NaN)

Row 19075: Address is missing (NaN)

Row 19076: Address is missing (NaN)

Row 19077: Address is missing (NaN)

Row 19078: Address is missing (NaN)

Row 19079: Address is missing (NaN)

Row 19080: Address is missing (NaN)

Row 19081: Address is missing (NaN)

Row 19082: Address is missing (NaN)

Row 19083: Address is missing (NaN)

Row 19084: Address is missing (NaN)

Row 19085: Address is missing (NaN)

Row 19086: Address is missing (NaN)

Row 19087: Address is missing (NaN)

Row 19088: Address is missing (NaN)

Row 19089: Address is missing (NaN)

Row 19090: Address is missing (NaN)

Row 19091: Address is missing (NaN)

Row 19092: Address is missing (NaN)

Row 19093: Address is missing (NaN)

Row 19094: Address is missing (NaN)

Row 19095: Address is missing (NaN)

Row 19096: Address is missing (NaN)

Row 19097: Address is missing (NaN)

Row 19098: Address is missing (NaN)

Row 19099: Address is missing (NaN)

Row 19100: Address is missing (NaN)

Row 19101: Address is missing (NaN)

Row 19102: Address is missing (NaN)

Row 19103: Address is missing (NaN)

Row 19104: Address is missing (NaN)

Row 19105: Address is missing (NaN)

Row 19106: Address is missing (NaN)

Row 19107: Address is missing (NaN)

Row 19108: Address is missing (NaN)

Row 19109: Address is missing (NaN)

Row 19110: Address is missing (NaN)

Row 19111: Address is missing (NaN)

Row 19112: Address is missing (NaN)

Row 19113: Address is missing (NaN)

Row 19114: Address is missing (NaN)

Row 19115: Address is missing (NaN)

Row 19116: Address is missing (NaN)

Row 19117: Address is missing (NaN)

Row 19118: Address is missing (NaN)

Row 19119: Address is missing (NaN)

Row 19120: Address is missing (NaN)

Row 19121: Address is missing (NaN)

Row 19122: Address is missing (NaN)

Row 19123: Address is missing (NaN)

Row 19124: Address is missing (NaN)

Row 19125: Address is missing (NaN)

Row 19126: Address is missing (NaN)

Row 19127: Address is missing (NaN)

Row 19128: Address is missing (NaN)

Row 19129: Address is missing (NaN)

Row 19130: Address is missing (NaN)

Row 19131: Address is missing (NaN)

Row 19132: Address is missing (NaN)

Row 19133: Address is missing (NaN)

Row 19134: Address is missing (NaN)

Row 19135: Address is missing (NaN)

Row 19136: Address is missing (NaN)

Row 19137: Address is missing (NaN)

Row 19138: Address is missing (NaN)

Row 19139: Address is missing (NaN)

Row 19140: Address is missing (NaN)

Row 19141: Address is missing (NaN)

Row 19142: Address is missing (NaN)

Row 19143: Address is missing (NaN)

Row 19144: Address is missing (NaN)

Row 19145: Address is missing (NaN)

Row 19146: Address is missing (NaN)

Row 19147: Address is missing (NaN)

Row 19148: Address is missing (NaN)

Row 19149: Address is missing (NaN)

Row 19150: Address is missing (NaN)

Row 19151: Address is missing (NaN)

Row 19152: Address is missing (NaN)

Row 19153: Address is missing (NaN)

Row 19154: Address is missing (NaN)

Row 19155: Address is missing (NaN)

Row 19156: Address is missing (NaN)

Row 19157: Address is missing (NaN)

Row 19158: Address is missing (NaN)

Row 19159: Address is missing (NaN)

Row 19160: Address is missing (NaN)

Row 19161: Address is missing (NaN)

Row 19162: Address is missing (NaN)

Row 19163: Address is missing (NaN)

Row 19164: Address is missing (NaN)

Row 19165: Address is missing (NaN)

Row 19166: Address is missing (NaN)

Row 19167: Address is missing (NaN)

Row 19168: Address is missing (NaN)

Row 19169: Address is missing (NaN)

Row 19170: Address is missing (NaN)

Row 19171: Address is missing (NaN)

Row 19172: Address is missing (NaN)

Row 19173: Address is missing (NaN)

Row 19174: Address is missing (NaN)

Row 19175: Address is missing (NaN)

Row 19176: Address is missing (NaN)

Row 19177: Address is missing (NaN)

Row 19178: Address is missing (NaN)

Row 19179: Address is missing (NaN)

Row 19180: Address is missing (NaN)

Row 19181: Address is missing (NaN)

Row 19182: Address is missing (NaN)

Row 19183: Address is missing (NaN)

Row 19184: Address is missing (NaN)

Row 19185: Address is missing (NaN)

Row 19186: Address is missing (NaN)

Row 19187: Address is missing (NaN)

Row 19188: Address is missing (NaN)

Row 19189: Address is missing (NaN)

Row 19190: Address is missing (NaN)

Row 19191: Address is missing (NaN)

Row 19192: Address is missing (NaN)

Row 19193: Address is missing (NaN)

Row 19194: Address is missing (NaN)

Row 19195: Address is missing (NaN)

Row 19196: Address is missing (NaN)

Row 19197: Address is missing (NaN)

Row 19198: Address is missing (NaN)

Row 19199: Address is missing (NaN)

Row 19200: Address is missing (NaN)

Row 19201: Address is missing (NaN)

Row 19202: Address is missing (NaN)

Row 19203: Address is missing (NaN)

Row 19204: Address is missing (NaN)

Row 19205: Address is missing (NaN)

Row 19206: Address is missing (NaN)

Row 19207: Address is missing (NaN)

Row 19208: Address is missing (NaN)

Row 19209: Address is missing (NaN)

Row 19210: Address is missing (NaN)

Row 19211: Address is missing (NaN)

Row 19212: Address is missing (NaN)

Row 19213: Address is missing (NaN)

Row 19214: Address is missing (NaN)

Row 19215: Address is missing (NaN)

Row 19216: Address is missing (NaN)

Row 19217: Address is missing (NaN)

Row 19218: Address is missing (NaN)

Row 19219: Address is missing (NaN)

Row 19220: Address is missing (NaN)

Row 19221: Address is missing (NaN)

Row 19222: Address is missing (NaN)

Row 19223: Address is missing (NaN)

Row 19224: Address is missing (NaN)

Row 19225: Address is missing (NaN)

Row 19226: Address is missing (NaN)

Row 19227: Address is missing (NaN)

Row 19228: Address is missing (NaN)

Row 19229: Address is missing (NaN)

Row 19230: Address is missing (NaN)

Row 19231: Address is missing (NaN)

Row 19232: Address is missing (NaN)

Row 19233: Address is missing (NaN)

Row 19234: Address is missing (NaN)

Row 19235: Address is missing (NaN)

Row 19236: Address is missing (NaN)

Row 19237: Address is missing (NaN)

Row 19238: Address is missing (NaN)

Row 19239: Address is missing (NaN)

Row 19240: Address is missing (NaN)

Row 19241: Address is missing (NaN)

Row 19242: Address is missing (NaN)

Row 19243: Address is missing (NaN)

Row 19244: Address is missing (NaN)

Row 19245: Address is missing (NaN)

Row 19246: Address is missing (NaN)

Row 19247: Address is missing (NaN)

Row 19248: Address is missing (NaN)

Row 19249: Address is missing (NaN)

Row 19250: Address is missing (NaN)

Row 19251: Address is missing (NaN)

Row 19252: Address is missing (NaN)

Row 19253: Address is missing (NaN)

Row 19254: Address is missing (NaN)

Row 19255: Address is missing (NaN)

Row 19256: Address is missing (NaN)

Row 19257: Address is missing (NaN)

Row 19258: Address is missing (NaN)

Row 19259: Address is missing (NaN)

Row 19260: Address is missing (NaN)

Row 19261: Address is missing (NaN)

Row 19262: Address is missing (NaN)

Row 19263: Address is missing (NaN)

Row 19264: Address is missing (NaN)

Row 19265: Address is missing (NaN)

Row 19266: Address is missing (NaN)

Row 19267: Address is missing (NaN)

Row 19268: Address is missing (NaN)

Row 19269: Address is missing (NaN)

Row 19270: Address is missing (NaN)

Row 19271: Address is missing (NaN)

Row 19272: Address is missing (NaN)

Row 19273: Address is missing (NaN)

Row 19274: Address is missing (NaN)

Row 19275: Address is missing (NaN)

Row 19276: Address is missing (NaN)

Row 19277: Address is missing (NaN)

Row 19278: Address is missing (NaN)

Row 19279: Address is missing (NaN)

Row 19280: Address is missing (NaN)

Row 19281: Address is missing (NaN)

Row 19282: Address is missing (NaN)

Row 19283: Address is missing (NaN)

Row 19284: Address is missing (NaN)

Row 19285: Address is missing (NaN)

Row 19286: Address is missing (NaN)

Row 19287: Address is missing (NaN)

Row 19288: Address is missing (NaN)

Row 19289: Address is missing (NaN)

Row 19290: Address is missing (NaN)

Row 19291: Address is missing (NaN)

Row 19292: Address is missing (NaN)

Row 19293: Address is missing (NaN)

Row 19294: Address is missing (NaN)

Row 19295: Address is missing (NaN)

Row 19296: Address is missing (NaN)

Row 19297: Address is missing (NaN)

Row 19298: Address is missing (NaN)

Row 19299: Address is missing (NaN)

Row 19300: Address is missing (NaN)

Row 19301: Address is missing (NaN)

Row 19302: Address is missing (NaN)

Row 19303: Address is missing (NaN)

Row 19304: Address is missing (NaN)

Row 19305: Address is missing (NaN)

Row 19306: Address is missing (NaN)

Row 19307: Address is missing (NaN)

Row 19308: Address is missing (NaN)

Row 19309: Address is missing (NaN)

Row 19310: Address is missing (NaN)

Row 19311: Address is missing (NaN)

Row 19312: Address is missing (NaN)

Row 19313: Address is missing (NaN)

Row 19314: Address is missing (NaN)

Row 19315: Address is missing (NaN)

Row 19316: Address is missing (NaN)

Row 19317: Address is missing (NaN)

Row 19318: Address is missing (NaN)

Row 19319: Address is missing (NaN)

Row 19320: Address is missing (NaN)

Row 19321: Address is missing (NaN)

Row 19322: Address is missing (NaN)

Row 19323: Address is missing (NaN)

Row 19324: Address is missing (NaN)

Row 19325: Address is missing (NaN)

Row 19326: Address is missing (NaN)

Row 19327: Address is missing (NaN)

Row 19328: Address is missing (NaN)

Row 19329: Address is missing (NaN)

Row 19330: Address is missing (NaN)

Row 19331: Address is missing (NaN)

Row 19332: Address is missing (NaN)

Row 19333: Address is missing (NaN)

Row 19334: Address is missing (NaN)

Row 19335: Address is missing (NaN)

Row 19336: Address is missing (NaN)

Row 19337: Address is missing (NaN)

Row 19338: Address is missing (NaN)

Row 19339: Address is missing (NaN)

Row 19340: Address is missing (NaN)

Row 19341: Address is missing (NaN)

Row 19342: Address is missing (NaN)

Row 19343: Address is missing (NaN)

Row 19344: Address is missing (NaN)

Row 19345: Address is missing (NaN)

Row 19346: Address is missing (NaN)

Row 19347: Address is missing (NaN)

Row 19348: Address is missing (NaN)

Row 19349: Address is missing (NaN)

Row 19350: Address is missing (NaN)

Row 19351: Address is missing (NaN)

Row 19352: Address is missing (NaN)

Row 19353: Address is missing (NaN)

Row 19354: Address is missing (NaN)

Row 19355: Address is missing (NaN)

Row 19356: Address is missing (NaN)

Row 19357: Address is missing (NaN)

Row 19358: Address is missing (NaN)

Row 19359: Address is missing (NaN)

Row 19360: Address is missing (NaN)

Row 19361: Address is missing (NaN)

Row 19362: Address is missing (NaN)

Row 19363: Address is missing (NaN)

Row 19364: Address is missing (NaN)

Row 19365: Address is missing (NaN)

Row 19366: Address is missing (NaN)

Row 19367: Address is missing (NaN)

Row 19368: Address is missing (NaN)

Row 19369: Address is missing (NaN)

Row 19370: Address is missing (NaN)

Row 19371: Address is missing (NaN)

Row 19372: Address is missing (NaN)

Row 19373: Address is missing (NaN)

Row 19374: Address is missing (NaN)

Row 19375: Address is missing (NaN)

Row 19376: Address is missing (NaN)

Row 19377: Address is missing (NaN)

Row 19378: Address is missing (NaN)

Row 19379: Address is missing (NaN)

Row 19380: Address is missing (NaN)

Row 19381: Address is missing (NaN)

Row 19382: Address is missing (NaN)

Row 19383: Address is missing (NaN)

Row 19384: Address is missing (NaN)

Row 19385: Address is missing (NaN)

Row 19386: Address is missing (NaN)

Row 19387: Address is missing (NaN)

Row 19388: Address is missing (NaN)

Row 19389: Address is missing (NaN)

Row 19390: Address is missing (NaN)

Row 19391: Address is missing (NaN)

Row 19392: Address is missing (NaN)

Row 19393: Address is missing (NaN)

Row 19394: Address is missing (NaN)

Row 19395: Address is missing (NaN)

Row 19396: Address is missing (NaN)

Row 19397: Address is missing (NaN)

Row 19398: Address is missing (NaN)

Row 19399: Address is missing (NaN)

Row 19400: Address is missing (NaN)

Row 19401: Address is missing (NaN)

Row 19402: Address is missing (NaN)

Row 19403: Address is missing (NaN)

Row 19404: Address is missing (NaN)

Row 19405: Address is missing (NaN)

Row 19406: Address is missing (NaN)

Row 19407: Address is missing (NaN)

Row 19408: Address is missing (NaN)

Row 19409: Address is missing (NaN)

Row 19410: Address is missing (NaN)

Row 19411: Address is missing (NaN)

Row 19412: Address is missing (NaN)

Row 19413: Address is missing (NaN)

Row 19414: Address is missing (NaN)

Row 19415: Address is missing (NaN)

Row 19416: Address is missing (NaN)

Row 19417: Address is missing (NaN)

Row 19418: Address is missing (NaN)

Row 19419: Address is missing (NaN)

Row 19420: Address is missing (NaN)

Row 19421: Address is missing (NaN)

Row 19422: Address is missing (NaN)

Row 19423: Address is missing (NaN)

Row 19424: Address is missing (NaN)

Row 19425: Address is missing (NaN)

Row 19426: Address is missing (NaN)

Row 19427: Address is missing (NaN)

Row 19428: Address is missing (NaN)

Row 19429: Address is missing (NaN)

Row 19430: Address is missing (NaN)

Row 19431: Address is missing (NaN)

Row 19432: Address is missing (NaN)

Row 19433: Address is missing (NaN)

Row 19434: Address is missing (NaN)

Row 19435: Address is missing (NaN)

Row 19436: Address is missing (NaN)

Row 19437: Address is missing (NaN)

Row 19438: Address is missing (NaN)

Row 19439: Address is missing (NaN)

Row 19440: Address is missing (NaN)

Row 19441: Address is missing (NaN)

Row 19442: Address is missing (NaN)

Row 19443: Address is missing (NaN)

Row 19444: Address is missing (NaN)

Row 19445: Address is missing (NaN)

Row 19446: Address is missing (NaN)

Row 19447: Address is missing (NaN)

Row 19448: Address is missing (NaN)

Row 19449: Address is missing (NaN)

Row 19450: Address is missing (NaN)

Row 19451: Address is missing (NaN)

Row 19452: Address is missing (NaN)

Row 19453: Address is missing (NaN)

Row 19454: Address is missing (NaN)

Row 19455: Address is missing (NaN)

Row 19456: Address is missing (NaN)

Row 19457: Address is missing (NaN)

Row 19458: Address is missing (NaN)

Row 19459: Address is missing (NaN)

Row 19460: Address is missing (NaN)

Row 19461: Address is missing (NaN)

Row 19462: Address is missing (NaN)

Row 19463: Address is missing (NaN)

Row 19464: Address is missing (NaN)

Row 19465: Address is missing (NaN)

Row 19466: Address is missing (NaN)

Row 19467: Address is missing (NaN)

Row 19468: Address is missing (NaN)

Row 19469: Address is missing (NaN)

Row 19470: Address is missing (NaN)

Row 19471: Address is missing (NaN)

Row 19472: Address is missing (NaN)

Row 19473: Address is missing (NaN)

Row 19474: Address is missing (NaN)

Row 19475: Address is missing (NaN)

Row 19476: Address is missing (NaN)

Row 19477: Address is missing (NaN)

Row 19478: Address is missing (NaN)

Row 19479: Address is missing (NaN)

Row 19480: Address is missing (NaN)

Row 19481: Address is missing (NaN)

Row 19482: Address is missing (NaN)

Row 19483: Address is missing (NaN)

Row 19484: Address is missing (NaN)

Row 19485: Address is missing (NaN)

Row 19486: Address is missing (NaN)

Row 19487: Address is missing (NaN)

Row 19488: Address is missing (NaN)

Row 19489: Address is missing (NaN)

Row 19490: Address is missing (NaN)

Row 19491: Address is missing (NaN)

Row 19492: Address is missing (NaN)

Row 19493: Address is missing (NaN)

Row 19494: Address is missing (NaN)

Row 19495: Address is missing (NaN)

Row 19496: Address is missing (NaN)

Row 19497: Address is missing (NaN)

Row 19498: Address is missing (NaN)

Row 19499: Address is missing (NaN)

Row 19500: Address is missing (NaN)

Row 19501: Address is missing (NaN)

Row 19502: Address is missing (NaN)

Row 19503: Address is missing (NaN)

Row 19504: Address is missing (NaN)

Row 19505: Address is missing (NaN)

Row 19506: Address is missing (NaN)

Row 19507: Address is missing (NaN)

Row 19508: Address is missing (NaN)

Row 19509: Address is missing (NaN)

Row 19510: Address is missing (NaN)

Row 19511: Address is missing (NaN)

Row 19512: Address is missing (NaN)

Row 19513: Address is missing (NaN)

Row 19514: Address is missing (NaN)

Row 19515: Address is missing (NaN)

Row 19516: Address is missing (NaN)

Row 19517: Address is missing (NaN)

Row 19518: Address is missing (NaN)

Row 19519: Address is missing (NaN)

Row 19520: Address is missing (NaN)

Row 19521: Address is missing (NaN)

Row 19522: Address is missing (NaN)

Row 19523: Address is missing (NaN)

Row 19524: Address is missing (NaN)

Row 19525: Address is missing (NaN)

Row 19526: Address is missing (NaN)

Row 19527: Address is missing (NaN)

Row 19528: Address is missing (NaN)

Row 19529: Address is missing (NaN)

Row 19530: Address is missing (NaN)

Row 19531: Address is missing (NaN)

Row 19532: Address is missing (NaN)

Row 19533: Address is missing (NaN)

Row 19534: Address is missing (NaN)

Row 19535: Address is missing (NaN)

Row 19536: Address is missing (NaN)

Row 19537: Address is missing (NaN)

Row 19538: Address is missing (NaN)

Row 19539: Address is missing (NaN)

Row 19540: Address is missing (NaN)

Row 19541: Address is missing (NaN)

Row 19542: Address is missing (NaN)

Row 19543: Address is missing (NaN)

Row 19544: Address is missing (NaN)

Row 19545: Address is missing (NaN)

Row 19546: Address is missing (NaN)

Row 19547: Address is missing (NaN)

Row 19548: Address is missing (NaN)

Row 19549: Address is missing (NaN)

Row 19550: Address is missing (NaN)

Row 19551: Address is missing (NaN)

Row 19552: Address is missing (NaN)

Row 19553: Address is missing (NaN)

Row 19554: Address is missing (NaN)

Row 19555: Address is missing (NaN)

Row 19556: Address is missing (NaN)

Row 19557: Address is missing (NaN)

Row 19558: Address is missing (NaN)

Row 19559: Address is missing (NaN)

Row 19560: Address is missing (NaN)

Row 19561: Address is missing (NaN)

Row 19562: Address is missing (NaN)

Row 19563: Address is missing (NaN)

Row 19564: Address is missing (NaN)

Row 19565: Address is missing (NaN)

Row 19566: Address is missing (NaN)

Row 19567: Address is missing (NaN)

Row 19568: Address is missing (NaN)

Row 19569: Address is missing (NaN)

Row 19570: Address is missing (NaN)

Row 19571: Address is missing (NaN)

Row 19572: Address is missing (NaN)

Row 19573: Address is missing (NaN)

Row 19574: Address is missing (NaN)

Row 19575: Address is missing (NaN)

Row 19576: Address is missing (NaN)

Row 19577: Address is missing (NaN)

Row 19578: Address is missing (NaN)

Row 19579: Address is missing (NaN)

Row 19580: Address is missing (NaN)

Row 19581: Address is missing (NaN)

Row 19582: Address is missing (NaN)

Row 19583: Address is missing (NaN)

Row 19584: Address is missing (NaN)

Row 19585: Address is missing (NaN)

Row 19586: Address is missing (NaN)

Row 19587: Address is missing (NaN)

Row 19588: Address is missing (NaN)

Row 19589: Address is missing (NaN)

Row 19590: Address is missing (NaN)

Row 19591: Address is missing (NaN)

Row 19592: Address is missing (NaN)

Row 19593: Address is missing (NaN)

Row 19594: Address is missing (NaN)

Row 19595: Address is missing (NaN)

Row 19596: Address is missing (NaN)

Row 19597: Address is missing (NaN)

Row 19598: Address is missing (NaN)

Row 19599: Address is missing (NaN)

Row 19600: Address is missing (NaN)

Row 19601: Address is missing (NaN)

Row 19602: Address is missing (NaN)

Row 19603: Address is missing (NaN)

Row 19604: Address is missing (NaN)

Row 19605: Address is missing (NaN)

Row 19606: Address is missing (NaN)

Row 19607: Address is missing (NaN)

Row 19608: Address is missing (NaN)

Row 19609: Address is missing (NaN)

Row 19610: Address is missing (NaN)

Row 19611: Address is missing (NaN)

Row 19612: Address is missing (NaN)

Row 19613: Address is missing (NaN)

Row 19614: Address is missing (NaN)

Row 19615: Address is missing (NaN)

Row 19616: Address is missing (NaN)

Row 19617: Address is missing (NaN)

Row 19618: Address is missing (NaN)

Row 19619: Address is missing (NaN)

Row 19620: Address is missing (NaN)

Row 19621: Address is missing (NaN)

Row 19622: Address is missing (NaN)

Row 19623: Address is missing (NaN)

Row 19624: Address is missing (NaN)

Row 19625: Address is missing (NaN)

Row 19626: Address is missing (NaN)

Row 19627: Address is missing (NaN)

Row 19628: Address is missing (NaN)

Row 19629: Address is missing (NaN)

Row 19630: Address is missing (NaN)

Row 19631: Address is missing (NaN)

Row 19632: Address is missing (NaN)

Row 19633: Address is missing (NaN)

Row 19634: Address is missing (NaN)

Row 19635: Address is missing (NaN)

Row 19636: Address is missing (NaN)

Row 19637: Address is missing (NaN)

Row 19638: Address is missing (NaN)

Row 19639: Address is missing (NaN)

Row 19640: Address is missing (NaN)

Row 19641: Address is missing (NaN)

Row 19642: Address is missing (NaN)

Row 19643: Address is missing (NaN)

Row 19644: Address is missing (NaN)

Row 19645: Address is missing (NaN)

Row 19646: Address is missing (NaN)

Row 19647: Address is missing (NaN)

Row 19648: Address is missing (NaN)

Row 19649: Address is missing (NaN)

Row 19650: Address is missing (NaN)

Row 19651: Address is missing (NaN)

Row 19652: Address is missing (NaN)

Row 19653: Address is missing (NaN)

Row 19654: Address is missing (NaN)

Row 19655: Address is missing (NaN)

Row 19656: Address is missing (NaN)

Row 19657: Address is missing (NaN)

Row 19658: Address is missing (NaN)

Row 19659: Address is missing (NaN)

Row 19660: Address is missing (NaN)

Row 19661: Address is missing (NaN)

Row 19662: Address is missing (NaN)

Row 19663: Address is missing (NaN)

Row 19664: Address is missing (NaN)

Row 19665: Address is missing (NaN)

Row 19666: Address is missing (NaN)

Row 19667: Address is missing (NaN)

Row 19668: Address is missing (NaN)

Row 19669: Address is missing (NaN)

Row 19670: Address is missing (NaN)

Row 19671: Address is missing (NaN)

Row 19672: Address is missing (NaN)

Row 19673: Address is missing (NaN)

Row 19674: Address is missing (NaN)

Row 19675: Address is missing (NaN)

Row 19676: Address is missing (NaN)

Row 19677: Address is missing (NaN)

Row 19678: Address is missing (NaN)

Row 19679: Address is missing (NaN)

Row 19680: Address is missing (NaN)

Row 19681: Address is missing (NaN)

Row 19682: Address is missing (NaN)

Row 19683: Address is missing (NaN)

Row 19684: Address is missing (NaN)

Row 19685: Address is missing (NaN)

Row 19686: Address is missing (NaN)

Row 19687: Address is missing (NaN)

Row 19688: Address is missing (NaN)

Row 19689: Address is missing (NaN)

Row 19690: Address is missing (NaN)

Row 19691: Address is missing (NaN)

Row 19692: Address is missing (NaN)

Row 19693: Address is missing (NaN)

Row 19694: Address is missing (NaN)

Row 19695: Address is missing (NaN)

Row 19696: Address is missing (NaN)

Row 19697: Address is missing (NaN)

Row 19698: Address is missing (NaN)

Row 19699: Address is missing (NaN)

Row 19700: Address is missing (NaN)

Row 19701: Address is missing (NaN)

Row 19702: Address is missing (NaN)

Row 19703: Address is missing (NaN)

Row 19704: Address is missing (NaN)

Row 19705: Address is missing (NaN)

Row 19706: Address is missing (NaN)

Row 19707: Address is missing (NaN)

Row 19708: Address is missing (NaN)

Row 19709: Address is missing (NaN)

Row 19710: Address is missing (NaN)

Row 19711: Address is missing (NaN)

Row 19712: Address is missing (NaN)

Row 19713: Address is missing (NaN)

Row 19714: Address is missing (NaN)

Row 19715: Address is missing (NaN)

Row 19716: Address is missing (NaN)

Row 19717: Address is missing (NaN)

Row 19718: Address is missing (NaN)

Row 19719: Address is missing (NaN)

Row 19720: Address is missing (NaN)

Row 19721: Address is missing (NaN)

Row 19722: Address is missing (NaN)

Row 19723: Address is missing (NaN)

Row 19724: Address is missing (NaN)

Row 19725: Address is missing (NaN)

Row 19726: Address is missing (NaN)

Row 19727: Address is missing (NaN)

Row 19728: Address is missing (NaN)

Row 19729: Address is missing (NaN)

Row 19730: Address is missing (NaN)

Row 19731: Address is missing (NaN)

Row 19732: Address is missing (NaN)

Row 19733: Address is missing (NaN)

Row 19734: Address is missing (NaN)

Row 19735: Address is missing (NaN)

Row 19736: Address is missing (NaN)

Row 19737: Address is missing (NaN)

Row 19738: Address is missing (NaN)

Row 19739: Address is missing (NaN)

Row 19740: Address is missing (NaN)

Row 19741: Address is missing (NaN)

Row 19742: Address is missing (NaN)

Row 19743: Address is missing (NaN)

Row 19744: Address is missing (NaN)

Row 19745: Address is missing (NaN)

Row 19746: Address is missing (NaN)

Row 19747: Address is missing (NaN)

Row 19748: Address is missing (NaN)

Row 19749: Address is missing (NaN)

Row 19750: Address is missing (NaN)

Row 19751: Address is missing (NaN)

Row 19752: Address is missing (NaN)

Row 19753: Address is missing (NaN)

Row 19754: Address is missing (NaN)

Row 19755: Address is missing (NaN)

Row 19756: Address is missing (NaN)

Row 19757: Address is missing (NaN)

Row 19758: Address is missing (NaN)

Row 19759: Address is missing (NaN)

Row 19760: Address is missing (NaN)

Row 19761: Address is missing (NaN)

Row 19762: Address is missing (NaN)

Row 19763: Address is missing (NaN)

Row 19764: Address is missing (NaN)

Row 19765: Address is missing (NaN)

Row 19766: Address is missing (NaN)

Row 19767: Address is missing (NaN)

Row 19768: Address is missing (NaN)

Row 19769: Address is missing (NaN)

Row 19770: Address is missing (NaN)

Row 19771: Address is missing (NaN)

Row 19772: Address is missing (NaN)

Row 19773: Address is missing (NaN)

Row 19774: Address is missing (NaN)

Row 19775: Address is missing (NaN)

Row 19776: Address is missing (NaN)

Row 19777: Address is missing (NaN)

Row 19778: Address is missing (NaN)

Row 19779: Address is missing (NaN)

Row 19780: Address is missing (NaN)

Row 19781: Address is missing (NaN)

Row 19782: Address is missing (NaN)

Row 19783: Address is missing (NaN)

Row 19784: Address is missing (NaN)

Row 19785: Address is missing (NaN)

Row 19786: Address is missing (NaN)

Row 19787: Address is missing (NaN)

Row 19788: Address is missing (NaN)

Row 19789: Address is missing (NaN)

Row 19790: Address is missing (NaN)

Row 19791: Address is missing (NaN)

Row 19792: Address is missing (NaN)

Row 19793: Address is missing (NaN)

Row 19794: Address is missing (NaN)

Row 19795: Address is missing (NaN)

Row 19796: Address is missing (NaN)

Row 19797: Address is missing (NaN)

Row 19798: Address is missing (NaN)

Row 19799: Address is missing (NaN)

Row 19800: Address is missing (NaN)

Row 19801: Address is missing (NaN)

Row 19802: Address is missing (NaN)

Row 19803: Address is missing (NaN)

Row 19804: Address is missing (NaN)

Row 19805: Address is missing (NaN)

Row 19806: Address is missing (NaN)

Row 19807: Address is missing (NaN)

Row 19808: Address is missing (NaN)

Row 19809: Address is missing (NaN)

Row 19810: Address is missing (NaN)

Row 19811: Address is missing (NaN)

Row 19812: Address is missing (NaN)

Row 19813: Address is missing (NaN)

Row 19814: Address is missing (NaN)

Row 19815: Address is missing (NaN)

Row 19816: Address is missing (NaN)

Row 19817: Address is missing (NaN)

Row 19818: Address is missing (NaN)

Row 19819: Address is missing (NaN)

Row 19820: Address is missing (NaN)

Row 19821: Address is missing (NaN)

Row 19822: Address is missing (NaN)

Row 19823: Address is missing (NaN)

Row 19824: Address is missing (NaN)

Row 19825: Address is missing (NaN)

Row 19826: Address is missing (NaN)

Row 19827: Address is missing (NaN)

Row 19828: Address is missing (NaN)

Row 19829: Address is missing (NaN)

Row 19830: Address is missing (NaN)

Row 19831: Address is missing (NaN)

Row 19832: Address is missing (NaN)

Row 19833: Address is missing (NaN)

Row 19834: Address is missing (NaN)

Row 19835: Address is missing (NaN)

Row 19836: Address is missing (NaN)

Row 19837: Address is missing (NaN)

Row 19838: Address is missing (NaN)

Row 19839: Address is missing (NaN)

Row 19840: Address is missing (NaN)

Row 19841: Address is missing (NaN)

Row 19842: Address is missing (NaN)

Row 19843: Address is missing (NaN)

Row 19844: Address is missing (NaN)

Row 19845: Address is missing (NaN)

Row 19846: Address is missing (NaN)

Row 19847: Address is missing (NaN)

Row 19848: Address is missing (NaN)

Row 19849: Address is missing (NaN)

Row 19850: Address is missing (NaN)

Row 19851: Address is missing (NaN)

Row 19852: Address is missing (NaN)

Row 19853: Address is missing (NaN)

Row 19854: Address is missing (NaN)

Row 19855: Address is missing (NaN)

Row 19856: Address is missing (NaN)

Row 19857: Address is missing (NaN)

Row 19858: Address is missing (NaN)

Row 19859: Address is missing (NaN)

Row 19860: Address is missing (NaN)

Row 19861: Address is missing (NaN)

Row 19862: Address is missing (NaN)

Row 19863: Address is missing (NaN)

Row 19864: Address is missing (NaN)

Row 19865: Address is missing (NaN)

Row 19866: Address is missing (NaN)

Row 19867: Address is missing (NaN)

Row 19868: Address is missing (NaN)

Row 19869: Address is missing (NaN)

Row 19870: Address is missing (NaN)

Row 19871: Address is missing (NaN)

Row 19872: Address is missing (NaN)

Row 19873: Address is missing (NaN)

Row 19874: Address is missing (NaN)

Row 19875: Address is missing (NaN)

Row 19876: Address is missing (NaN)

Row 19877: Address is missing (NaN)

Row 19878: Address is missing (NaN)

Row 19879: Address is missing (NaN)

Row 19880: Address is missing (NaN)

Row 19881: Address is missing (NaN)

Row 19882: Address is missing (NaN)

Row 19883: Address is missing (NaN)

Row 19884: Address is missing (NaN)

Row 19885: Address is missing (NaN)

Row 19886: Address is missing (NaN)

Row 19887: Address is missing (NaN)

Row 19888: Address is missing (NaN)

Row 19889: Address is missing (NaN)

Row 19890: Address is missing (NaN)

Row 19891: Address is missing (NaN)

Row 19892: Address is missing (NaN)

Row 19893: Address is missing (NaN)

Row 19894: Address is missing (NaN)

Row 19895: Address is missing (NaN)

Row 19896: Address is missing (NaN)

Row 19897: Address is missing (NaN)

Row 19898: Address is missing (NaN)

Row 19899: Address is missing (NaN)

Row 19900: Address is missing (NaN)

Row 19901: Address is missing (NaN)

Row 19902: Address is missing (NaN)

Row 19903: Address is missing (NaN)

Row 19904: Address is missing (NaN)

Row 19905: Address is missing (NaN)

Row 19906: Address is missing (NaN)

Row 19907: Address is missing (NaN)

Row 19908: Address is missing (NaN)

Row 19909: Address is missing (NaN)

Row 19910: Address is missing (NaN)

Row 19911: Address is missing (NaN)

Row 19912: Address is missing (NaN)

Row 19913: Address is missing (NaN)

Row 19914: Address is missing (NaN)

Row 19915: Address is missing (NaN)

Row 19916: Address is missing (NaN)

Row 19917: Address is missing (NaN)

Row 19918: Address is missing (NaN)

Row 19919: Address is missing (NaN)

Row 19920: Address is missing (NaN)

Row 19921: Address is missing (NaN)

Row 19922: Address is missing (NaN)

Row 19923: Address is missing (NaN)

Row 19924: Address is missing (NaN)

Row 19925: Address is missing (NaN)

Row 19926: Address is missing (NaN)

Row 19927: Address is missing (NaN)

Row 19928: Address is missing (NaN)

Row 19929: Address is missing (NaN)

Row 19930: Address is missing (NaN)

Row 19931: Address is missing (NaN)

Row 19932: Address is missing (NaN)

Row 19933: Address is missing (NaN)

Row 19934: Address is missing (NaN)

Row 19935: Address is missing (NaN)

Row 19936: Address is missing (NaN)

Row 19937: Address is missing (NaN)

Row 19938: Address is missing (NaN)

Row 19939: Address is missing (NaN)

Row 19940: Address is missing (NaN)

Row 19941: Address is missing (NaN)

Row 19942: Address is missing (NaN)

Row 19943: Address is missing (NaN)

Row 19944: Address is missing (NaN)

Row 19945: Address is missing (NaN)

Row 19946: Address is missing (NaN)

Row 19947: Address is missing (NaN)

Row 19948: Address is missing (NaN)

Row 19949: Address is missing (NaN)

Row 19950: Address is missing (NaN)

Row 19951: Address is missing (NaN)

Row 19952: Address is missing (NaN)

Row 19953: Address is missing (NaN)

Row 19954: Address is missing (NaN)

Row 19955: Address is missing (NaN)

Row 19956: Address is missing (NaN)

Row 19957: Address is missing (NaN)

Row 19958: Address is missing (NaN)

Row 19959: Address is missing (NaN)

Row 19960: Address is missing (NaN)

Row 19961: Address is missing (NaN)

Row 19962: Address is missing (NaN)

Row 19963: Address is missing (NaN)

Row 19964: Address is missing (NaN)

Row 19965: Address is missing (NaN)

Row 19966: Address is missing (NaN)

Row 19967: Address is missing (NaN)

Row 19968: Address is missing (NaN)

Row 19969: Address is missing (NaN)

Row 19970: Address is missing (NaN)

Row 19971: Address is missing (NaN)

Row 19972: Address is missing (NaN)

Row 19973: Address is missing (NaN)

Row 19974: Address is missing (NaN)

Row 19975: Address is missing (NaN)

Row 19976: Address is missing (NaN)

Row 19977: Address is missing (NaN)

Row 19978: Address is missing (NaN)

Row 19979: Address is missing (NaN)

Row 19980: Address is missing (NaN)

Row 19981: Address is missing (NaN)

Row 19982: Address is missing (NaN)

Row 19983: Address is missing (NaN)

Row 19984: Address is missing (NaN)

Row 19985: Address is missing (NaN)

Row 19986: Address is missing (NaN)

Row 19987: Address is missing (NaN)

Row 19988: Address is missing (NaN)

Row 19989: Address is missing (NaN)

Row 19990: Address is missing (NaN)

Row 19991: Address is missing (NaN)

Row 19992: Address is missing (NaN)

Row 19993: Address is missing (NaN)

Row 19994: Address is missing (NaN)

Row 19995: Address is missing (NaN)

Row 19996: Address is missing (NaN)

Row 19997: Address is missing (NaN)

Row 19998: Address is missing (NaN)

Row 19999: Address is missing (NaN)

Row 20000: Address is missing (NaN)

Row 20001: Address is missing (NaN)

Row 20002: Address is missing (NaN)

Row 20003: Address is missing (NaN)

Row 20004: Address is missing (NaN)

Row 20005: Address is missing (NaN)

Row 20006: Address is missing (NaN)

Row 20007: Address is missing (NaN)

Row 20008: Address is missing (NaN)

Row 20009: Address is missing (NaN)

Row 20010: Address is missing (NaN)

Row 20011: Address is missing (NaN)

Row 20012: Address is missing (NaN)

Row 20013: Address is missing (NaN)

Row 20014: Address is missing (NaN)

Row 20015: Address is missing (NaN)

Row 20016: Address is missing (NaN)

Row 20017: Address is missing (NaN)

Row 20018: Address is missing (NaN)

Row 20019: Address is missing (NaN)

Row 20020: Address is missing (NaN)

Row 20021: Address is missing (NaN)

Row 20022: Address is missing (NaN)

Row 20023: Address is missing (NaN)

Row 20024: Address is missing (NaN)

Row 20025: Address is missing (NaN)

Row 20026: Address is missing (NaN)

Row 20027: Address is missing (NaN)

Row 20028: Address is missing (NaN)

Row 20029: Address is missing (NaN)

Row 20030: Address is missing (NaN)

Row 20031: Address is missing (NaN)

Row 20032: Address is missing (NaN)

Row 20033: Address is missing (NaN)

Row 20034: Address is missing (NaN)

Row 20035: Address is missing (NaN)

Row 20036: Address is missing (NaN)

Row 20037: Address is missing (NaN)

Row 20038: Address is missing (NaN)

Row 20039: Address is missing (NaN)

Row 20040: Address is missing (NaN)

Row 20041: Address is missing (NaN)

Row 20042: Address is missing (NaN)

Row 20043: Address is missing (NaN)

Row 20044: Address is missing (NaN)

Row 20045: Address is missing (NaN)

Row 20046: Address is missing (NaN)

Row 20047: Address is missing (NaN)

Row 20048: Address is missing (NaN)

Row 20049: Address is missing (NaN)

Row 20050: Address is missing (NaN)

Row 20051: Address is missing (NaN)

Row 20052: Address is missing (NaN)

Row 20053: Address is missing (NaN)

Row 20054: Address is missing (NaN)

Row 20055: Address is missing (NaN)

Row 20056: Address is missing (NaN)

Row 20057: Address is missing (NaN)

Row 20058: Address is missing (NaN)

Row 20059: Address is missing (NaN)

Row 20060: Address is missing (NaN)

Row 20061: Address is missing (NaN)

Row 20062: Address is missing (NaN)

Row 20063: Address is missing (NaN)

Row 20064: Address is missing (NaN)

Row 20065: Address is missing (NaN)

Row 20066: Address is missing (NaN)

Row 20067: Address is missing (NaN)

Row 20068: Address is missing (NaN)

Row 20069: Address is missing (NaN)

Row 20070: Address is missing (NaN)

Row 20071: Address is missing (NaN)

Row 20072: Address is missing (NaN)

Row 20073: Address is missing (NaN)

Row 20074: Address is missing (NaN)

Row 20075: Address is missing (NaN)

Row 20076: Address is missing (NaN)

Row 20077: Address is missing (NaN)

Row 20078: Address is missing (NaN)

Row 20079: Address is missing (NaN)

Row 20080: Address is missing (NaN)

Row 20081: Address is missing (NaN)

Row 20082: Address is missing (NaN)

Row 20083: Address is missing (NaN)

Row 20084: Address is missing (NaN)

Row 20085: Address is missing (NaN)

Row 20086: Address is missing (NaN)

Row 20087: Address is missing (NaN)

Row 20088: Address is missing (NaN)

Row 20089: Address is missing (NaN)

Row 20090: Address is missing (NaN)

Row 20091: Address is missing (NaN)

Row 20092: Address is missing (NaN)

Row 20093: Address is missing (NaN)

Row 20094: Address is missing (NaN)

Row 20095: Address is missing (NaN)

Row 20096: Address is missing (NaN)

Row 20097: Address is missing (NaN)

Row 20098: Address is missing (NaN)

Row 20099: Address is missing (NaN)

Row 20100: Address is missing (NaN)

Row 20101: Address is missing (NaN)

Row 20102: Address is missing (NaN)

Row 20103: Address is missing (NaN)

Row 20104: Address is missing (NaN)

Row 20105: Address is missing (NaN)

Row 20106: Address is missing (NaN)

Row 20107: Address is missing (NaN)

Row 20108: Address is missing (NaN)

Row 20109: Address is missing (NaN)

Row 20110: Address is missing (NaN)

Row 20111: Address is missing (NaN)

Row 20112: Address is missing (NaN)

Row 20113: Address is missing (NaN)

Row 20114: Address is missing (NaN)

Row 20115: Address is missing (NaN)

Row 20116: Address is missing (NaN)

Row 20117: Address is missing (NaN)

Row 20118: Address is missing (NaN)

Row 20119: Address is missing (NaN)

Row 20120: Address is missing (NaN)

Row 20121: Address is missing (NaN)

Row 20122: Address is missing (NaN)

Row 20123: Address is missing (NaN)

Row 20124: Address is missing (NaN)

Row 20125: Address is missing (NaN)

Row 20126: Address is missing (NaN)

Row 20127: Address is missing (NaN)

Row 20128: Address is missing (NaN)

Row 20129: Address is missing (NaN)

Row 20130: Address is missing (NaN)

Row 20131: Address is missing (NaN)

Row 20132: Address is missing (NaN)

Row 20133: Address is missing (NaN)

Row 20134: Address is missing (NaN)

Row 20135: Address is missing (NaN)

Row 20136: Address is missing (NaN)

Row 20137: Address is missing (NaN)

Row 20138: Address is missing (NaN)

Row 20139: Address is missing (NaN)

Row 20140: Address is missing (NaN)

Row 20141: Address is missing (NaN)

Row 20142: Address is missing (NaN)

Row 20143: Address is missing (NaN)

Row 20144: Address is missing (NaN)

Row 20145: Address is missing (NaN)

Row 20146: Address is missing (NaN)

Row 20147: Address is missing (NaN)

Row 20148: Address is missing (NaN)

Row 20149: Address is missing (NaN)

Row 20150: Address is missing (NaN)

Row 20151: Address is missing (NaN)

Row 20152: Address is missing (NaN)

Row 20153: Address is missing (NaN)

Row 20154: Address is missing (NaN)

Row 20155: Address is missing (NaN)

Row 20156: Address is missing (NaN)

Row 20157: Address is missing (NaN)

Row 20158: Address is missing (NaN)

Row 20159: Address is missing (NaN)

Row 20160: Address is missing (NaN)

Row 20161: Address is missing (NaN)

Row 20162: Address is missing (NaN)

Row 20163: Address is missing (NaN)

Row 20164: Address is missing (NaN)

Row 20165: Address is missing (NaN)

Row 20166: Address is missing (NaN)

Row 20167: Address is missing (NaN)

Row 20168: Address is missing (NaN)

Row 20169: Address is missing (NaN)

Row 20170: Address is missing (NaN)

Row 20171: Address is missing (NaN)

Row 20172: Address is missing (NaN)

Row 20173: Address is missing (NaN)

Row 20174: Address is missing (NaN)

Row 20175: Address is missing (NaN)

Row 20176: Address is missing (NaN)

Row 20177: Address is missing (NaN)

Row 20178: Address is missing (NaN)

Row 20179: Address is missing (NaN)

Row 20180: Address is missing (NaN)

Row 20181: Address is missing (NaN)

Row 20182: Address is missing (NaN)

Row 20183: Address is missing (NaN)

Row 20184: Address is missing (NaN)

Row 20185: Address is missing (NaN)

Row 20186: Address is missing (NaN)

Row 20187: Address is missing (NaN)

Row 20188: Address is missing (NaN)

Row 20189: Address is missing (NaN)

Row 20190: Address is missing (NaN)

Row 20191: Address is missing (NaN)

Row 20192: Address is missing (NaN)

Row 20193: Address is missing (NaN)

Row 20194: Address is missing (NaN)

Row 20195: Address is missing (NaN)

Row 20196: Address is missing (NaN)

Row 20197: Address is missing (NaN)

Row 20198: Address is missing (NaN)

Row 20199: Address is missing (NaN)

Row 20200: Address is missing (NaN)

Row 20201: Address is missing (NaN)

Row 20202: Address is missing (NaN)

Row 20203: Address is missing (NaN)

Row 20204: Address is missing (NaN)

Row 20205: Address is missing (NaN)

Row 20206: Address is missing (NaN)

Row 20207: Address is missing (NaN)

Row 20208: Address is missing (NaN)

Row 20209: Address is missing (NaN)

Row 20210: Address is missing (NaN)

Row 20211: Address is missing (NaN)

Row 20212: Address is missing (NaN)

Row 20213: Address is missing (NaN)

Row 20214: Address is missing (NaN)

Row 20215: Address is missing (NaN)

Row 20216: Address is missing (NaN)

Row 20217: Address is missing (NaN)

Row 20218: Address is missing (NaN)

Row 20219: Address is missing (NaN)

Row 20220: Address is missing (NaN)

Row 20221: Address is missing (NaN)

Row 20222: Address is missing (NaN)

Row 20223: Address is missing (NaN)

Row 20224: Address is missing (NaN)

Row 20225: Address is missing (NaN)

Row 20226: Address is missing (NaN)

Row 20227: Address is missing (NaN)

Row 20228: Address is missing (NaN)

Row 20229: Address is missing (NaN)

Row 20230: Address is missing (NaN)

Row 20231: Address is missing (NaN)

Row 20232: Address is missing (NaN)

Row 20233: Address is missing (NaN)

Row 20234: Address is missing (NaN)

Row 20235: Address is missing (NaN)

Row 20236: Address is missing (NaN)

Row 20237: Address is missing (NaN)

Row 20238: Address is missing (NaN)

Row 20239: Address is missing (NaN)

Row 20240: Address is missing (NaN)

Row 20241: Address is missing (NaN)

Row 20242: Address is missing (NaN)

Row 20243: Address is missing (NaN)

Row 20244: Address is missing (NaN)

Row 20245: Address is missing (NaN)

Row 20246: Address is missing (NaN)

Row 20247: Address is missing (NaN)

Row 20248: Address is missing (NaN)

Row 20249: Address is missing (NaN)

Row 20250: Address is missing (NaN)

Row 20251: Address is missing (NaN)

Row 20252: Address is missing (NaN)

Row 20253: Address is missing (NaN)

Row 20254: Address is missing (NaN)

Row 20255: Address is missing (NaN)

Row 20256: Address is missing (NaN)

Row 20257: Address is missing (NaN)

Row 20258: Address is missing (NaN)

Row 20259: Address is missing (NaN)

Row 20260: Address is missing (NaN)

Row 20261: Address is missing (NaN)

Row 20262: Address is missing (NaN)

Row 20263: Address is missing (NaN)

Row 20264: Address is missing (NaN)

Row 20265: Address is missing (NaN)

Row 20266: Address is missing (NaN)

Row 20267: Address is missing (NaN)

Row 20268: Address is missing (NaN)

Row 20269: Address is missing (NaN)

Row 20270: Address is missing (NaN)

Row 20271: Address is missing (NaN)

Row 20272: Address is missing (NaN)

Row 20273: Address is missing (NaN)

Row 20274: Address is missing (NaN)

Row 20275: Address is missing (NaN)

Row 20276: Address is missing (NaN)

Row 20277: Address is missing (NaN)

Row 20278: Address is missing (NaN)

Row 20279: Address is missing (NaN)

Row 20280: Address is missing (NaN)

Row 20281: Address is missing (NaN)

Row 20282: Address is missing (NaN)

Row 20283: Address is missing (NaN)

Row 20284: Address is missing (NaN)

Row 20285: Address is missing (NaN)

Row 20286: Address is missing (NaN)

Row 20287: Address is missing (NaN)

Row 20288: Address is missing (NaN)

Row 20289: Address is missing (NaN)

Row 20290: Address is missing (NaN)

Row 20291: Address is missing (NaN)

Row 20292: Address is missing (NaN)

Row 20293: Address is missing (NaN)

Row 20294: Address is missing (NaN)

Row 20295: Address is missing (NaN)

Row 20296: Address is missing (NaN)

Row 20297: Address is missing (NaN)

Row 20298: Address is missing (NaN)

Row 20299: Address is missing (NaN)

Row 20300: Address is missing (NaN)

Row 20301: Address is missing (NaN)

Row 20302: Address is missing (NaN)

Row 20303: Address is missing (NaN)

Row 20304: Address is missing (NaN)

Row 20305: Address is missing (NaN)

Row 20306: Address is missing (NaN)

Row 20307: Address is missing (NaN)

Row 20308: Address is missing (NaN)

Row 20309: Address is missing (NaN)

Row 20310: Address is missing (NaN)

Row 20311: Address is missing (NaN)

Row 20312: Address is missing (NaN)

Row 20313: Address is missing (NaN)

Row 20314: Address is missing (NaN)

Row 20315: Address is missing (NaN)

Row 20316: Address is missing (NaN)

Row 20317: Address is missing (NaN)

Row 20318: Address is missing (NaN)

Row 20319: Address is missing (NaN)

Row 20320: Address is missing (NaN)

Row 20321: Address is missing (NaN)

Row 20322: Address is missing (NaN)

Row 20323: Address is missing (NaN)

Row 20324: Address is missing (NaN)

Row 20325: Address is missing (NaN)

Row 20326: Address is missing (NaN)

Row 20327: Address is missing (NaN)

Row 20328: Address is missing (NaN)

Row 20329: Address is missing (NaN)

Row 20330: Address is missing (NaN)

Row 20331: Address is missing (NaN)

Row 20332: Address is missing (NaN)

Row 20333: Address is missing (NaN)

Row 20334: Address is missing (NaN)

Row 20335: Address is missing (NaN)

Row 20336: Address is missing (NaN)

Row 20337: Address is missing (NaN)

Row 20338: Address is missing (NaN)

Row 20339: Address is missing (NaN)

Row 20340: Address is missing (NaN)

Row 20341: Address is missing (NaN)

Row 20342: Address is missing (NaN)

Row 20343: Address is missing (NaN)

Row 20344: Address is missing (NaN)

Row 20345: Address is missing (NaN)

Row 20346: Address is missing (NaN)

Row 20347: Address is missing (NaN)

Row 20348: Address is missing (NaN)

Row 20349: Address is missing (NaN)

Row 20350: Address is missing (NaN)

Row 20351: Address is missing (NaN)

Row 20352: Address is missing (NaN)

Row 20353: Address is missing (NaN)

Row 20354: Address is missing (NaN)

Row 20355: Address is missing (NaN)

Row 20356: Address is missing (NaN)

Row 20357: Address is missing (NaN)

Row 20358: Address is missing (NaN)

Row 20359: Address is missing (NaN)

Row 20360: Address is missing (NaN)

Row 20361: Address is missing (NaN)

Row 20362: Address is missing (NaN)

Row 20363: Address is missing (NaN)

Row 20364: Address is missing (NaN)

Row 20365: Address is missing (NaN)

Row 20366: Address is missing (NaN)

Row 20367: Address is missing (NaN)

Row 20368: Address is missing (NaN)

Row 20369: Address is missing (NaN)

Row 20370: Address is missing (NaN)

Row 20371: Address is missing (NaN)

Row 20372: Address is missing (NaN)

Row 20373: Address is missing (NaN)

Row 20374: Address is missing (NaN)

Row 20375: Address is missing (NaN)

Row 20376: Address is missing (NaN)

Row 20377: Address is missing (NaN)

Row 20378: Address is missing (NaN)

Row 20379: Address is missing (NaN)

Row 20380: Address is missing (NaN)

Row 20381: Address is missing (NaN)

Row 20382: Address is missing (NaN)

Row 20383: Address is missing (NaN)

Row 20384: Address is missing (NaN)

Row 20385: Address is missing (NaN)

Row 20386: Address is missing (NaN)

Row 20387: Address is missing (NaN)

Row 20388: Address is missing (NaN)

Row 20389: Address is missing (NaN)

Row 20390: Address is missing (NaN)

Row 20391: Address is missing (NaN)

Row 20392: Address is missing (NaN)

Row 20393: Address is missing (NaN)

Row 20394: Address is missing (NaN)

Row 20395: Address is missing (NaN)

Row 20396: Address is missing (NaN)

Row 20397: Address is missing (NaN)

Row 20398: Address is missing (NaN)

Row 20399: Address is missing (NaN)

Row 20400: Address is missing (NaN)

Row 20401: Address is missing (NaN)

Row 20402: Address is missing (NaN)

Row 20403: Address is missing (NaN)

Row 20404: Address is missing (NaN)

Row 20405: Address is missing (NaN)

Row 20406: Address is missing (NaN)

Row 20407: Address is missing (NaN)

Row 20408: Address is missing (NaN)

Row 20409: Address is missing (NaN)

Row 20410: Address is missing (NaN)

Row 20411: Address is missing (NaN)

Row 20412: Address is missing (NaN)

Row 20413: Address is missing (NaN)

Row 20414: Address is missing (NaN)

Row 20415: Address is missing (NaN)

Row 20416: Address is missing (NaN)

Row 20417: Address is missing (NaN)

Row 20418: Address is missing (NaN)

Row 20419: Address is missing (NaN)

Row 20420: Address is missing (NaN)

Row 20421: Address is missing (NaN)

Row 20422: Address is missing (NaN)

Row 20423: Address is missing (NaN)

Row 20424: Address is missing (NaN)

Row 20425: Address is missing (NaN)

Row 20426: Address is missing (NaN)

Row 20427: Address is missing (NaN)

Row 20428: Address is missing (NaN)

Row 20429: Address is missing (NaN)

Row 20430: Address is missing (NaN)

Row 20431: Address is missing (NaN)

Row 20432: Address is missing (NaN)

Row 20433: Address is missing (NaN)

Row 20434: Address is missing (NaN)

Row 20435: Address is missing (NaN)

Row 20436: Address is missing (NaN)

Row 20437: Address is missing (NaN)

Row 20438: Address is missing (NaN)

Row 20439: Address is missing (NaN)

Row 20440: Address is missing (NaN)

Row 20441: Address is missing (NaN)

Row 20442: Address is missing (NaN)

Row 20443: Address is missing (NaN)

Row 20444: Address is missing (NaN)

Row 20445: Address is missing (NaN)

Row 20446: Address is missing (NaN)

Row 20447: Address is missing (NaN)

Row 20448: Address is missing (NaN)

Row 20449: Address is missing (NaN)

Row 20450: Address is missing (NaN)

Row 20451: Address is missing (NaN)

Row 20452: Address is missing (NaN)

Row 20453: Address is missing (NaN)

Row 20454: Address is missing (NaN)

Row 20455: Address is missing (NaN)

Row 20456: Address is missing (NaN)

Row 20457: Address is missing (NaN)

Row 20458: Address is missing (NaN)

Row 20459: Address is missing (NaN)

Row 20460: Address is missing (NaN)

Row 20461: Address is missing (NaN)

Row 20462: Address is missing (NaN)

Row 20463: Address is missing (NaN)

Row 20464: Address is missing (NaN)

Row 20465: Address is missing (NaN)

Row 20466: Address is missing (NaN)

Row 20467: Address is missing (NaN)

Row 20468: Address is missing (NaN)

Row 20469: Address is missing (NaN)

Row 20470: Address is missing (NaN)

Row 20471: Address is missing (NaN)

Row 20472: Address is missing (NaN)

Row 20473: Address is missing (NaN)

Row 20474: Address is missing (NaN)

Row 20475: Address is missing (NaN)

Row 20476: Address is missing (NaN)

Row 20477: Address is missing (NaN)

Row 20478: Address is missing (NaN)

Row 20479: Address is missing (NaN)

Row 20480: Address is missing (NaN)

Row 20481: Address is missing (NaN)

Row 20482: Address is missing (NaN)

Row 20483: Address is missing (NaN)

Row 20484: Address is missing (NaN)

Row 20485: Address is missing (NaN)

Row 20486: Address is missing (NaN)

Row 20487: Address is missing (NaN)

Row 20488: Address is missing (NaN)

Row 20489: Address is missing (NaN)

Row 20490: Address is missing (NaN)

Row 20491: Address is missing (NaN)

Row 20492: Address is missing (NaN)

Row 20493: Address is missing (NaN)

Row 20494: Address is missing (NaN)

Row 20495: Address is missing (NaN)

Row 20496: Address is missing (NaN)

Row 20497: Address is missing (NaN)

Row 20498: Address is missing (NaN)

Row 20499: Address is missing (NaN)

Row 20500: Address is missing (NaN)

Row 20501: Address is missing (NaN)

Row 20502: Address is missing (NaN)

Row 20503: Address is missing (NaN)

Row 20504: Address is missing (NaN)

Row 20505: Address is missing (NaN)

Row 20506: Address is missing (NaN)

Row 20507: Address is missing (NaN)

Row 20508: Address is missing (NaN)

Row 20509: Address is missing (NaN)

Row 20510: Address is missing (NaN)

Row 20511: Address is missing (NaN)

Row 20512: Address is missing (NaN)

Row 20513: Address is missing (NaN)

Row 20514: Address is missing (NaN)

Row 20515: Address is missing (NaN)

Row 20516: Address is missing (NaN)

Row 20517: Address is missing (NaN)

Row 20518: Address is missing (NaN)

Row 20519: Address is missing (NaN)

Row 20520: Address is missing (NaN)

Row 20521: Address is missing (NaN)

Row 20522: Address is missing (NaN)

Row 20523: Address is missing (NaN)

Row 20524: Address is missing (NaN)

Row 20525: Address is missing (NaN)

Row 20526: Address is missing (NaN)

Row 20527: Address is missing (NaN)

Row 20528: Address is missing (NaN)

Row 20529: Address is missing (NaN)

Row 20530: Address is missing (NaN)

Row 20531: Address is missing (NaN)

Row 20532: Address is missing (NaN)

Row 20533: Address is missing (NaN)

Row 20534: Address is missing (NaN)

Row 20535: Address is missing (NaN)

Row 20536: Address is missing (NaN)

Row 20537: Address is missing (NaN)

Row 20538: Address is missing (NaN)

Row 20539: Address is missing (NaN)

Row 20540: Address is missing (NaN)

Row 20541: Address is missing (NaN)

Row 20542: Address is missing (NaN)

Row 20543: Address is missing (NaN)

Row 20544: Address is missing (NaN)

Row 20545: Address is missing (NaN)

Row 20546: Address is missing (NaN)

Row 20547: Address is missing (NaN)

Row 20548: Address is missing (NaN)

Row 20549: Address is missing (NaN)

Row 20550: Address is missing (NaN)

Row 20551: Address is missing (NaN)

Row 20552: Address is missing (NaN)

Row 20553: Address is missing (NaN)

Row 20554: Address is missing (NaN)

Row 20555: Address is missing (NaN)

Row 20556: Address is missing (NaN)

Row 20557: Address is missing (NaN)

Row 20558: Address is missing (NaN)

Row 20559: Address is missing (NaN)

Row 20560: Address is missing (NaN)

Row 20561: Address is missing (NaN)

Row 20562: Address is missing (NaN)

Row 20563: Address is missing (NaN)

Row 20564: Address is missing (NaN)

Row 20565: Address is missing (NaN)

Row 20566: Address is missing (NaN)

Row 20567: Address is missing (NaN)

Row 20568: Address is missing (NaN)

Row 20569: Address is missing (NaN)

Row 20570: Address is missing (NaN)

Row 20571: Address is missing (NaN)

Row 20572: Address is missing (NaN)

Row 20573: Address is missing (NaN)

Row 20574: Address is missing (NaN)

Row 20575: Address is missing (NaN)

Row 20576: Address is missing (NaN)

Row 20577: Address is missing (NaN)

Row 20578: Address is missing (NaN)

Row 20579: Address is missing (NaN)

Row 20580: Address is missing (NaN)

Row 20581: Address is missing (NaN)

Row 20582: Address is missing (NaN)

Row 20583: Address is missing (NaN)

Row 20584: Address is missing (NaN)

Row 20585: Address is missing (NaN)

Row 20586: Address is missing (NaN)

Row 20587: Address is missing (NaN)

Row 20588: Address is missing (NaN)

Row 20589: Address is missing (NaN)

Row 20590: Address is missing (NaN)

Row 20591: Address is missing (NaN)

Row 20592: Address is missing (NaN)

Row 20593: Address is missing (NaN)

Row 20594: Address is missing (NaN)

Row 20595: Address is missing (NaN)

Row 20596: Address is missing (NaN)

Row 20597: Address is missing (NaN)

Row 20598: Address is missing (NaN)

Row 20599: Address is missing (NaN)

Row 20600: Address is missing (NaN)

Row 20601: Address is missing (NaN)

Row 20602: Address is missing (NaN)

Row 20603: Address is missing (NaN)

Row 20604: Address is missing (NaN)

Row 20605: Address is missing (NaN)

Row 20606: Address is missing (NaN)

Row 20607: Address is missing (NaN)

Row 20608: Address is missing (NaN)

Row 20609: Address is missing (NaN)

Row 20610: Address is missing (NaN)

Row 20611: Address is missing (NaN)

Row 20612: Address is missing (NaN)

Row 20613: Address is missing (NaN)

Row 20614: Address is missing (NaN)

Row 20615: Address is missing (NaN)

Row 20616: Address is missing (NaN)

Row 20617: Address is missing (NaN)

Row 20618: Address is missing (NaN)

Row 20619: Address is missing (NaN)

Row 20620: Address is missing (NaN)

Row 20621: Address is missing (NaN)

Row 20622: Address is missing (NaN)

Row 20623: Address is missing (NaN)

Row 20624: Address is missing (NaN)

Row 20625: Address is missing (NaN)

Row 20626: Address is missing (NaN)

Row 20627: Address is missing (NaN)

Row 20628: Address is missing (NaN)

Row 20629: Address is missing (NaN)

Row 20630: Address is missing (NaN)

Row 20631: Address is missing (NaN)

Row 20632: Address is missing (NaN)

Row 20633: Address is missing (NaN)

Row 20634: Address is missing (NaN)

Row 20635: Address is missing (NaN)

Row 20636: Address is missing (NaN)

Row 20637: Address is missing (NaN)

Row 20638: Address is missing (NaN)

Row 20639: Address is missing (NaN)

Row 20640: Address is missing (NaN)

Row 20641: Address is missing (NaN)

Row 20642: Address is missing (NaN)

Row 20643: Address is missing (NaN)

Row 20644: Address is missing (NaN)

Row 20645: Address is missing (NaN)

Row 20646: Address is missing (NaN)

Row 20647: Address is missing (NaN)

Row 20648: Address is missing (NaN)

Row 20649: Address is missing (NaN)

Row 20650: Address is missing (NaN)

Row 20651: Address is missing (NaN)

Row 20652: Address is missing (NaN)

Row 20653: Address is missing (NaN)

Row 20654: Address is missing (NaN)

Row 20655: Address is missing (NaN)

Row 20656: Address is missing (NaN)

Row 20657: Address is missing (NaN)

Row 20658: Address is missing (NaN)

Row 20659: Address is missing (NaN)

Row 20660: Address is missing (NaN)

Row 20661: Address is missing (NaN)

Row 20662: Address is missing (NaN)

Row 20663: Address is missing (NaN)

Row 20664: Address is missing (NaN)

Row 20665: Address is missing (NaN)

Row 20666: Address is missing (NaN)

Row 20667: Address is missing (NaN)

Row 20668: Address is missing (NaN)

Row 20669: Address is missing (NaN)

Row 20670: Address is missing (NaN)

Row 20671: Address is missing (NaN)

Row 20672: Address is missing (NaN)

Row 20673: Address is missing (NaN)

Row 20674: Address is missing (NaN)

Row 20675: Address is missing (NaN)

Row 20676: Address is missing (NaN)

Row 20677: Address is missing (NaN)

Row 20678: Address is missing (NaN)

Row 20679: Address is missing (NaN)

Row 20680: Address is missing (NaN)

Row 20681: Address is missing (NaN)

Row 20682: Address is missing (NaN)

Row 20683: Address is missing (NaN)

Row 20684: Address is missing (NaN)

Row 20685: Address is missing (NaN)

Row 20686: Address is missing (NaN)

Row 20687: Address is missing (NaN)

Row 20688: Address is missing (NaN)

Row 20689: Address is missing (NaN)

Row 20690: Address is missing (NaN)

Row 20691: Address is missing (NaN)

Row 20692: Address is missing (NaN)

Row 20693: Address is missing (NaN)

Row 20694: Address is missing (NaN)

Row 20695: Address is missing (NaN)

Row 20696: Address is missing (NaN)

Row 20697: Address is missing (NaN)

Row 20698: Address is missing (NaN)

Row 20699: Address is missing (NaN)

Row 20700: Address is missing (NaN)

Row 20701: Address is missing (NaN)

Row 20702: Address is missing (NaN)

Row 20703: Address is missing (NaN)

Row 20704: Address is missing (NaN)

Row 20705: Address is missing (NaN)

Row 20706: Address is missing (NaN)

Row 20707: Address is missing (NaN)

Row 20708: Address is missing (NaN)

Row 20709: Address is missing (NaN)

Row 20710: Address is missing (NaN)

Row 20711: Address is missing (NaN)

Row 20712: Address is missing (NaN)

Row 20713: Address is missing (NaN)

Row 20714: Address is missing (NaN)

Row 20715: Address is missing (NaN)

Row 20716: Address is missing (NaN)

Row 20717: Address is missing (NaN)

Row 20718: Address is missing (NaN)

Row 20719: Address is missing (NaN)

Row 20720: Address is missing (NaN)

Row 20721: Address is missing (NaN)

Row 20722: Address is missing (NaN)

Row 20723: Address is missing (NaN)

Row 20724: Address is missing (NaN)

Row 20725: Address is missing (NaN)

Row 20726: Address is missing (NaN)

Row 20727: Address is missing (NaN)

Row 20728: Address is missing (NaN)

Row 20729: Address is missing (NaN)

Row 20730: Address is missing (NaN)

Row 20731: Address is missing (NaN)

Row 20732: Address is missing (NaN)

Row 20733: Address is missing (NaN)

Row 20734: Address is missing (NaN)

Row 20735: Address is missing (NaN)

Row 20736: Address is missing (NaN)

Row 20737: Address is missing (NaN)

Row 20738: Address is missing (NaN)

Row 20739: Address is missing (NaN)

Row 20740: Address is missing (NaN)

Row 20741: Address is missing (NaN)

Row 20742: Address is missing (NaN)

Row 20743: Address is missing (NaN)

Row 20744: Address is missing (NaN)

Row 20745: Address is missing (NaN)

Row 20746: Address is missing (NaN)

Row 20747: Address is missing (NaN)

Row 20748: Address is missing (NaN)

Row 20749: Address is missing (NaN)

Row 20750: Address is missing (NaN)

Row 20751: Address is missing (NaN)

Row 20752: Address is missing (NaN)

Row 20753: Address is missing (NaN)

Row 20754: Address is missing (NaN)

Row 20755: Address is missing (NaN)

Row 20756: Address is missing (NaN)

Row 20757: Address is missing (NaN)

Row 20758: Address is missing (NaN)

Row 20759: Address is missing (NaN)

Row 20760: Address is missing (NaN)

Row 20761: Address is missing (NaN)

Row 20762: Address is missing (NaN)

Row 20763: Address is missing (NaN)

Row 20764: Address is missing (NaN)

Row 20765: Address is missing (NaN)

Row 20766: Address is missing (NaN)

Row 20767: Address is missing (NaN)

Row 20768: Address is missing (NaN)

Row 20769: Address is missing (NaN)

Row 20770: Address is missing (NaN)

Row 20771: Address is missing (NaN)

Row 20772: Address is missing (NaN)

Row 20773: Address is missing (NaN)

Row 20774: Address is missing (NaN)

Row 20775: Address is missing (NaN)

Row 20776: Address is missing (NaN)

Row 20777: Address is missing (NaN)

Row 20778: Address is missing (NaN)

Row 20779: Address is missing (NaN)

Row 20780: Address is missing (NaN)

Row 20781: Address is missing (NaN)

Row 20782: Address is missing (NaN)

Row 20783: Address is missing (NaN)

Row 20784: Address is missing (NaN)

Row 20785: Address is missing (NaN)

Row 20786: Address is missing (NaN)

Row 20787: Address is missing (NaN)

Row 20788: Address is missing (NaN)

Row 20789: Address is missing (NaN)

Row 20790: Address is missing (NaN)

Row 20791: Address is missing (NaN)

Row 20792: Address is missing (NaN)

Row 20793: Address is missing (NaN)

Row 20794: Address is missing (NaN)

Row 20795: Address is missing (NaN)

Row 20796: Address is missing (NaN)

Row 20797: Address is missing (NaN)

Row 20798: Address is missing (NaN)

Row 20799: Address is missing (NaN)

Row 20800: Address is missing (NaN)

Row 20801: Address is missing (NaN)

Row 20802: Address is missing (NaN)

Row 20803: Address is missing (NaN)

Row 20804: Address is missing (NaN)

Row 20805: Address is missing (NaN)

Row 20806: Address is missing (NaN)

Row 20807: Address is missing (NaN)

Row 20808: Address is missing (NaN)

Row 20809: Address is missing (NaN)

Row 20810: Address is missing (NaN)

Row 20811: Address is missing (NaN)

Row 20812: Address is missing (NaN)

Row 20813: Address is missing (NaN)

Row 20814: Address is missing (NaN)

Row 20815: Address is missing (NaN)

Row 20816: Address is missing (NaN)

Row 20817: Address is missing (NaN)

Row 20818: Address is missing (NaN)

Row 20819: Address is missing (NaN)

Row 20820: Address is missing (NaN)

Row 20821: Address is missing (NaN)

Row 20822: Address is missing (NaN)

Row 20823: Address is missing (NaN)

Row 20824: Address is missing (NaN)

Row 20825: Address is missing (NaN)

Row 20826: Address is missing (NaN)

Row 20827: Address is missing (NaN)

Row 20828: Address is missing (NaN)

Row 20829: Address is missing (NaN)

Row 20830: Address is missing (NaN)

Row 20831: Address is missing (NaN)

Row 20832: Address is missing (NaN)

Row 20833: Address is missing (NaN)

Row 20834: Address is missing (NaN)

Row 20835: Address is missing (NaN)

Row 20836: Address is missing (NaN)

Row 20837: Address is missing (NaN)

Row 20838: Address is missing (NaN)

Row 20839: Address is missing (NaN)

Row 20840: Address is missing (NaN)

Row 20841: Address is missing (NaN)

Row 20842: Address is missing (NaN)

Row 20843: Address is missing (NaN)

Row 20844: Address is missing (NaN)

Row 20845: Address is missing (NaN)

Row 20846: Address is missing (NaN)

Row 20847: Address is missing (NaN)

Row 20848: Address is missing (NaN)

Row 20849: Address is missing (NaN)

Row 20850: Address is missing (NaN)

Row 20851: Address is missing (NaN)

Row 20852: Address is missing (NaN)

Row 20853: Address is missing (NaN)

Row 20854: Address is missing (NaN)

Row 20855: Address is missing (NaN)

Row 20856: Address is missing (NaN)

Row 20857: Address is missing (NaN)

Row 20858: Address is missing (NaN)

Row 20859: Address is missing (NaN)

Row 20860: Address is missing (NaN)

Row 20861: Address is missing (NaN)

Row 20862: Address is missing (NaN)

Row 20863: Address is missing (NaN)

Row 20864: Address is missing (NaN)

Row 20865: Address is missing (NaN)

Row 20866: Address is missing (NaN)

Row 20867: Address is missing (NaN)

Row 20868: Address is missing (NaN)

Row 20869: Address is missing (NaN)

Row 20870: Address is missing (NaN)

Row 20871: Address is missing (NaN)

Row 20872: Address is missing (NaN)

Row 20873: Address is missing (NaN)

Row 20874: Address is missing (NaN)

Row 20875: Address is missing (NaN)

Row 20876: Address is missing (NaN)

Row 20877: Address is missing (NaN)

Row 20878: Address is missing (NaN)

Row 20879: Address is missing (NaN)

Row 20880: Address is missing (NaN)

Row 20881: Address is missing (NaN)

Row 20882: Address is missing (NaN)

Row 20883: Address is missing (NaN)

Row 20884: Address is missing (NaN)

Row 20885: Address is missing (NaN)

Row 20886: Address is missing (NaN)

Row 20887: Address is missing (NaN)

Row 20888: Address is missing (NaN)

Row 20889: Address is missing (NaN)

Row 20890: Address is missing (NaN)

Row 20891: Address is missing (NaN)

Row 20892: Address is missing (NaN)

Row 20893: Address is missing (NaN)

Row 20894: Address is missing (NaN)

Row 20895: Address is missing (NaN)

Row 20896: Address is missing (NaN)

Row 20897: Address is missing (NaN)

Row 20898: Address is missing (NaN)

Row 20899: Address is missing (NaN)

Row 20900: Address is missing (NaN)

Row 20901: Address is missing (NaN)

Row 20902: Address is missing (NaN)

Row 20903: Address is missing (NaN)

Row 20904: Address is missing (NaN)

Row 20905: Address is missing (NaN)

Row 20906: Address is missing (NaN)

Row 20907: Address is missing (NaN)

Row 20908: Address is missing (NaN)

Row 20909: Address is missing (NaN)

Row 20910: Address is missing (NaN)

Row 20911: Address is missing (NaN)

Row 20912: Address is missing (NaN)

Row 20913: Address is missing (NaN)

Row 20914: Address is missing (NaN)

Row 20915: Address is missing (NaN)

Row 20916: Address is missing (NaN)

Row 20917: Address is missing (NaN)

Row 20918: Address is missing (NaN)

Row 20919: Address is missing (NaN)

Row 20920: Address is missing (NaN)

Row 20921: Address is missing (NaN)

Row 20922: Address is missing (NaN)

Row 20923: Address is missing (NaN)

Row 20924: Address is missing (NaN)

Row 20925: Address is missing (NaN)

Row 20926: Address is missing (NaN)

Row 20927: Address is missing (NaN)

Row 20928: Address is missing (NaN)

Row 20929: Address is missing (NaN)

Row 20930: Address is missing (NaN)

Row 20931: Address is missing (NaN)

Row 20932: Address is missing (NaN)

Row 20933: Address is missing (NaN)

Row 20934: Address is missing (NaN)

Row 20935: Address is missing (NaN)

Row 20936: Address is missing (NaN)

Row 20937: Address is missing (NaN)

Row 20938: Address is missing (NaN)

Row 20939: Address is missing (NaN)

Row 20940: Address is missing (NaN)

Row 20941: Address is missing (NaN)

Row 20942: Address is missing (NaN)

Row 20943: Address is missing (NaN)

Row 20944: Address is missing (NaN)

Row 20945: Address is missing (NaN)

Row 20946: Address is missing (NaN)

Row 20947: Address is missing (NaN)

Row 20948: Address is missing (NaN)

Row 20949: Address is missing (NaN)

Row 20950: Address is missing (NaN)

Row 20951: Address is missing (NaN)

Row 20952: Address is missing (NaN)

Row 20953: Address is missing (NaN)

Row 20954: Address is missing (NaN)

Row 20955: Address is missing (NaN)

Row 20956: Address is missing (NaN)

Row 20957: Address is missing (NaN)

Row 20958: Address is missing (NaN)

Row 20959: Address is missing (NaN)

Row 20960: Address is missing (NaN)

Row 20961: Address is missing (NaN)

Row 20962: Address is missing (NaN)

Row 20963: Address is missing (NaN)

Row 20964: Address is missing (NaN)

Row 20965: Address is missing (NaN)

Row 20966: Address is missing (NaN)

Row 20967: Address is missing (NaN)

Row 20968: Address is missing (NaN)

Row 20969: Address is missing (NaN)

Row 20970: Address is missing (NaN)

Row 20971: Address is missing (NaN)

Row 20972: Address is missing (NaN)

Row 20973: Address is missing (NaN)

Row 20974: Address is missing (NaN)

Row 20975: Address is missing (NaN)

Row 20976: Address is missing (NaN)

Row 20977: Address is missing (NaN)

Row 20978: Address is missing (NaN)

Row 20979: Address is missing (NaN)

Row 20980: Address is missing (NaN)

Row 20981: Address is missing (NaN)

Row 20982: Address is missing (NaN)

Row 20983: Address is missing (NaN)

Row 20984: Address is missing (NaN)

Row 20985: Address is missing (NaN)

Row 20986: Address is missing (NaN)

Row 20987: Address is missing (NaN)

Row 20988: Address is missing (NaN)

Row 20989: Address is missing (NaN)

Row 20990: Address is missing (NaN)

Row 20991: Address is missing (NaN)

Row 20992: Address is missing (NaN)

Row 20993: Address is missing (NaN)

Row 20994: Address is missing (NaN)

Row 20995: Address is missing (NaN)

Row 20996: Address is missing (NaN)

Row 20997: Address is missing (NaN)

Row 20998: Address is missing (NaN)

Row 20999: Address is missing (NaN)

Row 21000: Address is missing (NaN)

Row 21001: Address is missing (NaN)

Row 21002: Address is missing (NaN)

Row 21003: Address is missing (NaN)

Row 21004: Address is missing (NaN)

Row 21005: Address is missing (NaN)

Row 21006: Address is missing (NaN)

Row 21007: Address is missing (NaN)

Row 21008: Address is missing (NaN)

Row 21009: Address is missing (NaN)

Row 21010: Address is missing (NaN)

Row 21011: Address is missing (NaN)

Row 21012: Address is missing (NaN)

Row 21013: Address is missing (NaN)

Row 21014: Address is missing (NaN)

Row 21015: Address is missing (NaN)

Row 21016: Address is missing (NaN)

Row 21017: Address is missing (NaN)

Row 21018: Address is missing (NaN)

Row 21019: Address is missing (NaN)

Row 21020: Address is missing (NaN)

Row 21021: Address is missing (NaN)

Row 21022: Address is missing (NaN)

Row 21023: Address is missing (NaN)

Row 21024: Address is missing (NaN)

Row 21025: Address is missing (NaN)

Row 21026: Address is missing (NaN)

Row 21027: Address is missing (NaN)

Row 21028: Address is missing (NaN)

Row 21029: Address is missing (NaN)

Row 21030: Address is missing (NaN)

Row 21031: Address is missing (NaN)

Row 21032: Address is missing (NaN)

Row 21033: Address is missing (NaN)

Row 21034: Address is missing (NaN)

Row 21035: Address is missing (NaN)

Row 21036: Address is missing (NaN)

Row 21037: Address is missing (NaN)

Row 21038: Address is missing (NaN)

Row 21039: Address is missing (NaN)

Row 21040: Address is missing (NaN)

Row 21041: Address is missing (NaN)

Row 21042: Address is missing (NaN)

Row 21043: Address is missing (NaN)

Row 21044: Address is missing (NaN)

Row 21045: Address is missing (NaN)

Row 21046: Address is missing (NaN)

Row 21047: Address is missing (NaN)

Row 21048: Address is missing (NaN)

Row 21049: Address is missing (NaN)

Row 21050: Address is missing (NaN)

Row 21051: Address is missing (NaN)

Row 21052: Address is missing (NaN)

Row 21053: Address is missing (NaN)

Row 21054: Address is missing (NaN)

Row 21055: Address is missing (NaN)

Row 21056: Address is missing (NaN)

Row 21057: Address is missing (NaN)

Row 21058: Address is missing (NaN)

Row 21059: Address is missing (NaN)

Row 21060: Address is missing (NaN)

Row 21061: Address is missing (NaN)

Row 21062: Address is missing (NaN)

Row 21063: Address is missing (NaN)

Row 21064: Address is missing (NaN)

Row 21065: Address is missing (NaN)

Row 21066: Address is missing (NaN)

Row 21067: Address is missing (NaN)

Row 21068: Address is missing (NaN)

Row 21069: Address is missing (NaN)

Row 21070: Address is missing (NaN)

Row 21071: Address is missing (NaN)

Row 21072: Address is missing (NaN)

Row 21073: Address is missing (NaN)

Row 21074: Address is missing (NaN)

Row 21075: Address is missing (NaN)

Row 21076: Address is missing (NaN)

Row 21077: Address is missing (NaN)

Row 21078: Address is missing (NaN)

Row 21079: Address is missing (NaN)

Row 21080: Address is missing (NaN)

Row 21081: Address is missing (NaN)

Row 21082: Address is missing (NaN)

Row 21083: Address is missing (NaN)

Row 21084: Address is missing (NaN)

Row 21085: Address is missing (NaN)

Row 21086: Address is missing (NaN)

Row 21087: Address is missing (NaN)

Row 21088: Address is missing (NaN)

Row 21089: Address is missing (NaN)

Row 21090: Address is missing (NaN)

Row 21091: Address is missing (NaN)

Row 21092: Address is missing (NaN)

Row 21093: Address is missing (NaN)

Row 21094: Address is missing (NaN)

Row 21095: Address is missing (NaN)

Row 21096: Address is missing (NaN)

Row 21097: Address is missing (NaN)

Row 21098: Address is missing (NaN)

Row 21099: Address is missing (NaN)

Row 21100: Address is missing (NaN)

Row 21101: Address is missing (NaN)

Row 21102: Address is missing (NaN)

Row 21103: Address is missing (NaN)

Row 21104: Address is missing (NaN)

Row 21105: Address is missing (NaN)

Row 21106: Address is missing (NaN)

Row 21107: Address is missing (NaN)

Row 21108: Address is missing (NaN)

Row 21109: Address is missing (NaN)

Row 21110: Address is missing (NaN)

Row 21111: Address is missing (NaN)

Row 21112: Address is missing (NaN)

Row 21113: Address is missing (NaN)

Row 21114: Address is missing (NaN)

Row 21115: Address is missing (NaN)

Row 21116: Address is missing (NaN)

Row 21117: Address is missing (NaN)

Row 21118: Address is missing (NaN)

Row 21119: Address is missing (NaN)

Row 21120: Address is missing (NaN)

Row 21121: Address is missing (NaN)

Row 21122: Address is missing (NaN)

Row 21123: Address is missing (NaN)

Row 21124: Address is missing (NaN)

Row 21125: Address is missing (NaN)

Row 21126: Address is missing (NaN)

Row 21127: Address is missing (NaN)

Row 21128: Address is missing (NaN)

Row 21129: Address is missing (NaN)

Row 21130: Address is missing (NaN)

Row 21131: Address is missing (NaN)

Row 21132: Address is missing (NaN)

Row 21133: Address is missing (NaN)

Row 21134: Address is missing (NaN)

Row 21135: Address is missing (NaN)

Row 21136: Address is missing (NaN)

Row 21137: Address is missing (NaN)

Row 21138: Address is missing (NaN)

Row 21139: Address is missing (NaN)

Row 21140: Address is missing (NaN)

Row 21141: Address is missing (NaN)

Row 21142: Address is missing (NaN)

Row 21143: Address is missing (NaN)

Row 21144: Address is missing (NaN)

Row 21145: Address is missing (NaN)

Row 21146: Address is missing (NaN)

Row 21147: Address is missing (NaN)

Row 21148: Address is missing (NaN)

Row 21149: Address is missing (NaN)

Row 21150: Address is missing (NaN)

Row 21151: Address is missing (NaN)

Row 21152: Address is missing (NaN)

Row 21153: Address is missing (NaN)

Row 21154: Address is missing (NaN)

Row 21155: Address is missing (NaN)

Row 21156: Address is missing (NaN)

Row 21157: Address is missing (NaN)

Row 21158: Address is missing (NaN)

Row 21159: Address is missing (NaN)

Row 21160: Address is missing (NaN)

Row 21161: Address is missing (NaN)

Row 21162: Address is missing (NaN)

Row 21163: Address is missing (NaN)

Row 21164: Address is missing (NaN)

Row 21165: Address is missing (NaN)

Row 21166: Address is missing (NaN)

Row 21167: Address is missing (NaN)

Row 21168: Address is missing (NaN)

Row 21169: Address is missing (NaN)

Row 21170: Address is missing (NaN)

Row 21171: Address is missing (NaN)

Row 21172: Address is missing (NaN)

Row 21173: Address is missing (NaN)

Row 21174: Address is missing (NaN)

Row 21175: Address is missing (NaN)

Row 21176: Address is missing (NaN)

Row 21177: Address is missing (NaN)

Row 21178: Address is missing (NaN)

Row 21179: Address is missing (NaN)

Row 21180: Address is missing (NaN)

Row 21181: Address is missing (NaN)

Row 21182: Address is missing (NaN)

Row 21183: Address is missing (NaN)

Row 21184: Address is missing (NaN)

Row 21185: Address is missing (NaN)

Row 21186: Address is missing (NaN)

Row 21187: Address is missing (NaN)

Row 21188: Address is missing (NaN)

Row 21189: Address is missing (NaN)

Row 21190: Address is missing (NaN)

Row 21191: Address is missing (NaN)

Row 21192: Address is missing (NaN)

Row 21193: Address is missing (NaN)

Row 21194: Address is missing (NaN)

Row 21195: Address is missing (NaN)

Row 21196: Address is missing (NaN)

Row 21197: Address is missing (NaN)

Row 21198: Address is missing (NaN)

Row 21199: Address is missing (NaN)

Row 21200: Address is missing (NaN)

Row 21201: Address is missing (NaN)

Row 21202: Address is missing (NaN)

Row 21203: Address is missing (NaN)

Row 21204: Address is missing (NaN)

Row 21205: Address is missing (NaN)

Row 21206: Address is missing (NaN)

Row 21207: Address is missing (NaN)

Row 21208: Address is missing (NaN)

Row 21209: Address is missing (NaN)

Row 21210: Address is missing (NaN)

Row 21211: Address is missing (NaN)

Row 21212: Address is missing (NaN)

Row 21213: Address is missing (NaN)

Row 21214: Address is missing (NaN)

Row 21215: Address is missing (NaN)

Row 21216: Address is missing (NaN)

Row 21217: Address is missing (NaN)

Row 21218: Address is missing (NaN)

Row 21219: Address is missing (NaN)

Row 21220: Address is missing (NaN)

Row 21221: Address is missing (NaN)

Row 21222: Address is missing (NaN)

Row 21223: Address is missing (NaN)

Row 21224: Address is missing (NaN)

Row 21225: Address is missing (NaN)

Row 21226: Address is missing (NaN)

Row 21227: Address is missing (NaN)

Row 21228: Address is missing (NaN)

Row 21229: Address is missing (NaN)

Row 21230: Address is missing (NaN)

Row 21231: Address is missing (NaN)

Row 21232: Address is missing (NaN)

Row 21233: Address is missing (NaN)

Row 21234: Address is missing (NaN)

Row 21235: Address is missing (NaN)

Row 21236: Address is missing (NaN)

Row 21237: Address is missing (NaN)

Row 21238: Address is missing (NaN)

Row 21239: Address is missing (NaN)

Row 21240: Address is missing (NaN)

Row 21241: Address is missing (NaN)

Row 21242: Address is missing (NaN)

Row 21243: Address is missing (NaN)

Row 21244: Address is missing (NaN)

Row 21245: Address is missing (NaN)

Row 21246: Address is missing (NaN)

Row 21247: Address is missing (NaN)

Row 21248: Address is missing (NaN)

Row 21249: Address is missing (NaN)

Row 21250: Address is missing (NaN)

Row 21251: Address is missing (NaN)

Row 21252: Address is missing (NaN)

Row 21253: Address is missing (NaN)

Row 21254: Address is missing (NaN)

Row 21255: Address is missing (NaN)

Row 21256: Address is missing (NaN)

Row 21257: Address is missing (NaN)

Row 21258: Address is missing (NaN)

Row 21259: Address is missing (NaN)

Row 21260: Address is missing (NaN)

Row 21261: Address is missing (NaN)

Row 21262: Address is missing (NaN)

Row 21263: Address is missing (NaN)

Row 21264: Address is missing (NaN)

Row 21265: Address is missing (NaN)

Row 21266: Address is missing (NaN)

Row 21267: Address is missing (NaN)

Row 21268: Address is missing (NaN)

Row 21269: Address is missing (NaN)

Row 21270: Address is missing (NaN)

Row 21271: Address is missing (NaN)

Row 21272: Address is missing (NaN)

Row 21273: Address is missing (NaN)

Row 21274: Address is missing (NaN)

Row 21275: Address is missing (NaN)

Row 21276: Address is missing (NaN)

Row 21277: Address is missing (NaN)

Row 21278: Address is missing (NaN)

Row 21279: Address is missing (NaN)

Row 21280: Address is missing (NaN)

Row 21281: Address is missing (NaN)

Row 21282: Address is missing (NaN)

Row 21283: Address is missing (NaN)

Row 21284: Address is missing (NaN)

Row 21285: Address is missing (NaN)

Row 21286: Address is missing (NaN)

Row 21287: Address is missing (NaN)

Row 21288: Address is missing (NaN)

Row 21289: Address is missing (NaN)

Row 21290: Address is missing (NaN)

Row 21291: Address is missing (NaN)

Row 21292: Address is missing (NaN)

Row 21293: Address is missing (NaN)

Row 21294: Address is missing (NaN)

Row 21295: Address is missing (NaN)

Row 21296: Address is missing (NaN)

Row 21297: Address is missing (NaN)

Row 21298: Address is missing (NaN)

Row 21299: Address is missing (NaN)

Row 21300: Address is missing (NaN)

Row 21301: Address is missing (NaN)

Row 21302: Address is missing (NaN)

Row 21303: Address is missing (NaN)

Row 21304: Address is missing (NaN)

Row 21305: Address is missing (NaN)

Row 21306: Address is missing (NaN)

Row 21307: Address is missing (NaN)

Row 21308: Address is missing (NaN)

Row 21309: Address is missing (NaN)

Row 21310: Address is missing (NaN)

Row 21311: Address is missing (NaN)

Row 21312: Address is missing (NaN)

Row 21313: Address is missing (NaN)

Row 21314: Address is missing (NaN)

Row 21315: Address is missing (NaN)

Row 21316: Address is missing (NaN)

Row 21317: Address is missing (NaN)

Row 21318: Address is missing (NaN)

Row 21319: Address is missing (NaN)

Row 21320: Address is missing (NaN)

Row 21321: Address is missing (NaN)

Row 21322: Address is missing (NaN)

Row 21323: Address is missing (NaN)

Row 21324: Address is missing (NaN)

Row 21325: Address is missing (NaN)

Row 21326: Address is missing (NaN)

Row 21327: Address is missing (NaN)

Row 21328: Address is missing (NaN)

Row 21329: Address is missing (NaN)

Row 21330: Address is missing (NaN)

Row 21331: Address is missing (NaN)

Row 21332: Address is missing (NaN)

Row 21333: Address is missing (NaN)

Row 21334: Address is missing (NaN)

Row 21335: Address is missing (NaN)

Row 21336: Address is missing (NaN)

Row 21337: Address is missing (NaN)

Row 21338: Address is missing (NaN)

Row 21339: Address is missing (NaN)

Row 21340: Address is missing (NaN)

Row 21341: Address is missing (NaN)

Row 21342: Address is missing (NaN)

Row 21343: Address is missing (NaN)

Row 21344: Address is missing (NaN)

Row 21345: Address is missing (NaN)

Row 21346: Address is missing (NaN)

Row 21347: Address is missing (NaN)

Row 21348: Address is missing (NaN)

Row 21349: Address is missing (NaN)

Row 21350: Address is missing (NaN)

Row 21351: Address is missing (NaN)

Row 21352: Address is missing (NaN)

Row 21353: Address is missing (NaN)

Row 21354: Address is missing (NaN)

Row 21355: Address is missing (NaN)

Row 21356: Address is missing (NaN)

Row 21357: Address is missing (NaN)

Row 21358: Address is missing (NaN)

Row 21359: Address is missing (NaN)

Row 21360: Address is missing (NaN)

Row 21361: Address is missing (NaN)

Row 21362: Address is missing (NaN)

Row 21363: Address is missing (NaN)

Row 21364: Address is missing (NaN)

Row 21365: Address is missing (NaN)

Row 21366: Address is missing (NaN)

Row 21367: Address is missing (NaN)

Row 21368: Address is missing (NaN)

Row 21369: Address is missing (NaN)

Row 21370: Address is missing (NaN)

Row 21371: Address is missing (NaN)

Row 21372: Address is missing (NaN)

Row 21373: Address is missing (NaN)

Row 21374: Address is missing (NaN)

Row 21375: Address is missing (NaN)

Row 21376: Address is missing (NaN)

Row 21377: Address is missing (NaN)

Row 21378: Address is missing (NaN)

Row 21379: Address is missing (NaN)

Row 21380: Address is missing (NaN)

Row 21381: Address is missing (NaN)

Row 21382: Address is missing (NaN)

Row 21383: Address is missing (NaN)

Row 21384: Address is missing (NaN)

Row 21385: Address is missing (NaN)

Row 21386: Address is missing (NaN)

Row 21387: Address is missing (NaN)

Row 21388: Address is missing (NaN)

Row 21389: Address is missing (NaN)

Row 21390: Address is missing (NaN)

Row 21391: Address is missing (NaN)

Row 21392: Address is missing (NaN)

Row 21393: Address is missing (NaN)

Row 21394: Address is missing (NaN)

Row 21395: Address is missing (NaN)

Row 21396: Address is missing (NaN)

Row 21397: Address is missing (NaN)

Row 21398: Address is missing (NaN)

Row 21399: Address is missing (NaN)

Row 21400: Address is missing (NaN)

Row 21401: Address is missing (NaN)

Row 21402: Address is missing (NaN)

Row 21403: Address is missing (NaN)

Row 21404: Address is missing (NaN)

Row 21405: Address is missing (NaN)

Row 21406: Address is missing (NaN)

Row 21407: Address is missing (NaN)

Row 21408: Address is missing (NaN)

Row 21409: Address is missing (NaN)

Row 21410: Address is missing (NaN)

Row 21411: Address is missing (NaN)

Row 21412: Address is missing (NaN)

Row 21413: Address is missing (NaN)

Row 21414: Address is missing (NaN)

Row 21415: Address is missing (NaN)

Row 21416: Address is missing (NaN)

Row 21417: Address is missing (NaN)

Row 21418: Address is missing (NaN)

Row 21419: Address is missing (NaN)

Row 21420: Address is missing (NaN)

Row 21421: Address is missing (NaN)

Row 21422: Address is missing (NaN)

Row 21423: Address is missing (NaN)

Row 21424: Address is missing (NaN)

Row 21425: Address is missing (NaN)

Row 21426: Address is missing (NaN)

Row 21427: Address is missing (NaN)

Row 21428: Address is missing (NaN)

Row 21429: Address is missing (NaN)

Row 21430: Address is missing (NaN)

Row 21431: Address is missing (NaN)

Row 21432: Address is missing (NaN)

Row 21433: Address is missing (NaN)

Row 21434: Address is missing (NaN)

Row 21435: Address is missing (NaN)

Row 21436: Address is missing (NaN)

Row 21437: Address is missing (NaN)

Row 21438: Address is missing (NaN)

Row 21439: Address is missing (NaN)

Row 21440: Address is missing (NaN)

Row 21441: Address is missing (NaN)

Row 21442: Address is missing (NaN)

Row 21443: Address is missing (NaN)

Row 21444: Address is missing (NaN)

Row 21445: Address is missing (NaN)

Row 21446: Address is missing (NaN)

Row 21447: Address is missing (NaN)

Row 21448: Address is missing (NaN)

Row 21449: Address is missing (NaN)

Row 21450: Address is missing (NaN)

Row 21451: Address is missing (NaN)

Row 21452: Address is missing (NaN)

Row 21453: Address is missing (NaN)

Row 21454: Address is missing (NaN)

Row 21455: Address is missing (NaN)

Row 21456: Address is missing (NaN)

Row 21457: Address is missing (NaN)

Row 21458: Address is missing (NaN)

Row 21459: Address is missing (NaN)

Row 21460: Address is missing (NaN)

Row 21461: Address is missing (NaN)

Row 21462: Address is missing (NaN)

Row 21463: Address is missing (NaN)

Row 21464: Address is missing (NaN)

Row 21465: Address is missing (NaN)

Row 21466: Address is missing (NaN)

Row 21467: Address is missing (NaN)

Row 21468: Address is missing (NaN)

Row 21469: Address is missing (NaN)

Row 21470: Address is missing (NaN)

Row 21471: Address is missing (NaN)

Row 21472: Address is missing (NaN)

Row 21473: Address is missing (NaN)

Row 21474: Address is missing (NaN)

Row 21475: Address is missing (NaN)

Row 21476: Address is missing (NaN)

Row 21477: Address is missing (NaN)

Row 21478: Address is missing (NaN)

Row 21479: Address is missing (NaN)

Row 21480: Address is missing (NaN)

Row 21481: Address is missing (NaN)

Row 21482: Address is missing (NaN)

Row 21483: Address is missing (NaN)

Row 21484: Address is missing (NaN)

Row 21485: Address is missing (NaN)

Row 21486: Address is missing (NaN)

Row 21487: Address is missing (NaN)

Row 21488: Address is missing (NaN)

Row 21489: Address is missing (NaN)

Row 21490: Address is missing (NaN)

Row 21491: Address is missing (NaN)

Row 21492: Address is missing (NaN)

Row 21493: Address is missing (NaN)

Row 21494: Address is missing (NaN)

Row 21495: Address is missing (NaN)

Row 21496: Address is missing (NaN)

Row 21497: Address is missing (NaN)

Row 21498: Address is missing (NaN)

Row 21499: Address is missing (NaN)

Row 21500: Address is missing (NaN)

Row 21501: Address is missing (NaN)

Row 21502: Address is missing (NaN)

Row 21503: Address is missing (NaN)

Row 21504: Address is missing (NaN)

Row 21505: Address is missing (NaN)

Row 21506: Address is missing (NaN)

Row 21507: Address is missing (NaN)

Row 21508: Address is missing (NaN)

Row 21509: Address is missing (NaN)

Row 21510: Address is missing (NaN)

Row 21511: Address is missing (NaN)

Row 21512: Address is missing (NaN)

Row 21513: Address is missing (NaN)

Row 21514: Address is missing (NaN)

Row 21515: Address is missing (NaN)

Row 21516: Address is missing (NaN)

Row 21517: Address is missing (NaN)

Row 21518: Address is missing (NaN)

Row 21519: Address is missing (NaN)

Row 21520: Address is missing (NaN)

Row 21521: Address is missing (NaN)

Row 21522: Address is missing (NaN)

Row 21523: Address is missing (NaN)

Row 21524: Address is missing (NaN)

Row 21525: Address is missing (NaN)

Row 21526: Address is missing (NaN)

Row 21527: Address is missing (NaN)

Row 21528: Address is missing (NaN)

Row 21529: Address is missing (NaN)

Row 21530: Address is missing (NaN)

Row 21531: Address is missing (NaN)

Row 21532: Address is missing (NaN)

Row 21533: Address is missing (NaN)

Row 21534: Address is missing (NaN)

Row 21535: Address is missing (NaN)

Row 21536: Address is missing (NaN)

Row 21537: Address is missing (NaN)

Row 21538: Address is missing (NaN)

Row 21539: Address is missing (NaN)

Row 21540: Address is missing (NaN)

Row 21541: Address is missing (NaN)

Row 21542: Address is missing (NaN)

Row 21543: Address is missing (NaN)

Row 21544: Address is missing (NaN)

Row 21545: Address is missing (NaN)

Row 21546: Address is missing (NaN)

Row 21547: Address is missing (NaN)

Row 21548: Address is missing (NaN)

Row 21549: Address is missing (NaN)

Row 21550: Address is missing (NaN)

Row 21551: Address is missing (NaN)

Row 21552: Address is missing (NaN)

Row 21553: Address is missing (NaN)

Row 21554: Address is missing (NaN)

Row 21555: Address is missing (NaN)

Row 21556: Address is missing (NaN)

Row 21557: Address is missing (NaN)

Row 21558: Address is missing (NaN)

Row 21559: Address is missing (NaN)

Row 21560: Address is missing (NaN)

Row 21561: Address is missing (NaN)

Row 21562: Address is missing (NaN)

Row 21563: Address is missing (NaN)

Row 21564: Address is missing (NaN)

Row 21565: Address is missing (NaN)

Row 21566: Address is missing (NaN)

Row 21567: Address is missing (NaN)

Row 21568: Address is missing (NaN)

Row 21569: Address is missing (NaN)

Row 21570: Address is missing (NaN)

Row 21571: Address is missing (NaN)

Row 21572: Address is missing (NaN)

Row 21573: Address is missing (NaN)

Row 21574: Address is missing (NaN)

Row 21575: Address is missing (NaN)

Row 21576: Address is missing (NaN)

Row 21577: Address is missing (NaN)

Row 21578: Address is missing (NaN)

Row 21579: Address is missing (NaN)

Row 21580: Address is missing (NaN)

Row 21581: Address is missing (NaN)

Row 21582: Address is missing (NaN)

Row 21583: Address is missing (NaN)

Row 21584: Address is missing (NaN)

Row 21585: Address is missing (NaN)

Row 21586: Address is missing (NaN)

Row 21587: Address is missing (NaN)

Row 21588: Address is missing (NaN)

Row 21589: Address is missing (NaN)

Row 21590: Address is missing (NaN)

Row 21591: Address is missing (NaN)

Row 21592: Address is missing (NaN)

Row 21593: Address is missing (NaN)

Row 21594: Address is missing (NaN)

Row 21595: Address is missing (NaN)

Row 21596: Address is missing (NaN)

Row 21597: Address is missing (NaN)

Row 21598: Address is missing (NaN)

Row 21599: Address is missing (NaN)

Row 21600: Address is missing (NaN)

Row 21601: Address is missing (NaN)

Row 21602: Address is missing (NaN)

Row 21603: Address is missing (NaN)

Row 21604: Address is missing (NaN)

Row 21605: Address is missing (NaN)

Row 21606: Address is missing (NaN)

Row 21607: Address is missing (NaN)

Row 21608: Address is missing (NaN)

Row 21609: Address is missing (NaN)

Row 21610: Address is missing (NaN)

Row 21611: Address is missing (NaN)

Row 21612: Address is missing (NaN)

Row 21613: Address is missing (NaN)

Row 21614: Address is missing (NaN)

Row 21615: Address is missing (NaN)

Row 21616: Address is missing (NaN)

Row 21617: Address is missing (NaN)

Row 21618: Address is missing (NaN)

Row 21619: Address is missing (NaN)

Row 21620: Address is missing (NaN)

Row 21621: Address is missing (NaN)

Row 21622: Address is missing (NaN)

Row 21623: Address is missing (NaN)

Row 21624: Address is missing (NaN)

Row 21625: Address is missing (NaN)

Row 21626: Address is missing (NaN)

Row 21627: Address is missing (NaN)

Row 21628: Address is missing (NaN)

Row 21629: Address is missing (NaN)

Row 21630: Address is missing (NaN)

Row 21631: Address is missing (NaN)

Row 21632: Address is missing (NaN)

Row 21633: Address is missing (NaN)

Row 21634: Address is missing (NaN)

Row 21635: Address is missing (NaN)

Row 21636: Address is missing (NaN)

Row 21637: Address is missing (NaN)

Row 21638: Address is missing (NaN)

Row 21639: Address is missing (NaN)

Row 21640: Address is missing (NaN)

Row 21641: Address is missing (NaN)

Row 21642: Address is missing (NaN)

Row 21643: Address is missing (NaN)

Row 21644: Address is missing (NaN)

Row 21645: Address is missing (NaN)

Row 21646: Address is missing (NaN)

Row 21647: Address is missing (NaN)

Row 21648: Address is missing (NaN)

Row 21649: Address is missing (NaN)

Row 21650: Address is missing (NaN)

Row 21651: Address is missing (NaN)

Row 21652: Address is missing (NaN)

Row 21653: Address is missing (NaN)

Row 21654: Address is missing (NaN)

Row 21655: Address is missing (NaN)

Row 21656: Address is missing (NaN)

Row 21657: Address is missing (NaN)

Row 21658: Address is missing (NaN)

Row 21659: Address is missing (NaN)

Row 21660: Address is missing (NaN)

Row 21661: Address is missing (NaN)

Row 21662: Address is missing (NaN)

Row 21663: Address is missing (NaN)

Row 21664: Address is missing (NaN)

Row 21665: Address is missing (NaN)

Row 21666: Address is missing (NaN)

Row 21667: Address is missing (NaN)

Row 21668: Address is missing (NaN)

Row 21669: Address is missing (NaN)

Row 21670: Address is missing (NaN)

Row 21671: Address is missing (NaN)

Row 21672: Address is missing (NaN)

Row 21673: Address is missing (NaN)

Row 21674: Address is missing (NaN)

Row 21675: Address is missing (NaN)

Row 21676: Address is missing (NaN)

Row 21677: Address is missing (NaN)

Row 21678: Address is missing (NaN)

Row 21679: Address is missing (NaN)

Row 21680: Address is missing (NaN)

Row 21681: Address is missing (NaN)

Row 21682: Address is missing (NaN)

Row 21683: Address is missing (NaN)

Row 21684: Address is missing (NaN)

Row 21685: Address is missing (NaN)

Row 21686: Address is missing (NaN)

Row 21687: Address is missing (NaN)

Row 21688: Address is missing (NaN)

Row 21689: Address is missing (NaN)

Row 21690: Address is missing (NaN)

Row 21691: Address is missing (NaN)

Row 21692: Address is missing (NaN)

Row 21693: Address is missing (NaN)

Row 21694: Address is missing (NaN)

Row 21695: Address is missing (NaN)

Row 21696: Address is missing (NaN)

Row 21697: Address is missing (NaN)

Row 21698: Address is missing (NaN)

Row 21699: Address is missing (NaN)

Row 21700: Address is missing (NaN)

Row 21701: Address is missing (NaN)

Row 21702: Address is missing (NaN)

Row 21703: Address is missing (NaN)

Row 21704: Address is missing (NaN)

Row 21705: Address is missing (NaN)

Row 21706: Address is missing (NaN)

Row 21707: Address is missing (NaN)

Row 21708: Address is missing (NaN)

Row 21709: Address is missing (NaN)

Row 21710: Address is missing (NaN)

Row 21711: Address is missing (NaN)

Row 21712: Address is missing (NaN)

Row 21713: Address is missing (NaN)

Row 21714: Address is missing (NaN)

Row 21715: Address is missing (NaN)

Row 21716: Address is missing (NaN)

Row 21717: Address is missing (NaN)

Row 21718: Address is missing (NaN)

Row 21719: Address is missing (NaN)

Row 21720: Address is missing (NaN)

Row 21721: Address is missing (NaN)

Row 21722: Address is missing (NaN)

Row 21723: Address is missing (NaN)

Row 21724: Address is missing (NaN)

Row 21725: Address is missing (NaN)

Row 21726: Address is missing (NaN)

Row 21727: Address is missing (NaN)

Row 21728: Address is missing (NaN)

Row 21729: Address is missing (NaN)

Row 21730: Address is missing (NaN)

Row 21731: Address is missing (NaN)

Row 21732: Address is missing (NaN)

Row 21733: Address is missing (NaN)

Row 21734: Address is missing (NaN)

Row 21735: Address is missing (NaN)

Row 21736: Address is missing (NaN)

Row 21737: Address is missing (NaN)

Row 21738: Address is missing (NaN)

Row 21739: Address is missing (NaN)

Row 21740: Address is missing (NaN)

Row 21741: Address is missing (NaN)

Row 21742: Address is missing (NaN)